backups/UNIFServiceEmissoresFGCNotifsCRON/UNIFServiceEmissoresFGCNotifsCRON_v20__GZ4BLu4xXo35r6cFUDO9k.json
{
  "updatedAt": "2026-03-09T18:16:55.969Z",
  "createdAt": "2026-03-06T21:32:36.637Z",
  "id": "GZ4BLu4xXo35r6cFUDO9k",
  "name": "[UNIF]Service.EmissoresFGCNotifs.CRON_v2.0",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xheMnVM_dYQ2wwSqwaD53",
          "mode": "list",
          "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
          "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.unifinance.com.br/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -48,
        -64
      ],
      "id": "b4800186-12f4-4df3-8477-128509d89116",
      "name": "get sess"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        -64
      ],
      "id": "02d70453-fd50-4e88-b100-94d5c21946a0",
      "name": "pf array"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=todos",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d157fc03-db4b-4d1c-80c4-b754a5d30e46",
              "leftValue": "={{ $json.emissores_fora_fgc_geral }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        624,
        -64
      ],
      "id": "f0f595c0-743e-4102-bf04-b40c9daef54d",
      "name": "status true/emissores not null"
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl }}api/clientepf/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response.body.next==null}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -64
      ],
      "id": "fb25c381-da20-4980-bca3-0349e57fb6cc",
      "name": "fetch clientes pf"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "emissores_fora_fgc_pf",
        "options": {
          "fileName": "emissores_fora_fgc_pf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        848,
        -64
      ],
      "id": "c0942fd4-bea3-4753-9f24-3c507cd6dd42",
      "name": "pf emissores binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('pf emissores binary').item.binary.emissores_fora_fgc_pf.fileName}}.{{$('pf emissores binary').item.binary.emissores_fora_fgc_pf.fileExtension}}",
        "dataPropertyName": "emissores_fora_fgc_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1072,
        -64
      ],
      "id": "93afae5a-ce9d-43cd-9b46-556fe9ecc4a4",
      "name": "save binary in notif/input"
    },
    {
      "parameters": {
        "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py emissores_fora_fgc_pf /data/repos/unifinance_notificacoes/files/input/emissores_fora_fgc_pf.json --saida /data/repos/unifinance_notificacoes/files/output/ -f json\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1296,
        -64
      ],
      "id": "b58c95e2-7208-442b-a771-e9d3a4530153",
      "name": "roda gatilho emissores_fora_fgc_pf"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HAOPDIhzGI4UGdqQJ7_2G",
          "mode": "list",
          "cachedResultUrl": "/workflow/HAOPDIhzGI4UGdqQJ7_2G",
          "cachedResultName": "[UNIF]Notif.EmissoresFgc.WF_v2.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "={{ $('get sess').item.json.baseUrl }}",
            "loginPath": "={{ $('get sess').item.json.loginPath }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1520,
        -64
      ],
      "id": "7d8aa635-209f-4100-b0a7-9441270acc0c",
      "name": "Call '[UNIF]Notif.EmissoresFgc.WF_v2.1'"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -64
      ],
      "id": "24e957f0-e840-4633-8faa-79c15da518cb",
      "name": "todaSegunda"
    }
  ],
  "connections": {
    "get sess": {
      "main": [
        [
          {
            "node": "fetch clientes pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf array": {
      "main": [
        [
          {
            "node": "status true/emissores not null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status true/emissores not null": {
      "main": [
        [
          {
            "node": "pf emissores binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch clientes pf": {
      "main": [
        [
          {
            "node": "pf array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf emissores binary": {
      "main": [
        [
          {
            "node": "save binary in notif/input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save binary in notif/input": {
      "main": [
        [
          {
            "node": "roda gatilho emissores_fora_fgc_pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "roda gatilho emissores_fora_fgc_pf": {
      "main": [
        [
          {
            "node": "Call '[UNIF]Notif.EmissoresFgc.WF_v2.1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "todaSegunda": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a4139009-91e3-48b7-a2cb-5e65673b40ff",
  "activeVersionId": "a4139009-91e3-48b7-a2cb-5e65673b40ff",
  "versionCounter": 57,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T21:32:36.637Z",
      "createdAt": "2026-03-06T21:32:36.637Z",
      "role": "workflow:owner",
      "workflowId": "GZ4BLu4xXo35r6cFUDO9k",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T21:08:59.858Z",
      "createdAt": "2026-03-06T19:21:19.987Z",
      "id": "LUuzlmYMIPHf7yaf",
      "name": ">semanal"
    },
    {
      "updatedAt": "2026-03-06T21:09:38.422Z",
      "createdAt": "2026-03-06T21:09:38.422Z",
      "id": "qXDhmpi09wHo88pH",
      "name": "!fix-case"
    },
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-09T18:16:57.922Z",
    "createdAt": "2026-03-09T18:16:52.817Z",
    "versionId": "a4139009-91e3-48b7-a2cb-5e65673b40ff",
    "workflowId": "GZ4BLu4xXo35r6cFUDO9k",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xheMnVM_dYQ2wwSqwaD53",
            "mode": "list",
            "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
            "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "https://hub.unifinance.com.br/",
              "loginPath": "login/",
              "csrfFieldName": "csrftoken"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "csrfFieldName",
                "displayName": "csrfFieldName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -48,
          -64
        ],
        "id": "b4800186-12f4-4df3-8477-128509d89116",
        "name": "get sess"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          400,
          -64
        ],
        "id": "02d70453-fd50-4e88-b100-94d5c21946a0",
        "name": "pf array"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
                "leftValue": "={{ $json.status }}",
                "rightValue": "=todos",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              },
              {
                "id": "d157fc03-db4b-4d1c-80c4-b754a5d30e46",
                "leftValue": "={{ $json.emissores_fora_fgc_geral }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          624,
          -64
        ],
        "id": "f0f595c0-743e-4102-bf04-b40c9daef54d",
        "name": "status true/emissores not null"
      },
      {
        "parameters": {
          "url": "={{ $json.baseUrl }}api/clientepf/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "responseContainsNextURL",
                "nextURL": "={{ $response.body.next }}",
                "paginationCompleteWhen": "other",
                "completeExpression": "={{$response.body.next==null}}"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          176,
          -64
        ],
        "id": "fb25c381-da20-4980-bca3-0349e57fb6cc",
        "name": "fetch clientes pf"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "emissores_fora_fgc_pf",
          "options": {
            "fileName": "emissores_fora_fgc_pf"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          848,
          -64
        ],
        "id": "c0942fd4-bea3-4753-9f24-3c507cd6dd42",
        "name": "pf emissores binary"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('pf emissores binary').item.binary.emissores_fora_fgc_pf.fileName}}.{{$('pf emissores binary').item.binary.emissores_fora_fgc_pf.fileExtension}}",
          "dataPropertyName": "emissores_fora_fgc_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1072,
          -64
        ],
        "id": "93afae5a-ce9d-43cd-9b46-556fe9ecc4a4",
        "name": "save binary in notif/input"
      },
      {
        "parameters": {
          "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py emissores_fora_fgc_pf /data/repos/unifinance_notificacoes/files/input/emissores_fora_fgc_pf.json --saida /data/repos/unifinance_notificacoes/files/output/ -f json\n"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1296,
          -64
        ],
        "id": "b58c95e2-7208-442b-a771-e9d3a4530153",
        "name": "roda gatilho emissores_fora_fgc_pf"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "HAOPDIhzGI4UGdqQJ7_2G",
            "mode": "list",
            "cachedResultUrl": "/workflow/HAOPDIhzGI4UGdqQJ7_2G",
            "cachedResultName": "[UNIF]Notif.EmissoresFgc.WF_v2.1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "={{ $('get sess').item.json.baseUrl }}",
              "loginPath": "={{ $('get sess').item.json.loginPath }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1520,
          -64
        ],
        "id": "7d8aa635-209f-4100-b0a7-9441270acc0c",
        "name": "Call '[UNIF]Notif.EmissoresFgc.WF_v2.1'"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ]
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -272,
          -64
        ],
        "id": "24e957f0-e840-4633-8faa-79c15da518cb",
        "name": "todaSegunda"
      }
    ],
    "connections": {
      "get sess": {
        "main": [
          [
            {
              "node": "fetch clientes pf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pf array": {
        "main": [
          [
            {
              "node": "status true/emissores not null",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "status true/emissores not null": {
        "main": [
          [
            {
              "node": "pf emissores binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetch clientes pf": {
        "main": [
          [
            {
              "node": "pf array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pf emissores binary": {
        "main": [
          [
            {
              "node": "save binary in notif/input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "save binary in notif/input": {
        "main": [
          [
            {
              "node": "roda gatilho emissores_fora_fgc_pf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "roda gatilho emissores_fora_fgc_pf": {
        "main": [
          [
            {
              "node": "Call '[UNIF]Notif.EmissoresFgc.WF_v2.1'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "todaSegunda": {
        "main": [
          [
            {
              "node": "get sess",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version a4139009",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T18:16:57.918Z",
        "id": 87,
        "workflowId": "GZ4BLu4xXo35r6cFUDO9k",
        "versionId": "a4139009-91e3-48b7-a2cb-5e65673b40ff",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}