backups/prod/UNIFServiceSemAtendimentoNotifsCRON/UNIFServiceSemAtendimentoNotifsCRON_v22__WQfcZ89cVFRHfNestNiCm.json
{
  "updatedAt": "2026-03-09T18:42:24.374Z",
  "createdAt": "2026-03-06T21:33:55.166Z",
  "id": "WQfcZ89cVFRHfNestNiCm",
  "name": "[UNIF]Service.SemAtendimentoNotifs.CRON_v2.2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        768
      ],
      "id": "0c90c51b-a1e5-4d99-b0f4-7383db711727",
      "name": "each hour"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas/?&user={{ $json.id }}&tem_atendimento=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfFieldName }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        256
      ],
      "id": "7f1d1104-78e8-4a9b-a7ed-459279563f29",
      "name": "60 Fetch User Reunioes (Pf)1",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edcb3f17-564d-4ce9-a7ce-f385a2f18347",
              "name": "officer_id",
              "value": "={{ $(' loop officers pf1').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "1cbbc4eb-9581-48c8-a05c-4344c216f9bc",
              "name": "officer_name",
              "value": "={{ $(' loop officers pf1').item.json.username }}",
              "type": "string"
            },
            {
              "id": "e9650b0c-5c6f-4950-9214-f4a58f56f17b",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $(' loop officers pf1').item.json.meses_clientes_sem_reuniao }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        64
      ],
      "id": "387df90b-2638-4008-9519-3487e989a55b",
      "name": "80 Build Notification Seed (Pf)1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b00aef4-e19e-4914-ba13-604de94cecc1",
              "name": "count_clientes_sem_reuniao",
              "value": "={{ $json.count_clientes_sem_reuniao }}",
              "type": "number"
            },
            {
              "id": "84435b5d-1fe6-4cda-840e-de2386e57983",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $json.meses_clientes_sem_reuniao }}",
              "type": "array"
            },
            {
              "id": "eebc4f29-aa43-4e3e-83c9-ab8161fe4b4b",
              "name": "user_id",
              "value": "={{ $(' loop officers pf1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "49646e48-77e2-489e-bd1f-72cdff780a1c",
              "name": "username",
              "value": "={{ $(' loop officers pf1').item.json.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        304
      ],
      "id": "2b9d339b-510f-4e99-ba8d-61314eb601a2",
      "name": "70 Format Loop Output (Pf)1"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas_sai/?&user={{$json.id}}&tem_atendimento=true&ano_inicio=2014&ano_fim=2026&mes_inicio_ano_inicial=1&mes_fim_ano_inicial=12&mes_inicio_ano_final=1&mes_fim_ano_final=12",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfFieldName }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        768
      ],
      "id": "7bbe0009-a664-47d6-bc60-3ca6c2abcc21",
      "name": "260 Fetch User Reunioes (Fund)1",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edcb3f17-564d-4ce9-a7ce-f385a2f18347",
              "name": "officer_id",
              "value": "={{ $('loop officers fund1').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "1cbbc4eb-9581-48c8-a05c-4344c216f9bc",
              "name": "officer_name",
              "value": "={{ $('loop officers fund1').item.json.username }}",
              "type": "string"
            },
            {
              "id": "e9650b0c-5c6f-4950-9214-f4a58f56f17b",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $('loop officers fund1').item.json.meses_clientes_sem_reuniao }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        576
      ],
      "id": "359ba8f3-1639-412c-a5af-b91ea2dab170",
      "name": "280 Build Notification Seed (Fund)1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b00aef4-e19e-4914-ba13-604de94cecc1",
              "name": "count_clientes_sem_reuniao",
              "value": "={{ $json.count_clientes_sem_reuniao }}",
              "type": "number"
            },
            {
              "id": "84435b5d-1fe6-4cda-840e-de2386e57983",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $json.meses_clientes_sem_reuniao }}",
              "type": "array"
            },
            {
              "id": "eebc4f29-aa43-4e3e-83c9-ab8161fe4b4b",
              "name": "user_id",
              "value": "={{ $('loop officers fund1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "49646e48-77e2-489e-bd1f-72cdff780a1c",
              "name": "username",
              "value": "={{ $('loop officers fund1').item.json.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        784
      ],
      "id": "19902656-bdea-476f-8032-42c0f8617097",
      "name": "270 Format Loop Output (Fund)1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('writeReunioesBinary(PF)1').item.binary.sem_atendimento_pf.fileName}}.{{$('writeReunioesBinary(PF)1').item.binary.sem_atendimento_pf.fileExtension}}",
        "dataPropertyName": "sem_atendimento_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        80,
        64
      ],
      "id": "1f1689f5-dbcb-4fe2-a9d1-104448dc74e8",
      "name": "100 Write JSON File (Pf)1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('writeReunioesBinary(Fund)1').item.binary.sem_atendimento_fund.fileName}}.{{$('writeReunioesBinary(Fund)1').item.binary.sem_atendimento_fund.fileExtension}}",
        "dataPropertyName": "sem_atendimento_fund",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        80,
        576
      ],
      "id": "14e37a0a-0404-4b19-ab1c-56aba06480fd",
      "name": "300 Write JSON File (Fund)1"
    },
    {
      "parameters": {
        "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py sem_atendimento_fund /data/repos/unifinance_notificacoes/files/input/reunioes_fund.json --saida /data/repos/unifinance_notificacoes/files/output --format json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        576
      ],
      "id": "3e21e9c6-26cc-452c-9fd0-c16a15340617",
      "name": "310 Execute Python Trigger (Fund)1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py sem_atendimento_pf /data/repos/unifinance_notificacoes/files/input/reunioes_pf.json --saida /data/repos/unifinance_notificacoes/files/output --format json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        64
      ],
      "id": "9f54e59f-2058-4172-a1b4-aaf4ba53ce13",
      "name": "110 Execute Python Trigger (Pf)1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "sem_atendimento_fund",
        "options": {
          "fileName": "reunioes_fund"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        576
      ],
      "id": "993388bd-71de-423f-bd94-68d6277bae4f",
      "name": "writeReunioesBinary(Fund)1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "sem_atendimento_pf",
        "options": {
          "fileName": "reunioes_pf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        64
      ],
      "id": "be0ec8b2-7638-4744-ae48-f35d6195b104",
      "name": "writeReunioesBinary(PF)1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        208
      ],
      "id": "e33b28e3-5fbf-4bb0-9e34-3053f91d2746",
      "name": " loop officers pf1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        736
      ],
      "id": "aeb2a838-aade-4976-8c35-1729b33af684",
      "name": "loop officers fund1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xheMnVM_dYQ2wwSqwaD53",
          "mode": "list",
          "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
          "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.unifinance.com.br/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1264,
        768
      ],
      "id": "903b2bc7-75ee-4d6e-8233-43ce9738f029",
      "name": "get sess"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}clientes/todos_usuarios_sai/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        736
      ],
      "id": "9c18db57-ffbf-4e83-8321-e86c68c8a080",
      "name": "fetchUsuariosSai"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}clientes/todos_usuarios_sap/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        208
      ],
      "id": "4be6e4a4-fd17-4d53-a6f9-98ebf5853523",
      "name": "fetchUsuariosSap"
    },
    {
      "parameters": {
        "fieldToSplitOut": "todos_usuarios",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -816,
        736
      ],
      "id": "21abfcc3-327b-4ddd-9573-827aa85076d0",
      "name": "separaUsuariosSai"
    },
    {
      "parameters": {
        "fieldToSplitOut": "todos_usuarios",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -816,
        208
      ],
      "id": "356f73ac-8222-4d75-99f9-1f1709ac4894",
      "name": "separaUsuariosSap"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7Y6NcZ65CTpODJQANW1rU",
          "mode": "list",
          "cachedResultUrl": "/workflow/7Y6NcZ65CTpODJQANW1rU",
          "cachedResultName": "[UNIF]Notif.SemAtendimento.WF_v2.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "={{ $json.baseUrl }}",
            "loginPath": "={{ $json.loginPath }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1040,
        928
      ],
      "id": "9ab34f6d-ce50-4705-a379-557e388613c6",
      "name": "Call '[UNIF]Notif.SemAtendimento.WF_v2.1'"
    }
  ],
  "connections": {
    "each hour": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "60 Fetch User Reunioes (Pf)1": {
      "main": [
        [
          {
            "node": "70 Format Loop Output (Pf)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "80 Build Notification Seed (Pf)1": {
      "main": [
        [
          {
            "node": "writeReunioesBinary(PF)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "70 Format Loop Output (Pf)1": {
      "main": [
        [
          {
            "node": " loop officers pf1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "260 Fetch User Reunioes (Fund)1": {
      "main": [
        [
          {
            "node": "270 Format Loop Output (Fund)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "280 Build Notification Seed (Fund)1": {
      "main": [
        [
          {
            "node": "writeReunioesBinary(Fund)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "270 Format Loop Output (Fund)1": {
      "main": [
        [
          {
            "node": "loop officers fund1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "100 Write JSON File (Pf)1": {
      "main": [
        [
          {
            "node": "110 Execute Python Trigger (Pf)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "300 Write JSON File (Fund)1": {
      "main": [
        [
          {
            "node": "310 Execute Python Trigger (Fund)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writeReunioesBinary(Fund)1": {
      "main": [
        [
          {
            "node": "300 Write JSON File (Fund)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writeReunioesBinary(PF)1": {
      "main": [
        [
          {
            "node": "100 Write JSON File (Pf)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " loop officers pf1": {
      "main": [
        [
          {
            "node": "80 Build Notification Seed (Pf)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "60 Fetch User Reunioes (Pf)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop officers fund1": {
      "main": [
        [
          {
            "node": "280 Build Notification Seed (Fund)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "260 Fetch User Reunioes (Fund)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "Call '[UNIF]Notif.SemAtendimento.WF_v2.1'",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetchUsuariosSai",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetchUsuariosSap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchUsuariosSai": {
      "main": [
        [
          {
            "node": "separaUsuariosSai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchUsuariosSap": {
      "main": [
        [
          {
            "node": "separaUsuariosSap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separaUsuariosSai": {
      "main": [
        [
          {
            "node": "loop officers fund1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separaUsuariosSap": {
      "main": [
        [
          {
            "node": " loop officers pf1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1c20413d-37d2-49e8-9262-67b2fc61e53b",
  "activeVersionId": "1c20413d-37d2-49e8-9262-67b2fc61e53b",
  "versionCounter": 35,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T21:33:55.166Z",
      "createdAt": "2026-03-06T21:33:55.166Z",
      "role": "workflow:owner",
      "workflowId": "WQfcZ89cVFRHfNestNiCm",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    },
    {
      "updatedAt": "2026-03-06T21:08:59.858Z",
      "createdAt": "2026-03-06T19:21:19.987Z",
      "id": "LUuzlmYMIPHf7yaf",
      "name": ">semanal"
    },
    {
      "updatedAt": "2026-03-06T21:09:38.422Z",
      "createdAt": "2026-03-06T21:09:38.422Z",
      "id": "qXDhmpi09wHo88pH",
      "name": "!fix-case"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-09T18:42:15.258Z",
    "createdAt": "2026-03-09T18:42:09.023Z",
    "versionId": "1c20413d-37d2-49e8-9262-67b2fc61e53b",
    "workflowId": "WQfcZ89cVFRHfNestNiCm",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ]
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1488,
          768
        ],
        "id": "0c90c51b-a1e5-4d99-b0f4-7383db711727",
        "name": "each hour"
      },
      {
        "parameters": {
          "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas/?&user={{ $json.id }}&tem_atendimento=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfFieldName }}; sessionid={{ $('get sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -368,
          256
        ],
        "id": "7f1d1104-78e8-4a9b-a7ed-459279563f29",
        "name": "60 Fetch User Reunioes (Pf)1",
        "executeOnce": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "edcb3f17-564d-4ce9-a7ce-f385a2f18347",
                "name": "officer_id",
                "value": "={{ $(' loop officers pf1').item.json.user_id }}",
                "type": "string"
              },
              {
                "id": "1cbbc4eb-9581-48c8-a05c-4344c216f9bc",
                "name": "officer_name",
                "value": "={{ $(' loop officers pf1').item.json.username }}",
                "type": "string"
              },
              {
                "id": "e9650b0c-5c6f-4950-9214-f4a58f56f17b",
                "name": "meses_clientes_sem_reuniao",
                "value": "={{ $(' loop officers pf1').item.json.meses_clientes_sem_reuniao }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -368,
          64
        ],
        "id": "387df90b-2638-4008-9519-3487e989a55b",
        "name": "80 Build Notification Seed (Pf)1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7b00aef4-e19e-4914-ba13-604de94cecc1",
                "name": "count_clientes_sem_reuniao",
                "value": "={{ $json.count_clientes_sem_reuniao }}",
                "type": "number"
              },
              {
                "id": "84435b5d-1fe6-4cda-840e-de2386e57983",
                "name": "meses_clientes_sem_reuniao",
                "value": "={{ $json.meses_clientes_sem_reuniao }}",
                "type": "array"
              },
              {
                "id": "eebc4f29-aa43-4e3e-83c9-ab8161fe4b4b",
                "name": "user_id",
                "value": "={{ $(' loop officers pf1').item.json.id }}",
                "type": "string"
              },
              {
                "id": "49646e48-77e2-489e-bd1f-72cdff780a1c",
                "name": "username",
                "value": "={{ $(' loop officers pf1').item.json.username }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -144,
          304
        ],
        "id": "2b9d339b-510f-4e99-ba8d-61314eb601a2",
        "name": "70 Format Loop Output (Pf)1"
      },
      {
        "parameters": {
          "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas_sai/?&user={{$json.id}}&tem_atendimento=true&ano_inicio=2014&ano_fim=2026&mes_inicio_ano_inicial=1&mes_fim_ano_inicial=12&mes_inicio_ano_final=1&mes_fim_ano_final=12",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfFieldName }}; sessionid={{ $('get sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -368,
          768
        ],
        "id": "7bbe0009-a664-47d6-bc60-3ca6c2abcc21",
        "name": "260 Fetch User Reunioes (Fund)1",
        "executeOnce": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "edcb3f17-564d-4ce9-a7ce-f385a2f18347",
                "name": "officer_id",
                "value": "={{ $('loop officers fund1').item.json.user_id }}",
                "type": "string"
              },
              {
                "id": "1cbbc4eb-9581-48c8-a05c-4344c216f9bc",
                "name": "officer_name",
                "value": "={{ $('loop officers fund1').item.json.username }}",
                "type": "string"
              },
              {
                "id": "e9650b0c-5c6f-4950-9214-f4a58f56f17b",
                "name": "meses_clientes_sem_reuniao",
                "value": "={{ $('loop officers fund1').item.json.meses_clientes_sem_reuniao }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -368,
          576
        ],
        "id": "359ba8f3-1639-412c-a5af-b91ea2dab170",
        "name": "280 Build Notification Seed (Fund)1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7b00aef4-e19e-4914-ba13-604de94cecc1",
                "name": "count_clientes_sem_reuniao",
                "value": "={{ $json.count_clientes_sem_reuniao }}",
                "type": "number"
              },
              {
                "id": "84435b5d-1fe6-4cda-840e-de2386e57983",
                "name": "meses_clientes_sem_reuniao",
                "value": "={{ $json.meses_clientes_sem_reuniao }}",
                "type": "array"
              },
              {
                "id": "eebc4f29-aa43-4e3e-83c9-ab8161fe4b4b",
                "name": "user_id",
                "value": "={{ $('loop officers fund1').item.json.id }}",
                "type": "string"
              },
              {
                "id": "49646e48-77e2-489e-bd1f-72cdff780a1c",
                "name": "username",
                "value": "={{ $('loop officers fund1').item.json.username }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -144,
          784
        ],
        "id": "19902656-bdea-476f-8032-42c0f8617097",
        "name": "270 Format Loop Output (Fund)1"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('writeReunioesBinary(PF)1').item.binary.sem_atendimento_pf.fileName}}.{{$('writeReunioesBinary(PF)1').item.binary.sem_atendimento_pf.fileExtension}}",
          "dataPropertyName": "sem_atendimento_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          80,
          64
        ],
        "id": "1f1689f5-dbcb-4fe2-a9d1-104448dc74e8",
        "name": "100 Write JSON File (Pf)1"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('writeReunioesBinary(Fund)1').item.binary.sem_atendimento_fund.fileName}}.{{$('writeReunioesBinary(Fund)1').item.binary.sem_atendimento_fund.fileExtension}}",
          "dataPropertyName": "sem_atendimento_fund",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          80,
          576
        ],
        "id": "14e37a0a-0404-4b19-ab1c-56aba06480fd",
        "name": "300 Write JSON File (Fund)1"
      },
      {
        "parameters": {
          "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py sem_atendimento_fund /data/repos/unifinance_notificacoes/files/input/reunioes_fund.json --saida /data/repos/unifinance_notificacoes/files/output --format json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          304,
          576
        ],
        "id": "3e21e9c6-26cc-452c-9fd0-c16a15340617",
        "name": "310 Execute Python Trigger (Fund)1",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py sem_atendimento_pf /data/repos/unifinance_notificacoes/files/input/reunioes_pf.json --saida /data/repos/unifinance_notificacoes/files/output --format json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          304,
          64
        ],
        "id": "9f54e59f-2058-4172-a1b4-aaf4ba53ce13",
        "name": "110 Execute Python Trigger (Pf)1",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "sem_atendimento_fund",
          "options": {
            "fileName": "reunioes_fund"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -144,
          576
        ],
        "id": "993388bd-71de-423f-bd94-68d6277bae4f",
        "name": "writeReunioesBinary(Fund)1"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "sem_atendimento_pf",
          "options": {
            "fileName": "reunioes_pf"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -144,
          64
        ],
        "id": "be0ec8b2-7638-4744-ae48-f35d6195b104",
        "name": "writeReunioesBinary(PF)1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -592,
          208
        ],
        "id": "e33b28e3-5fbf-4bb0-9e34-3053f91d2746",
        "name": " loop officers pf1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -592,
          736
        ],
        "id": "aeb2a838-aade-4976-8c35-1729b33af684",
        "name": "loop officers fund1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xheMnVM_dYQ2wwSqwaD53",
            "mode": "list",
            "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
            "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "https://hub.unifinance.com.br/",
              "loginPath": "login/",
              "csrfFieldName": "csrftoken"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "csrfFieldName",
                "displayName": "csrfFieldName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1264,
          768
        ],
        "id": "903b2bc7-75ee-4d6e-8233-43ce9738f029",
        "name": "get sess"
      },
      {
        "parameters": {
          "url": "={{ $('get sess').item.json.baseUrl }}clientes/todos_usuarios_sai/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1040,
          736
        ],
        "id": "9c18db57-ffbf-4e83-8321-e86c68c8a080",
        "name": "fetchUsuariosSai"
      },
      {
        "parameters": {
          "url": "={{ $('get sess').item.json.baseUrl }}clientes/todos_usuarios_sap/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1040,
          208
        ],
        "id": "4be6e4a4-fd17-4d53-a6f9-98ebf5853523",
        "name": "fetchUsuariosSap"
      },
      {
        "parameters": {
          "fieldToSplitOut": "todos_usuarios",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -816,
          736
        ],
        "id": "21abfcc3-327b-4ddd-9573-827aa85076d0",
        "name": "separaUsuariosSai"
      },
      {
        "parameters": {
          "fieldToSplitOut": "todos_usuarios",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -816,
          208
        ],
        "id": "356f73ac-8222-4d75-99f9-1f1709ac4894",
        "name": "separaUsuariosSap"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "7Y6NcZ65CTpODJQANW1rU",
            "mode": "list",
            "cachedResultUrl": "/workflow/7Y6NcZ65CTpODJQANW1rU",
            "cachedResultName": "[UNIF]Notif.SemAtendimento.WF_v2.1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "={{ $json.baseUrl }}",
              "loginPath": "={{ $json.loginPath }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1040,
          928
        ],
        "id": "9ab34f6d-ce50-4705-a379-557e388613c6",
        "name": "Call '[UNIF]Notif.SemAtendimento.WF_v2.1'"
      }
    ],
    "connections": {
      "each hour": {
        "main": [
          [
            {
              "node": "get sess",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "60 Fetch User Reunioes (Pf)1": {
        "main": [
          [
            {
              "node": "70 Format Loop Output (Pf)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "80 Build Notification Seed (Pf)1": {
        "main": [
          [
            {
              "node": "writeReunioesBinary(PF)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "70 Format Loop Output (Pf)1": {
        "main": [
          [
            {
              "node": " loop officers pf1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "260 Fetch User Reunioes (Fund)1": {
        "main": [
          [
            {
              "node": "270 Format Loop Output (Fund)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "280 Build Notification Seed (Fund)1": {
        "main": [
          [
            {
              "node": "writeReunioesBinary(Fund)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "270 Format Loop Output (Fund)1": {
        "main": [
          [
            {
              "node": "loop officers fund1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "100 Write JSON File (Pf)1": {
        "main": [
          [
            {
              "node": "110 Execute Python Trigger (Pf)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "300 Write JSON File (Fund)1": {
        "main": [
          [
            {
              "node": "310 Execute Python Trigger (Fund)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "writeReunioesBinary(Fund)1": {
        "main": [
          [
            {
              "node": "300 Write JSON File (Fund)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "writeReunioesBinary(PF)1": {
        "main": [
          [
            {
              "node": "100 Write JSON File (Pf)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      " loop officers pf1": {
        "main": [
          [
            {
              "node": "80 Build Notification Seed (Pf)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "60 Fetch User Reunioes (Pf)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "loop officers fund1": {
        "main": [
          [
            {
              "node": "280 Build Notification Seed (Fund)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "260 Fetch User Reunioes (Fund)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get sess": {
        "main": [
          [
            {
              "node": "Call '[UNIF]Notif.SemAtendimento.WF_v2.1'",
              "type": "main",
              "index": 0
            },
            {
              "node": "fetchUsuariosSai",
              "type": "main",
              "index": 0
            },
            {
              "node": "fetchUsuariosSap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetchUsuariosSai": {
        "main": [
          [
            {
              "node": "separaUsuariosSai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetchUsuariosSap": {
        "main": [
          [
            {
              "node": "separaUsuariosSap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "separaUsuariosSai": {
        "main": [
          [
            {
              "node": "loop officers fund1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "separaUsuariosSap": {
        "main": [
          [
            {
              "node": " loop officers pf1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version 1c20413d",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T18:42:15.255Z",
        "id": 95,
        "workflowId": "WQfcZ89cVFRHfNestNiCm",
        "versionId": "1c20413d-37d2-49e8-9262-67b2fc61e53b",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      },
      {
        "createdAt": "2026-03-09T18:42:18.406Z",
        "id": 96,
        "workflowId": "WQfcZ89cVFRHfNestNiCm",
        "versionId": "1c20413d-37d2-49e8-9262-67b2fc61e53b",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}