backups/prod/UNIFServiceQuedaRentNotifsCRON/UNIFServiceQuedaRentNotifsCRON_v2__ilFo9Be3iHMxuE5xB-KA_.json
{
  "updatedAt": "2026-03-09T18:53:30.265Z",
  "createdAt": "2026-03-06T21:19:51.620Z",
  "id": "ilFo9Be3iHMxuE5xB-KA_",
  "name": "[UNIF]Service.QuedaRentNotifs.CRON_v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        -128
      ],
      "id": "f2b402a4-c59a-4bf6-89a7-e4e86ad56d8d",
      "name": "each hour"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xheMnVM_dYQ2wwSqwaD53",
          "mode": "list",
          "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
          "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.unifinance.com.br/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        304,
        -128
      ],
      "id": "691d62df-0a0d-418b-b9e5-f999535af45f",
      "name": "get sess"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        752,
        -128
      ],
      "id": "b55a5e5a-e042-4eb1-ae45-13943a7f4260",
      "name": "pf array"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=todos",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d157fc03-db4b-4d1c-80c4-b754a5d30e46",
              "leftValue": "={{ $json.rentabilidade_12_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9b73927c-bafe-4b1d-8061-f118a5907cb1",
              "leftValue": "={{ $json.rentabilidade_24_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        976,
        -128
      ],
      "id": "037d82e6-c58a-4dfa-992b-b34ee83a013e",
      "name": "status true/emissores not null"
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl }}api/clientepf/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response.body.next==null}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -128
      ],
      "id": "ea7044f9-00ac-4470-85c2-9f90e2aab030",
      "name": "fetch clientes pf"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "queda_rent_pf",
        "options": {
          "fileName": "queda_rent_pf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1200,
        -128
      ],
      "id": "5a931ce8-9c44-445e-b6f8-bed0f78c36ee",
      "name": "pf emissores binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('pf emissores binary').item.binary.queda_rent_pf.fileName}}.{{$('pf emissores binary').item.binary.queda_rent_pf.fileExtension}}",
        "dataPropertyName": "queda_rent_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1424,
        -128
      ],
      "id": "d02faa7e-a6a7-4e6a-ac9e-b62546acdd45",
      "name": "save binary in notif/input"
    },
    {
      "parameters": {
        "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py queda_rent_pf /data/repos/unifinance_notificacoes/files/input/queda_rent_pf.json --saida /data/repos/unifinance_notificacoes/files/output/ --format json\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1648,
        -128
      ],
      "id": "a516624f-5185-4518-845d-f6b484eea34d",
      "name": "roda gatilho emissores_fora_fgc_pf"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hAov2d4dgaOOd91mtp8cZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/hAov2d4dgaOOd91mtp8cZ",
          "cachedResultName": "[UNIF]Notif.QuedaRent.WF_v2.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "={{ $('get sess').item.json.baseUrl }}"
          },
          "matchingColumns": [
            "baseUrl"
          ],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1872,
        -128
      ],
      "id": "cefca7be-e0df-48a7-a0c6-b142ff969c4b",
      "name": "Call '[UNIF]Notif.QuedaRent.WF_v2.1'"
    }
  ],
  "connections": {
    "each hour": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "fetch clientes pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf array": {
      "main": [
        [
          {
            "node": "status true/emissores not null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status true/emissores not null": {
      "main": [
        [
          {
            "node": "pf emissores binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch clientes pf": {
      "main": [
        [
          {
            "node": "pf array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf emissores binary": {
      "main": [
        [
          {
            "node": "save binary in notif/input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save binary in notif/input": {
      "main": [
        [
          {
            "node": "roda gatilho emissores_fora_fgc_pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "roda gatilho emissores_fora_fgc_pf": {
      "main": [
        [
          {
            "node": "Call '[UNIF]Notif.QuedaRent.WF_v2.1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3382c7a6-2b53-4f56-a320-8a47d19dd463",
  "activeVersionId": "3382c7a6-2b53-4f56-a320-8a47d19dd463",
  "versionCounter": 43,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T21:19:51.620Z",
      "createdAt": "2026-03-06T21:19:51.620Z",
      "role": "workflow:owner",
      "workflowId": "ilFo9Be3iHMxuE5xB-KA_",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    },
    {
      "updatedAt": "2026-03-06T21:08:59.858Z",
      "createdAt": "2026-03-06T19:21:19.987Z",
      "id": "LUuzlmYMIPHf7yaf",
      "name": ">semanal"
    },
    {
      "updatedAt": "2026-03-06T21:09:38.422Z",
      "createdAt": "2026-03-06T21:09:38.422Z",
      "id": "qXDhmpi09wHo88pH",
      "name": "!fix-case"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-09T18:53:37.915Z",
    "createdAt": "2026-03-09T18:53:30.262Z",
    "versionId": "3382c7a6-2b53-4f56-a320-8a47d19dd463",
    "workflowId": "ilFo9Be3iHMxuE5xB-KA_",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ]
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          80,
          -128
        ],
        "id": "f2b402a4-c59a-4bf6-89a7-e4e86ad56d8d",
        "name": "each hour"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xheMnVM_dYQ2wwSqwaD53",
            "mode": "list",
            "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
            "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "https://hub.unifinance.com.br/",
              "loginPath": "login/",
              "csrfFieldName": "csrftoken"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "csrfFieldName",
                "displayName": "csrfFieldName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          304,
          -128
        ],
        "id": "691d62df-0a0d-418b-b9e5-f999535af45f",
        "name": "get sess"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          752,
          -128
        ],
        "id": "b55a5e5a-e042-4eb1-ae45-13943a7f4260",
        "name": "pf array"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
                "leftValue": "={{ $json.status }}",
                "rightValue": "=todos",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              },
              {
                "id": "d157fc03-db4b-4d1c-80c4-b754a5d30e46",
                "leftValue": "={{ $json.rentabilidade_12_meses }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "9b73927c-bafe-4b1d-8061-f118a5907cb1",
                "leftValue": "={{ $json.rentabilidade_24_meses }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          976,
          -128
        ],
        "id": "037d82e6-c58a-4dfa-992b-b34ee83a013e",
        "name": "status true/emissores not null"
      },
      {
        "parameters": {
          "url": "={{ $json.baseUrl }}api/clientepf/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "responseContainsNextURL",
                "nextURL": "={{ $response.body.next }}",
                "paginationCompleteWhen": "other",
                "completeExpression": "={{$response.body.next==null}}"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          528,
          -128
        ],
        "id": "ea7044f9-00ac-4470-85c2-9f90e2aab030",
        "name": "fetch clientes pf"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "queda_rent_pf",
          "options": {
            "fileName": "queda_rent_pf"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1200,
          -128
        ],
        "id": "5a931ce8-9c44-445e-b6f8-bed0f78c36ee",
        "name": "pf emissores binary"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('pf emissores binary').item.binary.queda_rent_pf.fileName}}.{{$('pf emissores binary').item.binary.queda_rent_pf.fileExtension}}",
          "dataPropertyName": "queda_rent_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1424,
          -128
        ],
        "id": "d02faa7e-a6a7-4e6a-ac9e-b62546acdd45",
        "name": "save binary in notif/input"
      },
      {
        "parameters": {
          "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py queda_rent_pf /data/repos/unifinance_notificacoes/files/input/queda_rent_pf.json --saida /data/repos/unifinance_notificacoes/files/output/ --format json\n"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1648,
          -128
        ],
        "id": "a516624f-5185-4518-845d-f6b484eea34d",
        "name": "roda gatilho emissores_fora_fgc_pf"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "hAov2d4dgaOOd91mtp8cZ",
            "mode": "list",
            "cachedResultUrl": "/workflow/hAov2d4dgaOOd91mtp8cZ",
            "cachedResultName": "[UNIF]Notif.QuedaRent.WF_v2.1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "={{ $('get sess').item.json.baseUrl }}"
            },
            "matchingColumns": [
              "baseUrl"
            ],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1872,
          -128
        ],
        "id": "cefca7be-e0df-48a7-a0c6-b142ff969c4b",
        "name": "Call '[UNIF]Notif.QuedaRent.WF_v2.1'"
      }
    ],
    "connections": {
      "each hour": {
        "main": [
          [
            {
              "node": "get sess",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get sess": {
        "main": [
          [
            {
              "node": "fetch clientes pf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pf array": {
        "main": [
          [
            {
              "node": "status true/emissores not null",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "status true/emissores not null": {
        "main": [
          [
            {
              "node": "pf emissores binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetch clientes pf": {
        "main": [
          [
            {
              "node": "pf array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pf emissores binary": {
        "main": [
          [
            {
              "node": "save binary in notif/input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "save binary in notif/input": {
        "main": [
          [
            {
              "node": "roda gatilho emissores_fora_fgc_pf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "roda gatilho emissores_fora_fgc_pf": {
        "main": [
          [
            {
              "node": "Call '[UNIF]Notif.QuedaRent.WF_v2.1'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version 3382c7a6",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T18:53:37.912Z",
        "id": 103,
        "workflowId": "ilFo9Be3iHMxuE5xB-KA_",
        "versionId": "3382c7a6-2b53-4f56-a320-8a47d19dd463",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}