backups/UNIFNotifSemAtendimentoWF/UNIFNotifSemAtendimentoWF_v21__7Y6NcZ65CTpODJQANW1rU.json
{
  "updatedAt": "2026-03-09T18:51:38.327Z",
  "createdAt": "2026-03-06T21:03:05.179Z",
  "id": "7Y6NcZ65CTpODJQANW1rU",
  "name": "[UNIF]Notif.SemAtendimento.WF_v2.1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xheMnVM_dYQ2wwSqwaD53",
          "mode": "list",
          "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
          "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "={{ $json.baseUrl }}",
            "loginPath": "={{ $json.loginPath }}",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -464,
        224
      ],
      "id": "4be9bdec-fa1b-46ac-8ce0-12500b96f73f",
      "name": "get sess"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "baseUrl"
            },
            {
              "name": "loginPath"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        512
      ],
      "id": "6bfc07df-5685-419a-b1a1-714d895677a3",
      "name": "Receive Initial Vars"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "sem_atendimento_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        320
      ],
      "id": "97372b7c-d502-401c-9cdb-19cd7cfd6d35",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f89c47f-b2fb-46f5-ab57-0123216e7c2d",
              "name": "sem_atendimento_pf",
              "value": "={{ $json.sem_atendimento_pf.itens.notificacoes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        320
      ],
      "id": "e7f7f7d5-c127-4668-b5f5-46109ebf7c7e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "sem_atendimento_fund",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        128
      ],
      "id": "35651df4-78ac-4d5f-b98a-a309a8f044d0",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f89c47f-b2fb-46f5-ab57-0123216e7c2d",
              "name": "sem_atendimento_fund",
              "value": "={{ $json.sem_atendimento_fund.itens.notificacoes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        128
      ],
      "id": "61771a35-2aee-446a-86f2-7cef3fbc5b67",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sem_atendimento_fund",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        128
      ],
      "id": "ada9ebbd-c826-4475-926b-8c7af27bf39f",
      "name": "Split Out2",
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "sem_atendimento_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        320
      ],
      "id": "33b7308f-37bb-4673-ab5a-e1dd71a486bf",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "fileSelector": "/data/repos/unifinance_notificacoes/files/output/sem_atendimento_pf.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -240,
        320
      ],
      "id": "503b5b81-8f0b-4002-bcdf-5ed4f17c5096",
      "name": "Read/Write Files from Disk PF1"
    },
    {
      "parameters": {
        "fileSelector": "/data/repos/unifinance_notificacoes/files/output/sem_atendimento_fund.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -240,
        128
      ],
      "id": "d8e8d891-8c06-4187-9ca7-e51afcb1a5da",
      "name": "Read/Write Files from Disk Fund1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('get sess').item.json.baseUrl }}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"titulo\": \"Fundação sem registro de atendimento recente\",\n\"descricao\": \"<p>A Fundação <strong>{{ $json.nome_alvo.toTitleCase() }}</strong>, com a política <strong>{{ $json.politica.replaceAll('_',' ').toUpperCase() }}</strong>, está há <strong>{{ $json.dias_sem_atendimento }}</strong> dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.</p>\",\n\"destinatario\": {{ $json.responsavel_id }},\n\"tipo_notificacao\": \"Fundação sem atendimento recente\",\n\"fundacao_id\": {{ $json.id_alvo }},\n\"nome_fundacao\": \"{{ $json.nome_completo_alvo }}\",\n\"sigla_fundacao\": \"{{ $json.nome_alvo }}\"\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        128
      ],
      "id": "e27a144c-2891-475a-aa47-769fc1a83617",
      "name": "test2",
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('get sess').item.json.baseUrl }}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"titulo\": \"Cliente sem registro de atendimento recente\",\n\"descricao\": \"<p>O cliente <strong>{{ $json.nome_alvo.toTitleCase() }}</strong>, com a política <strong>{{ $json.politica.replaceAll('_',' ').toUpperCase() }}</strong>, está há <strong>{{ $json.dias_sem_atendimento }}</strong> dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.</p>\",\n\"destinatario\": {{ $json.responsavel_id }},\n\"tipo_notificacao\": \"Cliente sem atendimento recente\",\n\"cliente_pf_id\": {{ $json.id_alvo }},\n\"nome_cliente_pf\": \"{{ $json.nome_alvo }}\"\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        320
      ],
      "id": "b51735e2-0b10-4d58-ac7b-c573151bb5de",
      "name": "test3",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "rm /data/repos/unifinance_notificacoes/files/output/sem_atendimento_fund.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -464,
        704
      ],
      "id": "0c339ec1-1fd1-48d7-9143-c90b5c98397d",
      "name": "Execute Command",
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "rm /data/repos/unifinance_notificacoes/files/output/sem_atendimento_pf.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -464,
        512
      ],
      "id": "92769bd8-a4f0-4bc7-bf9f-4828fce37a3b",
      "name": "Execute Command1",
      "executeOnce": true,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "rm /data/repos/unifinance_notificacoes/files/input/sem_atendimento_fund.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -240,
        704
      ],
      "id": "366beedc-5b95-4736-8ca7-4d9932760e99",
      "name": "Execute Command2",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "rm /data/repos/unifinance_notificacoes/files/input/sem_atendimento_pf.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -240,
        512
      ],
      "id": "1f99df99-c473-4da1-8106-0ec0efde5e43",
      "name": "Execute Command3",
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "get sess": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk Fund1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk PF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Initial Vars": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "test2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "test3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk PF1": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk Fund1": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test2": {
      "main": [
        []
      ]
    },
    "test3": {
      "main": [
        []
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Execute Command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Receive Initial Vars": [
      {
        "json": {
          "baseUrl": "https://hub-unifinance.novadata.dev/",
          "loginPath": "login/"
        }
      }
    ]
  },
  "versionId": "be1cb413-116b-494d-87eb-a3780aac4570",
  "activeVersionId": "be1cb413-116b-494d-87eb-a3780aac4570",
  "versionCounter": 57,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T21:03:05.179Z",
      "createdAt": "2026-03-06T21:03:05.179Z",
      "role": "workflow:owner",
      "workflowId": "7Y6NcZ65CTpODJQANW1rU",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T21:09:38.422Z",
      "createdAt": "2026-03-06T21:09:38.422Z",
      "id": "qXDhmpi09wHo88pH",
      "name": "!fix-case"
    },
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-09T18:51:52.997Z",
    "createdAt": "2026-03-09T18:51:38.323Z",
    "versionId": "be1cb413-116b-494d-87eb-a3780aac4570",
    "workflowId": "7Y6NcZ65CTpODJQANW1rU",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xheMnVM_dYQ2wwSqwaD53",
            "mode": "list",
            "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
            "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "={{ $json.baseUrl }}",
              "loginPath": "={{ $json.loginPath }}",
              "csrfFieldName": "csrftoken"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "csrfFieldName",
                "displayName": "csrfFieldName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -464,
          224
        ],
        "id": "4be9bdec-fa1b-46ac-8ce0-12500b96f73f",
        "name": "get sess"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "baseUrl"
              },
              {
                "name": "loginPath"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -688,
          512
        ],
        "id": "6bfc07df-5685-419a-b1a1-714d895677a3",
        "name": "Receive Initial Vars"
      },
      {
        "parameters": {
          "operation": "fromJson",
          "destinationKey": "sem_atendimento_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -16,
          320
        ],
        "id": "97372b7c-d502-401c-9cdb-19cd7cfd6d35",
        "name": "Extract from File2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0f89c47f-b2fb-46f5-ab57-0123216e7c2d",
                "name": "sem_atendimento_pf",
                "value": "={{ $json.sem_atendimento_pf.itens.notificacoes }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          320
        ],
        "id": "e7f7f7d5-c127-4668-b5f5-46109ebf7c7e",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "operation": "fromJson",
          "destinationKey": "sem_atendimento_fund",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -16,
          128
        ],
        "id": "35651df4-78ac-4d5f-b98a-a309a8f044d0",
        "name": "Extract from File3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0f89c47f-b2fb-46f5-ab57-0123216e7c2d",
                "name": "sem_atendimento_fund",
                "value": "={{ $json.sem_atendimento_fund.itens.notificacoes }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          128
        ],
        "id": "61771a35-2aee-446a-86f2-7cef3fbc5b67",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "fieldToSplitOut": "sem_atendimento_fund",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          432,
          128
        ],
        "id": "ada9ebbd-c826-4475-926b-8c7af27bf39f",
        "name": "Split Out2",
        "executeOnce": false
      },
      {
        "parameters": {
          "fieldToSplitOut": "sem_atendimento_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          432,
          320
        ],
        "id": "33b7308f-37bb-4673-ab5a-e1dd71a486bf",
        "name": "Split Out3"
      },
      {
        "parameters": {
          "fileSelector": "/data/repos/unifinance_notificacoes/files/output/sem_atendimento_pf.json",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          -240,
          320
        ],
        "id": "503b5b81-8f0b-4002-bcdf-5ed4f17c5096",
        "name": "Read/Write Files from Disk PF1"
      },
      {
        "parameters": {
          "fileSelector": "/data/repos/unifinance_notificacoes/files/output/sem_atendimento_fund.json",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          -240,
          128
        ],
        "id": "d8e8d891-8c06-4187-9ca7-e51afcb1a5da",
        "name": "Read/Write Files from Disk Fund1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('get sess').item.json.baseUrl }}api/notificacao/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-CSRFToken",
                "value": "={{ $('get sess').item.json.csrfCookie }}"
              },
              {}
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n\"titulo\": \"Fundação sem registro de atendimento recente\",\n\"descricao\": \"<p>A Fundação <strong>{{ $json.nome_alvo.toTitleCase() }}</strong>, com a política <strong>{{ $json.politica.replaceAll('_',' ').toUpperCase() }}</strong>, está há <strong>{{ $json.dias_sem_atendimento }}</strong> dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.</p>\",\n\"destinatario\": {{ $json.responsavel_id }},\n\"tipo_notificacao\": \"Fundação sem atendimento recente\",\n\"fundacao_id\": {{ $json.id_alvo }},\n\"nome_fundacao\": \"{{ $json.nome_completo_alvo }}\",\n\"sigla_fundacao\": \"{{ $json.nome_alvo }}\"\n}",
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          656,
          128
        ],
        "id": "e27a144c-2891-475a-aa47-769fc1a83617",
        "name": "test2",
        "executeOnce": false,
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('get sess').item.json.baseUrl }}api/notificacao/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-CSRFToken",
                "value": "={{ $('get sess').item.json.csrfCookie }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n\"titulo\": \"Cliente sem registro de atendimento recente\",\n\"descricao\": \"<p>O cliente <strong>{{ $json.nome_alvo.toTitleCase() }}</strong>, com a política <strong>{{ $json.politica.replaceAll('_',' ').toUpperCase() }}</strong>, está há <strong>{{ $json.dias_sem_atendimento }}</strong> dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.</p>\",\n\"destinatario\": {{ $json.responsavel_id }},\n\"tipo_notificacao\": \"Cliente sem atendimento recente\",\n\"cliente_pf_id\": {{ $json.id_alvo }},\n\"nome_cliente_pf\": \"{{ $json.nome_alvo }}\"\n}",
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          656,
          320
        ],
        "id": "b51735e2-0b10-4d58-ac7b-c573151bb5de",
        "name": "test3",
        "executeOnce": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "rm /data/repos/unifinance_notificacoes/files/output/sem_atendimento_fund.json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -464,
          704
        ],
        "id": "0c339ec1-1fd1-48d7-9143-c90b5c98397d",
        "name": "Execute Command",
        "alwaysOutputData": false,
        "executeOnce": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "rm /data/repos/unifinance_notificacoes/files/output/sem_atendimento_pf.json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -464,
          512
        ],
        "id": "92769bd8-a4f0-4bc7-bf9f-4828fce37a3b",
        "name": "Execute Command1",
        "executeOnce": true,
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "rm /data/repos/unifinance_notificacoes/files/input/sem_atendimento_fund.json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -240,
          704
        ],
        "id": "366beedc-5b95-4736-8ca7-4d9932760e99",
        "name": "Execute Command2",
        "alwaysOutputData": false,
        "executeOnce": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "rm /data/repos/unifinance_notificacoes/files/input/sem_atendimento_pf.json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -240,
          512
        ],
        "id": "1f99df99-c473-4da1-8106-0ec0efde5e43",
        "name": "Execute Command3",
        "executeOnce": false,
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "get sess": {
        "main": [
          [
            {
              "node": "Read/Write Files from Disk Fund1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Read/Write Files from Disk PF1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Receive Initial Vars": {
        "main": [
          [
            {
              "node": "get sess",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute Command1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File2": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Split Out3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File3": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Split Out2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out2": {
        "main": [
          [
            {
              "node": "test2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out3": {
        "main": [
          [
            {
              "node": "test3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read/Write Files from Disk PF1": {
        "main": [
          [
            {
              "node": "Extract from File2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read/Write Files from Disk Fund1": {
        "main": [
          [
            {
              "node": "Extract from File3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "test2": {
        "main": [
          []
        ]
      },
      "test3": {
        "main": [
          []
        ]
      },
      "Execute Command": {
        "main": [
          [
            {
              "node": "Execute Command2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command1": {
        "main": [
          [
            {
              "node": "Execute Command3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version be1cb413",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T18:51:52.994Z",
        "id": 101,
        "workflowId": "7Y6NcZ65CTpODJQANW1rU",
        "versionId": "be1cb413-116b-494d-87eb-a3780aac4570",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}