backups/geral/legendasautomaticas__MK7rNzunZjXzH6az.json
{
  "updatedAt": "2025-12-11T15:21:37.507Z",
  "createdAt": "2025-12-09T13:28:13.005Z",
  "id": "MK7rNzunZjXzH6az",
  "name": "legendas_automaticas",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        176
      ],
      "id": "e6ea720e-c374-49a9-b317-a6af1da585c5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "# Sua função principal:\n\n- Transcrever o áudio e formate a saída como um arquivo SRT (SubRip Subtitle), incluindo todos os tempos de início e fim para cada segmento de fala.\n\n# Organização:\n\n- Organize em json e em diferentes objetos cada informação: titulo do vídeo, área de conhecimento, discipolina e o STR.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "588ea3b5-4ade-4dcc-aff7-1aab0e4ed348",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "id": "yfKBlArzAuLw45NV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // 1. Acessa o texto SRT bruto do item.json.srt (ou o nome do campo que contém a string limpa)\n  // AJUSTE: Mude 'item.json.srt' se o nome do campo for diferente.\n  let srtText = item.json.srt;\n\n  // 2. Processo de Normalização de Quebras de Linha e Caracteres de Escape:\n  // Este bloco é crucial se a string ainda contiver escapes de string JSON (\\\\n, \\\\r, etc.).\n  \n  // Corrige os escapes de string:\n  if (typeof srtText === 'string') {\n    srtText = srtText.replace(/\\\\n/g, '\\n');\n    srtText = srtText.replace(/\\\\r/g, '\\r');\n    srtText = srtText.replace(/\\\\t/g, ' '); \n    srtText = srtText.replace(/\\\\\"/g, '\"');\n  } else {\n    // Adiciona um tratamento para o caso do campo estar vazio ou não ser uma string\n    console.error(\"O campo srtText não é uma string válida:\", srtText);\n    continue; // Pula para o próximo item\n  }\n  \n  srtText = srtText.trim();\n   \n  // 3. CONVERSÃO E ANEXAÇÃO AO CAMPO BINÁRIO (item.binary)\n  \n  // Cria um Buffer (dados brutos) com a string SRT limpa.\n  // Usamos 'utf8', essencial para legendas.\n  const srtBuffer = Buffer.from(srtText, 'utf8');\n\n  // 4. Adiciona o objeto binário à estrutura do n8n\n  item.binary = item.binary || {}; \n  item.binary.srt_binary = {\n    // Converte o Buffer em uma string base64 para ser serializada pelo n8n\n    data: srtBuffer.toString('base64'), \n    mimeType: 'application/x-subrip', // MimeType padrão para SRT\n    fileName: 'legenda.srt',\n  };\n\n  // Opcional: remove o campo de texto SRT se não for mais necessário.\n  delete item.json.srt; \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        0
      ],
      "id": "7ee12a4d-0148-4ffe-8521-dcfe2c0b5751",
      "name": "STR_formatado"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nQ8gFhI3DConGFrP",
          "mode": "list",
          "cachedResultUrl": "/workflow/nQ8gFhI3DConGFrP",
          "cachedResultName": "sub-workflow-mp3converter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        192
      ],
      "id": "e278ef57-67c4-4bb1-b5b0-24647873f688",
      "name": "Call 'sub-workflow-mp3converter'"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        176
      ],
      "id": "572a07ce-8558-49a6-8fc7-a2498679f7ae",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // 1. Acessa o campo que contém o texto com o JSON\n  let jsonString = item.json.content.parts[0].text;\n  \n  // 2. Remove o prefixo e o sufixo do bloco de código Markdown\n  //    (ex: ```json e ```)\n  \n  // Remove o prefixo (e espaços/quebras de linha ao redor)\n  jsonString = jsonString.trim().replace(/^```json\\s*/i, '');\n  \n  // Remove o sufixo (e espaços/quebras de linha ao redor)\n  jsonString = jsonString.trim().replace(/```$/, '');\n  \n  // 3. Converte a string JSON para um objeto JSON\n  try {\n    const jsonObject = JSON.parse(jsonString);\n    \n    // 4. Adiciona o novo objeto JSON ao item de saída\n    item.json.parsedJson = jsonObject;\n  } catch (error) {\n    // 5. Tratamento de erro: se a conversão falhar mesmo após a limpeza\n    item.json.error = `Falha ao analisar JSON: ${error.message}`;\n    item.json.rawText = jsonString; // Mantém o texto bruto para inspeção\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "b0d06e5c-0d42-4a24-9523-07f4db8c59d3",
      "name": "Separacao"
    },
    {
      "parameters": {
        "fileSelector": "=/data/files/tmp/*.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "6cca8601-f187-482b-bed4-4a3c6d5bb3e3",
      "name": "Regatar Audio"
    },
    {
      "parameters": {
        "jsCode": "// A função principal de um nó Code deve retornar o array de itens.\nconst outputItems = [];\n\n// Itera sobre todos os itens de entrada (esperando 1 item neste caso)\nfor (const item of items) {\n    \n    // 1. Acessa o array 'srt' que contém os segmentos\n    const srtSegments = item.json.parsedJson.srt;\n    let srtFinalContent = '';\n\n    if (srtSegments && Array.isArray(srtSegments)) {\n        \n        // 2. Constrói a String SRT (índice, timestamps, texto)\n        srtSegments.forEach((segment, index) => {\n            \n            // Função para formatar o tempo de \"MM:SS\" para o formato SRT \"HH:MM:SS,ms\"\n            const formatTime = (time) => {\n                // Assumimos que a entrada é MM:SS. Converte para 00:MM:SS,000\n                const [minutes, seconds] = time.split(':');\n                const paddedMinutes = minutes.padStart(2, '0');\n                const paddedSeconds = seconds.padStart(2, '0');\n                return `00:${paddedMinutes}:${paddedSeconds},000`; \n            };\n\n            const startTime = formatTime(segment.start);\n            const endTime = formatTime(segment.end);\n            \n            // Constrói o bloco de legenda\n            srtFinalContent += `${index + 1}\\n`;\n            srtFinalContent += `${startTime} --> ${endTime}\\n`;\n            srtFinalContent += `${segment.text}\\n\\n`;\n        });\n        \n        // 3. Converte a string SRT finalizada para um Buffer binário\n        const srtBuffer = Buffer.from(srtFinalContent.trim(), 'utf8');\n\n        // 4. Cria o objeto de saída no formato que o n8n espera para dados binários.\n        const newItem = {\n            // Mantemos o JSON mínimo para dar nome ao arquivo no próximo nó\n            json: {\n                title: item.json.parsedJson.title \n            },\n            binary: {\n                // 'srtBinaryData' é o nome da propriedade binária que você usará no próximo nó.\n                srtBinaryData: {\n                    data: srtBuffer.toString('base64'), // O n8n armazena o Buffer como Base64\n                    mimeType: 'text/srt',\n                    // Sugestão de nome do arquivo\n                    fileName: `${item.json.parsedJson.title}.srt`, \n                },\n            },\n        };\n        outputItems.push(newItem);\n\n    } else {\n        console.error(\"ERRO: Array 'srt' não encontrado ou vazio.\");\n        outputItems.push({ json: { error: 'SRT_NOT_FOUND' }});\n    }\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ],
      "id": "f438fa7e-5766-491b-a1fb-67651a107de2",
      "name": "Transformar SRT em Binario"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/tmp/REGRA-DE-3-COMPOSTA-EM-1-MINUTO.srt",
        "dataPropertyName": "=srtBinaryData",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1520,
        0
      ],
      "id": "4635bd90-8e93-4484-b452-b29a7c84d7d2",
      "name": "Salvar SRT"
    },
    {
      "parameters": {
        "command": "ffmpeg -i /data/files/tmp/REGRA-DE-3-COMPOSTA-EM-1-MINUTO.mp4 -i /data/files/tmp/REGRA-DE-3-COMPOSTA-EM-1-MINUTO.srt -c copy -c:s mov_text -metadata:s:s:0 language=por /data/files/tmp/REGRA-DE-3-COMPOSTA-COM-LEGENDAS.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ],
      "id": "7fd0ea24-b843-41ae-be70-0de57d7d0323",
      "name": "Comando Para Juntar Video com SRT"
    },
    {
      "parameters": {
        "fileSelector": "/data/files/tmp/REGRA-DE-3-COMPOSTA-COM-LEGENDAS.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1520,
        240
      ],
      "id": "e5993a14-6748-4ee7-b42b-f23e1d201d8f",
      "name": "Verificar se o video com legenda foi gerado"
    },
    {
      "parameters": {
        "command": "ffprobe -v error -select_streams s -show_entries stream=index,codec_name,tags -of default=noprint_wrappers=1 /data/files/tmp/REGRA-DE-3-COMPOSTA-COM-LEGENDAS.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1776,
        240
      ],
      "id": "526d1108-7432-4429-8782-80b03fc0dad1",
      "name": "Verificar quantas legendas foram adicionadas ao video"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Separacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STR_formatado": {
      "main": [
        [
          {
            "node": "Transformar SRT em Binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Regatar Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'sub-workflow-mp3converter'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'sub-workflow-mp3converter'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separacao": {
      "main": [
        [
          {
            "node": "STR_formatado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regatar Audio": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar SRT em Binario": {
      "main": [
        [
          {
            "node": "Salvar SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar SRT": {
      "main": [
        [
          {
            "node": "Comando Para Juntar Video com SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comando Para Juntar Video com SRT": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Analyze audio": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"title\": \"Regra de três composta\",\n  \"area\": \"Exatas\",\n  \"discipline\": \"Matemática\",\n  \"srt\": [\n    {\n      \"start\": \"00:00\",\n      \"end\": \"00:03\",\n      \"text\": \"Friends, nunca mais você vai errar a regra de três composta. Olha isso.\"\n    },\n    {\n      \"start\": \"00:03\",\n      \"end\": \"00:07\",\n      \"text\": \"Em 10 dias, 20 friends constróem um muro de 80 m.\"\n    },\n    {\n      \"start\": \"00:08\",\n      \"end\": \"00:13\",\n      \"text\": \"Quantos dias serão necessários para 30 friends construírem um muro de 60 m?\"\n    },\n    {\n      \"start\": \"00:14\",\n      \"end\": \"00:16\",\n      \"text\": \"Sandra, eu nunca sei fazer isso. Olha que fácil.\"\n    },\n    {\n      \"start\": \"00:16\",\n      \"end\": \"00:24\",\n      \"text\": \"Você fixa o que tem a incógnita, você deixa fixo, e você associa as outras grandezas a ela. Vamos comigo!\"\n    },\n    {\n      \"start\": \"00:25\",\n      \"end\": \"00:29\",\n      \"text\": \"20 homens constróem um muro em 10 dias.\"\n    },\n    {\n      \"start\": \"00:30\",\n      \"end\": \"00:34\",\n      \"text\": \"Mais homens construirão o muro em menos dias.\"\n    },\n    {\n      \"start\": \"00:35\",\n      \"end\": \"00:38\",\n      \"text\": \"Então, são grandezas inversamente proporcional.\"\n    },\n    {\n      \"start\": \"00:38\",\n      \"end\": \"00:40\",\n      \"text\": \"Você vem e coloca o \\\"izinho\\\" aqui.\"\n    },\n    {\n      \"start\": \"00:40\",\n      \"end\": \"00:41\",\n      \"text\": \"Vai para outra!\"\n    },\n    {\n      \"start\": \"00:42\",\n      \"end\": \"00:45\",\n      \"text\": \"Um muro de 80 m, você constrói em 10 dias.\"\n    },\n    {\n      \"start\": \"00:46\",\n      \"end\": \"00:54\",\n      \"text\": \"Um muro de 60 m, ou seja, um muro menor, você precisará de menos dias para construir.\"\n    },\n    {\n      \"start\": \"00:54\",\n      \"end\": \"00:55\",\n      \"text\": \"O muro é menor.\"\n    },\n    {\n      \"start\": \"00:55\",\n      \"end\": \"01:01\",\n      \"text\": \"Logo, menos metros, menos dias, diretamente proporcional.\"\n    },\n    {\n      \"start\": \"01:01\",\n      \"end\": \"01:08\",\n      \"text\": \"Agora, o que que eu faço? Eu coloco o que está fixo aqui em fração, igualo ao produto das frações.\"\n    },\n    {\n      \"start\": \"01:09\",\n      \"end\": \"01:13\",\n      \"text\": \"Lembrando, se tem um \\\"izinho\\\" de inversamente, eu inverto a fração.\"\n    },\n    {\n      \"start\": \"01:14\",\n      \"end\": \"01:20\",\n      \"text\": \"Ao invés de 20 sobre 30, vai ficar com \\\"i\\\" inverso, 30 sobre 20.\"\n    },\n    {\n      \"start\": \"01:21\",\n      \"end\": \"01:28\",\n      \"text\": \"Vezes, aqui é diretamente proporcional. O que que eu faço? Mantenho a ordem que aqui está, 80 sobre 60.\"\n    },\n    {\n      \"start\": \"01:29\",\n      \"end\": \"01:29\",\n      \"text\": \"Acabou!\"\n    },\n    {\n      \"start\": \"01:30\",\n      \"end\": \"01:32\",\n      \"text\": \"Só simplificar produto de frações, ó.\"\n    },\n    {\n      \"start\": \"01:32\",\n      \"end\": \"01:36\",\n      \"text\": \"Tchau, tchau, ficou dois, 60 por 30 deu dois.\"\n    },\n    {\n      \"start\": \"01:36\",\n      \"end\": \"01:40\",\n      \"text\": \"Posso simplificar aqui também, ó, 80 por 20 dá quatro.\"\n    },\n    {\n      \"start\": \"01:40\",\n      \"end\": \"01:44\",\n      \"text\": \"Ficando o quê? 10 sobre \\\"x\\\" igual a 4 sobre 2.\"\n    },\n    {\n      \"start\": \"01:45\",\n      \"end\": \"01:46\",\n      \"text\": \"Sandra, mentira!\"\n    },\n    {\n      \"start\": \"01:46\",\n      \"end\": \"01:47\",\n      \"text\": \"Te digo, verdade!\"\n    },\n    {\n      \"start\": \"01:47\",\n      \"end\": \"01:54\",\n      \"text\": \"Multipliquei cruzado, ó, 4x = 20, x = 20 sobre 4, logo cinco dias.\"\n    },\n    {\n      \"start\": \"01:54\",\n      \"end\": \"02:01\",\n      \"text\": \"Cinco dias serão necessários para haver essa situação e ela ser verdade, friends.\"\n    },\n    {\n      \"start\": \"02:01\",\n      \"end\": \"02:04\",\n      \"text\": \"Dá o print que o quadro é seu e ótima semana para você!\"\n    },\n    {\n      \"start\": \"02:04\",\n      \"end\": \"02:07\",\n      \"text\": \"Deixe seu comentário, tamo junto e rumo ao topo!\"\n    },\n    {\n      \"start\": \"02:08\",\n      \"end\": \"02:09\",\n      \"text\": \"Valeu, friends!\"\n    }\n  ]\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "STR_formatado": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"title\": \"Regra de três composta\",\n  \"area\": \"Exatas\",\n  \"discipline\": \"Matemática\",\n  \"srt\": [\n    {\n      \"start\": \"00:00\",\n      \"end\": \"00:03\",\n      \"text\": \"Friends, nunca mais você vai errar a regra de três composta. Olha isso.\"\n    },\n    {\n      \"start\": \"00:03\",\n      \"end\": \"00:07\",\n      \"text\": \"Em 10 dias, 20 friends constróem um muro de 80 m.\"\n    },\n    {\n      \"start\": \"00:08\",\n      \"end\": \"00:13\",\n      \"text\": \"Quantos dias serão necessários para 30 friends construírem um muro de 60 m?\"\n    },\n    {\n      \"start\": \"00:14\",\n      \"end\": \"00:16\",\n      \"text\": \"Sandra, eu nunca sei fazer isso. Olha que fácil.\"\n    },\n    {\n      \"start\": \"00:16\",\n      \"end\": \"00:24\",\n      \"text\": \"Você fixa o que tem a incógnita, você deixa fixo, e você associa as outras grandezas a ela. Vamos comigo!\"\n    },\n    {\n      \"start\": \"00:25\",\n      \"end\": \"00:29\",\n      \"text\": \"20 homens constróem um muro em 10 dias.\"\n    },\n    {\n      \"start\": \"00:30\",\n      \"end\": \"00:34\",\n      \"text\": \"Mais homens construirão o muro em menos dias.\"\n    },\n    {\n      \"start\": \"00:35\",\n      \"end\": \"00:38\",\n      \"text\": \"Então, são grandezas inversamente proporcional.\"\n    },\n    {\n      \"start\": \"00:38\",\n      \"end\": \"00:40\",\n      \"text\": \"Você vem e coloca o \\\"izinho\\\" aqui.\"\n    },\n    {\n      \"start\": \"00:40\",\n      \"end\": \"00:41\",\n      \"text\": \"Vai para outra!\"\n    },\n    {\n      \"start\": \"00:42\",\n      \"end\": \"00:45\",\n      \"text\": \"Um muro de 80 m, você constrói em 10 dias.\"\n    },\n    {\n      \"start\": \"00:46\",\n      \"end\": \"00:54\",\n      \"text\": \"Um muro de 60 m, ou seja, um muro menor, você precisará de menos dias para construir.\"\n    },\n    {\n      \"start\": \"00:54\",\n      \"end\": \"00:55\",\n      \"text\": \"O muro é menor.\"\n    },\n    {\n      \"start\": \"00:55\",\n      \"end\": \"01:01\",\n      \"text\": \"Logo, menos metros, menos dias, diretamente proporcional.\"\n    },\n    {\n      \"start\": \"01:01\",\n      \"end\": \"01:08\",\n      \"text\": \"Agora, o que que eu faço? Eu coloco o que está fixo aqui em fração, igualo ao produto das frações.\"\n    },\n    {\n      \"start\": \"01:09\",\n      \"end\": \"01:13\",\n      \"text\": \"Lembrando, se tem um \\\"izinho\\\" de inversamente, eu inverto a fração.\"\n    },\n    {\n      \"start\": \"01:14\",\n      \"end\": \"01:20\",\n      \"text\": \"Ao invés de 20 sobre 30, vai ficar com \\\"i\\\" inverso, 30 sobre 20.\"\n    },\n    {\n      \"start\": \"01:21\",\n      \"end\": \"01:28\",\n      \"text\": \"Vezes, aqui é diretamente proporcional. O que que eu faço? Mantenho a ordem que aqui está, 80 sobre 60.\"\n    },\n    {\n      \"start\": \"01:29\",\n      \"end\": \"01:29\",\n      \"text\": \"Acabou!\"\n    },\n    {\n      \"start\": \"01:30\",\n      \"end\": \"01:32\",\n      \"text\": \"Só simplificar produto de frações, ó.\"\n    },\n    {\n      \"start\": \"01:32\",\n      \"end\": \"01:36\",\n      \"text\": \"Tchau, tchau, ficou dois, 60 por 30 deu dois.\"\n    },\n    {\n      \"start\": \"01:36\",\n      \"end\": \"01:40\",\n      \"text\": \"Posso simplificar aqui também, ó, 80 por 20 dá quatro.\"\n    },\n    {\n      \"start\": \"01:40\",\n      \"end\": \"01:44\",\n      \"text\": \"Ficando o quê? 10 sobre \\\"x\\\" igual a 4 sobre 2.\"\n    },\n    {\n      \"start\": \"01:45\",\n      \"end\": \"01:46\",\n      \"text\": \"Sandra, mentira!\"\n    },\n    {\n      \"start\": \"01:46\",\n      \"end\": \"01:47\",\n      \"text\": \"Te digo, verdade!\"\n    },\n    {\n      \"start\": \"01:47\",\n      \"end\": \"01:54\",\n      \"text\": \"Multipliquei cruzado, ó, 4x = 20, x = 20 sobre 4, logo cinco dias.\"\n    },\n    {\n      \"start\": \"01:54\",\n      \"end\": \"02:01\",\n      \"text\": \"Cinco dias serão necessários para haver essa situação e ela ser verdade, friends.\"\n    },\n    {\n      \"start\": \"02:01\",\n      \"end\": \"02:04\",\n      \"text\": \"Dá o print que o quadro é seu e ótima semana para você!\"\n    },\n    {\n      \"start\": \"02:04\",\n      \"end\": \"02:07\",\n      \"text\": \"Deixe seu comentário, tamo junto e rumo ao topo!\"\n    },\n    {\n      \"start\": \"02:08\",\n      \"end\": \"02:09\",\n      \"text\": \"Valeu, friends!\"\n    }\n  ]\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0,
          "parsedJson": {
            "title": "Regra de três composta",
            "area": "Exatas",
            "discipline": "Matemática",
            "srt": [
              {
                "start": "00:00",
                "end": "00:03",
                "text": "Friends, nunca mais você vai errar a regra de três composta. Olha isso."
              },
              {
                "start": "00:03",
                "end": "00:07",
                "text": "Em 10 dias, 20 friends constróem um muro de 80 m."
              },
              {
                "start": "00:08",
                "end": "00:13",
                "text": "Quantos dias serão necessários para 30 friends construírem um muro de 60 m?"
              },
              {
                "start": "00:14",
                "end": "00:16",
                "text": "Sandra, eu nunca sei fazer isso. Olha que fácil."
              },
              {
                "start": "00:16",
                "end": "00:24",
                "text": "Você fixa o que tem a incógnita, você deixa fixo, e você associa as outras grandezas a ela. Vamos comigo!"
              },
              {
                "start": "00:25",
                "end": "00:29",
                "text": "20 homens constróem um muro em 10 dias."
              },
              {
                "start": "00:30",
                "end": "00:34",
                "text": "Mais homens construirão o muro em menos dias."
              },
              {
                "start": "00:35",
                "end": "00:38",
                "text": "Então, são grandezas inversamente proporcional."
              },
              {
                "start": "00:38",
                "end": "00:40",
                "text": "Você vem e coloca o \"izinho\" aqui."
              },
              {
                "start": "00:40",
                "end": "00:41",
                "text": "Vai para outra!"
              },
              {
                "start": "00:42",
                "end": "00:45",
                "text": "Um muro de 80 m, você constrói em 10 dias."
              },
              {
                "start": "00:46",
                "end": "00:54",
                "text": "Um muro de 60 m, ou seja, um muro menor, você precisará de menos dias para construir."
              },
              {
                "start": "00:54",
                "end": "00:55",
                "text": "O muro é menor."
              },
              {
                "start": "00:55",
                "end": "01:01",
                "text": "Logo, menos metros, menos dias, diretamente proporcional."
              },
              {
                "start": "01:01",
                "end": "01:08",
                "text": "Agora, o que que eu faço? Eu coloco o que está fixo aqui em fração, igualo ao produto das frações."
              },
              {
                "start": "01:09",
                "end": "01:13",
                "text": "Lembrando, se tem um \"izinho\" de inversamente, eu inverto a fração."
              },
              {
                "start": "01:14",
                "end": "01:20",
                "text": "Ao invés de 20 sobre 30, vai ficar com \"i\" inverso, 30 sobre 20."
              },
              {
                "start": "01:21",
                "end": "01:28",
                "text": "Vezes, aqui é diretamente proporcional. O que que eu faço? Mantenho a ordem que aqui está, 80 sobre 60."
              },
              {
                "start": "01:29",
                "end": "01:29",
                "text": "Acabou!"
              },
              {
                "start": "01:30",
                "end": "01:32",
                "text": "Só simplificar produto de frações, ó."
              },
              {
                "start": "01:32",
                "end": "01:36",
                "text": "Tchau, tchau, ficou dois, 60 por 30 deu dois."
              },
              {
                "start": "01:36",
                "end": "01:40",
                "text": "Posso simplificar aqui também, ó, 80 por 20 dá quatro."
              },
              {
                "start": "01:40",
                "end": "01:44",
                "text": "Ficando o quê? 10 sobre \"x\" igual a 4 sobre 2."
              },
              {
                "start": "01:45",
                "end": "01:46",
                "text": "Sandra, mentira!"
              },
              {
                "start": "01:46",
                "end": "01:47",
                "text": "Te digo, verdade!"
              },
              {
                "start": "01:47",
                "end": "01:54",
                "text": "Multipliquei cruzado, ó, 4x = 20, x = 20 sobre 4, logo cinco dias."
              },
              {
                "start": "01:54",
                "end": "02:01",
                "text": "Cinco dias serão necessários para haver essa situação e ela ser verdade, friends."
              },
              {
                "start": "02:01",
                "end": "02:04",
                "text": "Dá o print que o quadro é seu e ótima semana para você!"
              },
              {
                "start": "02:04",
                "end": "02:07",
                "text": "Deixe seu comentário, tamo junto e rumo ao topo!"
              },
              {
                "start": "02:08",
                "end": "02:09",
                "text": "Valeu, friends!"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Separacao": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"title\": \"Regra de três composta\",\n  \"area\": \"Exatas\",\n  \"discipline\": \"Matemática\",\n  \"srt\": [\n    {\n      \"start\": \"00:00\",\n      \"end\": \"00:03\",\n      \"text\": \"Friends, nunca mais você vai errar a regra de três composta. Olha isso.\"\n    },\n    {\n      \"start\": \"00:03\",\n      \"end\": \"00:07\",\n      \"text\": \"Em 10 dias, 20 friends constróem um muro de 80 m.\"\n    },\n    {\n      \"start\": \"00:08\",\n      \"end\": \"00:13\",\n      \"text\": \"Quantos dias serão necessários para 30 friends construírem um muro de 60 m?\"\n    },\n    {\n      \"start\": \"00:14\",\n      \"end\": \"00:16\",\n      \"text\": \"Sandra, eu nunca sei fazer isso. Olha que fácil.\"\n    },\n    {\n      \"start\": \"00:16\",\n      \"end\": \"00:24\",\n      \"text\": \"Você fixa o que tem a incógnita, você deixa fixo, e você associa as outras grandezas a ela. Vamos comigo!\"\n    },\n    {\n      \"start\": \"00:25\",\n      \"end\": \"00:29\",\n      \"text\": \"20 homens constróem um muro em 10 dias.\"\n    },\n    {\n      \"start\": \"00:30\",\n      \"end\": \"00:34\",\n      \"text\": \"Mais homens construirão o muro em menos dias.\"\n    },\n    {\n      \"start\": \"00:35\",\n      \"end\": \"00:38\",\n      \"text\": \"Então, são grandezas inversamente proporcional.\"\n    },\n    {\n      \"start\": \"00:38\",\n      \"end\": \"00:40\",\n      \"text\": \"Você vem e coloca o \\\"izinho\\\" aqui.\"\n    },\n    {\n      \"start\": \"00:40\",\n      \"end\": \"00:41\",\n      \"text\": \"Vai para outra!\"\n    },\n    {\n      \"start\": \"00:42\",\n      \"end\": \"00:45\",\n      \"text\": \"Um muro de 80 m, você constrói em 10 dias.\"\n    },\n    {\n      \"start\": \"00:46\",\n      \"end\": \"00:54\",\n      \"text\": \"Um muro de 60 m, ou seja, um muro menor, você precisará de menos dias para construir.\"\n    },\n    {\n      \"start\": \"00:54\",\n      \"end\": \"00:55\",\n      \"text\": \"O muro é menor.\"\n    },\n    {\n      \"start\": \"00:55\",\n      \"end\": \"01:01\",\n      \"text\": \"Logo, menos metros, menos dias, diretamente proporcional.\"\n    },\n    {\n      \"start\": \"01:01\",\n      \"end\": \"01:08\",\n      \"text\": \"Agora, o que que eu faço? Eu coloco o que está fixo aqui em fração, igualo ao produto das frações.\"\n    },\n    {\n      \"start\": \"01:09\",\n      \"end\": \"01:13\",\n      \"text\": \"Lembrando, se tem um \\\"izinho\\\" de inversamente, eu inverto a fração.\"\n    },\n    {\n      \"start\": \"01:14\",\n      \"end\": \"01:20\",\n      \"text\": \"Ao invés de 20 sobre 30, vai ficar com \\\"i\\\" inverso, 30 sobre 20.\"\n    },\n    {\n      \"start\": \"01:21\",\n      \"end\": \"01:28\",\n      \"text\": \"Vezes, aqui é diretamente proporcional. O que que eu faço? Mantenho a ordem que aqui está, 80 sobre 60.\"\n    },\n    {\n      \"start\": \"01:29\",\n      \"end\": \"01:29\",\n      \"text\": \"Acabou!\"\n    },\n    {\n      \"start\": \"01:30\",\n      \"end\": \"01:32\",\n      \"text\": \"Só simplificar produto de frações, ó.\"\n    },\n    {\n      \"start\": \"01:32\",\n      \"end\": \"01:36\",\n      \"text\": \"Tchau, tchau, ficou dois, 60 por 30 deu dois.\"\n    },\n    {\n      \"start\": \"01:36\",\n      \"end\": \"01:40\",\n      \"text\": \"Posso simplificar aqui também, ó, 80 por 20 dá quatro.\"\n    },\n    {\n      \"start\": \"01:40\",\n      \"end\": \"01:44\",\n      \"text\": \"Ficando o quê? 10 sobre \\\"x\\\" igual a 4 sobre 2.\"\n    },\n    {\n      \"start\": \"01:45\",\n      \"end\": \"01:46\",\n      \"text\": \"Sandra, mentira!\"\n    },\n    {\n      \"start\": \"01:46\",\n      \"end\": \"01:47\",\n      \"text\": \"Te digo, verdade!\"\n    },\n    {\n      \"start\": \"01:47\",\n      \"end\": \"01:54\",\n      \"text\": \"Multipliquei cruzado, ó, 4x = 20, x = 20 sobre 4, logo cinco dias.\"\n    },\n    {\n      \"start\": \"01:54\",\n      \"end\": \"02:01\",\n      \"text\": \"Cinco dias serão necessários para haver essa situação e ela ser verdade, friends.\"\n    },\n    {\n      \"start\": \"02:01\",\n      \"end\": \"02:04\",\n      \"text\": \"Dá o print que o quadro é seu e ótima semana para você!\"\n    },\n    {\n      \"start\": \"02:04\",\n      \"end\": \"02:07\",\n      \"text\": \"Deixe seu comentário, tamo junto e rumo ao topo!\"\n    },\n    {\n      \"start\": \"02:08\",\n      \"end\": \"02:09\",\n      \"text\": \"Valeu, friends!\"\n    }\n  ]\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0,
          "parsedJson": {
            "title": "Regra de três composta",
            "area": "Exatas",
            "discipline": "Matemática",
            "srt": [
              {
                "start": "00:00",
                "end": "00:03",
                "text": "Friends, nunca mais você vai errar a regra de três composta. Olha isso."
              },
              {
                "start": "00:03",
                "end": "00:07",
                "text": "Em 10 dias, 20 friends constróem um muro de 80 m."
              },
              {
                "start": "00:08",
                "end": "00:13",
                "text": "Quantos dias serão necessários para 30 friends construírem um muro de 60 m?"
              },
              {
                "start": "00:14",
                "end": "00:16",
                "text": "Sandra, eu nunca sei fazer isso. Olha que fácil."
              },
              {
                "start": "00:16",
                "end": "00:24",
                "text": "Você fixa o que tem a incógnita, você deixa fixo, e você associa as outras grandezas a ela. Vamos comigo!"
              },
              {
                "start": "00:25",
                "end": "00:29",
                "text": "20 homens constróem um muro em 10 dias."
              },
              {
                "start": "00:30",
                "end": "00:34",
                "text": "Mais homens construirão o muro em menos dias."
              },
              {
                "start": "00:35",
                "end": "00:38",
                "text": "Então, são grandezas inversamente proporcional."
              },
              {
                "start": "00:38",
                "end": "00:40",
                "text": "Você vem e coloca o \"izinho\" aqui."
              },
              {
                "start": "00:40",
                "end": "00:41",
                "text": "Vai para outra!"
              },
              {
                "start": "00:42",
                "end": "00:45",
                "text": "Um muro de 80 m, você constrói em 10 dias."
              },
              {
                "start": "00:46",
                "end": "00:54",
                "text": "Um muro de 60 m, ou seja, um muro menor, você precisará de menos dias para construir."
              },
              {
                "start": "00:54",
                "end": "00:55",
                "text": "O muro é menor."
              },
              {
                "start": "00:55",
                "end": "01:01",
                "text": "Logo, menos metros, menos dias, diretamente proporcional."
              },
              {
                "start": "01:01",
                "end": "01:08",
                "text": "Agora, o que que eu faço? Eu coloco o que está fixo aqui em fração, igualo ao produto das frações."
              },
              {
                "start": "01:09",
                "end": "01:13",
                "text": "Lembrando, se tem um \"izinho\" de inversamente, eu inverto a fração."
              },
              {
                "start": "01:14",
                "end": "01:20",
                "text": "Ao invés de 20 sobre 30, vai ficar com \"i\" inverso, 30 sobre 20."
              },
              {
                "start": "01:21",
                "end": "01:28",
                "text": "Vezes, aqui é diretamente proporcional. O que que eu faço? Mantenho a ordem que aqui está, 80 sobre 60."
              },
              {
                "start": "01:29",
                "end": "01:29",
                "text": "Acabou!"
              },
              {
                "start": "01:30",
                "end": "01:32",
                "text": "Só simplificar produto de frações, ó."
              },
              {
                "start": "01:32",
                "end": "01:36",
                "text": "Tchau, tchau, ficou dois, 60 por 30 deu dois."
              },
              {
                "start": "01:36",
                "end": "01:40",
                "text": "Posso simplificar aqui também, ó, 80 por 20 dá quatro."
              },
              {
                "start": "01:40",
                "end": "01:44",
                "text": "Ficando o quê? 10 sobre \"x\" igual a 4 sobre 2."
              },
              {
                "start": "01:45",
                "end": "01:46",
                "text": "Sandra, mentira!"
              },
              {
                "start": "01:46",
                "end": "01:47",
                "text": "Te digo, verdade!"
              },
              {
                "start": "01:47",
                "end": "01:54",
                "text": "Multipliquei cruzado, ó, 4x = 20, x = 20 sobre 4, logo cinco dias."
              },
              {
                "start": "01:54",
                "end": "02:01",
                "text": "Cinco dias serão necessários para haver essa situação e ela ser verdade, friends."
              },
              {
                "start": "02:01",
                "end": "02:04",
                "text": "Dá o print que o quadro é seu e ótima semana para você!"
              },
              {
                "start": "02:04",
                "end": "02:07",
                "text": "Deixe seu comentário, tamo junto e rumo ao topo!"
              },
              {
                "start": "02:08",
                "end": "02:09",
                "text": "Valeu, friends!"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "ebe7e332-a883-4187-b21c-5d72387e53f3",
  "activeVersionId": null,
  "versionCounter": 38,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T13:28:13.005Z",
      "createdAt": "2025-12-09T13:28:13.005Z",
      "role": "workflow:owner",
      "workflowId": "MK7rNzunZjXzH6az",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}