backups/geral/logformagenteanalisecardsv1__aSZkShTxGabPRhhp.json
{
  "updatedAt": "2025-11-19T10:56:34.695Z",
  "createdAt": "2025-10-16T20:32:02.522Z",
  "id": "aSZkShTxGabPRhhp",
  "name": "LOG_Form_Agente_analise_cards_v1",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('On form submission1').item.json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        864
      ],
      "id": "d0544440-affc-4969-92ab-0a26dfa09805",
      "name": "Send a message",
      "webhookId": "9144d630-7e8c-4aec-843f-3ca2f2057f31",
      "credentials": {
        "gmailOAuth2": {
          "id": "7oUeNgUPlzGsXFJH",
          "name": "GMAIL_ndt"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Form2').item.json['Selecione a fase para análise'] }}",
                    "rightValue": "Backlog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "594ba91d-7bc6-4d2b-bd42-c4e9a648b00d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Backlog"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80e3d3e7-d42b-4c09-a6a9-3292dd9a10a0",
                    "leftValue": "={{ $('Form2').item.json['Selecione a fase para análise'] }}",
                    "rightValue": "Concluído",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Concluído"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1984,
        1248
      ],
      "id": "9853c6d5-3ab3-4df9-93c2-0db223c7a75e",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Requisitos analisados nos cards do Backlog']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1536,
        672
      ],
      "id": "2c8bac23-ab59-4eaa-8961-8c376565e533",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Métricas calculadas']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1536,
        1056
      ],
      "id": "2e41a51c-2626-4f7f-8a69-a37e9ea5ac68",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json['[\\'Requisitos analisados nos cards do Backlog\\']'].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        672
      ],
      "id": "b3c7fd96-01ec-48fe-9066-9d217a15771f",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        672
      ],
      "id": "394123ce-0089-4e2d-b215-edcf9ccd0418",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1088,
        672
      ],
      "id": "09fc2a56-9b77-4336-a44f-a3bbb6cf8647",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        768
      ],
      "id": "58619a0a-8c36-4e51-a5e0-f5e76728dac7",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json[\"['Métricas calculadas']\"].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        1056
      ],
      "id": "e80e4d65-b7e8-4d43-abc9-73a21f8b74d1",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        1056
      ],
      "id": "d6988ea9-3a10-4c94-ac95-a416b88d41e9",
      "name": "Merge2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1088,
        1056
      ],
      "id": "b93cd044-79e2-4095-9922-376342f5644a",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1152
      ],
      "id": "7e409a33-7acd-4649-987f-bd5a68e59241",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11fd777b-516a-43f2-a80c-d50403e56a91",
              "name": "backlog_reqs",
              "value": "={{ $json.data[0].backlog_reqs }}",
              "type": "object"
            },
            {
              "id": "26bdbda7-24c8-4e37-8767-98bf399a2d2b",
              "name": "backlog_metricas",
              "value": "={{ $json.data[1].backlog_metricas }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        864
      ],
      "id": "43307413-cf87-488c-a3c1-3b5a706d5473",
      "name": "Edit Fields16"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        864
      ],
      "id": "db89e6ea-2303-4d69-bd14-6fd787df6740",
      "name": "Merge5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        32,
        864
      ],
      "id": "a44dce79-4681-49dc-b137-4e15c0b7e527",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Requisitos analisados nos cards do Backlog",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Título presente"
                  },
                  {
                    "option": "Descrição presente"
                  },
                  {
                    "option": "Responsáveis definidos"
                  },
                  {
                    "option": "Tags definidas e descritivas"
                  },
                  {
                    "option": "Estimativa de esforço"
                  },
                  {
                    "option": "Pontos totais do card"
                  },
                  {
                    "option": "Data de criação"
                  },
                  {
                    "option": "Data prevista"
                  },
                  {
                    "option": "Data desejada"
                  },
                  {
                    "option": "Descrição completa (mínimo 20 caracteres e critérios de aceite mencionados)"
                  },
                  {
                    "option": "Vínculo ao projeto"
                  },
                  {
                    "option": "Alertas de idade: card parado > 7 dias no backlog"
                  },
                  {
                    "option": "Alertas de tempo de andamento: card em andamento > 10 horas"
                  },
                  {
                    "option": "Detecção de duplicados (similaridade de títulos > 70%)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Métricas calculadas",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Lead time (desde criação até hoje ou conclusão)"
                  },
                  {
                    "option": "Cycle time (tempo por fase)"
                  },
                  {
                    "option": "Throughput por fase"
                  },
                  {
                    "option": "Tempo médio por fase"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1760,
        864
      ],
      "id": "6f8ec144-06d1-4839-94e1-d6e7973ccf4b",
      "name": "Form1",
      "webhookId": "b0a9951f-9261-4d53-9476-cac6534689e4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092ef5a7-df90-45fa-b900-0189c7c59b16",
              "name": "titulo_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "970d17b5-fc01-40b1-b105-ae08de10b17b",
              "name": "descricao_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "49b86cc1-1be8-4b3a-8482-0090c60dc95f",
              "name": "responsaveis_definidos",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ae5d36d2-9825-4a54-aad6-4e70e0c594b3",
              "name": "tags_definidas_e_descritivas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1b3b2a94-ac71-46a7-995c-c356099c49e0",
              "name": "estimativa_de_esforco",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8dede399-c6e8-4832-b7de-c13703626911",
              "name": "pontos_totais_do_card",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "abcb50a5-7d0f-4b12-b384-370ec283e95d",
              "name": "data_de_criacao",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb571a07-46e0-4e21-8c95-0736e5dddec9",
              "name": "data_prevista",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a7b17a62-9f9c-4da4-a3a5-26dd534f71ec",
              "name": "data_desejada",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "358ef9ca-2cc4-4eb6-a4da-8213a814aa80",
              "name": "descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f8f9519c-2423-4a5b-88e0-c84490e6e6f0",
              "name": "vinculo_ao_projeto",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "4c48ab5f-43cd-48d8-9629-ae7309c9d956",
              "name": "alertas_de_idade_card_parado__7_dias_no_backlog",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "7ad33289-38d1-4a3c-8a69-c7a432d0b363",
              "name": "alertas_de_tempo_de_andamento_card_em_andamento__10_horas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b9f033a2-0741-4a9f-b28c-4f722b016ddd",
              "name": "deteccao_de_duplicados_similaridade_de_titulos__70",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        576
      ],
      "id": "84795f5a-a0b6-44af-81c0-6bcbbc0e7256",
      "name": "Edit Fields19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "128b992e-4956-4fb4-9159-d453ff6d8331",
              "name": "backlog_reqs.titulo_presente",
              "value": "={{ $json.titulo_presente }}",
              "type": "boolean"
            },
            {
              "id": "b190c443-524a-47fd-9a2e-c72626745e6e",
              "name": "backlog_reqs.descricao_presente",
              "value": "={{ $json.descricao_presente }}",
              "type": "boolean"
            },
            {
              "id": "8b5e6142-8e57-4ffb-b03c-8adb4e2d7c59",
              "name": "backlog_reqs.responsaveis_definidos",
              "value": "={{ $json.responsaveis_definidos }}",
              "type": "boolean"
            },
            {
              "id": "a2cf067c-b6e2-4851-b00c-48e0099e505b",
              "name": "backlog_reqs.tags_definidas_e_descritivas",
              "value": "={{ $json.tags_definidas_e_descritivas }}",
              "type": "boolean"
            },
            {
              "id": "40c90cf9-4a44-481b-88b1-2c111cd193d0",
              "name": "backlog_reqs.estimativa_de_esforco",
              "value": "={{ $json.estimativa_de_esforco }}",
              "type": "boolean"
            },
            {
              "id": "18b9a954-fdf5-457f-ba8c-968d01597161",
              "name": "backlog_reqs.pontos_totais_do_card",
              "value": "={{ $json.pontos_totais_do_card }}",
              "type": "boolean"
            },
            {
              "id": "a05d0263-cdd3-4349-a340-485ea6f58684",
              "name": "backlog_reqs.data_de_criacao",
              "value": "={{ $json.data_de_criacao }}",
              "type": "boolean"
            },
            {
              "id": "04f1d05c-5ac8-45f6-b373-73bc5b60c6e6",
              "name": "backlog_reqs.data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "boolean"
            },
            {
              "id": "f82dcf22-1f1b-4cff-88b4-ffdb6445d95e",
              "name": "backlog_reqs.data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "boolean"
            },
            {
              "id": "c478c9db-c66e-4a61-a0b0-753191b692e1",
              "name": "backlog_reqs.descricao_completa",
              "value": "={{ $json.descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados }}",
              "type": "boolean"
            },
            {
              "id": "80a004bb-4d2e-4599-bea6-fb083e30bb4a",
              "name": "backlog_reqs.vinculo_ao_projeto",
              "value": "={{ $json.vinculo_ao_projeto }}",
              "type": "boolean"
            },
            {
              "id": "8e2b334e-2cb0-46d5-8507-249c6ed74693",
              "name": "backlog_reqs.alertas_de_idade_do_card",
              "value": "={{ $json.alertas_de_idade_card_parado__7_dias_no_backlog }}",
              "type": "boolean"
            },
            {
              "id": "29640274-f83c-40fd-838d-2e48f3815b8f",
              "name": "backlog_reqs.alertas_de_tempo_de_andamento",
              "value": "={{ $json.alertas_de_tempo_de_andamento_card_em_andamento__10_horas }}",
              "type": "boolean"
            },
            {
              "id": "29e98b9e-8496-46a1-8ca1-a51e43925180",
              "name": "backlog_reqs.deteccao_de_similares",
              "value": "={{ $json.deteccao_de_duplicados_similaridade_de_titulos__70 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        672
      ],
      "id": "3f8717b5-5edc-46d3-9302-391283fa0546",
      "name": "Edit Fields20"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"lead_time_desde_criacao_ate_hoje_ou_conclusao\": false,\n\"cycle_time_tempo_por_fase\": false,\n\"throughput_por_fase\": false,\n\"tempo_medio_por_fase\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        960
      ],
      "id": "0865d7f1-05ff-440c-ae09-3a7a7cf83c3d",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35cc9e46-7bf3-4ff7-a1fb-3c7151fc407b",
              "name": "backlog_metricas.lead_time",
              "value": "={{ $json.lead_time_desde_criacao_ate_hoje_ou_conclusao }}",
              "type": "boolean"
            },
            {
              "id": "e8132cd7-6d31-4b84-8fa2-587d4d26112d",
              "name": "backlog_metricas.cycle_time",
              "value": "={{ $json.cycle_time_tempo_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "82593eb3-2cc8-41de-a7dd-933babc42e70",
              "name": "backlog_metricas.throughput_por_fase",
              "value": "={{ $json.throughput_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "61c8e4f7-da6e-4bf8-938e-b89ea724c095",
              "name": "backlog_metricas.tempo_medio_por_fase",
              "value": "={{ $json.tempo_medio_por_fase }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        1056
      ],
      "id": "030dbce3-fbdc-4d0f-9180-76a491ed84eb",
      "name": "Edit Fields21"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Assistente de Análise de Produtos",
        "formDescription": "Bem vindo(a)!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Selecione o produto desejado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Orbit"
                  },
                  {
                    "option": "Wagtail"
                  },
                  {
                    "option": "Auth"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "OKR do Produto",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx, .xls, .csv, .ods"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "path": "assistente_analise_produto",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -3104,
        1248
      ],
      "id": "f1c16829-20a3-444f-8b12-c4b42b4b5bc4",
      "name": "On form submission1",
      "webhookId": "cf9637aa-5219-420c-a68d-2599a7edc5e2",
      "credentials": {
        "httpBasicAuth": {
          "id": "kkloezk5E2NdLflp",
          "name": "Log_Form_teste"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "\"\"\"\nn8n Code (Python) — Map selected product to project ID and names.\n\nReads the form field \"Selecione o produto desejado\" from each input item and\nadds the fields:\n- \"projeto_id\" (int)\n- \"nome\" (str | null)\n- \"nome_completo\" (str | null)\n\nRules (from mensagem_morita.md):\n- Orbit   -> id=487, nome=\"Squad Assessment\", nome_completo=\"Logbit - Squad Assessment\"\n- Wagtail -> id=256, nome=\"Squad Wagtail\",   nome_completo=\"Logbit - Squad Wagtail\"\n- Logfiles -> id=0,   nome=None,               nome_completo=None (desconhecido)\n- Master   -> id=0,   nome=None,               nome_completo=None (desconhecido)\n- Auth     -> id=741, nome=\"MVP Auth 2.0\",    nome_completo=\"Logbit - MVP Auth 2.0\" (usar opção A)\n\nIf the product is not recognized, assign id=0 and names as None.\n\"\"\"\n\n# Mapping normalized to lowercase keys\nPRODUCT_TO_PROJECT = {\n    \"orbit\": {\n        \"id\": 487,\n        \"nome\": \"Squad Assessment\",\n        \"nome_completo\": \"Logbit - Squad Assessment\",\n    },\n    \"wagtail\": {\n        \"id\": 256,\n        \"nome\": \"Squad Wagtail\",\n        \"nome_completo\": \"Logbit - Squad Wagtail\",\n    },\n    \"logfiles\": {\n        \"id\": 0,\n        \"nome\": None,\n        \"nome_completo\": None,\n    },\n    \"master\": {\n        \"id\": 0,\n        \"nome\": None,\n        \"nome_completo\": None,\n    },\n    \"auth\": {\n        \"id\": 741,  # opção A\n        \"nome\": \"MVP Auth 2.0\",\n        \"nome_completo\": \"Logbit - MVP Auth 2.0\",\n    },\n}\n\n\n# Iterate items and set \"projeto_id\"\nfor item in _input.all():\n    # Convert JsProxy to native dict if needed\n    try:\n        data = item.json.to_py()\n    except Exception:\n        data = item.json\n\n    selected = None\n    # Access by exact field label from the form\n    try:\n        selected = data.get(\"Selecione o produto desejado\")\n    except Exception:\n        selected = None\n\n    if isinstance(selected, str):\n        key = selected.strip().lower()\n    else:\n        key = None\n\n    prod = PRODUCT_TO_PROJECT.get(key)\n\n    if prod is None:\n        projeto_id = 0\n        nome = None\n        nome_completo = None\n    else:\n        projeto_id = int(prod.get(\"id\", 0))\n        nome = prod.get(\"nome\")\n        nome_completo = prod.get(\"nome_completo\")\n\n    # Assign new fields back to the item JSON\n    item.json[\"projeto_id\"] = projeto_id\n    item.json[\"nome\"] = nome\n    item.json[\"nome_completo\"] = nome_completo\n\n# Return updated items\nreturn _input.all()\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        1248
      ],
      "id": "a3ac6039-943b-4085-bb54-a6ab43b64cde",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ $json.fieldsString }}",
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -2432,
        1248
      ],
      "id": "9a5e33f6-75ed-4495-916a-a593ee461245",
      "name": "Form2",
      "webhookId": "631464f8-5236-4f97-b7f9-90dcdd10c39f"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "\"\"\"\nGera dinamicamente o JSON de campos para o próximo node Form, com base na\nentrada vinda do form anterior + mapeamento já aplicado no node Python\n(`projeto_id`, `nome`, `nome_completo`).\n\nEntrada esperada (exemplo):\n[\n  {\n    \"Selecione o produto desejado\": \"Wagtail\",\n    \"submittedAt\": \"2025-10-23T11:50:36.173-03:00\",\n    \"formMode\": \"test\",\n    \"projeto_id\": 256,\n    \"nome\": \"Squad Wagtail\",\n    \"nome_completo\": \"Logbit - Squad Wagtail\"\n  }\n]\n\nSaída: item único por entrada, contendo:\n- `fields`: array (objeto) com os campos no formato aceito pelo node Form (defineForm=json)\n- `fieldsString`: string JSON, pronta para colar no node Form\n\nRegras:\n- Se `projeto_id` == 0: exibe aviso (HTML) e checkbox \"Escolher outro produto\".\n- Caso contrário: exibe dropdown \"Selecione o projeto\" com as opções pelo nome.\n  - Quando houver apenas 1 opção, o dropdown contém apenas essa opção (single select).\n\"\"\"\n\nimport json\n\n\ndef to_dict(maybe_proxy):\n    try:\n        return maybe_proxy.to_py()\n    except Exception:\n        return maybe_proxy\n\n\ndef build_fields_from_item(data):\n    projeto_id = data.get(\"projeto_id\")\n    nome = data.get(\"nome\")\n    nome_completo = data.get(\"nome_completo\")\n\n    try:\n        projeto_id_int = int(projeto_id) if projeto_id is not None else 0\n    except Exception:\n        projeto_id_int = 0\n\n    # Caso sem iniciativa associada ao produto\n    if projeto_id_int == 0:\n        return [\n            {\n                \"fieldType\": \"html\",\n                \"elementName\": \"aviso_sem_iniciativas\",\n                \"html\": (\n                    \"<div style=\\\"padding:8px 12px; border:1px solid #f6dcb7; \"\n                    \"background:#fefaf6; color:#e6a23d; border-radius:6px;\\\">\"\n                    \"Ainda não foram associadas iniciativas nesse produto.\"\n                    \"</div>\"\n                ),\n            },\n            {\n                \"fieldLabel\": \"Escolher outro produto\",\n                \"fieldType\": \"checkbox\",\n                \"fieldOptions\": {\n                    \"values\": [\n                        {\"option\": \"Sim\"}\n                    ]\n                },\n            },\n        ]\n\n    # Com iniciativa(s): montar dropdown com os nomes disponíveis\n    option_label = None\n    if isinstance(nome, str) and nome.strip():\n        option_label = nome.strip()\n    elif isinstance(nome_completo, str) and nome_completo.strip():\n        # fallback amigável\n        option_label = nome_completo.strip()\n    else:\n        option_label = f\"Projeto {projeto_id_int}\"\n\n    fields = [\n        {\n            \"fieldLabel\": \"Selecione a iniciativa\",\n            \"fieldType\": \"dropdown\",\n            \"fieldOptions\": {\n                \"values\": [\n                    {\"option\": option_label}\n                ]\n            },\n            \"multiselect\": False,\n            \"requiredField\": True,\n        }\n    ]\n\n    # Dropdown adicional: Concluídos vs Backlog\n    fields.append(\n        {\n            \"fieldLabel\": \"Selecione a fase para análise\",\n            \"fieldType\": \"dropdown\",\n            \"fieldOptions\": {\n                \"values\": [\n                    {\"option\": \"Backlog\"},\n                    {\"option\": \"Concluídos\"}\n                ]\n            },\n            \"multiselect\": False,\n            \"requiredField\": True,\n        }\n    )\n\n    return fields\n\n\nout_items = []\nfor item in _input.all():\n    data = to_dict(getattr(item, \"json\", {}))\n    if not isinstance(data, dict):\n        data = {}\n\n    fields = build_fields_from_item(data)\n    payload = {\n        \"fields\": fields,\n        # Conveniência: string pronta para copiar e colar no node Form\n        \"fieldsString\": json.dumps(fields, ensure_ascii=False, indent=2),\n    }\n    out_items.append({\"json\": payload})\n\nreturn out_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        1248
      ],
      "id": "67f9527b-dc97-42e3-aa00-239ab3f6662d",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38ec1335-0930-483b-851d-ecd642b7eb6a",
              "name": "fase",
              "value": "={{ $json['Selecione a fase do projeto para análise']?1:6 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        1248
      ],
      "id": "eb3dd312-8168-4032-8705-f0a5246e5021",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0KkK1Qgl3hvhrtvf",
          "mode": "list",
          "cachedResultUrl": "/workflow/0KkK1Qgl3hvhrtvf",
          "cachedResultName": "LOG_Workf_Agente_analise_cards_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto": "={{ $('Code in Python (Beta)').item.json.projeto_id }}",
            "fase": "={{ $('Edit Fields1').item.json.fase }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projeto",
              "displayName": "projeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        864
      ],
      "id": "1782df60-699e-478e-b397-43e64b2bb310",
      "name": "Call 'LOG_Workf_Agente_analise_cards_v1'"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Requisitos analisados nos cards Concluídos']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1536,
        1440
      ],
      "id": "1a61c820-f943-4592-bd7b-7f17a356603f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Métricas calculadas']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1536,
        1824
      ],
      "id": "6ca5bcf9-ed72-4654-bb01-f5b04dc632a2",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json['[\\'Requisitos analisados nos cards Concluídos\\']'].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        1440
      ],
      "id": "4b93f7a4-02de-47d7-97cc-88c09d74bf5a",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        1440
      ],
      "id": "ee6439be-234a-47a5-9f04-4927890673df",
      "name": "Merge4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1088,
        1440
      ],
      "id": "e5559c89-c60d-4e5b-9bd9-4e9ce5748ccd",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1536
      ],
      "id": "a6895750-6bcf-4adc-acb9-29b6eb7f20d2",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json[\"['Métricas calculadas']\"].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        1824
      ],
      "id": "176ca639-d259-4ef0-af17-15fc085e6ec1",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        1824
      ],
      "id": "5f060983-0717-46ed-bb3d-09766aebc13b",
      "name": "Merge7"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1088,
        1824
      ],
      "id": "e22a2c8e-de75-4a6c-8daa-b3110dfcd600",
      "name": "Aggregate8"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1920
      ],
      "id": "f5f351b1-bcf0-4310-8df3-3806813d1862",
      "name": "Edit Fields14"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Requisitos analisados nos cards Concluídos",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Título presente"
                  },
                  {
                    "option": "Descrição presente"
                  },
                  {
                    "option": "Responsáveis definidos"
                  },
                  {
                    "option": "Tags definidas e descritivas"
                  },
                  {
                    "option": "Estimativa de esforço"
                  },
                  {
                    "option": "Pontos totais do card"
                  },
                  {
                    "option": "Data de criação"
                  },
                  {
                    "option": "Data prevista"
                  },
                  {
                    "option": "Data desejada"
                  },
                  {
                    "option": "Descrição completa (mínimo 20 caracteres e critérios de aceite mencionados)"
                  },
                  {
                    "option": "Vínculo ao projeto"
                  },
                  {
                    "option": "Alertas de idade: card parado > 7 dias no backlog"
                  },
                  {
                    "option": "Alertas de tempo de andamento: card em andamento > 10 horas"
                  },
                  {
                    "option": "Detecção de duplicados (similaridade de títulos > 70%)"
                  },
                  {
                    "option": "Avaliação de qualidade via IA"
                  },
                  {
                    "option": "Documentação final via IA"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Métricas calculadas",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Lead time (desde criação até hoje ou conclusão)"
                  },
                  {
                    "option": "Cycle time (tempo por fase)"
                  },
                  {
                    "option": "Throughput por fase"
                  },
                  {
                    "option": "Tempo médio por fase"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1760,
        1632
      ],
      "id": "521081c0-6fee-4523-b9da-e4cd0445fde4",
      "name": "Form",
      "webhookId": "b0a9951f-9261-4d53-9476-cac6534689e4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092ef5a7-df90-45fa-b900-0189c7c59b16",
              "name": "titulo_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "970d17b5-fc01-40b1-b105-ae08de10b17b",
              "name": "descricao_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "49b86cc1-1be8-4b3a-8482-0090c60dc95f",
              "name": "responsaveis_definidos",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ae5d36d2-9825-4a54-aad6-4e70e0c594b3",
              "name": "tags_definidas_e_descritivas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1b3b2a94-ac71-46a7-995c-c356099c49e0",
              "name": "estimativa_de_esforco",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8dede399-c6e8-4832-b7de-c13703626911",
              "name": "pontos_totais_do_card",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "abcb50a5-7d0f-4b12-b384-370ec283e95d",
              "name": "data_de_criacao",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb571a07-46e0-4e21-8c95-0736e5dddec9",
              "name": "data_prevista",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a7b17a62-9f9c-4da4-a3a5-26dd534f71ec",
              "name": "data_desejada",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "358ef9ca-2cc4-4eb6-a4da-8213a814aa80",
              "name": "descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f8f9519c-2423-4a5b-88e0-c84490e6e6f0",
              "name": "vinculo_ao_projeto",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "4c48ab5f-43cd-48d8-9629-ae7309c9d956",
              "name": "alertas_de_idade_card_parado__7_dias_no_backlog",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "7ad33289-38d1-4a3c-8a69-c7a432d0b363",
              "name": "alertas_de_tempo_de_andamento_card_em_andamento__10_horas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b9f033a2-0741-4a9f-b28c-4f722b016ddd",
              "name": "deteccao_de_duplicados_similaridade_de_titulos__70",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1a0d5a4a-6a7a-4f6c-b0a5-9a2f6b4c0001",
              "name": "avaliacao_de_qualidade_via_ia",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1a0d5a4a-6a7a-4f6c-b0a5-9a2f6b4c0002",
              "name": "documentacao_final_via_ia",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1344
      ],
      "id": "b7552807-7394-437f-9672-e58c3ecad5f3",
      "name": "Edit Fields26"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "128b992e-4956-4fb4-9159-d453ff6d8331",
              "name": "concluidos_reqs.titulo_presente",
              "value": "={{ $json.titulo_presente }}",
              "type": "boolean"
            },
            {
              "id": "b190c443-524a-47fd-9a2e-c72626745e6e",
              "name": "concluidos_reqs.descricao_presente",
              "value": "={{ $json.descricao_presente }}",
              "type": "boolean"
            },
            {
              "id": "8b5e6142-8e57-4ffb-b03c-8adb4e2d7c59",
              "name": "concluidos_reqs.responsaveis_definidos",
              "value": "={{ $json.responsaveis_definidos }}",
              "type": "boolean"
            },
            {
              "id": "a2cf067c-b6e2-4851-b00c-48e0099e505b",
              "name": "concluidos_reqs.tags_definidas_e_descritivas",
              "value": "={{ $json.tags_definidas_e_descritivas }}",
              "type": "boolean"
            },
            {
              "id": "40c90cf9-4a44-481b-88b1-2c111cd193d0",
              "name": "concluidos_reqs.estimativa_de_esforco",
              "value": "={{ $json.estimativa_de_esforco }}",
              "type": "boolean"
            },
            {
              "id": "18b9a954-fdf5-457f-ba8c-968d01597161",
              "name": "concluidos_reqs.pontos_totais_do_card",
              "value": "={{ $json.pontos_totais_do_card }}",
              "type": "boolean"
            },
            {
              "id": "a05d0263-cdd3-4349-a340-485ea6f58684",
              "name": "concluidos_reqs.data_de_criacao",
              "value": "={{ $json.data_de_criacao }}",
              "type": "boolean"
            },
            {
              "id": "04f1d05c-5ac8-45f6-b373-73bc5b60c6e6",
              "name": "concluidos_reqs.data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "boolean"
            },
            {
              "id": "f82dcf22-1f1b-4cff-88b4-ffdb6445d95e",
              "name": "concluidos_reqs.data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "boolean"
            },
            {
              "id": "c478c9db-c66e-4a61-a0b0-753191b692e1",
              "name": "concluidos_reqs.descricao_completa",
              "value": "={{ $json.descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados }}",
              "type": "boolean"
            },
            {
              "id": "80a004bb-4d2e-4599-bea6-fb083e30bb4a",
              "name": "concluidos_reqs.vinculo_ao_projeto",
              "value": "={{ $json.vinculo_ao_projeto }}",
              "type": "boolean"
            },
            {
              "id": "8e2b334e-2cb0-46d5-8507-249c6ed74693",
              "name": "concluidos_reqs.alertas_de_idade_do_card",
              "value": "={{ $json.alertas_de_idade_card_parado__7_dias_no_backlog }}",
              "type": "boolean"
            },
            {
              "id": "29640274-f83c-40fd-838d-2e48f3815b8f",
              "name": "concluidos_reqs.alertas_de_tempo_de_andamento",
              "value": "={{ $json.alertas_de_tempo_de_andamento_card_em_andamento__10_horas }}",
              "type": "boolean"
            },
            {
              "id": "29e98b9e-8496-46a1-8ca1-a51e43925180",
              "name": "concluidos_reqs.deteccao_de_similares",
              "value": "={{ $json.deteccao_de_duplicados_similaridade_de_titulos__70 }}",
              "type": "boolean"
            },
            {
              "id": "8f7a1d23-6a22-4a6b-9d5b-9d2a7b000003",
              "name": "concluidos_reqs.avaliacao_de_qualidade_via_ia",
              "value": "={{ $json.avaliacao_de_qualidade_via_ia }}",
              "type": "boolean"
            },
            {
              "id": "8f7a1d23-6a22-4a6b-9d5b-9d2a7b000004",
              "name": "concluidos_reqs.documentacao_final_via_ia",
              "value": "={{ $json.documentacao_final_via_ia }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        1440
      ],
      "id": "54cfb69f-a5be-4ab7-b19e-a9f444ce9518",
      "name": "Edit Fields27"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"lead_time_desde_criacao_ate_hoje_ou_conclusao\": false,\n\"cycle_time_tempo_por_fase\": false,\n\"throughput_por_fase\": false,\n\"tempo_medio_por_fase\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1728
      ],
      "id": "bdee322f-1ac0-4b3b-8daf-7c165642a65c",
      "name": "Edit Fields28"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35cc9e46-7bf3-4ff7-a1fb-3c7151fc407b",
              "name": "concluidos_metricas.lead_time",
              "value": "={{ $json.lead_time_desde_criacao_ate_hoje_ou_conclusao }}",
              "type": "boolean"
            },
            {
              "id": "e8132cd7-6d31-4b84-8fa2-587d4d26112d",
              "name": "concluidos_metricas.cycle_time",
              "value": "={{ $json.cycle_time_tempo_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "82593eb3-2cc8-41de-a7dd-933babc42e70",
              "name": "concluidos_metricas.throughput_por_fase",
              "value": "={{ $json.throughput_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "61c8e4f7-da6e-4bf8-938e-b89ea724c095",
              "name": "concluidos_metricas.tempo_medio_por_fase",
              "value": "={{ $json.tempo_medio_por_fase }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        1824
      ],
      "id": "009950fe-1c0e-46b8-b95a-65e8a471d582",
      "name": "Edit Fields29"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        1632
      ],
      "id": "1793a140-8be4-403d-8407-5d6181273948",
      "name": "Merge8"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission1').item.json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        1632
      ],
      "id": "1cb5d0e7-c508-4171-8763-4b8f9d9d55fd",
      "name": "Send a message2",
      "webhookId": "9144d630-7e8c-4aec-843f-3ca2f2057f31",
      "credentials": {
        "gmailOAuth2": {
          "id": "7oUeNgUPlzGsXFJH",
          "name": "GMAIL_ndt"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11fd777b-516a-43f2-a80c-d50403e56a91",
              "name": "concluido_reqs",
              "value": "={{ $json.data[0].concluidos_reqs }}",
              "type": "object"
            },
            {
              "id": "26bdbda7-24c8-4e37-8767-98bf399a2d2b",
              "name": "concluido_metricas",
              "value": "={{ $json.data[1].concluidos_metricas }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        1632
      ],
      "id": "0c5bbc52-89ad-40e4-8daf-d60c1fb85ba9",
      "name": "Edit Fields30"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        32,
        1632
      ],
      "id": "41de74f9-20ec-49fd-885a-09092f7afaf1",
      "name": "Aggregate9"
    },
    {
      "parameters": {
        "jsCode": "// Code (JavaScript) — e-mail dinâmico com input do agente (resultado) + seleção backlog_reqs/metricas\n// Patches: seleção de requisitos respeita \"tudo false\", % similaridade robusto, pt-BR nos números,\n// opção de contar duplicidade por \"cards\" (default) ou \"pairs\", rótulo throughput neutro e pequenos hardenings.\n\n// ---------- 1) Entrada ----------\nconst g = $json.data?.resultado || {};\nconst cards = Array.isArray(g.cards) ? g.cards : [];\n\n// Seleções vindas do fluxo de Concluídos\nconst selReq = ($json.concluido_reqs && typeof $json.concluido_reqs === \"object\") ? $json.concluido_reqs : {};\nconst selMet = ($json.concluido_metricas && typeof $json.concluido_metricas === \"object\") ? $json.concluido_metricas : {};\n\n// ---------- 2) Helpers ----------\nconst fmt = (n, d = 2) => (n == null || isNaN(n)) ? \"-\" :\n  Number(n).toLocaleString(\"pt-BR\", { minimumFractionDigits: d, maximumFractionDigits: d });\n\nconst toNum = (v) => (v == null ? null : Number(v));\n\nconst parseHHMMSSHours = (s) => {\n  if (!s || typeof s !== \"string\") return 0;\n  const [hh, mm, ss] = s.split(\":\").map(Number);\n  if ([hh, mm, ss].some(x => !Number.isFinite(x))) return 0;\n  return hh + (mm / 60) + (ss / 3600);\n};\n\n// 0–1 ou 0–10 -> %\nconst toPct = (raw, decimals = 0) => {\n  if (!Number.isFinite(raw)) return \"-\";\n  const pct = raw <= 1 ? raw * 100 : (raw <= 10 ? raw * 10 : raw); // heurística robusta\n  return `${pct.toFixed(decimals)}%`;\n};\n\n// ---------- 3) Derivados por card (requisitos do backlog) ----------\nfunction deriveReqFlags(card) {\n  const av = card.alertas_validacao || {};\n  const aged =\n    (Array.isArray(card.alertas) && card.alertas.some(a => a?.tipo === \"backlog_estagnado\" && Number(a?.dias) > 7)) ||\n    av.card_antigo_sem_priorizacao === true;\n\n  const horasAndamento = parseHHMMSSHours(card.tempo_decorrido);\n  const longRun = (card.em_andamento === true && horasAndamento > 10);\n\n  return {\n    titulo_presente: !av.sem_titulo,\n    descricao_presente: !av.sem_descricao,\n    responsaveis_definidos: !av.sem_responsaveis,\n    tags_definidas_e_descritivas: !av.sem_tags && !av.tags_pouco_descritivas,\n    estimativa_de_esforco: !av.sem_estimativa_esforco,\n    pontos_totais_do_card: !av.sem_pontos,\n    data_de_criacao: !av.sem_data_criacao,\n    data_prevista: !av.sem_data_prevista && !av.data_prevista_antes_criacao,\n    data_desejada: !av.sem_data_desejada,\n    descricao_completa: !av.descricao_curta && !av.sem_criterios_aceite,\n    vinculo_ao_projeto: !av.sem_vinculo_projeto,\n    alertas_de_idade_do_card: aged,             // true quando há problema\n    alertas_de_tempo_de_andamento: longRun,     // true quando há problema\n    // Concluídos: critérios adicionais\n    avaliacao_de_qualidade_via_ia: Number.isFinite(card?.avaliacao_ia?.nota),\n    documentacao_final_via_ia: !!(card?.documentacao_ia && String(card.documentacao_ia).trim().length > 0),\n    // deteccao_de_similares é backlog-wide\n  };\n}\n\n// ---------- 4) Duplicados backlog-wide ----------\nconst dupPairs = [];\n(g.alertas_gerais || []).forEach(entry => {\n  const arr = entry?.similaridade_titulo;\n  if (Array.isArray(arr)) arr.forEach(p => dupPairs.push(p));\n});\n\nconst dupCardIds = new Set();\ndupPairs.forEach(p => {\n  const cs = Array.isArray(p.cards) ? p.cards : [];\n  cs.forEach(pair => {\n    const id = Array.isArray(pair) ? pair[0] : null;\n    if (id != null) dupCardIds.add(id);\n  });\n});\n\n// Similaridade textual\nconst possiveisDuplicados = dupPairs.map(p => {\n  const [a, b] = p.cards || [];\n  const sA = Array.isArray(a) ? `#${a[0]} — ${a[1]}` : String(a ?? \"\");\n  const sB = Array.isArray(b) ? `#${b[0]} — ${b[1]}` : String(b ?? \"\");\n  const simTxt = toPct(Number(p.grau_de_similaridade), 0);\n  return `${sA} ↔ ${sB} (sim: ${simTxt})`;\n});\n\n// ---------- 5) Seleção dinâmica ----------\nconst ALL_REQ = [\n  \"titulo_presente\",\n  \"descricao_presente\",\n  \"responsaveis_definidos\",\n  \"tags_definidas_e_descritivas\",\n  \"estimativa_de_esforco\",\n  \"pontos_totais_do_card\",\n  \"data_de_criacao\",\n  \"data_prevista\",\n  \"data_desejada\",\n  \"descricao_completa\",\n  \"vinculo_ao_projeto\",\n  \"alertas_de_idade_do_card\",\n  \"alertas_de_tempo_de_andamento\",\n  \"deteccao_de_similares\",\n  // Concluídos extras\n  \"avaliacao_de_qualidade_via_ia\",\n  \"documentacao_final_via_ia\",\n];\n\n// PATCH: respeitar quando o objeto existe mas tudo está false (não exibir nada)\nconst hasReqConfig = Object.keys(selReq).length > 0;\nconst selectedReq = hasReqConfig ? Object.keys(selReq).filter(k => selReq[k]) : [];\nconst REQS_TO_SHOW = hasReqConfig ? selectedReq : ALL_REQ;\n\n// Switch para contagem de duplicados: \"cards\" (únicos impactados) ou \"pairs\" (pares detectados)\nconst COUNT_DUP_MODE = \"cards\"; // \"cards\" | \"pairs\"\n\nconst PRETTY = {\n  titulo_presente: \"Título presente\",\n  descricao_presente: \"Descrição presente\",\n  responsaveis_definidos: \"Responsáveis definidos\",\n  tags_definidas_e_descritivas: \"Tags definidas e descritivas\",\n  estimativa_de_esforco: \"Estimativa de esforço (orçado)\",\n  pontos_totais_do_card: \"Pontos totais do card\",\n  data_de_criacao: \"Data de criação\",\n  data_prevista: \"Data prevista\",\n  data_desejada: \"Data desejada\",\n  descricao_completa: \"Descrição completa (≥20 + critérios de aceite)\",\n  vinculo_ao_projeto: \"Vínculo ao projeto\",\n  alertas_de_idade_do_card: \"Alertas: parado > 7 dias (Backlog)\",\n  alertas_de_tempo_de_andamento: \"Alertas: em andamento > 10 horas\",\n  deteccao_de_similares:\n    COUNT_DUP_MODE === \"pairs\"\n      ? \"Detecção de duplicados (pares)\"\n      : \"Detecção de duplicados (cards impactados)\",\n  // Concluídos extras\n  avaliacao_de_qualidade_via_ia: \"Avaliação de qualidade via IA\",\n  documentacao_final_via_ia: \"Documentação final via IA\",\n};\n\n// ---------- 6) Estatísticas por requisito ----------\nconst derived = cards.map(deriveReqFlags);\nconst total = cards.length;\n\nfunction reqPendentesCount(key) {\n  if (key === \"deteccao_de_similares\") {\n    return COUNT_DUP_MODE === \"pairs\" ? dupPairs.length : dupCardIds.size;\n  }\n  const isAlertKey = (key === \"alertas_de_idade_do_card\" || key === \"alertas_de_tempo_de_andamento\");\n  return derived.filter(d => {\n    const v = d[key];\n    if (v == null) return true;                 // ausente = pendente\n    return isAlertKey ? v === true : v === false;\n  }).length;\n}\n\nconst reqStats = REQS_TO_SHOW.map(key => {\n  const pendentes = reqPendentesCount(key);\n  const ok = Math.max(0, total - pendentes);\n  return { key, label: PRETTY[key] || key, ok, pendentes, total };\n});\n\n// ---------- 7) Métricas agregadas ----------\nconst leadVals = cards.map(c => toNum(c.lead_time)).filter(v => Number.isFinite(v));\nconst leadAvg = leadVals.length ? (leadVals.reduce((a, b) => a + b, 0) / leadVals.length) : null;\n\n// Top 5 por lead_time (se métrica estiver selecionada)\nconst TOP_N = 5;\nconst topLead = (selMet.lead_time !== false) && leadVals.length\n  ? [...cards].filter(c => Number.isFinite(c.lead_time))\n    .sort((a, b) => b.lead_time - a.lead_time)\n    .slice(0, TOP_N)\n  : [];\n\nconst tempoMedioBacklog = g.metrica_qualidade?.tempo_medio_por_fase_dia ?? null;\nconst throughputBacklog = g.metrica_qualidade?.throughput ?? null;\n\n// ---------- 8) Subject ----------\nconst projetoNome = g.projeto?.nome || \"Projeto\";\nconst fase = g.fase || \"Backlog\";\nconst totalCards = Number.isFinite(g.total_cards) ? g.total_cards : cards.length;\nconst subject = `${projetoNome} — análise dinâmica (${totalCards} cards)`;\n\n// ---------- 9) HTML ----------\nconst styleTable = \"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.35;color:#111;\";\nlet html = `\\\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"${styleTable}\">\n<tr><td style=\"padding:16px 0;\">\n  <h1 style=\"margin:0 0 8px 0;font-size:18px;\">${projetoNome} — Análise de Cards</h1>\n  <div style=\"color:#555;\">${new Date().toLocaleDateString(\"pt-BR\")} • Fase: <strong>${fase}</strong></div>\n</td></tr>\n\n<tr><td style=\"padding:12px;background:#f8f9fa;border:1px solid #eee;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">`;\n\nconst addRow = (label, valueHtml) => {\n  html += `\n<tr>\n  <td style=\"padding:6px;border-bottom:1px solid #eee;\">${label}</td>\n  <td style=\"padding:6px;text-align:right;border-bottom:1px solid #eee;\">${valueHtml}</td>\n</tr>`;\n};\n\n// Bloco resumo\naddRow(\"Total de cards\", `<strong>${fmt(totalCards, 0)}</strong>`);\n\n// Exibe \"No Backlog\" só quando não for redundante\nif ((String(fase || \"\")).toLowerCase() !== \"backlog\" || totalCards !== total) {\n  addRow(\"No Backlog\", `<strong>${fmt(total, 0)}</strong>`);\n}\n\nif (selMet.tempo_medio_por_fase !== false && tempoMedioBacklog != null) {\n  addRow(\"Tempo médio no Backlog (dias)\", `<strong>${fmt(tempoMedioBacklog, 2)}</strong>`);\n}\nif (selMet.lead_time !== false && leadAvg != null) {\n  addRow(\"Lead time médio (cards selecionados)\", `<strong>${fmt(leadAvg, 2)}</strong> <span style=\"color:#666\">dias</span>`);\n}\nif (selMet.throughput_por_fase !== false && throughputBacklog != null) {\n  addRow(\"Throughput\", `<strong>${fmt(throughputBacklog, 0)}</strong>`);\n}\n\nhtml += `</table></td></tr>`;\n\n// Seção requisitos (qualidade/alertas)\nif (reqStats.length) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Qualidade de cadastro</h2>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #eee;\">\n    <tr style=\"background:#fafafa;\">\n      <td style=\"padding:6px;border-bottom:1px solid #eee;\">Requisito</td>\n      <td style=\"padding:6px;border-bottom:1px solid #eee;text-align:right;\">OK</td>\n      <td style=\"padding:6px;border-bottom:1px solid #eee;text-align:right;\">Pendências</td>\n    </tr>`;\n\n  for (const r of reqStats) {\n    html += `\n    <tr>\n      <td style=\"padding:6px;border-top:1px solid #eee;\">${r.label}</td>\n      <td style=\"padding:6px;border-top:1px solid #eee;text-align:right;color:#0a8;\"><strong>${fmt(r.ok, 0)}</strong></td>\n      <td style=\"padding:6px;border-top:1px solid #eee;text-align:right;color:#b00;\"><strong>${fmt(r.pendentes, 0)}</strong></td>\n    </tr>`;\n  }\n\n  html += `\n  </table>\n</td></tr>`;\n}\n\n// Top lead_time (se métrica selecionada)\nif (selMet.lead_time !== false && topLead.length) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Prioridades por lead time</h2>\n  <ol style=\"margin:0 0 0 18px;padding:0;\">`;\n  for (const c of topLead) {\n    html += `<li style=\"margin:4px 0;\">\n      <strong>#${c.id}</strong> — ${c.titulo || \"(sem título)\"} \n      <span style=\"color:#666\">(${fmt(c.lead_time, 0)} dias)</span>\n    </li>`;\n  }\n  html += `</ol>\n</td></tr>`;\n}\n\n// Seção alertas do Backlog (só o que foi selecionado)\nconst showTempoAnd = ($json.concluido_reqs?.alertas_de_tempo_de_andamento ?? true);\nconst showDups = ($json.concluido_reqs?.deteccao_de_similares ?? true);\n\nconst longRunCards = cards\n  .map(c => ({ c, horas: parseHHMMSSHours(c.tempo_decorrido) }))\n  .filter(x => x.c.em_andamento === true && x.horas > 10)\n  .sort((a, b) => b.horas - a.horas)\n  .map(x => ({ id: x.c.id, titulo: x.c.titulo || \"(sem título)\", horas: x.horas }));\n\nconst qtdTempoAnd = longRunCards.length;\n\nconst temAlertasSection =\n  (showTempoAnd && qtdTempoAnd > 0) ||\n  (showDups && possiveisDuplicados.length > 0);\n\nif (temAlertasSection) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Alertas do Backlog</h2>`;\n  if (showTempoAnd && qtdTempoAnd > 0) {\n    html += `<div style=\"margin:6px 0;\"><strong>Em andamento há muito tempo:</strong> ${fmt(qtdTempoAnd, 0)} ocorrência(s).</div>`;\n    const MAX_LIST = 10;\n    html += `<ul style=\"margin:4px 0 0 18px;padding:0;\">${\n      longRunCards.slice(0, MAX_LIST).map(c =>\n        `<li><strong>#${c.id}</strong> — ${c.titulo} <span style=\"color:#666\">(${fmt(c.horas, 1)} h)</span></li>`\n      ).join(\"\")\n    }</ul>`;\n  }\n  if (showDups && possiveisDuplicados.length) {\n    html += `<div style=\"margin:6px 0;\"><strong>Possíveis duplicados:</strong></div>\n             <ul style=\"margin:4px 0 0 18px;padding:0;\">\n               ${possiveisDuplicados.map(s => `<li>${String(s)}</li>`).join(\"\")}\n             </ul>`;\n  }\n  html += `</td></tr>`;\n}\n\n// Rodapé\nhtml += `\n<tr><td style=\"padding-top:16px;color:#666;font-size:12px;\">\n  Relatório gerado automaticamente conforme seleção do formulário.\n</td></tr>\n</table>`;\n\n// ---------- 10) Saída ----------\nreturn [{ json: { subject, html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1632
      ],
      "id": "6d63e9b8-e4a8-4814-b0b2-ddd9637f5553",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0KkK1Qgl3hvhrtvf",
          "mode": "list",
          "cachedResultUrl": "/workflow/0KkK1Qgl3hvhrtvf",
          "cachedResultName": "LOG_Workf_Agente_analise_cards_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto": "={{ $('Code in Python (Beta)').item.json.projeto_id }}",
            "fase": "={{ $('Edit Fields1').item.json.fase }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projeto",
              "displayName": "projeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        1632
      ],
      "id": "b3e31633-03cd-4f37-af0e-2a602c04f853",
      "name": "Call 'LOG_Workf_Agente_analise_cards_v1'1"
    },
    {
      "parameters": {
        "jsCode": "// Code (JavaScript) — e-mail dinâmico com input do agente (resultado) + seleção backlog_reqs/metricas\n// Patches: seleção de requisitos respeita \"tudo false\", % similaridade robusto, pt-BR nos números,\n// opção de contar duplicidade por \"cards\" (default) ou \"pairs\", rótulo throughput neutro e pequenos hardenings.\n\n// ---------- 1) Entrada ----------\nconst g = $json.data?.resultado || {};\nconst cards = Array.isArray(g.cards) ? g.cards : [];\n\nconst selReq = ($json.backlog_reqs && typeof $json.backlog_reqs === \"object\") ? $json.backlog_reqs : {};\nconst selMet = ($json.backlog_metricas && typeof $json.backlog_metricas === \"object\") ? $json.backlog_metricas : {};\n\n// ---------- 2) Helpers ----------\nconst fmt = (n, d = 2) => (n == null || isNaN(n)) ? \"-\" :\n  Number(n).toLocaleString(\"pt-BR\", { minimumFractionDigits: d, maximumFractionDigits: d });\n\nconst toNum = (v) => (v == null ? null : Number(v));\n\nconst parseHHMMSSHours = (s) => {\n  if (!s || typeof s !== \"string\") return 0;\n  const [hh, mm, ss] = s.split(\":\").map(Number);\n  if ([hh, mm, ss].some(x => !Number.isFinite(x))) return 0;\n  return hh + (mm / 60) + (ss / 3600);\n};\n\n// 0–1 ou 0–10 -> %\nconst toPct = (raw, decimals = 0) => {\n  if (!Number.isFinite(raw)) return \"-\";\n  const pct = raw <= 1 ? raw * 100 : (raw <= 10 ? raw * 10 : raw); // heurística robusta\n  return `${pct.toFixed(decimals)}%`;\n};\n\n// ---------- 3) Derivados por card (requisitos do backlog) ----------\nfunction deriveReqFlags(card) {\n  const av = card.alertas_validacao || {};\n  const aged =\n    (Array.isArray(card.alertas) && card.alertas.some(a => a?.tipo === \"backlog_estagnado\" && Number(a?.dias) > 7)) ||\n    av.card_antigo_sem_priorizacao === true;\n\n  const horasAndamento = parseHHMMSSHours(card.tempo_decorrido);\n  const longRun = (card.em_andamento === true && horasAndamento > 10);\n\n  return {\n    titulo_presente: !av.sem_titulo,\n    descricao_presente: !av.sem_descricao,\n    responsaveis_definidos: !av.sem_responsaveis,\n    tags_definidas_e_descritivas: !av.sem_tags && !av.tags_pouco_descritivas,\n    estimativa_de_esforco: !av.sem_estimativa_esforco,\n    pontos_totais_do_card: !av.sem_pontos,\n    data_de_criacao: !av.sem_data_criacao,\n    data_prevista: !av.sem_data_prevista && !av.data_prevista_antes_criacao,\n    data_desejada: !av.sem_data_desejada,\n    descricao_completa: !av.descricao_curta && !av.sem_criterios_aceite,\n    vinculo_ao_projeto: !av.sem_vinculo_projeto,\n    alertas_de_idade_do_card: aged,             // true quando há problema\n    alertas_de_tempo_de_andamento: longRun,     // true quando há problema\n    // deteccao_de_similares é backlog-wide\n  };\n}\n\n// ---------- 4) Duplicados backlog-wide ----------\nconst dupPairs = [];\n(g.alertas_gerais || []).forEach(entry => {\n  const arr = entry?.similaridade_titulo;\n  if (Array.isArray(arr)) arr.forEach(p => dupPairs.push(p));\n});\n\nconst dupCardIds = new Set();\ndupPairs.forEach(p => {\n  const cs = Array.isArray(p.cards) ? p.cards : [];\n  cs.forEach(pair => {\n    const id = Array.isArray(pair) ? pair[0] : null;\n    if (id != null) dupCardIds.add(id);\n  });\n});\n\n// Similaridade textual\nconst possiveisDuplicados = dupPairs.map(p => {\n  const [a, b] = p.cards || [];\n  const sA = Array.isArray(a) ? `#${a[0]} — ${a[1]}` : String(a ?? \"\");\n  const sB = Array.isArray(b) ? `#${b[0]} — ${b[1]}` : String(b ?? \"\");\n  const simTxt = toPct(Number(p.grau_de_similaridade), 0);\n  return `${sA} ↔ ${sB} (sim: ${simTxt})`;\n});\n\n// ---------- 5) Seleção dinâmica ----------\nconst ALL_REQ = [\n  \"titulo_presente\",\n  \"descricao_presente\",\n  \"responsaveis_definidos\",\n  \"tags_definidas_e_descritivas\",\n  \"estimativa_de_esforco\",\n  \"pontos_totais_do_card\",\n  \"data_de_criacao\",\n  \"data_prevista\",\n  \"data_desejada\",\n  \"descricao_completa\",\n  \"vinculo_ao_projeto\",\n  \"alertas_de_idade_do_card\",\n  \"alertas_de_tempo_de_andamento\",\n  \"deteccao_de_similares\",\n];\n\n// PATCH: respeitar quando o objeto existe mas tudo está false (não exibir nada)\nconst hasReqConfig = Object.keys(selReq).length > 0;\nconst selectedReq = hasReqConfig ? Object.keys(selReq).filter(k => selReq[k]) : [];\nconst REQS_TO_SHOW = hasReqConfig ? selectedReq : ALL_REQ;\n\n// Switch para contagem de duplicados: \"cards\" (únicos impactados) ou \"pairs\" (pares detectados)\nconst COUNT_DUP_MODE = \"cards\"; // \"cards\" | \"pairs\"\n\nconst PRETTY = {\n  titulo_presente: \"Título presente\",\n  descricao_presente: \"Descrição presente\",\n  responsaveis_definidos: \"Responsáveis definidos\",\n  tags_definidas_e_descritivas: \"Tags definidas e descritivas\",\n  estimativa_de_esforco: \"Estimativa de esforço (orçado)\",\n  pontos_totais_do_card: \"Pontos totais do card\",\n  data_de_criacao: \"Data de criação\",\n  data_prevista: \"Data prevista\",\n  data_desejada: \"Data desejada\",\n  descricao_completa: \"Descrição completa (≥20 + critérios de aceite)\",\n  vinculo_ao_projeto: \"Vínculo ao projeto\",\n  alertas_de_idade_do_card: \"Alertas: parado > 7 dias (Backlog)\",\n  alertas_de_tempo_de_andamento: \"Alertas: em andamento > 10 horas\",\n  deteccao_de_similares:\n    COUNT_DUP_MODE === \"pairs\"\n      ? \"Detecção de duplicados (pares)\"\n      : \"Detecção de duplicados (cards impactados)\"\n};\n\n// ---------- 6) Estatísticas por requisito ----------\nconst derived = cards.map(deriveReqFlags);\nconst total = cards.length;\n\nfunction reqPendentesCount(key) {\n  if (key === \"deteccao_de_similares\") {\n    return COUNT_DUP_MODE === \"pairs\" ? dupPairs.length : dupCardIds.size;\n  }\n  const isAlertKey = (key === \"alertas_de_idade_do_card\" || key === \"alertas_de_tempo_de_andamento\");\n  return derived.filter(d => {\n    const v = d[key];\n    if (v == null) return true;                 // ausente = pendente\n    return isAlertKey ? v === true : v === false;\n  }).length;\n}\n\nconst reqStats = REQS_TO_SHOW.map(key => {\n  const pendentes = reqPendentesCount(key);\n  const ok = Math.max(0, total - pendentes);\n  return { key, label: PRETTY[key] || key, ok, pendentes, total };\n});\n\n// ---------- 7) Métricas agregadas ----------\nconst leadVals = cards.map(c => toNum(c.lead_time)).filter(v => Number.isFinite(v));\nconst leadAvg = leadVals.length ? (leadVals.reduce((a, b) => a + b, 0) / leadVals.length) : null;\n\n// Top 5 por lead_time (se métrica estiver selecionada)\nconst TOP_N = 5;\nconst topLead = (selMet.lead_time !== false) && leadVals.length\n  ? [...cards].filter(c => Number.isFinite(c.lead_time))\n    .sort((a, b) => b.lead_time - a.lead_time)\n    .slice(0, TOP_N)\n  : [];\n\nconst tempoMedioBacklog = g.metrica_qualidade?.tempo_medio_por_fase_dia ?? null;\nconst throughputBacklog = g.metrica_qualidade?.throughput ?? null;\n\n// ---------- 8) Subject ----------\nconst projetoNome = g.projeto?.nome || \"Projeto\";\nconst fase = g.fase || \"Backlog\";\nconst totalCards = Number.isFinite(g.total_cards) ? g.total_cards : cards.length;\nconst subject = `${projetoNome} — análise dinâmica (${totalCards} cards)`;\n\n// ---------- 9) HTML ----------\nconst styleTable = \"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.35;color:#111;\";\nlet html = `\\\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"${styleTable}\">\n<tr><td style=\"padding:16px 0;\">\n  <h1 style=\"margin:0 0 8px 0;font-size:18px;\">${projetoNome} — Análise de Cards</h1>\n  <div style=\"color:#555;\">${new Date().toLocaleDateString(\"pt-BR\")} • Fase: <strong>${fase}</strong></div>\n</td></tr>\n\n<tr><td style=\"padding:12px;background:#f8f9fa;border:1px solid #eee;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">`;\n\nconst addRow = (label, valueHtml) => {\n  html += `\n<tr>\n  <td style=\"padding:6px;border-bottom:1px solid #eee;\">${label}</td>\n  <td style=\"padding:6px;text-align:right;border-bottom:1px solid #eee;\">${valueHtml}</td>\n</tr>`;\n};\n\n// Bloco resumo\naddRow(\"Total de cards\", `<strong>${fmt(totalCards, 0)}</strong>`);\n\n// Exibe \"No Backlog\" só quando não for redundante\nif ((String(fase || \"\")).toLowerCase() !== \"backlog\" || totalCards !== total) {\n  addRow(\"No Backlog\", `<strong>${fmt(total, 0)}</strong>`);\n}\n\nif (selMet.tempo_medio_por_fase !== false && tempoMedioBacklog != null) {\n  addRow(\"Tempo médio no Backlog (dias)\", `<strong>${fmt(tempoMedioBacklog, 2)}</strong>`);\n}\nif (selMet.lead_time !== false && leadAvg != null) {\n  addRow(\"Lead time médio (cards selecionados)\", `<strong>${fmt(leadAvg, 2)}</strong> <span style=\"color:#666\">dias</span>`);\n}\nif (selMet.throughput_por_fase !== false && throughputBacklog != null) {\n  addRow(\"Throughput\", `<strong>${fmt(throughputBacklog, 0)}</strong>`);\n}\n\nhtml += `</table></td></tr>`;\n\n// Seção requisitos (qualidade/alertas)\nif (reqStats.length) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Qualidade de cadastro</h2>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #eee;\">\n    <tr style=\"background:#fafafa;\">\n      <td style=\"padding:6px;border-bottom:1px solid #eee;\">Requisito</td>\n      <td style=\"padding:6px;border-bottom:1px solid #eee;text-align:right;\">OK</td>\n      <td style=\"padding:6px;border-bottom:1px solid #eee;text-align:right;\">Pendências</td>\n    </tr>`;\n\n  for (const r of reqStats) {\n    html += `\n    <tr>\n      <td style=\"padding:6px;border-top:1px solid #eee;\">${r.label}</td>\n      <td style=\"padding:6px;border-top:1px solid #eee;text-align:right;color:#0a8;\"><strong>${fmt(r.ok, 0)}</strong></td>\n      <td style=\"padding:6px;border-top:1px solid #eee;text-align:right;color:#b00;\"><strong>${fmt(r.pendentes, 0)}</strong></td>\n    </tr>`;\n  }\n\n  html += `\n  </table>\n</td></tr>`;\n}\n\n// Top lead_time (se métrica selecionada)\nif (selMet.lead_time !== false && topLead.length) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Prioridades por lead time</h2>\n  <ol style=\"margin:0 0 0 18px;padding:0;\">`;\n  for (const c of topLead) {\n    html += `<li style=\"margin:4px 0;\">\n      <strong>#${c.id}</strong> — ${c.titulo || \"(sem título)\"} \n      <span style=\"color:#666\">(${fmt(c.lead_time, 0)} dias)</span>\n    </li>`;\n  }\n  html += `</ol>\n</td></tr>`;\n}\n\n// Seção alertas do Backlog (só o que foi selecionado)\nconst showTempoAnd = ($json.backlog_reqs?.alertas_de_tempo_de_andamento ?? true);\nconst showDups = ($json.backlog_reqs?.deteccao_de_similares ?? true);\n\nconst longRunCards = cards\n  .map(c => ({ c, horas: parseHHMMSSHours(c.tempo_decorrido) }))\n  .filter(x => x.c.em_andamento === true && x.horas > 10)\n  .sort((a, b) => b.horas - a.horas)\n  .map(x => ({ id: x.c.id, titulo: x.c.titulo || \"(sem título)\", horas: x.horas }));\n\nconst qtdTempoAnd = longRunCards.length;\n\nconst temAlertasSection =\n  (showTempoAnd && qtdTempoAnd > 0) ||\n  (showDups && possiveisDuplicados.length > 0);\n\nif (temAlertasSection) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Alertas do Backlog</h2>`;\n  if (showTempoAnd && qtdTempoAnd > 0) {\n    html += `<div style=\"margin:6px 0;\"><strong>Em andamento há muito tempo:</strong> ${fmt(qtdTempoAnd, 0)} ocorrência(s).</div>`;\n    const MAX_LIST = 10;\n    html += `<ul style=\"margin:4px 0 0 18px;padding:0;\">${\n      longRunCards.slice(0, MAX_LIST).map(c =>\n        `<li><strong>#${c.id}</strong> — ${c.titulo} <span style=\"color:#666\">(${fmt(c.horas, 1)} h)</span></li>`\n      ).join(\"\")\n    }</ul>`;\n  }\n  if (showDups && possiveisDuplicados.length) {\n    html += `<div style=\"margin:6px 0;\"><strong>Possíveis duplicados:</strong></div>\n             <ul style=\"margin:4px 0 0 18px;padding:0;\">\n               ${possiveisDuplicados.map(s => `<li>${String(s)}</li>`).join(\"\")}\n             </ul>`;\n  }\n  html += `</td></tr>`;\n}\n\n// Rodapé\nhtml += `\n<tr><td style=\"padding-top:16px;color:#666;font-size:12px;\">\n  Relatório gerado automaticamente conforme seleção do formulário.\n</td></tr>\n</table>`;\n\n// ---------- 10) Saída ----------\nreturn [{ json: { subject, html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        864
      ],
      "id": "7a8c7f65-0ce0-4962-a687-3362f2d0da44",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d4f49a1-dad2-46f5-9864-8d36a7343244",
              "leftValue": "={{ $json['OKR do Produto'] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2880,
        1008
      ],
      "id": "679c8395-4135-498e-a460-b7769616dc27",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/logbit/agente-healthy-check/base/okr.{{ $('On form submission1').item.binary.OKR_do_Produto.fileExtension }}",
        "dataPropertyName": "={{ $('On form submission1').item.binary.OKR_do_Produto }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2544,
        944
      ],
      "id": "121ca889-4989-4391-967f-fb7203387b08",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d4f49a1-dad2-46f5-9864-8d36a7343244",
              "leftValue": "={{ $json['OKR do Produto'] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2800,
        1712
      ],
      "id": "7e88d5ad-3b51-46dc-8d0b-26a24000e990",
      "name": "If"
    },
    {
      "parameters": {
        "command": "=rm /data/repos/logbit/agente-healthy-check/base/okr.{{ $('On form submission1').item.binary.OKR_do_Produto.fileExtension }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2528,
        1664
      ],
      "id": "800c96f9-5dee-4813-af3d-8311e11ff124",
      "name": "Execute Command"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Call 'LOG_Workf_Agente_analise_cards_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields19": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields20": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields21": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'LOG_Workf_Agente_analise_cards_v1'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Edit Fields27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Aggregate8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Edit Fields29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate8": {
      "main": [
        [
          {
            "node": "Edit Fields14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields14": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields26": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields28": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields27": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields29": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields30": {
      "main": [
        [
          {
            "node": "Call 'LOG_Workf_Agente_analise_cards_v1'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate9": {
      "main": [
        [
          {
            "node": "Edit Fields30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'LOG_Workf_Agente_analise_cards_v1'1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Aggregate9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Form1": [
      {
        "json": {
          "Requisitos analisados nos cards do Backlog": [
            "Título presente"
          ],
          "Métricas calculadas": [
            "Tempo médio por fase"
          ],
          "submittedAt": "2025-10-29T15:26:19.915-03:00",
          "formMode": "test"
        }
      }
    ],
    "On form submission1": [
      {
        "json": {
          "Selecione o produto desejado": "Orbit",
          "Email": "miguel.kubrusly@gmail.com",
          "OKR do Produto": {
            "filename": "relatorio_notificacoes.xlsx",
            "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "size": 6068
          },
          "submittedAt": "2025-10-29T15:24:38.526-03:00",
          "formMode": "test"
        },
        "binary": {
          "OKR_do_Produto": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "UEsDBBQAAAAIAFaDT1sHQU1igQAAALEAAAAQAAAAZG9jUHJvcHMvYXBwLnhtbE2OPQsCMRBE/8pxvbdBwUJiQNBSsLIPexsvkGRDskJ+vjnBj24ebxhG3wpnKuKpDi2GVI/jIpIPABUXirZOXaduHJdopWN5ADvnkc6Mz0hJYKvUHqgJpZnmTf4Ojkafcg4erXhO5uqxcGUnw6UhBQ3/cm3eqdQ17yb1lh/W8DtpXlBLAwQUAAAACABWg09b7FWHUe4AAAArAgAAEQAAAGRvY1Byb3BzL2NvcmUueG1szZLBTsMwDIZfBeXeuuloD1HXC4gTSEhMAnGLEm+LaJooMWr39qRh64TgATjG/vP5s+ROeaFcwOfgPAYyGG9mO4xRKL9lRyIvAKI6opWxTIkxNfcuWEnpGQ7gpfqQB4S6qlqwSFJLkrAAC78SWd9pJVRASS6c8VqteP8ZhgzTCnBAiyNF4CUH1i8T/WkeOrgCFhhhsPG7gHol5uqf2NwBdk7O0aypaZrKaZNzaQcOb0+PL3ndwoyR5Kgw/YpG0Mnjll0mv27u7ncPrK+ruil4VfBmx1tRt+K2eV9cf/hdha3TZm/+sfFFsO/g1130X1BLAwQUAAAACABWg09bmVycIxAGAACcJwAAEwAAAHhsL3RoZW1lL3RoZW1lMS54bWztWltz2jgUfu+v0Hhn9m0LxjaBtrQTc2l227SZhO1OH4URWI1seWSRhH+/RzYQy5YN7ZJNups8BCzp+85FR+foOHnz7i5i6IaIlPJ4YNkv29a7ty/e4FcyJBFBMBmnr/DACqVMXrVaaQDDOH3JExLD3IKLCEt4FMvWXOBbGi8j1uq0291WhGlsoRhHZGB9XixoQNBUUVpvXyC05R8z+BXLVI1lowETV0EmuYi08vlsxfza3j5lz+k6HTKBbjAbWCB/zm+n5E5aiOFUwsTAamc/VmvH0dJIgILJfZQFukn2o9MVCDINOzqdWM52fPbE7Z+Mytp0NG0a4OPxeDi2y9KLcBwE4FG7nsKd9Gy/pEEJtKNp0GTY9tqukaaqjVNP0/d93+ubaJwKjVtP02t33dOOicat0HgNvvFPh8Ouicar0HTraSYn/a5rpOkWaEJG4+t6EhW15UDTIABYcHbWzNIDll4p+nWUGtkdu91BXPBY7jmJEf7GxQTWadIZljRGcp2QBQ4AN8TRTFB8r0G2iuDCktJckNbPKbVQGgiayIH1R4Ihxdyv/fWXu8mkM3qdfTrOa5R/aasBp+27m8+T/HPo5J+nk9dNQs5wvCwJ8fsjW2GHJ247E3I6HGdCfM/29pGlJTLP7/kK6048Zx9WlrBdz8/knoxyI7vd9lh99k9HbiPXqcCzIteURiRFn8gtuuQROLVJDTITPwidhphqUBwCpAkxlqGG+LTGrBHgE323vgjI342I96tvmj1XoVhJ2oT4EEYa4pxz5nPRbPsHpUbR9lW83KOXWBUBlxjfNKo1LMXWeJXA8a2cPB0TEs2UCwZBhpckJhKpOX5NSBP+K6Xa/pzTQPCULyT6SpGPabMjp3QmzegzGsFGrxt1h2jSPHr+BfmcNQockRsdAmcbs0YhhGm78B6vJI6arcIRK0I+Yhk2GnK1FoG2camEYFoSxtF4TtK0EfxZrDWTPmDI7M2Rdc7WkQ4Rkl43Qj5izouQEb8ehjhKmu2icVgE/Z5ew0nB6ILLZv24fobVM2wsjvdH1BdK5A8mpz/pMjQHo5pZCb2EVmqfqoc0PqgeMgoF8bkePuV6eAo3lsa8UK6CewH/0do3wqv4gsA5fy59z6XvufQ9odK3NyN9Z8HTi1veRm5bxPuuMdrXNC4oY1dyzcjHVK+TKdg5n8Ds/Wg+nvHt+tkkhK+aWS0jFpBLgbNBJLj8i8rwKsQJ6GRbJQnLVNNlN4oSnkIbbulT9UqV1+WvuSi4PFvk6a+hdD4sz/k8X+e0zQszQ7dyS+q2lL61JjhK9LHMcE4eyww7ZzySHbZ3oB01+/ZdduQjpTBTl0O4GkK+A226ndw6OJ6YkbkK01KQb8P56cV4GuI52QS5fZhXbefY0dH758FRsKPvPJYdx4jyoiHuoYaYz8NDh3l7X5hnlcZQNBRtbKwkLEa3YLjX8SwU4GRgLaAHg69RAvJSVWAxW8YDK5CifEyMRehw55dcX+PRkuPbpmW1bq8pdxltIlI5wmmYE2eryt5lscFVHc9VW/Kwvmo9tBVOz/5ZrcifDBFOFgsSSGOUF6ZKovMZU77nK0nEVTi/RTO2EpcYvOPmx3FOU7gSdrYPAjK5uzmpemUxZ6by3y0MCSxbiFkS4k1d7dXnm5yueiJ2+pd3wWDy/XDJRw/lO+df9F1Drn723eP6bpM7SEycecURAXRFAiOVHAYWFzLkUO6SkAYTAc2UyUTwAoJkphyAmPoLvfIMuSkVzq0+OX9FLIOGTl7SJRIUirAMBSEXcuPv75Nqd4zX+iyBbYRUMmTVF8pDicE9M3JD2FQl867aJguF2+JUzbsaviZgS8N6bp0tJ//bXtQ9tBc9RvOjmeAes4dzm3q4wkWs/1jWHvky3zlw2zreA17mEyxDpH7BfYqKgBGrYr66r0/5JZw7tHvxgSCb/NbbpPbd4Ax81KtapWQrET9LB3wfkgZjjFv0NF+PFGKtprGtxtoxDHmAWPMMoWY434dFmhoz1YusOY0Kb0HVQOU/29QNaPYNNByRBV4xmbY2o+ROCjzc/u8NsMLEjuHti78BUEsDBBQAAAAIAFaDT1szUSSk0gUAAHIhAAAYAAAAeGwvd29ya3NoZWV0cy9zaGVldDEueG1spZpfc6JIFMW/CuVUTe2+jHQjoBNjFVFMqPJfgbq788ZoJ3YN0g5gsruffhsmAbvTF8nykoh6jvxuX5rTrcMXlvxID4Rk2t/HKE5vO4csO33tdtPdgRzD9As7kZi/8siSY5jxw+Spm54SEu4L0THqYl23useQxp3RsHhulYyG7JxFNCarREvPx2OY/HNHIvZy20Gdtyd8+nTI8ie6o+EpfCIByTanVcKPuqXLnh5JnFIWawl5vO046KtnFILiHVtKXtKLx1qO8p2xH/mBt7/t6PkZkYjsstwi5P+eyZhEUe7Ez+Pnq2mn/MxcePn4zX1awHOY72FKxiz6g+6zw22n39H25DE8R5nPXh7IK5BZnuAkzMLRMGEvWpKDjoa7/EHx2UUl+LtpnJcpyBL+KuUfl428ybCb8ZPIj7q7V81dvWZNT0yhGterFuxIFKpJvWrFos+fsGHfZHQXKuRuvXxCw1RLyVELMxIX45upTn16xYVXltde2yU0zM8G3fC/2L5RWd1fsSJpRuMwyw3Mm4Qy7Tdv8rvC56HeZ0tTJYlXL5vRvVTFLm+Ysmtw2TW4MMgvsudRv9fvDbvPlw2CAf9xRHmJVeM8hiQr3tFMeyBxQn+eSV7mgJ3/DbVpQmgWpqqWgaw2UZaE2gO/MlSdcomEjL5RIgklMMoSGGIJDKkExsdLAEl83tvJnmnjMIkJTZh2f06eSKQt2NOZH6v6fgJ5rRL6HCo/3r0EQrptqwvQKwvQEwtgSgXofbwAkGRGWFxUYEUSkmqTUPPZ7hBqvBdo9Kzkh6zqe+ASyez11BUwywqYQgVsJFXAhCbVmF/k2ZlemyvGkMHW2zoqaOj9C+XUeHn2PaRjNa1V0loCrTWQaK22tJDBarlZ+e5WBQxJgpBqcJ+5ViNyuyS3BXJTJrfbkkMGOba3WPprVwUPqTi8CtpuBN0vofsitCVB99tCQwaLzXjmLgMVMSQBiC8JerphqYkHJfFAbHAsEQ/aEkMGU8cdu0pgSHGlvweNwJFehUBdRO9L6K+vt2AHHcZOMHXmyuQHSYDhFiBqsC+yLxKx5R5HYCxujA05TDeLIHCDtRIcEl0ZdgGnpgBVjENijrNsuQBQlGpeAMhhuvRnm29KfEgCjTtuhl1FNyRmN/sdNpSemmNDDhNnvQmg2xmoUt/ABYwa8CqyITGz2XJmQ1Bsag4OObjj5WI53yinOVAEjXivGXiV1JAU1eRbOGqd1UAHd+aufWVcAyUQttkMu4psSMxsfV3Gbh3aQIe5u5i4cKdDMqDTrWbkVWRDYmaz3nV669AGOkxcf+4tHHWnQyKAWwhtOgLWZKhKbUiMbZa8JkGtcxvowG9pE+fzJzQY3OR/zZulNl6u3JmyDjVRrvYWJ2Y6fQAUpAp1SEp18jodtY51oAOf8tRNUBPrlNBintOB7sdVnsNinrPlKItb5znQoViz3Cu3ZT6Y57DeDLvKc1jMc/a7banWeQ50yLHduat5nhL9fyY6jJqV4GJjTkx0ttzuuHWiAx22XvB23UPTPqiFWkCMdroJ8FfRDovRzpRXMrh1tAMdis4PxkpuSANxX1IYA7sPcFfJDku7cfK8j1snO9ChHHXf4StZ5XQPawH+nsgPjXsV8LAY8PrvZrzWAQ90mHp36nwHKq5d9aZAbwFb0bjKeVjMefa7rm+d80CH7dJbP8AXfM0OnRLdEtF1AL0KelgKeu/m/NZBD3S4cxZuoN64ATXXht4W+E0g8OEq8GEx8NlyxMetAx/ssJj6DjjyH9ysEzhqyKtkh8VkZ8qreNw62YEOW/fP9V9K6g9GO4EBpjaqaGdI0U7eszJaRzvQwV24PjTcoEi9sBEoarirbGdIe3Vynxutsx3o4LvOTLv3Hb6g/aac6EElMOoCC6eXZ7nuxRf2+a8R5mHyRONUi8gjl+lfbH6DSH59wf/rIGOn4kvd7yzL2LF4eCDhniT5G/jrj4xlbwf57wvKn1mM/gNQSwMEFAAAAAgAVoNPW+DuUEepAgAAFgsAAA0AAAB4bC9zdHlsZXMueG1s3VbbitswEP0V4Q+ok5iauMSBNhAotGVh96GvSizHAllyZTkk+/WdkRznspql7WMTNh7N0ZkzmhnhXfXurMRzI4Rjp1bpvkwa57pPadrvG9Hy/oPphAakNrblDpb2kPadFbzqkdSqdDGb5WnLpU7WKz2029b1bG8G7cpklqTrVW301bNIggO28lawI1dlsuFK7qz0e3kr1Tm4F+jYG2Usc5CKKJM5evrXAM/DCrMc47RSG4vONCiE3924/Qbwjx42SKXuMwPHetVx54TVW1h4jne+gdhov5w7SO1g+Xm++JhcCf4BIjtjK2HvZIJrvVKidkCw8tDg05kuRdA504JRSX4wmvscLoxbJvOtKxPXQOkvYR6dEPPRFQQevZPEaEDme6HUM+76WU/pzyH9U81Cn79W2GKG1byYcObRDGHCAuPfRguxb8Iu/iks6+TRuC8DnEf79a/BOPFkRS1Pfn2qJ30q+pyIDn7eder8WcmDbkU4+x8Lrlf8wmONsfIV1HAK9+AQNmFHYZ3cowca5MtzqscaTeXxxbor/ORleHnK5AfeSXVVZbtBKif1uGpkVQn9pv4Q3vEdXPq7+LC/EjUflHuZwDK52t9FJYe2mHY9YSXGXVf7G87gPJ9uLmhJXYmTqDbj0h523mRggOr48fP7gGz9J45QnIDFEcQoHSoDihNYlM7/dJ4leZ6AUbkto8iS5CxJTmDFkI3/UjpxTgGf+EmLIsvynKroZhPNYEPVLc/xLx6Nyg0ZlA4q/V2t6W7TE/L+HFA9fW9CqJPSk0idlK41IvG6IaMo4t2mdJBBdYGaHdSP6+BMxTlZhl2lcqNuMI0UBYXgLMZnNM+J6uT4jfeHuiVZVhRxBLF4BllGIXgbaYTKAHOgkCzz78GH91F6eU+l1/+E178BUEsDBBQAAAAIAFaDT1uXirscwAAAABMCAAALAAAAX3JlbHMvLnJlbHOdkrluwzAMQH/F0J4wB9AhiDNl8RYE+QFWog/YEgWKRZ2/r9qlcZALGXk9PBLcHmlA7TiktoupGP0QUmla1bgBSLYlj2nOkUKu1CweNYfSQETbY0OwWiw+QC4ZZre9ZBanc6RXiFzXnaU92y9PQW+ArzpMcUJpSEszDvDN0n8y9/MMNUXlSiOVWxp40+X+duBJ0aEiWBaaRcnToh2lfx3H9pDT6a9jIrR6W+j5cWhUCo7cYyWMcWK0/jWCyQ/sfgBQSwMEFAAAAAgAVoNPWxQu64AyAQAAIQIAAA8AAAB4bC93b3JrYm9vay54bWyNUdFqwkAQ/JVwH9BEaYWK8aXSViitVPH9TDZm8e427G209eu7SQgV+tKnvZ1Zhpm5xYX4dCA6JV/ehZibWqSZp2ksavA23lEDQZmK2FvRlY9pbBhsGWsA8S6dZtks9RaDWS5GrQ2ntwsJFIIUFOyAPcIl/vLdmpwx4gEdyndu+rcDk3gM6PEKZW4yk8SaLq/EeKUg1m0LJudyMxmIPbBg8QfediZ39hB7ROzh06qR3MwyFayQo/QXvb5Vj2fQ42FrhZ7RCfDKCrwwtQ2GYyejKdKbGH0P4xxKnPN/aqSqwgJWVLQeggw9MrjOYIg1NtEkwXrIza4tqYuj+utyiCbq6aYonqMSvC4Hd6OlEioMUL6rSlRc6yk2nHSj15neP0wetYbWuSfFPsIb2XJMOP7O8gdQSwMEFAAAAAgAVoNPWyQem6KtAAAA+AEAABoAAAB4bC9fcmVscy93b3JrYm9vay54bWwucmVsc7WRPQ6DMAyFrxLlADVQqUMFTF1YKy4QBfMjEhLFrgq3L4UBkDp0YbKeLX/vyU6faBR3bqC28yRGawbKZMvs7wCkW7SKLs7jME9qF6ziWYYGvNK9ahCSKLpB2DNknu6Zopw8/kN0dd1pfDj9sjjwDzC8XeipRWQpShUa5EzCaLY2wVLiy0yWoqgyGYoqlnBaIOLJIG1pVn2wT06053kXN/dFrs3jCa7fDHB4dP4BUEsDBBQAAAAIAFaDT1tlkHmSGQEAAM8DAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbK2TTU7DMBCFrxJlWyUuLFigphtgC11wAWNPGqv+k2da0tszTtpKoBIVhU2seN68z56XrN6PEbDonfXYlB1RfBQCVQdOYh0ieK60ITlJ/Jq2Ikq1k1sQ98vlg1DBE3iqKHuU69UztHJvqXjpeRtN8E2ZwGJZPI3CzGpKGaM1ShLXxcHrH5TqRKi5c9BgZyIuWFCKq4Rc+R1w6ns7QEpGQ7GRiV6lY5XorUA6WsB62uLKGUPbGgU6qL3jlhpjAqmxAyBn69F0MU0mnjCMz7vZ/MFmCsjKTQoRObEEf8edI8ndVWQjSGSmr3ghsvXs+0FOW4O+kc3j/QxpN+SBYljmz/h7xhf/G87xEcLuvz+xvNZOGn/mi+E/Xn8BUEsBAhQDFAAAAAgAVoNPWwdBTWKBAAAAsQAAABAAAAAAAAAAAAAAAIABAAAAAGRvY1Byb3BzL2FwcC54bWxQSwECFAMUAAAACABWg09b7FWHUe4AAAArAgAAEQAAAAAAAAAAAAAAgAGvAAAAZG9jUHJvcHMvY29yZS54bWxQSwECFAMUAAAACABWg09bmVycIxAGAACcJwAAEwAAAAAAAAAAAAAAgAHMAQAAeGwvdGhlbWUvdGhlbWUxLnhtbFBLAQIUAxQAAAAIAFaDT1szUSSk0gUAAHIhAAAYAAAAAAAAAAAAAACAgQ0IAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWxQSwECFAMUAAAACABWg09b4O5QR6kCAAAWCwAADQAAAAAAAAAAAAAAgAEVDgAAeGwvc3R5bGVzLnhtbFBLAQIUAxQAAAAIAFaDT1uXirscwAAAABMCAAALAAAAAAAAAAAAAACAAekQAABfcmVscy8ucmVsc1BLAQIUAxQAAAAIAFaDT1sULuuAMgEAACECAAAPAAAAAAAAAAAAAACAAdIRAAB4bC93b3JrYm9vay54bWxQSwECFAMUAAAACABWg09bJB6boq0AAAD4AQAAGgAAAAAAAAAAAAAAgAExEwAAeGwvX3JlbHMvd29ya2Jvb2sueG1sLnJlbHNQSwECFAMUAAAACABWg09bZZB5khkBAADPAwAAEwAAAAAAAAAAAAAAgAEWFAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLBQYAAAAACQAJAD4CAABgFQAAAAA=",
            "fileName": "relatorio_notificacoes.xlsx",
            "fileSize": "6.07 kB"
          }
        }
      }
    ],
    "Form2": [
      {
        "json": {
          "Selecione a iniciativa": "Squad Assessment",
          "Selecione a fase para análise": "Backlog",
          "submittedAt": "2025-10-29T15:26:13.883-03:00",
          "formMode": "test"
        }
      }
    ],
    "Call 'LOG_Workf_Agente_analise_cards_v1'": [
      {
        "json": {
          "data": {
            "meta": {
              "versao_schema": "2.0.0",
              "gerado_em": "2025-10-29T18:26:39.309591+00:00",
              "fonte": "pipeline_agente.py",
              "uuid": "671d2808-59e4-4796-96f2-8b912626ab94"
            },
            "resultado": {
              "projeto": {
                "id": 487,
                "nome": "Squad Assessment",
                "produto_nome": "Orbit"
              },
              "fase": "Concluído",
              "total_cards": 3,
              "metrica_qualidade": {
                "throughput": 3,
                "tempo_medio_por_fase_dia": 88.33
              },
              "alertas_gerais": [],
              "cards": [
                {
                  "id": 12808,
                  "titulo": "Erro ao acessar o ambiente de homol-#5.8",
                  "descricao": "✅ 16/10 - Gustavo: Link da mensagem",
                  "fase": "Concluído",
                  "responsaveis": [
                    {
                      "id": 176,
                      "nome": "Jonathan Nicolas"
                    },
                    {
                      "id": 98,
                      "nome": "Gustavo Castro"
                    },
                    {
                      "id": 120,
                      "nome": "Daniel Portilho"
                    }
                  ],
                  "orcado": "00:00:00",
                  "tempo_decorrido": "00:32:00",
                  "em_andamento": true,
                  "datas": {
                    "criacao": "2025-08-07 19:17:27.872454+00:00",
                    "prevista": null,
                    "desejada": null,
                    "conclusao": null,
                    "inicio_doing": null
                  },
                  "pontos_totais": "1",
                  "projeto_info": {},
                  "tags": [
                    5
                  ],
                  "alertas_validacao": {
                    "sem_titulo": false,
                    "sem_descricao": false,
                    "sem_responsaveis": false,
                    "sem_tags": false,
                    "sem_data_criacao": false,
                    "sem_estimativa_esforco": true,
                    "sem_data_prevista": true,
                    "sem_data_desejada": true,
                    "sem_pontos": false,
                    "sem_vinculo_projeto": true,
                    "descricao_curta": false,
                    "sem_criterios_aceite": true,
                    "tags_pouco_descritivas": false,
                    "data_prevista_antes_criacao": false,
                    "data_conclusao_antes_criacao": false,
                    "card_antigo_sem_priorizacao": false,
                    "backlog_estagnado": {
                      "bool": false,
                      "params": {}
                    },
                    "em_andamento_prolongado": {
                      "bool": false,
                      "params": {}
                    }
                  },
                  "lead_time": 82,
                  "cycle_time": 82,
                  "avaliacao_ia": {
                    "nota": 4,
                    "justificativa": "O card apresenta várias falhas, como a falta de estimativa de esforço, datas previstas e desejadas, e critérios de aceite. Embora tenha sido concluído, a ausência dessas informações essenciais compromete a clareza e a gestão do projeto."
                  },
                  "documentacao_ia": "# Documentação Final do Card 12808\n\n## Resumo:\nO card 12808, intitulado \"Erro ao acessar o ambiente de homol-#5.8\", foi criado para tratar de um problema de acesso ao ambiente de homologação. O card foi concluído com um tempo total de 32 minutos de trabalho, sendo responsável por Jonathan Nicolas, Gustavo Castro e Daniel Portilho. A conclusão foi registrada em 16/10, com um link de mensagem fornecido por Gustavo.\n\n## Pontos Fortes:\n- **Colaboração**: O card contou com a participação de múltiplos responsáveis, promovendo um trabalho em equipe eficiente.\n- **Conclusão Rápida**: O problema foi resolvido em um curto período de tempo (32 minutos), demonstrando agilidade na resposta.\n- **Documentação**: A inclusão de um link de mensagem para referência futura é um ponto positivo para a comunicação e rastreabilidade do problema.\n\n## Melhorias Futuras:\n- **Estimativa de Esforço**: É fundamental incluir uma estimativa de esforço nos cards futuros para melhor planejamento e alocação de recursos.\n- **Datas Previstas e Desejadas**: A definição de datas para a conclusão e para o início das atividades pode ajudar na gestão do tempo e no acompanhamento do progresso.\n- **Critérios de Aceite**: A adição de critérios de aceite claros ajudaria a garantir que todos os requisitos do card sejam atendidos antes da conclusão.\n\n## Bugs e Resoluções:\n- Nenhum bug registrado.\n\n## Observações Finais:\nO card 12808, apesar de ter sido concluído com sucesso, apresenta lacunas significativas em sua documentação. A ausência de informações como estimativa de esforço, datas previstas e critérios de aceite compromete a clareza e a gestão do projeto. É recomendável que as lições aprendidas com este card sejam aplicadas em futuros cards para melhorar a eficiência e a organização do trabalho."
                },
                {
                  "id": 11905,
                  "titulo": "revisão das estimativas dos cards-#V4.6",
                  "descricao": "Revisar a estimativa dos cards para garantir que o elas estão de acordo",
                  "fase": "Concluído",
                  "responsaveis": [
                    {
                      "id": 176,
                      "nome": "Jonathan Nicolas"
                    },
                    {
                      "id": 120,
                      "nome": "Daniel Portilho"
                    }
                  ],
                  "orcado": "01:30:00",
                  "tempo_decorrido": "01:10:00",
                  "em_andamento": true,
                  "datas": {
                    "criacao": "2025-06-23 15:22:05.933599+00:00",
                    "prevista": null,
                    "desejada": null,
                    "conclusao": null,
                    "inicio_doing": null
                  },
                  "pontos_totais": "2",
                  "projeto_info": {},
                  "tags": [
                    5
                  ],
                  "alertas_validacao": {
                    "sem_titulo": false,
                    "sem_descricao": false,
                    "sem_responsaveis": false,
                    "sem_tags": false,
                    "sem_data_criacao": false,
                    "sem_estimativa_esforco": false,
                    "sem_data_prevista": true,
                    "sem_data_desejada": true,
                    "sem_pontos": false,
                    "sem_vinculo_projeto": true,
                    "descricao_curta": false,
                    "sem_criterios_aceite": true,
                    "tags_pouco_descritivas": false,
                    "data_prevista_antes_criacao": false,
                    "data_conclusao_antes_criacao": false,
                    "card_antigo_sem_priorizacao": true,
                    "backlog_estagnado": {
                      "bool": false,
                      "params": {}
                    },
                    "em_andamento_prolongado": {
                      "bool": false,
                      "params": {}
                    }
                  },
                  "lead_time": 128,
                  "cycle_time": 128,
                  "avaliacao_ia": {
                    "nota": 5,
                    "justificativa": "O card está concluído, mas apresenta várias alertas de validação, como a falta de datas previstas e desejadas, além de não ter um vínculo claro com um projeto. Isso pode impactar a clareza e o planejamento futuro, o que é essencial para a gestão de produtos."
                  },
                  "documentacao_ia": "# Documentação Final do Card 11905\n\n## Resumo\nO card 11905, intitulado \"revisão das estimativas dos cards-#V4.6\", foi criado com o objetivo de revisar as estimativas dos cards para garantir que estejam de acordo com as expectativas e necessidades do projeto. O card foi concluído com sucesso, com um tempo decorrido de 1 hora e 10 minutos, em comparação com a estimativa inicial de 1 hora e 30 minutos.\n\n## Pontos Fortes\n- **Concluído com Antecedência**: O card foi finalizado antes do tempo estimado, demonstrando eficiência na execução das tarefas.\n- **Colaboração**: A participação de dois responsáveis (Jonathan Nicolas e Daniel Portilho) indica um bom trabalho em equipe e divisão de responsabilidades.\n- **Avaliação Positiva**: Recebeu uma nota de 5.0 na avaliação de inteligência artificial, indicando que o trabalho foi bem realizado.\n\n## Melhorias Futuras\n- **Inclusão de Datas Previstas e Desejadas**: Para melhorar o planejamento e a gestão de produtos, é essencial incluir datas previstas e desejadas nos cards, evitando alertas de validação.\n- **Vinculação a Projetos**: É importante estabelecer um vínculo claro com projetos específicos para facilitar o acompanhamento e a priorização das tarefas.\n- **Critérios de Aceite**: Definir critérios de aceite claros para os cards pode ajudar a evitar ambiguidades e melhorar a qualidade das entregas.\n\n## Bugs e Resoluções\n- **Nenhum bug registrado**: Durante a execução do card, não foram identificados bugs ou problemas técnicos.\n\n## Considerações Finais\nEmbora o card tenha sido concluído com sucesso e dentro do prazo, a presença de alertas de validação indica áreas de melhoria que podem ser abordadas em futuros cards. A implementação dessas melhorias contribuirá para uma gestão de produtos mais eficaz e organizada."
                },
                {
                  "id": 13463,
                  "titulo": "[INVESTIGAÇÂO]-erro 500-#V3.6",
                  "descricao": "Esse card é para um tarefa antiga que acabou sendo realizada sem que fosse criado o devido card. nesse card foi realizado uma investigação do Gustavo em conjunto do time de infra pra a causa de um erro 500 Mensagens relacionadas: Link - Link",
                  "fase": "Concluído",
                  "responsaveis": [
                    {
                      "id": 176,
                      "nome": "Jonathan Nicolas"
                    },
                    {
                      "id": 120,
                      "nome": "Daniel Portilho"
                    }
                  ],
                  "orcado": "03:00:00",
                  "tempo_decorrido": "02:04:00",
                  "em_andamento": true,
                  "datas": {
                    "criacao": "2025-09-03 19:33:36.373206+00:00",
                    "prevista": null,
                    "desejada": null,
                    "conclusao": null,
                    "inicio_doing": null
                  },
                  "pontos_totais": "1",
                  "projeto_info": {},
                  "tags": [
                    5,
                    9
                  ],
                  "alertas_validacao": {
                    "sem_titulo": false,
                    "sem_descricao": false,
                    "sem_responsaveis": false,
                    "sem_tags": false,
                    "sem_data_criacao": false,
                    "sem_estimativa_esforco": false,
                    "sem_data_prevista": true,
                    "sem_data_desejada": true,
                    "sem_pontos": false,
                    "sem_vinculo_projeto": true,
                    "descricao_curta": false,
                    "sem_criterios_aceite": true,
                    "tags_pouco_descritivas": false,
                    "data_prevista_antes_criacao": false,
                    "data_conclusao_antes_criacao": false,
                    "card_antigo_sem_priorizacao": false,
                    "backlog_estagnado": {
                      "bool": false,
                      "params": {}
                    },
                    "em_andamento_prolongado": {
                      "bool": false,
                      "params": {}
                    }
                  },
                  "lead_time": 55,
                  "cycle_time": 55,
                  "avaliacao_ia": {
                    "nota": 6,
                    "justificativa": "O card apresenta uma investigação concluída, mas falta a definição de datas previstas e desejadas, além de não ter um vínculo claro com um projeto. A ausência de critérios de aceite também compromete a clareza do resultado esperado."
                  },
                  "documentacao_ia": "# Documentação Final do Card 13463\n\n## Resumo:\nO card 13463 foi criado para documentar uma investigação realizada por Gustavo e o time de infraestrutura sobre a causa de um erro 500. Essa tarefa antiga foi concluída sem a criação de um card apropriado anteriormente. A investigação resultou em insights relevantes, mas não foi formalizada com as devidas informações de planejamento.\n\n## Pontos Fortes:\n- Investigação concluída com a colaboração do time de infraestrutura.\n- Registro de um erro crítico (500) que pode impactar a experiência do usuário.\n- Tempo decorrido de 2 horas e 4 minutos, demonstrando eficiência na resolução do problema.\n- A equipe envolvida (Jonathan Nicolas e Daniel Portilho) é experiente e contribuiu efetivamente para a solução.\n\n## Melhorias Futuras:\n- Criação de um template padrão para documentação de investigações que inclua campos obrigatórios como datas previstas, desejadas e critérios de aceite.\n- Implementação de um processo de revisão para garantir que todas as tarefas críticas tenham um card associado antes da execução.\n- Melhoria na comunicação entre as equipes para garantir que problemas semelhantes sejam registrados e acompanhados de forma adequada.\n\n## Bugs e Resoluções:\n- Nenhum bug registrado.\n\n## Observações Adicionais:\n- O card apresenta uma avaliação de 6.0, indicando que, apesar da conclusão da investigação, há espaço para melhorias na documentação e planejamento das tarefas.\n- A falta de um vínculo claro com um projeto e a ausência de critérios de aceite comprometem a clareza do resultado esperado e devem ser abordadas em futuras tarefas."
                }
              ]
            }
          }
        },
        "binary": {}
      }
    ]
  },
  "versionId": "971c6cf6-2bda-4366-8914-a688afe076cb",
  "activeVersionId": null,
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-16T20:32:02.522Z",
      "createdAt": "2025-10-16T20:32:02.522Z",
      "role": "workflow:owner",
      "workflowId": "aSZkShTxGabPRhhp",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}