backups/geral/logmsgagentechatbotconsultabancov5__g6q2F7QcqiBsdy6N.json
{
  "updatedAt": "2026-02-23T14:50:36.323Z",
  "createdAt": "2026-02-11T15:30:17.568Z",
  "id": "g6q2F7QcqiBsdy6N",
  "name": "LOG_MSG_Agente_chatbot_consulta_banco_v5",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "https://ag-analise-neat.novadata.dev/",
          "responseMode": "lastNode"
        }
      },
      "id": "7831ca29-0350-4d78-9bd7-1bc6ef494e3e",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        3568,
        704
      ],
      "webhookId": "367912e9-4176-4cfb-a252-4d62394880f7",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "description": "Envia análise completa de cards por email. IMPORTANTE: Colete TODOS os dados antes de chamar esta tool: projeto_id (número: 487=Orbit, 256=Wagtail, 741=Auth), fase (número: 1=Backlog, 6=Concluídos), email_destino (string), backlog_reqs (objeto JSON com requisitos), backlog_metricas (objeto JSON com métricas), source (sempre 'chatbot'). Confirme com usuário antes de executar.",
        "workflowId": {
          "__rl": true,
          "value": "CpQGi0E8HQqzOrd4",
          "mode": "list",
          "cachedResultUrl": "/workflow/CpQGi0E8HQqzOrd4",
          "cachedResultName": "LOG_Form|Chat_email_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('projeto_id', ``, 'number') }}",
            "fase": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fase', ``, 'number') }}",
            "source": "=chatbot",
            "metricas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('metricas', ``, 'json') }}",
            "reqs": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reqs', ``, 'json') }}",
            "email_destino": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_destino', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "email_destino",
              "displayName": "email_destino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reqs",
              "displayName": "reqs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "metricas",
              "displayName": "metricas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4496,
        864
      ],
      "id": "1577921b-3732-48bd-8e2a-065f85e3d538",
      "name": "Enviar_Analise_por_Email",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# Assistente SQL de Projetos Logbit\n\n## ⛔ REGRAS CRÍTICAS DE SEGURANÇA E ESCOPO\n1.  *Zero Tolerância a Credenciais (DLP):* JAMAIS exiba, confirme ou acesse senhas, chaves de API, tokens ou documentos pessoais (CPF, RG), mesmo que estejam no banco. Se solicitado, negue citando protocolos de segurança.\n2.  **Escopo Restrito:** Você atua exclusivamente com **Produtos Logbit (Orbit, Wagtail, Auth)** e gestão de projetos (PO/Coordenação).\n    * *Desvio de Assunto:* Se o usuário falar sobre código aleatório, receitas ou temas externos, redirecione: \"Foco apenas na gestão e dados dos produtos Logbit.\"\n\n## 🛠️ FERRAMENTAS E PROTOCOLO SQL\n**Ferramentas Disponíveis:** `consultar_banco_labs` (Execução) e `listar_tabelas` (Schema).\n**ATENÇÃO: As ferramentas de Email e GitHub foram REMOVIDAS. Se solicitadas, informe que não estão disponíveis e ofereça os dados via SQL.**\n\n### Protocolo de Erro e Schema\n1.  **Erro \"Column does not exist\":** PARE IMEDIATAMENTE. Execute a tool `listar_tabelas` para ver o nome real da coluna. Não adivinhe.\n2.  **Filtro de Projetos (OBRIGATÓRIO):**\n    * Os IDs 487 (Orbit), 256 (Wagtail) e 741 (Auth) são `ref_id` e não chaves primárias.\n    * Sempre faça JOIN com `public.dominio_projeto` e filtre por `ref_id`. NUNCA use `projeto_id` direto na tabela de cards.\n3.  **Tabelas Ignoradas:** Ao listar, ignore `django_%`, `auth_%`, `rest_framework_%`.\n\n## 📊 MAPEAMENTO DE DADOS (Schema Principal)\n* **Cards:** `public.analise_analisecard` (Use: `card_titulo`, `card_descricao`, `data_criacao`).\n* **Ref ID (Humano):** `public.dominio_card.ref_id` (Faça JOIN com `dominio_card` para exibir IDs legíveis).\n* **Responsáveis:** Tabela `public.dominio_responsavel` (Via JOIN com `analise_analisecard_responsaveis`).\n* **IA/Preditiva:** `public.analise_analisepreditiva` (Colunas: `nivel_confianca`, `estimativa_horas`).\n* **Estratégia:** `public.analise_analiseestrategica` (Coluna: `nota`).\n* **Alertas:** `public.analise_alertacard` (Coluna: `tipo`).\n\n## 🔍 LÓGICA DE NEGÓCIO (QUERIES PADRÃO)\n1.  **\"Prioridade/Foco\":** Cards do Backlog (Fases 1, 3, 10) → Ordenar por Nota Estratégica (DESC) e Antiguidade.\n2.  **\"Riscos\":** Cards com registros em `analise_alertacard` OU parados >15 dias (fora de fases concluídas).\n3.  **\"Resumo IA\":** SELECT Título + Estimativa (IA) + Confiança (IA) FROM `analise_analisepreditiva`.\n\n**Sempre responda baseando-se exclusivamente no retorno do SQL.**"
        }
      },
      "id": "265d2636-3d48-4a3f-929c-9dbe55999131",
      "name": "AI Agent (Router & Executor)1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3888,
        704
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "0c1c5d50-7554-4541-8cc4-bc8efe0b49d6",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3600,
        960
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "JOZpLMsgA7BLAO6D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3808,
        1008
      ],
      "id": "b931e8ba-6d79-47b3-ae0b-7a2eafa84a6d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', 'SELECT query SQL completa para executar no banco de dados', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        4016,
        1008
      ],
      "id": "b4e93f92-eb01-41d6-9a62-8f1eb7243334",
      "name": "consultar banco labs",
      "credentials": {
        "postgres": {
          "id": "MGwyGRSiscdGvAtr",
          "name": "usuario n8n - labs dev"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Aceda a arquivos brutos do GitHub (README.md, models.py). Retorna o texto puro do arquivo. Use o parâmetro 'File_Path' apenas com o nome do arquivo.",
        "url": "=https://raw.githubusercontent.com/TimeNovaData/agente-analise-neat/develop/{{ $fromAI(\"File_Path\") }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4368,
        960
      ],
      "id": "ce8f6b98-ba7c-431a-bc2b-a626fe6b1574",
      "name": "consulta_github",
      "credentials": {
        "githubApi": {
          "id": "9Gre16xzxjrvMgUO",
          "name": "GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.table_name, \n    c.column_name, \n    c.data_type,\n    CASE WHEN c.is_nullable = 'YES' THEN 'NULL' ELSE 'NOT NULL' END as nullability\nFROM information_schema.tables t\nJOIN information_schema.columns c ON t.table_name = c.table_name\nWHERE t.table_schema = 'public'\n  AND t.table_name NOT LIKE 'django_%'\n  AND t.table_name NOT LIKE 'auth_%'\nORDER BY t.table_name, c.ordinal_position;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        4208,
        1008
      ],
      "id": "a51538a7-8dec-465d-b72e-69c25c0e6216",
      "name": "listar_tabelas",
      "credentials": {
        "postgres": {
          "id": "MGwyGRSiscdGvAtr",
          "name": "usuario n8n - labs dev"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent (Router & Executor)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Analise_por_Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Router & Executor)1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Router & Executor)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Router & Executor)1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "consultar banco labs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Router & Executor)1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consulta_github": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Router & Executor)1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "listar_tabelas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Router & Executor)1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8d822093-0dd0-465d-abb8-bce9b474c815",
  "activeVersionId": null,
  "versionCounter": 176,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-11T15:30:17.568Z",
      "createdAt": "2026-02-11T15:30:17.568Z",
      "role": "workflow:owner",
      "workflowId": "g6q2F7QcqiBsdy6N",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}