backups/geral/logworkflowpopulabancov1__gUjRLJshhZnwKloj.json
{
  "updatedAt": "2025-11-17T13:26:50.127Z",
  "createdAt": "2025-10-21T13:28:54.182Z",
  "id": "gUjRLJshhZnwKloj",
  "name": "LOG_Workflow_popula_banco_v1",
  "description": null,
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/chamado/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "projeto__id",
              "value": "={{ $('Search Projeto Id').item.json.results[0].projeto }}"
            },
            {
              "name": "fase__id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "limit",
              "value": "=999"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "=/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $('Fetch Neat Sess').item.json.csrfFieldName }}={{ $('Fetch Neat Sess').item.json.csrfCookie }}; sessionid={{ $('Fetch Neat Sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5168,
        1120
      ],
      "id": "3d4fc411-f267-468a-96e0-0c098cd2d3af",
      "name": "Fetch Chamados"
    },
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/fase/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('Fetch Neat Sess').item.json.baseUrl }}/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $('Fetch Neat Sess').item.json.csrfFieldName }}={{ $('Fetch Neat Sess').item.json.csrfCookie }}; sessionid={{ $('Fetch Neat Sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5840,
        960
      ],
      "id": "f040356c-c531-4629-8617-cb5a3586208b",
      "name": "Fetch Fases"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -4912,
        512
      ],
      "id": "571ff14b-73d8-482b-a84d-7a4cf6fc60d4",
      "name": "Sort Asc"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "fase",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4048,
        736
      ],
      "id": "31e99dd8-177a-4843-b3f7-4091cc59c1fb",
      "name": "Append Fases"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4720,
        1168
      ],
      "id": "8c3e5dd7-06dc-40ae-9fd1-4e2efa40ede2",
      "name": "Split Cards"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "225d6553-8b9e-416c-a191-fc563d6374dc",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "c2abc8dd-32a1-4877-93f8-96fb38cec0b8",
              "name": "tag",
              "value": "={{ $json.tag }}",
              "type": "array"
            },
            {
              "id": "e7383f85-8621-425b-b280-303613b7ed9f",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "f92573fa-8054-40d8-a07f-b24dfa426dcf",
              "name": "descricao",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "dea99a5d-abf2-4c61-ac30-3d9da3f9224a",
              "name": "responsaveis",
              "value": "={{ $json.responsaveis }}",
              "type": "array"
            },
            {
              "id": "d0c3c52f-2596-417b-baed-f08a259bdf9d",
              "name": "orcado",
              "value": "={{ $json.orcado }}",
              "type": "string"
            },
            {
              "id": "3a9eb313-8ab4-40b0-93a0-575bec63d4d9",
              "name": "tempo_decorrido",
              "value": "={{ $json.tempo_decorrido }}",
              "type": "string"
            },
            {
              "id": "ee4a8d06-9023-4eab-a69d-f2b50a16bc81",
              "name": "em_andamento",
              "value": "={{ $json.em_andamento }}",
              "type": "boolean"
            },
            {
              "id": "83dfe687-e520-4ea3-8cac-c3ccec5be23e",
              "name": "data_criacao",
              "value": "={{ $json.data_criacao }}",
              "type": "string"
            },
            {
              "id": "939acf65-ea39-4d27-9c62-430584c68324",
              "name": "data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "string"
            },
            {
              "id": "465f44ec-2c9f-49d5-b12a-e7186835b334",
              "name": "data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "string"
            },
            {
              "id": "75e2ab30-7680-432e-863b-c8bc6a36acb2",
              "name": "pontos_totais",
              "value": "={{ $json.pontos_totais }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4496,
        1168
      ],
      "id": "bdb3593e-15e2-4ca7-87bf-9f162abd2996",
      "name": "Select Card Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "cards",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4048,
        1168
      ],
      "id": "5778b247-9eb3-4b9b-aa0f-fee51a1a579a",
      "name": "Append Cards"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3824,
        912
      ],
      "id": "c9514651-b455-4955-b8ee-c4462515493f",
      "name": "Merge Infos and Cards and Fases"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "=entrada"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3136,
        928
      ],
      "id": "232a0b2b-6ee2-4fef-9d3c-3792d8167f89",
      "name": "Make Binary Json"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/logbit/agente-healthy-check/base/{{ $('Make Binary Json').item.binary.data.fileName }}.{{ $('Make Binary Json').item.binary.data.fileExtension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2928,
        928
      ],
      "id": "0ed79bef-61b0-4c83-a3ab-cc4f93c3a4ca",
      "name": "Write Agent Input"
    },
    {
      "parameters": {
        "command": "python /data/repos/logbit/agente-healthy-check/pipeline_agente.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2528,
        928
      ],
      "id": "42cd14d3-ac62-4a41-a6cd-41fe2dbfb6f3",
      "name": "Python Backlog Agent"
    },
    {
      "parameters": {
        "fileSelector": "=/data/repos/logbit/agente-healthy-check/base/healthcheck_projeto_{{$('Edit Fields').item.json.info.projeto_info.id}}_fase_{{$('Edit Fields').item.json.info.fase_info.fase_id}}.{{ $('Make Binary Json').item.binary.data.fileExtension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2144,
        928
      ],
      "id": "b1326d41-f902-4707-a94a-65cdaefabc4d",
      "name": "Read Agent Output"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1840,
        928
      ],
      "id": "ac338512-08e8-4d77-8d4b-351f0e88fbd0",
      "name": "Make N8n Json"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3600,
        928
      ],
      "id": "0c4a8ece-c3a7-4e51-9d3d-dfc9d004ee99",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93f8b913-e0f2-4666-be6f-853d550bbead",
              "name": "info",
              "value": "={{ $json.data[0].info }}",
              "type": "object"
            },
            {
              "id": "9f4dcb74-37db-4c7a-8017-478a0e50da31",
              "name": "cards",
              "value": "={{ $json.data[1].cards }}",
              "type": "array"
            },
            {
              "id": "d59e879c-1e0b-40d3-b07e-1612cd6fe78d",
              "name": "fase",
              "value": "={{ $json.data[2].fase }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3376,
        928
      ],
      "id": "44e3715c-40a7-4565-b407-ff832c0bf93f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n_BASE64_AFTER_MARKER_RE = re.compile(\n    r'(base64,)[A-Za-z0-9+/=\\r\\n]+(?=(?:[\"\\s]|$))',\n    re.IGNORECASE,\n)\n\ndef strip_after_base64_marker(text: str) -> str:\n    \"\"\"Mantém 'base64,' e remove o payload até aspas/espaço/fim.\"\"\"\n    if not isinstance(text, str):\n        return text\n    return _BASE64_AFTER_MARKER_RE.sub(r'\\1', text)\n\nitems = _input.all()\n\nfor item in items:\n    try:\n        data = item[\"json\"]\n    except Exception:\n        data = item  # fallback, caso venha direto\n\n    for k, v in list(data.items()):\n        if isinstance(v, str):\n            data[k] = strip_after_base64_marker(v)\n\nreturn items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4272,
        1168
      ],
      "id": "3932d2f7-6c90-46df-86fa-724b5bf26c52",
      "name": "Remove Base64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9db12bb1-45b8-4fd1-be10-b060d47a569b",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "4dafc261-6459-471d-93a8-04130c583c6a",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5616,
        960
      ],
      "id": "9da0dbab-4743-45d9-b026-67e992ce8e0c",
      "name": "Select Fase Id and Name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10190337-eb8d-4c8d-9266-aaef965d68e6",
              "leftValue": "={{ $json.nome }}",
              "rightValue": "={{ $('Receive Projeto and Fase').item.json.fase }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -5392,
        1024
      ],
      "id": "31a8fd86-1e1b-4443-afe9-d295a2465119",
      "name": "Filter Selected Fase"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f86b4c6c-1cdc-42ec-8bbe-7ce40d28385f",
              "name": "fase_info.fase_nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "319dc818-8a7e-478d-ad72-b19ede0caefe",
              "name": "fase_info.fase_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5168,
        880
      ],
      "id": "f5d67ae8-4e7a-4805-9224-01e6b60e56e1",
      "name": "Make Fase Json"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4944,
        928
      ],
      "id": "2f9c9d63-3178-42c8-8dae-b00dc55882ce",
      "name": "Merge Fase and Cards"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4720,
        928
      ],
      "id": "9a17fa74-049d-48e3-b82b-3d7b81da8f4e",
      "name": "Append in One Item"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63f4ce9e-1170-43af-93c0-f374de398d9e",
              "name": "results",
              "value": "={{ $('Fetch Chamados').item.json.results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4944,
        1168
      ],
      "id": "3420be79-1f3b-4c4e-bc0c-0d5c909c95f2",
      "name": "Select Cards",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c878bbeb-2fb5-487e-867a-9f8fd0ca1ea8",
              "name": "info.projeto_info",
              "value": "={{ $json.data[1].results[0].projeto_info }}",
              "type": "object"
            },
            {
              "id": "d47f5991-04be-44b9-bf76-6294ef5e9784",
              "name": "info.fase_info",
              "value": "={{ $json.data[0].fase_info }}",
              "type": "object"
            },
            {
              "id": "bef1b315-4920-4964-a4bd-86c3ab3ccc01",
              "name": "info.card_count",
              "value": "={{ $json.data[1].count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4496,
        928
      ],
      "id": "c113504e-2702-494c-9cf2-e83d229a1b17",
      "name": "Select Fase, Projeto and Card Count",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.resultado.cards",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -592,
        928
      ],
      "id": "6f5d8dbc-dcb8-47d1-a0d2-a1dbecc63e9b",
      "name": "Split Card Healthchecks"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projeto"
            },
            {
              "name": "fase"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -6528,
        960
      ],
      "id": "3079f8f0-8dcd-4c21-af74-15589a0a74ea",
      "name": "Receive Projeto and Fase"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NjnKt0iFshkTHpkY",
          "mode": "list",
          "cachedResultUrl": "/workflow/NjnKt0iFshkTHpkY",
          "cachedResultName": "LOG_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "loginPath": "/login/",
            "baseUrl": "https://hub.novadata.com.br",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -6288,
        960
      ],
      "id": "36e88e8e-707d-4301-9102-68af136f2b9f",
      "name": "Fetch Neat Sess"
    },
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/chamado/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('Receive Projeto and Fase').item.json.projeto }}"
            },
            {
              "name": "limit",
              "value": "=1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "=/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.csrfFieldName }}={{ $json.csrfCookie }}; sessionid={{ $json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6064,
        960
      ],
      "id": "e4f958de-75b3-4724-82db-67722270c9d8",
      "name": "Search Projeto Id"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1296,
        912
      ],
      "id": "277aa299-00c4-49e6-a08c-605e662e1006",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "projetos",
          "mode": "list",
          "cachedResultName": "projetos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.data.resultado.projeto.nome }}",
            "neat_id": "={{ $json.data.resultado.projeto.id }}"
          },
          "matchingColumns": [
            "neat_id"
          ],
          "schema": [
            {
              "id": "neat_id",
              "displayName": "neat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1136,
        -688
      ],
      "id": "15b37262-1545-457f-9d00-ea40a7b26a57",
      "name": "tabela projetos",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1584,
        -128
      ],
      "id": "07272fff-eb80-4db6-888a-ee10b7a62202",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "card",
          "mode": "list",
          "cachedResultName": "card"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split Card Healthchecks').item.json.id }}",
            "data_criacao": "={{ $('Split Card Healthchecks').item.json.datas.criacao }}",
            "titulo": "={{ $('Split Card Healthchecks').item.json.titulo }}",
            "descricao": "={{ $('Split Card Healthchecks').item.json.descricao }}",
            "projeto_id": "={{ $('Make N8n Json').item.json.data.resultado.projeto.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        -112
      ],
      "id": "baa9a3f7-5ec4-4d21-996d-a247b0300e4f",
      "name": "tabela card",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analise_card",
          "mode": "list",
          "cachedResultName": "analise_card"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "em_andamento": "={{ $('Loop Over Items8').item.json.em_andamento }}",
            "id_card": "={{ $('Loop Over Items8').item.json.id }}",
            "fase": "={{ $('Loop Over Items8').item.json.fase }}",
            "orcado": "={{ $('Loop Over Items8').item.json.orcado }}",
            "tempo_decorrido": "={{ $('Loop Over Items8').item.json.tempo_decorrido }}",
            "pontos_totais": "={{ $('Loop Over Items8').item.json.pontos_totais }}",
            "lead_time": "={{ $('Loop Over Items8').item.json.lead_time }}",
            "cycle_time": "={{ $('Loop Over Items8').item.json.cycle_time }}",
            "avaliacao": "={{ $('Loop Over Items8').item.json.avaliacao_ia }}",
            "data_prevista": "={{ $('Loop Over Items8').item.json.datas.prevista }}",
            "data_desejada": "={{ $('Loop Over Items8').item.json.datas.desejada }}",
            "data_conclusao": "={{ $('Loop Over Items8').item.json.datas.conclusao }}",
            "data_inicio_doing": "={{ $('Loop Over Items8').item.json.datas.inicio_doing }}",
            "data_criacao_banco": "2025-10-23T13:26:50",
            "nota_avaliacao": "={{ $('Loop Over Items8').item.json.avaliacao_ia.nota }}",
            "relatorio_uuid": "={{ $json.uuid }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_card",
              "displayName": "id_card",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "orcado",
              "displayName": "orcado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tempo_decorrido",
              "displayName": "tempo_decorrido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "em_andamento",
              "displayName": "em_andamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "pontos_totais",
              "displayName": "pontos_totais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_time",
              "displayName": "lead_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "cycle_time",
              "displayName": "cycle_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_criacao_banco",
              "displayName": "data_criacao_banco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "avaliacao",
              "displayName": "avaliacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_prevista",
              "displayName": "data_prevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_desejada",
              "displayName": "data_desejada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_conclusao",
              "displayName": "data_conclusao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_inicio_doing",
              "displayName": "data_inicio_doing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_avaliacao",
              "displayName": "nota_avaliacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "relatorio_uuid",
              "displayName": "relatorio_uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        560
      ],
      "id": "40e755d0-5068-4387-bdc7-450160a23828",
      "name": "tabela analise card",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1296,
        544
      ],
      "id": "7d39e3c0-300f-4a32-ae5c-516db4b1329c",
      "name": "Loop Over Items8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb653848-be08-455b-8d79-1e15ab6aec62",
              "name": "analise card id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "e5888aaa-8656-4b7a-af3b-b001c5270879",
              "name": "card_referencia_id",
              "value": "={{ $json.id_card }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        560
      ],
      "id": "66315db2-d862-466c-b4c4-944dc52716b5",
      "name": "analise card id"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "responsavel",
          "mode": "list",
          "cachedResultName": "responsavel"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split Out responsaveis').item.json.id }}",
            "nome": "={{ $('Split Out responsaveis').item.json.nome }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        928
      ],
      "id": "331f62c2-eed1-48ef-bd70-1e495144f8e9",
      "name": "tabela responsavel",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "responsaveis",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        896
      ],
      "id": "0e544a49-b3f4-4848-a21c-370a962f9a4c",
      "name": "Split Out responsaveis"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alertas_projeto",
          "mode": "list",
          "cachedResultName": "alertas_projeto"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "relatorio_uuid": "={{ $('Make N8n Json').item.json.data.meta.uuid }}",
            "alerta_projeto_tipo_id": "={{ $json['alerta projeto tipo id'] }}",
            "dados": "={{ JSON.stringify(\n    {\n        \"cards\": $json.cards,\n        \"grau_de_similaridade\": $json.grau_de_similaridade\n    }\n) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "relatorio_uuid",
              "displayName": "relatorio_uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "alerta_projeto_tipo_id",
              "displayName": "alerta_projeto_tipo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dados",
              "displayName": "dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        608
      ],
      "id": "f9c5c9a3-bc0b-4372-aebd-ec7c0eab11aa",
      "name": "tabela alertas projeto",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5321157-300b-47c4-9177-a14f29bade2e",
              "name": "alertas projeto id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        608
      ],
      "id": "62951b61-c9d1-40c6-bb20-4e2fe1551cd3",
      "name": "alertas projeto id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e12e9e96-d6f2-438e-8b2a-756916950961",
              "name": "responsavel id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        928
      ],
      "id": "d3f9e375-4bd6-424e-817d-9a8c131e543c",
      "name": "responsavel id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "card_responsavel",
          "mode": "list",
          "cachedResultName": "card_responsavel"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "responsavel_id": "={{ $json['responsavel id'] }}",
            "card_id": "={{ $('Split Card Healthchecks').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "responsavel_id",
              "displayName": "responsavel_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        928
      ],
      "id": "499d4eb8-3fa5-4d3e-bd7a-11638981749e",
      "name": "tabela card responsavel",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "708c48ae-5623-4f75-923b-8db91e0d3579",
              "name": "analise estrategica id",
              "value": "=",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4064,
        -176
      ],
      "id": "cf6e5960-5cf8-47d7-9aba-641ba4307b1f",
      "name": "analise estrategica id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "health_score",
          "mode": "list",
          "cachedResultName": "health_score"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analise_card_id": "={{ $json['analise card id'] }}",
            "nota_qualidade": "={{ $('Loop Over Items8').item.json.health_score.nota_qualidade }}",
            "nota_estrategica": "={{ $('Loop Over Items8').item.json.health_score.nota_estrategica }}",
            "health_score_final": "={{ $('Loop Over Items8').item.json.health_score.health_score_final }}",
            "justificativa": "={{ $('Loop Over Items8').item.json.health_score.justificativa }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_qualidade",
              "displayName": "nota_qualidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_estrategica",
              "displayName": "nota_estrategica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "health_score_final",
              "displayName": "health_score_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa",
              "displayName": "justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3856,
        592
      ],
      "id": "172db01b-29b7-4a70-a988-facf7a38812e",
      "name": "tabela health score",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cda8c9a9-f0fc-44a6-818c-f8da319bf726",
              "name": "health score id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4064,
        592
      ],
      "id": "3b2b5fb3-7c02-42d8-98f9-5c4c13d62f57",
      "name": "health score id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analise_estrategica",
          "mode": "list",
          "cachedResultName": "analise_estrategica"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analise_card_id": "={{ $json['analise card id'] }}",
            "alinhado": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.alinhado }}",
            "justificativa": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.justificativa }}",
            "score": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.pontuacao }}",
            "pontuacao_valor": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.pontuacao_num }}",
            "alinhado_status": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.alinhado_bool }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "alinhado",
              "displayName": "alinhado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa",
              "displayName": "justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alinhado_status",
              "displayName": "alinhado_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pontuacao_valor",
              "displayName": "pontuacao_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3856,
        -176
      ],
      "id": "fcd5ebc0-3df7-444e-8d94-dc985e22351d",
      "name": "tabela analise estrategica",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61c7c8ff-b016-48f0-a364-bbf59325d69f",
              "leftValue": "={{ $('Loop Over Items8').item.json.fase }}",
              "rightValue": "Concluído",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3840,
        816
      ],
      "id": "f031d736-a18e-4520-b16a-037b159456be",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "127a92af-1089-4903-bf4f-a886878aacdb",
              "name": "documentacao ia id",
              "value": "=",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4304,
        800
      ],
      "id": "bbf48ab7-ffd3-4bff-9a27-5693ea543b65",
      "name": "documentacao ia id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documentacao_ia",
          "mode": "list",
          "cachedResultName": "documentacao_ia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analise_card_id": "={{ $('analise card id').item.json['analise card id'] }}",
            "conteudo": "={{ $('Loop Over Items8').item.json.documentacao_ia }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conteudo",
              "displayName": "conteudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4096,
        800
      ],
      "id": "a20903b6-29e4-4e6d-86cc-70a6e6a7909f",
      "name": "tabela documentacao ia",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tags",
          "mode": "list",
          "cachedResultName": "tags"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nome": "={{ $json.nome }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        1200
      ],
      "id": "698bbd68-bf57-413f-a873-e5c8655c0ef9",
      "name": "tabela tags",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        1184
      ],
      "id": "5c4333e3-0f5a-4c46-8c98-3f044ff0dca5",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tags",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        1184
      ],
      "id": "cfa59a9d-b8ac-4305-8a6d-273c928e4790",
      "name": "Split Out tags"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "card_tags",
          "mode": "list",
          "cachedResultName": "card_tags"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tag_id": "={{ $json['tag id'] }}",
            "card_id": "={{ $('nome tags').item.json.id }}"
          },
          "matchingColumns": [
            "card_id",
            "tag_id"
          ],
          "schema": [
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tag_id",
              "displayName": "tag_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1424,
        1200
      ],
      "id": "6acfaec3-5550-462e-af4e-557df328e079",
      "name": "tabela card tags",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93833e32-d8e6-4bf2-a607-d2a65e9aa1c0",
              "name": "tag id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        1200
      ],
      "id": "7bf36b43-bbf0-448b-b20e-a32b510f16e6",
      "name": "tag id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analise_projeto",
          "mode": "list",
          "cachedResultName": "analise_projeto"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_cards": "={{ $json.data.resultado.total_cards }}",
            "throughput": "={{ $json.data.resultado.metrica_qualidade.throughput }}",
            "tempo_medio_por_fase_dia": "={{ $json.data.resultado.metrica_qualidade.tempo_medio_por_fase_dia }}",
            "fase": "={{ $json.data.resultado.fase }}",
            "data": "2025-11-05T10:52:25",
            "relatorio_uuid": "={{ $json.data.meta.uuid }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_cards",
              "displayName": "total_cards",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "throughput",
              "displayName": "throughput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "tempo_por_fase",
              "displayName": "tempo_por_fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "relatorio_uuid",
              "displayName": "relatorio_uuid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tempo_medio_por_fase_dia",
              "displayName": "tempo_medio_por_fase_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1008,
        160
      ],
      "id": "113d70ae-cc31-4c15-ae94-395a44e46e30",
      "name": "tabela analise projeto",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d423a5c-7652-459c-a578-23fb1a3ade2c",
              "name": "analise projeto id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        160
      ],
      "id": "ed6146eb-abc5-4391-afc2-6b3f5582ec51",
      "name": "analise projeto id"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorio_meta",
          "mode": "list",
          "cachedResultName": "relatorio_meta"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "uuid": "={{ $json.data.meta.uuid }}",
            "versao_schema": "={{ $json.data.meta.versao_schema }}",
            "gerado_em": "={{ $json.data.meta.gerado_em }}",
            "fonte": "={{ $json.data.meta.fonte }}",
            "projeto_id": "={{ $json.data.resultado.projeto.id }}"
          },
          "matchingColumns": [
            "uuid"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "versao_schema",
              "displayName": "versao_schema",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "gerado_em",
              "displayName": "gerado_em",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1008,
        -48
      ],
      "id": "d4450ac0-729c-411e-acef-d4be24c86eb9",
      "name": "tabela relatorio meta",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89896c1c-ad4d-4122-bc96-77c2f6d25840",
              "name": "relatorio meta id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        32
      ],
      "id": "37eaf63d-2513-4826-8582-779462e6449d",
      "name": "relatorio meta id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alerta_projeto_tipo (tipo)\nVALUES ('Similaridade título')\nON CONFLICT (tipo) DO UPDATE\nSET tipo = EXCLUDED.tipo  \nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1056,
        480
      ],
      "id": "bc68de5a-8fe7-4b07-9804-bd8c80085ccf",
      "name": "tabela alerta projeto tipo",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a617d073-6e37-48a9-afb2-498d6737169b",
              "name": "alerta projeto tipo id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        480
      ],
      "id": "19e66ec7-e9e4-4df9-af30-6ac8e3ad9b73",
      "name": "alerta projeto tipo id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db08b030-cba3-4121-9c47-b63d20a7ba46",
              "name": "uuid",
              "value": "={{ $json.uuid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -160
      ],
      "id": "120d6f93-3f3b-4800-af45-a98e6357fc2e",
      "name": "uuid"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorio_meta",
          "mode": "list",
          "cachedResultName": "relatorio_meta"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        560
      ],
      "id": "e1dd6951-ed2a-40b6-a87e-7a47c6da2854",
      "name": "Select relatorio meta",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alertas_card",
          "mode": "list",
          "cachedResultName": "alertas_card"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ativo": "={{ $json.ativo }}",
            "analise_card_id": "={{ $json['analise card id'] }}",
            "dados": "={{ $json.dados }}",
            "alerta_card_tipo_id": "={{ $json.alerta_card_tipo_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "dados",
              "displayName": "dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "alerta_card_tipo_id",
              "displayName": "alerta_card_tipo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3392,
        288
      ],
      "id": "a32c6172-1a3d-4849-a31c-3f5280543762",
      "name": "tabela alertas card",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tagsDict = {\n  1: \"Bug\",\n  2: \"Pendente Requisitos\",\n  3: \"MVP\",\n  4: \"Front\",\n  5: \"Back\",\n  6: \"Design\",\n  7: \"Produto\",\n  8: \"Feature\",\n  9: \"Infraestrutura\",\n  10: \"QA\",\n  11: \"Prioridade\",\n  12: \"Reprovado\",\n  13: \"Em Orçamento\",\n  14: \"Retrabalho\",\n  15: \"Computar\",\n  16: \"Não Computar\",\n  17: \"BI\",\n  18: \"3\",\n  19: \"2\",\n  20: \"1\",\n  21: \"irreproduzível\"\n};\n\nreturn $input.all().map(item => {\n  const tags = (item.json.tags || []).map(id => ({\n    id,\n    nome: tagsDict[id] || `Tag ${id} desconhecida`\n  }));\n  item.json.tags = tags;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        1184
      ],
      "id": "b2a604f1-92f7-4f12-bcb0-8c68545716b9",
      "name": "nome tags"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alerta_card_tipo (tipo)\nVALUES\n    ('sem_titulo'),\n    ('sem_descricao'),\n    ('sem_responsaveis'),\n    ('sem_tags'),\n    ('sem_data_criacao'),\n    ('sem_estimativa_esforco'),\n    ('sem_data_prevista'),\n    ('sem_data_desejada'),\n    ('sem_pontos'),\n    ('sem_vinculo_projeto'),\n    ('descricao_curta'),\n    ('sem_criterios_aceite'),\n    ('tags_pouco_descritivas'),\n    ('data_prevista_antes_criacao'),\n    ('data_conclusao_antes_criacao'),\n    ('card_antigo_sem_priorizacao')\nON CONFLICT (tipo) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -976,
        320
      ],
      "id": "32918775-0896-4ea4-8190-943311de3d3c",
      "name": "tabela alerta card tipo",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -528,
        592
      ],
      "id": "a54ee404-91f8-4293-bf1a-7cb0e414d6a8",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1, input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -704,
        592
      ],
      "id": "3e2a85ee-47a5-4ac7-9de2-ab9f72ecbe87",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45a55509-6b29-4d6f-b889-482db85324c1",
              "name": "alertas card id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3568,
        288
      ],
      "id": "5f4441a6-df90-4bab-b946-f25329d646e6",
      "name": "alertas card id"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  // Caminho até o array de similaridades\n  const similaridades = item.json?.data?.resultado?.alertas_gerais?.[0]?.similaridade_titulo;\n\n  if (Array.isArray(similaridades)) {\n    // Para cada similaridade (cada objeto com cards + grau_de_similaridade)\n    for (const sim of similaridades) {\n      // Garante que cada saida seja um item completo\n      output.push({\n        json: {\n          cards: sim.cards,\n          grau_de_similaridade: sim.grau_de_similaridade\n        }\n      });\n    }\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        672
      ],
      "id": "ce70c6a2-d660-4f8a-82cd-ebf2350a2ed5",
      "name": "split alertas similaridade titulo"
    },
    {
      "parameters": {
        "jsCode": "const mapaTipos = {\n    \"sem_titulo\": 2, \"sem_descricao\": 3, \"sem_responsaveis\": 4, \"sem_tags\": 5, \n    \"sem_data_criacao\": 6, \"sem_estimativa_esforco\": 7, \"sem_data_prevista\": 8, \n    \"sem_data_desejada\": 9, \"sem_pontos\": 10, \"sem_vinculo_projeto\": 11, \n    \"descricao_curta\": 12, \"sem_criterios_aceite\": 13, \"tags_pouco_descritivas\": 14, \n    \"data_prevista_antes_criacao\": 15, \"data_conclusao_antes_criacao\": 16, \n    \"card_antigo_sem_priorizacao\": 17\n};\n\nconst itemsDeSaida = [];\n\n// Loop sobre todos os itens de entrada (cada card no Loop Over Items8)\nfor (const item of $input.all()) {\n    \n    // Acessa o objeto de alertas de validação.\n    const alertasValidacao = item.json.alertas_validacao;\n    \n    // Obtém o ID do card original (chave de correspondência futura no Merge)\n    const cardId = item.json.id; \n    \n    // Verifica se o objeto de alertas existe\n    if (typeof alertasValidacao === 'object' && alertasValidacao !== null) {\n\n        // Itera sobre as chaves (os nomes dos alertas)\n        for (const tipoAlerta in alertasValidacao) {\n            \n            // Verifica se a chave existe no objeto E no nosso mapa de IDs\n            if (alertasValidacao.hasOwnProperty(tipoAlerta) && mapaTipos.hasOwnProperty(tipoAlerta)) {\n                \n                const statusAtivo = alertasValidacao[tipoAlerta];\n\n                // Busca o ID do tipo de alerta\n                const alertaTipoId = mapaTipos[tipoAlerta];\n\n                // Cria um novo item para cada par chave-valor\n                itemsDeSaida.push({\n                    json: {\n                        // IDs PRINCIPAIS PARA A INSERÇÃO\n                        alerta_card_tipo_id: alertaTipoId,\n                        ativo: statusAtivo, \n                        dados: JSON.stringify({ [tipoAlerta]: statusAtivo }),\n                        \n                        // CHAVE DE CORRESPONDÊNCIA PARA O MERGE\n                        card_referencia_id: cardId, \n                        tipo_alerta: tipoAlerta\n                    }\n                });\n            }\n        }\n    }\n}\n\nreturn itemsDeSaida;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        128
      ],
      "id": "1bb05b97-1eac-4bc1-91d7-7c27f3008f4a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "card_referencia_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3136,
        288
      ],
      "id": "927297ea-d338-477b-a72f-70bced80a9b2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "produtos",
          "mode": "list",
          "cachedResultName": "produtos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto_id": "={{ $json.data.resultado.projeto.id }}",
            "nome": "={{ $json.data.resultado.projeto.produto_nome }}",
            "okr": "={{ $json.data.okrs }}"
          },
          "matchingColumns": [
            "nome"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "okr",
              "displayName": "okr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1040,
        -352
      ],
      "id": "e72bbd31-96e1-4b59-ad6e-30cfec654dbc",
      "name": "tabela produtos",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    }
  ],
  "connections": {
    "Fetch Chamados": {
      "main": [
        [
          {
            "node": "Select Cards",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Fase and Cards",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Fases": {
      "main": [
        [
          {
            "node": "Select Fase Id and Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Asc": {
      "main": [
        [
          {
            "node": "Append Fases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Fases": {
      "main": [
        [
          {
            "node": "Merge Infos and Cards and Fases",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Split Cards": {
      "main": [
        [
          {
            "node": "Select Card Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Card Fields": {
      "main": [
        [
          {
            "node": "Remove Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Cards": {
      "main": [
        [
          {
            "node": "Merge Infos and Cards and Fases",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Infos and Cards and Fases": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Binary Json": {
      "main": [
        [
          {
            "node": "Write Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Agent Input": {
      "main": [
        [
          {
            "node": "Python Backlog Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python Backlog Agent": {
      "main": [
        [
          {
            "node": "Read Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Agent Output": {
      "main": [
        [
          {
            "node": "Make N8n Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make N8n Json": {
      "main": [
        [
          {
            "node": "Split Card Healthchecks",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela projetos",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela analise projeto",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela relatorio meta",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela alerta card tipo",
            "type": "main",
            "index": 0
          },
          {
            "node": "split alertas similaridade titulo",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela alerta projeto tipo",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Make Binary Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Base64": {
      "main": [
        [
          {
            "node": "Append Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Fase Id and Name": {
      "main": [
        [
          {
            "node": "Sort Asc",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Selected Fase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Selected Fase": {
      "main": [
        [
          {
            "node": "Make Fase Json",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Chamados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Fase Json": {
      "main": [
        [
          {
            "node": "Merge Fase and Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Fase and Cards": {
      "main": [
        [
          {
            "node": "Append in One Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append in One Item": {
      "main": [
        [
          {
            "node": "Select Fase, Projeto and Card Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Cards": {
      "main": [
        [
          {
            "node": "Split Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Fase, Projeto and Card Count": {
      "main": [
        [
          {
            "node": "Merge Infos and Cards and Fases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Card Healthchecks": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out responsaveis",
            "type": "main",
            "index": 0
          },
          {
            "node": "nome tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Projeto and Fase": {
      "main": [
        [
          {
            "node": "Fetch Neat Sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Neat Sess": {
      "main": [
        [
          {
            "node": "Search Projeto Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Projeto Id": {
      "main": [
        [
          {
            "node": "Fetch Fases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "tabela responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "tabela card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela card": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela analise card": {
      "main": [
        [
          {
            "node": "analise card id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "node": "Select relatorio meta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analise card id": {
      "main": [
        [
          {
            "node": "tabela analise estrategica",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela health score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items8",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "tabela responsavel": {
      "main": [
        [
          {
            "node": "responsavel id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out responsaveis": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alertas projeto": {
      "main": [
        [
          {
            "node": "alertas projeto id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "responsavel id": {
      "main": [
        [
          {
            "node": "tabela card responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela card responsavel": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela health score": {
      "main": [
        [
          {
            "node": "health score id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela analise estrategica": {
      "main": [
        [
          {
            "node": "analise estrategica id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "tabela documentacao ia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela documentacao ia": {
      "main": [
        [
          {
            "node": "documentacao ia id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela tags": {
      "main": [
        [
          {
            "node": "tag id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "tabela tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out tags": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela card tags": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag id": {
      "main": [
        [
          {
            "node": "tabela card tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela analise projeto": {
      "main": [
        [
          {
            "node": "analise projeto id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela relatorio meta": {
      "main": [
        [
          {
            "node": "uuid",
            "type": "main",
            "index": 0
          },
          {
            "node": "relatorio meta id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alerta projeto tipo": {
      "main": [
        [
          {
            "node": "alerta projeto tipo id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "alerta projeto tipo id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "alertas projeto id": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uuid": {
      "main": [
        []
      ]
    },
    "Select relatorio meta": {
      "main": [
        [
          {
            "node": "tabela analise card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alertas card": {
      "main": [
        [
          {
            "node": "alertas card id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nome tags": {
      "main": [
        [
          {
            "node": "Split Out tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "tabela alertas projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alerta card tipo": {
      "main": [
        []
      ]
    },
    "split alertas similaridade titulo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "tabela alertas card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Receive Projeto and Fase": [
      {
        "json": {
          "projeto": "Squad Assessment",
          "fase": "Concluído"
        }
      }
    ]
  },
  "versionId": "f7860fb5-31a2-48a3-a27f-3caf12f7193d",
  "activeVersionId": "f7860fb5-31a2-48a3-a27f-3caf12f7193d",
  "versionCounter": 12,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-21T13:28:54.182Z",
      "createdAt": "2025-10-21T13:28:54.182Z",
      "role": "workflow:owner",
      "workflowId": "gUjRLJshhZnwKloj",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-11-25T20:27:38.008Z",
    "createdAt": "2025-11-25T20:27:38.008Z",
    "versionId": "f7860fb5-31a2-48a3-a27f-3caf12f7193d",
    "workflowId": "gUjRLJshhZnwKloj",
    "nodes": [
      {
        "parameters": {
          "url": "https://hub.novadata.com.br/api/chamado/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "projeto__id",
                "value": "={{ $('Search Projeto Id').item.json.results[0].projeto }}"
              },
              {
                "name": "fase__id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "limit",
                "value": "=999"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "=/"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "={{ $('Fetch Neat Sess').item.json.csrfFieldName }}={{ $('Fetch Neat Sess').item.json.csrfCookie }}; sessionid={{ $('Fetch Neat Sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -5168,
          1120
        ],
        "id": "3d4fc411-f267-468a-96e0-0c098cd2d3af",
        "name": "Fetch Chamados"
      },
      {
        "parameters": {
          "url": "https://hub.novadata.com.br/api/fase/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('Fetch Neat Sess').item.json.baseUrl }}/"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "={{ $('Fetch Neat Sess').item.json.csrfFieldName }}={{ $('Fetch Neat Sess').item.json.csrfCookie }}; sessionid={{ $('Fetch Neat Sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -5840,
          960
        ],
        "id": "f040356c-c531-4629-8617-cb5a3586208b",
        "name": "Fetch Fases"
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "id"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          -4912,
          512
        ],
        "id": "571ff14b-73d8-482b-a84d-7a4cf6fc60d4",
        "name": "Sort Asc"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "fase",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -4048,
          736
        ],
        "id": "31e99dd8-177a-4843-b3f7-4091cc59c1fb",
        "name": "Append Fases"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -4720,
          1168
        ],
        "id": "8c3e5dd7-06dc-40ae-9fd1-4e2efa40ede2",
        "name": "Split Cards"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "225d6553-8b9e-416c-a191-fc563d6374dc",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "c2abc8dd-32a1-4877-93f8-96fb38cec0b8",
                "name": "tag",
                "value": "={{ $json.tag }}",
                "type": "array"
              },
              {
                "id": "e7383f85-8621-425b-b280-303613b7ed9f",
                "name": "titulo",
                "value": "={{ $json.titulo }}",
                "type": "string"
              },
              {
                "id": "f92573fa-8054-40d8-a07f-b24dfa426dcf",
                "name": "descricao",
                "value": "={{ $json.descricao }}",
                "type": "string"
              },
              {
                "id": "dea99a5d-abf2-4c61-ac30-3d9da3f9224a",
                "name": "responsaveis",
                "value": "={{ $json.responsaveis }}",
                "type": "array"
              },
              {
                "id": "d0c3c52f-2596-417b-baed-f08a259bdf9d",
                "name": "orcado",
                "value": "={{ $json.orcado }}",
                "type": "string"
              },
              {
                "id": "3a9eb313-8ab4-40b0-93a0-575bec63d4d9",
                "name": "tempo_decorrido",
                "value": "={{ $json.tempo_decorrido }}",
                "type": "string"
              },
              {
                "id": "ee4a8d06-9023-4eab-a69d-f2b50a16bc81",
                "name": "em_andamento",
                "value": "={{ $json.em_andamento }}",
                "type": "boolean"
              },
              {
                "id": "83dfe687-e520-4ea3-8cac-c3ccec5be23e",
                "name": "data_criacao",
                "value": "={{ $json.data_criacao }}",
                "type": "string"
              },
              {
                "id": "939acf65-ea39-4d27-9c62-430584c68324",
                "name": "data_prevista",
                "value": "={{ $json.data_prevista }}",
                "type": "string"
              },
              {
                "id": "465f44ec-2c9f-49d5-b12a-e7186835b334",
                "name": "data_desejada",
                "value": "={{ $json.data_desejada }}",
                "type": "string"
              },
              {
                "id": "75e2ab30-7680-432e-863b-c8bc6a36acb2",
                "name": "pontos_totais",
                "value": "={{ $json.pontos_totais }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4496,
          1168
        ],
        "id": "bdb3593e-15e2-4ca7-87bf-9f162abd2996",
        "name": "Select Card Fields"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "cards",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -4048,
          1168
        ],
        "id": "5778b247-9eb3-4b9b-aa0f-fee51a1a579a",
        "name": "Append Cards"
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -3824,
          912
        ],
        "id": "c9514651-b455-4955-b8ee-c4462515493f",
        "name": "Merge Infos and Cards and Fases"
      },
      {
        "parameters": {
          "operation": "toJson",
          "options": {
            "fileName": "=entrada"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -3136,
          928
        ],
        "id": "232a0b2b-6ee2-4fef-9d3c-3792d8167f89",
        "name": "Make Binary Json"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/repos/logbit/agente-healthy-check/base/{{ $('Make Binary Json').item.binary.data.fileName }}.{{ $('Make Binary Json').item.binary.data.fileExtension }}",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          -2928,
          928
        ],
        "id": "0ed79bef-61b0-4c83-a3ab-cc4f93c3a4ca",
        "name": "Write Agent Input"
      },
      {
        "parameters": {
          "command": "python /data/repos/logbit/agente-healthy-check/pipeline_agente.py"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -2528,
          928
        ],
        "id": "42cd14d3-ac62-4a41-a6cd-41fe2dbfb6f3",
        "name": "Python Backlog Agent"
      },
      {
        "parameters": {
          "fileSelector": "=/data/repos/logbit/agente-healthy-check/base/healthcheck_projeto_{{$('Edit Fields').item.json.info.projeto_info.id}}_fase_{{$('Edit Fields').item.json.info.fase_info.fase_id}}.{{ $('Make Binary Json').item.binary.data.fileExtension }}",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          -2144,
          928
        ],
        "id": "b1326d41-f902-4707-a94a-65cdaefabc4d",
        "name": "Read Agent Output"
      },
      {
        "parameters": {
          "operation": "fromJson",
          "destinationKey": "=data",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -1840,
          928
        ],
        "id": "ac338512-08e8-4d77-8d4b-351f0e88fbd0",
        "name": "Make N8n Json"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -3600,
          928
        ],
        "id": "0c4a8ece-c3a7-4e51-9d3d-dfc9d004ee99",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "93f8b913-e0f2-4666-be6f-853d550bbead",
                "name": "info",
                "value": "={{ $json.data[0].info }}",
                "type": "object"
              },
              {
                "id": "9f4dcb74-37db-4c7a-8017-478a0e50da31",
                "name": "cards",
                "value": "={{ $json.data[1].cards }}",
                "type": "array"
              },
              {
                "id": "d59e879c-1e0b-40d3-b07e-1612cd6fe78d",
                "name": "fase",
                "value": "={{ $json.data[2].fase }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3376,
          928
        ],
        "id": "44e3715c-40a7-4565-b407-ff832c0bf93f",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "language": "python",
          "pythonCode": "import re\n\n_BASE64_AFTER_MARKER_RE = re.compile(\n    r'(base64,)[A-Za-z0-9+/=\\r\\n]+(?=(?:[\"\\s]|$))',\n    re.IGNORECASE,\n)\n\ndef strip_after_base64_marker(text: str) -> str:\n    \"\"\"Mantém 'base64,' e remove o payload até aspas/espaço/fim.\"\"\"\n    if not isinstance(text, str):\n        return text\n    return _BASE64_AFTER_MARKER_RE.sub(r'\\1', text)\n\nitems = _input.all()\n\nfor item in items:\n    try:\n        data = item[\"json\"]\n    except Exception:\n        data = item  # fallback, caso venha direto\n\n    for k, v in list(data.items()):\n        if isinstance(v, str):\n            data[k] = strip_after_base64_marker(v)\n\nreturn items\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4272,
          1168
        ],
        "id": "3932d2f7-6c90-46df-86fa-724b5bf26c52",
        "name": "Remove Base64"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9db12bb1-45b8-4fd1-be10-b060d47a569b",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "4dafc261-6459-471d-93a8-04130c583c6a",
                "name": "nome",
                "value": "={{ $json.nome }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5616,
          960
        ],
        "id": "9da0dbab-4743-45d9-b026-67e992ce8e0c",
        "name": "Select Fase Id and Name"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "10190337-eb8d-4c8d-9266-aaef965d68e6",
                "leftValue": "={{ $json.nome }}",
                "rightValue": "={{ $('Receive Projeto and Fase').item.json.fase }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -5392,
          1024
        ],
        "id": "31a8fd86-1e1b-4443-afe9-d295a2465119",
        "name": "Filter Selected Fase"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f86b4c6c-1cdc-42ec-8bbe-7ce40d28385f",
                "name": "fase_info.fase_nome",
                "value": "={{ $json.nome }}",
                "type": "string"
              },
              {
                "id": "319dc818-8a7e-478d-ad72-b19ede0caefe",
                "name": "fase_info.fase_id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5168,
          880
        ],
        "id": "f5d67ae8-4e7a-4805-9224-01e6b60e56e1",
        "name": "Make Fase Json"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -4944,
          928
        ],
        "id": "2f9c9d63-3178-42c8-8dae-b00dc55882ce",
        "name": "Merge Fase and Cards"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -4720,
          928
        ],
        "id": "9a17fa74-049d-48e3-b82b-3d7b81da8f4e",
        "name": "Append in One Item"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "63f4ce9e-1170-43af-93c0-f374de398d9e",
                "name": "results",
                "value": "={{ $('Fetch Chamados').item.json.results }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4944,
          1168
        ],
        "id": "3420be79-1f3b-4c4e-bc0c-0d5c909c95f2",
        "name": "Select Cards",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c878bbeb-2fb5-487e-867a-9f8fd0ca1ea8",
                "name": "info.projeto_info",
                "value": "={{ $json.data[1].results[0].projeto_info }}",
                "type": "object"
              },
              {
                "id": "d47f5991-04be-44b9-bf76-6294ef5e9784",
                "name": "info.fase_info",
                "value": "={{ $json.data[0].fase_info }}",
                "type": "object"
              },
              {
                "id": "bef1b315-4920-4964-a4bd-86c3ab3ccc01",
                "name": "info.card_count",
                "value": "={{ $json.data[1].count }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4496,
          928
        ],
        "id": "c113504e-2702-494c-9cf2-e83d229a1b17",
        "name": "Select Fase, Projeto and Card Count",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "fieldToSplitOut": "data.resultado.cards",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -592,
          928
        ],
        "id": "6f5d8dbc-dcb8-47d1-a0d2-a1dbecc63e9b",
        "name": "Split Card Healthchecks"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "projeto"
              },
              {
                "name": "fase"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -6528,
          960
        ],
        "id": "3079f8f0-8dcd-4c21-af74-15589a0a74ea",
        "name": "Receive Projeto and Fase"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "NjnKt0iFshkTHpkY",
            "mode": "list",
            "cachedResultUrl": "/workflow/NjnKt0iFshkTHpkY",
            "cachedResultName": "LOG_Workflow_Util_fetch_sess_v2"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "loginPath": "/login/",
              "baseUrl": "https://hub.novadata.com.br",
              "csrfFieldName": "csrftoken"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "csrfFieldName",
                "displayName": "csrfFieldName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -6288,
          960
        ],
        "id": "36e88e8e-707d-4301-9102-68af136f2b9f",
        "name": "Fetch Neat Sess"
      },
      {
        "parameters": {
          "url": "https://hub.novadata.com.br/api/chamado/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "search",
                "value": "={{ $('Receive Projeto and Fase').item.json.projeto }}"
              },
              {
                "name": "limit",
                "value": "=1"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "=/"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "={{ $json.csrfFieldName }}={{ $json.csrfCookie }}; sessionid={{ $json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -6064,
          960
        ],
        "id": "e4f958de-75b3-4724-82db-67722270c9d8",
        "name": "Search Projeto Id"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1296,
          912
        ],
        "id": "277aa299-00c4-49e6-a08c-605e662e1006",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "projetos",
            "mode": "list",
            "cachedResultName": "projetos"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "nome": "={{ $json.data.resultado.projeto.nome }}",
              "neat_id": "={{ $json.data.resultado.projeto.id }}"
            },
            "matchingColumns": [
              "neat_id"
            ],
            "schema": [
              {
                "id": "neat_id",
                "displayName": "neat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1136,
          -688
        ],
        "id": "15b37262-1545-457f-9d00-ea40a7b26a57",
        "name": "tabela projetos",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1584,
          -128
        ],
        "id": "07272fff-eb80-4db6-888a-ee10b7a62202",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "card",
            "mode": "list",
            "cachedResultName": "card"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $('Split Card Healthchecks').item.json.id }}",
              "data_criacao": "={{ $('Split Card Healthchecks').item.json.datas.criacao }}",
              "titulo": "={{ $('Split Card Healthchecks').item.json.titulo }}",
              "descricao": "={{ $('Split Card Healthchecks').item.json.descricao }}",
              "projeto_id": "={{ $('Make N8n Json').item.json.data.resultado.projeto.id }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "projeto_id",
                "displayName": "projeto_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "data_criacao",
                "displayName": "data_criacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "titulo",
                "displayName": "titulo",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "descricao",
                "displayName": "descricao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1792,
          -112
        ],
        "id": "baa9a3f7-5ec4-4d21-996d-a247b0300e4f",
        "name": "tabela card",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "analise_card",
            "mode": "list",
            "cachedResultName": "analise_card"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "em_andamento": "={{ $('Loop Over Items8').item.json.em_andamento }}",
              "id_card": "={{ $('Loop Over Items8').item.json.id }}",
              "fase": "={{ $('Loop Over Items8').item.json.fase }}",
              "orcado": "={{ $('Loop Over Items8').item.json.orcado }}",
              "tempo_decorrido": "={{ $('Loop Over Items8').item.json.tempo_decorrido }}",
              "pontos_totais": "={{ $('Loop Over Items8').item.json.pontos_totais }}",
              "lead_time": "={{ $('Loop Over Items8').item.json.lead_time }}",
              "cycle_time": "={{ $('Loop Over Items8').item.json.cycle_time }}",
              "avaliacao": "={{ $('Loop Over Items8').item.json.avaliacao_ia }}",
              "data_prevista": "={{ $('Loop Over Items8').item.json.datas.prevista }}",
              "data_desejada": "={{ $('Loop Over Items8').item.json.datas.desejada }}",
              "data_conclusao": "={{ $('Loop Over Items8').item.json.datas.conclusao }}",
              "data_inicio_doing": "={{ $('Loop Over Items8').item.json.datas.inicio_doing }}",
              "data_criacao_banco": "2025-10-23T13:26:50",
              "nota_avaliacao": "={{ $('Loop Over Items8').item.json.avaliacao_ia.nota }}",
              "relatorio_uuid": "={{ $json.uuid }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "id_card",
                "displayName": "id_card",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "fase",
                "displayName": "fase",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "orcado",
                "displayName": "orcado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "tempo_decorrido",
                "displayName": "tempo_decorrido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "em_andamento",
                "displayName": "em_andamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "pontos_totais",
                "displayName": "pontos_totais",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "lead_time",
                "displayName": "lead_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "cycle_time",
                "displayName": "cycle_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "data_criacao_banco",
                "displayName": "data_criacao_banco",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "avaliacao",
                "displayName": "avaliacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "data_prevista",
                "displayName": "data_prevista",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "data_desejada",
                "displayName": "data_desejada",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "data_conclusao",
                "displayName": "data_conclusao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "data_inicio_doing",
                "displayName": "data_inicio_doing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "nota_avaliacao",
                "displayName": "nota_avaliacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "relatorio_uuid",
                "displayName": "relatorio_uuid",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1760,
          560
        ],
        "id": "40e755d0-5068-4387-bdc7-450160a23828",
        "name": "tabela analise card",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1296,
          544
        ],
        "id": "7d39e3c0-300f-4a32-ae5c-516db4b1329c",
        "name": "Loop Over Items8"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cb653848-be08-455b-8d79-1e15ab6aec62",
                "name": "analise card id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "e5888aaa-8656-4b7a-af3b-b001c5270879",
                "name": "card_referencia_id",
                "value": "={{ $json.id_card }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1952,
          560
        ],
        "id": "66315db2-d862-466c-b4c4-944dc52716b5",
        "name": "analise card id"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "responsavel",
            "mode": "list",
            "cachedResultName": "responsavel"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $('Split Out responsaveis').item.json.id }}",
              "nome": "={{ $('Split Out responsaveis').item.json.nome }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1536,
          928
        ],
        "id": "331f62c2-eed1-48ef-bd70-1e495144f8e9",
        "name": "tabela responsavel",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "responsaveis",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          768,
          896
        ],
        "id": "0e544a49-b3f4-4848-a21c-370a962f9a4c",
        "name": "Split Out responsaveis"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "alertas_projeto",
            "mode": "list",
            "cachedResultName": "alertas_projeto"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "relatorio_uuid": "={{ $('Make N8n Json').item.json.data.meta.uuid }}",
              "alerta_projeto_tipo_id": "={{ $json['alerta projeto tipo id'] }}",
              "dados": "={{ JSON.stringify(\n    {\n        \"cards\": $json.cards,\n        \"grau_de_similaridade\": $json.grau_de_similaridade\n    }\n) }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "relatorio_uuid",
                "displayName": "relatorio_uuid",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "alerta_projeto_tipo_id",
                "displayName": "alerta_projeto_tipo_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "dados",
                "displayName": "dados",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -256,
          608
        ],
        "id": "f9c5c9a3-bc0b-4372-aebd-ec7c0eab11aa",
        "name": "tabela alertas projeto",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b5321157-300b-47c4-9177-a14f29bade2e",
                "name": "alertas projeto id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -48,
          608
        ],
        "id": "62951b61-c9d1-40c6-bb20-4e2fe1551cd3",
        "name": "alertas projeto id"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e12e9e96-d6f2-438e-8b2a-756916950961",
                "name": "responsavel id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1776,
          928
        ],
        "id": "d3f9e375-4bd6-424e-817d-9a8c131e543c",
        "name": "responsavel id"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "card_responsavel",
            "mode": "list",
            "cachedResultName": "card_responsavel"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "responsavel_id": "={{ $json['responsavel id'] }}",
              "card_id": "={{ $('Split Card Healthchecks').item.json.id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "card_id",
                "displayName": "card_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "responsavel_id",
                "displayName": "responsavel_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1984,
          928
        ],
        "id": "499d4eb8-3fa5-4d3e-bd7a-11638981749e",
        "name": "tabela card responsavel",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "708c48ae-5623-4f75-923b-8db91e0d3579",
                "name": "analise estrategica id",
                "value": "=",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4064,
          -176
        ],
        "id": "cf6e5960-5cf8-47d7-9aba-641ba4307b1f",
        "name": "analise estrategica id"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "health_score",
            "mode": "list",
            "cachedResultName": "health_score"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "analise_card_id": "={{ $json['analise card id'] }}",
              "nota_qualidade": "={{ $('Loop Over Items8').item.json.health_score.nota_qualidade }}",
              "nota_estrategica": "={{ $('Loop Over Items8').item.json.health_score.nota_estrategica }}",
              "health_score_final": "={{ $('Loop Over Items8').item.json.health_score.health_score_final }}",
              "justificativa": "={{ $('Loop Over Items8').item.json.health_score.justificativa }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "analise_card_id",
                "displayName": "analise_card_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "nota_qualidade",
                "displayName": "nota_qualidade",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "nota_estrategica",
                "displayName": "nota_estrategica",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "health_score_final",
                "displayName": "health_score_final",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa",
                "displayName": "justificativa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3856,
          592
        ],
        "id": "172db01b-29b7-4a70-a988-facf7a38812e",
        "name": "tabela health score",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cda8c9a9-f0fc-44a6-818c-f8da319bf726",
                "name": "health score id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4064,
          592
        ],
        "id": "3b2b5fb3-7c02-42d8-98f9-5c4c13d62f57",
        "name": "health score id"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "analise_estrategica",
            "mode": "list",
            "cachedResultName": "analise_estrategica"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "analise_card_id": "={{ $json['analise card id'] }}",
              "alinhado": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.alinhado }}",
              "justificativa": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.justificativa }}",
              "score": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.pontuacao }}",
              "pontuacao_valor": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.pontuacao_num }}",
              "alinhado_status": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.alinhado_bool }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "analise_card_id",
                "displayName": "analise_card_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "alinhado",
                "displayName": "alinhado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa",
                "displayName": "justificativa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "score",
                "displayName": "score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "alinhado_status",
                "displayName": "alinhado_status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "pontuacao_valor",
                "displayName": "pontuacao_valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3856,
          -176
        ],
        "id": "fcd5ebc0-3df7-444e-8d94-dc985e22351d",
        "name": "tabela analise estrategica",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "61c7c8ff-b016-48f0-a364-bbf59325d69f",
                "leftValue": "={{ $('Loop Over Items8').item.json.fase }}",
                "rightValue": "Concluído",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3840,
          816
        ],
        "id": "f031d736-a18e-4520-b16a-037b159456be",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "127a92af-1089-4903-bf4f-a886878aacdb",
                "name": "documentacao ia id",
                "value": "=",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4304,
          800
        ],
        "id": "bbf48ab7-ffd3-4bff-9a27-5693ea543b65",
        "name": "documentacao ia id"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "documentacao_ia",
            "mode": "list",
            "cachedResultName": "documentacao_ia"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "analise_card_id": "={{ $('analise card id').item.json['analise card id'] }}",
              "conteudo": "={{ $('Loop Over Items8').item.json.documentacao_ia }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "analise_card_id",
                "displayName": "analise_card_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "conteudo",
                "displayName": "conteudo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          4096,
          800
        ],
        "id": "a20903b6-29e4-4e6d-86cc-70a6e6a7909f",
        "name": "tabela documentacao ia",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "tags",
            "mode": "list",
            "cachedResultName": "tags"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $json.id }}",
              "nome": "={{ $json.nome }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1008,
          1200
        ],
        "id": "698bbd68-bf57-413f-a873-e5c8655c0ef9",
        "name": "tabela tags",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          768,
          1184
        ],
        "id": "5c4333e3-0f5a-4c46-8c98-3f044ff0dca5",
        "name": "Loop Over Items2"
      },
      {
        "parameters": {
          "fieldToSplitOut": "tags",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          560,
          1184
        ],
        "id": "cfa59a9d-b8ac-4305-8a6d-273c928e4790",
        "name": "Split Out tags"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "card_tags",
            "mode": "list",
            "cachedResultName": "card_tags"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "tag_id": "={{ $json['tag id'] }}",
              "card_id": "={{ $('nome tags').item.json.id }}"
            },
            "matchingColumns": [
              "card_id",
              "tag_id"
            ],
            "schema": [
              {
                "id": "card_id",
                "displayName": "card_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "tag_id",
                "displayName": "tag_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1424,
          1200
        ],
        "id": "6acfaec3-5550-462e-af4e-557df328e079",
        "name": "tabela card tags",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "93833e32-d8e6-4bf2-a607-d2a65e9aa1c0",
                "name": "tag id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1216,
          1200
        ],
        "id": "7bf36b43-bbf0-448b-b20e-a32b510f16e6",
        "name": "tag id"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "analise_projeto",
            "mode": "list",
            "cachedResultName": "analise_projeto"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "total_cards": "={{ $json.data.resultado.total_cards }}",
              "throughput": "={{ $json.data.resultado.metrica_qualidade.throughput }}",
              "tempo_medio_por_fase_dia": "={{ $json.data.resultado.metrica_qualidade.tempo_medio_por_fase_dia }}",
              "fase": "={{ $json.data.resultado.fase }}",
              "data": "2025-11-05T10:52:25",
              "relatorio_uuid": "={{ $json.data.meta.uuid }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "fase",
                "displayName": "fase",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "total_cards",
                "displayName": "total_cards",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "throughput",
                "displayName": "throughput",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "tempo_por_fase",
                "displayName": "tempo_por_fase",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "relatorio_uuid",
                "displayName": "relatorio_uuid",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "tempo_medio_por_fase_dia",
                "displayName": "tempo_medio_por_fase_dia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1008,
          160
        ],
        "id": "113d70ae-cc31-4c15-ae94-395a44e46e30",
        "name": "tabela analise projeto",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6d423a5c-7652-459c-a578-23fb1a3ade2c",
                "name": "analise projeto id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -816,
          160
        ],
        "id": "ed6146eb-abc5-4391-afc2-6b3f5582ec51",
        "name": "analise projeto id"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "relatorio_meta",
            "mode": "list",
            "cachedResultName": "relatorio_meta"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "uuid": "={{ $json.data.meta.uuid }}",
              "versao_schema": "={{ $json.data.meta.versao_schema }}",
              "gerado_em": "={{ $json.data.meta.gerado_em }}",
              "fonte": "={{ $json.data.meta.fonte }}",
              "projeto_id": "={{ $json.data.resultado.projeto.id }}"
            },
            "matchingColumns": [
              "uuid"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "uuid",
                "displayName": "uuid",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "versao_schema",
                "displayName": "versao_schema",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "gerado_em",
                "displayName": "gerado_em",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "fonte",
                "displayName": "fonte",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "projeto_id",
                "displayName": "projeto_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1008,
          -48
        ],
        "id": "d4450ac0-729c-411e-acef-d4be24c86eb9",
        "name": "tabela relatorio meta",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "89896c1c-ad4d-4122-bc96-77c2f6d25840",
                "name": "relatorio meta id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -544,
          32
        ],
        "id": "37eaf63d-2513-4826-8582-779462e6449d",
        "name": "relatorio meta id"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO alerta_projeto_tipo (tipo)\nVALUES ('Similaridade título')\nON CONFLICT (tipo) DO UPDATE\nSET tipo = EXCLUDED.tipo  \nRETURNING id;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1056,
          480
        ],
        "id": "bc68de5a-8fe7-4b07-9804-bd8c80085ccf",
        "name": "tabela alerta projeto tipo",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a617d073-6e37-48a9-afb2-498d6737169b",
                "name": "alerta projeto tipo id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -864,
          480
        ],
        "id": "19e66ec7-e9e4-4df9-af30-6ac8e3ad9b73",
        "name": "alerta projeto tipo id"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "db08b030-cba3-4121-9c47-b63d20a7ba46",
                "name": "uuid",
                "value": "={{ $json.uuid }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -544,
          -160
        ],
        "id": "120d6f93-3f3b-4800-af45-a98e6357fc2e",
        "name": "uuid"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "relatorio_meta",
            "mode": "list",
            "cachedResultName": "relatorio_meta"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1584,
          560
        ],
        "id": "e1dd6951-ed2a-40b6-a87e-7a47c6da2854",
        "name": "Select relatorio meta",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "alertas_card",
            "mode": "list",
            "cachedResultName": "alertas_card"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ativo": "={{ $json.ativo }}",
              "analise_card_id": "={{ $json['analise card id'] }}",
              "dados": "={{ $json.dados }}",
              "alerta_card_tipo_id": "={{ $json.alerta_card_tipo_id }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "analise_card_id",
                "displayName": "analise_card_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "ativo",
                "displayName": "ativo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "dados",
                "displayName": "dados",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true
              },
              {
                "id": "alerta_card_tipo_id",
                "displayName": "alerta_card_tipo_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3392,
          288
        ],
        "id": "a32c6172-1a3d-4849-a31c-3f5280543762",
        "name": "tabela alertas card",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const tagsDict = {\n  1: \"Bug\",\n  2: \"Pendente Requisitos\",\n  3: \"MVP\",\n  4: \"Front\",\n  5: \"Back\",\n  6: \"Design\",\n  7: \"Produto\",\n  8: \"Feature\",\n  9: \"Infraestrutura\",\n  10: \"QA\",\n  11: \"Prioridade\",\n  12: \"Reprovado\",\n  13: \"Em Orçamento\",\n  14: \"Retrabalho\",\n  15: \"Computar\",\n  16: \"Não Computar\",\n  17: \"BI\",\n  18: \"3\",\n  19: \"2\",\n  20: \"1\",\n  21: \"irreproduzível\"\n};\n\nreturn $input.all().map(item => {\n  const tags = (item.json.tags || []).map(id => ({\n    id,\n    nome: tagsDict[id] || `Tag ${id} desconhecida`\n  }));\n  item.json.tags = tags;\n  return item;\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          288,
          1184
        ],
        "id": "b2a604f1-92f7-4f12-bcb0-8c68545716b9",
        "name": "nome tags"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO alerta_card_tipo (tipo)\nVALUES\n    ('sem_titulo'),\n    ('sem_descricao'),\n    ('sem_responsaveis'),\n    ('sem_tags'),\n    ('sem_data_criacao'),\n    ('sem_estimativa_esforco'),\n    ('sem_data_prevista'),\n    ('sem_data_desejada'),\n    ('sem_pontos'),\n    ('sem_vinculo_projeto'),\n    ('descricao_curta'),\n    ('sem_criterios_aceite'),\n    ('tags_pouco_descritivas'),\n    ('data_prevista_antes_criacao'),\n    ('data_conclusao_antes_criacao'),\n    ('card_antigo_sem_priorizacao')\nON CONFLICT (tipo) DO NOTHING;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -976,
          320
        ],
        "id": "32918775-0896-4ea4-8190-943311de3d3c",
        "name": "tabela alerta card tipo",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -528,
          592
        ],
        "id": "a54ee404-91f8-4293-bf1a-7cb0e414d6a8",
        "name": "Loop Over Items3"
      },
      {
        "parameters": {
          "mode": "combineBySql",
          "query": "SELECT * FROM input1, input2;",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -704,
          592
        ],
        "id": "3e2a85ee-47a5-4ac7-9de2-ab9f72ecbe87",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "45a55509-6b29-4d6f-b889-482db85324c1",
                "name": "alertas card id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3568,
          288
        ],
        "id": "5f4441a6-df90-4bab-b946-f25329d646e6",
        "name": "alertas card id"
      },
      {
        "parameters": {
          "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  // Caminho até o array de similaridades\n  const similaridades = item.json?.data?.resultado?.alertas_gerais?.[0]?.similaridade_titulo;\n\n  if (Array.isArray(similaridades)) {\n    // Para cada similaridade (cada objeto com cards + grau_de_similaridade)\n    for (const sim of similaridades) {\n      // Garante que cada saida seja um item completo\n      output.push({\n        json: {\n          cards: sim.cards,\n          grau_de_similaridade: sim.grau_de_similaridade\n        }\n      });\n    }\n  }\n}\n\nreturn output;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1008,
          672
        ],
        "id": "ce70c6a2-d660-4f8a-82cd-ebf2350a2ed5",
        "name": "split alertas similaridade titulo"
      },
      {
        "parameters": {
          "jsCode": "const mapaTipos = {\n    \"sem_titulo\": 2, \"sem_descricao\": 3, \"sem_responsaveis\": 4, \"sem_tags\": 5, \n    \"sem_data_criacao\": 6, \"sem_estimativa_esforco\": 7, \"sem_data_prevista\": 8, \n    \"sem_data_desejada\": 9, \"sem_pontos\": 10, \"sem_vinculo_projeto\": 11, \n    \"descricao_curta\": 12, \"sem_criterios_aceite\": 13, \"tags_pouco_descritivas\": 14, \n    \"data_prevista_antes_criacao\": 15, \"data_conclusao_antes_criacao\": 16, \n    \"card_antigo_sem_priorizacao\": 17\n};\n\nconst itemsDeSaida = [];\n\n// Loop sobre todos os itens de entrada (cada card no Loop Over Items8)\nfor (const item of $input.all()) {\n    \n    // Acessa o objeto de alertas de validação.\n    const alertasValidacao = item.json.alertas_validacao;\n    \n    // Obtém o ID do card original (chave de correspondência futura no Merge)\n    const cardId = item.json.id; \n    \n    // Verifica se o objeto de alertas existe\n    if (typeof alertasValidacao === 'object' && alertasValidacao !== null) {\n\n        // Itera sobre as chaves (os nomes dos alertas)\n        for (const tipoAlerta in alertasValidacao) {\n            \n            // Verifica se a chave existe no objeto E no nosso mapa de IDs\n            if (alertasValidacao.hasOwnProperty(tipoAlerta) && mapaTipos.hasOwnProperty(tipoAlerta)) {\n                \n                const statusAtivo = alertasValidacao[tipoAlerta];\n\n                // Busca o ID do tipo de alerta\n                const alertaTipoId = mapaTipos[tipoAlerta];\n\n                // Cria um novo item para cada par chave-valor\n                itemsDeSaida.push({\n                    json: {\n                        // IDs PRINCIPAIS PARA A INSERÇÃO\n                        alerta_card_tipo_id: alertaTipoId,\n                        ativo: statusAtivo, \n                        dados: JSON.stringify({ [tipoAlerta]: statusAtivo }),\n                        \n                        // CHAVE DE CORRESPONDÊNCIA PARA O MERGE\n                        card_referencia_id: cardId, \n                        tipo_alerta: tipoAlerta\n                    }\n                });\n            }\n        }\n    }\n}\n\nreturn itemsDeSaida;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2016,
          128
        ],
        "id": "1bb05b97-1eac-4bc1-91d7-7c27f3008f4a",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "card_referencia_id",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          3136,
          288
        ],
        "id": "927297ea-d338-477b-a72f-70bced80a9b2",
        "name": "Merge1"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "produtos",
            "mode": "list",
            "cachedResultName": "produtos"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "projeto_id": "={{ $json.data.resultado.projeto.id }}",
              "nome": "={{ $json.data.resultado.projeto.produto_nome }}",
              "okr": "={{ $json.data.okrs }}"
            },
            "matchingColumns": [
              "nome"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "projeto_id",
                "displayName": "projeto_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "okr",
                "displayName": "okr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1040,
          -352
        ],
        "id": "e72bbd31-96e1-4b59-ad6e-30cfec654dbc",
        "name": "tabela produtos",
        "credentials": {
          "postgres": {
            "id": "ezX3E4wAaohalvvh",
            "name": "banco logbit labs dev"
          }
        }
      }
    ],
    "connections": {
      "Fetch Chamados": {
        "main": [
          [
            {
              "node": "Select Cards",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Fase and Cards",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Fetch Fases": {
        "main": [
          [
            {
              "node": "Select Fase Id and Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort Asc": {
        "main": [
          [
            {
              "node": "Append Fases",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append Fases": {
        "main": [
          [
            {
              "node": "Merge Infos and Cards and Fases",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Split Cards": {
        "main": [
          [
            {
              "node": "Select Card Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Card Fields": {
        "main": [
          [
            {
              "node": "Remove Base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append Cards": {
        "main": [
          [
            {
              "node": "Merge Infos and Cards and Fases",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Infos and Cards and Fases": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make Binary Json": {
        "main": [
          [
            {
              "node": "Write Agent Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Agent Input": {
        "main": [
          [
            {
              "node": "Python Backlog Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Python Backlog Agent": {
        "main": [
          [
            {
              "node": "Read Agent Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Agent Output": {
        "main": [
          [
            {
              "node": "Make N8n Json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make N8n Json": {
        "main": [
          [
            {
              "node": "Split Card Healthchecks",
              "type": "main",
              "index": 0
            },
            {
              "node": "tabela projetos",
              "type": "main",
              "index": 0
            },
            {
              "node": "tabela analise projeto",
              "type": "main",
              "index": 0
            },
            {
              "node": "tabela relatorio meta",
              "type": "main",
              "index": 0
            },
            {
              "node": "tabela alerta card tipo",
              "type": "main",
              "index": 0
            },
            {
              "node": "split alertas similaridade titulo",
              "type": "main",
              "index": 0
            },
            {
              "node": "tabela alerta projeto tipo",
              "type": "main",
              "index": 0
            },
            {
              "node": "tabela produtos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Make Binary Json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Base64": {
        "main": [
          [
            {
              "node": "Append Cards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Fase Id and Name": {
        "main": [
          [
            {
              "node": "Sort Asc",
              "type": "main",
              "index": 0
            },
            {
              "node": "Filter Selected Fase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Selected Fase": {
        "main": [
          [
            {
              "node": "Make Fase Json",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Chamados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make Fase Json": {
        "main": [
          [
            {
              "node": "Merge Fase and Cards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Fase and Cards": {
        "main": [
          [
            {
              "node": "Append in One Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append in One Item": {
        "main": [
          [
            {
              "node": "Select Fase, Projeto and Card Count",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Cards": {
        "main": [
          [
            {
              "node": "Split Cards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Fase, Projeto and Card Count": {
        "main": [
          [
            {
              "node": "Merge Infos and Cards and Fases",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Card Healthchecks": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Split Out responsaveis",
              "type": "main",
              "index": 0
            },
            {
              "node": "nome tags",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Over Items8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Receive Projeto and Fase": {
        "main": [
          [
            {
              "node": "Fetch Neat Sess",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Neat Sess": {
        "main": [
          [
            {
              "node": "Search Projeto Id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Projeto Id": {
        "main": [
          [
            {
              "node": "Fetch Fases",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "tabela responsavel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [],
          [
            {
              "node": "tabela card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela card": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela analise card": {
        "main": [
          [
            {
              "node": "analise card id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items8": {
        "main": [
          [],
          [
            {
              "node": "Select relatorio meta",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "analise card id": {
        "main": [
          [
            {
              "node": "tabela analise estrategica",
              "type": "main",
              "index": 0
            },
            {
              "node": "tabela health score",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Over Items8",
              "type": "main",
              "index": 0
            },
            {
              "node": "If",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "tabela responsavel": {
        "main": [
          [
            {
              "node": "responsavel id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out responsaveis": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela alertas projeto": {
        "main": [
          [
            {
              "node": "alertas projeto id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "responsavel id": {
        "main": [
          [
            {
              "node": "tabela card responsavel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela card responsavel": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela health score": {
        "main": [
          [
            {
              "node": "health score id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela analise estrategica": {
        "main": [
          [
            {
              "node": "analise estrategica id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "tabela documentacao ia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela documentacao ia": {
        "main": [
          [
            {
              "node": "documentacao ia id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela tags": {
        "main": [
          [
            {
              "node": "tag id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items2": {
        "main": [
          [],
          [
            {
              "node": "tabela tags",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out tags": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela card tags": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tag id": {
        "main": [
          [
            {
              "node": "tabela card tags",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela analise projeto": {
        "main": [
          [
            {
              "node": "analise projeto id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela relatorio meta": {
        "main": [
          [
            {
              "node": "uuid",
              "type": "main",
              "index": 0
            },
            {
              "node": "relatorio meta id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela alerta projeto tipo": {
        "main": [
          [
            {
              "node": "alerta projeto tipo id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "alerta projeto tipo id": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "alertas projeto id": {
        "main": [
          [
            {
              "node": "Loop Over Items3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "uuid": {
        "main": [
          []
        ]
      },
      "Select relatorio meta": {
        "main": [
          [
            {
              "node": "tabela analise card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela alertas card": {
        "main": [
          [
            {
              "node": "alertas card id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "nome tags": {
        "main": [
          [
            {
              "node": "Split Out tags",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items3": {
        "main": [
          [],
          [
            {
              "node": "tabela alertas projeto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Loop Over Items3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tabela alerta card tipo": {
        "main": [
          []
        ]
      },
      "split alertas similaridade titulo": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "tabela alertas card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}