backups/geral/logworkfenviaemailconcluidosv1__t9GYVHkqWAEByRO6.json
{
  "updatedAt": "2026-02-20T18:49:23.617Z",
  "createdAt": "2025-11-27T20:09:46.382Z",
  "id": "t9GYVHkqWAEByRO6",
  "name": "LOG_Workf_envia_email_concluidos_v1",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ---------- 1) Entrada e Configuração ----------\nconst inputData = $input.first().json.data || {};\nconst resultado = inputData.resultado || {};\nconst meta = inputData.meta || {};\nconst okrs = inputData.okrs || {};\nconst cards = Array.isArray(resultado.cards) ? resultado.cards : [];\n\nconst faseAtual = resultado.fase || \"Backlog\";\nconst isConcluido = faseAtual === \"Concluído\";\n\n// Seleciona as configurações corretas baseadas na fase\nconst metricsConfig = isConcluido \n    ? (inputData.concluidos_metricas || {}) \n    : (inputData.backlog_metricas || {});\n\n// ---------- 2) Funções Auxiliares (Helpers) ----------\n\nconst fmtNumber = (n, d = 0) => (n == null || isNaN(n)) ? \"-\" : Number(n).toLocaleString(\"pt-BR\", { minimumFractionDigits: d, maximumFractionDigits: d });\n\nconst formatDate = (isoStr) => {\n    if (!isoStr) return \"-\";\n    return new Date(isoStr).toLocaleDateString('pt-BR');\n};\n\nconst parseHHMMSSHours = (s) => {\n    if (!s || typeof s !== \"string\") return 0;\n    const [hh, mm, ss] = s.split(\":\").map(Number);\n    if ([hh, mm, ss].some(x => !Number.isFinite(x))) return 0;\n    return hh + (mm / 60) + (ss / 3600);\n};\n\n// Conversor simples de Markdown para HTML (para a documentação da IA)\nconst renderMarkdown = (text) => {\n    if (!text) return \"\";\n    let html = text\n        .replace(/^### (.*$)/gim, '<strong>$1</strong>') // Headers pequenos\n        .replace(/^## (.*$)/gim, '<div style=\"margin-top:8px; color:#444; font-weight:bold; border-bottom:1px solid #eee;\">$1</div>') // Headers médios\n        .replace(/\\*\\*(.*?)\\*\\*/gim, '<strong>$1</strong>') // Bold\n        .replace(/^\\- (.*$)/gim, '• $1') // Listas\n        .replace(/\\n/gim, '<br>'); // Quebras de linha\n    return html;\n};\n\n// --- DEFINIÇÃO DE TEMA DINÂMICO ---\n// Se Concluído = Verde/Teal. Se Backlog = Vermelho (solicitação anterior).\nconst theme = isConcluido ? {\n    primary: '#00695c',      // Verde Teal\n    dark: '#004d40',         // Verde Escuro\n    light: '#e0f2f1',        // Fundo Verde Claro\n    accent: '#2e7d32',       // Verde Sucesso\n    bg: '#f4f6f8'\n} : {\n    primary: '#c62828',      // Vermelho\n    dark: '#b71c1c',         // Vermelho Escuro\n    light: '#ffebee',        // Fundo Vermelho Claro\n    accent: '#d32f2f',       // Vermelho Alerta\n    bg: '#f4f6f8'\n};\n\nconst getHealthColor = (score) => {\n    if (score >= 7.0) return '#2e7d32'; // Verde\n    if (score >= 4.0) return '#f9a825'; // Amarelo\n    return '#c62828'; // Vermelho\n};\n\n// ---------- 3) Cálculos de Métricas ----------\n\nlet avgLeadTime = 0;\nlet avgCycleTime = 0;\nlet totalHoursSpent = 0;\n\nif (cards.length > 0) {\n    const totalLead = cards.reduce((acc, c) => acc + (c.lead_time || 0), 0);\n    const totalCycle = cards.reduce((acc, c) => acc + (c.cycle_time || 0), 0);\n    totalHoursSpent = cards.reduce((acc, c) => acc + parseHHMMSSHours(c.tempo_decorrido), 0);\n    \n    avgLeadTime = totalLead / cards.length;\n    avgCycleTime = totalCycle / cards.length;\n}\n\nconst dupPairs = [];\n(resultado.alertas_gerais || []).forEach(entry => {\n    const arr = entry?.similaridade_titulo;\n    if (Array.isArray(arr)) arr.forEach(p => dupPairs.push(p));\n});\n\n// ---------- 4) Construção do HTML ----------\n\nconst projetoNome = resultado.projeto?.nome || \"Projeto\";\nconst produtoNome = resultado.projeto?.produto_nome || \"\";\nconst total = cards.length;\n\n// CSS Inline Base\nconst css = `font-family: 'Segoe UI', Arial, sans-serif; color: #333; line-height: 1.5;`;\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head><style>body { ${css} }</style></head>\n<body style=\"background-color: ${theme.bg}; margin: 0; padding: 20px;\">\n<div style=\"max-width: 700px; margin: 0 auto; background: #fff; border-radius: 8px; overflow: hidden; border: 1px solid #e0e0e0;\">\n    \n    <div style=\"background: ${theme.primary}; color: #fff; padding: 25px; text-align: center;\">\n        <h1 style=\"margin:0; font-size: 22px;\">\n            ${isConcluido ? '✅ Relatório de Entregas' : '📊 Análise de Backlog'}\n        </h1>\n        <p style=\"margin:5px 0 0; opacity: 0.9; font-size: 14px;\">\n            ${projetoNome} (${produtoNome}) • ${formatDate(new Date().toISOString())}\n        </p>\n    </div>\n\n    <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" style=\"border-bottom: 1px solid #eee;\">\n        <tr>\n            <td align=\"center\" width=\"33%\" style=\"border-right: 1px solid #eee;\">\n                <div style=\"font-size: 24px; font-weight: bold; color: ${theme.dark};\">${total}</div>\n                <div style=\"font-size: 11px; color: #666; text-transform: uppercase;\">Total Cards</div>\n            </td>\n            <td align=\"center\" width=\"33%\" style=\"border-right: 1px solid #eee;\">\n                <div style=\"font-size: 24px; font-weight: bold; color: ${theme.dark};\">${fmtNumber(resultado.metrica_qualidade?.throughput)}</div>\n                <div style=\"font-size: 11px; color: #666; text-transform: uppercase;\">Throughput</div>\n            </td>\n            <td align=\"center\" width=\"33%\">\n                <div style=\"font-size: 24px; font-weight: bold; color: ${theme.dark};\">${fmtNumber(resultado.metrica_qualidade?.tempo_medio_por_fase_dia, 1)}d</div>\n                <div style=\"font-size: 11px; color: #666; text-transform: uppercase;\">Tempo Médio</div>\n            </td>\n        </tr>\n        \n        ${ (metricsConfig.lead_time || metricsConfig.cycle_time || isConcluido) ? `\n        <tr style=\"background-color: #fcfcfc;\">\n            <td colspan=\"3\" style=\"padding: 10px;\">\n                <div style=\"display: flex; justify-content: space-around; text-align: center;\">\n                    ${ metricsConfig.lead_time ? `\n                    <div>\n                        <div style=\"font-size: 16px; font-weight: bold; color: #555;\">${fmtNumber(avgLeadTime, 0)}d</div>\n                        <div style=\"font-size: 10px; color: #999; text-transform: uppercase;\">Avg Lead Time</div>\n                    </div>` : ''}\n                    \n                    ${ metricsConfig.cycle_time ? `\n                    <div>\n                        <div style=\"font-size: 16px; font-weight: bold; color: #555;\">${fmtNumber(avgCycleTime, 0)}d</div>\n                        <div style=\"font-size: 10px; color: #999; text-transform: uppercase;\">Avg Cycle Time</div>\n                    </div>` : ''}\n\n                    ${ isConcluido ? `\n                    <div>\n                        <div style=\"font-size: 16px; font-weight: bold; color: #555;\">${fmtNumber(totalHoursSpent, 0)}h</div>\n                        <div style=\"font-size: 10px; color: #999; text-transform: uppercase;\">Horas Totais</div>\n                    </div>` : ''}\n                </div>\n            </td>\n        </tr>\n        ` : ''}\n    </table>\n\n    <div style=\"padding: 20px;\">\n\n        ${Object.keys(okrs).length > 0 ? `\n            <div style=\"margin-bottom: 20px; border: 1px solid #eee; border-radius: 6px; padding: 10px;\">\n                <div style=\"font-size: 11px; font-weight: bold; color: ${theme.primary}; text-transform: uppercase; margin-bottom: 5px;\">\n                     🎯 Contexto Estratégico\n                </div>\n                <div style=\"font-size: 12px; color: #666;\">\n                    ${Object.keys(okrs).join(', ')}\n                </div>\n            </div>\n        ` : ''}\n\n        <h3 style=\"margin: 0 0 15px; font-size: 16px; border-left: 4px solid ${theme.primary}; padding-left: 10px;\">\n            ${isConcluido ? '✅ Entregas Realizadas' : '📋 Detalhe dos Cards'}\n        </h3>\n`;\n\n// Ordenação: Concluídos por Data Conclusão (recente primeiro), Backlog por Score\nconst sortedCards = cards.sort((a, b) => {\n    if (isConcluido) {\n        return new Date(b.datas?.conclusao || 0) - new Date(a.datas?.conclusao || 0);\n    }\n    return (a.health_score?.health_score_final || 0) - (b.health_score?.health_score_final || 0);\n});\n\nsortedCards.forEach(card => {\n    const hs = card.health_score?.health_score_final || 0;\n    const color = getHealthColor(hs);\n    \n    // Dados de Tempo\n    const hOrcado = parseHHMMSSHours(card.orcado);\n    const hDecor = parseHHMMSSHours(card.tempo_decorrido);\n    const desvio = hOrcado > 0 ? ((hDecor - hOrcado) / hOrcado) * 100 : 0;\n    const desvioColor = desvio > 10 ? '#c62828' : (desvio < -10 ? '#2e7d32' : '#757575');\n    \n    // Conteúdo da Documentação\n    const docContent = card.documentacao_ia || card.avaliacao_ia?.justificativa || 'Sem documentação disponível.';\n\n    html += `\n        <div style=\"border: 1px solid #e0e0e0; border-radius: 6px; margin-bottom: 25px; box-shadow: 0 2px 4px rgba(0,0,0,0.03);\">\n            \n            <div style=\"padding: 12px; background: #fff; border-bottom: 1px solid #f0f0f0; border-left: 5px solid ${color}; border-radius: 6px 6px 0 0; display: flex; justify-content: space-between; align-items: flex-start;\">\n                <div style=\"width: 85%;\">\n                    <div style=\"font-size: 11px; color: #999; margin-bottom: 4px;\">\n                        #${card.id} ${card.datas?.conclusao ? `• Concluído em ${formatDate(card.datas.conclusao)}` : ''}\n                    </div>\n                    <div style=\"font-weight: 600; font-size: 15px; color: #333; line-height: 1.3;\">\n                        ${card.titulo || '(Sem Título)'}\n                    </div>\n                    <div style=\"margin-top: 6px; font-size: 11px; color: #666;\">\n                        <strong>Resp:</strong> ${(card.responsaveis || []).map(r => r.nome.split(' ')[0]).join(', ') || '-'}\n                    </div>\n                </div>\n                \n                <div style=\"text-align: right;\">\n                    <div style=\"font-size: 18px; font-weight: bold; color: ${color};\">${hs.toFixed(1)}</div>\n                    <div style=\"font-size: 9px; color: #999; text-transform: uppercase;\">Score</div>\n                </div>\n            </div>\n\n            <div style=\"padding: 15px;\">\n                \n                ${isConcluido ? `\n                <div style=\"display:flex; justify-content:space-between; font-size: 11px; margin-bottom: 15px; background: #f5f5f5; padding: 8px; border-radius: 4px;\">\n                    <div>Orçado: <strong>${card.orcado || '00:00'}</strong></div>\n                    <div>Realizado: <strong>${card.tempo_decorrido || '00:00'}</strong></div>\n                    <div style=\"color: ${desvioColor}; font-weight: bold;\">\n                        ${desvio > 0 ? '+' : ''}${desvio.toFixed(0)}%\n                    </div>\n                </div>\n                ` : ''}\n\n                <div style=\"font-size: 13px; color: #444; line-height: 1.6;\">\n                    ${isConcluido ? `\n                        <div style=\"font-size: 11px; font-weight: bold; color: ${theme.primary}; text-transform: uppercase; margin-bottom: 5px;\">\n                            📄 Documentação & Resumo\n                        </div>\n                        <div style=\"background-color: ${theme.light}; padding: 12px; border-radius: 4px; border: 1px solid #eee;\">\n                            ${renderMarkdown(docContent)}\n                        </div>\n                    ` : `\n                        <div style=\"font-style: italic; color: #666;\">\n                             ${card.descricao ? (card.descricao.length > 200 ? card.descricao.substring(0, 200) + '...' : card.descricao) : 'Sem descrição.'}\n                        </div>\n                    `}\n                </div>\n\n                <div style=\"margin-top: 15px; padding-top: 10px; border-top: 1px solid #f0f0f0; display: flex; gap: 15px; font-size: 11px; color: #777;\">\n                    <span>Lead Time: <strong>${card.lead_time || 0}d</strong></span>\n                    <span>Cycle Time: <strong>${card.cycle_time || 0}d</strong></span>\n                    <span>Pontos: <strong>${card.pontos_totais || '-'}</strong></span>\n                </div>\n\n            </div>\n        </div>\n    `;\n});\n\nhtml += `\n    </div>\n    <div style=\"padding: 20px; text-align: center; font-size: 11px; color: #999; border-top: 1px solid #eee; background-color: #fafafa;\">\n        Gerado automaticamente pelo Agente Orbit • ${total} itens processados.\n    </div>\n</div>\n</body>\n</html>\n`;\n\n// ---------- 5) Saída ----------\nreturn [{\n    json: {\n        html_email: html,\n        subject: `Relatório ${faseAtual}: ${projetoNome} - ${formatDate(new Date().toISOString())}`,\n        stats: {\n            total: total,\n            avg_lead_time: avgLeadTime\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        256
      ],
      "id": "2aaf9540-2a90-40df-98f5-002bef55544a",
      "name": "cria email"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "object"
            },
            {
              "name": "email"
            },
            {
              "name": "concluidos_reqs",
              "type": "object"
            },
            {
              "name": "concluidos_metricas",
              "type": "object"
            }
          ]
        }
      },
      "id": "deec3b66-fca8-428b-b21d-ef3374956f25",
      "typeVersion": 1.1,
      "name": "chamado",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2224,
        256
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('chamado').item.json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html_email; }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2656,
        256
      ],
      "id": "748d397e-3fc6-4fcb-bd83-57c45ff9f34d",
      "name": "envia email",
      "webhookId": "3cf89b32-d11a-4aed-90e4-964fa1a7415a",
      "credentials": {
        "gmailOAuth2": {
          "id": "7oUeNgUPlzGsXFJH",
          "name": "GMAIL_ndt"
        }
      }
    }
  ],
  "connections": {
    "cria email": {
      "main": [
        [
          {
            "node": "envia email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chamado": {
      "main": [
        [
          {
            "node": "cria email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "17dbcfe8-0c6d-4d2b-ac77-70da995d1911",
  "activeVersionId": null,
  "versionCounter": 31,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-27T20:09:46.382Z",
      "createdAt": "2025-11-27T20:09:46.382Z",
      "role": "workflow:owner",
      "workflowId": "t9GYVHkqWAEByRO6",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}