backups/geral/logwebhookexibirlistadashboardsv0__SGAb4sDWCSewMdJ6.json
{
  "updatedAt": "2025-11-27T10:43:08.854Z",
  "createdAt": "2025-10-29T13:07:27.239Z",
  "id": "SGAb4sDWCSewMdJ6",
  "name": "LOG_Webhook_exibir_lista_dashboards_v0",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "listar-dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d92ca55f-7095-4174-9840-4e0ad23095f6",
      "name": "Webhook Listar Dashboards",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "0c085136-caa6-4a35-bb7b-851f65570f2e"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id,dashboard_name,descricao_dashboard FROM dashboards_n8n ORDER BY id;",
        "options": {}
      },
      "id": "d96f98ff-de79-4a1c-85bc-97aeb58eeb39",
      "name": "Consultar Banco Listagem",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "8jfEsb8k358usGVL",
          "name": "banco logbit labs"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dashboards=$input.all().map(i=>i.json);const html=`<!DOCTYPE html><html lang='pt-br'><head><meta charset='UTF-8'><title>Lista de Dashboards</title><style>body{font-family:Arial;padding:40px;background:linear-gradient(180deg,#f8f9fa,#e9ecef);}h1{color:#343a40;text-align:center}.container{max-width:800px;margin:0 auto;background:#fff;padding:30px;border-radius:8px;box-shadow:0 2px 10px rgba(0,0,0,0.1)}.card{border:1px solid #ddd;border-radius:6px;padding:15px 20px;margin-bottom:15px;transition:.2s;background:#fafafa}.card:hover{box-shadow:0 2px 6px rgba(0,0,0,0.1);background:#fff}.card-title{font-weight:bold;color:#0078D4;font-size:16px;margin-bottom:5px}.card-desc{color:#555;margin-bottom:10px;font-size:14px}a.btn{display:inline-block;padding:6px 12px;background:#0078D4;color:white;text-decoration:none;border-radius:4px;font-size:13px}a.btn:hover{background:#005fa3}</style></head><body><div class='container'><h1>Dashboards Disponíveis</h1>${dashboards.map(d=>`<div class='card'><div class='card-title'>${d.dashboard_name}</div><div class='card-desc'>${d.descricao_dashboard||'Sem descrição'}</div><a class='btn' href='/webhook/powerbi-dashboard?id=${d.id}' target='_blank'>Abrir Dashboard</a></div>`).join('')}</div></body></html>`;return[{html}];"
      },
      "id": "fbd31805-f206-4985-96be-102f1cb652de",
      "name": "Formatar Lista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"html\"]}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "1471a4fb-3db4-4df6-a291-7b168a459bd3",
      "name": "Responder Listagem",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Listar Dashboards": {
      "main": [
        [
          {
            "node": "Consultar Banco Listagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Banco Listagem": {
      "main": [
        [
          {
            "node": "Formatar Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Lista": {
      "main": [
        [
          {
            "node": "Responder Listagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "651033a2-983f-4bca-bf4c-12f03da5e0dd",
  "activeVersionId": null,
  "versionCounter": 11,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-29T13:07:27.239Z",
      "createdAt": "2025-10-29T13:07:27.239Z",
      "role": "workflow:owner",
      "workflowId": "SGAb4sDWCSewMdJ6",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}