backups/geral/neatcronorquestrarrelatoriosv10__MuYMoTlgzVeKWdto.json
{
  "updatedAt": "2026-02-23T08:40:04.546Z",
  "createdAt": "2026-02-23T08:40:04.546Z",
  "id": "MuYMoTlgzVeKWdto",
  "name": "NEAT_CRON__OrquestrarRelatorios_v1.0",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        432
      ],
      "id": "b3be160b-1edc-4597-9697-b7b5bcc67589",
      "name": "agendarExecucaoSemanal"
    },
    {
      "parameters": {
        "jsCode": "// Lista fixa de projetos para processar\nconst projetos = [\n  { projeto_id: 594 }\n  // Adicione mais projetos aqui conforme necessário:\n  // { projeto_id: 523 },\n  // { projeto_id: 601 }\n];\n\nconsole.log(`📋 Total de projetos a processar: ${projetos.length}`);\n\n// Retorna cada projeto como um item separado\nreturn projetos.map(projeto => ({\n  json: projeto\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        432
      ],
      "id": "94818e2e-8b13-4faf-ae47-b9080fe380cf",
      "name": "listaProjetosFixa"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        432
      ],
      "id": "032e4610-648b-46ca-b17a-5d6d02233fc6",
      "name": "loopProjetos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        656,
        336
      ],
      "id": "cdd7ba8c-2041-45e0-a65c-c321fb943569",
      "name": "finalizarLoop"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "daynE1TxRJjglMSB",
          "mode": "list",
          "cachedResultUrl": "/workflow/daynE1TxRJjglMSB",
          "cachedResultName": "NEAT_WF__ColetarDadosProjeto_v1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto_id": "={{ $json.projeto_id }}"
          },
          "matchingColumns": [
            "projeto_id"
          ],
          "schema": [
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        592
      ],
      "id": "5123cf3f-8086-4d91-ac41-58c965d16f15",
      "name": "executarColetaDados"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ct0I0Ea2cveh04G4",
          "mode": "list",
          "cachedResultUrl": "/workflow/ct0I0Ea2cveh04G4",
          "cachedResultName": "NEAT_WF__GerarRelatorioIA_v1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dados_projeto": "={{ $json }}"
          },
          "matchingColumns": [
            "dados_projeto"
          ],
          "schema": [
            {
              "id": "dados_projeto",
              "displayName": "dados_projeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        800,
        704
      ],
      "id": "2899c547-1d7e-4fbf-97c7-63122c9d0047",
      "name": "executarGeracaoRelatorio"
    },
    {
      "parameters": {
        "content": "## NEAT — OrquestrarRelatorios\n---\nOwner: @gabi\nTrigger: CRON — toda segunda-feira às 00:00\nSecurity: Nenhuma (execução interna)\nCriticality: P1\nDocs: —\n\n**O que faz:** Dispara semanalmente a coleta e geração de relatórios para cada projeto cadastrado.\n\n**Sub-workflows chamados:**\n1. NEAT_WF__ColetarDadosProjeto_v1.0\n2. NEAT_WF__GerarRelatorioIA_v1.0\n\n**Para adicionar projetos:** editar o nodo .",
        "height": 380,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "8499c79c-eed1-42d5-a79d-7af4e5f30ad6",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "agendarExecucaoSemanal": {
      "main": [
        [
          {
            "node": "listaProjetosFixa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listaProjetosFixa": {
      "main": [
        [
          {
            "node": "loopProjetos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopProjetos": {
      "main": [
        [
          {
            "node": "finalizarLoop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "executarColetaDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "executarColetaDados": {
      "main": [
        [
          {
            "node": "executarGeracaoRelatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "executarGeracaoRelatorio": {
      "main": [
        [
          {
            "node": "loopProjetos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "18c6f2ee-7a1f-4091-9c90-dae7e8d8a7d0",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-23T08:40:04.546Z",
      "createdAt": "2026-02-23T08:40:04.546Z",
      "role": "workflow:owner",
      "workflowId": "MuYMoTlgzVeKWdto",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-02-23T08:36:09.613Z",
      "createdAt": "2026-02-23T08:36:09.613Z",
      "id": "0UvOY44QcPeN6jQM",
      "name": "ativo"
    },
    {
      "updatedAt": "2026-02-23T08:36:09.630Z",
      "createdAt": "2026-02-23T08:36:09.630Z",
      "id": "TtCooynilFvUCkqc",
      "name": "neat"
    },
    {
      "updatedAt": "2026-02-23T08:36:09.630Z",
      "createdAt": "2026-02-23T08:36:09.630Z",
      "id": "I0luQNtQYJb5RLWn",
      "name": "P1"
    },
    {
      "updatedAt": "2026-02-23T08:36:09.635Z",
      "createdAt": "2026-02-23T08:36:09.635Z",
      "id": "mR0ZFWUDA13aNKau",
      "name": "v1.0"
    },
    {
      "updatedAt": "2026-02-23T08:36:09.637Z",
      "createdAt": "2026-02-23T08:36:09.637Z",
      "id": "1UGEb2FBXYIKlqkF",
      "name": "semanal"
    }
  ],
  "activeVersion": null
}