backups/prod/LOGLNeatIniciaSessaoDjangoWF/LOGLNeatIniciaSessaoDjangoWF_v2__G_uJlTCGmQcpeCPZu2zej.json
{
  "updatedAt": "2026-03-06T15:04:33.178Z",
  "createdAt": "2026-02-11T17:41:47.864Z",
  "id": "G_uJlTCGmQcpeCPZu2zej",
  "name": "[LOGL]Neat.IniciaSessaoDjango.WF_v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "baseUrl"
            },
            {
              "name": "loginPath"
            },
            {
              "name": "csrfFieldName"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "2b4792bf-e7ca-4836-a58c-a33eede8c344",
      "name": "recebeUrl"
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl + $json.loginPath }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "5d27b165-4ed1-4086-9d1d-747e563bd616",
      "name": "getToken"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90334a0b-381f-4601-a964-c968af41ef41",
              "name": "referer",
              "value": "={{ $('recebeUrl').item.json.baseUrl + $('recebeUrl').item.json.loginPath }}",
              "type": "string"
            },
            {
              "id": "77abafa2-2628-4e2d-ac7f-0c62b9bf3477",
              "name": "csrfCookie",
              "value": "={{\n  (() => {\n    const raw = $json.headers?.['set-cookie'];\n    const line = (Array.isArray(raw) ? raw : [raw]).find(c => String(c).includes('csrftoken=')) || '';\n    const token = String(line).match(/csrftoken=([^;]+)/)?.[1] || '';\n    return token.trim();\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "e559b1e2-aab2-4c11-bd9a-02534485eced",
              "name": "cookieJar",
              "value": "={{ $json.headers[\"set-cookie\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "c8a27bdd-d377-4ecb-ae5a-824d047ff0e2",
      "name": "extraiToken"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('recebeUrl').item.json.baseUrl + $('recebeUrl').item.json.loginPath}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('recebeUrl').item.json.baseUrl + $('recebeUrl').item.json.loginPath}}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $json.csrfCookie }}"
            },
            {
              "name": "Cookie",
              "value": "={{ (() => {\n  const raw = $json.cookieJar; // pode ser array, string ou \"string de array\"\n  const list = Array.isArray(raw)\n    ? raw\n    : (typeof raw === 'string' && raw.trim().startsWith('[') ? JSON.parse(raw) : [String(raw)]);\n  const joined = list.join('; ');                 // junta múltiplos Set-Cookie, se houver\n  const m = joined.match(/(?:^|;\\s*)csrftoken=([^;]+)/i);\n  return m ? `csrftoken=${m[1]}` : '';\n})() }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{ $('recebeUrl').item.json.csrfFieldName || 'csrfmiddlewaretoken' }}",
              "value": "={{ $json.csrfCookie }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "id": "7329c133-d768-4c59-9129-8f04223a2076",
      "name": "postAutenticaSessao",
      "credentials": {
        "httpCustomAuth": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a485387-9217-499b-b59a-ff4df4053587",
              "name": "sessionId",
              "value": "={{ (() => {\n  const h = $json.headers || {};\n  const sc = h['set-cookie'] ?? h['Set-Cookie'];\n  const list = Array.isArray(sc) ? sc : (sc ? [sc] : []);\n  const raw = list.join('\\n');                         // vários Set-Cookie\n  const m = raw.match(/(?:^|\\n|,)\\s*sessionid=([^;,\\s]+)/i);\n  return m ? m[1] : '';                                // só o valor\n})() }}",
              "type": "string"
            },
            {
              "id": "1c2d03bf-3347-44eb-8628-76caded67195",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "abaa7254-c55e-4688-ae71-58bf42619752",
      "name": "extraiSessionId"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7da404e6-6a92-4de7-bbfd-a2092b61c7d2",
              "name": "baseUrl",
              "value": "={{ $('recebeUrl').item.json.baseUrl }}",
              "type": "string"
            },
            {
              "id": "7acd18d1-71fd-40b2-bade-6734b658b7b6",
              "name": "loginPath",
              "value": "={{ $('recebeUrl').item.json.loginPath }}",
              "type": "string"
            },
            {
              "id": "08f05bcd-64e7-447e-97e9-c9a633858c04",
              "name": "csrfFieldName",
              "value": "={{ $('recebeUrl').item.json.csrfFieldName }}",
              "type": "string"
            },
            {
              "id": "2288f452-aac7-4af5-ad04-3b2e8149e885",
              "name": "csrfCookie",
              "value": "={{ $('extraiToken').item.json.csrfCookie }}",
              "type": "string"
            },
            {
              "id": "e3a86304-8837-48c3-96ee-9f01e5c2a0ec",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "8526fe5d-318e-4acb-ad50-d8cbe6483c15",
              "name": "cookieJar",
              "value": "={{ $('postAutenticaSessao').item.json.headers['set-cookie'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ],
      "id": "5e56bfd9-671f-46f4-b0a7-32f9d7a2c597",
      "name": "retornaSessaoEToken"
    }
  ],
  "connections": {
    "recebeUrl": {
      "main": [
        [
          {
            "node": "getToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getToken": {
      "main": [
        [
          {
            "node": "extraiToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraiToken": {
      "main": [
        [
          {
            "node": "postAutenticaSessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "postAutenticaSessao": {
      "main": [
        [
          {
            "node": "extraiSessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraiSessionId": {
      "main": [
        [
          {
            "node": "retornaSessaoEToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "recebeUrl": [
      {
        "json": {
          "baseUrl": "https://hub.novadata.com.br",
          "loginPath": "/login/",
          "csrfFieldName": "csrftoken"
        }
      }
    ]
  },
  "versionId": "c3ee8f1c-4b7f-4e46-bd7f-43577ebeaea4",
  "activeVersionId": "c3ee8f1c-4b7f-4e46-bd7f-43577ebeaea4",
  "versionCounter": 48,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-11T17:41:47.864Z",
      "createdAt": "2026-02-11T17:41:47.864Z",
      "role": "workflow:owner",
      "workflowId": "G_uJlTCGmQcpeCPZu2zej",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T15:03:00.305Z",
      "createdAt": "2026-03-06T15:03:00.305Z",
      "id": "5rVLAyDfr2bdPlfp",
      "name": "@neat"
    },
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-11T17:48:04.965Z",
    "createdAt": "2026-02-11T17:47:34.384Z",
    "versionId": "c3ee8f1c-4b7f-4e46-bd7f-43577ebeaea4",
    "workflowId": "G_uJlTCGmQcpeCPZu2zej",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "baseUrl"
              },
              {
                "name": "loginPath"
              },
              {
                "name": "csrfFieldName"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "2b4792bf-e7ca-4836-a58c-a33eede8c344",
        "name": "recebeUrl"
      },
      {
        "parameters": {
          "url": "={{ $json.baseUrl + $json.loginPath }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          0
        ],
        "id": "5d27b165-4ed1-4086-9d1d-747e563bd616",
        "name": "getToken"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "90334a0b-381f-4601-a964-c968af41ef41",
                "name": "referer",
                "value": "={{ $('recebeUrl').item.json.baseUrl + $('recebeUrl').item.json.loginPath }}",
                "type": "string"
              },
              {
                "id": "77abafa2-2628-4e2d-ac7f-0c62b9bf3477",
                "name": "csrfCookie",
                "value": "={{\n  (() => {\n    const raw = $json.headers?.['set-cookie'];\n    const line = (Array.isArray(raw) ? raw : [raw]).find(c => String(c).includes('csrftoken=')) || '';\n    const token = String(line).match(/csrftoken=([^;]+)/)?.[1] || '';\n    return token.trim();\n  })()\n}}",
                "type": "string"
              },
              {
                "id": "e559b1e2-aab2-4c11-bd9a-02534485eced",
                "name": "cookieJar",
                "value": "={{ $json.headers[\"set-cookie\"] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          0
        ],
        "id": "c8a27bdd-d377-4ecb-ae5a-824d047ff0e2",
        "name": "extraiToken"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('recebeUrl').item.json.baseUrl + $('recebeUrl').item.json.loginPath}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('recebeUrl').item.json.baseUrl + $('recebeUrl').item.json.loginPath}}"
              },
              {
                "name": "Content-Type",
                "value": "application/x-www-form-urlencoded"
              },
              {
                "name": "X-CSRFToken",
                "value": "={{ $json.csrfCookie }}"
              },
              {
                "name": "Cookie",
                "value": "={{ (() => {\n  const raw = $json.cookieJar; // pode ser array, string ou \"string de array\"\n  const list = Array.isArray(raw)\n    ? raw\n    : (typeof raw === 'string' && raw.trim().startsWith('[') ? JSON.parse(raw) : [String(raw)]);\n  const joined = list.join('; ');                 // junta múltiplos Set-Cookie, se houver\n  const m = joined.match(/(?:^|;\\s*)csrftoken=([^;]+)/i);\n  return m ? `csrftoken=${m[1]}` : '';\n})() }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "={{ $('recebeUrl').item.json.csrfFieldName || 'csrfmiddlewaretoken' }}",
                "value": "={{ $json.csrfCookie }}"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "followRedirects": false
              }
            },
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          0
        ],
        "id": "7329c133-d768-4c59-9129-8f04223a2076",
        "name": "postAutenticaSessao",
        "credentials": {
          "httpCustomAuth": {
            "id": "nr86XoStqumKebCY",
            "name": "Custom Auth account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3a485387-9217-499b-b59a-ff4df4053587",
                "name": "sessionId",
                "value": "={{ (() => {\n  const h = $json.headers || {};\n  const sc = h['set-cookie'] ?? h['Set-Cookie'];\n  const list = Array.isArray(sc) ? sc : (sc ? [sc] : []);\n  const raw = list.join('\\n');                         // vários Set-Cookie\n  const m = raw.match(/(?:^|\\n|,)\\s*sessionid=([^;,\\s]+)/i);\n  return m ? m[1] : '';                                // só o valor\n})() }}",
                "type": "string"
              },
              {
                "id": "1c2d03bf-3347-44eb-8628-76caded67195",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          832,
          0
        ],
        "id": "abaa7254-c55e-4688-ae71-58bf42619752",
        "name": "extraiSessionId"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7da404e6-6a92-4de7-bbfd-a2092b61c7d2",
                "name": "baseUrl",
                "value": "={{ $('recebeUrl').item.json.baseUrl }}",
                "type": "string"
              },
              {
                "id": "7acd18d1-71fd-40b2-bade-6734b658b7b6",
                "name": "loginPath",
                "value": "={{ $('recebeUrl').item.json.loginPath }}",
                "type": "string"
              },
              {
                "id": "08f05bcd-64e7-447e-97e9-c9a633858c04",
                "name": "csrfFieldName",
                "value": "={{ $('recebeUrl').item.json.csrfFieldName }}",
                "type": "string"
              },
              {
                "id": "2288f452-aac7-4af5-ad04-3b2e8149e885",
                "name": "csrfCookie",
                "value": "={{ $('extraiToken').item.json.csrfCookie }}",
                "type": "string"
              },
              {
                "id": "e3a86304-8837-48c3-96ee-9f01e5c2a0ec",
                "name": "sessionId",
                "value": "={{ $json.sessionId }}",
                "type": "string"
              },
              {
                "id": "8526fe5d-318e-4acb-ad50-d8cbe6483c15",
                "name": "cookieJar",
                "value": "={{ $('postAutenticaSessao').item.json.headers['set-cookie'] }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          0
        ],
        "id": "5e56bfd9-671f-46f4-b0a7-32f9d7a2c597",
        "name": "retornaSessaoEToken"
      }
    ],
    "connections": {
      "recebeUrl": {
        "main": [
          [
            {
              "node": "getToken",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getToken": {
        "main": [
          [
            {
              "node": "extraiToken",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extraiToken": {
        "main": [
          [
            {
              "node": "postAutenticaSessao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "postAutenticaSessao": {
        "main": [
          [
            {
              "node": "extraiSessionId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extraiSessionId": {
        "main": [
          [
            {
              "node": "retornaSessaoEToken",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version c3ee8f1c",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-11T17:48:04.960Z",
        "id": 1,
        "workflowId": "G_uJlTCGmQcpeCPZu2zej",
        "versionId": "c3ee8f1c-4b7f-4e46-bd7f-43577ebeaea4",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      },
      {
        "createdAt": "2026-02-11T17:48:23.497Z",
        "id": 2,
        "workflowId": "G_uJlTCGmQcpeCPZu2zej",
        "versionId": "c3ee8f1c-4b7f-4e46-bd7f-43577ebeaea4",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}