backups/prod/NEATServicesGerarRelatorioIAWF/NEATServicesGerarRelatorioIAWF_v10__mdJ7GRE5M6S_G_7FX3pOw.json
{
  "updatedAt": "2026-03-10T03:56:21.763Z",
  "createdAt": "2026-03-10T03:52:58.297Z",
  "id": "mdJ7GRE5M6S_G_7FX3pOw",
  "name": "[NEAT]Services.GerarRelatorioIA.WF_v1.0",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "dados_projeto",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        432
      ],
      "id": "eb127a4b-34cf-4739-ace0-97423d98f820",
      "name": "receberDadosProjeto"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// montarPromptGroq v11.0 — IA NARRA, JS ESTRUTURA\n// ============================================\n\nlet input = $input.first().json;\nif (Array.isArray(input)) input = input[0];\nif (input && !input.cards && input.json?.cards) input = input.json;\nif (input && !input.cards) {\n  for (const key of Object.keys(input)) {\n    const v = input[key];\n    if (v && typeof v === 'object' && !Array.isArray(v) && v.cards) { input = v; break; }\n    if (Array.isArray(v) && v[0]?.cards) { input = v[0]; break; }\n  }\n}\nif (!input?.cards) {\n  throw new Error('Input invalido. Keys: ' + JSON.stringify(Object.keys($input.first().json || {})));\n}\n\nconst projeto = input.projeto_info || { nome: 'Projeto' };\nconst todosCards = input.cards || [];\nconst resumo = input.resumo || {};\nconst sprints = input.sprints_identificadas || [];\nconst meta = input.metadados_coleta || {};\n\n// === HELPERS ===\nfunction fh(h) {\n  if (!h) return '0h';\n  const hr = Math.floor(h), mn = Math.round((h - hr) * 60);\n  return mn === 0 ? `${hr}h` : `${hr}h${mn}min`;\n}\n\nfunction fn(f) {\n  if (!f) return 'Sem Fase';\n  return typeof f === 'string' ? f : (f.nome || 'Sem Fase');\n}\n\nfunction getFaseFlag(info, flag) {\n  if (!info || typeof info !== 'object') return false;\n  return info[flag] === true;\n}\n\nfunction tituloLimpo(t) {\n  if (!t) return '';\n  return t.replace(/^[\\s✅❌🔄⚠️📌💡🎯🧱]+/, '').trim();\n}\n\n// Resumir descrição: primeiros N caracteres, corta na última frase completa\nfunction resumirDescricao(desc, maxChars = 200) {\n  if (!desc) return 'Sem descrição disponível.';\n  let texto = desc.trim();\n  if (texto.length <= maxChars) return texto;\n  \n  // Corta no maxChars e volta até o último ponto/ponto-e-vírgula\n  let cortado = texto.substring(0, maxChars);\n  const ultimoPonto = Math.max(cortado.lastIndexOf('.'), cortado.lastIndexOf(';'), cortado.lastIndexOf('!'));\n  if (ultimoPonto > maxChars * 0.4) {\n    cortado = cortado.substring(0, ultimoPonto + 1);\n  } else {\n    cortado = cortado.trim() + '...';\n  }\n  return cortado;\n}\n\n// === CLASSIFICAÇÃO ===\nfunction classificar(card) {\n  const info = card.fase_atual_nome;\n  const nome = fn(info).toLowerCase();\n  if (getFaseFlag(info, 'conclusao')) return 'concluidos';\n  if (nome.includes('concluído') || nome.includes('concluido')) return 'concluidos';\n  if (nome.includes('cancelado')) return 'cancelados';\n  if (nome.includes('andamento')) return 'em_andamento';\n  if (getFaseFlag(info, 'testes')) return 'em_testes';\n  if (nome.includes('teste')) return 'em_testes';\n  if (nome.includes('deploy')) return 'aguardando_deploy';\n  if (nome.includes('sprint')) return 'sprint_atual';\n  if (nome.includes('backlog') || nome.includes('fila') ||\n      nome.includes('standby') || nome.includes('pendente')) return 'pendentes';\n  return 'outros';\n}\n\nconst grupos = {\n  concluidos: [], cancelados: [], em_andamento: [],\n  em_testes: [], aguardando_deploy: [], sprint_atual: [],\n  pendentes: [], outros: []\n};\ntodosCards.forEach(c => { const s = classificar(c); c._st = s; grupos[s].push(c); });\n\nconst emTrabalho = [...grupos.sprint_atual, ...grupos.em_andamento, ...grupos.aguardando_deploy, ...grupos.em_testes];\nconst somaGrupos = Object.values(grupos).reduce((s, a) => s + a.length, 0);\n\n// === PERÍODO ===\nconst dataColeta = meta.data_coleta || new Date().toISOString();\nconst dataColetaObj = new Date(dataColeta);\nconst diasPeriodo = meta.periodo_analise_dias || 15;\nconst dataInicio = new Date(dataColetaObj);\ndataInicio.setDate(dataInicio.getDate() - diasPeriodo);\nconst pIni = dataInicio.toLocaleDateString('pt-BR');\nconst pFim = dataColetaObj.toLocaleDateString('pt-BR');\n\n// === IDENTIFICAR SPRINT ATUAL vs HISTÓRICA ===\n// Sprints do período = iniciaram dentro dos últimos diasPeriodo*2 dias\nconst limiteSprintRecente = new Date(dataColetaObj);\nlimiteSprintRecente.setDate(limiteSprintRecente.getDate() - (diasPeriodo * 2));\n\nfunction isSprintRecente(card) {\n  if (!card.sprint_info?.periodo?.inicio) return false;\n  const inicioSprint = new Date(card.sprint_info.periodo.inicio);\n  return inicioSprint >= limiteSprintRecente;\n}\n\n// === EQUIPES REAIS (quem trabalhou, não só responsável) ===\nfunction equipesReais(card) {\n  const equipes = new Set();\n  \n  // 1. Equipes dos responsáveis com horas > 0\n  if (card.times && Array.isArray(card.times)) {\n    card.times.forEach(t => {\n      if (t.equipe && t.equipe !== 'Externo' && t.equipe !== 'A definir' && t.equipe !== 'Outros') {\n        // Se tem horas lançadas, é equipe ativa\n        if (t.horas_periodo > 0) {\n          equipes.add(t.equipe);\n        }\n      }\n    });\n  }\n  \n  // 2. Fallback: equipes_envolvidas (se ninguém teve horas)\n  if (equipes.size === 0 && card.equipes_envolvidas) {\n    card.equipes_envolvidas\n      .filter(e => e !== 'Gestão') // Remove gestão do fallback\n      .forEach(e => equipes.add(e));\n  }\n  \n  // 3. Se ainda vazio, usa equipes_envolvidas com gestão\n  if (equipes.size === 0 && card.equipes_envolvidas) {\n    card.equipes_envolvidas.forEach(e => equipes.add(e));\n  }\n  \n  return [...equipes];\n}\n\n// === MÉTRICAS ===\nfunction diasAtraso(dataDesejada, dataRef) {\n  if (!dataDesejada) return null;\n  const deadline = new Date(dataDesejada);\n  const ref = new Date(dataRef);\n  const diff = Math.floor((ref - deadline) / (1000 * 60 * 60 * 24));\n  return diff > 0 ? diff : null;\n}\n\nconst horasEquipe = Object.entries(resumo.horas?.horas_por_equipe || {})\n  .sort((a, b) => b[1] - a[1])\n  .map(([e, h]) => `${e}: ${fh(h)}`)\n  .join(', ');\n\nconst totalReaberturas = todosCards.reduce((s, c) => s + (c.metricas_deteccao?.reaberturas || 0), 0);\nconst totalReprovacoes = todosCards.reduce((s, c) => s + (c.metricas_deteccao?.reprovacoes || 0), 0);\nconst horasEntregasPeriodo = grupos.concluidos.reduce((s, c) => s + (c.tempo_trabalhado_horas || 0), 0);\n\n// Cards com alertas críticos\nconst cardsComAlertasCriticos = new Set();\nconst alertasCriticosDetalhados = [];\ntodosCards.forEach(c => {\n  (c.anomalias || []).forEach(a => {\n    if (a.severidade === 'ALTA' || a.severidade === 'CRITICA') {\n      cardsComAlertasCriticos.add(c.id);\n      alertasCriticosDetalhados.push({\n        id: c.id,\n        titulo: tituloLimpo(c.titulo),\n        msg: a.mensagem,\n        tipo: a.tipo,\n        acao: a.acao\n      });\n    }\n  });\n});\n\n// Deadlines estourados (ativos, não cancelados/concluídos)\nconst deadlines = [];\nemTrabalho.forEach(c => {\n  const atraso = diasAtraso(c.data_desejada, dataColeta);\n  if (atraso) deadlines.push({ id: c.id, titulo: tituloLimpo(c.titulo), dias: atraso });\n});\n\n// Cards com reaberturas (detalhar quais)\nconst cardsComReaberturas = todosCards\n  .filter(c => (c.metricas_deteccao?.reaberturas || 0) > 0)\n  .map(c => ({ id: c.id, titulo: tituloLimpo(c.titulo), reaberturas: c.metricas_deteccao.reaberturas }));\n\n// Cards com reprovações (detalhar quais)\nconst cardsComReprovacoes = todosCards\n  .filter(c => (c.metricas_deteccao?.reprovacoes || 0) > 0)\n  .map(c => ({ id: c.id, titulo: tituloLimpo(c.titulo), reprovacoes: c.metricas_deteccao.reprovacoes }));\n\n// === AGRUPAR POR SPRINT ===\nconst sprintOrdem = sprints.map(s => s.nome);\nfunction sortSprints(keys) {\n  return keys.sort((a, b) => {\n    const ia = sprintOrdem.indexOf(a), ib = sprintOrdem.indexOf(b);\n    if (ia === -1 && ib === -1) return 0;\n    if (ia === -1) return 1;\n    if (ib === -1) return -1;\n    return ia - ib;\n  });\n}\n\n// ============================================\n// MONTAR DADOS ESTRUTURADOS PARA A IA\n// ============================================\n\nlet dados = '';\n\n// --- CONTEXTO ---\ndados += `PROJETO: ${projeto.nome} (ID: ${projeto.id})\\n`;\ndados += `PERÍODO DE ANÁLISE: ${pIni} a ${pFim} (${diasPeriodo} dias)\\n`;\ndados += `DATA DA COLETA: ${dataColetaObj.toLocaleDateString('pt-BR')}\\n\\n`;\n\n// --- NÚMEROS DO PERÍODO ---\ndados += `=== NÚMEROS DO PERÍODO ===\\n`;\ndados += `Total de cards ativos: ${todosCards.length}\\n`;\ndados += `Entregas concluídas: ${grupos.concluidos.length}\\n`;\ndados += `Em testes: ${grupos.em_testes.length}\\n`;\ndados += `Em andamento: ${grupos.em_andamento.length}\\n`;\ndados += `Em sprint (aguardando início): ${grupos.sprint_atual.length}\\n`;\ndados += `Aguardando deploy: ${grupos.aguardando_deploy.length}\\n`;\ndados += `Pendentes: ${grupos.pendentes.length}\\n`;\ndados += `Cancelados: ${grupos.cancelados.length}\\n`;\ndados += `Cards com alertas críticos: ${cardsComAlertasCriticos.size}\\n`;\ndados += `Horas trabalhadas no período: ${fh(resumo.horas?.total_horas_periodo || 0)}\\n`;\ndados += `Distribuição por equipe: ${horasEquipe}\\n`;\ndados += `Pessoas ativas: ${resumo.horas?.total_pessoas_ativas || 0}\\n`;\ndados += `Horas acumuladas nas entregas: ${fh(horasEntregasPeriodo)}\\n`;\ndados += `Reaberturas no período: ${totalReaberturas}\\n`;\ndados += `Reprovações no período: ${totalReprovacoes}\\n\\n`;\n\n// --- ENTREGAS CONCLUÍDAS ---\ndados += `=== ENTREGAS CONCLUÍDAS (${grupos.concluidos.length}) ===\\n`;\ngrupos.concluidos.forEach(c => {\n  const eq = equipesReais(c);\n  const estouro = c.orcado_horas > 0\n    ? Math.round(((c.tempo_trabalhado_horas - c.orcado_horas) / c.orcado_horas) * 100)\n    : null;\n  \n  dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n  dados += `  O que faz: ${resumirDescricao(c.descricao_limpa)}\\n`;\n  dados += `  Equipes: ${eq.length ? eq.join(', ') : 'Não identificada'}\\n`;\n  dados += `  Tempo trabalhado: ${fh(c.tempo_trabalhado_horas)}`;\n  if (c.orcado_horas > 0) {\n    dados += ` (orçado: ${fh(c.orcado_horas)}`;\n    if (estouro !== null && estouro !== 0) {\n      dados += `, ${estouro > 0 ? 'estouro de ' + estouro + '%' : Math.abs(estouro) + '% abaixo'}`;\n    }\n    dados += `)`;\n  }\n  dados += `\\n`;\n  if (c.pontos_totais) dados += `  Complexidade: ${c.pontos_totais} pontos\\n`;\n  dados += `  Concluído em: ${c.data_conclusao || 'N/A'}\\n`;\n  if (c.sprint_identificada) dados += `  Sprint: ${c.sprint_identificada}\\n`;\n  \n  // Trajetória resumida\n  if (c.logs_fase && c.logs_fase.length > 0) {\n    const trajetoria = c.logs_fase.map(l => l.para).join(' → ');\n    dados += `  Trajetória: ${trajetoria}\\n`;\n  }\n  \n  // Anomalias\n  if (c.anomalias && c.anomalias.length > 0) {\n    dados += `  Alertas: ${c.anomalias.map(a => a.mensagem).join('; ')}\\n`;\n  }\n});\ndados += '\\n';\n\n// --- EM TESTES ---\nif (grupos.em_testes.length > 0) {\n  dados += `=== EM TESTES (${grupos.em_testes.length}) ===\\n`;\n  dados += `Observação: cards nesta fase aguardam validação/homologação antes de serem concluídos.\\n`;\n  grupos.em_testes.forEach(c => {\n    const eq = equipesReais(c);\n    const atraso = diasAtraso(c.data_desejada, dataColeta);\n    \n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  O que faz: ${resumirDescricao(c.descricao_limpa, 150)}\\n`;\n    dados += `  Equipes: ${eq.length ? eq.join(', ') : 'Não identificada'}\\n`;\n    dados += `  Tempo trabalhado: ${fh(c.tempo_trabalhado_horas)}`;\n    if (c.orcado_horas > 0) dados += ` (orçado: ${fh(c.orcado_horas)})`;\n    dados += `\\n`;\n    if (c.pontos_totais) dados += `  Complexidade: ${c.pontos_totais} pontos\\n`;\n    if (c.dias_na_fase_atual != null) dados += `  Dias em testes: ${c.dias_na_fase_atual}\\n`;\n    if (atraso) dados += `  ⚠ Deadline estourado há ${atraso} dias\\n`;\n    if (c.sprint_identificada && isSprintRecente(c)) dados += `  Sprint: ${c.sprint_identificada}\\n`;\n    if (!isSprintRecente(c) && c.sprint_identificada) dados += `  Nota: card legado, sprint original era ${c.sprint_identificada}\\n`;\n    \n    if (c.anomalias && c.anomalias.length > 0) {\n      dados += `  Alertas: ${c.anomalias.map(a => `${a.mensagem} → ${a.acao}`).join('; ')}\\n`;\n    }\n  });\n  dados += '\\n';\n}\n\n// --- EM ANDAMENTO ---\nif (grupos.em_andamento.length > 0) {\n  dados += `=== EM ANDAMENTO (${grupos.em_andamento.length}) ===\\n`;\n  grupos.em_andamento.forEach(c => {\n    const eq = equipesReais(c);\n    const atraso = diasAtraso(c.data_desejada, dataColeta);\n    \n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  O que faz: ${resumirDescricao(c.descricao_limpa, 150)}\\n`;\n    dados += `  Equipes: ${eq.length ? eq.join(', ') : 'Não identificada'}\\n`;\n    dados += `  Tempo trabalhado: ${fh(c.tempo_trabalhado_horas)}`;\n    if (c.orcado_horas > 0) dados += ` (orçado: ${fh(c.orcado_horas)})`;\n    dados += `\\n`;\n    if (c.dias_na_fase_atual != null) dados += `  Dias em andamento: ${c.dias_na_fase_atual}\\n`;\n    if (atraso) dados += `  ⚠ Deadline estourado há ${atraso} dias\\n`;\n    if (c.sprint_identificada) dados += `  Sprint: ${c.sprint_identificada}\\n`;\n    \n    if (c.logs_fase && c.logs_fase.length > 0) {\n      const ultimoMov = c.logs_fase[c.logs_fase.length - 1];\n      dados += `  Última movimentação: ${ultimoMov.frase} (${new Date(ultimoMov.data).toLocaleDateString('pt-BR')})\\n`;\n    }\n    \n    if (c.anomalias && c.anomalias.length > 0) {\n      dados += `  Alertas: ${c.anomalias.map(a => a.mensagem).join('; ')}\\n`;\n    }\n  });\n  dados += '\\n';\n}\n\n// --- SPRINT ATUAL (aguardando início) ---\nif (grupos.sprint_atual.length > 0) {\n  dados += `=== NA SPRINT ATUAL - AGUARDANDO INÍCIO (${grupos.sprint_atual.length}) ===\\n`;\n  grupos.sprint_atual.forEach(c => {\n    const eq = equipesReais(c);\n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  O que faz: ${resumirDescricao(c.descricao_limpa, 120)}\\n`;\n    dados += `  Equipes: ${eq.length ? eq.join(', ') : 'Não identificada'}\\n`;\n    if (c.orcado_horas > 0) dados += `  Orçado: ${fh(c.orcado_horas)}\\n`;\n    if (c.pontos_totais) dados += `  Complexidade: ${c.pontos_totais} pontos\\n`;\n  });\n  dados += '\\n';\n}\n\n// --- AGUARDANDO DEPLOY ---\nif (grupos.aguardando_deploy.length > 0) {\n  dados += `=== AGUARDANDO DEPLOY (${grupos.aguardando_deploy.length}) ===\\n`;\n  grupos.aguardando_deploy.forEach(c => {\n    dados += `- Card #${c.id}: \"${tituloLimpo(c.titulo)}\" - ${fh(c.tempo_trabalhado_horas)}\\n`;\n  });\n  dados += '\\n';\n}\n\n// --- PENDENTES ---\nif (grupos.pendentes.length > 0) {\n  dados += `=== PENDENTES (${grupos.pendentes.length}) ===\\n`;\n  grupos.pendentes.forEach(c => {\n    const fase = fn(c.fase_atual_nome);\n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  Fase: ${fase}\\n`;\n    dados += `  O que faz: ${resumirDescricao(c.descricao_limpa, 100)}\\n`;\n    if (c.dias_na_fase_atual != null) dados += `  Dias nesta fase: ${c.dias_na_fase_atual}\\n`;\n  });\n  dados += '\\n';\n}\n\n// --- CANCELADOS ---\nif (grupos.cancelados.length > 0) {\n  dados += `=== CANCELADOS (${grupos.cancelados.length}) ===\\n`;\n  grupos.cancelados.forEach(c => {\n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  O que fazia: ${resumirDescricao(c.descricao_limpa, 100)}\\n`;\n    if (c.logs_fase && c.logs_fase.length > 0) {\n      const trajetoria = c.logs_fase.map(l => `${l.de} → ${l.para}`).join(', ');\n      dados += `  Trajetória antes do cancelamento: ${trajetoria}\\n`;\n    }\n    if (c.anomalias && c.anomalias.length > 0) {\n      dados += `  Observações: ${c.anomalias.map(a => a.mensagem).join('; ')}\\n`;\n    }\n  });\n  dados += '\\n';\n}\n\n// --- ALERTAS CRÍTICOS ---\nif (alertasCriticosDetalhados.length > 0) {\n  dados += `=== ALERTAS CRÍTICOS (${cardsComAlertasCriticos.size} cards, ${alertasCriticosDetalhados.length} alertas) ===\\n`;\n  \n  // Agrupar por card para dar contexto\n  const alertasPorCard = {};\n  alertasCriticosDetalhados.forEach(a => {\n    if (!alertasPorCard[a.id]) alertasPorCard[a.id] = { titulo: a.titulo, alertas: [] };\n    alertasPorCard[a.id].alertas.push({ msg: a.msg, tipo: a.tipo, acao: a.acao });\n  });\n  \n  for (const [id, info] of Object.entries(alertasPorCard)) {\n    dados += `\\n- Card #${id}: \"${info.titulo}\"\\n`;\n    info.alertas.forEach(a => {\n      dados += `  • ${a.msg}\\n`;\n      dados += `    Ação sugerida: ${a.acao}\\n`;\n    });\n  }\n  dados += '\\n';\n}\n\n// --- RETRABALHO ---\nif (cardsComReaberturas.length > 0 || cardsComReprovacoes.length > 0) {\n  dados += `=== INDICADORES DE RETRABALHO ===\\n`;\n  if (cardsComReaberturas.length > 0) {\n    dados += `Reaberturas:\\n`;\n    cardsComReaberturas.forEach(c => {\n      dados += `- Card #${c.id} \"${c.titulo}\": reaberto ${c.reaberturas}x após conclusão\\n`;\n    });\n  }\n  if (cardsComReprovacoes.length > 0) {\n    dados += `Reprovações em testes:\\n`;\n    cardsComReprovacoes.forEach(c => {\n      dados += `- Card #${c.id} \"${c.titulo}\": reprovado ${c.reprovacoes}x\\n`;\n    });\n  }\n  dados += '\\n';\n}\n\n// --- DEADLINES ---\nif (deadlines.length > 0) {\n  dados += `=== DEADLINES ESTOURADOS (${deadlines.length}) ===\\n`;\n  deadlines\n    .sort((a, b) => b.dias - a.dias)\n    .forEach(d => {\n      dados += `- Card #${d.id} \"${d.titulo}\": ${d.dias} dias de atraso\\n`;\n    });\n  dados += '\\n';\n}\n\n// ============================================\n// PROMPT — IA GERA NARRATIVA A PARTIR DOS DADOS\n// ============================================\n\nconst prompt = `Você é um analista de projetos de software experiente. Sua tarefa é gerar um **acompanhamento semanal** do projeto para envio ao coordenador e ao cliente.\n\n## Instruções\n\nGere um relatório em Markdown com as seguintes seções:\n\n### 1. Resumo Executivo (3-5 frases)\n- Síntese do que aconteceu no período\n- Destaque as entregas mais relevantes com contexto (o que foi entregue e por que importa)\n- Mencione as horas totais do período e a distribuição por equipe\n- Se houver alertas críticos, mencione brevemente\n\n### 2. Entregas Concluídas\n- Para cada entrega, escreva 1-2 frases explicando O QUE foi entregue (não só o título)\n- Inclua o número do card, o tempo trabalhado e as equipes envolvidas\n- Se houve estouro de orçamento ou complexidade alta, mencione como contexto, não como crítica\n- Agrupe por sprint quando fizer sentido\n\n### 3. Em Desenvolvimento\n- Agrupe por status: Em Testes, Em Andamento, Aguardando na Sprint\n- Para cards em testes, destaque há quantos dias aguardam validação\n- Para cards com deadline estourado, sinalize\n- Mencione brevemente o que cada card faz\n- Se houver cards legados (de sprints antigas), agrupe-os separadamente com contexto\n\n### 4. Pendentes e Bloqueios\n- Liste cards pendentes/aguardando cliente\n- Cards cancelados com breve explicação do porquê (se possível inferir dos logs)\n\n### 5. Alertas e Riscos\n- Alertas críticos com ação sugerida\n- Deadlines estourados ordenados por gravidade\n- Indicadores de retrabalho (reaberturas, reprovações) COM CONTEXTO — diga de qual card e o que aconteceu, não só números soltos\n\n### 6. Análise e Recomendações\n- Identifique PADRÕES nos dados (ex: gargalo em testes, concentração de complexidade, etc.)\n- Sugira 2-3 ações concretas baseadas nos dados\n- Destaque o que foi positivo no período\n\n## Regras de Estilo\n- Tom profissional mas acessível — o leitor pode ser um coordenador técnico ou um cliente não-técnico\n- Português do Brasil com acentuação correta\n- Use negrito para destaques importantes\n- NÃO invente dados — use APENAS o que está nos dados abaixo\n- NÃO use emojis\n- Quando citar um card, use o formato: \"nome do card (#ID)\"\n- Diferencie claramente \"horas acumuladas no card\" de \"horas trabalhadas no período\"\n- Se um dado não está disponível, não invente — omita ou diga \"não disponível\"\n\n## Exemplo de Qualidade\n\nExemplo de como narrar entregas (NÃO copie, use como referência de estilo):\n\n\"O card **Melhorias no preenchimento de perguntas (#14412)**, que implementava a funcionalidade de redirecionamento automático para perguntas não respondidas na home do sistema, foi concluído em 06/02 após 41h de trabalho (orçado em 25h). O estouro de 65% no orçamento reflete a complexidade da implementação, que envolveu ajustes em múltiplas telas e regras de progresso. As equipes de Frontend e Backend atuaram nesta entrega.\"\n\n## Dados do Período\n\n${dados}`;\n\n// === LOG ===\nconst promptKB = (prompt.length / 1024).toFixed(1);\nconst tokensEst = Math.ceil(prompt.length / 3.5);\n\nconsole.log('=== montarPromptGroq v11.0 ===');\nconsole.log(`Projeto: ${projeto.nome}`);\nconsole.log(`Prompt: ${promptKB} KB (~${tokensEst} tokens)`);\nconsole.log(`Cards: ${grupos.concluidos.length} concl, ${emTrabalho.length} wip, ${grupos.pendentes.length} pend, ${grupos.cancelados.length} canc = ${somaGrupos} (${somaGrupos === todosCards.length ? 'OK' : 'ERRO'})`);\nconsole.log(`Alertas: ${cardsComAlertasCriticos.size} cards (${alertasCriticosDetalhados.length} anomalias)`);\nconsole.log(`Deadlines: ${deadlines.length} | Reaberturas: ${totalReaberturas} (${cardsComReaberturas.length} cards) | Reprovações: ${totalReprovacoes} (${cardsComReprovacoes.length} cards)`);\nconsole.log(`Horas: entregas=${fh(horasEntregasPeriodo)}, periodo=${fh(resumo.horas?.total_horas_periodo || 0)}`);\nconsole.log(`Descrições incluídas: ${todosCards.filter(c => c.descricao_limpa && c.descricao_limpa.length > 10).length}/${todosCards.length}`);\n\nreturn [{\n  json: {\n    prompt,\n    _meta: {\n      versao: '11.0',\n      projeto: projeto.nome,\n      projeto_id: projeto.id,\n      periodo: `${pIni} a ${pFim}`,\n      total_cards: todosCards.length,\n      concluidos: grupos.concluidos.length,\n      em_testes: grupos.em_testes.length,\n      em_andamento: grupos.em_andamento.length,\n      sprint_atual: grupos.sprint_atual.length,\n      aguardando_deploy: grupos.aguardando_deploy.length,\n      pendentes: grupos.pendentes.length,\n      cancelados: grupos.cancelados.length,\n      cards_com_alertas_criticos: cardsComAlertasCriticos.size,\n      total_anomalias_criticas: alertasCriticosDetalhados.length,\n      deadlines_estourados: deadlines.length,\n      reaberturas: totalReaberturas,\n      reprovacoes: totalReprovacoes,\n      horas_entregas: horasEntregasPeriodo,\n      horas_periodo: resumo.horas?.total_horas_periodo || 0,\n      prompt_kb: parseFloat(promptKB),\n      tokens_estimado: tokensEst,\n      ok: somaGrupos === todosCards.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        432
      ],
      "id": "48711d9b-ffe1-4a35-a392-0fbacd8c15a7",
      "name": "montarPromptGroq"
    },
    {
      "parameters": {
        "jsCode": "// Recebe resposta da IA e dados da análise\nconst respostaIA = $input.first().json;\nconst narrativaIA = respostaIA.output || respostaIA.choices?.[0]?.message?.content || respostaIA.text || 'Relatório não gerado';\n\n// Pega dados da análise (do nó anterior via referência)\nconst analise = $('montarPromptGroq').item.json.analise;\nconst projetoInfo = $('montarPromptGroq').item.json.projeto_info;\n\nconsole.log('=== GERANDO HTML DO RELATÓRIO ===');\nconsole.log(`Narrativa da IA: ${narrativaIA.length} caracteres`);\n\n// Formata a data\nconst dataAtual = new Date().toLocaleDateString('pt-BR', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric'\n});\n\n// ============================================\n// FUNÇÃO: Converter Markdown para HTML\n// ============================================\nfunction markdownParaHTML(texto) {\n  if (!texto) return '<p>Relatório não gerado</p>';\n  \n  let html = texto\n    // Headers (ordem importa!)\n    .replace(/^#### (.+)$/gm, '</p><h5 class=\"md-h5\">$1</h5><p>')\n    .replace(/^### (.+)$/gm, '</p><h4 class=\"md-h4\">$1</h4><p>')\n    .replace(/^## (.+)$/gm, '</p><h3 class=\"md-h3\">$1</h3><p>')\n    // Bold\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    // Listas\n    .replace(/^- (.+)$/gm, '<li>$1</li>')\n    // Parágrafos\n    .replace(/\\n\\n/g, '</p><p>')\n    // Quebras simples dentro de parágrafos\n    .replace(/\\n/g, '<br>');\n  \n  // Limpa tags vazias\n  html = html.replace(/<p><\\/p>/g, '');\n  html = html.replace(/<p><h/g, '<h');\n  html = html.replace(/<\\/h([1-6])><\\/p>/g, '</h$1>');\n  \n  return `<p>${html}</p>`;\n}\n\nconst narrativaHTML = markdownParaHTML(narrativaIA);\n\n// Template HTML profissional\nconst htmlRelatorio = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Relatório Semanal - ${projetoInfo.nome}</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 800px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f5f5f5;\n        }\n        .container {\n            background-color: white;\n            padding: 40px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        .header {\n            border-bottom: 3px solid #2563eb;\n            padding-bottom: 20px;\n            margin-bottom: 30px;\n        }\n        .header h1 {\n            color: #1e40af;\n            margin: 0 0 10px 0;\n            font-size: 28px;\n        }\n        .header .meta {\n            color: #64748b;\n            font-size: 14px;\n        }\n        .narrativa {\n            background-color: #f8fafc;\n            padding: 25px;\n            border-left: 4px solid #2563eb;\n            margin: 30px 0;\n            line-height: 1.8;\n        }\n        .narrativa .md-h3 {\n            color: #1e40af;\n            margin: 25px 0 15px 0;\n            font-size: 18px;\n            border-bottom: 1px solid #e2e8f0;\n            padding-bottom: 8px;\n        }\n        .narrativa .md-h4 {\n            color: #374151;\n            margin: 20px 0 10px 0;\n            font-size: 16px;\n        }\n        .narrativa .md-h5 {\n            color: #4b5563;\n            margin: 15px 0 10px 0;\n            font-size: 14px;\n        }\n        .narrativa li {\n            margin: 5px 0;\n            margin-left: 20px;\n        }\n        .narrativa p {\n            margin: 10px 0;\n        }\n        .metricas {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));\n            gap: 15px;\n            margin: 30px 0;\n        }\n        .metrica-card {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            background-color: #667eea; /* Fallback */\n            color: white;\n            padding: 20px;\n            border-radius: 8px;\n            text-align: center;\n        }\n        .metrica-card .valor {\n            font-size: 32px;\n            font-weight: bold;\n            margin: 10px 0;\n        }\n        .metrica-card .label {\n            font-size: 14px;\n            opacity: 0.9;\n        }\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            margin: 20px 0;\n        }\n        th {\n            background-color: #2563eb;\n            color: white;\n            padding: 12px;\n            text-align: left;\n            font-weight: 600;\n        }\n        td {\n            padding: 12px;\n            border-bottom: 1px solid #e2e8f0;\n        }\n        tr:hover {\n            background-color: #f8fafc;\n        }\n        .alerta {\n            background-color: #fef2f2;\n            border-left: 4px solid #ef4444;\n            padding: 12px;\n            margin: 10px 0;\n            border-radius: 4px;\n        }\n        .alerta-warning {\n            background-color: #fef3c7;\n            border-left: 4px solid #f59e0b;\n        }\n        .footer {\n            margin-top: 40px;\n            padding-top: 20px;\n            border-top: 1px solid #e2e8f0;\n            color: #64748b;\n            font-size: 12px;\n            text-align: center;\n        }\n        h3 {\n            color: #1e40af;\n            margin-top: 30px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>📊 Relatório Semanal</h1>\n            <div class=\"meta\">\n                <strong>Projeto:</strong> ${projetoInfo.nome} (ID: ${projetoInfo.id})<br>\n                <strong>Período:</strong> ${$('processarAgruparCards').item.json.periodo_analise.inicio} a ${$('processarAgruparCards').item.json.periodo_analise.fim}<br>\n                <strong>Gerado em:</strong> ${dataAtual}\n            </div>\n        </div>\n\n        <div class=\"metricas\">\n            <div class=\"metrica-card\">\n                <div class=\"label\">Cards Concluídos</div>\n                <div class=\"valor\">${analise.concluidos.total}</div>\n            </div>\n            <div class=\"metrica-card\">\n                <div class=\"label\">Em Andamento</div>\n                <div class=\"valor\">${analise.em_andamento.total}</div>\n            </div>\n            <div class=\"metrica-card\">\n                <div class=\"label\">Em Testes</div>\n                <div class=\"valor\">${analise.em_testes.total}</div>\n            </div>\n            <div class=\"metrica-card\">\n                <div class=\"label\">Horas Trabalhadas</div>\n                <div class=\"valor\">${analise.metricas.total_horas_concluidas}h</div>\n            </div>\n        </div>\n\n        ${analise.em_andamento.com_alerta > 0 ? `\n        <div class=\"alerta\">\n            ⚠️ <strong>Atenção:</strong> ${analise.em_andamento.com_alerta} card(s) em andamento há mais de 14 dias sem progresso.\n        </div>\n        ` : ''}\n\n        ${analise.em_testes.total > 0 ? `\n        <div class=\"alerta alerta-warning\">\n            🧪 <strong>Validação Pendente:</strong> ${analise.em_testes.total} card(s) em testes aguardando validação.\n        </div>\n        ` : ''}\n\n        <div class=\"narrativa\">\n            ${narrativaHTML}\n        </div>\n\n        ${analise.concluidos.total > 0 ? `\n        <h3>📋 Detalhes dos Cards Concluídos</h3>\n        <table>\n            <thead>\n                <tr>\n                    <th>ID</th>\n                    <th>Título</th>\n                    <th>Tempo (h)</th>\n                    <th>Pontos</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${analise.concluidos.cards.map(c => `\n                <tr>\n                    <td>#${c.id}</td>\n                    <td>${c.titulo}</td>\n                    <td>${c.tempo_total_horas}h</td>\n                    <td>${c.pontos || 'N/A'}</td>\n                </tr>\n                `).join('')}\n            </tbody>\n        </table>\n        ` : ''}\n\n        ${analise.em_andamento.total > 0 ? `\n        <h3>🔄 Cards em Andamento</h3>\n        <table>\n            <thead>\n                <tr>\n                    <th>ID</th>\n                    <th>Título</th>\n                    <th>Dias na Fase</th>\n                    <th>Status</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${analise.em_andamento.cards.map(c => `\n                <tr>\n                    <td>#${c.id}</td>\n                    <td>${c.titulo}</td>\n                    <td>${c.dias_na_fase}</td>\n                    <td>${c.alerta ? '⚠️ Alerta' : '✅ Normal'}</td>\n                </tr>\n                `).join('')}\n            </tbody>\n        </table>\n        ` : ''}\n\n        ${analise.em_testes.total > 0 ? `\n        <h3>🧪 Cards em Testes (Aguardando Validação)</h3>\n        <table>\n            <thead>\n                <tr>\n                    <th>ID</th>\n                    <th>Título</th>\n                    <th>Dias Aguardando</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${analise.em_testes.cards.map(c => `\n                <tr>\n                    <td>#${c.id}</td>\n                    <td>${c.titulo}</td>\n                    <td>${c.dias_na_fase || '?'} dias</td>\n                </tr>\n                `).join('')}\n            </tbody>\n        </table>\n        ` : ''}\n\n        <div class=\"footer\">\n            Relatório gerado automaticamente pelo sistema de acompanhamento Neat.<br>\n            Para mais informações, acesse: <a href=\"https://hub.novadata.com.br\">hub.novadata.com.br</a>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\nconsole.log('✅ HTML gerado com sucesso');\n\nreturn [{\n  json: {\n    html: htmlRelatorio,\n    assunto: `Relatório Semanal - ${projetoInfo.nome} - ${dataAtual}`,\n    projeto_nome: projetoInfo.nome,\n    total_concluidos: analise.concluidos.total,\n    total_em_testes: analise.em_testes.total\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        432
      ],
      "id": "7c531f62-2821-4cf6-b63f-701af213efb2",
      "name": "montarHTMLRelatorio"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        576,
        432
      ],
      "id": "545c7196-93bb-49f4-a621-4bc0d5ea247c",
      "name": "executarCadeiaLLM"
    },
    {
      "parameters": {
        "model": "=llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        544,
        656
      ],
      "id": "1c339752-995f-49b8-8144-7025bd6babe5",
      "name": "modeloGroqChat",
      "credentials": {
        "groqApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "content": "# GerarRelatorioIA\n\nProjeto: NEAT\nGatilho: WF — chamado por [NEAT]Services.OrquestrarRelatorios\nSegurança: Nenhuma (execução interna)\nDocs: —\nDescrição: Recebe JSON estruturado com dados do projeto, monta prompt detalhado (v11.0), chama modelo Groq (llama-3.3-70b) via LangChain e gera relatório final em HTML.\n\nDependências: API Groq (credencial no n8n), saída de [NEAT]Db.ColetarDadosProjeto.\n\nA IA apenas redige — todos os cálculos e anomalias já vêm prontos do WF de coleta.",
        "height": 340,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9282fa93-cb98-4107-91ff-1de39cedde58",
      "name": "docWorkflow"
    }
  ],
  "connections": {
    "montarPromptGroq": {
      "main": [
        [
          {
            "node": "executarCadeiaLLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "executarCadeiaLLM": {
      "main": [
        [
          {
            "node": "montarHTMLRelatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modeloGroqChat": {
      "ai_languageModel": [
        [
          {
            "node": "executarCadeiaLLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "receberDadosProjeto": {
      "main": [
        [
          {
            "node": "montarPromptGroq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "95a5d9e8-62ed-4a68-9bde-79af7586af32",
  "activeVersionId": "95a5d9e8-62ed-4a68-9bde-79af7586af32",
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-10T03:52:58.297Z",
      "createdAt": "2026-03-10T03:52:58.297Z",
      "role": "workflow:owner",
      "workflowId": "mdJ7GRE5M6S_G_7FX3pOw",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    },
    {
      "updatedAt": "2026-03-10T03:52:56.600Z",
      "createdAt": "2026-03-10T03:52:56.600Z",
      "id": "nkh3AahFjNQnJiPv",
      "name": "@groq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-10T04:14:16.033Z",
    "createdAt": "2026-03-10T03:56:21.756Z",
    "versionId": "95a5d9e8-62ed-4a68-9bde-79af7586af32",
    "workflowId": "mdJ7GRE5M6S_G_7FX3pOw",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "dados_projeto",
                "type": "object"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          192,
          432
        ],
        "id": "eb127a4b-34cf-4739-ace0-97423d98f820",
        "name": "receberDadosProjeto"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// montarPromptGroq v11.0 — IA NARRA, JS ESTRUTURA\n// ============================================\n\nlet input = $input.first().json;\nif (Array.isArray(input)) input = input[0];\nif (input && !input.cards && input.json?.cards) input = input.json;\nif (input && !input.cards) {\n  for (const key of Object.keys(input)) {\n    const v = input[key];\n    if (v && typeof v === 'object' && !Array.isArray(v) && v.cards) { input = v; break; }\n    if (Array.isArray(v) && v[0]?.cards) { input = v[0]; break; }\n  }\n}\nif (!input?.cards) {\n  throw new Error('Input invalido. Keys: ' + JSON.stringify(Object.keys($input.first().json || {})));\n}\n\nconst projeto = input.projeto_info || { nome: 'Projeto' };\nconst todosCards = input.cards || [];\nconst resumo = input.resumo || {};\nconst sprints = input.sprints_identificadas || [];\nconst meta = input.metadados_coleta || {};\n\n// === HELPERS ===\nfunction fh(h) {\n  if (!h) return '0h';\n  const hr = Math.floor(h), mn = Math.round((h - hr) * 60);\n  return mn === 0 ? `${hr}h` : `${hr}h${mn}min`;\n}\n\nfunction fn(f) {\n  if (!f) return 'Sem Fase';\n  return typeof f === 'string' ? f : (f.nome || 'Sem Fase');\n}\n\nfunction getFaseFlag(info, flag) {\n  if (!info || typeof info !== 'object') return false;\n  return info[flag] === true;\n}\n\nfunction tituloLimpo(t) {\n  if (!t) return '';\n  return t.replace(/^[\\s✅❌🔄⚠️📌💡🎯🧱]+/, '').trim();\n}\n\n// Resumir descrição: primeiros N caracteres, corta na última frase completa\nfunction resumirDescricao(desc, maxChars = 200) {\n  if (!desc) return 'Sem descrição disponível.';\n  let texto = desc.trim();\n  if (texto.length <= maxChars) return texto;\n  \n  // Corta no maxChars e volta até o último ponto/ponto-e-vírgula\n  let cortado = texto.substring(0, maxChars);\n  const ultimoPonto = Math.max(cortado.lastIndexOf('.'), cortado.lastIndexOf(';'), cortado.lastIndexOf('!'));\n  if (ultimoPonto > maxChars * 0.4) {\n    cortado = cortado.substring(0, ultimoPonto + 1);\n  } else {\n    cortado = cortado.trim() + '...';\n  }\n  return cortado;\n}\n\n// === CLASSIFICAÇÃO ===\nfunction classificar(card) {\n  const info = card.fase_atual_nome;\n  const nome = fn(info).toLowerCase();\n  if (getFaseFlag(info, 'conclusao')) return 'concluidos';\n  if (nome.includes('concluído') || nome.includes('concluido')) return 'concluidos';\n  if (nome.includes('cancelado')) return 'cancelados';\n  if (nome.includes('andamento')) return 'em_andamento';\n  if (getFaseFlag(info, 'testes')) return 'em_testes';\n  if (nome.includes('teste')) return 'em_testes';\n  if (nome.includes('deploy')) return 'aguardando_deploy';\n  if (nome.includes('sprint')) return 'sprint_atual';\n  if (nome.includes('backlog') || nome.includes('fila') ||\n      nome.includes('standby') || nome.includes('pendente')) return 'pendentes';\n  return 'outros';\n}\n\nconst grupos = {\n  concluidos: [], cancelados: [], em_andamento: [],\n  em_testes: [], aguardando_deploy: [], sprint_atual: [],\n  pendentes: [], outros: []\n};\ntodosCards.forEach(c => { const s = classificar(c); c._st = s; grupos[s].push(c); });\n\nconst emTrabalho = [...grupos.sprint_atual, ...grupos.em_andamento, ...grupos.aguardando_deploy, ...grupos.em_testes];\nconst somaGrupos = Object.values(grupos).reduce((s, a) => s + a.length, 0);\n\n// === PERÍODO ===\nconst dataColeta = meta.data_coleta || new Date().toISOString();\nconst dataColetaObj = new Date(dataColeta);\nconst diasPeriodo = meta.periodo_analise_dias || 15;\nconst dataInicio = new Date(dataColetaObj);\ndataInicio.setDate(dataInicio.getDate() - diasPeriodo);\nconst pIni = dataInicio.toLocaleDateString('pt-BR');\nconst pFim = dataColetaObj.toLocaleDateString('pt-BR');\n\n// === IDENTIFICAR SPRINT ATUAL vs HISTÓRICA ===\n// Sprints do período = iniciaram dentro dos últimos diasPeriodo*2 dias\nconst limiteSprintRecente = new Date(dataColetaObj);\nlimiteSprintRecente.setDate(limiteSprintRecente.getDate() - (diasPeriodo * 2));\n\nfunction isSprintRecente(card) {\n  if (!card.sprint_info?.periodo?.inicio) return false;\n  const inicioSprint = new Date(card.sprint_info.periodo.inicio);\n  return inicioSprint >= limiteSprintRecente;\n}\n\n// === EQUIPES REAIS (quem trabalhou, não só responsável) ===\nfunction equipesReais(card) {\n  const equipes = new Set();\n  \n  // 1. Equipes dos responsáveis com horas > 0\n  if (card.times && Array.isArray(card.times)) {\n    card.times.forEach(t => {\n      if (t.equipe && t.equipe !== 'Externo' && t.equipe !== 'A definir' && t.equipe !== 'Outros') {\n        // Se tem horas lançadas, é equipe ativa\n        if (t.horas_periodo > 0) {\n          equipes.add(t.equipe);\n        }\n      }\n    });\n  }\n  \n  // 2. Fallback: equipes_envolvidas (se ninguém teve horas)\n  if (equipes.size === 0 && card.equipes_envolvidas) {\n    card.equipes_envolvidas\n      .filter(e => e !== 'Gestão') // Remove gestão do fallback\n      .forEach(e => equipes.add(e));\n  }\n  \n  // 3. Se ainda vazio, usa equipes_envolvidas com gestão\n  if (equipes.size === 0 && card.equipes_envolvidas) {\n    card.equipes_envolvidas.forEach(e => equipes.add(e));\n  }\n  \n  return [...equipes];\n}\n\n// === MÉTRICAS ===\nfunction diasAtraso(dataDesejada, dataRef) {\n  if (!dataDesejada) return null;\n  const deadline = new Date(dataDesejada);\n  const ref = new Date(dataRef);\n  const diff = Math.floor((ref - deadline) / (1000 * 60 * 60 * 24));\n  return diff > 0 ? diff : null;\n}\n\nconst horasEquipe = Object.entries(resumo.horas?.horas_por_equipe || {})\n  .sort((a, b) => b[1] - a[1])\n  .map(([e, h]) => `${e}: ${fh(h)}`)\n  .join(', ');\n\nconst totalReaberturas = todosCards.reduce((s, c) => s + (c.metricas_deteccao?.reaberturas || 0), 0);\nconst totalReprovacoes = todosCards.reduce((s, c) => s + (c.metricas_deteccao?.reprovacoes || 0), 0);\nconst horasEntregasPeriodo = grupos.concluidos.reduce((s, c) => s + (c.tempo_trabalhado_horas || 0), 0);\n\n// Cards com alertas críticos\nconst cardsComAlertasCriticos = new Set();\nconst alertasCriticosDetalhados = [];\ntodosCards.forEach(c => {\n  (c.anomalias || []).forEach(a => {\n    if (a.severidade === 'ALTA' || a.severidade === 'CRITICA') {\n      cardsComAlertasCriticos.add(c.id);\n      alertasCriticosDetalhados.push({\n        id: c.id,\n        titulo: tituloLimpo(c.titulo),\n        msg: a.mensagem,\n        tipo: a.tipo,\n        acao: a.acao\n      });\n    }\n  });\n});\n\n// Deadlines estourados (ativos, não cancelados/concluídos)\nconst deadlines = [];\nemTrabalho.forEach(c => {\n  const atraso = diasAtraso(c.data_desejada, dataColeta);\n  if (atraso) deadlines.push({ id: c.id, titulo: tituloLimpo(c.titulo), dias: atraso });\n});\n\n// Cards com reaberturas (detalhar quais)\nconst cardsComReaberturas = todosCards\n  .filter(c => (c.metricas_deteccao?.reaberturas || 0) > 0)\n  .map(c => ({ id: c.id, titulo: tituloLimpo(c.titulo), reaberturas: c.metricas_deteccao.reaberturas }));\n\n// Cards com reprovações (detalhar quais)\nconst cardsComReprovacoes = todosCards\n  .filter(c => (c.metricas_deteccao?.reprovacoes || 0) > 0)\n  .map(c => ({ id: c.id, titulo: tituloLimpo(c.titulo), reprovacoes: c.metricas_deteccao.reprovacoes }));\n\n// === AGRUPAR POR SPRINT ===\nconst sprintOrdem = sprints.map(s => s.nome);\nfunction sortSprints(keys) {\n  return keys.sort((a, b) => {\n    const ia = sprintOrdem.indexOf(a), ib = sprintOrdem.indexOf(b);\n    if (ia === -1 && ib === -1) return 0;\n    if (ia === -1) return 1;\n    if (ib === -1) return -1;\n    return ia - ib;\n  });\n}\n\n// ============================================\n// MONTAR DADOS ESTRUTURADOS PARA A IA\n// ============================================\n\nlet dados = '';\n\n// --- CONTEXTO ---\ndados += `PROJETO: ${projeto.nome} (ID: ${projeto.id})\\n`;\ndados += `PERÍODO DE ANÁLISE: ${pIni} a ${pFim} (${diasPeriodo} dias)\\n`;\ndados += `DATA DA COLETA: ${dataColetaObj.toLocaleDateString('pt-BR')}\\n\\n`;\n\n// --- NÚMEROS DO PERÍODO ---\ndados += `=== NÚMEROS DO PERÍODO ===\\n`;\ndados += `Total de cards ativos: ${todosCards.length}\\n`;\ndados += `Entregas concluídas: ${grupos.concluidos.length}\\n`;\ndados += `Em testes: ${grupos.em_testes.length}\\n`;\ndados += `Em andamento: ${grupos.em_andamento.length}\\n`;\ndados += `Em sprint (aguardando início): ${grupos.sprint_atual.length}\\n`;\ndados += `Aguardando deploy: ${grupos.aguardando_deploy.length}\\n`;\ndados += `Pendentes: ${grupos.pendentes.length}\\n`;\ndados += `Cancelados: ${grupos.cancelados.length}\\n`;\ndados += `Cards com alertas críticos: ${cardsComAlertasCriticos.size}\\n`;\ndados += `Horas trabalhadas no período: ${fh(resumo.horas?.total_horas_periodo || 0)}\\n`;\ndados += `Distribuição por equipe: ${horasEquipe}\\n`;\ndados += `Pessoas ativas: ${resumo.horas?.total_pessoas_ativas || 0}\\n`;\ndados += `Horas acumuladas nas entregas: ${fh(horasEntregasPeriodo)}\\n`;\ndados += `Reaberturas no período: ${totalReaberturas}\\n`;\ndados += `Reprovações no período: ${totalReprovacoes}\\n\\n`;\n\n// --- ENTREGAS CONCLUÍDAS ---\ndados += `=== ENTREGAS CONCLUÍDAS (${grupos.concluidos.length}) ===\\n`;\ngrupos.concluidos.forEach(c => {\n  const eq = equipesReais(c);\n  const estouro = c.orcado_horas > 0\n    ? Math.round(((c.tempo_trabalhado_horas - c.orcado_horas) / c.orcado_horas) * 100)\n    : null;\n  \n  dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n  dados += `  O que faz: ${resumirDescricao(c.descricao_limpa)}\\n`;\n  dados += `  Equipes: ${eq.length ? eq.join(', ') : 'Não identificada'}\\n`;\n  dados += `  Tempo trabalhado: ${fh(c.tempo_trabalhado_horas)}`;\n  if (c.orcado_horas > 0) {\n    dados += ` (orçado: ${fh(c.orcado_horas)}`;\n    if (estouro !== null && estouro !== 0) {\n      dados += `, ${estouro > 0 ? 'estouro de ' + estouro + '%' : Math.abs(estouro) + '% abaixo'}`;\n    }\n    dados += `)`;\n  }\n  dados += `\\n`;\n  if (c.pontos_totais) dados += `  Complexidade: ${c.pontos_totais} pontos\\n`;\n  dados += `  Concluído em: ${c.data_conclusao || 'N/A'}\\n`;\n  if (c.sprint_identificada) dados += `  Sprint: ${c.sprint_identificada}\\n`;\n  \n  // Trajetória resumida\n  if (c.logs_fase && c.logs_fase.length > 0) {\n    const trajetoria = c.logs_fase.map(l => l.para).join(' → ');\n    dados += `  Trajetória: ${trajetoria}\\n`;\n  }\n  \n  // Anomalias\n  if (c.anomalias && c.anomalias.length > 0) {\n    dados += `  Alertas: ${c.anomalias.map(a => a.mensagem).join('; ')}\\n`;\n  }\n});\ndados += '\\n';\n\n// --- EM TESTES ---\nif (grupos.em_testes.length > 0) {\n  dados += `=== EM TESTES (${grupos.em_testes.length}) ===\\n`;\n  dados += `Observação: cards nesta fase aguardam validação/homologação antes de serem concluídos.\\n`;\n  grupos.em_testes.forEach(c => {\n    const eq = equipesReais(c);\n    const atraso = diasAtraso(c.data_desejada, dataColeta);\n    \n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  O que faz: ${resumirDescricao(c.descricao_limpa, 150)}\\n`;\n    dados += `  Equipes: ${eq.length ? eq.join(', ') : 'Não identificada'}\\n`;\n    dados += `  Tempo trabalhado: ${fh(c.tempo_trabalhado_horas)}`;\n    if (c.orcado_horas > 0) dados += ` (orçado: ${fh(c.orcado_horas)})`;\n    dados += `\\n`;\n    if (c.pontos_totais) dados += `  Complexidade: ${c.pontos_totais} pontos\\n`;\n    if (c.dias_na_fase_atual != null) dados += `  Dias em testes: ${c.dias_na_fase_atual}\\n`;\n    if (atraso) dados += `  ⚠ Deadline estourado há ${atraso} dias\\n`;\n    if (c.sprint_identificada && isSprintRecente(c)) dados += `  Sprint: ${c.sprint_identificada}\\n`;\n    if (!isSprintRecente(c) && c.sprint_identificada) dados += `  Nota: card legado, sprint original era ${c.sprint_identificada}\\n`;\n    \n    if (c.anomalias && c.anomalias.length > 0) {\n      dados += `  Alertas: ${c.anomalias.map(a => `${a.mensagem} → ${a.acao}`).join('; ')}\\n`;\n    }\n  });\n  dados += '\\n';\n}\n\n// --- EM ANDAMENTO ---\nif (grupos.em_andamento.length > 0) {\n  dados += `=== EM ANDAMENTO (${grupos.em_andamento.length}) ===\\n`;\n  grupos.em_andamento.forEach(c => {\n    const eq = equipesReais(c);\n    const atraso = diasAtraso(c.data_desejada, dataColeta);\n    \n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  O que faz: ${resumirDescricao(c.descricao_limpa, 150)}\\n`;\n    dados += `  Equipes: ${eq.length ? eq.join(', ') : 'Não identificada'}\\n`;\n    dados += `  Tempo trabalhado: ${fh(c.tempo_trabalhado_horas)}`;\n    if (c.orcado_horas > 0) dados += ` (orçado: ${fh(c.orcado_horas)})`;\n    dados += `\\n`;\n    if (c.dias_na_fase_atual != null) dados += `  Dias em andamento: ${c.dias_na_fase_atual}\\n`;\n    if (atraso) dados += `  ⚠ Deadline estourado há ${atraso} dias\\n`;\n    if (c.sprint_identificada) dados += `  Sprint: ${c.sprint_identificada}\\n`;\n    \n    if (c.logs_fase && c.logs_fase.length > 0) {\n      const ultimoMov = c.logs_fase[c.logs_fase.length - 1];\n      dados += `  Última movimentação: ${ultimoMov.frase} (${new Date(ultimoMov.data).toLocaleDateString('pt-BR')})\\n`;\n    }\n    \n    if (c.anomalias && c.anomalias.length > 0) {\n      dados += `  Alertas: ${c.anomalias.map(a => a.mensagem).join('; ')}\\n`;\n    }\n  });\n  dados += '\\n';\n}\n\n// --- SPRINT ATUAL (aguardando início) ---\nif (grupos.sprint_atual.length > 0) {\n  dados += `=== NA SPRINT ATUAL - AGUARDANDO INÍCIO (${grupos.sprint_atual.length}) ===\\n`;\n  grupos.sprint_atual.forEach(c => {\n    const eq = equipesReais(c);\n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  O que faz: ${resumirDescricao(c.descricao_limpa, 120)}\\n`;\n    dados += `  Equipes: ${eq.length ? eq.join(', ') : 'Não identificada'}\\n`;\n    if (c.orcado_horas > 0) dados += `  Orçado: ${fh(c.orcado_horas)}\\n`;\n    if (c.pontos_totais) dados += `  Complexidade: ${c.pontos_totais} pontos\\n`;\n  });\n  dados += '\\n';\n}\n\n// --- AGUARDANDO DEPLOY ---\nif (grupos.aguardando_deploy.length > 0) {\n  dados += `=== AGUARDANDO DEPLOY (${grupos.aguardando_deploy.length}) ===\\n`;\n  grupos.aguardando_deploy.forEach(c => {\n    dados += `- Card #${c.id}: \"${tituloLimpo(c.titulo)}\" - ${fh(c.tempo_trabalhado_horas)}\\n`;\n  });\n  dados += '\\n';\n}\n\n// --- PENDENTES ---\nif (grupos.pendentes.length > 0) {\n  dados += `=== PENDENTES (${grupos.pendentes.length}) ===\\n`;\n  grupos.pendentes.forEach(c => {\n    const fase = fn(c.fase_atual_nome);\n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  Fase: ${fase}\\n`;\n    dados += `  O que faz: ${resumirDescricao(c.descricao_limpa, 100)}\\n`;\n    if (c.dias_na_fase_atual != null) dados += `  Dias nesta fase: ${c.dias_na_fase_atual}\\n`;\n  });\n  dados += '\\n';\n}\n\n// --- CANCELADOS ---\nif (grupos.cancelados.length > 0) {\n  dados += `=== CANCELADOS (${grupos.cancelados.length}) ===\\n`;\n  grupos.cancelados.forEach(c => {\n    dados += `\\n- Card #${c.id}: \"${tituloLimpo(c.titulo)}\"\\n`;\n    dados += `  O que fazia: ${resumirDescricao(c.descricao_limpa, 100)}\\n`;\n    if (c.logs_fase && c.logs_fase.length > 0) {\n      const trajetoria = c.logs_fase.map(l => `${l.de} → ${l.para}`).join(', ');\n      dados += `  Trajetória antes do cancelamento: ${trajetoria}\\n`;\n    }\n    if (c.anomalias && c.anomalias.length > 0) {\n      dados += `  Observações: ${c.anomalias.map(a => a.mensagem).join('; ')}\\n`;\n    }\n  });\n  dados += '\\n';\n}\n\n// --- ALERTAS CRÍTICOS ---\nif (alertasCriticosDetalhados.length > 0) {\n  dados += `=== ALERTAS CRÍTICOS (${cardsComAlertasCriticos.size} cards, ${alertasCriticosDetalhados.length} alertas) ===\\n`;\n  \n  // Agrupar por card para dar contexto\n  const alertasPorCard = {};\n  alertasCriticosDetalhados.forEach(a => {\n    if (!alertasPorCard[a.id]) alertasPorCard[a.id] = { titulo: a.titulo, alertas: [] };\n    alertasPorCard[a.id].alertas.push({ msg: a.msg, tipo: a.tipo, acao: a.acao });\n  });\n  \n  for (const [id, info] of Object.entries(alertasPorCard)) {\n    dados += `\\n- Card #${id}: \"${info.titulo}\"\\n`;\n    info.alertas.forEach(a => {\n      dados += `  • ${a.msg}\\n`;\n      dados += `    Ação sugerida: ${a.acao}\\n`;\n    });\n  }\n  dados += '\\n';\n}\n\n// --- RETRABALHO ---\nif (cardsComReaberturas.length > 0 || cardsComReprovacoes.length > 0) {\n  dados += `=== INDICADORES DE RETRABALHO ===\\n`;\n  if (cardsComReaberturas.length > 0) {\n    dados += `Reaberturas:\\n`;\n    cardsComReaberturas.forEach(c => {\n      dados += `- Card #${c.id} \"${c.titulo}\": reaberto ${c.reaberturas}x após conclusão\\n`;\n    });\n  }\n  if (cardsComReprovacoes.length > 0) {\n    dados += `Reprovações em testes:\\n`;\n    cardsComReprovacoes.forEach(c => {\n      dados += `- Card #${c.id} \"${c.titulo}\": reprovado ${c.reprovacoes}x\\n`;\n    });\n  }\n  dados += '\\n';\n}\n\n// --- DEADLINES ---\nif (deadlines.length > 0) {\n  dados += `=== DEADLINES ESTOURADOS (${deadlines.length}) ===\\n`;\n  deadlines\n    .sort((a, b) => b.dias - a.dias)\n    .forEach(d => {\n      dados += `- Card #${d.id} \"${d.titulo}\": ${d.dias} dias de atraso\\n`;\n    });\n  dados += '\\n';\n}\n\n// ============================================\n// PROMPT — IA GERA NARRATIVA A PARTIR DOS DADOS\n// ============================================\n\nconst prompt = `Você é um analista de projetos de software experiente. Sua tarefa é gerar um **acompanhamento semanal** do projeto para envio ao coordenador e ao cliente.\n\n## Instruções\n\nGere um relatório em Markdown com as seguintes seções:\n\n### 1. Resumo Executivo (3-5 frases)\n- Síntese do que aconteceu no período\n- Destaque as entregas mais relevantes com contexto (o que foi entregue e por que importa)\n- Mencione as horas totais do período e a distribuição por equipe\n- Se houver alertas críticos, mencione brevemente\n\n### 2. Entregas Concluídas\n- Para cada entrega, escreva 1-2 frases explicando O QUE foi entregue (não só o título)\n- Inclua o número do card, o tempo trabalhado e as equipes envolvidas\n- Se houve estouro de orçamento ou complexidade alta, mencione como contexto, não como crítica\n- Agrupe por sprint quando fizer sentido\n\n### 3. Em Desenvolvimento\n- Agrupe por status: Em Testes, Em Andamento, Aguardando na Sprint\n- Para cards em testes, destaque há quantos dias aguardam validação\n- Para cards com deadline estourado, sinalize\n- Mencione brevemente o que cada card faz\n- Se houver cards legados (de sprints antigas), agrupe-os separadamente com contexto\n\n### 4. Pendentes e Bloqueios\n- Liste cards pendentes/aguardando cliente\n- Cards cancelados com breve explicação do porquê (se possível inferir dos logs)\n\n### 5. Alertas e Riscos\n- Alertas críticos com ação sugerida\n- Deadlines estourados ordenados por gravidade\n- Indicadores de retrabalho (reaberturas, reprovações) COM CONTEXTO — diga de qual card e o que aconteceu, não só números soltos\n\n### 6. Análise e Recomendações\n- Identifique PADRÕES nos dados (ex: gargalo em testes, concentração de complexidade, etc.)\n- Sugira 2-3 ações concretas baseadas nos dados\n- Destaque o que foi positivo no período\n\n## Regras de Estilo\n- Tom profissional mas acessível — o leitor pode ser um coordenador técnico ou um cliente não-técnico\n- Português do Brasil com acentuação correta\n- Use negrito para destaques importantes\n- NÃO invente dados — use APENAS o que está nos dados abaixo\n- NÃO use emojis\n- Quando citar um card, use o formato: \"nome do card (#ID)\"\n- Diferencie claramente \"horas acumuladas no card\" de \"horas trabalhadas no período\"\n- Se um dado não está disponível, não invente — omita ou diga \"não disponível\"\n\n## Exemplo de Qualidade\n\nExemplo de como narrar entregas (NÃO copie, use como referência de estilo):\n\n\"O card **Melhorias no preenchimento de perguntas (#14412)**, que implementava a funcionalidade de redirecionamento automático para perguntas não respondidas na home do sistema, foi concluído em 06/02 após 41h de trabalho (orçado em 25h). O estouro de 65% no orçamento reflete a complexidade da implementação, que envolveu ajustes em múltiplas telas e regras de progresso. As equipes de Frontend e Backend atuaram nesta entrega.\"\n\n## Dados do Período\n\n${dados}`;\n\n// === LOG ===\nconst promptKB = (prompt.length / 1024).toFixed(1);\nconst tokensEst = Math.ceil(prompt.length / 3.5);\n\nconsole.log('=== montarPromptGroq v11.0 ===');\nconsole.log(`Projeto: ${projeto.nome}`);\nconsole.log(`Prompt: ${promptKB} KB (~${tokensEst} tokens)`);\nconsole.log(`Cards: ${grupos.concluidos.length} concl, ${emTrabalho.length} wip, ${grupos.pendentes.length} pend, ${grupos.cancelados.length} canc = ${somaGrupos} (${somaGrupos === todosCards.length ? 'OK' : 'ERRO'})`);\nconsole.log(`Alertas: ${cardsComAlertasCriticos.size} cards (${alertasCriticosDetalhados.length} anomalias)`);\nconsole.log(`Deadlines: ${deadlines.length} | Reaberturas: ${totalReaberturas} (${cardsComReaberturas.length} cards) | Reprovações: ${totalReprovacoes} (${cardsComReprovacoes.length} cards)`);\nconsole.log(`Horas: entregas=${fh(horasEntregasPeriodo)}, periodo=${fh(resumo.horas?.total_horas_periodo || 0)}`);\nconsole.log(`Descrições incluídas: ${todosCards.filter(c => c.descricao_limpa && c.descricao_limpa.length > 10).length}/${todosCards.length}`);\n\nreturn [{\n  json: {\n    prompt,\n    _meta: {\n      versao: '11.0',\n      projeto: projeto.nome,\n      projeto_id: projeto.id,\n      periodo: `${pIni} a ${pFim}`,\n      total_cards: todosCards.length,\n      concluidos: grupos.concluidos.length,\n      em_testes: grupos.em_testes.length,\n      em_andamento: grupos.em_andamento.length,\n      sprint_atual: grupos.sprint_atual.length,\n      aguardando_deploy: grupos.aguardando_deploy.length,\n      pendentes: grupos.pendentes.length,\n      cancelados: grupos.cancelados.length,\n      cards_com_alertas_criticos: cardsComAlertasCriticos.size,\n      total_anomalias_criticas: alertasCriticosDetalhados.length,\n      deadlines_estourados: deadlines.length,\n      reaberturas: totalReaberturas,\n      reprovacoes: totalReprovacoes,\n      horas_entregas: horasEntregasPeriodo,\n      horas_periodo: resumo.horas?.total_horas_periodo || 0,\n      prompt_kb: parseFloat(promptKB),\n      tokens_estimado: tokensEst,\n      ok: somaGrupos === todosCards.length\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          432
        ],
        "id": "48711d9b-ffe1-4a35-a392-0fbacd8c15a7",
        "name": "montarPromptGroq"
      },
      {
        "parameters": {
          "jsCode": "// Recebe resposta da IA e dados da análise\nconst respostaIA = $input.first().json;\nconst narrativaIA = respostaIA.output || respostaIA.choices?.[0]?.message?.content || respostaIA.text || 'Relatório não gerado';\n\n// Pega dados da análise (do nó anterior via referência)\nconst analise = $('montarPromptGroq').item.json.analise;\nconst projetoInfo = $('montarPromptGroq').item.json.projeto_info;\n\nconsole.log('=== GERANDO HTML DO RELATÓRIO ===');\nconsole.log(`Narrativa da IA: ${narrativaIA.length} caracteres`);\n\n// Formata a data\nconst dataAtual = new Date().toLocaleDateString('pt-BR', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric'\n});\n\n// ============================================\n// FUNÇÃO: Converter Markdown para HTML\n// ============================================\nfunction markdownParaHTML(texto) {\n  if (!texto) return '<p>Relatório não gerado</p>';\n  \n  let html = texto\n    // Headers (ordem importa!)\n    .replace(/^#### (.+)$/gm, '</p><h5 class=\"md-h5\">$1</h5><p>')\n    .replace(/^### (.+)$/gm, '</p><h4 class=\"md-h4\">$1</h4><p>')\n    .replace(/^## (.+)$/gm, '</p><h3 class=\"md-h3\">$1</h3><p>')\n    // Bold\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    // Listas\n    .replace(/^- (.+)$/gm, '<li>$1</li>')\n    // Parágrafos\n    .replace(/\\n\\n/g, '</p><p>')\n    // Quebras simples dentro de parágrafos\n    .replace(/\\n/g, '<br>');\n  \n  // Limpa tags vazias\n  html = html.replace(/<p><\\/p>/g, '');\n  html = html.replace(/<p><h/g, '<h');\n  html = html.replace(/<\\/h([1-6])><\\/p>/g, '</h$1>');\n  \n  return `<p>${html}</p>`;\n}\n\nconst narrativaHTML = markdownParaHTML(narrativaIA);\n\n// Template HTML profissional\nconst htmlRelatorio = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Relatório Semanal - ${projetoInfo.nome}</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 800px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f5f5f5;\n        }\n        .container {\n            background-color: white;\n            padding: 40px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        .header {\n            border-bottom: 3px solid #2563eb;\n            padding-bottom: 20px;\n            margin-bottom: 30px;\n        }\n        .header h1 {\n            color: #1e40af;\n            margin: 0 0 10px 0;\n            font-size: 28px;\n        }\n        .header .meta {\n            color: #64748b;\n            font-size: 14px;\n        }\n        .narrativa {\n            background-color: #f8fafc;\n            padding: 25px;\n            border-left: 4px solid #2563eb;\n            margin: 30px 0;\n            line-height: 1.8;\n        }\n        .narrativa .md-h3 {\n            color: #1e40af;\n            margin: 25px 0 15px 0;\n            font-size: 18px;\n            border-bottom: 1px solid #e2e8f0;\n            padding-bottom: 8px;\n        }\n        .narrativa .md-h4 {\n            color: #374151;\n            margin: 20px 0 10px 0;\n            font-size: 16px;\n        }\n        .narrativa .md-h5 {\n            color: #4b5563;\n            margin: 15px 0 10px 0;\n            font-size: 14px;\n        }\n        .narrativa li {\n            margin: 5px 0;\n            margin-left: 20px;\n        }\n        .narrativa p {\n            margin: 10px 0;\n        }\n        .metricas {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));\n            gap: 15px;\n            margin: 30px 0;\n        }\n        .metrica-card {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            background-color: #667eea; /* Fallback */\n            color: white;\n            padding: 20px;\n            border-radius: 8px;\n            text-align: center;\n        }\n        .metrica-card .valor {\n            font-size: 32px;\n            font-weight: bold;\n            margin: 10px 0;\n        }\n        .metrica-card .label {\n            font-size: 14px;\n            opacity: 0.9;\n        }\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            margin: 20px 0;\n        }\n        th {\n            background-color: #2563eb;\n            color: white;\n            padding: 12px;\n            text-align: left;\n            font-weight: 600;\n        }\n        td {\n            padding: 12px;\n            border-bottom: 1px solid #e2e8f0;\n        }\n        tr:hover {\n            background-color: #f8fafc;\n        }\n        .alerta {\n            background-color: #fef2f2;\n            border-left: 4px solid #ef4444;\n            padding: 12px;\n            margin: 10px 0;\n            border-radius: 4px;\n        }\n        .alerta-warning {\n            background-color: #fef3c7;\n            border-left: 4px solid #f59e0b;\n        }\n        .footer {\n            margin-top: 40px;\n            padding-top: 20px;\n            border-top: 1px solid #e2e8f0;\n            color: #64748b;\n            font-size: 12px;\n            text-align: center;\n        }\n        h3 {\n            color: #1e40af;\n            margin-top: 30px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>📊 Relatório Semanal</h1>\n            <div class=\"meta\">\n                <strong>Projeto:</strong> ${projetoInfo.nome} (ID: ${projetoInfo.id})<br>\n                <strong>Período:</strong> ${$('processarAgruparCards').item.json.periodo_analise.inicio} a ${$('processarAgruparCards').item.json.periodo_analise.fim}<br>\n                <strong>Gerado em:</strong> ${dataAtual}\n            </div>\n        </div>\n\n        <div class=\"metricas\">\n            <div class=\"metrica-card\">\n                <div class=\"label\">Cards Concluídos</div>\n                <div class=\"valor\">${analise.concluidos.total}</div>\n            </div>\n            <div class=\"metrica-card\">\n                <div class=\"label\">Em Andamento</div>\n                <div class=\"valor\">${analise.em_andamento.total}</div>\n            </div>\n            <div class=\"metrica-card\">\n                <div class=\"label\">Em Testes</div>\n                <div class=\"valor\">${analise.em_testes.total}</div>\n            </div>\n            <div class=\"metrica-card\">\n                <div class=\"label\">Horas Trabalhadas</div>\n                <div class=\"valor\">${analise.metricas.total_horas_concluidas}h</div>\n            </div>\n        </div>\n\n        ${analise.em_andamento.com_alerta > 0 ? `\n        <div class=\"alerta\">\n            ⚠️ <strong>Atenção:</strong> ${analise.em_andamento.com_alerta} card(s) em andamento há mais de 14 dias sem progresso.\n        </div>\n        ` : ''}\n\n        ${analise.em_testes.total > 0 ? `\n        <div class=\"alerta alerta-warning\">\n            🧪 <strong>Validação Pendente:</strong> ${analise.em_testes.total} card(s) em testes aguardando validação.\n        </div>\n        ` : ''}\n\n        <div class=\"narrativa\">\n            ${narrativaHTML}\n        </div>\n\n        ${analise.concluidos.total > 0 ? `\n        <h3>📋 Detalhes dos Cards Concluídos</h3>\n        <table>\n            <thead>\n                <tr>\n                    <th>ID</th>\n                    <th>Título</th>\n                    <th>Tempo (h)</th>\n                    <th>Pontos</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${analise.concluidos.cards.map(c => `\n                <tr>\n                    <td>#${c.id}</td>\n                    <td>${c.titulo}</td>\n                    <td>${c.tempo_total_horas}h</td>\n                    <td>${c.pontos || 'N/A'}</td>\n                </tr>\n                `).join('')}\n            </tbody>\n        </table>\n        ` : ''}\n\n        ${analise.em_andamento.total > 0 ? `\n        <h3>🔄 Cards em Andamento</h3>\n        <table>\n            <thead>\n                <tr>\n                    <th>ID</th>\n                    <th>Título</th>\n                    <th>Dias na Fase</th>\n                    <th>Status</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${analise.em_andamento.cards.map(c => `\n                <tr>\n                    <td>#${c.id}</td>\n                    <td>${c.titulo}</td>\n                    <td>${c.dias_na_fase}</td>\n                    <td>${c.alerta ? '⚠️ Alerta' : '✅ Normal'}</td>\n                </tr>\n                `).join('')}\n            </tbody>\n        </table>\n        ` : ''}\n\n        ${analise.em_testes.total > 0 ? `\n        <h3>🧪 Cards em Testes (Aguardando Validação)</h3>\n        <table>\n            <thead>\n                <tr>\n                    <th>ID</th>\n                    <th>Título</th>\n                    <th>Dias Aguardando</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${analise.em_testes.cards.map(c => `\n                <tr>\n                    <td>#${c.id}</td>\n                    <td>${c.titulo}</td>\n                    <td>${c.dias_na_fase || '?'} dias</td>\n                </tr>\n                `).join('')}\n            </tbody>\n        </table>\n        ` : ''}\n\n        <div class=\"footer\">\n            Relatório gerado automaticamente pelo sistema de acompanhamento Neat.<br>\n            Para mais informações, acesse: <a href=\"https://hub.novadata.com.br\">hub.novadata.com.br</a>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\nconsole.log('✅ HTML gerado com sucesso');\n\nreturn [{\n  json: {\n    html: htmlRelatorio,\n    assunto: `Relatório Semanal - ${projetoInfo.nome} - ${dataAtual}`,\n    projeto_nome: projetoInfo.nome,\n    total_concluidos: analise.concluidos.total,\n    total_em_testes: analise.em_testes.total\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          432
        ],
        "id": "7c531f62-2821-4cf6-b63f-701af213efb2",
        "name": "montarHTMLRelatorio"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          576,
          432
        ],
        "id": "545c7196-93bb-49f4-a621-4bc0d5ea247c",
        "name": "executarCadeiaLLM"
      },
      {
        "parameters": {
          "model": "=llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          544,
          656
        ],
        "id": "1c339752-995f-49b8-8144-7025bd6babe5",
        "name": "modeloGroqChat",
        "credentials": {
          "groqApi": {
            "id": "JK7FGhjnebhasPT0",
            "name": "[NEAT]Groq_API_Key"
          }
        }
      },
      {
        "parameters": {
          "content": "# GerarRelatorioIA\n\nProjeto: NEAT\nGatilho: WF — chamado por [NEAT]Services.OrquestrarRelatorios\nSegurança: Nenhuma (execução interna)\nDocs: —\nDescrição: Recebe JSON estruturado com dados do projeto, monta prompt detalhado (v11.0), chama modelo Groq (llama-3.3-70b) via LangChain e gera relatório final em HTML.\n\nDependências: API Groq (credencial no n8n), saída de [NEAT]Db.ColetarDadosProjeto.\n\nA IA apenas redige — todos os cálculos e anomalias já vêm prontos do WF de coleta.",
          "height": 340,
          "width": 520,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "9282fa93-cb98-4107-91ff-1de39cedde58",
        "name": "docWorkflow"
      }
    ],
    "connections": {
      "montarPromptGroq": {
        "main": [
          [
            {
              "node": "executarCadeiaLLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "executarCadeiaLLM": {
        "main": [
          [
            {
              "node": "montarHTMLRelatorio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "modeloGroqChat": {
        "ai_languageModel": [
          [
            {
              "node": "executarCadeiaLLM",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "receberDadosProjeto": {
        "main": [
          [
            {
              "node": "montarPromptGroq",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version 95a5d9e8",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-10T04:14:16.031Z",
        "id": 108,
        "workflowId": "mdJ7GRE5M6S_G_7FX3pOw",
        "versionId": "95a5d9e8-62ed-4a68-9bde-79af7586af32",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}