backups/LOG/LOG_SWF_Cat_seguro_tool__L7nXnTbWIsZrw8n2.json
{
  "updatedAt": "2026-02-20T23:04:39.687Z",
  "createdAt": "2026-02-20T18:49:55.123Z",
  "id": "L7nXnTbWIsZrw8n2",
  "name": "LOG_SWF_Cat_seguro_tool",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "paths",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        0
      ],
      "id": "f4f54c6e-d63f-43e8-bc09-5cde4cbdc387",
      "name": "chamadaChatbot"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nfor (const item of $input.all()) {\n  const paths = item.json.path;\n\n  // 0. Validação de Esquema\n  if (!Array.isArray(paths)) {\n    throw new Error(`Formato inválido. O campo 'path' deve ser um array de strings.`);\n  }\n\n  for (let p of paths) {\n    if (typeof p !== 'string') {\n      throw new Error(`Acesso negado: Um dos caminhos fornecidos não é um texto válido.`);\n    }\n\n    // --- NOVA LÓGICA DE RAIZ VIRTUAL ---\n    // Adiciona a barra inicial se não existir e limpa barras duplas acidentais (ex: //apps)\n    if (!p.startsWith('/')) {\n      p = '/' + p;\n    }\n    p = p.replace(/\\/+/g, '/');\n\n    // 1. Bloqueia \"..\" (Path Traversal)\n    if (p.includes(\"..\")) {\n      throw new Error(`Acesso negado: Tentativa de Path Traversal (..) em ${p}`);\n    }\n\n    // 2. Bloqueia arquivos de ambiente\n    const envPattern = /(^|\\/)\\.?env(\\.|$|\\/)/i;\n    if (envPattern.test(p)) {\n      throw new Error(`Acesso negado: Tentativa de ler arquivo de configuração de ambiente restrito: ${p}`);\n    }\n\n    // 3. Validação rigorosa de caracteres\n    const safePattern = /^[a-zA-Z0-9/ \\-_\\.]+$/;\n    if (!safePattern.test(p)) {\n      throw new Error(`Acesso negado: O caminho contém caracteres perigosos ou não permitidos: ${p}`);\n    }\n\n    // 4. Validação de prefixos e arquivos (Atualizados com a barra virtual)\n    const allowedPrefixes = [\"/apps/\", \"/docs/\", \"/config/\"];\n    const allowedFiles = [\"/README.md\", \"/AGENTS.md\"];\n\n    const hasAllowedPrefix = allowedPrefixes.some(prefix => p.startsWith(prefix));\n    const isAllowedFile = allowedFiles.includes(p);\n\n    if (!hasAllowedPrefix && !isAllowedFile) {\n      throw new Error(`Acesso negado: O caminho '${p}' não está na lista de pastas ou arquivos permitidos.`);\n    }\n\n    // --- PREPARAÇÃO DO OUTPUT ---\n    const cleanJson = { ...item.json };\n    delete cleanJson.path; \n    \n    // Passa o caminho normalizado para o próximo nó\n    cleanJson.safePath = p;\n\n    newItems.push({\n      json: cleanJson\n    });\n  }\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        0
      ],
      "id": "3bacee16-0458-48c2-93df-3fd67b48fee7",
      "name": "garanteRestricoesCat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        0
      ],
      "id": "938e33a3-08da-4f3c-8a93-4b5a3da1e9bb",
      "name": "forSafePath"
    },
    {
      "parameters": {
        "command": "=cat -- \"/data/repos/logbit/agente-analise-neat{{$json.safePath}}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        32,
        80
      ],
      "id": "923b7806-e206-49a0-a0cb-a1fefc57efce",
      "name": "executaCat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "598c68f1-511f-4a40-b913-059e8408e740",
              "name": "file",
              "value": "={{ $('forSafePath').item.json.safePath }}",
              "type": "string"
            },
            {
              "id": "0f355766-a5a4-4db4-94f7-3ea7f1b315cb",
              "name": "content",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        80
      ],
      "id": "cbeaec1f-0c42-4521-9d63-bff2a8fc51b4",
      "name": "preparaResultados"
    }
  ],
  "connections": {
    "chamadaChatbot": {
      "main": [
        [
          {
            "node": "garanteRestricoesCat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "garanteRestricoesCat": {
      "main": [
        [
          {
            "node": "forSafePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "forSafePath": {
      "main": [
        [],
        [
          {
            "node": "executaCat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "executaCat": {
      "main": [
        [
          {
            "node": "preparaResultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preparaResultados": {
      "main": [
        [
          {
            "node": "forSafePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "chamadaChatbot": [
      {
        "json": {
          "path": [
            "/README.md",
            "/apps/analise/models/analise_card.py"
          ]
        }
      }
    ]
  },
  "versionId": "bf817037-45d1-4ef6-9910-de33eb98ef52",
  "activeVersionId": null,
  "versionCounter": 15,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-20T18:49:55.123Z",
      "createdAt": "2026-02-20T18:49:55.123Z",
      "role": "workflow:owner",
      "workflowId": "L7nXnTbWIsZrw8n2",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}