backups/log/logformagenteanalisecardsv2__fqS0tJFDetyXoTl7.json
{
  "updatedAt": "2025-11-21T13:46:19.573Z",
  "createdAt": "2025-11-17T13:40:45.859Z",
  "id": "fqS0tJFDetyXoTl7",
  "name": "LOG_Form_Agente_analise_cards_v2",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('On form submission1').item.json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        864
      ],
      "id": "52b02233-299a-403a-93a7-5973c7c1f596",
      "name": "Send a message",
      "webhookId": "13380e67-7641-4d26-a718-2935fa2f6def",
      "credentials": {
        "gmailOAuth2": {
          "id": "7oUeNgUPlzGsXFJH",
          "name": "GMAIL_ndt"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Form2').item.json['Selecione a fase para análise'] }}",
                    "rightValue": "Backlog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "594ba91d-7bc6-4d2b-bd42-c4e9a648b00d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Backlog"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80e3d3e7-d42b-4c09-a6a9-3292dd9a10a0",
                    "leftValue": "={{ $('Form2').item.json['Selecione a fase para análise'] }}",
                    "rightValue": "Concluído",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Concluído"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1984,
        1248
      ],
      "id": "b8a09dae-8026-4c0f-8de0-160c843f3103",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Requisitos analisados nos cards do Backlog']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1536,
        672
      ],
      "id": "a8372068-a997-4c45-a5f9-8738c8cd2b3a",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Métricas calculadas']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1536,
        1056
      ],
      "id": "38056712-9467-439d-8dec-d0aa278d3d9f",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json['[\\'Requisitos analisados nos cards do Backlog\\']'].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        672
      ],
      "id": "8a4b2717-3fd8-4735-b5eb-348106a5eb76",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        672
      ],
      "id": "93ac7cea-472f-4f4e-971c-6f1ba7041abd",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1088,
        672
      ],
      "id": "3afc850a-9a1b-4ab9-9fdb-2e0e9f2f8323",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        768
      ],
      "id": "9ec9312f-4c34-4d89-8acb-13d38d75fedd",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json[\"['Métricas calculadas']\"].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        1056
      ],
      "id": "8dfa7113-ff83-4245-84d8-0f988eb90360",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        1056
      ],
      "id": "d880b90f-6494-405e-a7cd-28755451b88f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1088,
        1056
      ],
      "id": "93db17c4-9d79-4b86-b51e-ae3d3e336293",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1152
      ],
      "id": "ea4a2d1e-d113-4055-a884-93d44607e20b",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11fd777b-516a-43f2-a80c-d50403e56a91",
              "name": "backlog_reqs",
              "value": "={{ $json.data[0].backlog_reqs }}",
              "type": "object"
            },
            {
              "id": "26bdbda7-24c8-4e37-8767-98bf399a2d2b",
              "name": "backlog_metricas",
              "value": "={{ $json.data[1].backlog_metricas }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        864
      ],
      "id": "ca8060a6-8eda-485e-ab51-b91ad6037337",
      "name": "Edit Fields16"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        864
      ],
      "id": "bdc3e0fd-cf78-433c-97ee-15687aafc1a6",
      "name": "Merge5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        32,
        864
      ],
      "id": "72807f80-3ccf-436e-acb9-d9c2b18d19d1",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Requisitos analisados nos cards do Backlog",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Título presente"
                  },
                  {
                    "option": "Descrição presente"
                  },
                  {
                    "option": "Responsáveis definidos"
                  },
                  {
                    "option": "Tags definidas e descritivas"
                  },
                  {
                    "option": "Estimativa de esforço"
                  },
                  {
                    "option": "Pontos totais do card"
                  },
                  {
                    "option": "Data de criação"
                  },
                  {
                    "option": "Data prevista"
                  },
                  {
                    "option": "Data desejada"
                  },
                  {
                    "option": "Descrição completa (mínimo 20 caracteres e critérios de aceite mencionados)"
                  },
                  {
                    "option": "Vínculo ao projeto"
                  },
                  {
                    "option": "Alertas de idade: card parado > 7 dias no backlog"
                  },
                  {
                    "option": "Alertas de tempo de andamento: card em andamento > 10 horas"
                  },
                  {
                    "option": "Detecção de duplicados (similaridade de títulos > 70%)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Métricas calculadas",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Lead time (desde criação até hoje ou conclusão)"
                  },
                  {
                    "option": "Cycle time (tempo por fase)"
                  },
                  {
                    "option": "Throughput por fase"
                  },
                  {
                    "option": "Tempo médio por fase"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1760,
        864
      ],
      "id": "23f54958-72b3-4cda-b4c3-0fe77d4e3a3c",
      "name": "Form1",
      "webhookId": "46a71225-1915-4d5e-ab03-71f15bdb209d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092ef5a7-df90-45fa-b900-0189c7c59b16",
              "name": "titulo_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "970d17b5-fc01-40b1-b105-ae08de10b17b",
              "name": "descricao_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "49b86cc1-1be8-4b3a-8482-0090c60dc95f",
              "name": "responsaveis_definidos",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ae5d36d2-9825-4a54-aad6-4e70e0c594b3",
              "name": "tags_definidas_e_descritivas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1b3b2a94-ac71-46a7-995c-c356099c49e0",
              "name": "estimativa_de_esforco",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8dede399-c6e8-4832-b7de-c13703626911",
              "name": "pontos_totais_do_card",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "abcb50a5-7d0f-4b12-b384-370ec283e95d",
              "name": "data_de_criacao",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb571a07-46e0-4e21-8c95-0736e5dddec9",
              "name": "data_prevista",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a7b17a62-9f9c-4da4-a3a5-26dd534f71ec",
              "name": "data_desejada",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "358ef9ca-2cc4-4eb6-a4da-8213a814aa80",
              "name": "descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f8f9519c-2423-4a5b-88e0-c84490e6e6f0",
              "name": "vinculo_ao_projeto",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "4c48ab5f-43cd-48d8-9629-ae7309c9d956",
              "name": "alertas_de_idade_card_parado__7_dias_no_backlog",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "7ad33289-38d1-4a3c-8a69-c7a432d0b363",
              "name": "alertas_de_tempo_de_andamento_card_em_andamento__10_horas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b9f033a2-0741-4a9f-b28c-4f722b016ddd",
              "name": "deteccao_de_duplicados_similaridade_de_titulos__70",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        576
      ],
      "id": "271b2dcf-5e82-46cb-a0ba-a9062cb67f60",
      "name": "Edit Fields19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "128b992e-4956-4fb4-9159-d453ff6d8331",
              "name": "backlog_reqs.titulo_presente",
              "value": "={{ $json.titulo_presente }}",
              "type": "boolean"
            },
            {
              "id": "b190c443-524a-47fd-9a2e-c72626745e6e",
              "name": "backlog_reqs.descricao_presente",
              "value": "={{ $json.descricao_presente }}",
              "type": "boolean"
            },
            {
              "id": "8b5e6142-8e57-4ffb-b03c-8adb4e2d7c59",
              "name": "backlog_reqs.responsaveis_definidos",
              "value": "={{ $json.responsaveis_definidos }}",
              "type": "boolean"
            },
            {
              "id": "a2cf067c-b6e2-4851-b00c-48e0099e505b",
              "name": "backlog_reqs.tags_definidas_e_descritivas",
              "value": "={{ $json.tags_definidas_e_descritivas }}",
              "type": "boolean"
            },
            {
              "id": "40c90cf9-4a44-481b-88b1-2c111cd193d0",
              "name": "backlog_reqs.estimativa_de_esforco",
              "value": "={{ $json.estimativa_de_esforco }}",
              "type": "boolean"
            },
            {
              "id": "18b9a954-fdf5-457f-ba8c-968d01597161",
              "name": "backlog_reqs.pontos_totais_do_card",
              "value": "={{ $json.pontos_totais_do_card }}",
              "type": "boolean"
            },
            {
              "id": "a05d0263-cdd3-4349-a340-485ea6f58684",
              "name": "backlog_reqs.data_de_criacao",
              "value": "={{ $json.data_de_criacao }}",
              "type": "boolean"
            },
            {
              "id": "04f1d05c-5ac8-45f6-b373-73bc5b60c6e6",
              "name": "backlog_reqs.data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "boolean"
            },
            {
              "id": "f82dcf22-1f1b-4cff-88b4-ffdb6445d95e",
              "name": "backlog_reqs.data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "boolean"
            },
            {
              "id": "c478c9db-c66e-4a61-a0b0-753191b692e1",
              "name": "backlog_reqs.descricao_completa",
              "value": "={{ $json.descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados }}",
              "type": "boolean"
            },
            {
              "id": "80a004bb-4d2e-4599-bea6-fb083e30bb4a",
              "name": "backlog_reqs.vinculo_ao_projeto",
              "value": "={{ $json.vinculo_ao_projeto }}",
              "type": "boolean"
            },
            {
              "id": "8e2b334e-2cb0-46d5-8507-249c6ed74693",
              "name": "backlog_reqs.alertas_de_idade_do_card",
              "value": "={{ $json.alertas_de_idade_card_parado__7_dias_no_backlog }}",
              "type": "boolean"
            },
            {
              "id": "29640274-f83c-40fd-838d-2e48f3815b8f",
              "name": "backlog_reqs.alertas_de_tempo_de_andamento",
              "value": "={{ $json.alertas_de_tempo_de_andamento_card_em_andamento__10_horas }}",
              "type": "boolean"
            },
            {
              "id": "29e98b9e-8496-46a1-8ca1-a51e43925180",
              "name": "backlog_reqs.deteccao_de_similares",
              "value": "={{ $json.deteccao_de_duplicados_similaridade_de_titulos__70 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        672
      ],
      "id": "6b31a16d-e840-4bbc-adf7-3c0dcba765b8",
      "name": "Edit Fields20"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"lead_time_desde_criacao_ate_hoje_ou_conclusao\": false,\n\"cycle_time_tempo_por_fase\": false,\n\"throughput_por_fase\": false,\n\"tempo_medio_por_fase\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        960
      ],
      "id": "e6b5b7b6-f794-43ba-83f5-516982da594c",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35cc9e46-7bf3-4ff7-a1fb-3c7151fc407b",
              "name": "backlog_metricas.lead_time",
              "value": "={{ $json.lead_time_desde_criacao_ate_hoje_ou_conclusao }}",
              "type": "boolean"
            },
            {
              "id": "e8132cd7-6d31-4b84-8fa2-587d4d26112d",
              "name": "backlog_metricas.cycle_time",
              "value": "={{ $json.cycle_time_tempo_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "82593eb3-2cc8-41de-a7dd-933babc42e70",
              "name": "backlog_metricas.throughput_por_fase",
              "value": "={{ $json.throughput_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "61c8e4f7-da6e-4bf8-938e-b89ea724c095",
              "name": "backlog_metricas.tempo_medio_por_fase",
              "value": "={{ $json.tempo_medio_por_fase }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        1056
      ],
      "id": "27626c92-1fa7-4671-9a45-45ec5be26216",
      "name": "Edit Fields21"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Assistente de Análise de Produtos",
        "formDescription": "Bem vindo(a)!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Selecione o produto desejado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Orbit"
                  },
                  {
                    "option": "Wagtail"
                  },
                  {
                    "option": "Auth"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "OKR do Produto",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx, .xls, .csv, .ods"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "path": "assistente_analise_produto",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -3104,
        1248
      ],
      "id": "ddbe7a49-0fa8-4a18-b249-0860c35d1ad6",
      "name": "On form submission1",
      "webhookId": "aa47faf9-22a4-4266-8f4f-727de16d1e5e",
      "credentials": {
        "httpBasicAuth": {
          "id": "kkloezk5E2NdLflp",
          "name": "Log_Form_teste"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "\"\"\"\nn8n Code (Python) — Map selected product to project ID and names.\n\nReads the form field \"Selecione o produto desejado\" from each input item and\nadds the fields:\n- \"projeto_id\" (int)\n- \"nome\" (str | null)\n- \"nome_completo\" (str | null)\n\nRules (from mensagem_morita.md):\n- Orbit   -> id=487, nome=\"Squad Assessment\", nome_completo=\"Logbit - Squad Assessment\"\n- Wagtail -> id=256, nome=\"Squad Wagtail\",   nome_completo=\"Logbit - Squad Wagtail\"\n- Logfiles -> id=0,   nome=None,               nome_completo=None (desconhecido)\n- Master   -> id=0,   nome=None,               nome_completo=None (desconhecido)\n- Auth     -> id=741, nome=\"MVP Auth 2.0\",    nome_completo=\"Logbit - MVP Auth 2.0\" (usar opção A)\n\nIf the product is not recognized, assign id=0 and names as None.\n\"\"\"\n\n# Mapping normalized to lowercase keys\nPRODUCT_TO_PROJECT = {\n    \"orbit\": {\n        \"id\": 487,\n        \"nome\": \"Squad Assessment\",\n        \"nome_completo\": \"Logbit - Squad Assessment\",\n    },\n    \"wagtail\": {\n        \"id\": 256,\n        \"nome\": \"Squad Wagtail\",\n        \"nome_completo\": \"Logbit - Squad Wagtail\",\n    },\n    \"logfiles\": {\n        \"id\": 0,\n        \"nome\": None,\n        \"nome_completo\": None,\n    },\n    \"master\": {\n        \"id\": 0,\n        \"nome\": None,\n        \"nome_completo\": None,\n    },\n    \"auth\": {\n        \"id\": 741,  # opção A\n        \"nome\": \"MVP Auth 2.0\",\n        \"nome_completo\": \"Logbit - MVP Auth 2.0\",\n    },\n}\n\n\n# Iterate items and set \"projeto_id\"\nfor item in _input.all():\n    # Convert JsProxy to native dict if needed\n    try:\n        data = item.json.to_py()\n    except Exception:\n        data = item.json\n\n    selected = None\n    # Access by exact field label from the form\n    try:\n        selected = data.get(\"Selecione o produto desejado\")\n    except Exception:\n        selected = None\n\n    if isinstance(selected, str):\n        key = selected.strip().lower()\n    else:\n        key = None\n\n    prod = PRODUCT_TO_PROJECT.get(key)\n\n    if prod is None:\n        projeto_id = 0\n        nome = None\n        nome_completo = None\n    else:\n        projeto_id = int(prod.get(\"id\", 0))\n        nome = prod.get(\"nome\")\n        nome_completo = prod.get(\"nome_completo\")\n\n    # Assign new fields back to the item JSON\n    item.json[\"projeto_id\"] = projeto_id\n    item.json[\"nome\"] = nome\n    item.json[\"nome_completo\"] = nome_completo\n\n# Return updated items\nreturn _input.all()\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        1248
      ],
      "id": "9b1f163f-f08a-4832-a77e-42b4dcb1176d",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ $json.fieldsString }}",
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -2432,
        1248
      ],
      "id": "58f01fd9-6338-487b-8bd2-f554fa43c103",
      "name": "Form2",
      "webhookId": "5348d3fa-d0a0-4256-9b33-d5888c70bff5"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "\"\"\"\nGera dinamicamente o JSON de campos para o próximo node Form, com base na\nentrada vinda do form anterior + mapeamento já aplicado no node Python\n(`projeto_id`, `nome`, `nome_completo`).\n\nEntrada esperada (exemplo):\n[\n  {\n    \"Selecione o produto desejado\": \"Wagtail\",\n    \"submittedAt\": \"2025-10-23T11:50:36.173-03:00\",\n    \"formMode\": \"test\",\n    \"projeto_id\": 256,\n    \"nome\": \"Squad Wagtail\",\n    \"nome_completo\": \"Logbit - Squad Wagtail\"\n  }\n]\n\nSaída: item único por entrada, contendo:\n- `fields`: array (objeto) com os campos no formato aceito pelo node Form (defineForm=json)\n- `fieldsString`: string JSON, pronta para colar no node Form\n\nRegras:\n- Se `projeto_id` == 0: exibe aviso (HTML) e checkbox \"Escolher outro produto\".\n- Caso contrário: exibe dropdown \"Selecione o projeto\" com as opções pelo nome.\n  - Quando houver apenas 1 opção, o dropdown contém apenas essa opção (single select).\n\"\"\"\n\nimport json\n\n\ndef to_dict(maybe_proxy):\n    try:\n        return maybe_proxy.to_py()\n    except Exception:\n        return maybe_proxy\n\n\ndef build_fields_from_item(data):\n    projeto_id = data.get(\"projeto_id\")\n    nome = data.get(\"nome\")\n    nome_completo = data.get(\"nome_completo\")\n\n    try:\n        projeto_id_int = int(projeto_id) if projeto_id is not None else 0\n    except Exception:\n        projeto_id_int = 0\n\n    # Caso sem iniciativa associada ao produto\n    if projeto_id_int == 0:\n        return [\n            {\n                \"fieldType\": \"html\",\n                \"elementName\": \"aviso_sem_iniciativas\",\n                \"html\": (\n                    \"<div style=\\\"padding:8px 12px; border:1px solid #f6dcb7; \"\n                    \"background:#fefaf6; color:#e6a23d; border-radius:6px;\\\">\"\n                    \"Ainda não foram associadas iniciativas nesse produto.\"\n                    \"</div>\"\n                ),\n            },\n            {\n                \"fieldLabel\": \"Escolher outro produto\",\n                \"fieldType\": \"checkbox\",\n                \"fieldOptions\": {\n                    \"values\": [\n                        {\"option\": \"Sim\"}\n                    ]\n                },\n            },\n        ]\n\n    # Com iniciativa(s): montar dropdown com os nomes disponíveis\n    option_label = None\n    if isinstance(nome, str) and nome.strip():\n        option_label = nome.strip()\n    elif isinstance(nome_completo, str) and nome_completo.strip():\n        # fallback amigável\n        option_label = nome_completo.strip()\n    else:\n        option_label = f\"Projeto {projeto_id_int}\"\n\n    fields = [\n        {\n            \"fieldLabel\": \"Selecione a iniciativa\",\n            \"fieldType\": \"dropdown\",\n            \"fieldOptions\": {\n                \"values\": [\n                    {\"option\": option_label}\n                ]\n            },\n            \"multiselect\": False,\n            \"requiredField\": True,\n        }\n    ]\n\n    # Dropdown adicional: Concluídos vs Backlog\n    fields.append(\n        {\n            \"fieldLabel\": \"Selecione a fase para análise\",\n            \"fieldType\": \"dropdown\",\n            \"fieldOptions\": {\n                \"values\": [\n                    {\"option\": \"Backlog\"},\n                    {\"option\": \"Concluídos\"}\n                ]\n            },\n            \"multiselect\": False,\n            \"requiredField\": True,\n        }\n    )\n\n    return fields\n\n\nout_items = []\nfor item in _input.all():\n    data = to_dict(getattr(item, \"json\", {}))\n    if not isinstance(data, dict):\n        data = {}\n\n    fields = build_fields_from_item(data)\n    payload = {\n        \"fields\": fields,\n        # Conveniência: string pronta para copiar e colar no node Form\n        \"fieldsString\": json.dumps(fields, ensure_ascii=False, indent=2),\n    }\n    out_items.append({\"json\": payload})\n\nreturn out_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        1248
      ],
      "id": "eee8552e-bebd-4333-9241-2ffbd1b57c37",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38ec1335-0930-483b-851d-ecd642b7eb6a",
              "name": "fase",
              "value": "={{ $json['Selecione a fase para análise']==\"Backlog\"?1:6 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        1248
      ],
      "id": "72d9c863-5a1d-44e5-beaf-833185427cb6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0KkK1Qgl3hvhrtvf",
          "mode": "list",
          "cachedResultUrl": "/workflow/0KkK1Qgl3hvhrtvf",
          "cachedResultName": "LOG_Workf_Agente_analise_cards_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto": "={{ $('Code in Python (Beta)').item.json.projeto_id }}",
            "fase": "={{ $('Edit Fields1').item.json.fase }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projeto",
              "displayName": "projeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        864
      ],
      "id": "74a5d7ff-309c-4f8d-83ee-c7ee2d505bd7",
      "name": "Call 'LOG_Workf_Agente_analise_cards_v1'"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Requisitos analisados nos cards Concluídos']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1536,
        1440
      ],
      "id": "7110bc35-21a9-47f8-8454-288e54219315",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Métricas calculadas']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1536,
        1824
      ],
      "id": "d6e71ecc-b023-4bfe-982c-fefe9bba8e00",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json['[\\'Requisitos analisados nos cards Concluídos\\']'].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        1440
      ],
      "id": "495633e7-af1c-44e3-a954-f5fd7c3c4f0d",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        1440
      ],
      "id": "80fbad23-036a-4897-acb7-5fa5f387a9bf",
      "name": "Merge4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1088,
        1440
      ],
      "id": "81ed31ed-c139-4581-a369-f9101f3f50a5",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1536
      ],
      "id": "0246e59b-cc83-4b23-a515-006514065601",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json[\"['Métricas calculadas']\"].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        1824
      ],
      "id": "a0db2a64-1391-40c0-a619-cd6841dd3768",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        1824
      ],
      "id": "7d7a9960-8ee1-4444-83a4-82ca23aa02d5",
      "name": "Merge7"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1088,
        1824
      ],
      "id": "5dd122ee-6210-4481-978d-cdfeeed1964c",
      "name": "Aggregate8"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1920
      ],
      "id": "455f9c0c-9587-4ca6-ae5f-eac13fbd04bd",
      "name": "Edit Fields14"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Requisitos analisados nos cards Concluídos",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Título presente"
                  },
                  {
                    "option": "Descrição presente"
                  },
                  {
                    "option": "Responsáveis definidos"
                  },
                  {
                    "option": "Tags definidas e descritivas"
                  },
                  {
                    "option": "Estimativa de esforço"
                  },
                  {
                    "option": "Pontos totais do card"
                  },
                  {
                    "option": "Data de criação"
                  },
                  {
                    "option": "Data prevista"
                  },
                  {
                    "option": "Data desejada"
                  },
                  {
                    "option": "Descrição completa (mínimo 20 caracteres e critérios de aceite mencionados)"
                  },
                  {
                    "option": "Vínculo ao projeto"
                  },
                  {
                    "option": "Alertas de idade: card parado > 7 dias no backlog"
                  },
                  {
                    "option": "Alertas de tempo de andamento: card em andamento > 10 horas"
                  },
                  {
                    "option": "Detecção de duplicados (similaridade de títulos > 70%)"
                  },
                  {
                    "option": "Avaliação de qualidade via IA"
                  },
                  {
                    "option": "Documentação final via IA"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Métricas calculadas",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Lead time (desde criação até hoje ou conclusão)"
                  },
                  {
                    "option": "Cycle time (tempo por fase)"
                  },
                  {
                    "option": "Throughput por fase"
                  },
                  {
                    "option": "Tempo médio por fase"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1760,
        1632
      ],
      "id": "82acb736-803e-4321-8ecf-d898ca8b34e8",
      "name": "Form",
      "webhookId": "54d04634-7f44-4bd9-9202-e71883faa5fc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092ef5a7-df90-45fa-b900-0189c7c59b16",
              "name": "titulo_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "970d17b5-fc01-40b1-b105-ae08de10b17b",
              "name": "descricao_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "49b86cc1-1be8-4b3a-8482-0090c60dc95f",
              "name": "responsaveis_definidos",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ae5d36d2-9825-4a54-aad6-4e70e0c594b3",
              "name": "tags_definidas_e_descritivas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1b3b2a94-ac71-46a7-995c-c356099c49e0",
              "name": "estimativa_de_esforco",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8dede399-c6e8-4832-b7de-c13703626911",
              "name": "pontos_totais_do_card",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "abcb50a5-7d0f-4b12-b384-370ec283e95d",
              "name": "data_de_criacao",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb571a07-46e0-4e21-8c95-0736e5dddec9",
              "name": "data_prevista",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a7b17a62-9f9c-4da4-a3a5-26dd534f71ec",
              "name": "data_desejada",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "358ef9ca-2cc4-4eb6-a4da-8213a814aa80",
              "name": "descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f8f9519c-2423-4a5b-88e0-c84490e6e6f0",
              "name": "vinculo_ao_projeto",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "4c48ab5f-43cd-48d8-9629-ae7309c9d956",
              "name": "alertas_de_idade_card_parado__7_dias_no_backlog",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "7ad33289-38d1-4a3c-8a69-c7a432d0b363",
              "name": "alertas_de_tempo_de_andamento_card_em_andamento__10_horas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b9f033a2-0741-4a9f-b28c-4f722b016ddd",
              "name": "deteccao_de_duplicados_similaridade_de_titulos__70",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1a0d5a4a-6a7a-4f6c-b0a5-9a2f6b4c0001",
              "name": "avaliacao_de_qualidade_via_ia",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1a0d5a4a-6a7a-4f6c-b0a5-9a2f6b4c0002",
              "name": "documentacao_final_via_ia",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1344
      ],
      "id": "7eac89ad-8924-4bd0-9d89-0f2959611b2f",
      "name": "Edit Fields26"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "128b992e-4956-4fb4-9159-d453ff6d8331",
              "name": "concluidos_reqs.titulo_presente",
              "value": "={{ $json.titulo_presente }}",
              "type": "boolean"
            },
            {
              "id": "b190c443-524a-47fd-9a2e-c72626745e6e",
              "name": "concluidos_reqs.descricao_presente",
              "value": "={{ $json.descricao_presente }}",
              "type": "boolean"
            },
            {
              "id": "8b5e6142-8e57-4ffb-b03c-8adb4e2d7c59",
              "name": "concluidos_reqs.responsaveis_definidos",
              "value": "={{ $json.responsaveis_definidos }}",
              "type": "boolean"
            },
            {
              "id": "a2cf067c-b6e2-4851-b00c-48e0099e505b",
              "name": "concluidos_reqs.tags_definidas_e_descritivas",
              "value": "={{ $json.tags_definidas_e_descritivas }}",
              "type": "boolean"
            },
            {
              "id": "40c90cf9-4a44-481b-88b1-2c111cd193d0",
              "name": "concluidos_reqs.estimativa_de_esforco",
              "value": "={{ $json.estimativa_de_esforco }}",
              "type": "boolean"
            },
            {
              "id": "18b9a954-fdf5-457f-ba8c-968d01597161",
              "name": "concluidos_reqs.pontos_totais_do_card",
              "value": "={{ $json.pontos_totais_do_card }}",
              "type": "boolean"
            },
            {
              "id": "a05d0263-cdd3-4349-a340-485ea6f58684",
              "name": "concluidos_reqs.data_de_criacao",
              "value": "={{ $json.data_de_criacao }}",
              "type": "boolean"
            },
            {
              "id": "04f1d05c-5ac8-45f6-b373-73bc5b60c6e6",
              "name": "concluidos_reqs.data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "boolean"
            },
            {
              "id": "f82dcf22-1f1b-4cff-88b4-ffdb6445d95e",
              "name": "concluidos_reqs.data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "boolean"
            },
            {
              "id": "c478c9db-c66e-4a61-a0b0-753191b692e1",
              "name": "concluidos_reqs.descricao_completa",
              "value": "={{ $json.descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados }}",
              "type": "boolean"
            },
            {
              "id": "80a004bb-4d2e-4599-bea6-fb083e30bb4a",
              "name": "concluidos_reqs.vinculo_ao_projeto",
              "value": "={{ $json.vinculo_ao_projeto }}",
              "type": "boolean"
            },
            {
              "id": "8e2b334e-2cb0-46d5-8507-249c6ed74693",
              "name": "concluidos_reqs.alertas_de_idade_do_card",
              "value": "={{ $json.alertas_de_idade_card_parado__7_dias_no_backlog }}",
              "type": "boolean"
            },
            {
              "id": "29640274-f83c-40fd-838d-2e48f3815b8f",
              "name": "concluidos_reqs.alertas_de_tempo_de_andamento",
              "value": "={{ $json.alertas_de_tempo_de_andamento_card_em_andamento__10_horas }}",
              "type": "boolean"
            },
            {
              "id": "29e98b9e-8496-46a1-8ca1-a51e43925180",
              "name": "concluidos_reqs.deteccao_de_similares",
              "value": "={{ $json.deteccao_de_duplicados_similaridade_de_titulos__70 }}",
              "type": "boolean"
            },
            {
              "id": "8f7a1d23-6a22-4a6b-9d5b-9d2a7b000003",
              "name": "concluidos_reqs.avaliacao_de_qualidade_via_ia",
              "value": "={{ $json.avaliacao_de_qualidade_via_ia }}",
              "type": "boolean"
            },
            {
              "id": "8f7a1d23-6a22-4a6b-9d5b-9d2a7b000004",
              "name": "concluidos_reqs.documentacao_final_via_ia",
              "value": "={{ $json.documentacao_final_via_ia }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        1440
      ],
      "id": "8a68822e-d25b-48e8-bcbd-47132c580cdb",
      "name": "Edit Fields27"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"lead_time_desde_criacao_ate_hoje_ou_conclusao\": false,\n\"cycle_time_tempo_por_fase\": false,\n\"throughput_por_fase\": false,\n\"tempo_medio_por_fase\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1728
      ],
      "id": "5738c084-4d2d-43f1-b814-78ffb13c4d14",
      "name": "Edit Fields28"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35cc9e46-7bf3-4ff7-a1fb-3c7151fc407b",
              "name": "concluidos_metricas.lead_time",
              "value": "={{ $json.lead_time_desde_criacao_ate_hoje_ou_conclusao }}",
              "type": "boolean"
            },
            {
              "id": "e8132cd7-6d31-4b84-8fa2-587d4d26112d",
              "name": "concluidos_metricas.cycle_time",
              "value": "={{ $json.cycle_time_tempo_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "82593eb3-2cc8-41de-a7dd-933babc42e70",
              "name": "concluidos_metricas.throughput_por_fase",
              "value": "={{ $json.throughput_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "61c8e4f7-da6e-4bf8-938e-b89ea724c095",
              "name": "concluidos_metricas.tempo_medio_por_fase",
              "value": "={{ $json.tempo_medio_por_fase }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        1824
      ],
      "id": "8dce3a50-3636-40f2-aef6-f5423a161e1c",
      "name": "Edit Fields29"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        1632
      ],
      "id": "a3296f0c-5453-4f94-bf35-3591be3bf253",
      "name": "Merge8"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission1').item.json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        1632
      ],
      "id": "6e183dcd-3f24-4a61-91e0-09b9c657c94e",
      "name": "Send a message2",
      "webhookId": "0e1969f8-f058-461c-b09c-67dc3c338200",
      "credentials": {
        "gmailOAuth2": {
          "id": "7oUeNgUPlzGsXFJH",
          "name": "GMAIL_ndt"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11fd777b-516a-43f2-a80c-d50403e56a91",
              "name": "concluido_reqs",
              "value": "={{ $json.data[0].concluidos_reqs }}",
              "type": "object"
            },
            {
              "id": "26bdbda7-24c8-4e37-8767-98bf399a2d2b",
              "name": "concluido_metricas",
              "value": "={{ $json.data[1].concluidos_metricas }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        1632
      ],
      "id": "ab4d3022-a8e3-4678-aee5-900c13504c66",
      "name": "Edit Fields30"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        32,
        1632
      ],
      "id": "afd8a85c-d665-46e1-ab0f-e71bf344ae2f",
      "name": "Aggregate9"
    },
    {
      "parameters": {
        "jsCode": "// Code (JavaScript) – e-mail dinâmico com análises preditivas\n// ---------- 1) Entrada ----------\nconst g = $json.data?.resultado || {};\nconst cards = Array.isArray(g.cards) ? g.cards : [];\n\nconst selReq = ($json.backlog_reqs && typeof $json.backlog_reqs === \"object\") ? $json.backlog_reqs : {};\nconst selMet = ($json.backlog_metricas && typeof $json.backlog_metricas === \"object\") ? $json.backlog_metricas : {};\n\n// ---------- 2) Helpers ----------\nconst fmt = (n, d = 2) => (n == null || isNaN(n)) ? \"-\" :\n  Number(n).toLocaleString(\"pt-BR\", { minimumFractionDigits: d, maximumFractionDigits: d });\n\nconst toNum = (v) => (v == null ? null : Number(v));\n\nconst parseHHMMSSHours = (s) => {\n  if (!s || typeof s !== \"string\") return 0;\n  const [hh, mm, ss] = s.split(\":\").map(Number);\n  if ([hh, mm, ss].some(x => !Number.isFinite(x))) return 0;\n  return hh + (mm / 60) + (ss / 3600);\n};\n\nconst toPct = (raw, decimals = 0) => {\n  if (!Number.isFinite(raw)) return \"-\";\n  const pct = raw <= 1 ? raw * 100 : (raw <= 10 ? raw * 10 : raw);\n  return `${pct.toFixed(decimals)}%`;\n};\n\n// ---------- 3) Derivados por card ----------\nfunction deriveReqFlags(card) {\n  const av = card.alertas_validacao || {};\n  const aged =\n    (Array.isArray(card.alertas) && card.alertas.some(a => a?.tipo === \"backlog_estagnado\" && Number(a?.dias) > 7)) ||\n    av.card_antigo_sem_priorizacao === true;\n\n  const horasAndamento = parseHHMMSSHours(card.tempo_decorrido);\n  const longRun = (card.em_andamento === true && horasAndamento > 10);\n\n  return {\n    titulo_presente: !av.sem_titulo,\n    descricao_presente: !av.sem_descricao,\n    responsaveis_definidos: !av.sem_responsaveis,\n    tags_definidas_e_descritivas: !av.sem_tags && !av.tags_pouco_descritivas,\n    estimativa_de_esforco: !av.sem_estimativa_esforco,\n    pontos_totais_do_card: !av.sem_pontos,\n    data_de_criacao: !av.sem_data_criacao,\n    data_prevista: !av.sem_data_prevista && !av.data_prevista_antes_criacao,\n    data_desejada: !av.sem_data_desejada,\n    descricao_completa: !av.descricao_curta && !av.sem_criterios_aceite,\n    vinculo_ao_projeto: !av.sem_vinculo_projeto,\n    alertas_de_idade_do_card: aged,\n    alertas_de_tempo_de_andamento: longRun,\n  };\n}\n\n// ---------- 4) Duplicados ----------\nconst dupPairs = [];\n(g.alertas_gerais || []).forEach(entry => {\n  const arr = entry?.similaridade_titulo;\n  if (Array.isArray(arr)) arr.forEach(p => dupPairs.push(p));\n});\n\nconst dupCardIds = new Set();\ndupPairs.forEach(p => {\n  const cs = Array.isArray(p.cards) ? p.cards : [];\n  cs.forEach(pair => {\n    const id = Array.isArray(pair) ? pair[0] : null;\n    if (id != null) dupCardIds.add(id);\n  });\n});\n\nconst possiveisDuplicados = dupPairs.map(p => {\n  const [a, b] = p.cards || [];\n  const sA = Array.isArray(a) ? `#${a[0]} – ${a[1]}` : String(a ?? \"\");\n  const sB = Array.isArray(b) ? `#${b[0]} – ${b[1]}` : String(b ?? \"\");\n  const simTxt = toPct(Number(p.grau_de_similaridade), 0);\n  return `${sA} ↔ ${sB} (sim: ${simTxt})`;\n});\n\n// ---------- 5) Seleção dinâmica ----------\nconst ALL_REQ = [\n  \"titulo_presente\", \"descricao_presente\", \"responsaveis_definidos\",\n  \"tags_definidas_e_descritivas\", \"estimativa_de_esforco\", \"pontos_totais_do_card\",\n  \"data_de_criacao\", \"data_prevista\", \"data_desejada\", \"descricao_completa\",\n  \"vinculo_ao_projeto\", \"alertas_de_idade_do_card\", \"alertas_de_tempo_de_andamento\",\n  \"deteccao_de_similares\"\n];\n\nconst hasReqConfig = Object.keys(selReq).length > 0;\nconst selectedReq = hasReqConfig ? Object.keys(selReq).filter(k => selReq[k]) : [];\nconst REQS_TO_SHOW = hasReqConfig ? selectedReq : ALL_REQ;\nconst COUNT_DUP_MODE = \"cards\";\n\nconst PRETTY = {\n  titulo_presente: \"Título presente\",\n  descricao_presente: \"Descrição presente\",\n  responsaveis_definidos: \"Responsáveis definidos\",\n  tags_definidas_e_descritivas: \"Tags definidas e descritivas\",\n  estimativa_de_esforco: \"Estimativa de esforço (orçado)\",\n  pontos_totais_do_card: \"Pontos totais do card\",\n  data_de_criacao: \"Data de criação\",\n  data_prevista: \"Data prevista\",\n  data_desejada: \"Data desejada\",\n  descricao_completa: \"Descrição completa (≥20 + critérios de aceite)\",\n  vinculo_ao_projeto: \"Vínculo ao projeto\",\n  alertas_de_idade_do_card: \"Alertas: parado > 7 dias (Backlog)\",\n  alertas_de_tempo_de_andamento: \"Alertas: em andamento > 10 horas\",\n  deteccao_de_similares: COUNT_DUP_MODE === \"pairs\" ? \"Detecção de duplicados (pares)\" : \"Detecção de duplicados (cards impactados)\"\n};\n\n// ---------- 6) Estatísticas ----------\nconst derived = cards.map(deriveReqFlags);\nconst total = cards.length;\n\nfunction reqPendentesCount(key) {\n  if (key === \"deteccao_de_similares\") {\n    return COUNT_DUP_MODE === \"pairs\" ? dupPairs.length : dupCardIds.size;\n  }\n  const isAlertKey = (key === \"alertas_de_idade_do_card\" || key === \"alertas_de_tempo_de_andamento\");\n  return derived.filter(d => {\n    const v = d[key];\n    if (v == null) return true;\n    return isAlertKey ? v === true : v === false;\n  }).length;\n}\n\nconst reqStats = REQS_TO_SHOW.map(key => {\n  const pendentes = reqPendentesCount(key);\n  const ok = Math.max(0, total - pendentes);\n  return { key, label: PRETTY[key] || key, ok, pendentes, total };\n});\n\n// ---------- 7) Métricas ----------\nconst leadVals = cards.map(c => toNum(c.lead_time)).filter(v => Number.isFinite(v));\nconst leadAvg = leadVals.length ? (leadVals.reduce((a, b) => a + b, 0) / leadVals.length) : null;\n\nconst TOP_N = 5;\nconst topLead = (selMet.lead_time !== false) && leadVals.length\n  ? [...cards].filter(c => Number.isFinite(c.lead_time))\n    .sort((a, b) => b.lead_time - a.lead_time)\n    .slice(0, TOP_N)\n  : [];\n\nconst tempoMedioBacklog = g.metrica_qualidade?.tempo_medio_por_fase_dia ?? null;\nconst throughputBacklog = g.metrica_qualidade?.throughput ?? null;\n\n// ---------- 7.5) ANÁLISES PREDITIVAS (REESCRITO) ----------\n// Novo caminho de acesso: g.cards[].analise_estrategica_ia.analise_preditiva\n\nconst allPredicoes = [];\n\n// 1. Itera sobre todos os cards para extrair as predições detalhadas\nfor (const card of cards) {\n    // Acessa o caminho de dados para a predição do card atual\n    const analisePred = card.analise_estrategica_ia?.analise_preditiva;\n    \n    if (analisePred && Array.isArray(analisePred.predicoes_detalhadas)) {\n        // Se houver predições, mapeia e as adiciona à lista principal\n        analisePred.predicoes_detalhadas.forEach(p => {\n            allPredicoes.push({\n                cardId: card.id, // Adiciona o ID do card para referência\n                cardTitulo: card.titulo || \"(sem título)\",\n                predicao: p // O objeto de predição em si\n            });\n        });\n    }\n}\n\n// 2. Mapeia, Filtra e Classifica a lista única de predições\nconst top10Risco = allPredicoes\n  .map(item => {\n    const p = item.predicao;\n    // Converte a porcentagem de risco para número\n    const riscoStr = String(p.risco_estouro_prazo_porcentagem || \"0%\").replace(\"%\", \"\");\n    return {\n      cardId: item.cardId,\n      cardTitulo: item.cardTitulo,\n      contexto: p.contexto_fonte || \"Contexto não especificado\",\n      riscoPercent: parseFloat(riscoStr) || 0,\n      prazoSugerido: p.prazo_sugerido_horas || \"-\",\n      qualidadeRisco: p.qualidade_risco_medio || \"N/A\", // Campo que será filtrado\n      ajusteEstimativa: p.ajuste_estimativa_sugerido || \"-\",\n      justificativa: p.justificativa_da_fonte || \"Sem justificativa\"\n    };\n  })\n  .filter(p => p.qualidadeRisco === \"Alto risco de retrabalho\")\n  .sort((a, b) => b.riscoPercent - a.riscoPercent) // Classifica (ordem decrescente de Risco Percentual)\n  .slice(0, 10); // Limita aos 10 primeiros\n\n// ---------- 8) Subject ----------\nconst projetoNome = g.projeto?.nome || \"Projeto\";\nconst fase = g.fase || \"Backlog\";\nconst totalCards = Number.isFinite(g.total_cards) ? g.total_cards : cards.length;\nconst subject = `${projetoNome} – análise dinâmica (${totalCards} cards)`;\n\n// ---------- 9) HTML ----------\nconst styleTable = \"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.35;color:#111;\";\nlet html = `\\\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"${styleTable}\">\n<tr><td style=\"padding:16px 0;\">\n  <h1 style=\"margin:0 0 8px 0;font-size:18px;\">${projetoNome} — Análise de Cards</h1>\n  <div style=\"color:#555;\">${new Date().toLocaleDateString(\"pt-BR\")} • Fase: <strong>${fase}</strong></div>\n</td></tr>\n\n<tr><td style=\"padding:12px;background:#f8f9fa;border:1px solid #eee;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">`;\n\nconst addRow = (label, valueHtml) => {\n  html += `\n<tr>\n  <td style=\"padding:6px;border-bottom:1px solid #eee;\">${label}</td>\n  <td style=\"padding:6px;text-align:right;border-bottom:1px solid #eee;\">${valueHtml}</td>\n</tr>`;\n};\n\naddRow(\"Total de cards\", `<strong>${fmt(totalCards, 0)}</strong>`);\n\nif ((String(fase || \"\")).toLowerCase() !== \"backlog\" || totalCards !== total) {\n  addRow(\"No Backlog\", `<strong>${fmt(total, 0)}</strong>`);\n}\n\nif (selMet.tempo_medio_por_fase !== false && tempoMedioBacklog != null) {\n  addRow(\"Tempo médio no Backlog (dias)\", `<strong>${fmt(tempoMedioBacklog, 2)}</strong>`);\n}\nif (selMet.lead_time !== false && leadAvg != null) {\n  addRow(\"Lead time médio (cards selecionados)\", `<strong>${fmt(leadAvg, 2)}</strong> <span style=\"color:#666\">dias</span>`);\n}\nif (selMet.throughput_por_fase !== false && throughputBacklog != null) {\n  addRow(\"Throughput\", `<strong>${fmt(throughputBacklog, 0)}</strong>`);\n}\n\nhtml += `</table></td></tr>`;\n\n// Requisitos\nif (reqStats.length) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Qualidade de cadastro</h2>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #eee;\">\n    <tr style=\"background:#fafafa;\">\n      <td style=\"padding:6px;border-bottom:1px solid #eee;\">Requisito</td>\n      <td style=\"padding:6px;border-bottom:1px solid #eee;text-align:right;\">OK</td>\n      <td style=\"padding:6px;border-bottom:1px solid #eee;text-align:right;\">Pendências</td>\n    </tr>`;\n\n  for (const r of reqStats) {\n    html += `\n    <tr>\n      <td style=\"padding:6px;border-top:1px solid #eee;\">${r.label}</td>\n      <td style=\"padding:6px;border-top:1px solid #eee;text-align:right;color:#0a8;\"><strong>${fmt(r.ok, 0)}</strong></td>\n      <td style=\"padding:6px;border-top:1px solid #eee;text-align:right;color:#b00;\"><strong>${fmt(r.pendentes, 0)}</strong></td>\n    </tr>`;\n  }\n\n  html += `\n  </table>\n</td></tr>`;\n}\n\n// Top lead_time\nif (selMet.lead_time !== false && topLead.length) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Prioridades por lead time</h2>\n  <ol style=\"margin:0 0 0 18px;padding:0;\">`;\n  for (const c of topLead) {\n    html += `<li style=\"margin:4px 0;\">\n      <strong>#${c.id}</strong> – ${c.titulo || \"(sem título)\"} \n      <span style=\"color:#666\">(${fmt(c.lead_time, 0)} dias)</span>\n    </li>`;\n  }\n  html += `</ol>\n</td></tr>`;\n}\n\n// Alertas do Backlog\nconst showTempoAnd = ($json.backlog_reqs?.alertas_de_tempo_de_andamento ?? true);\nconst showDups = ($json.backlog_reqs?.deteccao_de_similares ?? true);\n\nconst longRunCards = cards\n  .map(c => ({ c, horas: parseHHMMSSHours(c.tempo_decorrido) }))\n  .filter(x => x.c.em_andamento === true && x.horas > 10)\n  .sort((a, b) => b.horas - a.horas)\n  .map(x => ({ id: x.c.id, titulo: x.c.titulo || \"(sem título)\", horas: x.horas }));\n\nconst qtdTempoAnd = longRunCards.length;\n\nconst temAlertasSection =\n  (showTempoAnd && qtdTempoAnd > 0) ||\n  (showDups && possiveisDuplicados.length > 0);\n\nif (temAlertasSection) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Alertas do Backlog</h2>`;\n  if (showTempoAnd && qtdTempoAnd > 0) {\n    html += `<div style=\"margin:6px 0;\"><strong>Em andamento há muito tempo:</strong> ${fmt(qtdTempoAnd, 0)} ocorrência(s).</div>`;\n    const MAX_LIST = 10;\n    html += `<ul style=\"margin:4px 0 0 18px;padding:0;\">${\n      longRunCards.slice(0, MAX_LIST).map(c =>\n        `<li><strong>#${c.id}</strong> – ${c.titulo} <span style=\"color:#666\">(${fmt(c.horas, 1)} h)</span></li>`\n      ).join(\"\")\n    }</ul>`;\n  }\n  if (showDups && possiveisDuplicados.length) {\n    html += `<div style=\"margin:6px 0;\"><strong>Possíveis duplicados:</strong></div>\n             <ul style=\"margin:4px 0 0 18px;padding:0;\">\n               ${possiveisDuplicados.map(s => `<li>${String(s)}</li>`).join(\"\")}\n             </ul>`;\n  }\n  html += `</td></tr>`;\n}\n\n// SEÇÃO: DETALHES DE RISCO \nif (top10Risco.length > 0) {\n   html += `\n<tr><td style=\"padding-top:16px;\">\n    <h2 style=\"margin:0 0 8px 0;font-size:16px;\">⚠️ Top 10 Alto Risco de Retrabalho</h2>\n    <div style=\"margin:6px 0 8px 0;color:#111;font-size:15px;\">\n      Estes cards apresentam o maior risco de estouro de prazo na categoria \"Alto risco de retrabalho\".\n    </div>\n     <ol style=\"margin:0 0 0 18px;padding:0 padding-left:25px;\">`; \n    \n   // Itera sobre os 10 cards de maior risco\n   for (const p of top10Risco) {\n     // Define a cor com base na porcentagem de risco\n     const corRisco = p.riscoPercent >= 80 ? \"#c00\" : p.riscoPercent >= 50 ? \"#e67700\" : \"#666\";\n\n  html += `<li style=\"margin:6px 0;\">\n    <strong>#${p.cardId}</strong> – ${p.cardTitulo} \n    <span style=\"color:${corRisco}; font-weight: bold;\">(${p.riscoPercent.toFixed(0)}% Risco)</span>\n    <br><span style=\"font-size:14px;color:#111;margin-left:10px;\">Prazo: ${p.prazoSugerido} | Ajuste: ${p.ajusteEstimativa} | Contexto: ${p.contexto}</span>\n    <br><span style=\"font-size:14px;color:#111;margin-left:10px;\">Justificativa: ${p.justificativa}</span>\n  </li>`;\n}\nhtml += `</ol>\n</td></tr>`;\n}\n\n// Rodapé\nhtml += `\n<tr><td style=\"padding-top:16px;color:#666;font-size:12px;\">\n  Relatório gerado automaticamente conforme seleção do formulário.\n</td></tr>\n</table>`;\n\n// ---------- 10) Saída ----------\nreturn [{ json: { subject, html } }]; "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1632
      ],
      "id": "f153f1f0-3681-4d9a-81f5-5f218ad0016a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0KkK1Qgl3hvhrtvf",
          "mode": "list",
          "cachedResultUrl": "/workflow/0KkK1Qgl3hvhrtvf",
          "cachedResultName": "LOG_Workf_Agente_analise_cards_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto": "={{ $('Code in Python (Beta)').item.json.projeto_id }}",
            "fase": "={{ $('Edit Fields1').item.json.fase }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projeto",
              "displayName": "projeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        1632
      ],
      "id": "482d3400-517a-46bf-b6b1-cf64860163b0",
      "name": "Call 'LOG_Workf_Agente_analise_cards_v1'1"
    },
    {
      "parameters": {
        "jsCode": "// Code (JavaScript) – e-mail dinâmico com análises preditivas\n// ---------- 1) Entrada ----------\nconst g = $json.data?.resultado || {};\nconst cards = Array.isArray(g.cards) ? g.cards : [];\n\nconst selReq = ($json.backlog_reqs && typeof $json.backlog_reqs === \"object\") ? $json.backlog_reqs : {};\nconst selMet = ($json.backlog_metricas && typeof $json.backlog_metricas === \"object\") ? $json.backlog_metricas : {};\n\n// ---------- 2) Helpers ----------\nconst fmt = (n, d = 2) => (n == null || isNaN(n)) ? \"-\" :\n  Number(n).toLocaleString(\"pt-BR\", { minimumFractionDigits: d, maximumFractionDigits: d });\n\nconst toNum = (v) => (v == null ? null : Number(v));\n\nconst parseHHMMSSHours = (s) => {\n  if (!s || typeof s !== \"string\") return 0;\n  const [hh, mm, ss] = s.split(\":\").map(Number);\n  if ([hh, mm, ss].some(x => !Number.isFinite(x))) return 0;\n  return hh + (mm / 60) + (ss / 3600);\n};\n\nconst toPct = (raw, decimals = 0) => {\n  if (!Number.isFinite(raw)) return \"-\";\n  const pct = raw <= 1 ? raw * 100 : (raw <= 10 ? raw * 10 : raw);\n  return `${pct.toFixed(decimals)}%`;\n};\n\n// ---------- 3) Derivados por card ----------\nfunction deriveReqFlags(card) {\n  const av = card.alertas_validacao || {};\n  const aged =\n    (Array.isArray(card.alertas) && card.alertas.some(a => a?.tipo === \"backlog_estagnado\" && Number(a?.dias) > 7)) ||\n    av.card_antigo_sem_priorizacao === true;\n\n  const horasAndamento = parseHHMMSSHours(card.tempo_decorrido);\n  const longRun = (card.em_andamento === true && horasAndamento > 10);\n\n  return {\n    titulo_presente: !av.sem_titulo,\n    descricao_presente: !av.sem_descricao,\n    responsaveis_definidos: !av.sem_responsaveis,\n    tags_definidas_e_descritivas: !av.sem_tags && !av.tags_pouco_descritivas,\n    estimativa_de_esforco: !av.sem_estimativa_esforco,\n    pontos_totais_do_card: !av.sem_pontos,\n    data_de_criacao: !av.sem_data_criacao,\n    data_prevista: !av.sem_data_prevista && !av.data_prevista_antes_criacao,\n    data_desejada: !av.sem_data_desejada,\n    descricao_completa: !av.descricao_curta && !av.sem_criterios_aceite,\n    vinculo_ao_projeto: !av.sem_vinculo_projeto,\n    alertas_de_idade_do_card: aged,\n    alertas_de_tempo_de_andamento: longRun,\n  };\n}\n\n// ---------- 4) Duplicados ----------\nconst dupPairs = [];\n(g.alertas_gerais || []).forEach(entry => {\n  const arr = entry?.similaridade_titulo;\n  if (Array.isArray(arr)) arr.forEach(p => dupPairs.push(p));\n});\n\nconst dupCardIds = new Set();\ndupPairs.forEach(p => {\n  const cs = Array.isArray(p.cards) ? p.cards : [];\n  cs.forEach(pair => {\n    const id = Array.isArray(pair) ? pair[0] : null;\n    if (id != null) dupCardIds.add(id);\n  });\n});\n\nconst possiveisDuplicados = dupPairs.map(p => {\n  const [a, b] = p.cards || [];\n  const sA = Array.isArray(a) ? `#${a[0]} – ${a[1]}` : String(a ?? \"\");\n  const sB = Array.isArray(b) ? `#${b[0]} – ${b[1]}` : String(b ?? \"\");\n  const simTxt = toPct(Number(p.grau_de_similaridade), 0);\n  return `${sA} ↔ ${sB} (sim: ${simTxt})`;\n});\n\n// ---------- 5) Seleção dinâmica ----------\nconst ALL_REQ = [\n  \"titulo_presente\", \"descricao_presente\", \"responsaveis_definidos\",\n  \"tags_definidas_e_descritivas\", \"estimativa_de_esforco\", \"pontos_totais_do_card\",\n  \"data_de_criacao\", \"data_prevista\", \"data_desejada\", \"descricao_completa\",\n  \"vinculo_ao_projeto\", \"alertas_de_idade_do_card\", \"alertas_de_tempo_de_andamento\",\n  \"deteccao_de_similares\"\n];\n\nconst hasReqConfig = Object.keys(selReq).length > 0;\nconst selectedReq = hasReqConfig ? Object.keys(selReq).filter(k => selReq[k]) : [];\nconst REQS_TO_SHOW = hasReqConfig ? selectedReq : ALL_REQ;\nconst COUNT_DUP_MODE = \"cards\";\n\nconst PRETTY = {\n  titulo_presente: \"Título presente\",\n  descricao_presente: \"Descrição presente\",\n  responsaveis_definidos: \"Responsáveis definidos\",\n  tags_definidas_e_descritivas: \"Tags definidas e descritivas\",\n  estimativa_de_esforco: \"Estimativa de esforço (orçado)\",\n  pontos_totais_do_card: \"Pontos totais do card\",\n  data_de_criacao: \"Data de criação\",\n  data_prevista: \"Data prevista\",\n  data_desejada: \"Data desejada\",\n  descricao_completa: \"Descrição completa (≥20 + critérios de aceite)\",\n  vinculo_ao_projeto: \"Vínculo ao projeto\",\n  alertas_de_idade_do_card: \"Alertas: parado > 7 dias (Backlog)\",\n  alertas_de_tempo_de_andamento: \"Alertas: em andamento > 10 horas\",\n  deteccao_de_similares: COUNT_DUP_MODE === \"pairs\" ? \"Detecção de duplicados (pares)\" : \"Detecção de duplicados (cards impactados)\"\n};\n\n// ---------- 6) Estatísticas ----------\nconst derived = cards.map(deriveReqFlags);\nconst total = cards.length;\n\nfunction reqPendentesCount(key) {\n  if (key === \"deteccao_de_similares\") {\n    return COUNT_DUP_MODE === \"pairs\" ? dupPairs.length : dupCardIds.size;\n  }\n  const isAlertKey = (key === \"alertas_de_idade_do_card\" || key === \"alertas_de_tempo_de_andamento\");\n  return derived.filter(d => {\n    const v = d[key];\n    if (v == null) return true;\n    return isAlertKey ? v === true : v === false;\n  }).length;\n}\n\nconst reqStats = REQS_TO_SHOW.map(key => {\n  const pendentes = reqPendentesCount(key);\n  const ok = Math.max(0, total - pendentes);\n  return { key, label: PRETTY[key] || key, ok, pendentes, total };\n});\n\n// ---------- 7) Métricas ----------\nconst leadVals = cards.map(c => toNum(c.lead_time)).filter(v => Number.isFinite(v));\nconst leadAvg = leadVals.length ? (leadVals.reduce((a, b) => a + b, 0) / leadVals.length) : null;\n\nconst TOP_N = 5;\nconst topLead = (selMet.lead_time !== false) && leadVals.length\n  ? [...cards].filter(c => Number.isFinite(c.lead_time))\n    .sort((a, b) => b.lead_time - a.lead_time)\n    .slice(0, TOP_N)\n  : [];\n\nconst tempoMedioBacklog = g.metrica_qualidade?.tempo_medio_por_fase_dia ?? null;\nconst throughputBacklog = g.metrica_qualidade?.throughput ?? null;\n\n// ---------- 7.5) ANÁLISES PREDITIVAS (REESCRITO) ----------\n// Novo caminho de acesso: g.cards[].analise_estrategica_ia.analise_preditiva\n\nconst allPredicoes = [];\n\n// 1. Itera sobre todos os cards para extrair as predições detalhadas\nfor (const card of cards) {\n    // Acessa o caminho de dados para a predição do card atual\n    const analisePred = card.analise_estrategica_ia?.analise_preditiva;\n    \n    if (analisePred && Array.isArray(analisePred.predicoes_detalhadas)) {\n        // Se houver predições, mapeia e as adiciona à lista principal\n        analisePred.predicoes_detalhadas.forEach(p => {\n            allPredicoes.push({\n                cardId: card.id, // Adiciona o ID do card para referência\n                cardTitulo: card.titulo || \"(sem título)\",\n                predicao: p // O objeto de predição em si\n            });\n        });\n    }\n}\n\n// 2. Mapeia, Filtra e Classifica a lista única de predições\nconst top10Risco = allPredicoes\n  .map(item => {\n    const p = item.predicao;\n    // Converte a porcentagem de risco para número\n    const riscoStr = String(p.risco_estouro_prazo_porcentagem || \"0%\").replace(\"%\", \"\");\n    return {\n      cardId: item.cardId,\n      cardTitulo: item.cardTitulo,\n      contexto: p.contexto_fonte || \"Contexto não especificado\",\n      riscoPercent: parseFloat(riscoStr) || 0,\n      prazoSugerido: p.prazo_sugerido_horas || \"-\",\n      qualidadeRisco: p.qualidade_risco_medio || \"N/A\", // Campo que será filtrado\n      ajusteEstimativa: p.ajuste_estimativa_sugerido || \"-\",\n      justificativa: p.justificativa_da_fonte || \"Sem justificativa\"\n    };\n  })\n  .filter(p => p.qualidadeRisco === \"Alto risco de retrabalho\")\n  .sort((a, b) => b.riscoPercent - a.riscoPercent) // Classifica (ordem decrescente de Risco Percentual)\n  .slice(0, 10); // Limita aos 10 primeiros\n\n// ---------- 8) Subject ----------\nconst projetoNome = g.projeto?.nome || \"Projeto\";\nconst fase = g.fase || \"Backlog\";\nconst totalCards = Number.isFinite(g.total_cards) ? g.total_cards : cards.length;\nconst subject = `${projetoNome} – análise dinâmica (${totalCards} cards)`;\n\n// ---------- 9) HTML ----------\nconst styleTable = \"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.35;color:#111;\";\nlet html = `\\\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"${styleTable}\">\n<tr><td style=\"padding:16px 0;\">\n  <h1 style=\"margin:0 0 8px 0;font-size:18px;\">${projetoNome} — Análise de Cards</h1>\n  <div style=\"color:#555;\">${new Date().toLocaleDateString(\"pt-BR\")} • Fase: <strong>${fase}</strong></div>\n</td></tr>\n\n<tr><td style=\"padding:12px;background:#f8f9fa;border:1px solid #eee;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">`;\n\nconst addRow = (label, valueHtml) => {\n  html += `\n<tr>\n  <td style=\"padding:6px;border-bottom:1px solid #eee;\">${label}</td>\n  <td style=\"padding:6px;text-align:right;border-bottom:1px solid #eee;\">${valueHtml}</td>\n</tr>`;\n};\n\naddRow(\"Total de cards\", `<strong>${fmt(totalCards, 0)}</strong>`);\n\nif ((String(fase || \"\")).toLowerCase() !== \"backlog\" || totalCards !== total) {\n  addRow(\"No Backlog\", `<strong>${fmt(total, 0)}</strong>`);\n}\n\nif (selMet.tempo_medio_por_fase !== false && tempoMedioBacklog != null) {\n  addRow(\"Tempo médio no Backlog (dias)\", `<strong>${fmt(tempoMedioBacklog, 2)}</strong>`);\n}\nif (selMet.lead_time !== false && leadAvg != null) {\n  addRow(\"Lead time médio (cards selecionados)\", `<strong>${fmt(leadAvg, 2)}</strong> <span style=\"color:#666\">dias</span>`);\n}\nif (selMet.throughput_por_fase !== false && throughputBacklog != null) {\n  addRow(\"Throughput\", `<strong>${fmt(throughputBacklog, 0)}</strong>`);\n}\n\nhtml += `</table></td></tr>`;\n\n// Requisitos\nif (reqStats.length) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Qualidade de cadastro</h2>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #eee;\">\n    <tr style=\"background:#fafafa;\">\n      <td style=\"padding:6px;border-bottom:1px solid #eee;\">Requisito</td>\n      <td style=\"padding:6px;border-bottom:1px solid #eee;text-align:right;\">OK</td>\n      <td style=\"padding:6px;border-bottom:1px solid #eee;text-align:right;\">Pendências</td>\n    </tr>`;\n\n  for (const r of reqStats) {\n    html += `\n    <tr>\n      <td style=\"padding:6px;border-top:1px solid #eee;\">${r.label}</td>\n      <td style=\"padding:6px;border-top:1px solid #eee;text-align:right;color:#0a8;\"><strong>${fmt(r.ok, 0)}</strong></td>\n      <td style=\"padding:6px;border-top:1px solid #eee;text-align:right;color:#b00;\"><strong>${fmt(r.pendentes, 0)}</strong></td>\n    </tr>`;\n  }\n\n  html += `\n  </table>\n</td></tr>`;\n}\n\n// Top lead_time\nif (selMet.lead_time !== false && topLead.length) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Prioridades por lead time</h2>\n  <ol style=\"margin:0 0 0 18px;padding:0;\">`;\n  for (const c of topLead) {\n    html += `<li style=\"margin:4px 0;\">\n      <strong>#${c.id}</strong> – ${c.titulo || \"(sem título)\"} \n      <span style=\"color:#666\">(${fmt(c.lead_time, 0)} dias)</span>\n    </li>`;\n  }\n  html += `</ol>\n</td></tr>`;\n}\n\n// Alertas do Backlog\nconst showTempoAnd = ($json.backlog_reqs?.alertas_de_tempo_de_andamento ?? true);\nconst showDups = ($json.backlog_reqs?.deteccao_de_similares ?? true);\n\nconst longRunCards = cards\n  .map(c => ({ c, horas: parseHHMMSSHours(c.tempo_decorrido) }))\n  .filter(x => x.c.em_andamento === true && x.horas > 10)\n  .sort((a, b) => b.horas - a.horas)\n  .map(x => ({ id: x.c.id, titulo: x.c.titulo || \"(sem título)\", horas: x.horas }));\n\nconst qtdTempoAnd = longRunCards.length;\n\nconst temAlertasSection =\n  (showTempoAnd && qtdTempoAnd > 0) ||\n  (showDups && possiveisDuplicados.length > 0);\n\nif (temAlertasSection) {\n  html += `\n<tr><td style=\"padding-top:16px;\">\n  <h2 style=\"margin:0 0 8px 0;font-size:16px;\">Alertas do Backlog</h2>`;\n  if (showTempoAnd && qtdTempoAnd > 0) {\n    html += `<div style=\"margin:6px 0;\"><strong>Em andamento há muito tempo:</strong> ${fmt(qtdTempoAnd, 0)} ocorrência(s).</div>`;\n    const MAX_LIST = 10;\n    html += `<ul style=\"margin:4px 0 0 18px;padding:0;\">${\n      longRunCards.slice(0, MAX_LIST).map(c =>\n        `<li><strong>#${c.id}</strong> – ${c.titulo} <span style=\"color:#666\">(${fmt(c.horas, 1)} h)</span></li>`\n      ).join(\"\")\n    }</ul>`;\n  }\n  if (showDups && possiveisDuplicados.length) {\n    html += `<div style=\"margin:6px 0;\"><strong>Possíveis duplicados:</strong></div>\n             <ul style=\"margin:4px 0 0 18px;padding:0;\">\n               ${possiveisDuplicados.map(s => `<li>${String(s)}</li>`).join(\"\")}\n             </ul>`;\n  }\n  html += `</td></tr>`;\n}\n\n// SEÇÃO: DETALHES DE RISCO \nif (top10Risco.length > 0) {\n   html += `\n<tr><td style=\"padding-top:16px;\">\n    <h2 style=\"margin:0 0 8px 0;font-size:16px;\">⚠️ Top 10 Alto Risco de Retrabalho</h2>\n    <div style=\"margin:6px 0 8px 0;color:#111;font-size:15px;\">\n      Estes cards apresentam o maior risco de estouro de prazo na categoria \"Alto risco de retrabalho\".\n    </div>\n     <ol style=\"margin:0 0 0 18px;padding:0 padding-left:25px;\">`; \n    \n   // Itera sobre os 10 cards de maior risco\n   for (const p of top10Risco) {\n     // Define a cor com base na porcentagem de risco\n     const corRisco = p.riscoPercent >= 80 ? \"#c00\" : p.riscoPercent >= 50 ? \"#e67700\" : \"#666\";\n\n  html += `<li style=\"margin:6px 0;\">\n    <strong>#${p.cardId}</strong> – ${p.cardTitulo} \n    <span style=\"color:${corRisco}; font-weight: bold;\">(${p.riscoPercent.toFixed(0)}% Risco)</span>\n    <br><span style=\"font-size:14px;color:#111;margin-left:10px;\">Prazo: ${p.prazoSugerido} | Ajuste: ${p.ajusteEstimativa} | Contexto: ${p.contexto}</span>\n    <br><span style=\"font-size:14px;color:#111;margin-left:10px;\">Justificativa: ${p.justificativa}</span>\n  </li>`;\n}\nhtml += `</ol>\n</td></tr>`;\n}\n\n// Rodapé\nhtml += `\n<tr><td style=\"padding-top:16px;color:#666;font-size:12px;\">\n  Relatório gerado automaticamente conforme seleção do formulário.\n</td></tr>\n</table>`;\n\n// ---------- 10) Saída ----------\nreturn [{ json: { subject, html } }]; "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        864
      ],
      "id": "fe13b21e-b38f-4e65-9fcd-9ed193399539",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d4f49a1-dad2-46f5-9864-8d36a7343244",
              "leftValue": "={{ $json['OKR do Produto'] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2880,
        1008
      ],
      "id": "b086b922-85cf-4962-80b1-b8ed9fc2cd66",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/logbit/agente-healthy-check/base/okr.{{ $('On form submission1').item.binary.OKR_do_Produto.fileExtension }}",
        "dataPropertyName": "={{ $('On form submission1').item.binary.OKR_do_Produto }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2544,
        944
      ],
      "id": "6fd4d649-4df8-47b8-b219-b44dad7777d4",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d4f49a1-dad2-46f5-9864-8d36a7343244",
              "leftValue": "={{ $json['OKR do Produto'] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2800,
        1712
      ],
      "id": "5b45716c-94ce-469b-ab0a-1c8f01b0b8e8",
      "name": "If"
    },
    {
      "parameters": {
        "command": "=rm /data/repos/logbit/agente-healthy-check/base/okr.{{ $('On form submission1').item.binary.OKR_do_Produto.fileExtension }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2528,
        1664
      ],
      "id": "23decd06-8612-4ffa-a1ae-07463676340c",
      "name": "Execute Command"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Call 'LOG_Workf_Agente_analise_cards_v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields19": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields20": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields21": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'LOG_Workf_Agente_analise_cards_v1'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Edit Fields27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Aggregate8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Edit Fields29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate8": {
      "main": [
        [
          {
            "node": "Edit Fields14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields14": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields26": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields28": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields27": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields29": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields30": {
      "main": [
        [
          {
            "node": "Call 'LOG_Workf_Agente_analise_cards_v1'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate9": {
      "main": [
        [
          {
            "node": "Edit Fields30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'LOG_Workf_Agente_analise_cards_v1'1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Aggregate9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Form1": [
      {
        "json": {
          "Requisitos analisados nos cards do Backlog": [
            "Título presente"
          ],
          "Métricas calculadas": [
            "Tempo médio por fase"
          ],
          "submittedAt": "2025-10-29T15:26:19.915-03:00",
          "formMode": "test"
        }
      }
    ],
    "Form2": [
      {
        "json": {
          "Selecione a iniciativa": "Squad Assessment",
          "Selecione a fase para análise": "Backlog",
          "submittedAt": "2025-10-29T15:26:13.883-03:00",
          "formMode": "test"
        }
      }
    ]
  },
  "versionId": "c2cd7996-1e34-432a-aeed-b0373b35b416",
  "activeVersionId": null,
  "versionCounter": 108,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-17T13:40:45.859Z",
      "createdAt": "2025-11-17T13:40:45.859Z",
      "role": "workflow:owner",
      "workflowId": "fqS0tJFDetyXoTl7",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}