backups/log/logmessageagentechatbotconsultabancov2-copy__5fRUZDS2V3sw8p55.json
{
  "updatedAt": "2025-10-29T14:31:16.603Z",
  "createdAt": "2025-10-29T14:31:07.572Z",
  "id": "5fRUZDS2V3sw8p55",
  "name": "LOG_Message_Agente_chatbot_consulta_banco_v2 copy",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "description": "Gera HTML com iframe do Power BI a partir de um link",
        "jsCode": "return `<!DOCTYPE html><html lang=\"pt-br\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Dashboard Power BI</title><style>body{margin:0;padding:0;overflow:hidden;background-color:#fff;}iframe{border:none;width:100%;height:800px;}</style></head><body><iframe src=\"${$json.query}\" allowFullScreen=\"true\"></iframe></body></html>`;",
        "specifyInputSchema": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1600,
        224
      ],
      "id": "e7b1d32c-9af8-463c-b39b-4244738e409b",
      "name": "gerar_html_powerbi"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.body.message }}",
        "options": {
          "systemMessage": "=# System Prompt - Assistente PostgreSQL\n\nVocê é um assistente de dados PostgreSQL. Você deve consultar o banco antes de responder qualquer pergunta sobre dados.\n\n## FERRAMENTAS DISPONÍVEIS\n1. consultar_banco_labs: Executa queries SQL\n2. listar_tabelas_banco: Lista schema completo\n3. gerar_html_powerbi: Gera HTML com um iframe do Power BI\n\n\n## REGRAS PARA DASHBOARDS\n- Se o usuário disser algo como \"mostrar dashboards disponíveis\", \"listar dashboards\", \"ver todos os dashboards\": use abrir_listagem_dashboards.\n- Se disser algo como \"abrir dashboard X\", \"ver dashboard 7\": use abrir_dashboard_powerbi com id = X.\n- Não gere HTML manualmente, use sempre as ferramentas.\n- A resposta final deve ser o conteúdo retornado pela ferramenta."
        }
      },
      "id": "951f422c-c30b-4b63-9356-4835306212e2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2592,
        -64
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "98714efb-783f-4c30-b106-2726f8e05845",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2800,
        416
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "JOZpLMsgA7BLAO6D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$fromAI('Query','SELECT query SQL completa para executar no banco de dados','string')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -2016,
        416
      ],
      "id": "636c8cd5-576f-4717-b1ab-df3035c5a816",
      "name": "consultar_banco_labs",
      "credentials": {
        "postgres": {
          "id": "8jfEsb8k358usGVL",
          "name": "banco logbit labs"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_name,column_name,data_type FROM information_schema.columns WHERE table_schema='public' ORDER BY table_name,ordinal_position;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -1744,
        320
      ],
      "id": "d59dce40-df77-4d27-99f4-1f1336a0d16b",
      "name": "listar_tabelas_banco",
      "credentials": {
        "postgres": {
          "id": "8jfEsb8k358usGVL",
          "name": "banco logbit labs"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5a86b877-3eff-421e-937b-9eef8179af36",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2992,
        -64
      ],
      "id": "c5ce8831-d47c-4eec-a9d7-6490cb55a001",
      "name": "Webhook",
      "webhookId": "5a86b877-3eff-421e-937b-9eef8179af36"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b96eb3d1-acf0-4039-a450-b45feb0f5a8c",
              "leftValue": "={{ $('Webhook').item.json.body.body.message }}",
              "rightValue": "mostre os dasboards disponiveis",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2032,
        -96
      ],
      "id": "dac3fcf4-fb4a-4af4-9d0a-69e4960dbc00",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92895aa2-500a-46f7-bd70-90b6a2474698",
              "leftValue": "={{ $('Webhook').item.json.body.body.message }}",
              "rightValue": "=mostre o dasboard 7\n",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        16
      ],
      "id": "a4389cd3-e269-4a34-b6af-42189f4507b1",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "https://n8n-ndt.novadata.dev/webhook/listar-dashboards",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1088,
        -176
      ],
      "id": "613ec3d6-e837-49a2-b369-dbd3e24e33c3",
      "name": "listar dashboards"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{`https://n8n-ndt.novadata.dev/webhook/powerbi-dashboard?id=7`}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -560,
        0
      ],
      "id": "3e69d761-d9a4-410e-952d-9e65898eb136",
      "name": "dashboard 7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65eba051-d630-4a70-a143-64c20621a2ca",
              "leftValue": "={{ $('Webhook').item.json.body.body.message }}",
              "rightValue": "mostre o dasboard 6",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        272
      ],
      "id": "c2bc6f5c-8b4f-470e-97fd-6c2caaacd361",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{`https://n8n-ndt.novadata.dev/webhook/powerbi-dashboard?id=6`}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -192,
        256
      ],
      "id": "eba85fdd-59d2-4dfd-b930-5b3cd7fb31ff",
      "name": "dasboard 6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88d8be66-0abf-44ba-ab05-93033e6087d6",
              "leftValue": "={{ $('Webhook').item.json.body.body.message }}",
              "rightValue": "mostre o dasboard 8",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        496
      ],
      "id": "8a75a1f1-ca0d-442b-870c-0170809b41cb",
      "name": "If3"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{`https://n8n-ndt.novadata.dev/webhook/powerbi-dashboard?id=8`}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        304,
        480
      ],
      "id": "9d494ffb-92f5-48fd-8279-87f534efe6a5",
      "name": "dashboard 8"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar_banco_labs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "listar_tabelas_banco": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gerar_html_powerbi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "listar dashboards",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "dashboard 7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "dasboard 6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "dashboard 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "465e9727-cd31-484c-9c19-8856a05c115d",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2025-10-29T14:31:07.572Z",
      "createdAt": "2025-10-29T14:31:07.572Z",
      "role": "workflow:owner",
      "workflowId": "5fRUZDS2V3sw8p55",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}