backups/log/logwfpegacardsporfasev1__t02dcEd6wjwA9RsZ.json
{
  "updatedAt": "2026-01-27T20:41:24.320Z",
  "createdAt": "2026-01-27T20:34:23.503Z",
  "id": "t02dcEd6wjwA9RsZ",
  "name": "LOG_WF__PegaCardsPorFase_v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projeto",
              "type": "number"
            },
            {
              "name": "fase",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1840,
        432
      ],
      "id": "3e0e3d35-4240-4d73-8461-3bdcd4f18a53",
      "name": "recebeChamada"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NjnKt0iFshkTHpkY",
          "mode": "list",
          "cachedResultUrl": "/workflow/NjnKt0iFshkTHpkY",
          "cachedResultName": "LOG_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.novadata.com.br",
            "loginPath": "/login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1168,
        432
      ],
      "id": "7bc411f0-92eb-4f8b-bb42-8abb8e8052f8",
      "name": "pegaSessaoNeat"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "uuid"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1616,
        432
      ],
      "id": "ce0b12e2-892b-4d04-9d6c-9edb5c4e9611",
      "name": "criaUiid"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"versao_schema\": \"2.0\",\n  \"gerado_em\": {{ $now.toUTC().format(\"yyyy-MM-dd'T'HH:mm:ss'Z'\") }}\n  \"fonte\": \" N8N\",\n  \"uuid\": {{$('criaUiid').item.json.uuid}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        432
      ],
      "id": "225ca3f7-46a2-40d7-83bf-1c15ec58478c",
      "name": "geraMetadados"
    },
    {
      "parameters": {
        "url": "=https://hub.novadata.com.br/api/fase/{{ $('recebeChamada').item.json.fase }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "=/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $('pegaSessaoNeat').item.json.csrfFieldName }}={{ $('pegaSessaoNeat').item.json.csrfCookie }}; sessionid={{ $('pegaSessaoNeat').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.next == null }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        432
      ],
      "id": "5324b224-679a-476e-9df8-99a3977b3e59",
      "name": "pegaInfoFase"
    },
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/chamado/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "projeto__id",
              "value": "={{ $('recebeChamada').item.json.projeto }}"
            },
            {
              "name": "fase__id",
              "value": "={{ $('recebeChamada').item.json.fase }}"
            },
            {
              "name": "com_arquivados",
              "value": "={{ $('recebeChamada').item.json.fase==6?\"True\":\"False\" }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "=/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $('pegaSessaoNeat').item.json.csrfFieldName }}={{ $('pegaSessaoNeat').item.json.csrfCookie }}; sessionid={{ $('pegaSessaoNeat').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.next == null }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        432
      ],
      "id": "70f16454-73ea-466b-bb93-d7d3c54dd169",
      "name": "pegaCardsFase"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24685201-d369-483b-828e-b96ed1f1dc9f",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        432
      ],
      "id": "eac0f948-3622-4af6-8257-d8874a65dcc1",
      "name": "temCard?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -272,
        336
      ],
      "id": "91aa6a5d-ed4b-408a-a908-4d143ebd3f05",
      "name": "separaCards"
    },
    {
      "parameters": {
        "jsCode": "const regex = /(base64,)[A-Za-z0-9+/=\\r\\n]+(?=(?:[\"\\s]|$))/gi;\n\nfor (const item of items) {\n  const data = item.json;\n\n  for (const key of Object.keys(data)) {\n    const value = data[key];\n\n    if (typeof value === 'string') {\n      data[key] = value.replace(regex, '$1');\n    }\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        336
      ],
      "id": "d9c3e23e-0f68-4eb4-a3bf-572c563e0f51",
      "name": "removeBase64"
    },
    {
      "parameters": {
        "errorMessage": "Não há cards para esta coluna neste projeto."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -272,
        528
      ],
      "id": "4b88f881-e657-44fd-83a8-064e28abd015",
      "name": "levantaErro"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0dda4654-513b-4afc-9fb7-71561e669ece",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "ae3c4047-d4e3-4b15-b8f5-49502baffffc",
              "name": "tag",
              "value": "={{ $json.tag }}",
              "type": "array"
            },
            {
              "id": "2b8801e7-c617-478d-9ef0-7469a11f356c",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "7ebf330f-1751-4dad-b9bd-4c38c4cff8d4",
              "name": "descricao",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "e9149316-dd94-48d0-8ff9-8356003d906f",
              "name": "responsaveis",
              "value": "={{($json.responsaveis.map(resp => ({ id: resp.id, nome: resp.nome })))}}",
              "type": "array"
            },
            {
              "id": "a5243d29-472a-4651-b13f-dbfaff082f3e",
              "name": "orcado",
              "value": "={{ $json.orcado }}",
              "type": "string"
            },
            {
              "id": "a4a05a33-5bb8-4fa6-8d0b-46d3f73e997d",
              "name": "tempo_decorrido",
              "value": "={{ $json.tempo_decorrido }}",
              "type": "string"
            },
            {
              "id": "b3508bca-08e2-4cb2-b998-12b584dfbf9a",
              "name": "em_andamento",
              "value": "={{ $json.em_andamento }}",
              "type": "boolean"
            },
            {
              "id": "d31d70bc-5d13-4f3f-8587-9759fb26b3f6",
              "name": "data_criacao",
              "value": "={{ $json.data_criacao }}",
              "type": "string"
            },
            {
              "id": "606c21a3-c794-447c-b0cb-bf691e586b2f",
              "name": "data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "string"
            },
            {
              "id": "f6fc4951-a5db-4990-85d9-c791447bdcad",
              "name": "data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "string"
            },
            {
              "id": "9027bf55-5740-4071-84f9-9e8f82d689de",
              "name": "pontos_totais",
              "value": "={{ $json.pontos_totais }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        336
      ],
      "id": "bfa187c6-7ecd-423c-92b0-b4f897876611",
      "name": "montaObjCard"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "cards",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        336
      ],
      "id": "af7ee4dc-b8dd-482a-bbc2-b18fd58eba30",
      "name": "juntaCards"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a29fa6f-8ac6-4456-81c9-854950327bb4",
              "name": "meta",
              "value": "={{ $('geraMetadados').item.json }}",
              "type": "object"
            },
            {
              "id": "792d1751-1ac5-4aec-8996-5d95972ec904",
              "name": "info.projeto_info",
              "value": "={{ $('pegaCardsFase').first().json.results.first().projeto_info}}",
              "type": "object"
            },
            {
              "id": "6105284b-4e81-4c46-8440-46f41c071120",
              "name": "info.fase_info",
              "value": "={\"fase_id\":{{ $('pegaInfoFase').item.json.id }},\"fase_nome\":\"{{ $('pegaInfoFase').item.json.nome }}\"}",
              "type": "object"
            },
            {
              "id": "d30a749e-a8a9-4ce4-8555-c3e0aa75096a",
              "name": "card_count",
              "value": "={{ $('pegaCardsFase').first().json.count}}",
              "type": "number"
            },
            {
              "id": "610e4d3b-1dcb-4896-bf4c-4038bebd3afa",
              "name": "cards",
              "value": "={{ $json.cards }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        336
      ],
      "id": "e99ae6e6-4bc2-48bd-aad6-1da0ffd91831",
      "name": "preparaObjResposta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5f5443d4-d3cc-41bf-a9e6-8287df9b427a",
              "leftValue": "={{ $itemIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -64,
        336
      ],
      "id": "72a85507-2ee5-4e09-a9f4-661e050b33f2",
      "name": "filtraParaTeste",
      "disabled": true
    }
  ],
  "connections": {
    "recebeChamada": {
      "main": [
        [
          {
            "node": "criaUiid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pegaSessaoNeat": {
      "main": [
        [
          {
            "node": "pegaInfoFase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criaUiid": {
      "main": [
        [
          {
            "node": "geraMetadados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "geraMetadados": {
      "main": [
        [
          {
            "node": "pegaSessaoNeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pegaInfoFase": {
      "main": [
        [
          {
            "node": "pegaCardsFase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pegaCardsFase": {
      "main": [
        [
          {
            "node": "temCard?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "temCard?": {
      "main": [
        [
          {
            "node": "separaCards",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "levantaErro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separaCards": {
      "main": [
        [
          {
            "node": "filtraParaTeste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "removeBase64": {
      "main": [
        [
          {
            "node": "montaObjCard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "montaObjCard": {
      "main": [
        [
          {
            "node": "juntaCards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "juntaCards": {
      "main": [
        [
          {
            "node": "preparaObjResposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtraParaTeste": {
      "main": [
        [
          {
            "node": "removeBase64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "recebeChamada": [
      {
        "json": {
          "projeto": 487,
          "fase": 1
        }
      }
    ]
  },
  "versionId": "e78bfe33-62a0-4a94-9b99-a8b32f606241",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-27T20:34:23.503Z",
      "createdAt": "2026-01-27T20:34:23.503Z",
      "role": "workflow:owner",
      "workflowId": "t02dcEd6wjwA9RsZ",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}