backups/UNIFServiceBenchmarkCDINotifsCRON/UNIFServiceBenchmarkCDINotifsCRON_v20__kS-O46wXka7Efq4SJY86p.json
{
  "updatedAt": "2026-03-09T18:52:25.781Z",
  "createdAt": "2026-03-06T21:15:18.089Z",
  "id": "kS-O46wXka7Efq4SJY86p",
  "name": "[UNIF]Service.BenchmarkCDINotifs.CRON_v2.0",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xheMnVM_dYQ2wwSqwaD53",
          "mode": "list",
          "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
          "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.unifinance.com.br/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -64,
        64
      ],
      "id": "df810872-2626-441f-bec4-b22ce9368f7d",
      "name": "get sess"
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl }}api/clientepf/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response.body.next==null}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        64
      ],
      "id": "ac9f8ab5-80fe-4eda-b2fc-54ae3863941f",
      "name": "fetch clientes pf"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('pf benchmark binary').item.binary.benchmark_cdi_pf.fileName}}.{{$('pf benchmark binary').item.binary.benchmark_cdi_pf.fileExtension}}",
        "dataPropertyName": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1728,
        64
      ],
      "id": "25b3615c-b93c-49f2-a8ae-eb1030d961d4",
      "name": "save binary in notif/input"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "benchmark_cdi_pf",
        "options": {
          "fileName": "benchmark_cdi_pf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1504,
        64
      ],
      "id": "6179713a-268c-47fd-b4c1-bdd81e512172",
      "name": "pf benchmark binary"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        64
      ],
      "id": "b61aef3a-8b99-4d62-8a14-1b7503533727",
      "name": "pf array"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}atendimento/informacoes_modal_cliente_pf/?cliente_pf={{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        64
      ],
      "id": "f306c399-8ac6-4c7c-b667-8bb00540fad0",
      "name": "fetch informacoes_modal_cliente_pf",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py benchmark_cdi_pf /data/repos/unifinance_notificacoes/files/input/benchmark_cdi_pf.json --saida /data/repos/unifinance_notificacoes/files/output/ -f json\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1952,
        64
      ],
      "id": "80e47400-1df5-4c6d-90ac-9706f1a2e51e",
      "name": "roda gatilho benchmark_cdi_pf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c418120e-1387-4df9-8d74-75c8813e0f7d",
              "leftValue": "={{ $json.volatilidade_media_1M }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9d576b0b-d27c-48dc-b7f8-3099767b94bb",
              "leftValue": "={{ $json.volatilidade_media_3M }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "58002fff-597e-4fa1-8f64-94c5fe35b1b9",
              "leftValue": "={{ $json.taxa_performance }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "353c5d2e-bef9-4fa7-8348-07bf95f94b83",
              "leftValue": "={{ $json.rentabilidade_diaria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "bc0efede-e127-4c6d-a4c3-9494b26e314c",
              "leftValue": "={{ $json.rentabilidade_diaria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8acbbd9b-7f72-4ac7-a8fb-833232df7348",
              "leftValue": "={{ $json.rentabilidade_6_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1f56b45c-833f-4d31-91b5-a1835dd232cf",
              "leftValue": "={{ $json.rentabilidade_24_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5cd3f49c-96fc-4c9d-9808-37253b796fa6",
              "leftValue": "={{ $json.rentabilidade_36_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "717f5377-5ce4-4c7b-bed5-3a24ed192085",
              "leftValue": "={{ $json.rentabilidade_ultimo_mes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8027d9b4-c753-4f5c-8c6a-05c49991cbad",
              "leftValue": "={{ $json.rentabilidade_desde_inicio }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        832,
        64
      ],
      "id": "997d8656-0414-4e8d-9454-8bc60ad6ccf5",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=todos",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "59d9b876-0fa4-4e4a-b17e-6e66b54d18e1",
              "leftValue": "={{ $json.rentabilidade_12_meses }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        608,
        64
      ],
      "id": "b1ab9ecd-487e-4089-bbb7-3d5278be5c93",
      "name": "status true/benchmark and filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8eb64a7-fad5-4b9e-97f4-5715ced477c1",
              "name": "clientepf_id",
              "value": "={{ $json.clientes[0].id }}",
              "type": "number"
            },
            {
              "id": "2c8d2394-5eae-425f-b117-3d624669da75",
              "name": "clientepf_nome",
              "value": "={{ $json.clientes[0].nome }}",
              "type": "string"
            },
            {
              "id": "b30b787d-0498-42f1-9850-2d6646305f00",
              "name": "rentabilidade.rentabilidade_diaria",
              "value": "={{ $json.clientes[0].rentabilidade_diaria }}",
              "type": "string"
            },
            {
              "id": "ebd4fa0f-ff8f-4b3e-ad79-431538995756",
              "name": "rentabilidade.rentabilidade_diaria_anterior",
              "value": "={{ $json.clientes[0].rentabilidade_diaria_anterior }}",
              "type": "string"
            },
            {
              "id": "838085dd-35a0-4f08-af2a-a9357a2ba15d",
              "name": "rentabilidade.rentabilidade_6_meses",
              "value": "={{ $json.clientes[0].rentabilidade_6_meses }}",
              "type": "string"
            },
            {
              "id": "c587e127-b824-479d-bd26-a3a0f69f62e9",
              "name": "rentabilidade.rentabilidade_12_meses",
              "value": "={{ $json.clientes[0].rentabilidade_12_meses }}",
              "type": "string"
            },
            {
              "id": "49176f0c-490b-4968-bb10-2432e86cf11c",
              "name": "rentabilidade.rentabilidade_24_meses",
              "value": "={{ $json.clientes[0].rentabilidade_24_meses }}",
              "type": "string"
            },
            {
              "id": "e67a1f17-91a8-4c45-9d9d-33e6c1caf5ca",
              "name": "rentabilidade.rentabilidade_ultimo_mes",
              "value": "={{ $json.clientes[0].rentabilidade_ultimo_mes }}",
              "type": "string"
            },
            {
              "id": "980b7347-9423-4f01-bc47-dcf030683120",
              "name": "rentabilidade.rentabilidade_desde_inicio",
              "value": "={{ $json.clientes[0].rentabilidade_desde_inicio }}",
              "type": "string"
            },
            {
              "id": "49ca9b19-9673-4e32-ac23-74f5f442784b",
              "name": "bm_cdi",
              "value": "={{ $json.bm_cdi[0] }}",
              "type": "object"
            },
            {
              "id": "a7108dfe-f4ea-4cf5-bc5c-f5ece7b0e4c1",
              "name": "usuario_responsavel",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        64
      ],
      "id": "668022e6-6806-45ac-8fb2-61e1931ef5b2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        64
      ],
      "id": "7a965311-6343-4686-9fc5-dee2f606f02c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WHDc9JBd5bzr8zKkvb1PA",
          "mode": "list",
          "cachedResultUrl": "/workflow/WHDc9JBd5bzr8zKkvb1PA",
          "cachedResultName": "[UNIF]Notif.BenchmarkCDI.WF_v2.2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "={{ $('get sess').item.json.baseUrl }}"
          },
          "matchingColumns": [
            "baseUrl"
          ],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2176,
        64
      ],
      "id": "6a2a310c-70e4-4a03-90e0-5f32ee2393ac",
      "name": "Call '[UNIF]Notif.BenchmarkCDI.WF_v2.2'"
    }
  ],
  "connections": {
    "get sess": {
      "main": [
        [
          {
            "node": "fetch clientes pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch clientes pf": {
      "main": [
        [
          {
            "node": "pf array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save binary in notif/input": {
      "main": [
        [
          {
            "node": "roda gatilho benchmark_cdi_pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf benchmark binary": {
      "main": [
        [
          {
            "node": "save binary in notif/input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf array": {
      "main": [
        [
          {
            "node": "status true/benchmark and filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch informacoes_modal_cliente_pf": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "roda gatilho benchmark_cdi_pf": {
      "main": [
        [
          {
            "node": "Call '[UNIF]Notif.BenchmarkCDI.WF_v2.2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "fetch informacoes_modal_cliente_pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status true/benchmark and filter": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "pf benchmark binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9aaf410d-bb02-4ce3-8fc8-e45ed9231901",
  "activeVersionId": "9aaf410d-bb02-4ce3-8fc8-e45ed9231901",
  "versionCounter": 79,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T21:15:18.089Z",
      "createdAt": "2026-03-06T21:15:18.089Z",
      "role": "workflow:owner",
      "workflowId": "kS-O46wXka7Efq4SJY86p",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T21:08:59.858Z",
      "createdAt": "2026-03-06T19:21:19.987Z",
      "id": "LUuzlmYMIPHf7yaf",
      "name": ">semanal"
    },
    {
      "updatedAt": "2026-03-06T21:09:38.422Z",
      "createdAt": "2026-03-06T21:09:38.422Z",
      "id": "qXDhmpi09wHo88pH",
      "name": "!fix-case"
    },
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-09T18:52:36.719Z",
    "createdAt": "2026-03-09T18:52:25.777Z",
    "versionId": "9aaf410d-bb02-4ce3-8fc8-e45ed9231901",
    "workflowId": "kS-O46wXka7Efq4SJY86p",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xheMnVM_dYQ2wwSqwaD53",
            "mode": "list",
            "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
            "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "https://hub.unifinance.com.br/",
              "loginPath": "login/",
              "csrfFieldName": "csrftoken"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "csrfFieldName",
                "displayName": "csrfFieldName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -64,
          64
        ],
        "id": "df810872-2626-441f-bec4-b22ce9368f7d",
        "name": "get sess"
      },
      {
        "parameters": {
          "url": "={{ $json.baseUrl }}api/clientepf/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "responseContainsNextURL",
                "nextURL": "={{ $response.body.next }}",
                "paginationCompleteWhen": "other",
                "completeExpression": "={{$response.body.next==null}}"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          160,
          64
        ],
        "id": "ac9f8ab5-80fe-4eda-b2fc-54ae3863941f",
        "name": "fetch clientes pf"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/repos/unifinance_notificacoes/files/input/{{$('pf benchmark binary').item.binary.benchmark_cdi_pf.fileName}}.{{$('pf benchmark binary').item.binary.benchmark_cdi_pf.fileExtension}}",
          "dataPropertyName": "benchmark_cdi_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1728,
          64
        ],
        "id": "25b3615c-b93c-49f2-a8ae-eb1030d961d4",
        "name": "save binary in notif/input"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "benchmark_cdi_pf",
          "options": {
            "fileName": "benchmark_cdi_pf"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1504,
          64
        ],
        "id": "6179713a-268c-47fd-b4c1-bdd81e512172",
        "name": "pf benchmark binary"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          384,
          64
        ],
        "id": "b61aef3a-8b99-4d62-8a14-1b7503533727",
        "name": "pf array"
      },
      {
        "parameters": {
          "url": "={{ $('get sess').item.json.baseUrl }}atendimento/informacoes_modal_cliente_pf/?cliente_pf={{ $json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1056,
          64
        ],
        "id": "f306c399-8ac6-4c7c-b667-8bb00540fad0",
        "name": "fetch informacoes_modal_cliente_pf",
        "retryOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "python /data/repos/unifinance_notificacoes/cli_gatilhos.py benchmark_cdi_pf /data/repos/unifinance_notificacoes/files/input/benchmark_cdi_pf.json --saida /data/repos/unifinance_notificacoes/files/output/ -f json\n"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1952,
          64
        ],
        "id": "80e47400-1df5-4c6d-90ac-9706f1a2e51e",
        "name": "roda gatilho benchmark_cdi_pf"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c418120e-1387-4df9-8d74-75c8813e0f7d",
                "leftValue": "={{ $json.volatilidade_media_1M }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "9d576b0b-d27c-48dc-b7f8-3099767b94bb",
                "leftValue": "={{ $json.volatilidade_media_3M }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "58002fff-597e-4fa1-8f64-94c5fe35b1b9",
                "leftValue": "={{ $json.taxa_performance }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "353c5d2e-bef9-4fa7-8348-07bf95f94b83",
                "leftValue": "={{ $json.rentabilidade_diaria }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "bc0efede-e127-4c6d-a4c3-9494b26e314c",
                "leftValue": "={{ $json.rentabilidade_diaria }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "8acbbd9b-7f72-4ac7-a8fb-833232df7348",
                "leftValue": "={{ $json.rentabilidade_6_meses }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "1f56b45c-833f-4d31-91b5-a1835dd232cf",
                "leftValue": "={{ $json.rentabilidade_24_meses }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "5cd3f49c-96fc-4c9d-9808-37253b796fa6",
                "leftValue": "={{ $json.rentabilidade_36_meses }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "717f5377-5ce4-4c7b-bed5-3a24ed192085",
                "leftValue": "={{ $json.rentabilidade_ultimo_mes }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "8027d9b4-c753-4f5c-8c6a-05c49991cbad",
                "leftValue": "={{ $json.rentabilidade_desde_inicio }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          832,
          64
        ],
        "id": "997d8656-0414-4e8d-9454-8bc60ad6ccf5",
        "name": "Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
                "leftValue": "={{ $json.status }}",
                "rightValue": "=todos",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              },
              {
                "id": "59d9b876-0fa4-4e4a-b17e-6e66b54d18e1",
                "leftValue": "={{ $json.rentabilidade_12_meses }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          608,
          64
        ],
        "id": "b1ab9ecd-487e-4089-bbb7-3d5278be5c93",
        "name": "status true/benchmark and filter"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a8eb64a7-fad5-4b9e-97f4-5715ced477c1",
                "name": "clientepf_id",
                "value": "={{ $json.clientes[0].id }}",
                "type": "number"
              },
              {
                "id": "2c8d2394-5eae-425f-b117-3d624669da75",
                "name": "clientepf_nome",
                "value": "={{ $json.clientes[0].nome }}",
                "type": "string"
              },
              {
                "id": "b30b787d-0498-42f1-9850-2d6646305f00",
                "name": "rentabilidade.rentabilidade_diaria",
                "value": "={{ $json.clientes[0].rentabilidade_diaria }}",
                "type": "string"
              },
              {
                "id": "ebd4fa0f-ff8f-4b3e-ad79-431538995756",
                "name": "rentabilidade.rentabilidade_diaria_anterior",
                "value": "={{ $json.clientes[0].rentabilidade_diaria_anterior }}",
                "type": "string"
              },
              {
                "id": "838085dd-35a0-4f08-af2a-a9357a2ba15d",
                "name": "rentabilidade.rentabilidade_6_meses",
                "value": "={{ $json.clientes[0].rentabilidade_6_meses }}",
                "type": "string"
              },
              {
                "id": "c587e127-b824-479d-bd26-a3a0f69f62e9",
                "name": "rentabilidade.rentabilidade_12_meses",
                "value": "={{ $json.clientes[0].rentabilidade_12_meses }}",
                "type": "string"
              },
              {
                "id": "49176f0c-490b-4968-bb10-2432e86cf11c",
                "name": "rentabilidade.rentabilidade_24_meses",
                "value": "={{ $json.clientes[0].rentabilidade_24_meses }}",
                "type": "string"
              },
              {
                "id": "e67a1f17-91a8-4c45-9d9d-33e6c1caf5ca",
                "name": "rentabilidade.rentabilidade_ultimo_mes",
                "value": "={{ $json.clientes[0].rentabilidade_ultimo_mes }}",
                "type": "string"
              },
              {
                "id": "980b7347-9423-4f01-bc47-dcf030683120",
                "name": "rentabilidade.rentabilidade_desde_inicio",
                "value": "={{ $json.clientes[0].rentabilidade_desde_inicio }}",
                "type": "string"
              },
              {
                "id": "49ca9b19-9673-4e32-ac23-74f5f442784b",
                "name": "bm_cdi",
                "value": "={{ $json.bm_cdi[0] }}",
                "type": "object"
              },
              {
                "id": "a7108dfe-f4ea-4cf5-bc5c-f5ece7b0e4c1",
                "name": "usuario_responsavel",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1280,
          64
        ],
        "id": "668022e6-6806-45ac-8fb2-61e1931ef5b2",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ]
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -288,
          64
        ],
        "id": "7a965311-6343-4686-9fc5-dee2f606f02c",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "WHDc9JBd5bzr8zKkvb1PA",
            "mode": "list",
            "cachedResultUrl": "/workflow/WHDc9JBd5bzr8zKkvb1PA",
            "cachedResultName": "[UNIF]Notif.BenchmarkCDI.WF_v2.2"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "={{ $('get sess').item.json.baseUrl }}"
            },
            "matchingColumns": [
              "baseUrl"
            ],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          2176,
          64
        ],
        "id": "6a2a310c-70e4-4a03-90e0-5f32ee2393ac",
        "name": "Call '[UNIF]Notif.BenchmarkCDI.WF_v2.2'"
      }
    ],
    "connections": {
      "get sess": {
        "main": [
          [
            {
              "node": "fetch clientes pf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetch clientes pf": {
        "main": [
          [
            {
              "node": "pf array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "save binary in notif/input": {
        "main": [
          [
            {
              "node": "roda gatilho benchmark_cdi_pf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pf benchmark binary": {
        "main": [
          [
            {
              "node": "save binary in notif/input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pf array": {
        "main": [
          [
            {
              "node": "status true/benchmark and filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetch informacoes_modal_cliente_pf": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "roda gatilho benchmark_cdi_pf": {
        "main": [
          [
            {
              "node": "Call '[UNIF]Notif.BenchmarkCDI.WF_v2.2'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "fetch informacoes_modal_cliente_pf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "status true/benchmark and filter": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "pf benchmark binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "get sess",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version 9aaf410d",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T18:52:36.717Z",
        "id": 102,
        "workflowId": "kS-O46wXka7Efq4SJY86p",
        "versionId": "9aaf410d-bb02-4ce3-8fc8-e45ed9231901",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}