backups/UNIFNotifQuedaRentWF/UNIFNotifQuedaRentWF_v21__hAov2d4dgaOOd91mtp8cZ.json
{
  "updatedAt": "2026-03-09T18:50:08.330Z",
  "createdAt": "2026-03-06T21:10:42.934Z",
  "id": "hAov2d4dgaOOd91mtp8cZ",
  "name": "[UNIF]Notif.QuedaRent.WF_v2.1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xheMnVM_dYQ2wwSqwaD53",
          "mode": "list",
          "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
          "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "={{ $json.baseUrl }}",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        768,
        80
      ],
      "id": "1524c065-1981-4e94-af12-e2e5c9b8ea11",
      "name": "get sess"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "baseUrl"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        544,
        176
      ],
      "id": "39c8e682-0530-44c3-96e7-6238fd41a13b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fileSelector": "/data/repos/unifinance_notificacoes/files/output/queda_rent_pf.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        992,
        80
      ],
      "id": "fbd0ef4a-416b-45f8-8ce5-5b686497b2d0",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "queda_rent_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1216,
        80
      ],
      "id": "adc24a66-eacf-49a0-b7f9-a7f9e9548c1b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c607c30b-b697-4c83-a569-46e1694128e2",
              "name": "queda_rent_pf",
              "value": "={{ $json.queda_rent_pf.itens.notificacoes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        80
      ],
      "id": "8e2131aa-50f2-4601-94f9-6961434601ac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "queda_rent_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1664,
        80
      ],
      "id": "8ccfe5f9-2436-46bf-899e-b3ddbd0c94a6",
      "name": "split"
    },
    {
      "parameters": {
        "jsCode": "// ------------------------------\n// Funções auxiliares\n// ------------------------------\nfunction toBRL(n) {\n  return parseFloat(n).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction toPct(n) {\n  return parseFloat(n).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%';\n}\n\nfunction escapeHtml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\n// ------------------------------\n// Processamento principal\n// ------------------------------\nconst new_items = [];\nconst allItems = $input.all();\n\nfor (let idx = 0; idx < allItems.length; idx++) {\n  const j = allItems[idx].json;\n\n  const nome = j.nome_alvo;\n  const id = j.id_alvo;\n  const responsaveis = j.responsaveis;\n\n  const patrimonio = parseFloat(j.patrimonio_total);\n  const rentabilidade_atual = parseFloat(j.rentabilidade_12_meses);\n  const queda_percentual = parseFloat(j.queda_rent_12_meses);\n  const detalhes_texto = escapeHtml(String(j.detalhes));\n\n  const descricao_html =\n    `<p>O cliente <strong>${escapeHtml(String(nome))}</strong> teve uma queda ` +\n    `significativa na rentabilidade de sua carteira.</p>` +\n    `<ul>` +\n    `<li><strong>Detalhes:</strong> ${detalhes_texto}</li>` +\n    `<li><strong>Queda Absoluta (12M):</strong> ${toPct(queda_percentual)}</li>` +\n    `<li><strong>Rentabilidade Atual (12M):</strong> ${toPct(rentabilidade_atual)}</li>` +\n    `<li><strong>Patrimônio Total:</strong> ${toBRL(patrimonio)}</li>` +\n    `</ul>` +\n    `<p><em>Atenção: A rentabilidade atual exige uma avaliação imediata da posição e das alocações.</em></p>`;\n\n  for (const resp of responsaveis) {\n    new_items.push({\n      json: {\n        titulo: \"Alerta Crítico: Queda de Rentabilidade na Carteira do Cliente\",\n        descricao: descricao_html,\n        destinatario: resp,\n        cliente_pf_id: id,\n        nome_cliente_pf: nome,\n        tipo_notificacao: \"Queda de rentabilidade\",\n      },\n      pairedItem: { item: idx },\n    });\n  }\n}\n\nreturn new_items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        80
      ],
      "id": "38c38af8-4e30-4693-b0f3-13dddf761595",
      "name": "Code in Python (Beta)",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('get sess').item.json.baseUrl}}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        80
      ],
      "id": "932f24be-73eb-41f8-931e-c2edc41ad560",
      "name": "POST",
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "rm /data/repos/unifinance_notificacoes/files/output/queda_rent_pf.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        768,
        272
      ],
      "id": "fd8cb3f9-776a-49c2-b4a1-98237f720aa7",
      "name": "Execute Command",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "rm /data/repos/unifinance_notificacoes/files/input/queda_rent_pf.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        992,
        272
      ],
      "id": "6a11d5d6-9b94-4a1d-8b8c-2ba57fb2acff",
      "name": "Execute Command1",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "get sess": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST": {
      "main": [
        []
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "baseUrl": "https://hub-unifinance.novadata.dev/"
        }
      }
    ]
  },
  "versionId": "0ee4f23c-710e-4f4c-8b4f-ec5acb311cbe",
  "activeVersionId": "0ee4f23c-710e-4f4c-8b4f-ec5acb311cbe",
  "versionCounter": 41,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T21:10:42.934Z",
      "createdAt": "2026-03-06T21:10:42.934Z",
      "role": "workflow:owner",
      "workflowId": "hAov2d4dgaOOd91mtp8cZ",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T21:09:38.422Z",
      "createdAt": "2026-03-06T21:09:38.422Z",
      "id": "qXDhmpi09wHo88pH",
      "name": "!fix-case"
    },
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-09T18:50:21.254Z",
    "createdAt": "2026-03-09T18:50:08.326Z",
    "versionId": "0ee4f23c-710e-4f4c-8b4f-ec5acb311cbe",
    "workflowId": "hAov2d4dgaOOd91mtp8cZ",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xheMnVM_dYQ2wwSqwaD53",
            "mode": "list",
            "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
            "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "={{ $json.baseUrl }}",
              "loginPath": "login/",
              "csrfFieldName": "csrftoken"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "csrfFieldName",
                "displayName": "csrfFieldName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          768,
          80
        ],
        "id": "1524c065-1981-4e94-af12-e2e5c9b8ea11",
        "name": "get sess"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "baseUrl"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          544,
          176
        ],
        "id": "39c8e682-0530-44c3-96e7-6238fd41a13b",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "fileSelector": "/data/repos/unifinance_notificacoes/files/output/queda_rent_pf.json",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          992,
          80
        ],
        "id": "fbd0ef4a-416b-45f8-8ce5-5b686497b2d0",
        "name": "Read/Write Files from Disk"
      },
      {
        "parameters": {
          "operation": "fromJson",
          "destinationKey": "queda_rent_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1216,
          80
        ],
        "id": "adc24a66-eacf-49a0-b7f9-a7f9e9548c1b",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c607c30b-b697-4c83-a569-46e1694128e2",
                "name": "queda_rent_pf",
                "value": "={{ $json.queda_rent_pf.itens.notificacoes }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1440,
          80
        ],
        "id": "8e2131aa-50f2-4601-94f9-6961434601ac",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "fieldToSplitOut": "queda_rent_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1664,
          80
        ],
        "id": "8ccfe5f9-2436-46bf-899e-b3ddbd0c94a6",
        "name": "split"
      },
      {
        "parameters": {
          "jsCode": "// ------------------------------\n// Funções auxiliares\n// ------------------------------\nfunction toBRL(n) {\n  return parseFloat(n).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction toPct(n) {\n  return parseFloat(n).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%';\n}\n\nfunction escapeHtml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\n// ------------------------------\n// Processamento principal\n// ------------------------------\nconst new_items = [];\nconst allItems = $input.all();\n\nfor (let idx = 0; idx < allItems.length; idx++) {\n  const j = allItems[idx].json;\n\n  const nome = j.nome_alvo;\n  const id = j.id_alvo;\n  const responsaveis = j.responsaveis;\n\n  const patrimonio = parseFloat(j.patrimonio_total);\n  const rentabilidade_atual = parseFloat(j.rentabilidade_12_meses);\n  const queda_percentual = parseFloat(j.queda_rent_12_meses);\n  const detalhes_texto = escapeHtml(String(j.detalhes));\n\n  const descricao_html =\n    `<p>O cliente <strong>${escapeHtml(String(nome))}</strong> teve uma queda ` +\n    `significativa na rentabilidade de sua carteira.</p>` +\n    `<ul>` +\n    `<li><strong>Detalhes:</strong> ${detalhes_texto}</li>` +\n    `<li><strong>Queda Absoluta (12M):</strong> ${toPct(queda_percentual)}</li>` +\n    `<li><strong>Rentabilidade Atual (12M):</strong> ${toPct(rentabilidade_atual)}</li>` +\n    `<li><strong>Patrimônio Total:</strong> ${toBRL(patrimonio)}</li>` +\n    `</ul>` +\n    `<p><em>Atenção: A rentabilidade atual exige uma avaliação imediata da posição e das alocações.</em></p>`;\n\n  for (const resp of responsaveis) {\n    new_items.push({\n      json: {\n        titulo: \"Alerta Crítico: Queda de Rentabilidade na Carteira do Cliente\",\n        descricao: descricao_html,\n        destinatario: resp,\n        cliente_pf_id: id,\n        nome_cliente_pf: nome,\n        tipo_notificacao: \"Queda de rentabilidade\",\n      },\n      pairedItem: { item: idx },\n    });\n  }\n}\n\nreturn new_items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1888,
          80
        ],
        "id": "38c38af8-4e30-4693-b0f3-13dddf761595",
        "name": "Code in Python (Beta)",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$('get sess').item.json.baseUrl}}api/notificacao/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-CSRFToken",
                "value": "={{ $('get sess').item.json.csrfCookie }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2112,
          80
        ],
        "id": "932f24be-73eb-41f8-931e-c2edc41ad560",
        "name": "POST",
        "executeOnce": false,
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "rm /data/repos/unifinance_notificacoes/files/output/queda_rent_pf.json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          768,
          272
        ],
        "id": "fd8cb3f9-776a-49c2-b4a1-98237f720aa7",
        "name": "Execute Command",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "rm /data/repos/unifinance_notificacoes/files/input/queda_rent_pf.json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          992,
          272
        ],
        "id": "6a11d5d6-9b94-4a1d-8b8c-2ba57fb2acff",
        "name": "Execute Command1",
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "get sess": {
        "main": [
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "get sess",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read/Write Files from Disk": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "split",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "split": {
        "main": [
          [
            {
              "node": "Code in Python (Beta)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in Python (Beta)": {
        "main": [
          [
            {
              "node": "POST",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST": {
        "main": [
          []
        ]
      },
      "Execute Command": {
        "main": [
          [
            {
              "node": "Execute Command1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version 0ee4f23c",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T18:50:21.251Z",
        "id": 100,
        "workflowId": "hAov2d4dgaOOd91mtp8cZ",
        "versionId": "0ee4f23c-710e-4f4c-8b4f-ec5acb311cbe",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}