backups/benchmark/benchmark_post_v0__SRE2i6mT7BPBo1iv.json
{
  "updatedAt": "2025-11-10T11:55:48.125Z",
  "createdAt": "2025-11-05T11:31:12.093Z",
  "id": "SRE2i6mT7BPBo1iv",
  "name": "benchmark_post_v0",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -16
      ],
      "id": "bd8e8fdf-37da-4ba4-bcdc-343435eb766d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from html import escape\n\n# ------------------------------\n# Funções auxiliares\n# ------------------------------\ndef to_brl(n: float) -> str:\n    n = float(n) if n is not None else 0.0\n    return f\"{n:,.2f}\".replace(\",\", \"X\").replace(\".\", \",\").replace(\"X\", \".\")\n\ndef to_pct(n: float) -> str:\n    n = float(n) if n is not None else 0.0\n    return f\"{n:,.2f}%\".replace(\",\", \"X\").replace(\".\", \",\").replace(\"X\", \".\")\n\ndef ensure_list(name, value):\n    if isinstance(value, list):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é lista nem JsProxy convertível: {type(value)}\") from e\n\ndef ensure_dict(name, value):\n    if isinstance(value, dict):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é dict nem JsProxy convertível: {type(value)}\") from e\n\n\n# ------------------------------\n# Processamento principal\n# ------------------------------\nnew_items = []\nGATILHO_SLUG = \"benchmark_cdi_pf\"\n\nfor idx, item in enumerate(_input.all()):\n    j_raw = item.json.to_py()\n    j = ensure_dict(\"notificacao\", j_raw.get(GATILHO_SLUG, j_raw))\n\n    detalhes_texto = escape(str(j[\"detalhes\"]))\n    nome_alvo = j[\"nome_alvo\"]\n    id_alvo = j[\"id_alvo\"]\n    responsaveis_raw = j.get(\"responsaveis\")\n\n    p50 = float(j.get(\"p50\", 0.0))\n    p90 = float(j.get(\"p90\", 0.0))\n    n_ratios = int(j.get(\"n_ratios\", 0))\n    rm_positiva = bool(j.get(\"rm_positiva\", False))\n    threshold_crossed = bool(j.get(\"threshold_crossed\", False))\n\n    limiar_baixa = j.get(\"limiar_ratio_baixa\")\n    limiar_alta = j.get(\"limiar_ratio_alta\")\n    limiar = limiar_baixa if limiar_baixa is not None else limiar_alta\n\n    # Determina se é p50 ou p90\n    is_mediana = \"Mediana\" in j[\"detalhes\"]\n    valor_ratio = p50 if is_mediana else p90\n    label_ratio = \"Mediana (p50)\" if is_mediana else \"Percentil 90 (p90)\"\n\n\n    if responsaveis_raw:\n        responsaveis = ensure_list(\"responsaveis\", responsaveis_raw)\n    else:\n        responsaveis = [1]\n\n    # ------------------------------\n    # Montagem do corpo da notificação\n    # ------------------------------\n    descricao_html = (\nf\"<p><strong>Detalhes da Avaliação:</strong></p>\"\n        f\"<ol>\"\n        f\"<li><strong>Mediana (p50):</strong> {p50:.2f}</li>\"\n        f\"<li><strong>Percentil 90 (p90):</strong> {p90:.2f}</li>\"\n        f\"<li><strong>Número de Clientes (Ratios Válidos):</strong> {n_ratios}</li>\"\n         f\"<p><em>Disparo de alerta quando o benchmark CDI (100%-120%) não é atendido pela rentabilidade (P50/P90) de clientes PF em 12 meses.</em></p>\"\n        f\"</ol>\"\n    )\n\n    # ------------------------------\n    # Geração das notificações por responsável\n    # ------------------------------\n    for resp in responsaveis:\n        if not isinstance(resp, (int, str)):\n            try:\n                resp = resp.to_py()\n            except Exception as e:\n                raise TypeError(f\"Responsável não é int/str nem JsProxy: {type(resp)}\") from e\n\n        novo = {\n            \"titulo\": \"⚠️ Alerta: Benchmark CDI - Cliente PF\",\n            \"descricao\": descricao_html,\n            \"destinatario\": 1,\n            \"nome_cliente_pf\": nome_alvo,\n        }\n\n        if str(id_alvo).isdigit():\n            novo[\"cliente_pf_id\"] = int(id_alvo)\n\n        new_items.append({\n            \"json\": novo,\n            \"pairedItem\": {\"item\": idx},\n        })\n\nreturn new_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -16
      ],
      "id": "1131288d-9d21-4050-9679-1693c3f01c48",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultUrl": "/workflow/PlS62KJilKsPGxO2",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub-unifinance.novadata.dev/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -176,
        -16
      ],
      "id": "1b39ad6d-9d57-47a2-a039-d00089660484",
      "name": "get sess"
    },
    {
      "parameters": {
        "fileSelector": "/data/files/uni/notifs/output/benchmark_cdi_pf.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        32,
        -16
      ],
      "id": "1e03dacc-6493-4052-8558-3597f667576a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        -16
      ],
      "id": "e9ce9bcc-e769-4fb8-bd74-39d29b4eb4f4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c607c30b-b697-4c83-a569-46e1694128e2",
              "name": "benchmark_cdi_pf",
              "value": "={{ $json.benchmark_cdi_pf.itens.notificacoes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -16
      ],
      "id": "4c3cffe3-f40b-4788-a3ab-f8c3e8273c88",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        -16
      ],
      "id": "1128716a-20cd-4c3d-acd7-aceced04aab6",
      "name": "split"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('get sess').item.json.baseUrl}}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -16
      ],
      "id": "f90a3476-5fb8-452e-93b0-a3c2ff7e5aa4",
      "name": "POST1",
      "executeOnce": true
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c6b88dee-e57b-4534-ac54-ed99cb0bb63a",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-05T11:31:12.093Z",
      "createdAt": "2025-11-05T11:31:12.093Z",
      "role": "workflow:owner",
      "workflowId": "SRE2i6mT7BPBo1iv",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}