backups/UNIFNotifBenchmarkCDIWF/UNIFNotifBenchmarkCDIWF_v22__WHDc9JBd5bzr8zKkvb1PA.json
{
  "updatedAt": "2026-03-09T18:47:09.060Z",
  "createdAt": "2026-03-06T20:47:51.243Z",
  "id": "WHDc9JBd5bzr8zKkvb1PA",
  "name": "[UNIF]Notif.BenchmarkCDI.WF_v2.2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xheMnVM_dYQ2wwSqwaD53",
          "mode": "list",
          "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
          "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "={{ $json.baseUrl }}",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1408,
        144
      ],
      "id": "eb852e10-4180-45bf-893f-a1e77a4dff10",
      "name": "get sess"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "baseUrl"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1632,
        240
      ],
      "id": "81494096-a8fb-4fb9-bb73-a07e656dff28",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fileSelector": "/data/repos/unifinance_notificacoes/files/output/benchmark_cdi_pf.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1184,
        -96
      ],
      "id": "6a0287c6-15ff-45cc-a886-7c6b1af73969",
      "name": "Read/Write Files from Disk",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -960,
        -96
      ],
      "id": "50a2e0a3-6bee-4c5f-b2a2-78c3e2b00b96",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c607c30b-b697-4c83-a569-46e1694128e2",
              "name": "benchmark_cdi_pf",
              "value": "={{ $json.benchmark_cdi_pf.itens.notificacoes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -96
      ],
      "id": "3fd326f3-8cd7-4095-a559-e5c33f57cecf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('get sess').item.json.baseUrl}}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        144
      ],
      "id": "e9473754-b16b-4026-816d-20abb7cf26b3",
      "name": "POST1",
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl }}clientes/todos_usuarios_sap/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        432
      ],
      "id": "fa3c3ad2-fa6f-44c7-8378-40acade1dbef",
      "name": "fetch gestor_sap",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "todos_usuarios",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -64,
        432
      ],
      "id": "3e482dee-290e-4022-bf29-d911f42e17ce",
      "name": "pf array"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        336
      ],
      "id": "da0d0562-414c-4d4e-8ba2-4cb43fcb211a",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f68d428e-2463-4556-8461-2231916266e5",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        432
      ],
      "id": "22bb51fa-c5a6-468b-949e-3b589f42d654",
      "name": "ids_destinatarios_gestor_sap"
    },
    {
      "parameters": {
        "jsCode": "// ------------------------------\n// Funções auxiliares\n// ------------------------------\nfunction toBRL(n) {\n  n = n !== null && n !== undefined ? parseFloat(n) : 0.0;\n  return n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction toPct(n) {\n  n = n !== null && n !== undefined ? parseFloat(n) : 0.0;\n  return n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%';\n}\n\nfunction escapeHtml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\n// ------------------------------\n// Processamento principal\n// ------------------------------\nconst GATILHO_SLUG = \"benchmark_cdi_pf\";\nlet ids_destinatarios = [];\nlet items_notificacao = [];\nconst new_items = [];\n\n// PRIMEIRA PASSAGEM: Separar dados de notificação dos IDs\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  if ('id' in j && (typeof j.id === 'number' || typeof j.id === 'string') && !('detalhes' in j)) {\n    try {\n      ids_destinatarios.push(parseInt(j.id));\n    } catch {\n      ids_destinatarios.push(j.id);\n    }\n  } else if (GATILHO_SLUG in j || 'detalhes' in j) {\n    items_notificacao.push(j);\n  }\n}\n\n// Remove duplicados\nids_destinatarios = [...new Set(ids_destinatarios)];\n\n// Fallback: usa ID 1 (Admin) se vazio\nif (ids_destinatarios.length === 0) {\n  console.log(\"AVISO: Array de destinatários vazio. Usando ID 1 (Admin) como fallback.\");\n  ids_destinatarios = [1];\n}\n\n// SEGUNDA PASSAGEM: Montar as notificações\nif (items_notificacao.length === 0) {\n  return [];\n}\n\nfor (let idx_notificacao = 0; idx_notificacao < items_notificacao.length; idx_notificacao++) {\n  const j_item = items_notificacao[idx_notificacao];\n  const j = j_item[GATILHO_SLUG] ?? j_item;\n\n  const detalhes_texto = escapeHtml(String(j.detalhes));\n  const nome_alvo = j.nome_alvo;\n  const id_alvo = j.id_alvo;\n  const p50 = parseFloat(j.p50 ?? 0.0);\n  const p90 = parseFloat(j.p90 ?? 0.0);\n  const n_ratios = parseInt(j.n_ratios ?? 0);\n\n  const is_mediana = String(j.detalhes).includes(\"Mediana\");\n  const valor_ratio = is_mediana ? p50 : p90;\n  const label_ratio = is_mediana ? \"Mediana (p50)\" : \"Percentil 90 (p90)\";\n\n  const limiar_baixa = j.limiar_ratio_baixa ?? null;\n  const limiar_alta = j.limiar_ratio_alta ?? null;\n  const limiar = limiar_baixa !== null ? limiar_baixa : limiar_alta;\n\n  const descricao_html =\n    `<p><strong>Detalhes da Avaliação:</strong></p>` +\n    `<ol>` +\n    `<li><strong>Mediana (p50):</strong> ${p50.toFixed(2)}</li>` +\n    `<li><strong>Percentil 90 (p90):</strong> ${p90.toFixed(2)}</li>` +\n    `<li><strong>Número de Clientes (Ratios Válidos):</strong> ${n_ratios}</li>` +\n    `<p><em>Disparo de alerta quando o benchmark CDI (100%-120%) não é atendido pela rentabilidade (P50/P90) de clientes PF em 12 meses.</em></p>` +\n    `</ol>`;\n\n  for (const destinatario_id of ids_destinatarios) {\n    new_items.push({\n      json: {\n        titulo: \"⚠️ Alerta: Benchmark CDI - Cliente PF\",\n        descricao: descricao_html,\n        destinatario: destinatario_id,\n        tipo_notificacao: \"Rentabilidade abaixo do benchmark\",\n      },\n      pairedItem: { item: idx_notificacao },\n    });\n  }\n}\n\nreturn new_items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -48
      ],
      "id": "03c1a8fd-8da9-4bbb-9adf-8382062f1e0a",
      "name": "Apenas com IDS gestores SAP",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        144
      ],
      "id": "8b686a34-95f3-4d1b-afa7-3da204ec9660",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// ------------------------------\n// Funções auxiliares\n// ------------------------------\nfunction toBRL(n) {\n  n = n !== null && n !== undefined ? parseFloat(n) : 0.0;\n  return n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction toPct(n) {\n  n = n !== null && n !== undefined ? parseFloat(n) : 0.0;\n  return n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%';\n}\n\n// ------------------------------\n// Processamento principal\n// ------------------------------\nconst GATILHO_SLUG = \"benchmark_cdi_pf_p50\";\nlet ids_destinatarios = [];\nlet items_notificacao = [];\nconst new_items = [];\n\n// PRIMEIRA PASSAGEM: Separar IDs e notificações\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  if ('id' in j && (typeof j.id === 'number' || typeof j.id === 'string') && !('detalhes' in j)) {\n    try {\n      ids_destinatarios.push(parseInt(j.id));\n    } catch {\n      ids_destinatarios.push(j.id);\n    }\n  } else if (GATILHO_SLUG in j || 'detalhes' in j) {\n    items_notificacao.push(j);\n  }\n}\n\nids_destinatarios = [...new Set(ids_destinatarios)];\nif (ids_destinatarios.length === 0) ids_destinatarios = [1];\n\n// ------------------------------\n// SEGUNDA PASSAGEM: Montagem das notificações p50\n// ------------------------------\nfor (let idx_notificacao = 0; idx_notificacao < items_notificacao.length; idx_notificacao++) {\n  const j_item = items_notificacao[idx_notificacao];\n  const j = j_item[GATILHO_SLUG] ?? j_item;\n\n  const nome_alvo = j.nome_alvo ?? \"Cliente não informado\";\n  const id_alvo = j.id_alvo ?? null;\n  const p50 = parseFloat(j.p50 ?? 0.0);\n  const n_ratios = parseInt(j.n_ratios ?? 0);\n  const CDI_REF = parseFloat(j.limiar_ratio_baixa ?? 1.0);\n  const crossed_p50 = j.threshold_crossed_p50 !== undefined ? Boolean(j.threshold_crossed_p50) : p50 < CDI_REF;\n\n  if (!crossed_p50) continue;\n\n  const descricao_html =\n    `<ol>` +\n    `<strong>Detalhes da Avaliação:</strong> ${p50.toFixed(2)}` +\n    `<li><strong>Ratios válidos:</strong> ${n_ratios}</li>` +\n    `</ol>`;\n\n  const detalhes_notificacao =\n    `<strong>Benchmark CDI (p50)</strong> ultrapassado.<br>`;\n\n  const frase_final =\n    `<p style='color: gray; font-style: italic;'>Disparo de alerta quando o benchmark CDI (100%-120%) não é atendido pela rentabilidade (P50) de clientes PF em 12 meses.</p>`;\n\n  for (const destinatario_id of ids_destinatarios) {\n    new_items.push({\n      json: {\n        titulo: \"⚠️ Alerta: Mediana (p50) Benchmark CDI - Cliente PF\",\n        descricao: `${descricao_html}<p>${detalhes_notificacao}</p><p>${frase_final}</p>`,\n        destinatario: destinatario_id,\n        tipo_notificacao: \"Rentabilidade abaixo do benchmark\",\n      },\n      pairedItem: { item: idx_notificacao },\n    });\n  }\n}\n\nreturn new_items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        144
      ],
      "id": "c5ff8b4b-dbd0-4439-8ab2-cd509869df0f",
      "name": "benchmark_cdi_pf_p50",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// ------------------------------\n// Funções auxiliares\n// ------------------------------\nfunction escapeHtml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\n// ------------------------------\n// Processamento principal (apenas p90)\n// ------------------------------\nconst GATILHO_SLUG = \"benchmark_cdi_pf\";\nlet ids_destinatarios = [];\nlet items_notificacao = [];\nconst new_items = [];\n\n// PRIMEIRA PASSAGEM: Separar dados de notificação (p90) dos IDs\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  if ('id' in j && (typeof j.id === 'number' || typeof j.id === 'string') && !('detalhes' in j)) {\n    try {\n      ids_destinatarios.push(parseInt(j.id));\n    } catch {\n      ids_destinatarios.push(j.id);\n    }\n  } else if (GATILHO_SLUG in j || 'detalhes' in j) {\n    items_notificacao.push(j);\n  }\n}\n\n// Remove IDs duplicados\nids_destinatarios = [...new Set(ids_destinatarios)];\n\n// Fallback: caso não haja IDs\nif (ids_destinatarios.length === 0) {\n  console.log(\"AVISO: Nenhum destinatário encontrado. Usando ID 1 (Admin) como fallback.\");\n  ids_destinatarios = [1];\n}\n\n// ------------------------------\n// SEGUNDA PASSAGEM: Montagem das notificações (somente p90)\n// ------------------------------\nif (items_notificacao.length === 0) {\n  return [];\n}\n\nfor (let idx_notificacao = 0; idx_notificacao < items_notificacao.length; idx_notificacao++) {\n  const j_item = items_notificacao[idx_notificacao];\n  const j = j_item[GATILHO_SLUG] ?? j_item;\n\n  const detalhes_texto = escapeHtml(String(j.detalhes));\n  const nome_alvo = j.nome_alvo;\n  const id_alvo = j.id_alvo;\n  const p90 = parseFloat(j.p90 ?? 0.0);\n  const n_ratios = parseInt(j.n_ratios ?? 0);\n\n  const limiar_baixa = j.limiar_ratio_baixa ?? null;\n  const limiar_alta = j.limiar_ratio_alta ?? null;\n  const limiar = limiar_baixa !== null ? limiar_baixa : limiar_alta;\n\n  const descricao_html =\n    `<p><strong>Detalhes da Avaliação:</strong></p>` +\n    `<ol>` +\n    `<li><strong>Percentil 90 (p90):</strong> ${p90.toFixed(2)}</li>` +\n    `<li><strong>Número de Clientes (Ratios Válidos):</strong> ${n_ratios}</li>` +\n    `<p><em style='color:gray;'>Disparo de alerta quando o benchmark CDI (100%-120%) ` +\n    `não é atendido pela rentabilidade (P90) de clientes PF em 12 meses.</em></p>` +\n    `</ol>`;\n\n  for (const destinatario_id of ids_destinatarios) {\n    new_items.push({\n      json: {\n        titulo: \"⚠️ Alerta: Percentil (P90) Benchmark CDI - Cliente PF\",\n        descricao: descricao_html,\n        destinatario: destinatario_id,\n        tipo_notificacao: \"Rentabilidade abaixo do benchmark\",\n      },\n      pairedItem: { item: idx_notificacao },\n    });\n  }\n}\n\nreturn new_items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        336
      ],
      "id": "99de78e5-d627-40b1-8326-dfb136fa9537",
      "name": "benchmark_cdi_pf_p90",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        -48
      ],
      "id": "039357e3-4bcf-466c-8289-43244da3ad75",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a157b661-70b0-4fb5-8243-19ca3117c8a2",
              "leftValue": "={{ $json.benchmark_cdi_pf[0].limiar_ultrapassado }}",
              "rightValue": "p50",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "86c9dd7f-5975-442a-92db-f977a73118fc",
              "leftValue": "={{ $json.benchmark_cdi_pf[1].limiar_ultrapassado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        48
      ],
      "id": "0c32c2e8-59fb-4a43-8830-a4382efb2d1f",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "683665e6-f279-407c-b5e7-b1594e79b0ab",
              "leftValue": "={{ $json.benchmark_cdi_pf[0].limiar_ultrapassado }}",
              "rightValue": "=p50",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2c179e04-deed-48ea-8f95-ec45860a2e2e",
              "leftValue": "={{ $json.benchmark_cdi_pf[1].limiar_ultrapassado }}",
              "rightValue": "p90",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        -96
      ],
      "id": "6de5a754-0dd2-492d-81a2-dd1c3fafdd5a",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const lista_de_itens = $input.first().json.benchmark_cdi_pf ?? [];\nconst benchmark_cdi_pf = { benchmark_cdi_pf: [] };\n\nfor (const item of lista_de_itens) {\n  if (item.limiar_ultrapassado === true) {\n    benchmark_cdi_pf.benchmark_cdi_pf.push(item);\n  }\n}\n\nreturn [{ json: benchmark_cdi_pf }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -96
      ],
      "id": "aecfc648-ae65-4565-b384-de7ce92de427",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        -192
      ],
      "id": "7941cba1-1992-4e2d-8c48-2695a60e4698",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "75f6c986-7c74-407f-8972-42dc4f61e365",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        192
      ],
      "id": "d6dde604-c1f2-4a22-9e92-7fb2a5a9475e",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "command": "rm /data/repos/unifinance_notificacoes/files/output/benchmark_cdi_pf.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1408,
        608
      ],
      "id": "e882d4a7-2ed7-4d4b-baae-50628c295cd2",
      "name": "Execute Command",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "rm /data/repos/unifinance_notificacoes/files/input/benchmark_cdi_pf.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1184,
        608
      ],
      "id": "bb3faf0f-299f-4d95-8728-90030c9b37b7",
      "name": "Execute Command1",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "get sess": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch gestor_sap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST1": {
      "main": [
        []
      ]
    },
    "fetch gestor_sap": {
      "main": [
        [
          {
            "node": "pf array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf array": {
      "main": [
        [
          {
            "node": "ids_destinatarios_gestor_sap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "benchmark_cdi_pf_p90",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ids_destinatarios_gestor_sap": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Apenas com IDS gestores SAP": {
      "main": [
        [
          {
            "node": "POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "benchmark_cdi_pf_p50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "benchmark_cdi_pf_p50": {
      "main": [
        [
          {
            "node": "POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "benchmark_cdi_pf_p90": {
      "main": [
        [
          {
            "node": "POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Apenas com IDS gestores SAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "baseUrl": "https://hub-unifinance.novadata.dev/"
        }
      }
    ]
  },
  "versionId": "0b1e02d3-8aac-4f61-a025-47427e933a3b",
  "activeVersionId": "0b1e02d3-8aac-4f61-a025-47427e933a3b",
  "versionCounter": 92,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T20:47:51.243Z",
      "createdAt": "2026-03-06T20:47:51.243Z",
      "role": "workflow:owner",
      "workflowId": "WHDc9JBd5bzr8zKkvb1PA",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T21:09:38.422Z",
      "createdAt": "2026-03-06T21:09:38.422Z",
      "id": "qXDhmpi09wHo88pH",
      "name": "!fix-case"
    },
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-09T18:47:11.835Z",
    "createdAt": "2026-03-09T18:47:09.056Z",
    "versionId": "0b1e02d3-8aac-4f61-a025-47427e933a3b",
    "workflowId": "WHDc9JBd5bzr8zKkvb1PA",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xheMnVM_dYQ2wwSqwaD53",
            "mode": "list",
            "cachedResultUrl": "/workflow/xheMnVM_dYQ2wwSqwaD53",
            "cachedResultName": "[UNIF]Auth.FetchSessDjango.WF_v2.0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "={{ $json.baseUrl }}",
              "loginPath": "login/",
              "csrfFieldName": "csrftoken"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "csrfFieldName",
                "displayName": "csrfFieldName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1408,
          144
        ],
        "id": "eb852e10-4180-45bf-893f-a1e77a4dff10",
        "name": "get sess"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "baseUrl"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1632,
          240
        ],
        "id": "81494096-a8fb-4fb9-bb73-a07e656dff28",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "fileSelector": "/data/repos/unifinance_notificacoes/files/output/benchmark_cdi_pf.json",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          -1184,
          -96
        ],
        "id": "6a0287c6-15ff-45cc-a886-7c6b1af73969",
        "name": "Read/Write Files from Disk",
        "executeOnce": false
      },
      {
        "parameters": {
          "operation": "fromJson",
          "destinationKey": "benchmark_cdi_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -960,
          -96
        ],
        "id": "50a2e0a3-6bee-4c5f-b2a2-78c3e2b00b96",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c607c30b-b697-4c83-a569-46e1694128e2",
                "name": "benchmark_cdi_pf",
                "value": "={{ $json.benchmark_cdi_pf.itens.notificacoes }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -736,
          -96
        ],
        "id": "3fd326f3-8cd7-4095-a559-e5c33f57cecf",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$('get sess').item.json.baseUrl}}api/notificacao/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $('get sess').item.json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-CSRFToken",
                "value": "={{ $('get sess').item.json.csrfCookie }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          832,
          144
        ],
        "id": "e9473754-b16b-4026-816d-20abb7cf26b3",
        "name": "POST1",
        "executeOnce": false,
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "={{ $json.baseUrl }}clientes/todos_usuarios_sap/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $json.baseUrl }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -288,
          432
        ],
        "id": "fa3c3ad2-fa6f-44c7-8378-40acade1dbef",
        "name": "fetch gestor_sap",
        "retryOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "fieldToSplitOut": "todos_usuarios",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -64,
          432
        ],
        "id": "3e482dee-290e-4022-bf29-d911f42e17ce",
        "name": "pf array"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          384,
          336
        ],
        "id": "da0d0562-414c-4d4e-8ba2-4cb43fcb211a",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f68d428e-2463-4556-8461-2231916266e5",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          160,
          432
        ],
        "id": "22bb51fa-c5a6-468b-949e-3b589f42d654",
        "name": "ids_destinatarios_gestor_sap"
      },
      {
        "parameters": {
          "jsCode": "// ------------------------------\n// Funções auxiliares\n// ------------------------------\nfunction toBRL(n) {\n  n = n !== null && n !== undefined ? parseFloat(n) : 0.0;\n  return n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction toPct(n) {\n  n = n !== null && n !== undefined ? parseFloat(n) : 0.0;\n  return n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%';\n}\n\nfunction escapeHtml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\n// ------------------------------\n// Processamento principal\n// ------------------------------\nconst GATILHO_SLUG = \"benchmark_cdi_pf\";\nlet ids_destinatarios = [];\nlet items_notificacao = [];\nconst new_items = [];\n\n// PRIMEIRA PASSAGEM: Separar dados de notificação dos IDs\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  if ('id' in j && (typeof j.id === 'number' || typeof j.id === 'string') && !('detalhes' in j)) {\n    try {\n      ids_destinatarios.push(parseInt(j.id));\n    } catch {\n      ids_destinatarios.push(j.id);\n    }\n  } else if (GATILHO_SLUG in j || 'detalhes' in j) {\n    items_notificacao.push(j);\n  }\n}\n\n// Remove duplicados\nids_destinatarios = [...new Set(ids_destinatarios)];\n\n// Fallback: usa ID 1 (Admin) se vazio\nif (ids_destinatarios.length === 0) {\n  console.log(\"AVISO: Array de destinatários vazio. Usando ID 1 (Admin) como fallback.\");\n  ids_destinatarios = [1];\n}\n\n// SEGUNDA PASSAGEM: Montar as notificações\nif (items_notificacao.length === 0) {\n  return [];\n}\n\nfor (let idx_notificacao = 0; idx_notificacao < items_notificacao.length; idx_notificacao++) {\n  const j_item = items_notificacao[idx_notificacao];\n  const j = j_item[GATILHO_SLUG] ?? j_item;\n\n  const detalhes_texto = escapeHtml(String(j.detalhes));\n  const nome_alvo = j.nome_alvo;\n  const id_alvo = j.id_alvo;\n  const p50 = parseFloat(j.p50 ?? 0.0);\n  const p90 = parseFloat(j.p90 ?? 0.0);\n  const n_ratios = parseInt(j.n_ratios ?? 0);\n\n  const is_mediana = String(j.detalhes).includes(\"Mediana\");\n  const valor_ratio = is_mediana ? p50 : p90;\n  const label_ratio = is_mediana ? \"Mediana (p50)\" : \"Percentil 90 (p90)\";\n\n  const limiar_baixa = j.limiar_ratio_baixa ?? null;\n  const limiar_alta = j.limiar_ratio_alta ?? null;\n  const limiar = limiar_baixa !== null ? limiar_baixa : limiar_alta;\n\n  const descricao_html =\n    `<p><strong>Detalhes da Avaliação:</strong></p>` +\n    `<ol>` +\n    `<li><strong>Mediana (p50):</strong> ${p50.toFixed(2)}</li>` +\n    `<li><strong>Percentil 90 (p90):</strong> ${p90.toFixed(2)}</li>` +\n    `<li><strong>Número de Clientes (Ratios Válidos):</strong> ${n_ratios}</li>` +\n    `<p><em>Disparo de alerta quando o benchmark CDI (100%-120%) não é atendido pela rentabilidade (P50/P90) de clientes PF em 12 meses.</em></p>` +\n    `</ol>`;\n\n  for (const destinatario_id of ids_destinatarios) {\n    new_items.push({\n      json: {\n        titulo: \"⚠️ Alerta: Benchmark CDI - Cliente PF\",\n        descricao: descricao_html,\n        destinatario: destinatario_id,\n        tipo_notificacao: \"Rentabilidade abaixo do benchmark\",\n      },\n      pairedItem: { item: idx_notificacao },\n    });\n  }\n}\n\nreturn new_items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          -48
        ],
        "id": "03c1a8fd-8da9-4bbb-9adf-8382062f1e0a",
        "name": "Apenas com IDS gestores SAP",
        "executeOnce": false,
        "alwaysOutputData": false
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          384,
          144
        ],
        "id": "8b686a34-95f3-4d1b-afa7-3da204ec9660",
        "name": "Merge1"
      },
      {
        "parameters": {
          "jsCode": "// ------------------------------\n// Funções auxiliares\n// ------------------------------\nfunction toBRL(n) {\n  n = n !== null && n !== undefined ? parseFloat(n) : 0.0;\n  return n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction toPct(n) {\n  n = n !== null && n !== undefined ? parseFloat(n) : 0.0;\n  return n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '%';\n}\n\n// ------------------------------\n// Processamento principal\n// ------------------------------\nconst GATILHO_SLUG = \"benchmark_cdi_pf_p50\";\nlet ids_destinatarios = [];\nlet items_notificacao = [];\nconst new_items = [];\n\n// PRIMEIRA PASSAGEM: Separar IDs e notificações\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  if ('id' in j && (typeof j.id === 'number' || typeof j.id === 'string') && !('detalhes' in j)) {\n    try {\n      ids_destinatarios.push(parseInt(j.id));\n    } catch {\n      ids_destinatarios.push(j.id);\n    }\n  } else if (GATILHO_SLUG in j || 'detalhes' in j) {\n    items_notificacao.push(j);\n  }\n}\n\nids_destinatarios = [...new Set(ids_destinatarios)];\nif (ids_destinatarios.length === 0) ids_destinatarios = [1];\n\n// ------------------------------\n// SEGUNDA PASSAGEM: Montagem das notificações p50\n// ------------------------------\nfor (let idx_notificacao = 0; idx_notificacao < items_notificacao.length; idx_notificacao++) {\n  const j_item = items_notificacao[idx_notificacao];\n  const j = j_item[GATILHO_SLUG] ?? j_item;\n\n  const nome_alvo = j.nome_alvo ?? \"Cliente não informado\";\n  const id_alvo = j.id_alvo ?? null;\n  const p50 = parseFloat(j.p50 ?? 0.0);\n  const n_ratios = parseInt(j.n_ratios ?? 0);\n  const CDI_REF = parseFloat(j.limiar_ratio_baixa ?? 1.0);\n  const crossed_p50 = j.threshold_crossed_p50 !== undefined ? Boolean(j.threshold_crossed_p50) : p50 < CDI_REF;\n\n  if (!crossed_p50) continue;\n\n  const descricao_html =\n    `<ol>` +\n    `<strong>Detalhes da Avaliação:</strong> ${p50.toFixed(2)}` +\n    `<li><strong>Ratios válidos:</strong> ${n_ratios}</li>` +\n    `</ol>`;\n\n  const detalhes_notificacao =\n    `<strong>Benchmark CDI (p50)</strong> ultrapassado.<br>`;\n\n  const frase_final =\n    `<p style='color: gray; font-style: italic;'>Disparo de alerta quando o benchmark CDI (100%-120%) não é atendido pela rentabilidade (P50) de clientes PF em 12 meses.</p>`;\n\n  for (const destinatario_id of ids_destinatarios) {\n    new_items.push({\n      json: {\n        titulo: \"⚠️ Alerta: Mediana (p50) Benchmark CDI - Cliente PF\",\n        descricao: `${descricao_html}<p>${detalhes_notificacao}</p><p>${frase_final}</p>`,\n        destinatario: destinatario_id,\n        tipo_notificacao: \"Rentabilidade abaixo do benchmark\",\n      },\n      pairedItem: { item: idx_notificacao },\n    });\n  }\n}\n\nreturn new_items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          144
        ],
        "id": "c5ff8b4b-dbd0-4439-8ab2-cd509869df0f",
        "name": "benchmark_cdi_pf_p50",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "jsCode": "// ------------------------------\n// Funções auxiliares\n// ------------------------------\nfunction escapeHtml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\n// ------------------------------\n// Processamento principal (apenas p90)\n// ------------------------------\nconst GATILHO_SLUG = \"benchmark_cdi_pf\";\nlet ids_destinatarios = [];\nlet items_notificacao = [];\nconst new_items = [];\n\n// PRIMEIRA PASSAGEM: Separar dados de notificação (p90) dos IDs\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  if ('id' in j && (typeof j.id === 'number' || typeof j.id === 'string') && !('detalhes' in j)) {\n    try {\n      ids_destinatarios.push(parseInt(j.id));\n    } catch {\n      ids_destinatarios.push(j.id);\n    }\n  } else if (GATILHO_SLUG in j || 'detalhes' in j) {\n    items_notificacao.push(j);\n  }\n}\n\n// Remove IDs duplicados\nids_destinatarios = [...new Set(ids_destinatarios)];\n\n// Fallback: caso não haja IDs\nif (ids_destinatarios.length === 0) {\n  console.log(\"AVISO: Nenhum destinatário encontrado. Usando ID 1 (Admin) como fallback.\");\n  ids_destinatarios = [1];\n}\n\n// ------------------------------\n// SEGUNDA PASSAGEM: Montagem das notificações (somente p90)\n// ------------------------------\nif (items_notificacao.length === 0) {\n  return [];\n}\n\nfor (let idx_notificacao = 0; idx_notificacao < items_notificacao.length; idx_notificacao++) {\n  const j_item = items_notificacao[idx_notificacao];\n  const j = j_item[GATILHO_SLUG] ?? j_item;\n\n  const detalhes_texto = escapeHtml(String(j.detalhes));\n  const nome_alvo = j.nome_alvo;\n  const id_alvo = j.id_alvo;\n  const p90 = parseFloat(j.p90 ?? 0.0);\n  const n_ratios = parseInt(j.n_ratios ?? 0);\n\n  const limiar_baixa = j.limiar_ratio_baixa ?? null;\n  const limiar_alta = j.limiar_ratio_alta ?? null;\n  const limiar = limiar_baixa !== null ? limiar_baixa : limiar_alta;\n\n  const descricao_html =\n    `<p><strong>Detalhes da Avaliação:</strong></p>` +\n    `<ol>` +\n    `<li><strong>Percentil 90 (p90):</strong> ${p90.toFixed(2)}</li>` +\n    `<li><strong>Número de Clientes (Ratios Válidos):</strong> ${n_ratios}</li>` +\n    `<p><em style='color:gray;'>Disparo de alerta quando o benchmark CDI (100%-120%) ` +\n    `não é atendido pela rentabilidade (P90) de clientes PF em 12 meses.</em></p>` +\n    `</ol>`;\n\n  for (const destinatario_id of ids_destinatarios) {\n    new_items.push({\n      json: {\n        titulo: \"⚠️ Alerta: Percentil (P90) Benchmark CDI - Cliente PF\",\n        descricao: descricao_html,\n        destinatario: destinatario_id,\n        tipo_notificacao: \"Rentabilidade abaixo do benchmark\",\n      },\n      pairedItem: { item: idx_notificacao },\n    });\n  }\n}\n\nreturn new_items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          336
        ],
        "id": "99de78e5-d627-40b1-8326-dfb136fa9537",
        "name": "benchmark_cdi_pf_p90",
        "alwaysOutputData": false
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          384,
          -48
        ],
        "id": "039357e3-4bcf-466c-8289-43244da3ad75",
        "name": "Merge2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a157b661-70b0-4fb5-8243-19ca3117c8a2",
                "leftValue": "={{ $json.benchmark_cdi_pf[0].limiar_ultrapassado }}",
                "rightValue": "p50",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              },
              {
                "id": "86c9dd7f-5975-442a-92db-f977a73118fc",
                "leftValue": "={{ $json.benchmark_cdi_pf[1].limiar_ultrapassado }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -64,
          48
        ],
        "id": "0c32c2e8-59fb-4a43-8830-a4382efb2d1f",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "683665e6-f279-407c-b5e7-b1594e79b0ab",
                "leftValue": "={{ $json.benchmark_cdi_pf[0].limiar_ultrapassado }}",
                "rightValue": "=p50",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              },
              {
                "id": "2c179e04-deed-48ea-8f95-ec45860a2e2e",
                "leftValue": "={{ $json.benchmark_cdi_pf[1].limiar_ultrapassado }}",
                "rightValue": "p90",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -288,
          -96
        ],
        "id": "6de5a754-0dd2-492d-81a2-dd1c3fafdd5a",
        "name": "If1"
      },
      {
        "parameters": {
          "jsCode": "const lista_de_itens = $input.first().json.benchmark_cdi_pf ?? [];\nconst benchmark_cdi_pf = { benchmark_cdi_pf: [] };\n\nfor (const item of lista_de_itens) {\n  if (item.limiar_ultrapassado === true) {\n    benchmark_cdi_pf.benchmark_cdi_pf.push(item);\n  }\n}\n\nreturn [{ json: benchmark_cdi_pf }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -512,
          -96
        ],
        "id": "aecfc648-ae65-4565-b384-de7ce92de427",
        "name": "Code in Python (Beta)1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "benchmark_cdi_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          160,
          -192
        ],
        "id": "7941cba1-1992-4e2d-8c48-2695a60e4698",
        "name": "Split Out1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "benchmark_cdi_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          160,
          0
        ],
        "id": "75f6c986-7c74-407f-8972-42dc4f61e365",
        "name": "Split Out"
      },
      {
        "parameters": {
          "fieldToSplitOut": "benchmark_cdi_pf",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          160,
          192
        ],
        "id": "d6dde604-c1f2-4a22-9e92-7fb2a5a9475e",
        "name": "Split Out2"
      },
      {
        "parameters": {
          "command": "rm /data/repos/unifinance_notificacoes/files/output/benchmark_cdi_pf.json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -1408,
          608
        ],
        "id": "e882d4a7-2ed7-4d4b-baae-50628c295cd2",
        "name": "Execute Command",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "rm /data/repos/unifinance_notificacoes/files/input/benchmark_cdi_pf.json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -1184,
          608
        ],
        "id": "bb3faf0f-299f-4d95-8728-90030c9b37b7",
        "name": "Execute Command1",
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "get sess": {
        "main": [
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            },
            {
              "node": "fetch gestor_sap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "get sess",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read/Write Files from Disk": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Code in Python (Beta)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST1": {
        "main": [
          []
        ]
      },
      "fetch gestor_sap": {
        "main": [
          [
            {
              "node": "pf array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pf array": {
        "main": [
          [
            {
              "node": "ids_destinatarios_gestor_sap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "benchmark_cdi_pf_p90",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ids_destinatarios_gestor_sap": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            },
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Apenas com IDS gestores SAP": {
        "main": [
          [
            {
              "node": "POST1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "benchmark_cdi_pf_p50",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "benchmark_cdi_pf_p50": {
        "main": [
          [
            {
              "node": "POST1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "benchmark_cdi_pf_p90": {
        "main": [
          [
            {
              "node": "POST1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Apenas com IDS gestores SAP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split Out2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in Python (Beta)1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command": {
        "main": [
          [
            {
              "node": "Execute Command1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version 0b1e02d3",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T18:47:11.832Z",
        "id": 98,
        "workflowId": "WHDc9JBd5bzr8zKkvb1PA",
        "versionId": "0b1e02d3-8aac-4f61-a025-47427e933a3b",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}