backups/prod/LOGLServicesEnvioEmailBacklogCLICK/LOGLServicesEnvioEmailBacklogCLICK_v21__jVsY1DgWSTQJHgWRMDFKT.json
{
  "updatedAt": "2026-03-06T20:40:04.456Z",
  "createdAt": "2026-02-26T10:53:14.865Z",
  "id": "jVsY1DgWSTQJHgWRMDFKT",
  "name": "[LOGL]Services.EnvioEmail.Backlog.CLICK_v2.1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=http://ag-neat-service.n8n-novadata-dev.svc.cluster.local:80/api/relatorio/projeto/{{$json.projetos}}/resumo-backlog/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        64
      ],
      "id": "2f469a51-d98d-4d1e-9b46-163bc7f0d752",
      "name": "resumo backlog",
      "credentials": {
        "httpHeaderAuth": {
          "id": "***",
          "name": "***"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b0c279c-9a51-4ad5-b789-21bf61743997",
              "name": "projetos",
              "value": "[256,487,741]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        112
      ],
      "id": "ef8e2ba9-2c55-4572-811f-34634caa2449",
      "name": "projetos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -624,
        112
      ],
      "id": "eda5fa36-4b6e-4f3c-a06d-ddc7571b8754",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "projetos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -848,
        112
      ],
      "id": "917b2b58-1390-44fd-9946-ed653691372d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "logbit@novadata.com.br",
        "fromName": "Agente análise Logbit",
        "toEmail": "={{ $json.email_destino.join() }}",
        "subject": "={{ $json.assunto }}",
        "contentType": "text/html",
        "contentValue": "={{ $json.corpo_html }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        -176,
        136
      ],
      "id": "58e9b2bc-d843-4acc-bdff-85fcd0f049b8",
      "name": "enviar email",
      "credentials": {
        "sendGridApi": {
          "id": "***",
          "name": "***"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1296,
        112
      ],
      "id": "6a30d88c-2e20-40bb-b93e-f5f65af49a7e",
      "name": "todaSegunda"
    }
  ],
  "connections": {
    "resumo backlog": {
      "main": [
        [
          {
            "node": "enviar email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "projetos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "resumo backlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "todaSegunda": {
      "main": [
        [
          {
            "node": "projetos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b4d55725-bfe1-4d23-a164-211ea38f712f",
  "activeVersionId": "b4d55725-bfe1-4d23-a164-211ea38f712f",
  "versionCounter": 126,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-26T10:53:14.865Z",
      "createdAt": "2026-02-26T10:53:14.865Z",
      "role": "workflow:owner",
      "workflowId": "jVsY1DgWSTQJHgWRMDFKT",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T19:22:05.116Z",
      "createdAt": "2026-03-06T19:22:05.116Z",
      "id": "gQKbe0pU2H1s6Rrt",
      "name": "@sendgrid"
    },
    {
      "updatedAt": "2026-03-06T21:08:59.858Z",
      "createdAt": "2026-03-06T19:21:19.987Z",
      "id": "LUuzlmYMIPHf7yaf",
      "name": ">semanal"
    },
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-06T20:40:07.723Z",
    "createdAt": "2026-03-06T20:40:01.018Z",
    "versionId": "b4d55725-bfe1-4d23-a164-211ea38f712f",
    "workflowId": "jVsY1DgWSTQJHgWRMDFKT",
    "nodes": [
      {
        "parameters": {
          "url": "=http://ag-neat-service.n8n-novadata-dev.svc.cluster.local:80/api/relatorio/projeto/{{$json.projetos}}/resumo-backlog/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -400,
          64
        ],
        "id": "2f469a51-d98d-4d1e-9b46-163bc7f0d752",
        "name": "resumo backlog",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4BujprILa7pLvsBC",
            "name": "Logbit_Labs_Agente_Api"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6b0c279c-9a51-4ad5-b789-21bf61743997",
                "name": "projetos",
                "value": "[256,487,741]",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1072,
          112
        ],
        "id": "ef8e2ba9-2c55-4572-811f-34634caa2449",
        "name": "projetos"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -624,
          112
        ],
        "id": "eda5fa36-4b6e-4f3c-a06d-ddc7571b8754",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "fieldToSplitOut": "projetos",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -848,
          112
        ],
        "id": "917b2b58-1390-44fd-9946-ed653691372d",
        "name": "Split Out"
      },
      {
        "parameters": {
          "resource": "mail",
          "fromEmail": "logbit@novadata.com.br",
          "fromName": "Agente análise Logbit",
          "toEmail": "={{ $json.email_destino.join() }}",
          "subject": "={{ $json.assunto }}",
          "contentType": "text/html",
          "contentValue": "={{ $json.corpo_html }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.sendGrid",
        "typeVersion": 1,
        "position": [
          -176,
          136
        ],
        "id": "58e9b2bc-d843-4acc-bdff-85fcd0f049b8",
        "name": "enviar email",
        "credentials": {
          "sendGridApi": {
            "id": "yaHli8EQGd66hkhg",
            "name": "SendGrid account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 7
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1296,
          112
        ],
        "id": "6a30d88c-2e20-40bb-b93e-f5f65af49a7e",
        "name": "todaSegunda"
      }
    ],
    "connections": {
      "resumo backlog": {
        "main": [
          [
            {
              "node": "enviar email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "projetos": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "resumo backlog",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "enviar email": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "todaSegunda": {
        "main": [
          [
            {
              "node": "projetos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version b4d55725",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-06T20:40:07.721Z",
        "id": 73,
        "workflowId": "jVsY1DgWSTQJHgWRMDFKT",
        "versionId": "b4d55725-bfe1-4d23-a164-211ea38f712f",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}