backups/workflows/backup-n8n-github-auto-on-save.json
{
  "updatedAt": "2026-02-25T14:47:23.016Z",
  "createdAt": "2026-02-19T18:49:31.866Z",
  "id": "tbDwTP62Dft8X7Q_AF6Bq",
  "name": "Backup n8n → GitHub (Auto on Save)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.workflow_id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "87fd3d1c-b88e-4b86-a589-81102cb4513f",
      "name": "Buscar Workflow Completo",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -688,
        608
      ],
      "credentials": {
        "n8nApi": {
          "id": "h2xdBpIQQCmHgqS3",
          "name": "N8n"
        }
      },
      "notes": "Busca o JSON completo do workflow que disparou o trigger."
    },
    {
      "parameters": {
        "jsCode": "// Limpa o nome do workflow para usar como nome de arquivo\nconst workflow = $input.first().json;\nconst name = workflow.name || 'sem-nome';\n\n// Remove caracteres especiais, substitui espaços por hífens\nconst cleanName = name\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '') // remove acentos\n  .replace(/[^a-z0-9\\s-]/g, '')   // remove caracteres especiais\n  .replace(/\\s+/g, '-')            // espaços viram hífens\n  .replace(/-+/g, '-')             // remove hífens duplicados\n  .replace(/^-|-$/g, '');          // remove hífens no início/fim\n\nconst filePath = `backups/workflows/${cleanName}.json`;\n\n// Formata o JSON de forma legível\nconst content = JSON.stringify(workflow, null, 2);\n\nreturn [{\n  json: {\n    filePath,\n    content,\n    workflowName: workflow.name,\n    workflowId: workflow.id\n  }\n}];"
      },
      "id": "a938f1eb-c0dc-4ac1-98ef-c77993190eea",
      "name": "Preparar Arquivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        608
      ],
      "notes": "Gera o nome do arquivo limpo e o conteúdo JSON formatado."
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "moraisinovaia",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "teste-backup-n8n",
          "mode": "list",
          "cachedResultName": "teste-backup-n8n",
          "cachedResultUrl": "https://github.com/moraisinovaia/teste-backup-n8n"
        },
        "filePath": "={{ $json.filePath }}",
        "additionalParameters": {}
      },
      "id": "2fcbcfc7-d62f-4d71-b616-9696c85a4e09",
      "name": "Verificar se Arquivo Existe",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -256,
        608
      ],
      "webhookId": "d354b99c-e2b9-4a20-9ad1-ac7f772f290e",
      "credentials": {
        "githubApi": {
          "id": "Ay79trEXKgZ5x3bA",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true,
      "notes": "Tenta buscar o arquivo no GitHub. Se não existir, retorna erro (continueOnFail = true)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "file-exists-check",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "345e8a2b-34b5-42de-8b62-ef90e37f8aac",
      "name": "Arquivo Já Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -32,
        608
      ],
      "notes": "Se retornou SHA, o arquivo já existe (Edit). Se não, é novo (Create)."
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "TimeNovaData",
        "repository": "ndt-n8n-central",
        "filePath": "={{ $('Preparar Arquivo').item.json.filePath }}",
        "fileContent": "={{ $('Preparar Arquivo').item.json.content }}",
        "commitMessage": "=✏️ Atualizado: {{ $('Preparar Arquivo').item.json.workflowName }} (ID: {{ $('Preparar Arquivo').item.json.workflowId }})"
      },
      "id": "a1db9540-b693-4dbd-b42e-bb72744a0927",
      "name": "Atualizar Arquivo (Edit)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        192,
        496
      ],
      "webhookId": "5099333d-a3f0-4050-bfa2-d71cd581dff5",
      "credentials": {
        "githubApi": {
          "id": "Ay79trEXKgZ5x3bA",
          "name": "GitHub account"
        }
      },
      "notes": "Atualiza o arquivo existente. O nó Edit do GitHub busca o SHA automaticamente."
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "moraisinovaia",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "teste-backup-n8n",
          "mode": "list",
          "cachedResultName": "teste-backup-n8n",
          "cachedResultUrl": "https://github.com/moraisinovaia/teste-backup-n8n"
        },
        "filePath": "={{ $('Preparar Arquivo').item.json.filePath }}",
        "fileContent": "={{ $('Preparar Arquivo').item.json.content }}",
        "commitMessage": "=🆕 Criado: {{ $('Preparar Arquivo').item.json.workflowName }} (ID: {{ $('Preparar Arquivo').item.json.workflowId }})"
      },
      "id": "a511963e-79a8-4518-bfee-fc094afeefc3",
      "name": "Criar Arquivo (Create)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        192,
        720
      ],
      "webhookId": "7b43dafb-9f60-4948-94ca-aef67fee8cc9",
      "credentials": {
        "githubApi": {
          "id": "Ay79trEXKgZ5x3bA",
          "name": "GitHub account"
        }
      },
      "notes": "Cria um arquivo novo no repositório para workflows que ainda não têm backup."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-status",
              "name": "status",
              "value": "={{ $json.content ? '✅ Backup OK' : '⚠️ Verificar' }}",
              "type": "string"
            },
            {
              "id": "set-workflow",
              "name": "workflow",
              "value": "={{ $('Preparar Arquivo').item.json.workflowName }}",
              "type": "string"
            },
            {
              "id": "set-path",
              "name": "caminho",
              "value": "={{ $('Preparar Arquivo').item.json.filePath }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d9011ebc-723c-49ca-89b0-ae6f1c41ca93",
      "name": "Log do Backup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        608
      ],
      "notes": "Registra o resultado do backup. Conecte um nó de notificação aqui (Slack, Email, etc.) se quiser ser avisado."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "anti-loop-condition",
              "leftValue": "={{ $json.workflow_id }}",
              "rightValue": "={{ $workflow.id }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1facd44-2064-4326-a5ed-bfa5b99437fe",
      "name": "Filtro Anti-Loop1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -928,
        304
      ],
      "notes": "Impede que este workflow dispare a si mesmo quando for salvo."
    },
    {
      "parameters": {
        "content": "## 📦 Backup Automático de Workflows → GitHub\n\n**O que este workflow faz?**\nToda vez que qualquer workflow do n8n é salvo (criado ou editado), este fluxo automaticamente envia uma cópia do JSON para o nosso repositório no GitHub.\n\n---\n\n**Como funciona (passo a passo):**\n\n1️⃣ **Trigger** → Detecta quando um workflow é salvo\n2️⃣ **Filtro Anti-Loop** → Ignora se foi este próprio workflow que foi salvo (evita loop infinito)\n3️⃣ **Buscar Workflow** → Pega o JSON completo do workflow salvo\n4️⃣ **Preparar Arquivo** → Limpa o nome e formata o conteúdo\n5️⃣ **Verificar no GitHub** → Checa se o arquivo já existe no repositório\n6️⃣ **Criar ou Atualizar** → Se é novo, cria. Se já existe, atualiza.\n7️⃣ **Log** → Registra o resultado\n\n",
        "height": 584,
        "width": 544,
        "color": 6
      },
      "id": "3a8709f4-a40b-4dc7-ab57-5b2c5046f000",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1824,
        -32
      ]
    },
    {
      "parameters": {
        "events": [
          "update",
          "activate"
        ]
      },
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        608
      ],
      "id": "4ff77ed0-545b-4135-b2ee-92ffdd9a680e",
      "name": "n8n Trigger"
    }
  ],
  "connections": {
    "Buscar Workflow Completo": {
      "main": [
        [
          {
            "node": "Preparar Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Arquivo": {
      "main": [
        [
          {
            "node": "Verificar se Arquivo Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se Arquivo Existe": {
      "main": [
        [
          {
            "node": "Arquivo Já Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arquivo Já Existe?": {
      "main": [
        [
          {
            "node": "Atualizar Arquivo (Edit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Arquivo (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Arquivo (Edit)": {
      "main": [
        [
          {
            "node": "Log do Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Arquivo (Create)": {
      "main": [
        [
          {
            "node": "Log do Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Anti-Loop1": {
      "main": [
        []
      ]
    },
    "n8n Trigger": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "n8n Trigger": [
      {
        "json": {
          "event": "Workflow updated",
          "timestamp": "2026-02-25T14:46:40.266Z",
          "workflow_id": "tbDwTP62Dft8X7Q_AF6Bq"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "67acd525-3758-4bd3-9040-be778d4cf996",
  "activeVersionId": "a2fa3017-7654-45ef-bed0-d24a5a7fc710",
  "versionCounter": 82,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-19T18:49:31.866Z",
      "createdAt": "2026-02-19T18:49:31.866Z",
      "role": "workflow:owner",
      "workflowId": "tbDwTP62Dft8X7Q_AF6Bq",
      "projectId": "kQ9HCTFoUkYF2yac",
      "project": {
        "updatedAt": "2026-02-19T01:36:26.451Z",
        "createdAt": "2026-02-18T22:28:46.875Z",
        "id": "kQ9HCTFoUkYF2yac",
        "name": "Gabriela Morais <moraisinovaiacloud@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b6dabd67-dbcd-4f75-ae7c-54536183a0ee",
        "projectRelations": [
          {
            "updatedAt": "2026-02-18T22:28:46.875Z",
            "createdAt": "2026-02-18T22:28:46.875Z",
            "userId": "b6dabd67-dbcd-4f75-ae7c-54536183a0ee",
            "projectId": "kQ9HCTFoUkYF2yac",
            "user": {
              "updatedAt": "2026-02-25T14:21:25.407Z",
              "createdAt": "2026-02-18T22:28:45.493Z",
              "id": "b6dabd67-dbcd-4f75-ae7c-54536183a0ee",
              "email": "moraisinovaiacloud@gmail.com",
              "firstName": "Gabriela",
              "lastName": "Morais",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-19T01:36:34.445Z",
                "personalization_survey_n8n_version": "1.123.7"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "H1SOT0MMKeePhVH9",
                "userActivatedAt": 1771917073311
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-25T14:46:40.295Z",
    "createdAt": "2026-02-25T14:46:38.744Z",
    "versionId": "a2fa3017-7654-45ef-bed0-d24a5a7fc710",
    "workflowId": "tbDwTP62Dft8X7Q_AF6Bq",
    "nodes": [
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $json.workflow_id }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "id": "87fd3d1c-b88e-4b86-a589-81102cb4513f",
        "name": "Buscar Workflow Completo",
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -688,
          608
        ],
        "credentials": {
          "n8nApi": {
            "id": "h2xdBpIQQCmHgqS3",
            "name": "N8n"
          }
        },
        "notes": "Busca o JSON completo do workflow que disparou o trigger."
      },
      {
        "parameters": {
          "jsCode": "// Limpa o nome do workflow para usar como nome de arquivo\nconst workflow = $input.first().json;\nconst name = workflow.name || 'sem-nome';\n\n// Remove caracteres especiais, substitui espaços por hífens\nconst cleanName = name\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '') // remove acentos\n  .replace(/[^a-z0-9\\s-]/g, '')   // remove caracteres especiais\n  .replace(/\\s+/g, '-')            // espaços viram hífens\n  .replace(/-+/g, '-')             // remove hífens duplicados\n  .replace(/^-|-$/g, '');          // remove hífens no início/fim\n\nconst filePath = `backups/workflows/${cleanName}.json`;\n\n// Formata o JSON de forma legível\nconst content = JSON.stringify(workflow, null, 2);\n\nreturn [{\n  json: {\n    filePath,\n    content,\n    workflowName: workflow.name,\n    workflowId: workflow.id\n  }\n}];"
        },
        "id": "a938f1eb-c0dc-4ac1-98ef-c77993190eea",
        "name": "Preparar Arquivo",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -464,
          608
        ],
        "notes": "Gera o nome do arquivo limpo e o conteúdo JSON formatado."
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "moraisinovaia",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "teste-backup-n8n",
            "mode": "list",
            "cachedResultName": "teste-backup-n8n",
            "cachedResultUrl": "https://github.com/moraisinovaia/teste-backup-n8n"
          },
          "filePath": "={{ $json.filePath }}",
          "additionalParameters": {}
        },
        "id": "2fcbcfc7-d62f-4d71-b616-9696c85a4e09",
        "name": "Verificar se Arquivo Existe",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -256,
          608
        ],
        "webhookId": "d354b99c-e2b9-4a20-9ad1-ac7f772f290e",
        "credentials": {
          "githubApi": {
            "id": "Ay79trEXKgZ5x3bA",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true,
        "notes": "Tenta buscar o arquivo no GitHub. Se não existir, retorna erro (continueOnFail = true)."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "file-exists-check",
                "leftValue": "={{ $json.sha }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "345e8a2b-34b5-42de-8b62-ef90e37f8aac",
        "name": "Arquivo Já Existe?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -32,
          608
        ],
        "notes": "Se retornou SHA, o arquivo já existe (Edit). Se não, é novo (Create)."
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "TimeNovaData",
          "repository": "ndt-n8n-central",
          "filePath": "={{ $('Preparar Arquivo').item.json.filePath }}",
          "fileContent": "={{ $('Preparar Arquivo').item.json.content }}",
          "commitMessage": "=✏️ Atualizado: {{ $('Preparar Arquivo').item.json.workflowName }} (ID: {{ $('Preparar Arquivo').item.json.workflowId }})"
        },
        "id": "a1db9540-b693-4dbd-b42e-bb72744a0927",
        "name": "Atualizar Arquivo (Edit)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          192,
          496
        ],
        "webhookId": "5099333d-a3f0-4050-bfa2-d71cd581dff5",
        "credentials": {
          "githubApi": {
            "id": "Ay79trEXKgZ5x3bA",
            "name": "GitHub account"
          }
        },
        "notes": "Atualiza o arquivo existente. O nó Edit do GitHub busca o SHA automaticamente."
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "moraisinovaia",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "teste-backup-n8n",
            "mode": "list",
            "cachedResultName": "teste-backup-n8n",
            "cachedResultUrl": "https://github.com/moraisinovaia/teste-backup-n8n"
          },
          "filePath": "={{ $('Preparar Arquivo').item.json.filePath }}",
          "fileContent": "={{ $('Preparar Arquivo').item.json.content }}",
          "commitMessage": "=🆕 Criado: {{ $('Preparar Arquivo').item.json.workflowName }} (ID: {{ $('Preparar Arquivo').item.json.workflowId }})"
        },
        "id": "a511963e-79a8-4518-bfee-fc094afeefc3",
        "name": "Criar Arquivo (Create)",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          192,
          720
        ],
        "webhookId": "7b43dafb-9f60-4948-94ca-aef67fee8cc9",
        "credentials": {
          "githubApi": {
            "id": "Ay79trEXKgZ5x3bA",
            "name": "GitHub account"
          }
        },
        "notes": "Cria um arquivo novo no repositório para workflows que ainda não têm backup."
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set-status",
                "name": "status",
                "value": "={{ $json.content ? '✅ Backup OK' : '⚠️ Verificar' }}",
                "type": "string"
              },
              {
                "id": "set-workflow",
                "name": "workflow",
                "value": "={{ $('Preparar Arquivo').item.json.workflowName }}",
                "type": "string"
              },
              {
                "id": "set-path",
                "name": "caminho",
                "value": "={{ $('Preparar Arquivo').item.json.filePath }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d9011ebc-723c-49ca-89b0-ae6f1c41ca93",
        "name": "Log do Backup",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          608
        ],
        "notes": "Registra o resultado do backup. Conecte um nó de notificação aqui (Slack, Email, etc.) se quiser ser avisado."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "anti-loop-condition",
                "leftValue": "={{ $json.workflow_id }}",
                "rightValue": "={{ $workflow.id }}",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f1facd44-2064-4326-a5ed-bfa5b99437fe",
        "name": "Filtro Anti-Loop1",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          -912,
          608
        ],
        "notes": "Impede que este workflow dispare a si mesmo quando for salvo."
      },
      {
        "parameters": {
          "content": "## 📦 Backup Automático de Workflows → GitHub\n\n**O que este workflow faz?**\nToda vez que qualquer workflow do n8n é salvo (criado ou editado), este fluxo automaticamente envia uma cópia do JSON para o nosso repositório no GitHub.\n\n---\n\n**Como funciona (passo a passo):**\n\n1️⃣ **Trigger** → Detecta quando um workflow é salvo\n2️⃣ **Filtro Anti-Loop** → Ignora se foi este próprio workflow que foi salvo (evita loop infinito)\n3️⃣ **Buscar Workflow** → Pega o JSON completo do workflow salvo\n4️⃣ **Preparar Arquivo** → Limpa o nome e formata o conteúdo\n5️⃣ **Verificar no GitHub** → Checa se o arquivo já existe no repositório\n6️⃣ **Criar ou Atualizar** → Se é novo, cria. Se já existe, atualiza.\n7️⃣ **Log** → Registra o resultado\n\n",
          "height": 584,
          "width": 544,
          "color": 6
        },
        "id": "3a8709f4-a40b-4dc7-ab57-5b2c5046f000",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1824,
          -32
        ]
      },
      {
        "parameters": {
          "events": [
            "update",
            "activate"
          ]
        },
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          -1120,
          608
        ],
        "id": "4ff77ed0-545b-4135-b2ee-92ffdd9a680e",
        "name": "n8n Trigger"
      }
    ],
    "connections": {
      "Buscar Workflow Completo": {
        "main": [
          [
            {
              "node": "Preparar Arquivo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Arquivo": {
        "main": [
          [
            {
              "node": "Verificar se Arquivo Existe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar se Arquivo Existe": {
        "main": [
          [
            {
              "node": "Arquivo Já Existe?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Arquivo Já Existe?": {
        "main": [
          [
            {
              "node": "Atualizar Arquivo (Edit)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar Arquivo (Create)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar Arquivo (Edit)": {
        "main": [
          [
            {
              "node": "Log do Backup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Arquivo (Create)": {
        "main": [
          [
            {
              "node": "Log do Backup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro Anti-Loop1": {
        "main": [
          [
            {
              "node": "Buscar Workflow Completo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n Trigger": {
        "main": [
          [
            {
              "node": "Filtro Anti-Loop1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gabriela Morais",
    "name": "Version a2fa3017",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-25T14:46:40.283Z",
        "id": 163,
        "workflowId": "tbDwTP62Dft8X7Q_AF6Bq",
        "versionId": "a2fa3017-7654-45ef-bed0-d24a5a7fc710",
        "event": "activated",
        "userId": "b6dabd67-dbcd-4f75-ae7c-54536183a0ee"
      }
    ]
  }
}