backups/workflows/benchmarkpostv1__AABNgskWqrbB5Jjd.json
{
  "updatedAt": "2025-11-11T18:01:13.374Z",
  "createdAt": "2025-11-10T11:51:15.220Z",
  "id": "AABNgskWqrbB5Jjd",
  "name": "benchmark_post_v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        80
      ],
      "id": "6e7322db-f6fd-40e0-b5b0-54a3a2406a11",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/data/files/uni/notifs/output/benchmark_cdi_pf.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        176,
        -16
      ],
      "id": "7f9bd278-f40a-4f10-8f55-5589ed3f34a7",
      "name": "Read/Write Files from Disk",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        -16
      ],
      "id": "d1e8c721-698b-4b01-862c-3d3f7998cea3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c607c30b-b697-4c83-a569-46e1694128e2",
              "name": "benchmark_cdi_pf",
              "value": "={{ $json.benchmark_cdi_pf.itens.notificacoes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -16
      ],
      "id": "e15bf3e8-76ca-4fb9-96cc-c6568a96032c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('get sess').item.json.baseUrl}}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        -16
      ],
      "id": "03815346-ae4e-49f3-b0c9-7942b896092b",
      "name": "POST1",
      "executeOnce": false,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl }}clientes/gastos/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        176
      ],
      "id": "db4d0b15-fbb3-4c39-b1d1-d395bcd4b6a2",
      "name": "fetch gestor_sap",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "todos_users",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        176
      ],
      "id": "93e2979c-f948-4e29-9af3-e674b68eec98",
      "name": "pf array"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        160
      ],
      "id": "c503f388-1702-47ed-8a0b-1cde79aa3363",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f68d428e-2463-4556-8461-2231916266e5",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        176
      ],
      "id": "a6c17269-c0e1-4784-a44f-226282bf9e09",
      "name": "ids_destinatarios_gestor_sap"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from html import escape\n\n# ------------------------------\n# Funções auxiliares\n# ------------------------------\ndef to_brl(n: float) -> str:\n    n = float(n) if n is not None else 0.0\n    return f\"{n:,.2f}\".replace(\",\", \"X\").replace(\".\", \",\").replace(\"X\", \".\")\n\ndef to_pct(n: float) -> str:\n    n = float(n) if n is not None else 0.0\n    return f\"{n:,.2f}%\".replace(\",\", \"X\").replace(\".\", \",\").replace(\"X\", \".\")\n\ndef ensure_list(name, value):\n    if isinstance(value, list):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é lista nem JsProxy convertível: {type(value)}\") from e\n\ndef ensure_dict(name, value):\n    if isinstance(value, dict):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é dict nem JsProxy convertível: {type(value)}\") from e\n\n\n# ------------------------------\n# Processamento principal\n# ------------------------------\nnew_items = []\nGATILHO_SLUG = \"benchmark_cdi_pf\"\nids_destinatarios = []\nitems_notificacao = []\n\n\n# PRIMEIRA PASSAGEM: Separar os dados de notificação (2 itens) dos IDs (20 itens)\nfor idx, item in enumerate(_input.all()):\n    j_raw = item.json.to_py()\n    \n    # ----------------------------------------------------------------------\n    # LÓGICA DE IDENTIFICAÇÃO DO ITEM:\n    # 1. Coletar IDs: Assumimos que IDs são itens que contêm 'id' E NÃO contêm 'detalhes' (que é da notificação)\n    #    Ajuste 'id' se o campo for diferente (ex: 'ID_PESSOA')\n    # 2. Coletar Notificação: Itens que contêm o GATILHO_SLUG ou 'detalhes'\n    # ----------------------------------------------------------------------\n    \n    # Tenta coletar o ID\n    if 'id' in j_raw and isinstance(j_raw['id'], (int, str)) and 'detalhes' not in j_raw:\n        try:\n            ids_destinatarios.append(int(j_raw['id'])) \n        except ValueError:\n            ids_destinatarios.append(j_raw['id'])\n            \n    # Tenta coletar o item de notificação\n    elif GATILHO_SLUG in j_raw or ('detalhes' in j_raw):\n        # Apenas coleta o item se ele ainda não foi adicionado ou se for diferente\n        items_notificacao.append(item)\n\n\n# Remove IDs duplicados, se houver\nids_destinatarios = list(set(ids_destinatarios)) \n\n# Fallback: Se não encontrar IDs, usa ID 1 (Admin)\nif not ids_destinatarios:\n    print(\"AVISO: Array de destinatários vazio. Usando ID 1 (Admin) como fallback.\")\n    ids_destinatarios = [1]\n\n\n# ------------------------------\n# SEGUNDA PASSAGEM: Montar as notificações (Iteração Dupla: Notificação x ID)\n# ------------------------------\nif not items_notificacao:\n    return [] \n\n# Loop 1: Itera sobre cada ITEM de NOTIFICAÇÃO (os 2 itens do fluxo de cima)\nfor idx_notificacao, item_notificacao in enumerate(items_notificacao):\n\n    j_item = item_notificacao.json.to_py()\n    j = ensure_dict(\"notificacao\", j_item.get(GATILHO_SLUG, j_item))\n\n    # Extração de campos (mantendo sua lógica)\n    detalhes_texto = escape(str(j[\"detalhes\"]))\n    nome_alvo = j[\"nome_alvo\"]\n    id_alvo = j[\"id_alvo\"]\n    p50 = float(j.get(\"p50\", 0.0))\n    p90 = float(j.get(\"p90\", 0.0))\n    n_ratios = int(j.get(\"n_ratios\", 0))\n\n    # Determina se é p50 ou p90 (Mantido)\n    is_mediana = \"Mediana\" in j[\"detalhes\"]\n    valor_ratio = p50 if is_mediana else p90\n    label_ratio = \"Mediana (p50)\" if is_mediana else \"Percentil 90 (p90)\"\n\n    # Limiares (Mantido)\n    limiar_baixa = j.get(\"limiar_ratio_baixa\")\n    limiar_alta = j.get(\"limiar_ratio_alta\")\n    limiar = limiar_baixa if limiar_baixa is not None else limiar_alta\n    \n    # ------------------------------\n    # Montagem do corpo da notificação (Mantida)\n    # ------------------------------\n    descricao_html = (\nf\"<p><strong>Detalhes da Avaliação:</strong></p>\"\n        f\"<ol>\"\n        f\"<li><strong>Mediana (p50):</strong> {p50:.2f}</li>\"\n        f\"<li><strong>Percentil 90 (p90):</strong> {p90:.2f}</li>\"\n        f\"<li><strong>Número de Clientes (Ratios Válidos):</strong> {n_ratios}</li>\"\n         f\"<p><em>Disparo de alerta quando o benchmark CDI (100%-120%) não é atendido pela rentabilidade (P50/P90) de clientes PF em 12 meses.</em></p>\"\n        f\"</ol>\"\n    )\n\n    # Loop 2: Itera sobre cada ID de DESTINATÁRIO (os 20 IDs)\n    for destinatario_id in ids_destinatarios:\n        \n        novo = {\n            \"titulo\": \"⚠️ Alerta: Benchmark CDI - Cliente PF\",\n            \"descricao\": descricao_html,\n            \"destinatario\": destinatario_id, # CHAVE: ID do destinatário da lista\n        }\n\n\n        new_items.append({\n            \"json\": novo,\n            # Usa o índice do item de notificação atual para rastreabilidade\n            \"pairedItem\": {\"item\": idx_notificacao}, \n        })\n\nreturn new_items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        -208
      ],
      "id": "09a421d7-f14e-4351-9ae4-a14c83adc885",
      "name": "Apenas com IDS gestores SAP",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultUrl": "/workflow/PlS62KJilKsPGxO2",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub-unifinance.novadata.dev/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        80
      ],
      "id": "543f3e39-0c03-47aa-a757-89badff995a1",
      "name": "get sess"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        -16
      ],
      "id": "b88dbf6e-b5c0-4755-ada5-01e12540937a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from html import escape\n\n# ------------------------------\n# Funções auxiliares\n# ------------------------------\ndef to_brl(n: float) -> str:\n    n = float(n) if n is not None else 0.0\n    return f\"{n:,.2f}\".replace(\",\", \"X\").replace(\".\", \",\").replace(\"X\", \".\")\n\ndef to_pct(n: float) -> str:\n    n = float(n) if n is not None else 0.0\n    return f\"{n:,.2f}%\".replace(\",\", \"X\").replace(\".\", \",\").replace(\"X\", \".\")\n\ndef ensure_list(name, value):\n    if isinstance(value, list):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é lista nem JsProxy convertível: {type(value)}\") from e\n\ndef ensure_dict(name, value):\n    if isinstance(value, dict):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é dict nem JsProxy convertível: {type(value)}\") from e\n\n\n# ------------------------------\n# Processamento principal\n# ------------------------------\nnew_items = []\nGATILHO_SLUG = \"benchmark_cdi_pf_p50\"\nids_destinatarios = []\nitems_notificacao = []\n\n\n# PRIMEIRA PASSAGEM: Separar IDs e notificações\nfor idx, item in enumerate(_input.all()):\n    j_raw = item.json.to_py()\n\n    # IDs de gestores\n    if 'id' in j_raw and isinstance(j_raw['id'], (int, str)) and 'detalhes' not in j_raw:\n        try:\n            ids_destinatarios.append(int(j_raw['id']))\n        except ValueError:\n            ids_destinatarios.append(j_raw['id'])\n\n    # Notificações\n    elif GATILHO_SLUG in j_raw or ('detalhes' in j_raw):\n        items_notificacao.append(item)\n\nids_destinatarios = list(set(ids_destinatarios)) or [1]\n\n# ------------------------------\n# SEGUNDA PASSAGEM: Montagem das notificações p50\n# ------------------------------\nfor idx_notificacao, item_notificacao in enumerate(items_notificacao):\n    j_item = item_notificacao.json.to_py()\n    j = ensure_dict(\"notificacao\", j_item.get(GATILHO_SLUG, j_item))\n\n    nome_alvo = j.get(\"nome_alvo\", \"Cliente não informado\")\n    id_alvo = j.get(\"id_alvo\", None)\n    p50 = float(j.get(\"p50\", 0.0))\n    n_ratios = int(j.get(\"n_ratios\", 0))\n\n    CDI_REF = float(j.get(\"limiar_ratio_baixa\", 1.0))  # 100%\n\n    crossed_p50 = bool(j.get(\"threshold_crossed_p50\", p50 < CDI_REF))\n    if not crossed_p50:\n        continue\n\n    descricao_html = (\n        f\"<ol>\"\n        f\"<strong>Detalhes da Avaliação:</strong> {p50:.2f}\"\n        f\"<li><strong>Ratios válidos:</strong> {n_ratios}</li>\"\n        f\"</ol>\"\n    )\n\n    detalhes_notificacao = (\n        f\"<strong>Benchmark CDI (p50)</strong> ultrapassado.<br>\"\n    )\n\n    frase_final = (\n        f\"<p style='color: gray; font-style: italic;'>Disparo de alerta quando o benchmark CDI (100%-120%) não é atendido pela rentabilidade (P50) de clientes PF em 12 meses.</p>\"\n    )\n\n    for destinatario_id in ids_destinatarios:\n        novo = {\n            \"titulo\": \"⚠️ Alerta: Mediana (p50) Benchmark CDI - Cliente PF\",\n            \"descricao\": f\"{descricao_html}<p>{detalhes_notificacao}</p><p>{frase_final}</p>\",\n            \"destinatario\": destinatario_id,\n        }\n\n        new_items.append({\n            \"json\": novo,\n            \"pairedItem\": {\"item\": idx_notificacao},\n        })\n\nreturn new_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        -16
      ],
      "id": "8bebade4-9ffc-4712-a9ad-513c828fd74a",
      "name": "benchmark_cdi_pf_p50"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from html import escape\n\n# ------------------------------\n# Funções auxiliares\n# ------------------------------\ndef to_brl(n: float) -> str:\n    n = float(n) if n is not None else 0.0\n    return f\"{n:,.2f}\".replace(\",\", \"X\").replace(\".\", \",\").replace(\"X\", \".\")\n\ndef to_pct(n: float) -> str:\n    n = float(n) if n is not None else 0.0\n    return f\"{n:,.2f}%\".replace(\",\", \"X\").replace(\".\", \",\").replace(\"X\", \".\")\n\ndef ensure_list(name, value):\n    if isinstance(value, list):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é lista nem JsProxy convertível: {type(value)}\") from e\n\ndef ensure_dict(name, value):\n    if isinstance(value, dict):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é dict nem JsProxy convertível: {type(value)}\") from e\n\n\n# ------------------------------\n# Processamento principal (apenas p90)\n# ------------------------------\nnew_items = []\nGATILHO_SLUG = \"benchmark_cdi_pf\"\nids_destinatarios = []\nitems_notificacao = []\n\n# PRIMEIRA PASSAGEM: Separar dados de notificação (p90) dos IDs\nfor idx, item in enumerate(_input.all()):\n    j_raw = item.json.to_py()\n    \n    # Identificação dos tipos de item\n    if 'id' in j_raw and isinstance(j_raw['id'], (int, str)) and 'detalhes' not in j_raw:\n        try:\n            ids_destinatarios.append(int(j_raw['id'])) \n        except ValueError:\n            ids_destinatarios.append(j_raw['id'])\n    elif GATILHO_SLUG in j_raw or ('detalhes' in j_raw):\n        items_notificacao.append(item)\n\n# Remove IDs duplicados\nids_destinatarios = list(set(ids_destinatarios))\n\n# Fallback: caso não haja IDs\nif not ids_destinatarios:\n    print(\"AVISO: Nenhum destinatário encontrado. Usando ID 1 (Admin) como fallback.\")\n    ids_destinatarios = [1]\n\n# ------------------------------\n# SEGUNDA PASSAGEM: Montagem das notificações (somente p90)\n# ------------------------------\nif not items_notificacao:\n    return []\n\nfor idx_notificacao, item_notificacao in enumerate(items_notificacao):\n    j_item = item_notificacao.json.to_py()\n    j = ensure_dict(\"notificacao\", j_item.get(GATILHO_SLUG, j_item))\n\n    # Extrai apenas os campos necessários\n    detalhes_texto = escape(str(j[\"detalhes\"]))\n    nome_alvo = j[\"nome_alvo\"]\n    id_alvo = j[\"id_alvo\"]\n    p90 = float(j.get(\"p90\", 0.0))\n    n_ratios = int(j.get(\"n_ratios\", 0))\n\n    # Limiares (mantido)\n    limiar_baixa = j.get(\"limiar_ratio_baixa\")\n    limiar_alta = j.get(\"limiar_ratio_alta\")\n    limiar = limiar_baixa if limiar_baixa is not None else limiar_alta\n\n    # ------------------------------\n    # Montagem do corpo da notificação (somente p90)\n    # ------------------------------\n    descricao_html = (\n        f\"<p><strong>Detalhes da Avaliação:</strong></p>\"\n        f\"<ol>\"\n        f\"<li><strong>Percentil 90 (p90):</strong> {p90:.2f}</li>\"\n        f\"<li><strong>Número de Clientes (Ratios Válidos):</strong> {n_ratios}</li>\"\n        f\"<p><em style='color:gray;'>Disparo de alerta quando o benchmark CDI (100%-120%) \"\n        f\"não é atendido pela rentabilidade (P90) de clientes PF em 12 meses.</em></p>\"\n        f\"</ol>\"\n    )\n\n    # Envia a notificação para cada destinatário\n    for destinatario_id in ids_destinatarios:\n        novo = {\n            \"titulo\": \"⚠️ Alerta: Percentil (P90) Benchmark CDI - Cliente PF\",\n            \"descricao\": descricao_html,\n            \"destinatario\": destinatario_id,\n        }\n\n\n        new_items.append({\n            \"json\": novo,\n            \"pairedItem\": {\"item\": idx_notificacao},\n        })\n\nreturn new_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        160
      ],
      "id": "38b4a30e-f526-4d62-8808-937265f8e123",
      "name": "benchmark_cdi_pf_p90"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        -208
      ],
      "id": "d22950ef-64ad-4ab4-9241-d4b66db01b72",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a157b661-70b0-4fb5-8243-19ca3117c8a2",
              "leftValue": "={{ $json.benchmark_cdi_pf[0].limiar_ultrapassado }}",
              "rightValue": "p50",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "86c9dd7f-5975-442a-92db-f977a73118fc",
              "leftValue": "={{ $json.benchmark_cdi_pf[1].limiar_ultrapassado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        -16
      ],
      "id": "4d016e5b-7a01-4376-954a-48dcbb9183be",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "683665e6-f279-407c-b5e7-b1594e79b0ab",
              "leftValue": "={{ $json.benchmark_cdi_pf[0].limiar_ultrapassado }}",
              "rightValue": "=p50",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2c179e04-deed-48ea-8f95-ec45860a2e2e",
              "leftValue": "={{ $json.benchmark_cdi_pf[1].limiar_ultrapassado }}",
              "rightValue": "p90",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        -208
      ],
      "id": "f09c961b-8e70-4027-bb47-22447bfc8013",
      "name": "If1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "lista_de_itens = _data[\"benchmark_cdi_pf\"]\nbenchmark_cdi_pf = {\"benchmark_cdi_pf\": []}\n\nif len(lista_de_itens) > 0:\n    item_0 = lista_de_itens[0]\n    p50_0 = float(item_0[\"p50\"])\n    if p50_0 < 1.0:\n        benchmark_cdi_pf[\"benchmark_cdi_pf\"].append(item_0)\n\nif len(lista_de_itens) > 1:\n    item_1 = lista_de_itens[1]\n    p90_1 = float(item_1[\"p90\"])\n    if p90_1 < 1.2:\n        benchmark_cdi_pf[\"benchmark_cdi_pf\"].append(item_1)\n\nreturn benchmark_cdi_pf\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -16
      ],
      "id": "6e2e8f2b-6f8e-4b7f-b910-441a3940eadb",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1472,
        -528
      ],
      "id": "795b62d2-7c87-4143-8688-627c9836637e",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1472,
        -352
      ],
      "id": "954691b0-150b-4ca7-ba36-eacb8371ee07",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1472,
        -160
      ],
      "id": "1c3e06a8-d593-4fb4-bb35-da7f3886d7ce",
      "name": "Split Out2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch gestor_sap": {
      "main": [
        [
          {
            "node": "pf array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf array": {
      "main": [
        [
          {
            "node": "ids_destinatarios_gestor_sap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ids_destinatarios_gestor_sap": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "benchmark_cdi_pf_p90",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apenas com IDS gestores SAP": {
      "main": [
        [
          {
            "node": "POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch gestor_sap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "benchmark_cdi_pf_p50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "benchmark_cdi_pf_p50": {
      "main": [
        [
          {
            "node": "POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "benchmark_cdi_pf_p90": {
      "main": [
        [
          {
            "node": "POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Apenas com IDS gestores SAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2402dd52-b9bb-47c7-9da5-6fc687b7e85e",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-10T11:51:15.220Z",
      "createdAt": "2025-11-10T11:51:15.220Z",
      "role": "workflow:owner",
      "workflowId": "AABNgskWqrbB5Jjd",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}