backups/workflows/ligawebhookfotocelebridadev1__eP0L9rKzX2LfL5iL.json
{
  "updatedAt": "2025-12-11T13:17:35.048Z",
  "createdAt": "2025-10-10T13:31:19.363Z",
  "id": "eP0L9rKzX2LfL5iL",
  "name": "LIGA_Webhook_Foto_celebridade_v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "18837293-03cb-4436-a49e-d67bbb745b28",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1904,
        -80
      ],
      "id": "89b5f075-db46-4d3d-a538-9e12943d338d",
      "name": "Webhook",
      "webhookId": "18837293-03cb-4436-a49e-d67bbb745b28",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fHly2YrkXWNLdDYG",
          "name": "webhook"
        }
      }
    },
    {
      "parameters": {},
      "name": "Aguardar 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -528,
        -32
      ],
      "id": "6a9323b6-53ea-4c7d-9a17-8eb0345efc00",
      "webhookId": "retry-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"image_url\": {\"url\": null, \"error\": {\"code\": \"max_retries_exceeded\", \"message\": \"Falha ao processar imagem apos 3 tentativas\"}}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "name": "Responder Webhook Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -368,
        224
      ],
      "id": "a7ecb51e-d1bd-4b99-a02d-fe31c4fa8ade"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"image_url\": {\n    \"url\": \"{{ $json.url_imagem_processada }}\"\n  }\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "name": "Responder Webhook Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -640,
        -320
      ],
      "id": "81271247-7b94-4259-a4b1-65c32e09e2d3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "url_imagem_usuario",
              "value": "={{ $json.body.url_imagem_usuario }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "url_imagem_brinco",
              "value": "={{ $json.body.url_imagem_celebridade_1 }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "tentativas",
              "value": "=2",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "name": "Estruturar Dados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        -80
      ],
      "id": "f757c97b-efe6-497c-a4af-4698d92a683b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.images[0].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Verificar Sucesso1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        -160
      ],
      "id": "9cdc8203-7bd5-4594-bd65-e2cd4ea163b9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $item(0).json.tentativas }}",
              "rightValue": "3",
              "operator": {
                "type": "number",
                "operation": "smaller"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Verificar Tentativas1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        -48
      ],
      "id": "a267dd32-2aa0-4cfd-92f2-076ad4067ade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "tentativas",
              "value": "={{ $item(0).json.tentativas + 1 }}",
              "type": "number"
            },
            {
              "id": "2",
              "name": "url_imagem_usuario",
              "value": "={{ $item(0).json.url_imagem_usuario }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "url_imagem_celebridade",
              "value": "={{ $item(0).json.url_imagem_celebridade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Incrementar Tentativa1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -176
      ],
      "id": "46aa0283-9b72-4ba1-afdf-baf67b226643"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "url_imagem_processada",
              "value": "={{ $json.images[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extrair base",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        -320
      ],
      "id": "5bd88367-588b-46df-bcf2-14fc63c4e988"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/nano-banana/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"CRITICAL: Image 1 UNTOUCHED. Add tiny delicate earring from Image 2. CONTEXT: Image 2 is BABY EARRING - extremely small and delicate. Priority is NATURAL INTEGRATION over visibility. ANALYSIS: Image 1 ear angle, lobe, lighting, sharpness, grain. Image 2 EXACT design but scaled to baby earring size. POSITIONING: Lower third of lobe (70-80% down). Center horizontally. Both ears if both visible and clear. BABY EARRING SIZE (CRITICAL): Scale to 3-5mm MAXIMUM (very small, delicate). This should look like a REAL baby earring on adult - subtle, barely-there, refined. Design simplified to what would be visible at this tiny scale naturally. DO NOT over-render. DO NOT make artificially sharp. Match photo's natural softness/grain. NATURAL INTEGRATION (TOP PRIORITY): Earring must look PHOTOGRAPHED, not added. Match Image 1 exact sharpness level (if soft, earring soft). Apply same grain/noise pattern as skin. Subtle imperfect edges (real photography has micro-blur). Contact shadow 0.3mm barely visible. Minimal ambient occlusion 1mm at 10-15% opacity (almost invisible). Natural skin texture continuous to earring. NO perfect circles. NO CGI appearance. NO over-sharpening. 3D ORIENTATION: Match lobe plane naturally. LIGHTING: Match Image 1 exactly. Soft natural highlights. Subtle reflections. MATERIAL: Simplified at small scale - main color/material visible, fine details naturally lost due to tiny size (realistic). FORBIDDEN: Large earring. Over-rendered CGI look. Artificial sharpness. Perfect geometric shapes. Heavy shadows. Floating appearance. VERIFICATION: [ ] Tiny size (3-5mm max)? [ ] Looks PHOTOGRAPHED not added? [ ] Natural soft integration? [ ] Matches Image 1 grain/softness? [ ] Lower third lobe? [ ] Delicate baby earring appearance? PRIORITY: Natural photographic integration > Perfect design visibility. Better subtle and real than detailed and fake.\",\n  \"image_urls\": [\n    \"{{ $json.url_imagem_usuario }}\",\n    \"{{ $json.url_imagem_brinco }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\",\n  \"sync_mode\": true,\n  \"enable_safety_checker\": false\n}",
        "options": {}
      },
      "name": "nano_banana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        -80
      ],
      "id": "2449f4ad-44a4-4e15-b54c-c0c670200315",
      "credentials": {
        "openRouterApi": {
          "id": "hxfxHGUGITRJfHBs",
          "name": "OpenRouter account"
        },
        "httpHeaderAuth": {
          "id": "H5DPsfNKxwR9GSQu",
          "name": "fal.ia"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Estruturar Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 5s": {
      "main": [
        [
          {
            "node": "nano_banana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estruturar Dados1": {
      "main": [
        [
          {
            "node": "nano_banana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sucesso1": {
      "main": [
        [
          {
            "node": "Extrair base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Tentativas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Tentativas1": {
      "main": [
        [
          {
            "node": "Incrementar Tentativa1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Webhook Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incrementar Tentativa1": {
      "main": [
        [
          {
            "node": "Aguardar 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair base": {
      "main": [
        [
          {
            "node": "Responder Webhook Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nano_banana": {
      "main": [
        [
          {
            "node": "Verificar Sucesso1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n-ndt.novadata.dev",
            "x-real-ip": "159.65.163.129",
            "x-forwarded-for": "159.65.163.129",
            "x-forwarded-proto": "https",
            "x-forwarded-host": "n8n-ndt.novadata.dev",
            "x-nginx-proxy": "true",
            "content-length": "212",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "content-type": "application/json",
            "authorization": "liga_2024_secret_key_xyz123"
          },
          "params": {},
          "query": {},
          "body": {
            "url_imagem_usuario": "https://d1w2tg4923rjme.cloudfront.net/static/imagens_usuario/usuario_3760_job_150.jpg",
            "url_imagem_celebridade_1": "https://d1w2tg4923rjme.cloudfront.net/static/celeb_imagens/brinco.jpg"
          },
          "webhookUrl": "https://n8n-ndt.novadata.dev/webhook/18837293-03cb-4436-a49e-d67bbb745b28",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "14a66d08-a29f-406c-b3d6-8eb680a3bbd9",
  "activeVersionId": "14a66d08-a29f-406c-b3d6-8eb680a3bbd9",
  "versionCounter": 89,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-10T13:31:19.363Z",
      "createdAt": "2025-10-10T13:31:19.363Z",
      "role": "workflow:owner",
      "workflowId": "eP0L9rKzX2LfL5iL",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-11T13:17:35.051Z",
    "createdAt": "2025-12-11T13:17:35.051Z",
    "versionId": "14a66d08-a29f-406c-b3d6-8eb680a3bbd9",
    "workflowId": "eP0L9rKzX2LfL5iL",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "18837293-03cb-4436-a49e-d67bbb745b28",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1904,
          -80
        ],
        "id": "89b5f075-db46-4d3d-a538-9e12943d338d",
        "name": "Webhook",
        "webhookId": "18837293-03cb-4436-a49e-d67bbb745b28",
        "credentials": {
          "httpHeaderAuth": {
            "id": "fHly2YrkXWNLdDYG",
            "name": "webhook"
          }
        }
      },
      {
        "parameters": {},
        "name": "Aguardar 5s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -528,
          -32
        ],
        "id": "6a9323b6-53ea-4c7d-9a17-8eb0345efc00",
        "webhookId": "retry-webhook"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"image_url\": {\"url\": null, \"error\": {\"code\": \"max_retries_exceeded\", \"message\": \"Falha ao processar imagem apos 3 tentativas\"}}}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "name": "Responder Webhook Erro",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -368,
          224
        ],
        "id": "a7ecb51e-d1bd-4b99-a02d-fe31c4fa8ade"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"image_url\": {\n    \"url\": \"{{ $json.url_imagem_processada }}\"\n  }\n}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "name": "Responder Webhook Sucesso",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -640,
          -320
        ],
        "id": "81271247-7b94-4259-a4b1-65c32e09e2d3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "url_imagem_usuario",
                "value": "={{ $json.body.url_imagem_usuario }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "url_imagem_brinco",
                "value": "={{ $json.body.url_imagem_celebridade_1 }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "tentativas",
                "value": "=2",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "name": "Estruturar Dados1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1664,
          -80
        ],
        "id": "f757c97b-efe6-497c-a4af-4698d92a683b"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.images[0].url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Verificar Sucesso1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1216,
          -160
        ],
        "id": "9cdc8203-7bd5-4594-bd65-e2cd4ea163b9"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $item(0).json.tentativas }}",
                "rightValue": "3",
                "operator": {
                  "type": "number",
                  "operation": "smaller"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Verificar Tentativas1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -976,
          -48
        ],
        "id": "a267dd32-2aa0-4cfd-92f2-076ad4067ade"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "tentativas",
                "value": "={{ $item(0).json.tentativas + 1 }}",
                "type": "number"
              },
              {
                "id": "2",
                "name": "url_imagem_usuario",
                "value": "={{ $item(0).json.url_imagem_usuario }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "url_imagem_celebridade",
                "value": "={{ $item(0).json.url_imagem_celebridade }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "name": "Incrementar Tentativa1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -736,
          -176
        ],
        "id": "46aa0283-9b72-4ba1-afdf-baf67b226643"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "url_imagem_processada",
                "value": "={{ $json.images[0].url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "name": "Extrair base",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -960,
          -320
        ],
        "id": "5bd88367-588b-46df-bcf2-14fc63c4e988"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://fal.run/fal-ai/nano-banana/edit",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": \"CRITICAL: Image 1 UNTOUCHED. Add tiny delicate earring from Image 2. CONTEXT: Image 2 is BABY EARRING - extremely small and delicate. Priority is NATURAL INTEGRATION over visibility. ANALYSIS: Image 1 ear angle, lobe, lighting, sharpness, grain. Image 2 EXACT design but scaled to baby earring size. POSITIONING: Lower third of lobe (70-80% down). Center horizontally. Both ears if both visible and clear. BABY EARRING SIZE (CRITICAL): Scale to 3-5mm MAXIMUM (very small, delicate). This should look like a REAL baby earring on adult - subtle, barely-there, refined. Design simplified to what would be visible at this tiny scale naturally. DO NOT over-render. DO NOT make artificially sharp. Match photo's natural softness/grain. NATURAL INTEGRATION (TOP PRIORITY): Earring must look PHOTOGRAPHED, not added. Match Image 1 exact sharpness level (if soft, earring soft). Apply same grain/noise pattern as skin. Subtle imperfect edges (real photography has micro-blur). Contact shadow 0.3mm barely visible. Minimal ambient occlusion 1mm at 10-15% opacity (almost invisible). Natural skin texture continuous to earring. NO perfect circles. NO CGI appearance. NO over-sharpening. 3D ORIENTATION: Match lobe plane naturally. LIGHTING: Match Image 1 exactly. Soft natural highlights. Subtle reflections. MATERIAL: Simplified at small scale - main color/material visible, fine details naturally lost due to tiny size (realistic). FORBIDDEN: Large earring. Over-rendered CGI look. Artificial sharpness. Perfect geometric shapes. Heavy shadows. Floating appearance. VERIFICATION: [ ] Tiny size (3-5mm max)? [ ] Looks PHOTOGRAPHED not added? [ ] Natural soft integration? [ ] Matches Image 1 grain/softness? [ ] Lower third lobe? [ ] Delicate baby earring appearance? PRIORITY: Natural photographic integration > Perfect design visibility. Better subtle and real than detailed and fake.\",\n  \"image_urls\": [\n    \"{{ $json.url_imagem_usuario }}\",\n    \"{{ $json.url_imagem_brinco }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\",\n  \"sync_mode\": true,\n  \"enable_safety_checker\": false\n}",
          "options": {}
        },
        "name": "nano_banana",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1440,
          -80
        ],
        "id": "2449f4ad-44a4-4e15-b54c-c0c670200315",
        "credentials": {
          "openRouterApi": {
            "id": "hxfxHGUGITRJfHBs",
            "name": "OpenRouter account"
          },
          "httpHeaderAuth": {
            "id": "H5DPsfNKxwR9GSQu",
            "name": "fal.ia"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Estruturar Dados1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aguardar 5s": {
        "main": [
          [
            {
              "node": "nano_banana",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Estruturar Dados1": {
        "main": [
          [
            {
              "node": "nano_banana",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Sucesso1": {
        "main": [
          [
            {
              "node": "Extrair base",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Verificar Tentativas1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Tentativas1": {
        "main": [
          [
            {
              "node": "Incrementar Tentativa1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responder Webhook Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Incrementar Tentativa1": {
        "main": [
          [
            {
              "node": "Aguardar 5s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair base": {
        "main": [
          [
            {
              "node": "Responder Webhook Sucesso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "nano_banana": {
        "main": [
          [
            {
              "node": "Verificar Sucesso1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Novadata Desenvolvimento",
    "name": null,
    "description": null
  }
}