backups/workflows/logcronenviaemailbacklogv2__Ipx3fEQrjGzzj6nA.json
{
  "updatedAt": "2026-02-12T16:04:56.255Z",
  "createdAt": "2026-02-12T15:42:11.193Z",
  "id": "Ipx3fEQrjGzzj6nA",
  "name": "LOG_CRON_envia_email_backlog_v2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.email_destino.join() }}",
        "subject": "={{ $json.assunto }}",
        "message": "={{ $json.corpo_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3472,
        -616
      ],
      "id": "2a1d0c8a-36ac-4d94-9d55-cbd370f9d498",
      "name": "Send a message",
      "webhookId": "60bf0d56-2c6b-4f20-80da-ef64a980d3fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "7oUeNgUPlzGsXFJH",
          "name": "GMAIL_ndt"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://agente-analise-neat:8000/api/relatorio/projeto/{{$json.projetos}}/resumo-backlog/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3248,
        -688
      ],
      "id": "22d17ecd-b031-485c-8c26-dabff171b42b",
      "name": "resumo backlog",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fHly2YrkXWNLdDYG",
          "name": "Agente_Analise_Api"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2160,
        -616
      ],
      "id": "fe87443d-0ad0-40c7-9d9f-649106bd8b26",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b0c279c-9a51-4ad5-b789-21bf61743997",
              "name": "projetos",
              "value": "[256,487,741]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        -616
      ],
      "id": "7c9ab913-3a56-4e54-9576-ab0c04651287",
      "name": "projetos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3024,
        -616
      ],
      "id": "98aae302-188f-4d20-a11c-07bd30c6d65c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "projetos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2592,
        -624
      ],
      "id": "df5d9767-5566-4d03-bf08-066854e79774",
      "name": "Split Out"
    }
  ],
  "connections": {
    "resumo backlog": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "projetos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "projetos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "resumo backlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "054262ae-a207-4b08-bf0c-a04e4243cce1",
  "activeVersionId": null,
  "versionCounter": 37,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-12T15:42:11.193Z",
      "createdAt": "2026-02-12T15:42:11.193Z",
      "role": "workflow:owner",
      "workflowId": "Ipx3fEQrjGzzj6nA",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}