backups/workflows/logcronvetorizacaobancov0__ZYLtyw0jtQ2ml2M6.json
{
  "updatedAt": "2026-01-27T20:39:28.694Z",
  "createdAt": "2025-11-19T12:25:45.098Z",
  "id": "ZYLtyw0jtQ2ml2M6",
  "name": "LOG_cron_vetorizacao_banco_v0",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 3 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "905a4f7f-f454-4fb7-a8c2-8a28a98b992d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "python /data/repos/logbit/agente-healthy-check/pipeline_vetorizacao.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "7bdca3df-7aec-4ba9-a72f-d0f6ff27fe4f",
      "name": "pipeline de vetorização"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ebbf367-97d7-4dc0-ba60-4de74701a782",
              "name": "stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "f7a88c44-6a1b-4849-ac9d-f309b164a084",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "pipeline de vetorização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pipeline de vetorização": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "9fe2e3f4-9e04-45a0-98f5-b7cbbbb8d014",
  "activeVersionId": null,
  "versionCounter": 47,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-19T12:25:45.098Z",
      "createdAt": "2025-11-19T12:25:45.098Z",
      "role": "workflow:owner",
      "workflowId": "ZYLtyw0jtQ2ml2M6",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}