backups/workflows/logcronpopulabancov3-assement-backlog__0Fn0eS7H0MSeRAAu.json
{
  "updatedAt": "2026-01-27T20:40:03.653Z",
  "createdAt": "2025-11-14T14:55:57.774Z",
  "id": "0Fn0eS7H0MSeRAAu",
  "name": "LOG_cron_popula_banco_v3 - Assement - backlog",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "projetos",
          "mode": "list",
          "cachedResultName": "projetos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.data.resultado.projeto.nome }}",
            "neat_id": "={{ $json.data.resultado.projeto.id }}"
          },
          "matchingColumns": [
            "neat_id"
          ],
          "schema": [
            {
              "id": "neat_id",
              "displayName": "neat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding_nome",
              "displayName": "embedding_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2192,
        -1392
      ],
      "id": "270edcbc-0fbc-49b5-a45f-aa693c4f544e",
      "name": "tabela projetos",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "produtos",
          "mode": "list",
          "cachedResultName": "produtos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto_id": "={{ $json.data.resultado.projeto.id }}",
            "nome": "={{ $json.data.resultado.projeto.produto_nome }}",
            "okr": "={{ $json.data.okrs }}"
          },
          "matchingColumns": [
            "nome"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "okr",
              "displayName": "okr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding_nome",
              "displayName": "embedding_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "embedding_okr",
              "displayName": "embedding_okr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2192,
        -1200
      ],
      "id": "02c74288-b2c9-433a-85f5-88cca06fa367",
      "name": "tabela produtos",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorio_meta",
          "mode": "list",
          "cachedResultName": "relatorio_meta"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "uuid": "={{ $json.data.meta.uuid }}",
            "versao_schema": "={{ $json.data.meta.versao_schema }}",
            "gerado_em": "={{ $json.data.meta.gerado_em }}",
            "fonte": "={{ $json.data.meta.fonte }}",
            "projeto_id": "={{ $json.data.resultado.projeto.id }}"
          },
          "matchingColumns": [
            "uuid"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "versao_schema",
              "displayName": "versao_schema",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "gerado_em",
              "displayName": "gerado_em",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2192,
        -1008
      ],
      "id": "7a6e663c-0541-4dfd-847c-3f0ed5ff44b4",
      "name": "tabela relatorio meta",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 0 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3040,
        -704
      ],
      "id": "c098ba72-10f1-4371-8b47-ab79728fc8d3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db08b030-cba3-4121-9c47-b63d20a7ba46",
              "name": "uuid",
              "value": "={{ $json.uuid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        -1104
      ],
      "id": "e504df36-c8dd-4271-8268-43feab233255",
      "name": "uuid"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89896c1c-ad4d-4122-bc96-77c2f6d25840",
              "name": "relatorio meta id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        -912
      ],
      "id": "a5450d18-31e1-42d9-9895-d430a6eb0242",
      "name": "relatorio meta id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analise_projeto",
          "mode": "list",
          "cachedResultName": "analise_projeto"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_cards": "={{ $json.data.resultado.total_cards }}",
            "throughput": "={{ $json.data.resultado.metrica_qualidade.throughput }}",
            "tempo_medio_por_fase_dia": "={{ $json.data.resultado.metrica_qualidade.tempo_medio_por_fase_dia }}",
            "fase": "={{ $json.data.resultado.fase }}",
            "data": "={{$now}}",
            "relatorio_uuid": "={{ $json.data.meta.uuid }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_cards",
              "displayName": "total_cards",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "throughput",
              "displayName": "throughput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "relatorio_uuid",
              "displayName": "relatorio_uuid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tempo_medio_por_fase_dia",
              "displayName": "tempo_medio_por_fase_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2192,
        -720
      ],
      "id": "04f9461d-2c5c-463c-bfd6-60768a3b55bf",
      "name": "tabela analise projeto",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d423a5c-7652-459c-a578-23fb1a3ade2c",
              "name": "analise projeto id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        -720
      ],
      "id": "20d69e95-18e4-4102-a672-63d369f49624",
      "name": "analise projeto id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alerta_card_tipo (tipo)\nVALUES\n    ('sem_titulo'),\n    ('sem_descricao'),\n    ('sem_responsaveis'),\n    ('sem_tags'),\n    ('sem_data_criacao'),\n    ('sem_estimativa_esforco'),\n    ('sem_data_prevista'),\n    ('sem_data_desejada'),\n    ('sem_pontos'),\n    ('sem_vinculo_projeto'),\n    ('descricao_curta'),\n    ('sem_criterios_aceite'),\n    ('tags_pouco_descritivas'),\n    ('data_prevista_antes_criacao'),\n    ('data_conclusao_antes_criacao'),\n    ('card_antigo_sem_priorizacao')\nON CONFLICT (tipo) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2192,
        -528
      ],
      "id": "10ceaed1-6176-4158-8879-4c096cd73cd6",
      "name": "tabela alerta card tipo",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alerta_projeto_tipo (tipo)\nVALUES ('Similaridade título')\nON CONFLICT (tipo) DO UPDATE\nSET tipo = EXCLUDED.tipo  \nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2064,
        -336
      ],
      "id": "7c3b971b-f4ff-495f-b4d7-d44a0f657376",
      "name": "tabela alerta projeto tipo",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a617d073-6e37-48a9-afb2-498d6737169b",
              "name": "alerta projeto tipo id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        -336
      ],
      "id": "c03f66c0-4f79-48f8-94a0-897a135fefa6",
      "name": "alerta projeto tipo id"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  // Caminho até o array de similaridades\n  const similaridades = item.json?.data?.resultado?.alertas_gerais?.[0]?.similaridade_titulo;\n\n  if (Array.isArray(similaridades)) {\n    // Para cada similaridade (cada objeto com cards + grau_de_similaridade)\n    for (const sim of similaridades) {\n      // Garante que cada saida seja um item completo\n      output.push({\n        json: {\n          cards: sim.cards,\n          grau_de_similaridade: sim.grau_de_similaridade\n        }\n      });\n    }\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        -112
      ],
      "id": "7bf69974-2afd-4c45-96f8-efec2e8c121e",
      "name": "split alertas similaridade titulo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1616,
        -240
      ],
      "id": "436a6585-4303-49e4-83e1-36e036fa8cb3",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1376,
        -240
      ],
      "id": "7327f7b6-0e5a-462f-b8c3-e63c569f2a49",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alertas_projeto",
          "mode": "list",
          "cachedResultName": "alertas_projeto"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "relatorio_uuid": "={{ $('Call \\'LOG_Workf_agente_analise_cards_v3\\'').item.json.data.meta.uuid }}",
            "alerta_projeto_tipo_id": "={{ $json['alerta projeto tipo id'] }}",
            "dados": "={{ JSON.stringify(\n    {\n        \"cards\": $json.cards,\n        \"grau_de_similaridade\": $json.grau_de_similaridade\n    }\n) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "relatorio_uuid",
              "displayName": "relatorio_uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "alerta_projeto_tipo_id",
              "displayName": "alerta_projeto_tipo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dados",
              "displayName": "dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1136,
        -224
      ],
      "id": "2e700d7d-f9cc-4f4c-a71e-74b9ff669a6b",
      "name": "tabela alertas projeto",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5321157-300b-47c4-9177-a14f29bade2e",
              "name": "alertas projeto id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        -224
      ],
      "id": "555c904f-2980-4ce5-ad3e-9798da8bc999",
      "name": "alertas projeto id"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1968,
        80
      ],
      "id": "557f2dcd-17db-4a26-a2de-cd4a742b7bf3",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.resultado.cards",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2544,
        400
      ],
      "id": "3044233d-bae7-4f5b-a9a6-c58b1be41471",
      "name": "Split Card Healthchecks"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "card",
          "mode": "list",
          "cachedResultName": "card"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split Card Healthchecks').item.json.id }}",
            "data_criacao": "={{ $('Split Card Healthchecks').item.json.datas.criacao }}",
            "titulo": "={{ $('Split Card Healthchecks').item.json.titulo }}",
            "descricao": "={{ $('Split Card Healthchecks').item.json.descricao }}",
            "projeto_id": "={{ $('Call \\'LOG_Workf_agente_analise_cards_v3\\'').item.json.data.resultado.projeto.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding_titulo",
              "displayName": "embedding_titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "embedding_descricao",
              "displayName": "embedding_descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1744,
        96
      ],
      "id": "c83218c8-eb9f-43a3-9166-80f572c945f2",
      "name": "tabela card",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1968,
        432
      ],
      "id": "1f1abbc8-5fab-4869-a413-fec9ea33728d",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analise_card",
          "mode": "list",
          "cachedResultName": "analise_card"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "em_andamento": "={{ $('Loop Over Items2').item.json.em_andamento }}",
            "fase": "={{ $('Loop Over Items2').item.json.fase }}",
            "orcado": "={{ $('Loop Over Items2').item.json.orcado }}",
            "tempo_decorrido": "={{ $('Loop Over Items2').item.json.tempo_decorrido }}",
            "pontos_totais": "={{ $('Loop Over Items2').item.json.pontos_totais }}",
            "lead_time": "={{ $('Loop Over Items2').item.json.lead_time }}",
            "cycle_time": "={{ $('Loop Over Items2').item.json.cycle_time }}",
            "avaliacao": "={{ $('Loop Over Items2').item.json.avaliacao_ia }}",
            "data_prevista": "={{ $('Loop Over Items2').item.json.datas.prevista }}",
            "data_desejada": "={{ $('Loop Over Items2').item.json.datas.desejada }}",
            "data_conclusao": "={{ $('Loop Over Items2').item.json.datas.conclusao }}",
            "data_criacao_banco": "={{$now}}",
            "nota_avaliacao": "={{ $('Loop Over Items2').item.json.avaliacao_ia.nota }}",
            "relatorio_uuid": "={{ $('Call \\'LOG_Workf_agente_analise_cards_v3\\'').item.json.data.meta.uuid }}",
            "card_id": "={{ $('Loop Over Items2').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "orcado",
              "displayName": "orcado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tempo_decorrido",
              "displayName": "tempo_decorrido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "em_andamento",
              "displayName": "em_andamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "pontos_totais",
              "displayName": "pontos_totais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_time",
              "displayName": "lead_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "cycle_time",
              "displayName": "cycle_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_criacao_banco",
              "displayName": "data_criacao_banco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "avaliacao",
              "displayName": "avaliacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_prevista",
              "displayName": "data_prevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_desejada",
              "displayName": "data_desejada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_conclusao",
              "displayName": "data_conclusao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_inicio_doing",
              "displayName": "data_inicio_doing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nota_avaliacao",
              "displayName": "nota_avaliacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "relatorio_uuid",
              "displayName": "relatorio_uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "embedding_avaliacao",
              "displayName": "embedding_avaliacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1520,
        464
      ],
      "id": "54828f65-49bd-4ed9-8753-b32ce76cc030",
      "name": "tabela analise card",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mapaTipos = {\n    \"sem_titulo\": 2, \"sem_descricao\": 3, \"sem_responsaveis\": 4, \"sem_tags\": 5, \n    \"sem_data_criacao\": 6, \"sem_estimativa_esforco\": 7, \"sem_data_prevista\": 8, \n    \"sem_data_desejada\": 9, \"sem_pontos\": 10, \"sem_vinculo_projeto\": 11, \n    \"descricao_curta\": 12, \"sem_criterios_aceite\": 13, \"tags_pouco_descritivas\": 14, \n    \"data_prevista_antes_criacao\": 15, \"data_conclusao_antes_criacao\": 16, \n    \"card_antigo_sem_priorizacao\": 17\n};\n\nconst itemsDeSaida = [];\n\n// Loop sobre todos os itens de entrada (cada card no Loop Over Items8)\nfor (const item of $input.all()) {\n    \n    // Acessa o objeto de alertas de validação.\n    const alertasValidacao = item.json.alertas_validacao;\n    \n    // Obtém o ID do card original (chave de correspondência futura no Merge)\n    const cardId = item.json.id; \n    \n    // Verifica se o objeto de alertas existe\n    if (typeof alertasValidacao === 'object' && alertasValidacao !== null) {\n\n        // Itera sobre as chaves (os nomes dos alertas)\n        for (const tipoAlerta in alertasValidacao) {\n            \n            // Verifica se a chave existe no objeto E no nosso mapa de IDs\n            if (alertasValidacao.hasOwnProperty(tipoAlerta) && mapaTipos.hasOwnProperty(tipoAlerta)) {\n                \n                const statusAtivo = alertasValidacao[tipoAlerta];\n\n                // Busca o ID do tipo de alerta\n                const alertaTipoId = mapaTipos[tipoAlerta];\n\n                // Cria um novo item para cada par chave-valor\n                itemsDeSaida.push({\n                    json: {\n                        // IDs PRINCIPAIS PARA A INSERÇÃO\n                        alerta_card_tipo_id: alertaTipoId,\n                        ativo: statusAtivo, \n                        dados: JSON.stringify({ [tipoAlerta]: statusAtivo }),\n                        \n                        // CHAVE DE CORRESPONDÊNCIA PARA O MERGE\n                        card_referencia_id: cardId, \n                        tipo_alerta: tipoAlerta\n                    }\n                });\n            }\n        }\n    }\n}\n\nreturn itemsDeSaida;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        160
      ],
      "id": "fb313549-979c-48fd-a215-fb160d3f4a52",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb653848-be08-455b-8d79-1e15ab6aec62",
              "name": "analise card id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "e5888aaa-8656-4b7a-af3b-b001c5270879",
              "name": "card_referencia_id",
              "value": "={{ $json.id_card }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        464
      ],
      "id": "ca272d57-62d0-496c-9ab9-17fd463bfba9",
      "name": "analise card id"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "card_referencia_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1072,
        272
      ],
      "id": "3eae9f95-5cb2-40a7-b1de-11f1c5a4354e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alertas_card",
          "mode": "list",
          "cachedResultName": "alertas_card"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ativo": "={{ $json.ativo }}",
            "analise_card_id": "={{ $json['analise card id'] }}",
            "dados": "={{ $json.dados }}",
            "alerta_card_tipo_id": "={{ $json.alerta_card_tipo_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "dados",
              "displayName": "dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "alerta_card_tipo_id",
              "displayName": "alerta_card_tipo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        272
      ],
      "id": "50c826ca-c908-493e-9fa4-7405d6a822ca",
      "name": "tabela alertas card",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45a55509-6b29-4d6f-b889-482db85324c1",
              "name": "alertas card id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        272
      ],
      "id": "17319e97-fbab-41ca-9cd7-42487ff537be",
      "name": "alertas card id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analise_estrategica",
          "mode": "list",
          "cachedResultName": "analise_estrategica"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analise_card_id": "={{ $json['analise card id'] }}",
            "alinhado": "={{ $('Loop Over Items2').item.json.analise_estrategica_ia.alinhamento_estrategico.alinhado }}",
            "justificativa": "={{ $('Loop Over Items2').item.json.analise_estrategica_ia.alinhamento_estrategico.justificativa }}",
            "score": "={{ $('Loop Over Items2').item.json.analise_estrategica_ia.alinhamento_estrategico.pontuacao }}",
            "pontuacao_valor": "={{ $('Loop Over Items2').item.json.analise_estrategica_ia.alinhamento_estrategico.pontuacao_num }}",
            "alinhado_status": "={{ $('Loop Over Items2').item.json.analise_estrategica_ia.alinhamento_estrategico.alinhado_bool }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "alinhado",
              "displayName": "alinhado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa",
              "displayName": "justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alinhado_status",
              "displayName": "alinhado_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pontuacao_valor",
              "displayName": "pontuacao_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "embedding_justificativa",
              "displayName": "embedding_justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        464
      ],
      "id": "02bfe779-047d-494c-a94c-eb97b120e042",
      "name": "tabela analise estrategica",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "708c48ae-5623-4f75-923b-8db91e0d3579",
              "name": "analise estrategica id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        464
      ],
      "id": "a0289b31-622b-4ca1-8565-d50706a75075",
      "name": "analise estrategica id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "health_score",
          "mode": "list",
          "cachedResultName": "health_score"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analise_card_id": "={{ $json['analise card id'] }}",
            "nota_qualidade": "={{ $('Loop Over Items2').item.json.health_score.nota_qualidade }}",
            "nota_estrategica": "={{ $('Loop Over Items2').item.json.health_score.nota_estrategica }}",
            "health_score_final": "={{ $('Loop Over Items2').item.json.health_score.health_score_final }}",
            "justificativa": "={{ $('Loop Over Items2').item.json.health_score.justificativa }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_qualidade",
              "displayName": "nota_qualidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_estrategica",
              "displayName": "nota_estrategica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "health_score_final",
              "displayName": "health_score_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa",
              "displayName": "justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding_justificativa",
              "displayName": "embedding_justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        656
      ],
      "id": "b6cd4f6b-5121-49a2-bc3f-ef45cdc9abc7",
      "name": "tabela health score",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cda8c9a9-f0fc-44a6-818c-f8da319bf726",
              "name": "health score id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "0170e486-0458-42fd-bdfb-a575a5fabf34",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        656
      ],
      "id": "d4ce4714-ce65-4215-9911-588d82d68ed5",
      "name": "health score id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61c7c8ff-b016-48f0-a364-bbf59325d69f",
              "leftValue": "={{ $('Loop Over Items2').item.json.fase }}",
              "rightValue": "Concluído",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        848
      ],
      "id": "7bdadcd3-3409-45b8-b363-c8db2832d9d3",
      "name": "If"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documentacao_ia",
          "mode": "list",
          "cachedResultName": "documentacao_ia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analise_card_id": "={{ $('analise card id').item.json['analise card id'] }}",
            "conteudo": "={{ $('Loop Over Items2').item.json.documentacao_ia }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conteudo",
              "displayName": "conteudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -816,
        832
      ],
      "id": "8b7f6d6e-a047-4d9b-a10e-4ceb51557311",
      "name": "tabela documentacao ia",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "127a92af-1089-4903-bf4f-a886878aacdb",
              "name": "documentacao ia id",
              "value": "=",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        832
      ],
      "id": "9078df75-5b8d-49a9-b5f8-a8275e705054",
      "name": "documentacao ia id"
    },
    {
      "parameters": {
        "fieldToSplitOut": "responsaveis",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1968,
        1056
      ],
      "id": "eed1f99b-e871-4ae9-95c4-116d059bca2a",
      "name": "Split Out responsaveis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1744,
        1056
      ],
      "id": "5f8407fa-40e0-4f56-9a4f-ad66663145b4",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "responsavel",
          "mode": "list",
          "cachedResultName": "responsavel"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split Out responsaveis').item.json.id }}",
            "nome": "={{ $('Split Out responsaveis').item.json.nome }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding_nome",
              "displayName": "embedding_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1520,
        1072
      ],
      "id": "00d089a1-9ebb-48ea-bcd4-815fa098c3ca",
      "name": "tabela responsavel",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e12e9e96-d6f2-438e-8b2a-756916950961",
              "name": "responsavel id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        1072
      ],
      "id": "e22d5f82-d18f-4485-89c5-641053271578",
      "name": "responsavel id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "card_responsavel",
          "mode": "list",
          "cachedResultName": "card_responsavel"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "responsavel_id": "={{ $json['responsavel id'] }}",
            "card_id": "={{ $('Split Card Healthchecks').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "responsavel_id",
              "displayName": "responsavel_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        1072
      ],
      "id": "7074a164-77f6-4185-935c-6e300ce67ae8",
      "name": "tabela card responsavel",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tagsDict = {\n  1: \"Bug\",\n  2: \"Pendente Requisitos\",\n  3: \"MVP\",\n  4: \"Front\",\n  5: \"Back\",\n  6: \"Design\",\n  7: \"Produto\",\n  8: \"Feature\",\n  9: \"Infraestrutura\",\n  10: \"QA\",\n  11: \"Prioridade\",\n  12: \"Reprovado\",\n  13: \"Em Orçamento\",\n  14: \"Retrabalho\",\n  15: \"Computar\",\n  16: \"Não Computar\",\n  17: \"BI\",\n  18: \"3\",\n  19: \"2\",\n  20: \"1\",\n  21: \"irreproduzível\"\n};\n\nreturn $input.all().map(item => {\n  const tags = (item.json.tags || []).map(id => ({\n    id,\n    nome: tagsDict[id] || `Tag ${id} desconhecida`\n  }));\n  item.json.tags = tags;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        1376
      ],
      "id": "66142a31-7d2a-4930-8668-d62efa837df1",
      "name": "nome tags"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tags",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1744,
        1376
      ],
      "id": "74a0a412-5e99-4c4f-9337-de9028e3e743",
      "name": "Split Out tags"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1520,
        1376
      ],
      "id": "3954ae73-011a-4bb2-adee-a591722eab07",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tags",
          "mode": "list",
          "cachedResultName": "tags"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nome": "={{ $json.nome }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding_nome",
              "displayName": "embedding_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1264,
        1392
      ],
      "id": "2748ef05-60a8-4f63-b0e1-a607ca8afd9b",
      "name": "tabela tags",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93833e32-d8e6-4bf2-a607-d2a65e9aa1c0",
              "name": "tag id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        1392
      ],
      "id": "c989fd9d-626a-4034-bed4-a8205567258b",
      "name": "tag id"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "card_tags",
          "mode": "list",
          "cachedResultName": "card_tags"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tag_id": "={{ $json['tag id'] }}",
            "card_id": "={{ $('nome tags').item.json.id }}"
          },
          "matchingColumns": [
            "card_id",
            "tag_id"
          ],
          "schema": [
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tag_id",
              "displayName": "tag_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        1392
      ],
      "id": "d2481c39-d4eb-45f4-8161-f77fec522922",
      "name": "tabela card tags",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0KkK1Qgl3hvhrtvf",
          "mode": "list",
          "cachedResultUrl": "/workflow/0KkK1Qgl3hvhrtvf",
          "cachedResultName": "LOG_Workf_agente_analise_cards_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto": 487,
            "fase": 1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projeto",
              "displayName": "projeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2816,
        -704
      ],
      "id": "e1fa3164-c218-473c-aa71-157a8436dc6d",
      "name": "Call 'LOG_Workf_agente_analise_cards_v3'"
    }
  ],
  "connections": {
    "tabela relatorio meta": {
      "main": [
        [
          {
            "node": "uuid",
            "type": "main",
            "index": 0
          },
          {
            "node": "relatorio meta id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'LOG_Workf_agente_analise_cards_v3'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela analise projeto": {
      "main": [
        [
          {
            "node": "analise projeto id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alerta projeto tipo": {
      "main": [
        [
          {
            "node": "alerta projeto tipo id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "alerta projeto tipo id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split alertas similaridade titulo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "tabela alertas projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alertas projeto": {
      "main": [
        [
          {
            "node": "alertas projeto id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "alertas projeto id": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "tabela card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Card Healthchecks": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out responsaveis",
            "type": "main",
            "index": 0
          },
          {
            "node": "nome tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela card": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela analise card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela analise card": {
      "main": [
        [
          {
            "node": "analise card id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analise card id": {
      "main": [
        [
          {
            "node": "tabela analise estrategica",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela health score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "tabela alertas card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alertas card": {
      "main": [
        [
          {
            "node": "alertas card id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela analise estrategica": {
      "main": [
        [
          {
            "node": "analise estrategica id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela health score": {
      "main": [
        [
          {
            "node": "health score id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "tabela documentacao ia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela documentacao ia": {
      "main": [
        [
          {
            "node": "documentacao ia id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out responsaveis": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "tabela responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela responsavel": {
      "main": [
        [
          {
            "node": "responsavel id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "responsavel id": {
      "main": [
        [
          {
            "node": "tabela card responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela card responsavel": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nome tags": {
      "main": [
        [
          {
            "node": "Split Out tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out tags": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "node": "tabela tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela tags": {
      "main": [
        [
          {
            "node": "tag id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag id": {
      "main": [
        [
          {
            "node": "tabela card tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela card tags": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'LOG_Workf_agente_analise_cards_v3'": {
      "main": [
        [
          {
            "node": "Split Card Healthchecks",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela projetos",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela analise projeto",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela relatorio meta",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela alerta card tipo",
            "type": "main",
            "index": 0
          },
          {
            "node": "split alertas similaridade titulo",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela alerta projeto tipo",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a96a45b8-f8e7-4c59-ab0c-1b32d8505e3b",
  "activeVersionId": null,
  "versionCounter": 118,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-14T14:55:57.774Z",
      "createdAt": "2025-11-14T14:55:57.774Z",
      "role": "workflow:owner",
      "workflowId": "0Fn0eS7H0MSeRAAu",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-17T13:23:20.873Z",
      "createdAt": "2025-11-17T13:23:20.873Z",
      "id": "cyyrqaOoZe5awMYZ",
      "name": "Backlog"
    },
    {
      "updatedAt": "2025-11-17T13:23:42.179Z",
      "createdAt": "2025-11-17T13:23:42.179Z",
      "id": "vfz8aT8u7Qwc2ZCH",
      "name": "Assesmet"
    }
  ],
  "activeVersion": null
}