backups/workflows/logcronpopulabancov3-assement-concluido__uNbs53ZrXe4BFIPJ.json
{
  "updatedAt": "2026-01-27T20:40:00.250Z",
  "createdAt": "2025-11-17T13:25:21.544Z",
  "id": "uNbs53ZrXe4BFIPJ",
  "name": "LOG_cron_popula_banco_v3 - Assement - concluído",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data.resultado.cards",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -6512,
        1104
      ],
      "id": "d8d205be-a4a1-4d85-a693-0d9bb14ffad2",
      "name": "Split Card Healthchecks"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5712,
        1760
      ],
      "id": "d6dd81d5-3150-471f-b163-d1e4828e093d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "projetos",
          "mode": "list",
          "cachedResultName": "projetos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.data.resultado.projeto.nome }}",
            "neat_id": "={{ $json.data.resultado.projeto.id }}"
          },
          "matchingColumns": [
            "neat_id"
          ],
          "schema": [
            {
              "id": "neat_id",
              "displayName": "neat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding_nome",
              "displayName": "embedding_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6160,
        -688
      ],
      "id": "05e420d0-9ba6-4218-8b66-47de85bcdca3",
      "name": "tabela projetos",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5936,
        784
      ],
      "id": "4e4f49cf-8729-4276-a4ce-357ffe674e03",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "card",
          "mode": "list",
          "cachedResultName": "card"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split Card Healthchecks').item.json.id }}",
            "data_criacao": "={{ $('Split Card Healthchecks').item.json.datas.criacao }}",
            "titulo": "={{ $('Split Card Healthchecks').item.json.titulo }}",
            "descricao": "={{ $('Split Card Healthchecks').item.json.descricao }}",
            "projeto_id": "={{ $('Call \\'LOG_Workf_Agente_analise_cards_v2\\'').item.json.data.resultado.projeto.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding_titulo",
              "displayName": "embedding_titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "embedding_descricao",
              "displayName": "embedding_descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5712,
        800
      ],
      "id": "c29242be-f305-49b7-811d-eef24d0f46da",
      "name": "tabela card",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analise_card",
          "mode": "list",
          "cachedResultName": "analise_card"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "em_andamento": "={{ $('Loop Over Items8').item.json.em_andamento }}",
            "fase": "={{ $('Loop Over Items8').item.json.fase }}",
            "orcado": "={{ $('Loop Over Items8').item.json.orcado }}",
            "tempo_decorrido": "={{ $('Loop Over Items8').item.json.tempo_decorrido }}",
            "pontos_totais": "={{ $('Loop Over Items8').item.json.pontos_totais }}",
            "lead_time": "={{ $('Loop Over Items8').item.json.lead_time }}",
            "cycle_time": "={{ $('Loop Over Items8').item.json.cycle_time }}",
            "avaliacao": "={{ $('Loop Over Items8').item.json.avaliacao_ia }}",
            "data_prevista": "={{ $('Loop Over Items8').item.json.datas.prevista }}",
            "data_desejada": "={{ $('Loop Over Items8').item.json.datas.desejada }}",
            "data_conclusao": "={{ $('Loop Over Items8').item.json.datas.conclusao }}",
            "data_criacao_banco": "={{$now}}",
            "nota_avaliacao": "={{ $('Loop Over Items8').item.json.avaliacao_ia.nota }}",
            "relatorio_uuid": "={{ $('Call \\'LOG_Workf_Agente_analise_cards_v2\\'').item.json.data.meta.uuid }}",
            "card_id": "={{ $('Loop Over Items8').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "orcado",
              "displayName": "orcado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tempo_decorrido",
              "displayName": "tempo_decorrido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "em_andamento",
              "displayName": "em_andamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "pontos_totais",
              "displayName": "pontos_totais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_time",
              "displayName": "lead_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "cycle_time",
              "displayName": "cycle_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_criacao_banco",
              "displayName": "data_criacao_banco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "avaliacao",
              "displayName": "avaliacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_prevista",
              "displayName": "data_prevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_desejada",
              "displayName": "data_desejada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_conclusao",
              "displayName": "data_conclusao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_inicio_doing",
              "displayName": "data_inicio_doing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nota_avaliacao",
              "displayName": "nota_avaliacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "relatorio_uuid",
              "displayName": "relatorio_uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "embedding_avaliacao",
              "displayName": "embedding_avaliacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5488,
        1168
      ],
      "id": "252fd813-eec5-4d8f-8cc5-dae5cb95aff3",
      "name": "tabela analise card",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5936,
        1136
      ],
      "id": "73b52a0a-2c1d-4dbf-bfa7-62c8a09c9a62",
      "name": "Loop Over Items8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb653848-be08-455b-8d79-1e15ab6aec62",
              "name": "analise card id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "e5888aaa-8656-4b7a-af3b-b001c5270879",
              "name": "card_referencia_id",
              "value": "={{ $json.id_card }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5296,
        1168
      ],
      "id": "2e17c3b3-8b09-4b83-9f24-ff659c5b8697",
      "name": "analise card id"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "responsavel",
          "mode": "list",
          "cachedResultName": "responsavel"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split Out responsaveis').item.json.id }}",
            "nome": "={{ $('Split Out responsaveis').item.json.nome }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding_nome",
              "displayName": "embedding_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5488,
        1776
      ],
      "id": "e3b269b1-de14-419d-ab13-940e43a79bf6",
      "name": "tabela responsavel",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "responsaveis",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5936,
        1760
      ],
      "id": "7592c495-0735-44ad-a731-87652e397115",
      "name": "Split Out responsaveis"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alertas_projeto",
          "mode": "list",
          "cachedResultName": "alertas_projeto"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "relatorio_uuid": "={{ $('Call \\'LOG_Workf_Agente_analise_cards_v2\\'').item.json.data.meta.uuid }}",
            "alerta_projeto_tipo_id": "={{ $json['alerta projeto tipo id'] }}",
            "dados": "={{ JSON.stringify(\n    {\n        \"cards\": $json.cards,\n        \"grau_de_similaridade\": $json.grau_de_similaridade\n    }\n) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "relatorio_uuid",
              "displayName": "relatorio_uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "alerta_projeto_tipo_id",
              "displayName": "alerta_projeto_tipo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dados",
              "displayName": "dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5104,
        480
      ],
      "id": "b78ef86c-8dac-4dd7-ab73-c9070ecf199e",
      "name": "tabela alertas projeto",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5321157-300b-47c4-9177-a14f29bade2e",
              "name": "alertas projeto id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4896,
        480
      ],
      "id": "2982bed7-3669-4f07-86b2-ee015218e2e4",
      "name": "alertas projeto id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e12e9e96-d6f2-438e-8b2a-756916950961",
              "name": "responsavel id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5264,
        1776
      ],
      "id": "59e200ef-1e17-4dfa-ac37-2894c7ce5a25",
      "name": "responsavel id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "card_responsavel",
          "mode": "list",
          "cachedResultName": "card_responsavel"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "responsavel_id": "={{ $json['responsavel id'] }}",
            "card_id": "={{ $('Split Card Healthchecks').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "responsavel_id",
              "displayName": "responsavel_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5040,
        1776
      ],
      "id": "04983d17-f0e2-4efc-8577-d446ea7f5596",
      "name": "tabela card responsavel",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "708c48ae-5623-4f75-923b-8db91e0d3579",
              "name": "analise estrategica id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4816,
        1168
      ],
      "id": "0be5392c-c871-49e6-8282-05980cac5cae",
      "name": "analise estrategica id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "health_score",
          "mode": "list",
          "cachedResultName": "health_score"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analise_card_id": "={{ $json['analise card id'] }}",
            "nota_qualidade": "={{ $('Loop Over Items8').item.json.health_score.nota_qualidade }}",
            "nota_estrategica": "={{ $('Loop Over Items8').item.json.health_score.nota_estrategica }}",
            "health_score_final": "={{ $('Loop Over Items8').item.json.health_score.health_score_final }}",
            "justificativa": "={{ $('Loop Over Items8').item.json.health_score.justificativa }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_qualidade",
              "displayName": "nota_qualidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_estrategica",
              "displayName": "nota_estrategica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "health_score_final",
              "displayName": "health_score_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa",
              "displayName": "justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding_justificativa",
              "displayName": "embedding_justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5040,
        1360
      ],
      "id": "26ad4fb1-39ed-404d-8189-2f0085914c09",
      "name": "tabela health score",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cda8c9a9-f0fc-44a6-818c-f8da319bf726",
              "name": "health score id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4816,
        1360
      ],
      "id": "e3b7ed3d-2674-47f8-b3c6-31fde602372f",
      "name": "health score id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analise_estrategica",
          "mode": "list",
          "cachedResultName": "analise_estrategica"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analise_card_id": "={{ $json['analise card id'] }}",
            "alinhado": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.alinhado }}",
            "justificativa": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.justificativa }}",
            "score": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.pontuacao }}",
            "pontuacao_valor": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.pontuacao_num }}",
            "alinhado_status": "={{ $('Loop Over Items8').item.json.analise_estrategica_ia.alinhamento_estrategico.alinhado_bool }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "alinhado",
              "displayName": "alinhado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa",
              "displayName": "justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alinhado_status",
              "displayName": "alinhado_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pontuacao_valor",
              "displayName": "pontuacao_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "embedding_justificativa",
              "displayName": "embedding_justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5040,
        1168
      ],
      "id": "d03415bf-b53f-44e4-8a58-8e8d99dccb78",
      "name": "tabela analise estrategica",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61c7c8ff-b016-48f0-a364-bbf59325d69f",
              "leftValue": "={{ $('Loop Over Items8').item.json.fase }}",
              "rightValue": "Concluído",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5040,
        1552
      ],
      "id": "69187bfe-b2a0-4106-ade3-5355bb839b84",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "127a92af-1089-4903-bf4f-a886878aacdb",
              "name": "documentacao ia id",
              "value": "=",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4560,
        1536
      ],
      "id": "91539157-6e55-48a6-b99c-686ed225ced3",
      "name": "documentacao ia id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documentacao_ia",
          "mode": "list",
          "cachedResultName": "documentacao_ia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analise_card_id": "={{ $('analise card id').item.json['analise card id'] }}",
            "conteudo": "={{ $('Loop Over Items8').item.json.documentacao_ia }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conteudo",
              "displayName": "conteudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4784,
        1536
      ],
      "id": "0b3db1e6-7573-4f94-af8d-c677b488af65",
      "name": "tabela documentacao ia",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tags",
          "mode": "list",
          "cachedResultName": "tags"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nome": "={{ $json.nome }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding_nome",
              "displayName": "embedding_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5232,
        2096
      ],
      "id": "c6207f57-a11b-4b11-aff3-294bfc3d6647",
      "name": "tabela tags",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5488,
        2080
      ],
      "id": "4ac51ac0-33ec-4b55-aea0-05f7c3b4977a",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tags",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5712,
        2080
      ],
      "id": "68ac0105-a8f4-4d96-9c66-52917cc3e6a0",
      "name": "Split Out tags"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "card_tags",
          "mode": "list",
          "cachedResultName": "card_tags"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tag_id": "={{ $json['tag id'] }}",
            "card_id": "={{ $('nome tags').item.json.id }}"
          },
          "matchingColumns": [
            "card_id",
            "tag_id"
          ],
          "schema": [
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tag_id",
              "displayName": "tag_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4816,
        2096
      ],
      "id": "ab138fc2-c11a-4055-9632-c8b72b4a1ffc",
      "name": "tabela card tags",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93833e32-d8e6-4bf2-a607-d2a65e9aa1c0",
              "name": "tag id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5040,
        2096
      ],
      "id": "0e03b9bb-a14f-4a03-bb45-3269f1df5046",
      "name": "tag id"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "analise_projeto",
          "mode": "list",
          "cachedResultName": "analise_projeto"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_cards": "={{ $json.data.resultado.total_cards }}",
            "throughput": "={{ $json.data.resultado.metrica_qualidade.throughput }}",
            "tempo_medio_por_fase_dia": "={{ $json.data.resultado.metrica_qualidade.tempo_medio_por_fase_dia }}",
            "fase": "={{ $json.data.resultado.fase }}",
            "data": "={{$now}}",
            "relatorio_uuid": "={{ $json.data.meta.uuid }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_cards",
              "displayName": "total_cards",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "throughput",
              "displayName": "throughput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "relatorio_uuid",
              "displayName": "relatorio_uuid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tempo_medio_por_fase_dia",
              "displayName": "tempo_medio_por_fase_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6160,
        -16
      ],
      "id": "bc11abb1-7e94-4c61-9ea9-9f32f58a96f2",
      "name": "tabela analise projeto",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d423a5c-7652-459c-a578-23fb1a3ade2c",
              "name": "analise projeto id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5936,
        -16
      ],
      "id": "48483d79-69bf-4715-a7ad-fcbf4ab6ef52",
      "name": "analise projeto id"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorio_meta",
          "mode": "list",
          "cachedResultName": "relatorio_meta"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "uuid": "={{ $json.data.meta.uuid }}",
            "versao_schema": "={{ $json.data.meta.versao_schema }}",
            "gerado_em": "={{ $json.data.meta.gerado_em }}",
            "fonte": "={{ $json.data.meta.fonte }}",
            "projeto_id": "={{ $json.data.resultado.projeto.id }}"
          },
          "matchingColumns": [
            "uuid"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "versao_schema",
              "displayName": "versao_schema",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "gerado_em",
              "displayName": "gerado_em",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6160,
        -304
      ],
      "id": "dbb5cf7a-fb22-478c-a23f-25c26e6431ae",
      "name": "tabela relatorio meta",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89896c1c-ad4d-4122-bc96-77c2f6d25840",
              "name": "relatorio meta id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5936,
        -208
      ],
      "id": "918d4245-8e5e-4c0e-9851-fa10ba533974",
      "name": "relatorio meta id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alerta_projeto_tipo (tipo)\nVALUES ('Similaridade título')\nON CONFLICT (tipo) DO UPDATE\nSET tipo = EXCLUDED.tipo  \nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6032,
        368
      ],
      "id": "5bef6352-505e-4294-a67b-9a17aee87609",
      "name": "tabela alerta projeto tipo",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a617d073-6e37-48a9-afb2-498d6737169b",
              "name": "alerta projeto tipo id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5808,
        368
      ],
      "id": "5507b92a-f919-457f-83c9-d870725166c6",
      "name": "alerta projeto tipo id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db08b030-cba3-4121-9c47-b63d20a7ba46",
              "name": "uuid",
              "value": "={{ $json.uuid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5936,
        -400
      ],
      "id": "85631ca6-2ea9-4792-946b-2677598951ff",
      "name": "uuid"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alertas_card",
          "mode": "list",
          "cachedResultName": "alertas_card"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ativo": "={{ $json.ativo }}",
            "analise_card_id": "={{ $json['analise card id'] }}",
            "dados": "={{ $json.dados }}",
            "alerta_card_tipo_id": "={{ $json.alerta_card_tipo_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analise_card_id",
              "displayName": "analise_card_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "dados",
              "displayName": "dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "alerta_card_tipo_id",
              "displayName": "alerta_card_tipo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4816,
        976
      ],
      "id": "e7b440d3-498e-4a53-9898-eb30409974ef",
      "name": "tabela alertas card",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tagsDict = {\n  1: \"Bug\",\n  2: \"Pendente Requisitos\",\n  3: \"MVP\",\n  4: \"Front\",\n  5: \"Back\",\n  6: \"Design\",\n  7: \"Produto\",\n  8: \"Feature\",\n  9: \"Infraestrutura\",\n  10: \"QA\",\n  11: \"Prioridade\",\n  12: \"Reprovado\",\n  13: \"Em Orçamento\",\n  14: \"Retrabalho\",\n  15: \"Computar\",\n  16: \"Não Computar\",\n  17: \"BI\",\n  18: \"3\",\n  19: \"2\",\n  20: \"1\",\n  21: \"irreproduzível\"\n};\n\nreturn $input.all().map(item => {\n  const tags = (item.json.tags || []).map(id => ({\n    id,\n    nome: tagsDict[id] || `Tag ${id} desconhecida`\n  }));\n  item.json.tags = tags;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5936,
        2080
      ],
      "id": "85139c5e-62e7-4d26-9541-a14d3ecb3fb5",
      "name": "nome tags"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alerta_card_tipo (tipo)\nVALUES\n    ('sem_titulo'),\n    ('sem_descricao'),\n    ('sem_responsaveis'),\n    ('sem_tags'),\n    ('sem_data_criacao'),\n    ('sem_estimativa_esforco'),\n    ('sem_data_prevista'),\n    ('sem_data_desejada'),\n    ('sem_pontos'),\n    ('sem_vinculo_projeto'),\n    ('descricao_curta'),\n    ('sem_criterios_aceite'),\n    ('tags_pouco_descritivas'),\n    ('data_prevista_antes_criacao'),\n    ('data_conclusao_antes_criacao'),\n    ('card_antigo_sem_priorizacao')\nON CONFLICT (tipo) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6160,
        176
      ],
      "id": "9b0b6ec4-e2b1-435f-9be1-84724599b7f2",
      "name": "tabela alerta card tipo",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5344,
        464
      ],
      "id": "29b5b490-8da7-46ac-8ddf-b0b766d809b8",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5584,
        464
      ],
      "id": "00156a48-d7a5-4f52-bc46-ce2480ade060",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45a55509-6b29-4d6f-b889-482db85324c1",
              "name": "alertas card id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4592,
        976
      ],
      "id": "295c393d-5a16-4f7d-a649-0289c34c7c33",
      "name": "alertas card id"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  // Caminho até o array de similaridades\n  const similaridades = item.json?.data?.resultado?.alertas_gerais?.[0]?.similaridade_titulo;\n\n  if (Array.isArray(similaridades)) {\n    // Para cada similaridade (cada objeto com cards + grau_de_similaridade)\n    for (const sim of similaridades) {\n      // Garante que cada saida seja um item completo\n      output.push({\n        json: {\n          cards: sim.cards,\n          grau_de_similaridade: sim.grau_de_similaridade\n        }\n      });\n    }\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6016,
        592
      ],
      "id": "15621fd3-38cf-4112-9405-1ffdaa6eae60",
      "name": "split alertas similaridade titulo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const mapaTipos = {\n    \"sem_titulo\": 2, \"sem_descricao\": 3, \"sem_responsaveis\": 4, \"sem_tags\": 5, \n    \"sem_data_criacao\": 6, \"sem_estimativa_esforco\": 7, \"sem_data_prevista\": 8, \n    \"sem_data_desejada\": 9, \"sem_pontos\": 10, \"sem_vinculo_projeto\": 11, \n    \"descricao_curta\": 12, \"sem_criterios_aceite\": 13, \"tags_pouco_descritivas\": 14, \n    \"data_prevista_antes_criacao\": 15, \"data_conclusao_antes_criacao\": 16, \n    \"card_antigo_sem_priorizacao\": 17\n};\n\nconst itemsDeSaida = [];\n\n// Loop sobre todos os itens de entrada (cada card no Loop Over Items8)\nfor (const item of $input.all()) {\n    \n    // Acessa o objeto de alertas de validação.\n    const alertasValidacao = item.json.alertas_validacao;\n    \n    // Obtém o ID do card original (chave de correspondência futura no Merge)\n    const cardId = item.json.id; \n    \n    // Verifica se o objeto de alertas existe\n    if (typeof alertasValidacao === 'object' && alertasValidacao !== null) {\n\n        // Itera sobre as chaves (os nomes dos alertas)\n        for (const tipoAlerta in alertasValidacao) {\n            \n            // Verifica se a chave existe no objeto E no nosso mapa de IDs\n            if (alertasValidacao.hasOwnProperty(tipoAlerta) && mapaTipos.hasOwnProperty(tipoAlerta)) {\n                \n                const statusAtivo = alertasValidacao[tipoAlerta];\n\n                // Busca o ID do tipo de alerta\n                const alertaTipoId = mapaTipos[tipoAlerta];\n\n                // Cria um novo item para cada par chave-valor\n                itemsDeSaida.push({\n                    json: {\n                        // IDs PRINCIPAIS PARA A INSERÇÃO\n                        alerta_card_tipo_id: alertaTipoId,\n                        ativo: statusAtivo, \n                        dados: JSON.stringify({ [tipoAlerta]: statusAtivo }),\n                        \n                        // CHAVE DE CORRESPONDÊNCIA PARA O MERGE\n                        card_referencia_id: cardId, \n                        tipo_alerta: tipoAlerta\n                    }\n                });\n            }\n        }\n    }\n}\n\nreturn itemsDeSaida;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5328,
        864
      ],
      "id": "b8bd5281-c444-45b9-8663-bc96e67b7cd4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "card_referencia_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5040,
        976
      ],
      "id": "e9bdbef9-f5cc-490a-9215-d9eb758f9069",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "produtos",
          "mode": "list",
          "cachedResultName": "produtos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto_id": "={{ $json.data.resultado.projeto.id }}",
            "nome": "={{ $json.data.resultado.projeto.produto_nome }}",
            "okr": "={{ $json.data.okrs }}"
          },
          "matchingColumns": [
            "nome"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "projeto_id",
              "displayName": "projeto_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "okr",
              "displayName": "okr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding_nome",
              "displayName": "embedding_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "embedding_okr",
              "displayName": "embedding_okr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6160,
        -496
      ],
      "id": "69269c0b-b191-454b-9fab-60f81753d6b1",
      "name": "tabela produtos",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 0 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -7008,
        0
      ],
      "id": "97326d29-a34c-4182-8db0-8afb53827a6a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0KkK1Qgl3hvhrtvf",
          "mode": "list",
          "cachedResultUrl": "/workflow/0KkK1Qgl3hvhrtvf",
          "cachedResultName": "LOG_Workf_agente_analise_cards_v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto": 487,
            "fase": 6
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projeto",
              "displayName": "projeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6784,
        0
      ],
      "id": "852a2a22-3af6-497f-bb98-8d71d2d5a7dd",
      "name": "Call 'LOG_Workf_Agente_analise_cards_v2'"
    }
  ],
  "connections": {
    "Split Card Healthchecks": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out responsaveis",
            "type": "main",
            "index": 0
          },
          {
            "node": "nome tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "tabela responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "tabela card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela card": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela analise card": {
      "main": [
        [
          {
            "node": "analise card id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela analise card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analise card id": {
      "main": [
        [
          {
            "node": "tabela analise estrategica",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela health score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items8",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "tabela responsavel": {
      "main": [
        [
          {
            "node": "responsavel id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out responsaveis": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alertas projeto": {
      "main": [
        [
          {
            "node": "alertas projeto id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "responsavel id": {
      "main": [
        [
          {
            "node": "tabela card responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela card responsavel": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela health score": {
      "main": [
        [
          {
            "node": "health score id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela analise estrategica": {
      "main": [
        [
          {
            "node": "analise estrategica id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "tabela documentacao ia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela documentacao ia": {
      "main": [
        [
          {
            "node": "documentacao ia id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela tags": {
      "main": [
        [
          {
            "node": "tag id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "tabela tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out tags": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela card tags": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag id": {
      "main": [
        [
          {
            "node": "tabela card tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela analise projeto": {
      "main": [
        [
          {
            "node": "analise projeto id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela relatorio meta": {
      "main": [
        [
          {
            "node": "uuid",
            "type": "main",
            "index": 0
          },
          {
            "node": "relatorio meta id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alerta projeto tipo": {
      "main": [
        [
          {
            "node": "alerta projeto tipo id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "alerta projeto tipo id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "alertas projeto id": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uuid": {
      "main": [
        []
      ]
    },
    "tabela alertas card": {
      "main": [
        [
          {
            "node": "alertas card id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nome tags": {
      "main": [
        [
          {
            "node": "Split Out tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "tabela alertas projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tabela alerta card tipo": {
      "main": [
        []
      ]
    },
    "split alertas similaridade titulo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "tabela alertas card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'LOG_Workf_Agente_analise_cards_v2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'LOG_Workf_Agente_analise_cards_v2'": {
      "main": [
        [
          {
            "node": "Split Card Healthchecks",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela projetos",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela analise projeto",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela relatorio meta",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela alerta card tipo",
            "type": "main",
            "index": 0
          },
          {
            "node": "split alertas similaridade titulo",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela alerta projeto tipo",
            "type": "main",
            "index": 0
          },
          {
            "node": "tabela produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eacbb8ea-e995-4251-9082-6463c0392fb1",
  "activeVersionId": null,
  "versionCounter": 114,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-17T13:25:21.544Z",
      "createdAt": "2025-11-17T13:25:21.544Z",
      "role": "workflow:owner",
      "workflowId": "uNbs53ZrXe4BFIPJ",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-17T13:23:42.179Z",
      "createdAt": "2025-11-17T13:23:42.179Z",
      "id": "vfz8aT8u7Qwc2ZCH",
      "name": "Assesmet"
    },
    {
      "updatedAt": "2025-11-17T13:25:09.582Z",
      "createdAt": "2025-11-17T13:25:09.582Z",
      "id": "RMlMWWKH52E1JZa5",
      "name": "Concluído"
    }
  ],
  "activeVersion": null
}