backups/workflows/logcroncontextoparasystempromptchatbot__v9y0U9MuC1XjIikA.json
{
  "updatedAt": "2026-02-23T14:44:28.302Z",
  "createdAt": "2026-02-23T14:32:58.381Z",
  "id": "v9y0U9MuC1XjIikA",
  "name": "LOG_CRON_Contexto_para_system_prompt_chatbot",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "cd \"/data/repos/logbit/agente-analise-neat/apps/\" && find . -type d"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4080,
        768
      ],
      "id": "33c6f22b-c01c-45c1-b13c-952a73d2880f",
      "name": "listarDirsEmApps",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    id, \n    ref_id, \n    nome \nFROM \n    dominio_projeto;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        960
      ],
      "id": "e0387be0-db41-407f-a3b8-8bae8abebcae",
      "name": "listarProjetos",
      "credentials": {
        "postgres": {
          "id": "MGwyGRSiscdGvAtr",
          "name": "usuario n8n - labs dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.table_name, \n    array_agg(c.column_name || ' (' || c.data_type || ')' ORDER BY c.ordinal_position) as columns\nFROM information_schema.tables t\nJOIN information_schema.columns c ON t.table_name = c.table_name\nWHERE t.table_schema = 'public'\n  AND t.table_name NOT LIKE 'django_%'\n  AND t.table_name NOT LIKE 'auth_%'\nGROUP BY t.table_name\nORDER BY t.table_name;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        1344
      ],
      "id": "6262375b-e8c9-49a8-b941-44efcde93db9",
      "name": "listarTabelasEColunas",
      "credentials": {
        "postgres": {
          "id": "MGwyGRSiscdGvAtr",
          "name": "usuario n8n - labs dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    id, \n    nome, \n    analise_disparada \nFROM \n    dominio_fase;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        1152
      ],
      "id": "94993312-f133-41e7-99e2-447e40085814",
      "name": "listarFases",
      "credentials": {
        "postgres": {
          "id": "MGwyGRSiscdGvAtr",
          "name": "usuario n8n - labs dev"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "projetos",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4304,
        960
      ],
      "id": "7f741b92-2757-496d-a024-6e5c15a5ad50",
      "name": "uneProjetos"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "fases",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4304,
        1152
      ],
      "id": "ffc2a92e-0370-424d-bf16-8314638f6542",
      "name": "uneFases"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "schema",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4304,
        1344
      ],
      "id": "20f007ac-6471-42a3-9c73-662f8a466f81",
      "name": "uneTabelas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9fe423b-db97-4429-a6a9-a02fa146188f",
              "name": "dirsEmApps",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4304,
        768
      ],
      "id": "ea755b49-721c-4c44-aac5-217a91affca4",
      "name": "preparaDirsEmApps"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4528,
        1024
      ],
      "id": "7963a5da-c240-46c5-af43-8725f0a4f94c",
      "name": "uneTudo"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "contexto",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4752,
        1056
      ],
      "id": "b9f9bb60-4b62-4b33-815a-4b87e103617a",
      "name": "transformaItemUnico"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/files/logbit/contextoSystemPrompt.json",
        "dataPropertyName": "=contexto",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        5168,
        1056
      ],
      "id": "a150a445-1719-435d-a4f2-57781d16b8c0",
      "name": "escreveContextoJSON"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=contexto",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4960,
        1056
      ],
      "id": "9b1fcc18-959a-4f05-81a2-b23d486e751b",
      "name": "converteContextoJSON"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        3552,
        1120
      ],
      "id": "c3a4dad6-7b1d-4138-a881-ff4977173c11",
      "name": "horaEmHora"
    }
  ],
  "connections": {
    "listarDirsEmApps": {
      "main": [
        [
          {
            "node": "preparaDirsEmApps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listarProjetos": {
      "main": [
        [
          {
            "node": "uneProjetos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listarTabelasEColunas": {
      "main": [
        [
          {
            "node": "uneTabelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listarFases": {
      "main": [
        [
          {
            "node": "uneFases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uneProjetos": {
      "main": [
        [
          {
            "node": "uneTudo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "uneFases": {
      "main": [
        [
          {
            "node": "uneTudo",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "uneTabelas": {
      "main": [
        [
          {
            "node": "uneTudo",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "preparaDirsEmApps": {
      "main": [
        [
          {
            "node": "uneTudo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uneTudo": {
      "main": [
        [
          {
            "node": "transformaItemUnico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transformaItemUnico": {
      "main": [
        [
          {
            "node": "converteContextoJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converteContextoJSON": {
      "main": [
        [
          {
            "node": "escreveContextoJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "horaEmHora": {
      "main": [
        [
          {
            "node": "listarDirsEmApps",
            "type": "main",
            "index": 0
          },
          {
            "node": "listarProjetos",
            "type": "main",
            "index": 0
          },
          {
            "node": "listarFases",
            "type": "main",
            "index": 0
          },
          {
            "node": "listarTabelasEColunas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:horaEmHora": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "69f4fb06-0d36-4d38-91d6-c8e00021847e",
  "activeVersionId": "69f4fb06-0d36-4d38-91d6-c8e00021847e",
  "versionCounter": 11,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-23T14:32:58.381Z",
      "createdAt": "2026-02-23T14:32:58.381Z",
      "role": "workflow:owner",
      "workflowId": "v9y0U9MuC1XjIikA",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-23T14:44:09.779Z",
    "createdAt": "2026-02-23T14:44:09.779Z",
    "versionId": "69f4fb06-0d36-4d38-91d6-c8e00021847e",
    "workflowId": "v9y0U9MuC1XjIikA",
    "nodes": [
      {
        "parameters": {
          "command": "cd \"/data/repos/logbit/agente-analise-neat/apps/\" && find . -type d"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          4080,
          768
        ],
        "id": "33c6f22b-c01c-45c1-b13c-952a73d2880f",
        "name": "listarDirsEmApps",
        "executeOnce": false
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    id, \n    ref_id, \n    nome \nFROM \n    dominio_projeto;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          4080,
          960
        ],
        "id": "e0387be0-db41-407f-a3b8-8bae8abebcae",
        "name": "listarProjetos",
        "credentials": {
          "postgres": {
            "id": "MGwyGRSiscdGvAtr",
            "name": "usuario n8n - labs dev"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.table_name, \n    array_agg(c.column_name || ' (' || c.data_type || ')' ORDER BY c.ordinal_position) as columns\nFROM information_schema.tables t\nJOIN information_schema.columns c ON t.table_name = c.table_name\nWHERE t.table_schema = 'public'\n  AND t.table_name NOT LIKE 'django_%'\n  AND t.table_name NOT LIKE 'auth_%'\nGROUP BY t.table_name\nORDER BY t.table_name;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          4080,
          1344
        ],
        "id": "6262375b-e8c9-49a8-b941-44efcde93db9",
        "name": "listarTabelasEColunas",
        "credentials": {
          "postgres": {
            "id": "MGwyGRSiscdGvAtr",
            "name": "usuario n8n - labs dev"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    id, \n    nome, \n    analise_disparada \nFROM \n    dominio_fase;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          4080,
          1152
        ],
        "id": "94993312-f133-41e7-99e2-447e40085814",
        "name": "listarFases",
        "credentials": {
          "postgres": {
            "id": "MGwyGRSiscdGvAtr",
            "name": "usuario n8n - labs dev"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "projetos",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          4304,
          960
        ],
        "id": "7f741b92-2757-496d-a024-6e5c15a5ad50",
        "name": "uneProjetos"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "fases",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          4304,
          1152
        ],
        "id": "ffc2a92e-0370-424d-bf16-8314638f6542",
        "name": "uneFases"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "schema",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          4304,
          1344
        ],
        "id": "20f007ac-6471-42a3-9c73-662f8a466f81",
        "name": "uneTabelas"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e9fe423b-db97-4429-a6a9-a02fa146188f",
                "name": "dirsEmApps",
                "value": "={{ $json.stdout }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4304,
          768
        ],
        "id": "ea755b49-721c-4c44-aac5-217a91affca4",
        "name": "preparaDirsEmApps"
      },
      {
        "parameters": {
          "numberInputs": 4
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          4528,
          1024
        ],
        "id": "7963a5da-c240-46c5-af43-8725f0a4f94c",
        "name": "uneTudo"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "contexto",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          4752,
          1056
        ],
        "id": "b9f9bb60-4b62-4b33-815a-4b87e103617a",
        "name": "transformaItemUnico"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "/data/files/logbit/contextoSystemPrompt.json",
          "dataPropertyName": "=contexto",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          5168,
          1056
        ],
        "id": "a150a445-1719-435d-a4f2-57781d16b8c0",
        "name": "escreveContextoJSON"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "=contexto",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          4960,
          1056
        ],
        "id": "9b1fcc18-959a-4f05-81a2-b23d486e751b",
        "name": "converteContextoJSON"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          3552,
          1120
        ],
        "id": "c3a4dad6-7b1d-4138-a881-ff4977173c11",
        "name": "horaEmHora"
      }
    ],
    "connections": {
      "listarDirsEmApps": {
        "main": [
          [
            {
              "node": "preparaDirsEmApps",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "listarProjetos": {
        "main": [
          [
            {
              "node": "uneProjetos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "listarTabelasEColunas": {
        "main": [
          [
            {
              "node": "uneTabelas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "listarFases": {
        "main": [
          [
            {
              "node": "uneFases",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "uneProjetos": {
        "main": [
          [
            {
              "node": "uneTudo",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "uneFases": {
        "main": [
          [
            {
              "node": "uneTudo",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "uneTabelas": {
        "main": [
          [
            {
              "node": "uneTudo",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "preparaDirsEmApps": {
        "main": [
          [
            {
              "node": "uneTudo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "uneTudo": {
        "main": [
          [
            {
              "node": "transformaItemUnico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "transformaItemUnico": {
        "main": [
          [
            {
              "node": "converteContextoJSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "converteContextoJSON": {
        "main": [
          [
            {
              "node": "escreveContextoJSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "horaEmHora": {
        "main": [
          [
            {
              "node": "listarDirsEmApps",
              "type": "main",
              "index": 0
            },
            {
              "node": "listarProjetos",
              "type": "main",
              "index": 0
            },
            {
              "node": "listarFases",
              "type": "main",
              "index": 0
            },
            {
              "node": "listarTabelasEColunas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Novadata Desenvolvimento",
    "name": null,
    "description": null
  }
}