backups/workflows/logformchatemailv1__CpQGi0E8HQqzOrd4.json
{
  "updatedAt": "2026-02-20T18:49:10.454Z",
  "createdAt": "2025-11-27T18:07:50.467Z",
  "id": "CpQGi0E8HQqzOrd4",
  "name": "LOG_Form|Chat_email_v1",
  "description": "dois modos de execução pelo chatbot e pelo form",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Processa entrada: identifica se veio do chatbot ou form\nconst source = $input.item.json.source || 'form';\n\nif (source === 'chatbot') {\n  // ===== DADOS DO CHATBOT =====\n  const projeto_id = parseInt($input.item.json.projeto_id);\n  const fase = parseInt($input.item.json.fase);\n  const email = String($input.item.json.email_destino || '').trim();\n  \n  // Parse dos objetos JSON (podem vir como string ou objeto)\n  let backlog_reqs = {};\n  let backlog_metricas = {};\n  \n  try {\n    backlog_reqs = typeof $input.item.json.backlog_reqs === 'string' \n      ? JSON.parse($input.item.json.backlog_reqs) \n      : ($input.item.json.backlog_reqs || {});\n  } catch (e) {\n    console.error('Erro ao parsear backlog_reqs:', e);\n  }\n  \n  try {\n    backlog_metricas = typeof $input.item.json.backlog_metricas === 'string'\n      ? JSON.parse($input.item.json.backlog_metricas)\n      : ($input.item.json.backlog_metricas || {});\n  } catch (e) {\n    console.error('Erro ao parsear backlog_metricas:', e);\n  }\n  \n  // Mapeia projeto_id para nome do produto\n  let produtoNome = 'Desconhecido';\n  if (projeto_id === 487) produtoNome = 'Orbit';\n  else if (projeto_id === 256) produtoNome = 'Wagtail';\n  else if (projeto_id === 741) produtoNome = 'Auth';\n  \n  // Mapeia fase para nome\n  const faseNome = fase === 1 ? 'Backlog' : 'Concluídos';\n  \n  return [{\n    json: {\n      projeto_id,\n      fase,\n      Email: email,\n      backlog_reqs,\n      backlog_metricas,\n      source: 'chatbot',\n      // Campos extras para compatibilidade com fluxo do form\n      'Selecione o produto desejado': produtoNome,\n      'Selecione a fase para análise': faseNome,\n      nome: projeto_id === 487 ? 'Squad Assessment' : \n            projeto_id === 256 ? 'Squad Wagtail' : \n            projeto_id === 741 ? 'MVP Auth 2.0' : null,\n      nome_completo: projeto_id === 487 ? 'Logbit - Squad Assessment' : \n                     projeto_id === 256 ? 'Logbit - Squad Wagtail' : \n                     projeto_id === 741 ? 'Logbit - MVP Auth 2.0' : null\n    }\n  }];\n  \n} else {\n  return $input.all().map(item => {\n    return {\n      json: {\n        ...item.json, // <-- Mantém todas as chaves e valores originais do form\n        source: 'form' // <-- Adiciona explicitamente 'source: form' no JSON de saída\n      }\n    };\n  });\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        -320
      ],
      "id": "870991fa-fcff-47f0-9a68-3a1c7232271c",
      "name": "Code - Processar Origem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source }}",
                    "rightValue": "chatbot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ee67cfbd-9f7d-48db-8504-d3a7e0fbfe1a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Via Chatbot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source }}",
                    "rightValue": "form",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "886cf8f0-2fe0-4695-bdb2-f90e9c81b47f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Via Form"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1600,
        -336
      ],
      "id": "36271eac-a2e9-44bc-afae-e81e7176d723",
      "name": "Switch - Origem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fase-assignment",
              "name": "fase",
              "value": "={{ $json.fase }}",
              "type": "number"
            },
            {
              "id": "projeto-assignment",
              "name": "projeto_id",
              "value": "={{ $json.projeto_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        -416
      ],
      "id": "eeea436b-a577-4b5f-8a7b-8a1f93a5b181",
      "name": "Edit Fields - Preparar Dados Chatbot"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields - Preparar Dados Chatbot').item.json.fase }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "845468c7-9595-4ca8-99fd-04c53f9190ce"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Backlog"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields - Preparar Dados Chatbot').item.json.fase }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "57659809-74c6-46e1-a93e-e682f7961581"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Concluídos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -704,
        -416
      ],
      "id": "cc8beb92-3d8a-4b03-b943-4a02b66489c5",
      "name": "Switch - Fase (Chatbot)"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Assistente de Análise de Produtos",
        "formDescription": "Bem vindo(a)!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Selecione o produto desejado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Orbit"
                  },
                  {
                    "option": "Wagtail"
                  },
                  {
                    "option": "Auth"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "OKR do Produto",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx, .xls, .csv, .ods"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "path": "assistente_analise_produto"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -2048,
        -416
      ],
      "id": "09f8c850-ed36-4a3a-b5e7-09b04a7d4508",
      "name": "On form submission (FORM)",
      "webhookId": "cca973b4-fdac-465b-8e2f-e4be433ce17a",
      "credentials": {
        "httpBasicAuth": {
          "id": "kkloezk5E2NdLflp",
          "name": "Log_Form_teste"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Form4').item.json['Selecione a fase para análise'] }}",
                    "rightValue": "Backlog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "594ba91d-7bc6-4d2b-bd42-c4e9a648b00d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Backlog"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80e3d3e7-d42b-4c09-a6a9-3292dd9a10a0",
                    "leftValue": "={{ $('Form4').item.json['Selecione a fase para análise'] }}",
                    "rightValue": "Concluído",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Concluído"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -32,
        -128
      ],
      "id": "077ae9cd-64c2-4e26-a29f-c4e52a1c9f92",
      "name": "Switch1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Requisitos analisados nos cards do Backlog']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        -704
      ],
      "id": "5f4327ac-19ac-4db8-8a95-013c670a7493",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Métricas calculadas']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        -320
      ],
      "id": "b218b4f1-544e-49b2-8b86-d2458dea74f7",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json['[\\'Requisitos analisados nos cards do Backlog\\']'].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -704
      ],
      "id": "31a40db1-e4a7-48e1-80dd-d02524cc334b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        -704
      ],
      "id": "e918e248-e4a6-4e48-8e09-23122a130c4b",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        -704
      ],
      "id": "c0b08163-4174-402c-ad1e-657cd7d5b626",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -608
      ],
      "id": "ecb5aacf-26b5-4ee4-ae5b-43800991ee44",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json[\"['Métricas calculadas']\"].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -320
      ],
      "id": "925ad96c-a09f-4528-a042-854108d2c28d",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        -320
      ],
      "id": "bf470098-b975-4fb7-afc2-fd1bfeec8497",
      "name": "Merge3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        -320
      ],
      "id": "cf84a10f-141d-4a2a-a94b-2a5a1c71ce32",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -224
      ],
      "id": "14e1cf61-96d9-486e-aed0-4fe371bdd299",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11fd777b-516a-43f2-a80c-d50403e56a91",
              "name": "backlog_reqs",
              "value": "={{ $json.data[0].backlog_reqs }}",
              "type": "object"
            },
            {
              "id": "26bdbda7-24c8-4e37-8767-98bf399a2d2b",
              "name": "backlog_metricas",
              "value": "={{ $json.data[1].backlog_metricas }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        -512
      ],
      "id": "0588131d-d066-4e36-a082-069e9c2318b9",
      "name": "Edit Fields18"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1760,
        -512
      ],
      "id": "a130e1e2-161c-4700-8dc3-1383765d0189",
      "name": "Merge6"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1984,
        -512
      ],
      "id": "13db8053-43d6-481c-80d3-c89949e77438",
      "name": "Aggregate7"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Requisitos analisados nos cards do Backlog",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Título presente"
                  },
                  {
                    "option": "Descrição presente"
                  },
                  {
                    "option": "Responsáveis definidos"
                  },
                  {
                    "option": "Tags definidas e descritivas"
                  },
                  {
                    "option": "Estimativa de esforço"
                  },
                  {
                    "option": "Pontos totais do card"
                  },
                  {
                    "option": "Data de criação"
                  },
                  {
                    "option": "Data prevista"
                  },
                  {
                    "option": "Data desejada"
                  },
                  {
                    "option": "Descrição completa (mínimo 20 caracteres e critérios de aceite mencionados)"
                  },
                  {
                    "option": "Vínculo ao projeto"
                  },
                  {
                    "option": "Alertas de idade: card parado > 7 dias no backlog"
                  },
                  {
                    "option": "Alertas de tempo de andamento: card em andamento > 10 horas"
                  },
                  {
                    "option": "Detecção de duplicados (similaridade de títulos > 70%)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Métricas calculadas",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Lead time (desde criação até hoje ou conclusão)"
                  },
                  {
                    "option": "Cycle time (tempo por fase)"
                  },
                  {
                    "option": "Throughput por fase"
                  },
                  {
                    "option": "Tempo médio por fase"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        192,
        -512
      ],
      "id": "c9607f1f-e8f8-41f2-ab6c-f8ec2fb3990c",
      "name": "Form3",
      "webhookId": "95762cdc-7990-43d0-a673-e22cc2512311"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092ef5a7-df90-45fa-b900-0189c7c59b16",
              "name": "titulo_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "970d17b5-fc01-40b1-b105-ae08de10b17b",
              "name": "descricao_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "49b86cc1-1be8-4b3a-8482-0090c60dc95f",
              "name": "responsaveis_definidos",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ae5d36d2-9825-4a54-aad6-4e70e0c594b3",
              "name": "tags_definidas_e_descritivas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1b3b2a94-ac71-46a7-995c-c356099c49e0",
              "name": "estimativa_de_esforco",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8dede399-c6e8-4832-b7de-c13703626911",
              "name": "pontos_totais_do_card",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "abcb50a5-7d0f-4b12-b384-370ec283e95d",
              "name": "data_de_criacao",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb571a07-46e0-4e21-8c95-0736e5dddec9",
              "name": "data_prevista",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a7b17a62-9f9c-4da4-a3a5-26dd534f71ec",
              "name": "data_desejada",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "358ef9ca-2cc4-4eb6-a4da-8213a814aa80",
              "name": "descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f8f9519c-2423-4a5b-88e0-c84490e6e6f0",
              "name": "vinculo_ao_projeto",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "4c48ab5f-43cd-48d8-9629-ae7309c9d956",
              "name": "alertas_de_idade_card_parado__7_dias_no_backlog",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "7ad33289-38d1-4a3c-8a69-c7a432d0b363",
              "name": "alertas_de_tempo_de_andamento_card_em_andamento__10_horas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b9f033a2-0741-4a9f-b28c-4f722b016ddd",
              "name": "deteccao_de_duplicados_similaridade_de_titulos__70",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -800
      ],
      "id": "4f53fd27-726d-4f3e-8f61-8c2e2a11d6f5",
      "name": "Edit Fields22"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "128b992e-4956-4fb4-9159-d453ff6d8331",
              "name": "backlog_reqs.titulo_presente",
              "value": "={{ $json.titulo_presente }}",
              "type": "boolean"
            },
            {
              "id": "b190c443-524a-47fd-9a2e-c72626745e6e",
              "name": "backlog_reqs.descricao_presente",
              "value": "={{ $json.descricao_presente }}",
              "type": "boolean"
            },
            {
              "id": "8b5e6142-8e57-4ffb-b03c-8adb4e2d7c59",
              "name": "backlog_reqs.responsaveis_definidos",
              "value": "={{ $json.responsaveis_definidos }}",
              "type": "boolean"
            },
            {
              "id": "a2cf067c-b6e2-4851-b00c-48e0099e505b",
              "name": "backlog_reqs.tags_definidas_e_descritivas",
              "value": "={{ $json.tags_definidas_e_descritivas }}",
              "type": "boolean"
            },
            {
              "id": "40c90cf9-4a44-481b-88b1-2c111cd193d0",
              "name": "backlog_reqs.estimativa_de_esforco",
              "value": "={{ $json.estimativa_de_esforco }}",
              "type": "boolean"
            },
            {
              "id": "18b9a954-fdf5-457f-ba8c-968d01597161",
              "name": "backlog_reqs.pontos_totais_do_card",
              "value": "={{ $json.pontos_totais_do_card }}",
              "type": "boolean"
            },
            {
              "id": "a05d0263-cdd3-4349-a340-485ea6f58684",
              "name": "backlog_reqs.data_de_criacao",
              "value": "={{ $json.data_de_criacao }}",
              "type": "boolean"
            },
            {
              "id": "04f1d05c-5ac8-45f6-b373-73bc5b60c6e6",
              "name": "backlog_reqs.data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "boolean"
            },
            {
              "id": "f82dcf22-1f1b-4cff-88b4-ffdb6445d95e",
              "name": "backlog_reqs.data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "boolean"
            },
            {
              "id": "c478c9db-c66e-4a61-a0b0-753191b692e1",
              "name": "backlog_reqs.descricao_completa",
              "value": "={{ $json.descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados }}",
              "type": "boolean"
            },
            {
              "id": "80a004bb-4d2e-4599-bea6-fb083e30bb4a",
              "name": "backlog_reqs.vinculo_ao_projeto",
              "value": "={{ $json.vinculo_ao_projeto }}",
              "type": "boolean"
            },
            {
              "id": "8e2b334e-2cb0-46d5-8507-249c6ed74693",
              "name": "backlog_reqs.alertas_de_idade_do_card",
              "value": "={{ $json.alertas_de_idade_card_parado__7_dias_no_backlog }}",
              "type": "boolean"
            },
            {
              "id": "29640274-f83c-40fd-838d-2e48f3815b8f",
              "name": "backlog_reqs.alertas_de_tempo_de_andamento",
              "value": "={{ $json.alertas_de_tempo_de_andamento_card_em_andamento__10_horas }}",
              "type": "boolean"
            },
            {
              "id": "29e98b9e-8496-46a1-8ca1-a51e43925180",
              "name": "backlog_reqs.deteccao_de_similares",
              "value": "={{ $json.deteccao_de_duplicados_similaridade_de_titulos__70 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -704
      ],
      "id": "d06d7626-36ed-428f-b496-f4e480db80cf",
      "name": "Edit Fields23"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"lead_time_desde_criacao_ate_hoje_ou_conclusao\": false,\n\"cycle_time_tempo_por_fase\": false,\n\"throughput_por_fase\": false,\n\"tempo_medio_por_fase\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -416
      ],
      "id": "d3675431-88eb-4137-b8c7-dd08c8f9a0f4",
      "name": "Edit Fields24"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35cc9e46-7bf3-4ff7-a1fb-3c7151fc407b",
              "name": "backlog_metricas.lead_time",
              "value": "={{ $json.lead_time_desde_criacao_ate_hoje_ou_conclusao }}",
              "type": "boolean"
            },
            {
              "id": "e8132cd7-6d31-4b84-8fa2-587d4d26112d",
              "name": "backlog_metricas.cycle_time",
              "value": "={{ $json.cycle_time_tempo_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "82593eb3-2cc8-41de-a7dd-933babc42e70",
              "name": "backlog_metricas.throughput_por_fase",
              "value": "={{ $json.throughput_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "61c8e4f7-da6e-4bf8-938e-b89ea724c095",
              "name": "backlog_metricas.tempo_medio_por_fase",
              "value": "={{ $json.tempo_medio_por_fase }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -320
      ],
      "id": "296e24a2-3185-41db-a460-eb7bccb95c82",
      "name": "Edit Fields25"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ $json.fieldsString }}",
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -928,
        -128
      ],
      "id": "317303e9-6a9d-4425-b05f-fdc84d33b8c9",
      "name": "Form4",
      "webhookId": "317e67fe-a3e1-4c0e-a084-ae5537acdf0f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38ec1335-0930-483b-851d-ecd642b7eb6a",
              "name": "fase",
              "value": "={{ $json['Selecione a fase para análise']==\"Backlog\"?1:6 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        -128
      ],
      "id": "cf8174ba-a05f-4a43-841e-42321fc85841",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Requisitos analisados nos cards Concluídos']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        64
      ],
      "id": "2a78a159-b8a9-4924-9ca9-d32f0a51b738",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Métricas calculadas']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        448
      ],
      "id": "85a63ded-8688-4aed-a0ca-3ae98d6de360",
      "name": "Split Out7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json['[\\'Requisitos analisados nos cards Concluídos\\']'].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        64
      ],
      "id": "7e8f884a-7e86-4214-80e2-5dda18377568",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        64
      ],
      "id": "521d9358-1075-4b5f-9870-9194516f67b8",
      "name": "Merge9"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        64
      ],
      "id": "acf2baf9-e8cc-45a5-aac6-c85a5a304fd6",
      "name": "Aggregate10"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        160
      ],
      "id": "8e1426b2-defe-469d-9de7-10e9e6f54ea6",
      "name": "Edit Fields31"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfda5578-18a8-4df9-b5dc-ccad84744752",
              "name": "={{ $json[\"['Métricas calculadas']\"].toSnakeCase().replaceSpecialChars() }}",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        448
      ],
      "id": "d0c067a5-45f3-4dec-8cff-39c72f82462d",
      "name": "Edit Fields32"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        448
      ],
      "id": "15080d34-ae45-4ed3-a29f-ea3dc3650b63",
      "name": "Merge10"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        448
      ],
      "id": "c17887c9-27f3-49a3-9bdb-a933e55564d9",
      "name": "Aggregate11"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, ...$json.data) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        544
      ],
      "id": "4ccf6353-98d0-4963-93a7-5fee46ac85a5",
      "name": "Edit Fields33"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Requisitos analisados nos cards Concluídos",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Título presente"
                  },
                  {
                    "option": "Descrição presente"
                  },
                  {
                    "option": "Responsáveis definidos"
                  },
                  {
                    "option": "Tags definidas e descritivas"
                  },
                  {
                    "option": "Estimativa de esforço"
                  },
                  {
                    "option": "Pontos totais do card"
                  },
                  {
                    "option": "Data de criação"
                  },
                  {
                    "option": "Data prevista"
                  },
                  {
                    "option": "Data desejada"
                  },
                  {
                    "option": "Descrição completa (mínimo 20 caracteres e critérios de aceite mencionados)"
                  },
                  {
                    "option": "Vínculo ao projeto"
                  },
                  {
                    "option": "Alertas de idade: card parado > 7 dias no backlog"
                  },
                  {
                    "option": "Alertas de tempo de andamento: card em andamento > 10 horas"
                  },
                  {
                    "option": "Detecção de duplicados (similaridade de títulos > 70%)"
                  },
                  {
                    "option": "Avaliação de qualidade via IA"
                  },
                  {
                    "option": "Documentação final via IA"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Métricas calculadas",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Lead time (desde criação até hoje ou conclusão)"
                  },
                  {
                    "option": "Cycle time (tempo por fase)"
                  },
                  {
                    "option": "Throughput por fase"
                  },
                  {
                    "option": "Tempo médio por fase"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #FFF7F7;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #E7DADB;\n\t--color-card-shadow: rgba(215, 38, 46, 0.08);\n\t--color-link: #5C6169;\n\t--color-header: #4B4F56;\n\t--color-label: #4D4F53;\n\t--color-input-border: #E5D6D8;\n\t--color-input-text: #5C6169;\n\t--color-focus-border: #D7262E;\n\t--color-submit-btn-bg: #D7262E;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #FF6B5E;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #D7262E;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        192,
        256
      ],
      "id": "249e86c9-c2dd-482b-a2b7-f3ec0c69ac85",
      "name": "Form5",
      "webhookId": "0b68d068-7d63-4b2c-a6d7-8a707da9911a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092ef5a7-df90-45fa-b900-0189c7c59b16",
              "name": "titulo_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "970d17b5-fc01-40b1-b105-ae08de10b17b",
              "name": "descricao_presente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "49b86cc1-1be8-4b3a-8482-0090c60dc95f",
              "name": "responsaveis_definidos",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ae5d36d2-9825-4a54-aad6-4e70e0c594b3",
              "name": "tags_definidas_e_descritivas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1b3b2a94-ac71-46a7-995c-c356099c49e0",
              "name": "estimativa_de_esforco",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8dede399-c6e8-4832-b7de-c13703626911",
              "name": "pontos_totais_do_card",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "abcb50a5-7d0f-4b12-b384-370ec283e95d",
              "name": "data_de_criacao",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb571a07-46e0-4e21-8c95-0736e5dddec9",
              "name": "data_prevista",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a7b17a62-9f9c-4da4-a3a5-26dd534f71ec",
              "name": "data_desejada",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "358ef9ca-2cc4-4eb6-a4da-8213a814aa80",
              "name": "descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f8f9519c-2423-4a5b-88e0-c84490e6e6f0",
              "name": "vinculo_ao_projeto",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "4c48ab5f-43cd-48d8-9629-ae7309c9d956",
              "name": "alertas_de_idade_card_parado__7_dias_no_backlog",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "7ad33289-38d1-4a3c-8a69-c7a432d0b363",
              "name": "alertas_de_tempo_de_andamento_card_em_andamento__10_horas",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b9f033a2-0741-4a9f-b28c-4f722b016ddd",
              "name": "deteccao_de_duplicados_similaridade_de_titulos__70",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1a0d5a4a-6a7a-4f6c-b0a5-9a2f6b4c0001",
              "name": "avaliacao_de_qualidade_via_ia",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1a0d5a4a-6a7a-4f6c-b0a5-9a2f6b4c0002",
              "name": "documentacao_final_via_ia",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -32
      ],
      "id": "6d1b14aa-8976-4f5c-9768-bd0ea481d306",
      "name": "Edit Fields34"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "128b992e-4956-4fb4-9159-d453ff6d8331",
              "name": "concluidos_reqs.titulo_presente",
              "value": "={{ $json.titulo_presente }}",
              "type": "boolean"
            },
            {
              "id": "b190c443-524a-47fd-9a2e-c72626745e6e",
              "name": "concluidos_reqs.descricao_presente",
              "value": "={{ $json.descricao_presente }}",
              "type": "boolean"
            },
            {
              "id": "8b5e6142-8e57-4ffb-b03c-8adb4e2d7c59",
              "name": "concluidos_reqs.responsaveis_definidos",
              "value": "={{ $json.responsaveis_definidos }}",
              "type": "boolean"
            },
            {
              "id": "a2cf067c-b6e2-4851-b00c-48e0099e505b",
              "name": "concluidos_reqs.tags_definidas_e_descritivas",
              "value": "={{ $json.tags_definidas_e_descritivas }}",
              "type": "boolean"
            },
            {
              "id": "40c90cf9-4a44-481b-88b1-2c111cd193d0",
              "name": "concluidos_reqs.estimativa_de_esforco",
              "value": "={{ $json.estimativa_de_esforco }}",
              "type": "boolean"
            },
            {
              "id": "18b9a954-fdf5-457f-ba8c-968d01597161",
              "name": "concluidos_reqs.pontos_totais_do_card",
              "value": "={{ $json.pontos_totais_do_card }}",
              "type": "boolean"
            },
            {
              "id": "a05d0263-cdd3-4349-a340-485ea6f58684",
              "name": "concluidos_reqs.data_de_criacao",
              "value": "={{ $json.data_de_criacao }}",
              "type": "boolean"
            },
            {
              "id": "04f1d05c-5ac8-45f6-b373-73bc5b60c6e6",
              "name": "concluidos_reqs.data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "boolean"
            },
            {
              "id": "f82dcf22-1f1b-4cff-88b4-ffdb6445d95e",
              "name": "concluidos_reqs.data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "boolean"
            },
            {
              "id": "c478c9db-c66e-4a61-a0b0-753191b692e1",
              "name": "concluidos_reqs.descricao_completa",
              "value": "={{ $json.descricao_completa_minimo_20_caracteres_e_criterios_de_aceite_mencionados }}",
              "type": "boolean"
            },
            {
              "id": "80a004bb-4d2e-4599-bea6-fb083e30bb4a",
              "name": "concluidos_reqs.vinculo_ao_projeto",
              "value": "={{ $json.vinculo_ao_projeto }}",
              "type": "boolean"
            },
            {
              "id": "8e2b334e-2cb0-46d5-8507-249c6ed74693",
              "name": "concluidos_reqs.alertas_de_idade_do_card",
              "value": "={{ $json.alertas_de_idade_card_parado__7_dias_no_backlog }}",
              "type": "boolean"
            },
            {
              "id": "29640274-f83c-40fd-838d-2e48f3815b8f",
              "name": "concluidos_reqs.alertas_de_tempo_de_andamento",
              "value": "={{ $json.alertas_de_tempo_de_andamento_card_em_andamento__10_horas }}",
              "type": "boolean"
            },
            {
              "id": "29e98b9e-8496-46a1-8ca1-a51e43925180",
              "name": "concluidos_reqs.deteccao_de_similares",
              "value": "={{ $json.deteccao_de_duplicados_similaridade_de_titulos__70 }}",
              "type": "boolean"
            },
            {
              "id": "8f7a1d23-6a22-4a6b-9d5b-9d2a7b000003",
              "name": "concluidos_reqs.avaliacao_de_qualidade_via_ia",
              "value": "={{ $json.avaliacao_de_qualidade_via_ia }}",
              "type": "boolean"
            },
            {
              "id": "8f7a1d23-6a22-4a6b-9d5b-9d2a7b000004",
              "name": "concluidos_reqs.documentacao_final_via_ia",
              "value": "={{ $json.documentacao_final_via_ia }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        64
      ],
      "id": "b8723511-b5de-4e6d-a832-407308fd75c7",
      "name": "Edit Fields35"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"lead_time_desde_criacao_ate_hoje_ou_conclusao\": false,\n\"cycle_time_tempo_por_fase\": false,\n\"throughput_por_fase\": false,\n\"tempo_medio_por_fase\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        352
      ],
      "id": "67295068-5584-4d24-82c1-f98228dd2b17",
      "name": "Edit Fields36"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35cc9e46-7bf3-4ff7-a1fb-3c7151fc407b",
              "name": "concluidos_metricas.lead_time",
              "value": "={{ $json.lead_time_desde_criacao_ate_hoje_ou_conclusao }}",
              "type": "boolean"
            },
            {
              "id": "e8132cd7-6d31-4b84-8fa2-587d4d26112d",
              "name": "concluidos_metricas.cycle_time",
              "value": "={{ $json.cycle_time_tempo_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "82593eb3-2cc8-41de-a7dd-933babc42e70",
              "name": "concluidos_metricas.throughput_por_fase",
              "value": "={{ $json.throughput_por_fase }}",
              "type": "boolean"
            },
            {
              "id": "61c8e4f7-da6e-4bf8-938e-b89ea724c095",
              "name": "concluidos_metricas.tempo_medio_por_fase",
              "value": "={{ $json.tempo_medio_por_fase }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        448
      ],
      "id": "4c457415-50d8-45ad-ad51-039cf495c199",
      "name": "Edit Fields37"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1760,
        256
      ],
      "id": "ae6d64db-067f-4522-b1dd-81c198455684",
      "name": "Merge11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11fd777b-516a-43f2-a80c-d50403e56a91",
              "name": "concluido_reqs",
              "value": "={{ $json.data[0].concluidos_reqs }}",
              "type": "object"
            },
            {
              "id": "26bdbda7-24c8-4e37-8767-98bf399a2d2b",
              "name": "concluido_metricas",
              "value": "={{ $json.data[1].concluidos_metricas }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        256
      ],
      "id": "c864b4b9-8e93-4936-9cf4-90d44aecdbe2",
      "name": "Edit Fields38"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1984,
        256
      ],
      "id": "908ce889-df16-4b30-80b1-8f2640d00736",
      "name": "Aggregate12"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "\"\"\"\nn8n Code (Python) — Map selected product to project ID and names.\n\nReads the form field \"Selecione o produto desejado\" from each input item and\nadds the fields:\n- \"projeto_id\" (int)\n- \"nome\" (str | null)\n- \"nome_completo\" (str | null)\n\nRules (from mensagem_morita.md):\n- Orbit   -> id=487, nome=\"Squad Assessment\", nome_completo=\"Logbit - Squad Assessment\"\n- Wagtail -> id=256, nome=\"Squad Wagtail\",   nome_completo=\"Logbit - Squad Wagtail\"\n- Logfiles -> id=0,   nome=None,               nome_completo=None (desconhecido)\n- Master   -> id=0,   nome=None,               nome_completo=None (desconhecido)\n- Auth     -> id=741, nome=\"MVP Auth 2.0\",    nome_completo=\"Logbit - MVP Auth 2.0\" (usar opção A)\n\nIf the product is not recognized, assign id=0 and names as None.\n\"\"\"\n\n# Mapping normalized to lowercase keys\nPRODUCT_TO_PROJECT = {\n    \"orbit\": {\n        \"id\": 487,\n        \"nome\": \"Squad Assessment\",\n        \"nome_completo\": \"Logbit - Squad Assessment\",\n    },\n    \"wagtail\": {\n        \"id\": 256,\n        \"nome\": \"Squad Wagtail\",\n        \"nome_completo\": \"Logbit - Squad Wagtail\",\n    },\n    \"logfiles\": {\n        \"id\": 0,\n        \"nome\": None,\n        \"nome_completo\": None,\n    },\n    \"master\": {\n        \"id\": 0,\n        \"nome\": None,\n        \"nome_completo\": None,\n    },\n    \"auth\": {\n        \"id\": 741,  # opção A\n        \"nome\": \"MVP Auth 2.0\",\n        \"nome_completo\": \"Logbit - MVP Auth 2.0\",\n    },\n}\n\n\n# Iterate items and set \"projeto_id\"\nfor item in _input.all():\n    # Convert JsProxy to native dict if needed\n    try:\n        data = item.json.to_py()\n    except Exception:\n        data = item.json\n\n    selected = None\n    # Access by exact field label from the form\n    try:\n        selected = data.get(\"Selecione o produto desejado\")\n    except Exception:\n        selected = None\n\n    if isinstance(selected, str):\n        key = selected.strip().lower()\n    else:\n        key = None\n\n    prod = PRODUCT_TO_PROJECT.get(key)\n\n    if prod is None:\n        projeto_id = 0\n        nome = None\n        nome_completo = None\n    else:\n        projeto_id = int(prod.get(\"id\", 0))\n        nome = prod.get(\"nome\")\n        nome_completo = prod.get(\"nome_completo\")\n\n    # Assign new fields back to the item JSON\n    item.json[\"projeto_id\"] = projeto_id\n    item.json[\"nome\"] = nome\n    item.json[\"nome_completo\"] = nome_completo\n\n# Return updated items\nreturn _input.all()\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -128
      ],
      "id": "9fe2831f-d313-4680-913f-8d91163d8339",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "\"\"\"\nGera dinamicamente o JSON de campos para o próximo node Form, com base na\nentrada vinda do form anterior + mapeamento já aplicado no node Python\n(`projeto_id`, `nome`, `nome_completo`).\n\nEntrada esperada (exemplo):\n[\n  {\n    \"Selecione o produto desejado\": \"Wagtail\",\n    \"submittedAt\": \"2025-10-23T11:50:36.173-03:00\",\n    \"formMode\": \"test\",\n    \"projeto_id\": 256,\n    \"nome\": \"Squad Wagtail\",\n    \"nome_completo\": \"Logbit - Squad Wagtail\"\n  }\n]\n\nSaída: item único por entrada, contendo:\n- `fields`: array (objeto) com os campos no formato aceito pelo node Form (defineForm=json)\n- `fieldsString`: string JSON, pronta para colar no node Form\n\nRegras:\n- Se `projeto_id` == 0: exibe aviso (HTML) e checkbox \"Escolher outro produto\".\n- Caso contrário: exibe dropdown \"Selecione o projeto\" com as opções pelo nome.\n  - Quando houver apenas 1 opção, o dropdown contém apenas essa opção (single select).\n\"\"\"\n\nimport json\n\n\ndef to_dict(maybe_proxy):\n    try:\n        return maybe_proxy.to_py()\n    except Exception:\n        return maybe_proxy\n\n\ndef build_fields_from_item(data):\n    projeto_id = data.get(\"projeto_id\")\n    nome = data.get(\"nome\")\n    nome_completo = data.get(\"nome_completo\")\n\n    try:\n        projeto_id_int = int(projeto_id) if projeto_id is not None else 0\n    except Exception:\n        projeto_id_int = 0\n\n    # Caso sem iniciativa associada ao produto\n    if projeto_id_int == 0:\n        return [\n            {\n                \"fieldType\": \"html\",\n                \"elementName\": \"aviso_sem_iniciativas\",\n                \"html\": (\n                    \"<div style=\\\"padding:8px 12px; border:1px solid #f6dcb7; \"\n                    \"background:#fefaf6; color:#e6a23d; border-radius:6px;\\\">\"\n                    \"Ainda não foram associadas iniciativas nesse produto.\"\n                    \"</div>\"\n                ),\n            },\n            {\n                \"fieldLabel\": \"Escolher outro produto\",\n                \"fieldType\": \"checkbox\",\n                \"fieldOptions\": {\n                    \"values\": [\n                        {\"option\": \"Sim\"}\n                    ]\n                },\n            },\n        ]\n\n    # Com iniciativa(s): montar dropdown com os nomes disponíveis\n    option_label = None\n    if isinstance(nome, str) and nome.strip():\n        option_label = nome.strip()\n    elif isinstance(nome_completo, str) and nome_completo.strip():\n        # fallback amigável\n        option_label = nome_completo.strip()\n    else:\n        option_label = f\"Projeto {projeto_id_int}\"\n\n    fields = [\n        {\n            \"fieldLabel\": \"Selecione a iniciativa\",\n            \"fieldType\": \"dropdown\",\n            \"fieldOptions\": {\n                \"values\": [\n                    {\"option\": option_label}\n                ]\n            },\n            \"multiselect\": False,\n            \"requiredField\": True,\n        }\n    ]\n\n    # Dropdown adicional: Concluídos vs Backlog\n    fields.append(\n        {\n            \"fieldLabel\": \"Selecione a fase para análise\",\n            \"fieldType\": \"dropdown\",\n            \"fieldOptions\": {\n                \"values\": [\n                    {\"option\": \"Backlog\"},\n                    {\"option\": \"Concluídos\"}\n                ]\n            },\n            \"multiselect\": False,\n            \"requiredField\": True,\n        }\n    )\n\n    return fields\n\n\nout_items = []\nfor item in _input.all():\n    data = to_dict(getattr(item, \"json\", {}))\n    if not isinstance(data, dict):\n        data = {}\n\n    fields = build_fields_from_item(data)\n    payload = {\n        \"fields\": fields,\n        # Conveniência: string pronta para copiar e colar no node Form\n        \"fieldsString\": json.dumps(fields, ensure_ascii=False, indent=2),\n    }\n    out_items.append({\"json\": payload})\n\nreturn out_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -128
      ],
      "id": "7515bd94-ebac-47d9-8df7-921626c8d437",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"projeto_id\": 487,\n  \"fase\": 1,\n  \"email_destino\": \"usuario@email.com\",\n  \"reqs\": {},\n  \"metricas\": {},\n  \"source\": \"chatbot\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2048,
        -224
      ],
      "id": "fffe90de-c808-48c3-9e23-a3498dd3ba43",
      "name": "Start via Chatbot"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -256,
        -128
      ],
      "id": "edd8c37e-1733-49f2-a6fe-566eaecc15aa",
      "name": "make n8n json2"
    },
    {
      "parameters": {
        "fileSelector": "=/data/repos/logbit/agente-healthy-check/base/healthcheck_projeto_{{$('Code in Python (Beta)').item.json.projeto_id}}_fase_{{$('Edit Fields2').item.json.fase}}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -480,
        -128
      ],
      "id": "26de158e-dee3-4a37-832d-71026b408f4f",
      "name": "read agent output3"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -928,
        -416
      ],
      "id": "f1236a3c-1903-4384-b52e-84e369b34a93",
      "name": "make n8n json3"
    },
    {
      "parameters": {
        "fileSelector": "=/data/repos/logbit/agente-healthy-check/base/healthcheck_projeto_{{ $json.projeto_id }}_fase_{{ $json.fase }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1152,
        -416
      ],
      "id": "3f796292-8acc-4108-9401-e59c7cc2ef64",
      "name": "read agent output4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aGPSM7QdRGV47rmx",
          "mode": "list",
          "cachedResultUrl": "/workflow/aGPSM7QdRGV47rmx",
          "cachedResultName": "LOG_Workf_envia_email_backlog"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "backlog_reqs": "={{ $json.backlog_reqs }}",
            "backlog_metricas": "={{ $json.backlog_metricas }}",
            "email": "={{ $('On form submission (FORM)').item.json.Email }}",
            "data": "={{ $('make n8n json2').item.json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "backlog_reqs",
              "displayName": "backlog_reqs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "backlog_metricas",
              "displayName": "backlog_metricas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2432,
        -512
      ],
      "name": "Call LOG_Workf_envia_email_backlog",
      "id": "124f927b-a1d2-4618-9cb2-ceb9f643b11e"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t9GYVHkqWAEByRO6",
          "mode": "list",
          "cachedResultUrl": "/workflow/t9GYVHkqWAEByRO6",
          "cachedResultName": "LOG_Workf_envia_email_concluidos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "concluidos_reqs": "={{ $json.concluido_reqs }}",
            "concluidos_metricas": "={{ $json.concluido_metricas }}",
            "email": "={{ $('On form submission (FORM)').item.json.Email }}",
            "data": "={{ $('make n8n json2').item.json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "concluidos_reqs",
              "displayName": "concluidos_reqs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "concluidos_metricas",
              "displayName": "concluidos_metricas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2432,
        256
      ],
      "name": "Call LOG_Workf_envia_email_concluidos",
      "id": "bdc741e5-e8e0-4b5a-bbd2-e4e5cd031645"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aGPSM7QdRGV47rmx",
          "mode": "list",
          "cachedResultUrl": "/workflow/aGPSM7QdRGV47rmx",
          "cachedResultName": "LOG_Workf_envia_email_backlog"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "backlog_reqs": "={{ $('Start via Chatbot').item.json.reqs }}",
            "backlog_metricas": "={{ $('Start via Chatbot').item.json.metricas }}",
            "email": "={{ $('Start via Chatbot').item.json.email_destino }}",
            "data": "={{ $('make n8n json3').item.json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "backlog_reqs",
              "displayName": "backlog_reqs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "backlog_metricas",
              "displayName": "backlog_metricas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -480,
        -640
      ],
      "name": "Call LOG_Workf_envia_email_backlog1",
      "id": "5d2d3af8-9b75-4dcb-b918-e6111a9d5f11"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t9GYVHkqWAEByRO6",
          "mode": "list",
          "cachedResultUrl": "/workflow/t9GYVHkqWAEByRO6",
          "cachedResultName": "LOG_Workf_envia_email_concluidos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "concluidos_reqs": "={{ $('Start via Chatbot').item.json.reqs }}",
            "concluidos_metricas": "={{ $('Start via Chatbot').item.json.metricas }}",
            "email": "={{ $('Start via Chatbot').item.json.email_destino }}",
            "data": "={{ $('make n8n json3').item.json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "concluidos_reqs",
              "displayName": "concluidos_reqs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "concluidos_metricas",
              "displayName": "concluidos_metricas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -512,
        -352
      ],
      "name": "Call LOG_Workf_envia_email_concluidos1",
      "id": "e7df5366-f467-4102-945a-907d8f658504"
    }
  ],
  "connections": {
    "Code - Processar Origem": {
      "main": [
        [
          {
            "node": "Switch - Origem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Origem": {
      "main": [
        [
          {
            "node": "Edit Fields - Preparar Dados Chatbot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Preparar Dados Chatbot": {
      "main": [
        [
          {
            "node": "read agent output4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission (FORM)": {
      "main": [
        [
          {
            "node": "Code - Processar Origem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Form3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Edit Fields25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields18": {
      "main": [
        [
          {
            "node": "Call LOG_Workf_envia_email_backlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Edit Fields18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form3": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields22": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields23": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields24": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields25": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Form4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "read agent output3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out7": {
      "main": [
        [
          {
            "node": "Edit Fields32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Aggregate10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "Edit Fields35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate10": {
      "main": [
        [
          {
            "node": "Edit Fields31",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields31": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields32": {
      "main": [
        [
          {
            "node": "Aggregate11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Edit Fields37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate11": {
      "main": [
        [
          {
            "node": "Edit Fields33",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields33": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Form5": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields34": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields35": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields36": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields37": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge11": {
      "main": [
        [
          {
            "node": "Aggregate12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields38": {
      "main": [
        [
          {
            "node": "Call LOG_Workf_envia_email_concluidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate12": {
      "main": [
        [
          {
            "node": "Edit Fields38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Fase (Chatbot)": {
      "main": [
        [
          {
            "node": "Call LOG_Workf_envia_email_backlog1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call LOG_Workf_envia_email_concluidos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Form4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start via Chatbot": {
      "main": [
        [
          {
            "node": "Code - Processar Origem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read agent output3": {
      "main": [
        [
          {
            "node": "make n8n json2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make n8n json2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read agent output4": {
      "main": [
        [
          {
            "node": "make n8n json3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make n8n json3": {
      "main": [
        [
          {
            "node": "Switch - Fase (Chatbot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission (FORM)": [
      {
        "json": {
          "Selecione o produto desejado": "Orbit",
          "Email": "miguel.kubrusly@novadata.com.br",
          "OKR do Produto": null,
          "submittedAt": "2025-11-27T15:58:29.348-03:00",
          "formMode": "test"
        }
      }
    ]
  },
  "versionId": "6f59bfdc-9f55-4ff5-bffa-b3f0d7f9a788",
  "activeVersionId": null,
  "versionCounter": 249,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-27T18:07:50.467Z",
      "createdAt": "2025-11-27T18:07:50.467Z",
      "role": "workflow:owner",
      "workflowId": "CpQGi0E8HQqzOrd4",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-25T14:30:46.766Z",
      "createdAt": "2025-11-25T14:30:46.766Z",
      "id": "LiIqAaXZqK7n32TL",
      "name": "atual"
    }
  ],
  "activeVersion": null
}