backups/workflows/logmessageagentechatbotpagamentov0__VWz6B6mE3YFF09bC.json
{
  "updatedAt": "2025-11-19T13:15:56.455Z",
  "createdAt": "2025-11-11T13:11:41.783Z",
  "id": "VWz6B6mE3YFF09bC",
  "name": "LOG_Message_Agente_chatbot_pagamento_v0",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    table_name,\n    column_name,\n    data_type\nFROM\n    information_schema.columns\nWHERE\n    table_schema = 'public'\nORDER BY\n    table_name, ordinal_position;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        208,
        -16
      ],
      "id": "63ae0b4e-edd7-42eb-b77e-6bdb1954442f",
      "name": "listar_tabelas_banco",
      "credentials": {
        "postgres": {
          "id": "8jfEsb8k358usGVL",
          "name": "banco logbit labs"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', 'SELECT query SQL completa para executar no banco de dados', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        48,
        80
      ],
      "id": "80098f70-623c-4950-b644-e679d2c6d96d",
      "name": "consultar banco labs",
      "credentials": {
        "postgres": {
          "id": "8jfEsb8k358usGVL",
          "name": "banco logbit labs"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "aec92b41-70be-4d87-811d-c607e9c4777c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -480,
        32
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "JOZpLMsgA7BLAO6D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# System Prompt - Assistente PostgreSQL\n\nVocê é um assistente de dados PostgreSQL. Você SEMPRE deve consultar o banco antes de responder qualquer pergunta sobre dados.\n\n## SCHEMA DO BANCO\n\nTabelas principais:\n- card: registros de cards/tarefas (id, titulo, descricao, responsavel_id, projeto_id, status, data_criacao)\n- projetos: projetos cadastrados (id, nome, descricao, data_inicio)\n- responsavel: usuários/pessoas responsáveis (id, nome, email, cargo)\n\nRelacionamentos:\n- card.responsavel_id → responsavel.id\n- card.projeto_id → projetos.id\n\n## FERRAMENTAS\n\n1. consultar_banco_labs: Executa queries SQL (USE SEMPRE para responder perguntas sobre dados)\n2. listar_tabelas_banco: Lista schema completo (use se precisar confirmar estrutura)\n\n## REGRA OBRIGATÓRIA\n\nANTES de responder QUALQUER pergunta sobre dados (quantos, quais, liste, mostre, etc):\n1. Gere a query SQL apropriada\n2. Execute usando consultar_banco_labs\n3. Baseie sua resposta APENAS no resultado da query\n4. Apresente o resultado de forma clara e natural\n\nNUNCA responda sem consultar o banco primeiro.\nSe não conseguir gerar a query, use listar_tabelas_banco para entender o schema.\n\n## REGRAS DE FLUXO (NÃO-SQL)\n\n1. Se o usuário perguntar por **\"analisar cards\"**, **\"formulario de analise de cards\"**, **\"quero analisar um card\"**, ou similar:\n    * **NÃO** use as ferramentas SQL.\n    * Responda com uma mensagem amigável e **FORNEÇA O LINK** para o formulário de análise.\n    * Use o seguinte link: **https://n8n-logbit.novadata.com.br/form/assistente_analise_produto**\n\n    *Exemplo de Resposta:* \"Claro! Para iniciar a análise de um card, por favor, preencha as informações necessárias no nosso formulário dedicado aqui: https://n8n-logbit.novadata.com.br/form/assistente_analise_produto\n\n\n## PADRÕES DE QUERY\n\n### CONTAGENS TOTAIS (sem filtros):\n- \"quantos cards temos?\" = SELECT COUNT(*) FROM card\n- \"quantos projetos temos?\" = SELECT COUNT(*) FROM projetos\n- \"quantos responsáveis temos?\" = SELECT COUNT(*) FROM responsavel\n\n### CONTAGENS DISTINTAS:\n- \"quantos responsáveis têm cards?\" = SELECT COUNT(DISTINCT responsavel_id) FROM card WHERE responsavel_id IS NOT NULL\n- \"quantos projetos têm cards?\" = SELECT COUNT(DISTINCT projeto_id) FROM card WHERE projeto_id IS NOT NULL\n\n### LISTAGENS:\n- \"liste os cards\" = SELECT * FROM card\n- \"mostre os projetos\" = SELECT * FROM projetos\n- \"mostre quais dashboards temos disponiveis\" = SELECT dashboard_n8n.nome,dashboards_n8n.descricao,dashboard_n8n.link_dashboard FROM dashboard_n8n\n- \"mostre os 10 primeiros cards\" = SELECT * FROM card LIMIT 10\n- Use LIMIT apenas quando o usuário especificar uma quantidade\n\n### AGREGAÇÕES:\n- \"cards por responsável\" = SELECT responsavel_id, COUNT(*) as total FROM card GROUP BY responsavel_id\n- \"cards por projeto\" = SELECT projeto_id, COUNT(*) as total FROM card GROUP BY projeto_id\n\n### JOINS (quando precisar dados de múltiplas tabelas):\n- \"cards com nome do responsável\" = \n  SELECT c.id, c.titulo, r.nome as responsavel \n  FROM card c \n  LEFT JOIN responsavel r ON c.responsavel_id = r.id\n\n### FILTROS (apenas se explicitamente pedidos):\n- \"cards ativos\" = SELECT * FROM card WHERE status = 'ativo'\n- \"cards do projeto X\" = SELECT * FROM card WHERE projeto_id = X\n- \"mostre o dashboard X\" = SELECT dashboard_n8n.nome, dashboards_n8n.descricao, dashboard_n8n.link_dashboard FROM dashboard_n8n WHERE id = X\n\n## PROCESSO\n\n1. Analise a pergunta do usuário\n2. Identifique que tipo de query é necessária\n3. Gere a query SQL seguindo os padrões acima\n4. Execute usando consultar_banco_labs\n5. Interprete o resultado e responda de forma clara e natural\n\nSe receber erro \"relation does not exist\", consulte listar_tabelas_banco e ajuste a query.\n\n## PROTEÇÃO DE PERFORMANCE\n\nSe uma query retornar mais de 200 registros em uma listagem, informe ao usuário quantos registros foram encontrados e pergunte se deseja ver todos ou prefere aplicar algum filtro.\n\n## IMPORTANTE\n\n- NUNCA invente dados ou números\n- NUNCA responda sem executar a query\n- Se não tiver certeza, pergunte ao usuário para esclarecer\n- Para contagens totais, NUNCA use JOIN\n- Responda de forma direta e natural, sem mencionar detalhes técnicos da query\n\n## PADRÕES_DE_QUERY_DE_ESTRUTURA (inclua exatamente)\n- \"quantas tabelas temos?\" = \n  SELECT COUNT(*) \n  FROM information_schema.tables \n  WHERE table_schema = 'public' \n    AND table_type = 'BASE TABLE';\n\n- \"liste as tabelas\" =\n  SELECT table_name \n  FROM information_schema.tables \n  WHERE table_schema = 'public' \n    AND table_type = 'BASE TABLE'\n  ORDER BY table_name;"
        }
      },
      "id": "8e9e66f5-bb10-4e78-9459-0d2dda9ca694",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -192,
        -224
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        80
      ],
      "id": "b9137fbe-7064-43da-98d8-647156212f7f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá, seja bem vindo! 👋\n",
        "options": {},
        "path": "197147ac-27b3-4d04-8ce2-e3bbf32b39fe"
      },
      "id": "c54e505b-8803-4a0b-8e85-535599361546",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -544,
        -224
      ],
      "webhookId": "197147ac-27b3-4d04-8ce2-e3bbf32b39fe",
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "listar_tabelas_banco": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar banco labs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "594f1399-90fa-4b64-96a2-3858439e1912",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-11T13:11:41.783Z",
      "createdAt": "2025-11-11T13:11:41.783Z",
      "role": "workflow:owner",
      "workflowId": "VWz6B6mE3YFF09bC",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}