backups/workflows/logworkfagenteanalisecardswip__VBgrycxoMkAsd7FI.json
{
  "updatedAt": "2025-11-26T19:09:21.664Z",
  "createdAt": "2025-11-06T18:46:06.100Z",
  "id": "VBgrycxoMkAsd7FI",
  "name": "LOG_Workf_Agente_analise_cards_wip",
  "description": null,
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/chamado/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "projeto__id",
              "value": "={{ $('receive projeto and fase').item.json.projeto }}"
            },
            {
              "name": "fase__id",
              "value": "={{ $('receive projeto and fase').item.json.fase }}"
            },
            {
              "name": "arquivado",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "=/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $('fetch neat sess').item.json.csrfFieldName }}={{ $('fetch neat sess').item.json.csrfCookie }}; sessionid={{ $('fetch neat sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.next == null }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2048,
        752
      ],
      "id": "d3b1fd0a-3e4d-419e-a7d4-788aa4f5092c",
      "name": "fetch chamados"
    },
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/fase/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $json.baseUrl }}/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.csrfFieldName }}={{ $json.csrfCookie }}; sessionid={{ $json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3168,
        464
      ],
      "id": "be660b8d-7024-42ef-b50a-6d2758cdc98d",
      "name": "fetch fases"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1152,
        80
      ],
      "id": "cc7a1506-b924-43d6-8c8a-d5b411a40172",
      "name": "sort by id"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "fase",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -928,
        80
      ],
      "id": "1bfc8933-133f-4dd2-abb6-1f3591e98ded",
      "name": "append fases"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1600,
        848
      ],
      "id": "ee34ee59-0da3-470c-8cf4-30a860acdc36",
      "name": "split cards"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "225d6553-8b9e-416c-a191-fc563d6374dc",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "c2abc8dd-32a1-4877-93f8-96fb38cec0b8",
              "name": "tag",
              "value": "={{ $json.tag }}",
              "type": "array"
            },
            {
              "id": "e7383f85-8621-425b-b280-303613b7ed9f",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "f92573fa-8054-40d8-a07f-b24dfa426dcf",
              "name": "descricao",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "dea99a5d-abf2-4c61-ac30-3d9da3f9224a",
              "name": "responsaveis",
              "value": "={{ $json.responsaveis }}",
              "type": "array"
            },
            {
              "id": "d0c3c52f-2596-417b-baed-f08a259bdf9d",
              "name": "orcado",
              "value": "={{ $json.orcado }}",
              "type": "string"
            },
            {
              "id": "3a9eb313-8ab4-40b0-93a0-575bec63d4d9",
              "name": "tempo_decorrido",
              "value": "={{ $json.tempo_decorrido }}",
              "type": "string"
            },
            {
              "id": "ee4a8d06-9023-4eab-a69d-f2b50a16bc81",
              "name": "em_andamento",
              "value": "={{ $json.em_andamento }}",
              "type": "boolean"
            },
            {
              "id": "83dfe687-e520-4ea3-8cac-c3ccec5be23e",
              "name": "data_criacao",
              "value": "={{ $json.data_criacao }}",
              "type": "string"
            },
            {
              "id": "939acf65-ea39-4d27-9c62-430584c68324",
              "name": "data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "string"
            },
            {
              "id": "465f44ec-2c9f-49d5-b12a-e7186835b334",
              "name": "data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "string"
            },
            {
              "id": "75e2ab30-7680-432e-863b-c8bc6a36acb2",
              "name": "pontos_totais",
              "value": "={{ $json.pontos_totais }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        656
      ],
      "id": "baaf8d8f-0de1-4a8f-980d-5e67fb283950",
      "name": "select card fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "cards",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -928,
        656
      ],
      "id": "20516cd3-dca0-499a-9b1d-c787446344a6",
      "name": "append cards"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -704,
        256
      ],
      "id": "0e39cfc9-8a03-46ca-ade5-18bf69c902aa",
      "name": "merge infos cards fases"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "=entrada"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -32,
        272
      ],
      "id": "089c5e60-f50f-499e-a13f-ebfb0fc47999",
      "name": "make binary json"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/logbit/agente-healthy-check/base/{{ $('make binary json').item.binary.data.fileName }}.{{ $('make binary json').item.binary.data.fileExtension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        192,
        272
      ],
      "id": "1cfae26b-f753-4f0b-a39f-92f4807f5b02",
      "name": "write agent input"
    },
    {
      "parameters": {
        "fileSelector": "=/data/repos/logbit/agente-healthy-check/base/healthcheck_projeto_{{$('edit fields').item.json.info.projeto_info.id}}_fase_{{$('edit fields').item.json.info.fase_info.fase_id}}.{{ $('make binary json').item.binary.data.fileExtension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        640,
        272
      ],
      "id": "f535cf3e-b308-4383-8322-577b0b9597e0",
      "name": "read agent output",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        864,
        272
      ],
      "id": "d9f2d702-3233-4ab9-b6b8-9178325d76a5",
      "name": "make n8n json",
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -480,
        272
      ],
      "id": "7ec31458-e370-40f4-8261-a205ccdff51d",
      "name": "aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93f8b913-e0f2-4666-be6f-853d550bbead",
              "name": "info",
              "value": "={{ $json.data[0].info }}",
              "type": "object"
            },
            {
              "id": "9f4dcb74-37db-4c7a-8017-478a0e50da31",
              "name": "cards",
              "value": "={{ $json.data[1].cards }}",
              "type": "array"
            },
            {
              "id": "d59e879c-1e0b-40d3-b07e-1612cd6fe78d",
              "name": "fase",
              "value": "={{ $json.data[2].fase }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        272
      ],
      "id": "61267aaf-5b99-4939-9607-2e526c044ae2",
      "name": "edit fields"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n_BASE64_AFTER_MARKER_RE = re.compile(\n    r'(base64,)[A-Za-z0-9+/=\\r\\n]+(?=(?:[\"\\s]|$))',\n    re.IGNORECASE,\n)\n\ndef strip_after_base64_marker(text: str) -> str:\n    \"\"\"Mantém 'base64,' e remove o payload até aspas/espaço/fim.\"\"\"\n    if not isinstance(text, str):\n        return text\n    return _BASE64_AFTER_MARKER_RE.sub(r'\\1', text)\n\nitems = _input.all()\n\nfor item in items:\n    try:\n        data = item[\"json\"]\n    except Exception:\n        data = item  # fallback, caso venha direto\n\n    for k, v in list(data.items()):\n        if isinstance(v, str):\n            data[k] = strip_after_base64_marker(v)\n\nreturn items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        656
      ],
      "id": "5f2a74ab-32e5-4b7c-bc15-1d18c2533afe",
      "name": "remove base64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9db12bb1-45b8-4fd1-be10-b060d47a569b",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "4dafc261-6459-471d-93a8-04130c583c6a",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2944,
        464
      ],
      "id": "d533e694-982b-45a2-81b9-3d4c544b58ac",
      "name": "select fase id and name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10190337-eb8d-4c8d-9266-aaef965d68e6",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('receive projeto and fase').item.json.fase }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2720,
        560
      ],
      "id": "2e57f591-0371-4d3c-b8c7-6c4c6fe3d7cf",
      "name": "filter selected fase"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f86b4c6c-1cdc-42ec-8bbe-7ce40d28385f",
              "name": "fase_info.fase_nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "319dc818-8a7e-478d-ad72-b19ede0caefe",
              "name": "fase_info.fase_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        272
      ],
      "id": "ac818ce2-a92f-4a59-abd1-47449e703b44",
      "name": "make fase json"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1600,
        368
      ],
      "id": "cfe0b2ec-c43b-407c-941f-54075a42a815",
      "name": "merge fase and cards"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1376,
        368
      ],
      "id": "1688b46c-fec5-4b40-8db3-c6d7bcc01990",
      "name": "append in one item"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63f4ce9e-1170-43af-93c0-f374de398d9e",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        848
      ],
      "id": "b4a97637-11b1-4ba5-9278-b62a56868b51",
      "name": "select cards",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c878bbeb-2fb5-487e-867a-9f8fd0ca1ea8",
              "name": "info.projeto_info",
              "value": "={{ $('merge fase and cards').last().json.results[0].projeto_info }}",
              "type": "object"
            },
            {
              "id": "d47f5991-04be-44b9-bf76-6294ef5e9784",
              "name": "info.fase_info",
              "value": "={{ $json.data[0].fase_info }}",
              "type": "object"
            },
            {
              "id": "bef1b315-4920-4964-a4bd-86c3ab3ccc01",
              "name": "info.card_count",
              "value": "={{ $('merge fase and cards').last().json.card_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        368
      ],
      "id": "dd038a86-fee6-4bff-aa1d-7b4daa87bbf6",
      "name": "select fase projeto and card count",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projeto",
              "type": "number"
            },
            {
              "name": "fase",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3616,
        560
      ],
      "id": "ebc8260f-0307-4abb-bb3b-07fa4fc6b6ba",
      "name": "receive projeto and fase"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NjnKt0iFshkTHpkY",
          "mode": "list",
          "cachedResultUrl": "/workflow/NjnKt0iFshkTHpkY",
          "cachedResultName": "LOG_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.novadata.com.br",
            "loginPath": "/login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3392,
        560
      ],
      "id": "15ab6e17-8e8b-48df-bb0e-2a7d7dccdf38",
      "name": "fetch neat sess"
    },
    {
      "parameters": {
        "command": "python /data/repos/logbit/agente-healthy-check/pipeline_agente.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        272
      ],
      "id": "2951e367-ba7b-4d76-b8a0-7ace0244ec18",
      "name": "python agent",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffcb5973-5c1a-4756-b90d-eea921c4d008",
              "name": "card_count",
              "value": "={{ $json.count }}",
              "type": "number"
            },
            {
              "id": "90ca4a33-c4de-4513-80df-79ba607ad677",
              "name": "results[0].projeto_info",
              "value": "={{ $json.results[0].projeto_info }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        656
      ],
      "id": "5df39518-ac08-4188-b2df-bc6610f7a1b3",
      "name": "select project_info and card_count",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/chamado/arquivados/256/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "=/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $('fetch neat sess').item.json.csrfFieldName }}={{ $('fetch neat sess').item.json.csrfCookie }}; sessionid={{ $('fetch neat sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.next == null }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3168,
        752
      ],
      "id": "fb252588-17b3-40c1-9121-24551bfd18a8",
      "name": "fetch chamados1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2944,
        752
      ],
      "id": "8c02f8eb-440f-4ed2-89e1-6202b8c12741",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be819a59-268f-4856-88f7-4fe45040f7e5",
              "leftValue": "={{ $json.fase }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "2f4ac8e8-d0a6-4bf4-beb6-b5b2bcb8501d",
              "leftValue": "={{ $json.fase }}",
              "rightValue": 11,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2720,
        752
      ],
      "id": "a77d71e9-ec23-46a6-8580-18c91c50ddec",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b741192-060e-4fe0-b731-57471b1d4f55",
              "leftValue": "={{ $json.id }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "ffe102be-922f-485a-bd46-a03fd36e3406",
              "leftValue": "={{ $json.id }}",
              "rightValue": "11",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2496,
        656
      ],
      "id": "859b2528-7e8c-4e7a-ba61-4b48809870ae",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/chamado/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "projeto__id",
              "value": "={{ $('receive projeto and fase').item.json.projeto }}"
            },
            {
              "name": "fase__id",
              "value": "={{ $json.concluido_ids }}"
            },
            {
              "name": "arquivado",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "=/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $('fetch neat sess').item.json.csrfFieldName }}={{ $('fetch neat sess').item.json.csrfCookie }}; sessionid={{ $('fetch neat sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.next == null }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        464
      ],
      "id": "fcb7e32b-47d1-4dbf-aa1d-d6496fbcf347",
      "name": "fetch chamados2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2220e95-3692-4a55-a419-963438061ea8",
              "name": "concluido_ids",
              "value": "[6,11]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2272,
        464
      ],
      "id": "ce6a239d-53cc-41f9-ac6d-20f8ad8ef39b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "concluido_ids",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2048,
        464
      ],
      "id": "fcad52e2-c70f-4b95-b6c3-6465e8b9cb34",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1600,
        560
      ],
      "id": "1c1f5052-7cdf-4276-a432-c9acda55921b",
      "name": "Split Out2"
    }
  ],
  "connections": {
    "fetch chamados": {
      "main": [
        [
          {
            "node": "select cards",
            "type": "main",
            "index": 0
          },
          {
            "node": "select project_info and card_count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch fases": {
      "main": [
        [
          {
            "node": "select fase id and name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sort by id": {
      "main": [
        [
          {
            "node": "append fases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append fases": {
      "main": [
        [
          {
            "node": "merge infos cards fases",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "split cards": {
      "main": [
        [
          {
            "node": "select card fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select card fields": {
      "main": [
        [
          {
            "node": "remove base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append cards": {
      "main": [
        [
          {
            "node": "merge infos cards fases",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge infos cards fases": {
      "main": [
        [
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make binary json": {
      "main": [
        [
          {
            "node": "write agent input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write agent input": {
      "main": [
        [
          {
            "node": "python agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read agent output": {
      "main": [
        [
          {
            "node": "make n8n json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit fields": {
      "main": [
        [
          {
            "node": "make binary json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove base64": {
      "main": [
        [
          {
            "node": "append cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select fase id and name": {
      "main": [
        [
          {
            "node": "filter selected fase",
            "type": "main",
            "index": 0
          },
          {
            "node": "sort by id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter selected fase": {
      "main": [
        [
          {
            "node": "make fase json",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make fase json": {
      "main": [
        [
          {
            "node": "merge fase and cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge fase and cards": {
      "main": [
        [
          {
            "node": "append in one item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append in one item": {
      "main": [
        [
          {
            "node": "select fase projeto and card count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select cards": {
      "main": [
        [
          {
            "node": "split cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select fase projeto and card count": {
      "main": [
        [
          {
            "node": "merge infos cards fases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "receive projeto and fase": {
      "main": [
        [
          {
            "node": "fetch neat sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch neat sess": {
      "main": [
        [
          {
            "node": "fetch chamados1",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch fases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "python agent": {
      "main": [
        [
          {
            "node": "read agent output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select project_info and card_count": {
      "main": [
        [
          {
            "node": "merge fase and cards",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "fetch chamados1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fetch chamados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "fetch chamados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch chamados2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "select card fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "receive projeto and fase": [
      {
        "json": {
          "projeto": 487,
          "fase": 6
        }
      }
    ]
  },
  "versionId": "4a9436f4-21e1-44fa-abae-0ad8459a61e6",
  "activeVersionId": "4a9436f4-21e1-44fa-abae-0ad8459a61e6",
  "versionCounter": 13,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-06T18:46:06.100Z",
      "createdAt": "2025-11-06T18:46:06.100Z",
      "role": "workflow:owner",
      "workflowId": "VBgrycxoMkAsd7FI",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-11-26T19:09:21.674Z",
    "createdAt": "2025-11-26T19:09:21.674Z",
    "versionId": "4a9436f4-21e1-44fa-abae-0ad8459a61e6",
    "workflowId": "VBgrycxoMkAsd7FI",
    "nodes": [
      {
        "parameters": {
          "url": "https://hub.novadata.com.br/api/chamado/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "projeto__id",
                "value": "={{ $('receive projeto and fase').item.json.projeto }}"
              },
              {
                "name": "fase__id",
                "value": "={{ $('receive projeto and fase').item.json.fase }}"
              },
              {
                "name": "arquivado",
                "value": "true"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "=/"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "={{ $('fetch neat sess').item.json.csrfFieldName }}={{ $('fetch neat sess').item.json.csrfCookie }}; sessionid={{ $('fetch neat sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "responseContainsNextURL",
                "nextURL": "={{ $response.body.next }}",
                "paginationCompleteWhen": "other",
                "completeExpression": "={{ $response.body.next == null }}"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2048,
          752
        ],
        "id": "d3b1fd0a-3e4d-419e-a7d4-788aa4f5092c",
        "name": "fetch chamados"
      },
      {
        "parameters": {
          "url": "https://hub.novadata.com.br/api/fase/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "={{ $json.baseUrl }}/"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "={{ $json.csrfFieldName }}={{ $json.csrfCookie }}; sessionid={{ $json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "off"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3168,
          464
        ],
        "id": "be660b8d-7024-42ef-b50a-6d2758cdc98d",
        "name": "fetch fases"
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "id"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          -1152,
          80
        ],
        "id": "cc7a1506-b924-43d6-8c8a-d5b411a40172",
        "name": "sort by id"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "fase",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -928,
          80
        ],
        "id": "1bfc8933-133f-4dd2-abb6-1f3591e98ded",
        "name": "append fases"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -1600,
          848
        ],
        "id": "ee34ee59-0da3-470c-8cf4-30a860acdc36",
        "name": "split cards"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "225d6553-8b9e-416c-a191-fc563d6374dc",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "c2abc8dd-32a1-4877-93f8-96fb38cec0b8",
                "name": "tag",
                "value": "={{ $json.tag }}",
                "type": "array"
              },
              {
                "id": "e7383f85-8621-425b-b280-303613b7ed9f",
                "name": "titulo",
                "value": "={{ $json.titulo }}",
                "type": "string"
              },
              {
                "id": "f92573fa-8054-40d8-a07f-b24dfa426dcf",
                "name": "descricao",
                "value": "={{ $json.descricao }}",
                "type": "string"
              },
              {
                "id": "dea99a5d-abf2-4c61-ac30-3d9da3f9224a",
                "name": "responsaveis",
                "value": "={{ $json.responsaveis }}",
                "type": "array"
              },
              {
                "id": "d0c3c52f-2596-417b-baed-f08a259bdf9d",
                "name": "orcado",
                "value": "={{ $json.orcado }}",
                "type": "string"
              },
              {
                "id": "3a9eb313-8ab4-40b0-93a0-575bec63d4d9",
                "name": "tempo_decorrido",
                "value": "={{ $json.tempo_decorrido }}",
                "type": "string"
              },
              {
                "id": "ee4a8d06-9023-4eab-a69d-f2b50a16bc81",
                "name": "em_andamento",
                "value": "={{ $json.em_andamento }}",
                "type": "boolean"
              },
              {
                "id": "83dfe687-e520-4ea3-8cac-c3ccec5be23e",
                "name": "data_criacao",
                "value": "={{ $json.data_criacao }}",
                "type": "string"
              },
              {
                "id": "939acf65-ea39-4d27-9c62-430584c68324",
                "name": "data_prevista",
                "value": "={{ $json.data_prevista }}",
                "type": "string"
              },
              {
                "id": "465f44ec-2c9f-49d5-b12a-e7186835b334",
                "name": "data_desejada",
                "value": "={{ $json.data_desejada }}",
                "type": "string"
              },
              {
                "id": "75e2ab30-7680-432e-863b-c8bc6a36acb2",
                "name": "pontos_totais",
                "value": "={{ $json.pontos_totais }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1376,
          656
        ],
        "id": "baaf8d8f-0de1-4a8f-980d-5e67fb283950",
        "name": "select card fields"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "cards",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -928,
          656
        ],
        "id": "20516cd3-dca0-499a-9b1d-c787446344a6",
        "name": "append cards"
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -704,
          256
        ],
        "id": "0e39cfc9-8a03-46ca-ade5-18bf69c902aa",
        "name": "merge infos cards fases"
      },
      {
        "parameters": {
          "operation": "toJson",
          "options": {
            "fileName": "=entrada"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -32,
          272
        ],
        "id": "089c5e60-f50f-499e-a13f-ebfb0fc47999",
        "name": "make binary json"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/repos/logbit/agente-healthy-check/base/{{ $('make binary json').item.binary.data.fileName }}.{{ $('make binary json').item.binary.data.fileExtension }}",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          192,
          272
        ],
        "id": "1cfae26b-f753-4f0b-a39f-92f4807f5b02",
        "name": "write agent input"
      },
      {
        "parameters": {
          "fileSelector": "=/data/repos/logbit/agente-healthy-check/base/healthcheck_projeto_{{$('edit fields').item.json.info.projeto_info.id}}_fase_{{$('edit fields').item.json.info.fase_info.fase_id}}.{{ $('make binary json').item.binary.data.fileExtension }}",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          640,
          272
        ],
        "id": "f535cf3e-b308-4383-8322-577b0b9597e0",
        "name": "read agent output",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "fromJson",
          "destinationKey": "=data",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          864,
          272
        ],
        "id": "d9f2d702-3233-4ab9-b6b8-9178325d76a5",
        "name": "make n8n json",
        "disabled": true
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -480,
          272
        ],
        "id": "7ec31458-e370-40f4-8261-a205ccdff51d",
        "name": "aggregate"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "93f8b913-e0f2-4666-be6f-853d550bbead",
                "name": "info",
                "value": "={{ $json.data[0].info }}",
                "type": "object"
              },
              {
                "id": "9f4dcb74-37db-4c7a-8017-478a0e50da31",
                "name": "cards",
                "value": "={{ $json.data[1].cards }}",
                "type": "array"
              },
              {
                "id": "d59e879c-1e0b-40d3-b07e-1612cd6fe78d",
                "name": "fase",
                "value": "={{ $json.data[2].fase }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -256,
          272
        ],
        "id": "61267aaf-5b99-4939-9607-2e526c044ae2",
        "name": "edit fields"
      },
      {
        "parameters": {
          "language": "python",
          "pythonCode": "import re\n\n_BASE64_AFTER_MARKER_RE = re.compile(\n    r'(base64,)[A-Za-z0-9+/=\\r\\n]+(?=(?:[\"\\s]|$))',\n    re.IGNORECASE,\n)\n\ndef strip_after_base64_marker(text: str) -> str:\n    \"\"\"Mantém 'base64,' e remove o payload até aspas/espaço/fim.\"\"\"\n    if not isinstance(text, str):\n        return text\n    return _BASE64_AFTER_MARKER_RE.sub(r'\\1', text)\n\nitems = _input.all()\n\nfor item in items:\n    try:\n        data = item[\"json\"]\n    except Exception:\n        data = item  # fallback, caso venha direto\n\n    for k, v in list(data.items()):\n        if isinstance(v, str):\n            data[k] = strip_after_base64_marker(v)\n\nreturn items\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1152,
          656
        ],
        "id": "5f2a74ab-32e5-4b7c-bc15-1d18c2533afe",
        "name": "remove base64"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9db12bb1-45b8-4fd1-be10-b060d47a569b",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "4dafc261-6459-471d-93a8-04130c583c6a",
                "name": "nome",
                "value": "={{ $json.nome }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2944,
          464
        ],
        "id": "d533e694-982b-45a2-81b9-3d4c544b58ac",
        "name": "select fase id and name"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "10190337-eb8d-4c8d-9266-aaef965d68e6",
                "leftValue": "={{ $json.id }}",
                "rightValue": "={{ $('receive projeto and fase').item.json.fase }}",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -2720,
          560
        ],
        "id": "2e57f591-0371-4d3c-b8c7-6c4c6fe3d7cf",
        "name": "filter selected fase"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f86b4c6c-1cdc-42ec-8bbe-7ce40d28385f",
                "name": "fase_info.fase_nome",
                "value": "={{ $json.nome }}",
                "type": "string"
              },
              {
                "id": "319dc818-8a7e-478d-ad72-b19ede0caefe",
                "name": "fase_info.fase_id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1824,
          272
        ],
        "id": "ac818ce2-a92f-4a59-abd1-47449e703b44",
        "name": "make fase json"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -1600,
          368
        ],
        "id": "cfe0b2ec-c43b-407c-941f-54075a42a815",
        "name": "merge fase and cards"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1376,
          368
        ],
        "id": "1688b46c-fec5-4b40-8db3-c6d7bcc01990",
        "name": "append in one item"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "63f4ce9e-1170-43af-93c0-f374de398d9e",
                "name": "results",
                "value": "={{ $json.results }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1824,
          848
        ],
        "id": "b4a97637-11b1-4ba5-9278-b62a56868b51",
        "name": "select cards",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c878bbeb-2fb5-487e-867a-9f8fd0ca1ea8",
                "name": "info.projeto_info",
                "value": "={{ $('merge fase and cards').last().json.results[0].projeto_info }}",
                "type": "object"
              },
              {
                "id": "d47f5991-04be-44b9-bf76-6294ef5e9784",
                "name": "info.fase_info",
                "value": "={{ $json.data[0].fase_info }}",
                "type": "object"
              },
              {
                "id": "bef1b315-4920-4964-a4bd-86c3ab3ccc01",
                "name": "info.card_count",
                "value": "={{ $('merge fase and cards').last().json.card_count }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1152,
          368
        ],
        "id": "dd038a86-fee6-4bff-aa1d-7b4daa87bbf6",
        "name": "select fase projeto and card count",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "projeto",
                "type": "number"
              },
              {
                "name": "fase",
                "type": "number"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -3616,
          560
        ],
        "id": "ebc8260f-0307-4abb-bb3b-07fa4fc6b6ba",
        "name": "receive projeto and fase"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "NjnKt0iFshkTHpkY",
            "mode": "list",
            "cachedResultUrl": "/workflow/NjnKt0iFshkTHpkY",
            "cachedResultName": "LOG_Workflow_Util_fetch_sess_v2"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "baseUrl": "https://hub.novadata.com.br",
              "loginPath": "/login/",
              "csrfFieldName": "csrftoken"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "baseUrl",
                "displayName": "baseUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "loginPath",
                "displayName": "loginPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "csrfFieldName",
                "displayName": "csrfFieldName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -3392,
          560
        ],
        "id": "15ab6e17-8e8b-48df-bb0e-2a7d7dccdf38",
        "name": "fetch neat sess"
      },
      {
        "parameters": {
          "command": "python /data/repos/logbit/agente-healthy-check/pipeline_agente.py"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          416,
          272
        ],
        "id": "2951e367-ba7b-4d76-b8a0-7ace0244ec18",
        "name": "python agent",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ffcb5973-5c1a-4756-b90d-eea921c4d008",
                "name": "card_count",
                "value": "={{ $json.count }}",
                "type": "number"
              },
              {
                "id": "90ca4a33-c4de-4513-80df-79ba607ad677",
                "name": "results[0].projeto_info",
                "value": "={{ $json.results[0].projeto_info }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1824,
          656
        ],
        "id": "5df39518-ac08-4188-b2df-bc6610f7a1b3",
        "name": "select project_info and card_count",
        "executeOnce": true
      },
      {
        "parameters": {
          "url": "https://hub.novadata.com.br/api/chamado/arquivados/256/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "=/"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "={{ $('fetch neat sess').item.json.csrfFieldName }}={{ $('fetch neat sess').item.json.csrfCookie }}; sessionid={{ $('fetch neat sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "responseContainsNextURL",
                "nextURL": "={{ $response.body.next }}",
                "paginationCompleteWhen": "other",
                "completeExpression": "={{ $response.body.next == null }}"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3168,
          752
        ],
        "id": "fb252588-17b3-40c1-9121-24551bfd18a8",
        "name": "fetch chamados1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -2944,
          752
        ],
        "id": "8c02f8eb-440f-4ed2-89e1-6202b8c12741",
        "name": "Split Out"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "be819a59-268f-4856-88f7-4fe45040f7e5",
                "leftValue": "={{ $json.fase }}",
                "rightValue": 6,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "2f4ac8e8-d0a6-4bf4-beb6-b5b2bcb8501d",
                "leftValue": "={{ $json.fase }}",
                "rightValue": 11,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -2720,
          752
        ],
        "id": "a77d71e9-ec23-46a6-8580-18c91c50ddec",
        "name": "Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4b741192-060e-4fe0-b731-57471b1d4f55",
                "leftValue": "={{ $json.id }}",
                "rightValue": 6,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "ffe102be-922f-485a-bd46-a03fd36e3406",
                "leftValue": "={{ $json.id }}",
                "rightValue": "11",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2496,
          656
        ],
        "id": "859b2528-7e8c-4e7a-ba61-4b48809870ae",
        "name": "If"
      },
      {
        "parameters": {
          "url": "https://hub.novadata.com.br/api/chamado/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "projeto__id",
                "value": "={{ $('receive projeto and fase').item.json.projeto }}"
              },
              {
                "name": "fase__id",
                "value": "={{ $json.concluido_ids }}"
              },
              {
                "name": "arquivado",
                "value": "true"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Referer",
                "value": "=/"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "={{ $('fetch neat sess').item.json.csrfFieldName }}={{ $('fetch neat sess').item.json.csrfCookie }}; sessionid={{ $('fetch neat sess').item.json.sessionId }}"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "paginationMode": "responseContainsNextURL",
                "nextURL": "={{ $response.body.next }}",
                "paginationCompleteWhen": "other",
                "completeExpression": "={{ $response.body.next == null }}"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1824,
          464
        ],
        "id": "fcb7e32b-47d1-4dbf-aa1d-d6496fbcf347",
        "name": "fetch chamados2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d2220e95-3692-4a55-a419-963438061ea8",
                "name": "concluido_ids",
                "value": "[6,11]",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2272,
          464
        ],
        "id": "ce6a239d-53cc-41f9-ac6d-20f8ad8ef39b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "fieldToSplitOut": "concluido_ids",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -2048,
          464
        ],
        "id": "fcad52e2-c70f-4b95-b6c3-6465e8b9cb34",
        "name": "Split Out1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -1600,
          560
        ],
        "id": "1c1f5052-7cdf-4276-a432-c9acda55921b",
        "name": "Split Out2"
      }
    ],
    "connections": {
      "fetch chamados": {
        "main": [
          [
            {
              "node": "select cards",
              "type": "main",
              "index": 0
            },
            {
              "node": "select project_info and card_count",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetch fases": {
        "main": [
          [
            {
              "node": "select fase id and name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "sort by id": {
        "main": [
          [
            {
              "node": "append fases",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "append fases": {
        "main": [
          [
            {
              "node": "merge infos cards fases",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "split cards": {
        "main": [
          [
            {
              "node": "select card fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select card fields": {
        "main": [
          [
            {
              "node": "remove base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "append cards": {
        "main": [
          [
            {
              "node": "merge infos cards fases",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "merge infos cards fases": {
        "main": [
          [
            {
              "node": "aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "make binary json": {
        "main": [
          [
            {
              "node": "write agent input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "write agent input": {
        "main": [
          [
            {
              "node": "python agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "read agent output": {
        "main": [
          [
            {
              "node": "make n8n json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "aggregate": {
        "main": [
          [
            {
              "node": "edit fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "edit fields": {
        "main": [
          [
            {
              "node": "make binary json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "remove base64": {
        "main": [
          [
            {
              "node": "append cards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select fase id and name": {
        "main": [
          [
            {
              "node": "filter selected fase",
              "type": "main",
              "index": 0
            },
            {
              "node": "sort by id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "filter selected fase": {
        "main": [
          [
            {
              "node": "make fase json",
              "type": "main",
              "index": 0
            },
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "make fase json": {
        "main": [
          [
            {
              "node": "merge fase and cards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "merge fase and cards": {
        "main": [
          [
            {
              "node": "append in one item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "append in one item": {
        "main": [
          [
            {
              "node": "select fase projeto and card count",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select cards": {
        "main": [
          [
            {
              "node": "split cards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select fase projeto and card count": {
        "main": [
          [
            {
              "node": "merge infos cards fases",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "receive projeto and fase": {
        "main": [
          [
            {
              "node": "fetch neat sess",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetch neat sess": {
        "main": [
          [
            {
              "node": "fetch chamados1",
              "type": "main",
              "index": 0
            },
            {
              "node": "fetch fases",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "python agent": {
        "main": [
          [
            {
              "node": "read agent output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select project_info and card_count": {
        "main": [
          [
            {
              "node": "merge fase and cards",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "fetch chamados1": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "fetch chamados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "fetch chamados2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetch chamados2": {
        "main": [
          [
            {
              "node": "Split Out2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out2": {
        "main": [
          [
            {
              "node": "select card fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Novadata Desenvolvimento",
    "name": null,
    "description": null
  }
}