backups/workflows/logworkfagenteanalisecardsv3__0KkK1Qgl3hvhrtvf.json
{
  "updatedAt": "2026-01-27T20:40:09.490Z",
  "createdAt": "2025-10-16T20:42:17.602Z",
  "id": "0KkK1Qgl3hvhrtvf",
  "name": "LOG_Workf_agente_analise_cards_v3",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/chamado/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "projeto__id",
              "value": "={{ $('receive projeto and fase').item.json.projeto }}"
            },
            {
              "name": "fase__id",
              "value": "={{ $('receive projeto and fase').item.json.fase }}"
            },
            {
              "name": "com_arquivados",
              "value": "={{ $('receive projeto and fase').item.json.fase==6?\"True\":\"False\" }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "=/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $('fetch neat sess').item.json.csrfFieldName }}={{ $('fetch neat sess').item.json.csrfCookie }}; sessionid={{ $('fetch neat sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.next == null }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1952,
        640
      ],
      "id": "e0336799-cbda-46d7-9380-33b134105b0c",
      "name": "fetch chamados"
    },
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/fase/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $json.baseUrl }}/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.csrfFieldName }}={{ $json.csrfCookie }}; sessionid={{ $json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2624,
        352
      ],
      "id": "da62e3ee-d553-4bb7-9548-881300478316",
      "name": "fetch fases"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -832,
        80
      ],
      "id": "905d2d36-dbd9-4aff-833a-a399cfd1a83d",
      "name": "sort by id"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "fase",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -608,
        80
      ],
      "id": "b7cd800f-0d62-4a52-ac54-9a54f419979e",
      "name": "append fases"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1280,
        640
      ],
      "id": "415ceeda-0349-4c37-9ce7-d4afe089ba87",
      "name": "split cards"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "225d6553-8b9e-416c-a191-fc563d6374dc",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "c2abc8dd-32a1-4877-93f8-96fb38cec0b8",
              "name": "tag",
              "value": "={{ $json.tag }}",
              "type": "array"
            },
            {
              "id": "e7383f85-8621-425b-b280-303613b7ed9f",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "f92573fa-8054-40d8-a07f-b24dfa426dcf",
              "name": "descricao",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "dea99a5d-abf2-4c61-ac30-3d9da3f9224a",
              "name": "responsaveis",
              "value": "={{ $json.responsaveis }}",
              "type": "array"
            },
            {
              "id": "d0c3c52f-2596-417b-baed-f08a259bdf9d",
              "name": "orcado",
              "value": "={{ $json.orcado }}",
              "type": "string"
            },
            {
              "id": "3a9eb313-8ab4-40b0-93a0-575bec63d4d9",
              "name": "tempo_decorrido",
              "value": "={{ $json.tempo_decorrido }}",
              "type": "string"
            },
            {
              "id": "ee4a8d06-9023-4eab-a69d-f2b50a16bc81",
              "name": "em_andamento",
              "value": "={{ $json.em_andamento }}",
              "type": "boolean"
            },
            {
              "id": "83dfe687-e520-4ea3-8cac-c3ccec5be23e",
              "name": "data_criacao",
              "value": "={{ $json.data_criacao }}",
              "type": "string"
            },
            {
              "id": "939acf65-ea39-4d27-9c62-430584c68324",
              "name": "data_prevista",
              "value": "={{ $json.data_prevista }}",
              "type": "string"
            },
            {
              "id": "465f44ec-2c9f-49d5-b12a-e7186835b334",
              "name": "data_desejada",
              "value": "={{ $json.data_desejada }}",
              "type": "string"
            },
            {
              "id": "484e243c-b529-4e70-9c70-e9ebc6722006",
              "name": "data_conclusao",
              "value": "={{ $json.data_conclusao }}",
              "type": "string"
            },
            {
              "id": "75e2ab30-7680-432e-863b-c8bc6a36acb2",
              "name": "pontos_totais",
              "value": "={{ $json.pontos_totais }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        640
      ],
      "id": "90bda26b-60b7-453e-bd69-9d2c07a642ff",
      "name": "select card fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "cards",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -400,
        640
      ],
      "id": "57aae28a-037d-4b23-a815-8f84e8663085",
      "name": "append cards"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        336
      ],
      "id": "705ef45f-96a2-40c7-90d5-dc102af73631",
      "name": "merge infos cards fases"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "=entrada"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        496,
        352
      ],
      "id": "5af19ee7-f532-4c8d-8913-0c460f3c8332",
      "name": "make binary json"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/repos/logbit/agente-healthy-check/base/{{ $('make binary json').item.binary.data.fileName }}.{{ $('make binary json').item.binary.data.fileExtension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        352
      ],
      "id": "f88f072c-d9cd-460f-9113-c3f4a12f9e29",
      "name": "write agent input"
    },
    {
      "parameters": {
        "fileSelector": "=/data/repos/logbit/agente-healthy-check/base/healthcheck_projeto_{{$('edit fields').item.json.info.projeto_info.id}}_fase_{{$('edit fields').item.json.info.fase_info.fase_id}}.{{ $('make binary json').item.binary.data.fileExtension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1168,
        352
      ],
      "id": "9dfa9c34-c2a9-42d7-93e4-7f4ff7a32598",
      "name": "read agent output"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1392,
        352
      ],
      "id": "9ac77540-bc8b-409f-8582-0ce2ea0ee20d",
      "name": "make n8n json"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        48,
        352
      ],
      "id": "3c0493e1-1253-4667-9ba6-d34ede6cc358",
      "name": "aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93f8b913-e0f2-4666-be6f-853d550bbead",
              "name": "info",
              "value": "={{ $json.data[0].info }}",
              "type": "object"
            },
            {
              "id": "9f4dcb74-37db-4c7a-8017-478a0e50da31",
              "name": "cards",
              "value": "={{ $json.data[1].cards }}",
              "type": "array"
            },
            {
              "id": "d59e879c-1e0b-40d3-b07e-1612cd6fe78d",
              "name": "fase",
              "value": "={{ $json.data[2].fase }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        352
      ],
      "id": "56bf9a27-1862-4953-b7f5-3ef4adf13fce",
      "name": "edit fields"
    },
    {
      "parameters": {
        "jsCode": "const regex = /(base64,)[A-Za-z0-9+/=\\r\\n]+(?=(?:[\"\\s]|$))/gi;\n\nfor (const item of items) {\n  const data = item.json;\n\n  for (const key of Object.keys(data)) {\n    const value = data[key];\n\n    if (typeof value === 'string') {\n      data[key] = value.replace(regex, '$1');\n    }\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        640
      ],
      "id": "4fd2722c-9280-4b80-8c62-35cac68e9d07",
      "name": "remove base64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9db12bb1-45b8-4fd1-be10-b060d47a569b",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "4dafc261-6459-471d-93a8-04130c583c6a",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        352
      ],
      "id": "8bbe152c-5e5c-4aba-af6f-165c33bb3212",
      "name": "select fase id and name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10190337-eb8d-4c8d-9266-aaef965d68e6",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('receive projeto and fase').item.json.fase }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2176,
        448
      ],
      "id": "c0c5e5ea-08de-4eaf-b170-c9ffd8fdcfb9",
      "name": "filter selected fase"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f86b4c6c-1cdc-42ec-8bbe-7ce40d28385f",
              "name": "fase_info.fase_nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "319dc818-8a7e-478d-ad72-b19ede0caefe",
              "name": "fase_info.fase_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        256
      ],
      "id": "c9dcce20-4eb5-4e0f-8151-f9d9476cdb23",
      "name": "make fase json"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1280,
        352
      ],
      "id": "c74d0ad6-0046-4629-ba47-d144230edcd9",
      "name": "merge fase and cards"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1056,
        352
      ],
      "id": "6b8b6107-5d05-470a-99ce-ac148934ca75",
      "name": "append in one item"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63f4ce9e-1170-43af-93c0-f374de398d9e",
              "name": "results",
              "value": "={{ $('fetch chamados').item.json.results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        640
      ],
      "id": "dc1ddc75-3fb0-4461-8a7f-b6a19d41a706",
      "name": "select cards",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c878bbeb-2fb5-487e-867a-9f8fd0ca1ea8",
              "name": "info.projeto_info",
              "value": "={{ $('merge fase and cards').last().json.results[0].projeto_info }}",
              "type": "object"
            },
            {
              "id": "d47f5991-04be-44b9-bf76-6294ef5e9784",
              "name": "info.fase_info",
              "value": "={{ $json.data[0].fase_info }}",
              "type": "object"
            },
            {
              "id": "bef1b315-4920-4964-a4bd-86c3ab3ccc01",
              "name": "info.card_count",
              "value": "={{ $('merge fase and cards').last().json.card_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        352
      ],
      "id": "1ad344b2-b6a9-417f-8b32-32bde3616636",
      "name": "select fase projeto and card count",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projeto",
              "type": "number"
            },
            {
              "name": "fase",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3072,
        352
      ],
      "id": "9459445b-6abe-4887-8e6d-013eaa741f88",
      "name": "receive projeto and fase"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NjnKt0iFshkTHpkY",
          "mode": "list",
          "cachedResultUrl": "/workflow/NjnKt0iFshkTHpkY",
          "cachedResultName": "LOG_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.novadata.com.br",
            "loginPath": "/login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2848,
        352
      ],
      "id": "8b828863-472d-46ce-b1d1-f28c57cf5b7a",
      "name": "fetch neat sess"
    },
    {
      "parameters": {
        "command": "python /data/repos/logbit/agente-healthy-check/pipeline_agente.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        944,
        352
      ],
      "id": "8f9ff8a8-1845-4ff6-bfd7-72dd69c1e6dc",
      "name": "python agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffcb5973-5c1a-4756-b90d-eea921c4d008",
              "name": "card_count",
              "value": "={{ $json.count }}",
              "type": "number"
            },
            {
              "id": "90ca4a33-c4de-4513-80df-79ba607ad677",
              "name": "results[0].projeto_info",
              "value": "={{ $json.results[0].projeto_info }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        448
      ],
      "id": "4b1c8d2f-cbcf-4145-a874-02735714bb26",
      "name": "select project_info and card_count",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24685201-d369-483b-828e-b96ed1f1dc9f",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1728,
        640
      ],
      "id": "fdd64599-926d-43a1-a15e-c6a5c83f96d2",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Não há cards para esta coluna neste projeto."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1504,
        832
      ],
      "id": "fdd1280c-300a-4db8-b5fe-13cb003c5bce",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4edc525d-9a90-4f5c-b0dc-f423b6143973",
              "leftValue": "={{ $itemIndex }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -624,
        640
      ],
      "id": "a02a6eaf-bb3c-4097-9e6b-c4a3fc8dd1c4",
      "name": "Filter",
      "disabled": true
    }
  ],
  "connections": {
    "fetch chamados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch fases": {
      "main": [
        [
          {
            "node": "select fase id and name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sort by id": {
      "main": [
        [
          {
            "node": "append fases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append fases": {
      "main": [
        [
          {
            "node": "merge infos cards fases",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "split cards": {
      "main": [
        [
          {
            "node": "select card fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select card fields": {
      "main": [
        [
          {
            "node": "remove base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append cards": {
      "main": [
        [
          {
            "node": "merge infos cards fases",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge infos cards fases": {
      "main": [
        [
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make binary json": {
      "main": [
        [
          {
            "node": "write agent input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write agent input": {
      "main": [
        [
          {
            "node": "python agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read agent output": {
      "main": [
        [
          {
            "node": "make n8n json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit fields": {
      "main": [
        [
          {
            "node": "make binary json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove base64": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select fase id and name": {
      "main": [
        [
          {
            "node": "filter selected fase",
            "type": "main",
            "index": 0
          },
          {
            "node": "sort by id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter selected fase": {
      "main": [
        [
          {
            "node": "make fase json",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch chamados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make fase json": {
      "main": [
        [
          {
            "node": "merge fase and cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge fase and cards": {
      "main": [
        [
          {
            "node": "append in one item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append in one item": {
      "main": [
        [
          {
            "node": "select fase projeto and card count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select cards": {
      "main": [
        [
          {
            "node": "split cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select fase projeto and card count": {
      "main": [
        [
          {
            "node": "merge infos cards fases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "receive projeto and fase": {
      "main": [
        [
          {
            "node": "fetch neat sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch neat sess": {
      "main": [
        [
          {
            "node": "fetch fases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "python agent": {
      "main": [
        [
          {
            "node": "read agent output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select project_info and card_count": {
      "main": [
        [
          {
            "node": "merge fase and cards",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "select project_info and card_count",
            "type": "main",
            "index": 0
          },
          {
            "node": "select cards",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "append cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "receive projeto and fase": [
      {
        "json": {
          "projeto": 487,
          "fase": 1
        }
      }
    ]
  },
  "versionId": "9617c285-d2ae-420f-b698-158b0a54d9d9",
  "activeVersionId": null,
  "versionCounter": 39,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-16T20:42:17.602Z",
      "createdAt": "2025-10-16T20:42:17.602Z",
      "role": "workflow:owner",
      "workflowId": "0KkK1Qgl3hvhrtvf",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}