backups/workflows/my-workflow.json
{
  "updatedAt": "2026-02-19T20:44:48.712Z",
  "createdAt": "2026-02-19T20:42:32.510Z",
  "id": "t5b-z5emqZKfkzza_RYz2",
  "name": "My workflow",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "953564fb-8a1a-489f-828d-aa416ed2ee47",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7875b22f-cf0b-40e8-9ded-8f9fd6c16229",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a095faef-6786-450d-bd3a-143e3a83b69b",
              "name": "Year",
              "value": "={{ $json.Year }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "d97f1ed8-9592-4708-be76-06cdef6f35b3",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "846d310d-52c1-473a-a4a9-7aba220d29f8",
  "activeVersionId": "846d310d-52c1-473a-a4a9-7aba220d29f8",
  "versionCounter": 11,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-19T20:42:32.510Z",
      "createdAt": "2026-02-19T20:42:32.510Z",
      "role": "workflow:owner",
      "workflowId": "t5b-z5emqZKfkzza_RYz2",
      "projectId": "kQ9HCTFoUkYF2yac",
      "project": {
        "updatedAt": "2026-02-19T01:36:26.451Z",
        "createdAt": "2026-02-18T22:28:46.875Z",
        "id": "kQ9HCTFoUkYF2yac",
        "name": "Gabriela Morais <moraisinovaiacloud@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b6dabd67-dbcd-4f75-ae7c-54536183a0ee",
        "projectRelations": [
          {
            "updatedAt": "2026-02-18T22:28:46.875Z",
            "createdAt": "2026-02-18T22:28:46.875Z",
            "userId": "b6dabd67-dbcd-4f75-ae7c-54536183a0ee",
            "projectId": "kQ9HCTFoUkYF2yac",
            "user": {
              "updatedAt": "2026-02-19T18:48:49.671Z",
              "createdAt": "2026-02-18T22:28:45.493Z",
              "id": "b6dabd67-dbcd-4f75-ae7c-54536183a0ee",
              "email": "moraisinovaiacloud@gmail.com",
              "firstName": "Gabriela",
              "lastName": "Morais",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-19T01:36:34.445Z",
                "personalization_survey_n8n_version": "1.123.7"
              },
              "settings": {
                "userActivated": false
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-19T20:44:56.503Z",
    "createdAt": "2026-02-19T20:44:48.714Z",
    "versionId": "846d310d-52c1-473a-a4a9-7aba220d29f8",
    "workflowId": "t5b-z5emqZKfkzza_RYz2",
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "953564fb-8a1a-489f-828d-aa416ed2ee47",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "7875b22f-cf0b-40e8-9ded-8f9fd6c16229",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a095faef-6786-450d-bd3a-143e3a83b69b",
                "name": "Year",
                "value": "={{ $json.Year }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          0
        ],
        "id": "d97f1ed8-9592-4708-be76-06cdef6f35b3",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Gabriela Morais",
    "name": "Version 84",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-19T20:44:56.501Z",
        "id": 9,
        "workflowId": "t5b-z5emqZKfkzza_RYz2",
        "versionId": "846d310d-52c1-473a-a4a9-7aba220d29f8",
        "event": "activated",
        "userId": "b6dabd67-dbcd-4f75-ae7c-54536183a0ee"
      }
    ]
  }
}