backups/workflows/sub-workflow-mp3converter__nQ8gFhI3DConGFrP.json
{
  "updatedAt": "2025-12-10T12:20:08.838Z",
  "createdAt": "2025-12-10T10:19:32.807Z",
  "id": "nQ8gFhI3DConGFrP",
  "name": "sub-workflow-mp3converter",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        16
      ],
      "id": "5c6ec4ab-b001-4350-b4b1-f926fc0ab708",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "={{ $json.url_hls }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -224
      ],
      "id": "7c9e3bf6-bdad-4481-9d5c-1980d433e88a",
      "name": "Usa Link",
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/tmp/{{$binary.data.fileName}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        352,
        16
      ],
      "id": "e208579c-b642-4499-aa5b-98e785a56de1",
      "name": "Escreve na pasta"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=ffmpeg -y -i \"{{ $json.fileName }}\" -probesize 200M -analyzeduration 200M -vn -b:a 192k -acodec libmp3lame -filter:a \"atempo=0.9\" \"{{ $json.fileName.replace('.mp4', '.mp3') }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        608,
        16
      ],
      "id": "db567e81-b3b5-40f3-bafb-8e3aa1b5fe86",
      "name": "MP3Conv",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1_Kjo6o-6zfiXoog1r_Mllv2yxr1Oy_J2",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        16
      ],
      "id": "416cc1fb-fc23-4a14-ac59-cfdbdde5680e",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usa Link": {
      "main": [
        []
      ]
    },
    "Escreve na pasta": {
      "main": [
        [
          {
            "node": "MP3Conv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MP3Conv": {
      "main": [
        [],
        [
          {
            "node": "MP3Conv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Escreve na pasta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "91221006-b345-4744-b36e-60832c0a5acc",
  "activeVersionId": "91221006-b345-4744-b36e-60832c0a5acc",
  "versionCounter": 19,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-10T10:19:32.807Z",
      "createdAt": "2025-12-10T10:19:32.807Z",
      "role": "workflow:owner",
      "workflowId": "nQ8gFhI3DConGFrP",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-10T12:20:08.843Z",
    "createdAt": "2025-12-10T12:20:08.843Z",
    "versionId": "91221006-b345-4744-b36e-60832c0a5acc",
    "workflowId": "nQ8gFhI3DConGFrP",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -64,
          16
        ],
        "id": "5c6ec4ab-b001-4350-b4b1-f926fc0ab708",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "url": "={{ $json.url_hls }}",
          "options": {
            "response": {
              "response": {
                "neverError": true,
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          144,
          -224
        ],
        "id": "7c9e3bf6-bdad-4481-9d5c-1980d433e88a",
        "name": "Usa Link",
        "retryOnFail": true,
        "maxTries": 3,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/files/tmp/{{$binary.data.fileName}}",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          352,
          16
        ],
        "id": "e208579c-b642-4499-aa5b-98e785a56de1",
        "name": "Escreve na pasta"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=ffmpeg -y -i \"{{ $json.fileName }}\" -probesize 200M -analyzeduration 200M -vn -b:a 192k -acodec libmp3lame -filter:a \"atempo=0.9\" \"{{ $json.fileName.replace('.mp4', '.mp3') }}\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          608,
          16
        ],
        "id": "db567e81-b3b5-40f3-bafb-8e3aa1b5fe86",
        "name": "MP3Conv",
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "https://drive.google.com/uc?export=download&id=1_Kjo6o-6zfiXoog1r_Mllv2yxr1Oy_J2",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          144,
          16
        ],
        "id": "416cc1fb-fc23-4a14-ac59-cfdbdde5680e",
        "name": "HTTP Request"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Usa Link": {
        "main": [
          []
        ]
      },
      "Escreve na pasta": {
        "main": [
          [
            {
              "node": "MP3Conv",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MP3Conv": {
        "main": [
          [],
          [
            {
              "node": "MP3Conv",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Escreve na pasta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Novadata Desenvolvimento",
    "name": null,
    "description": null
  }
}