backups/workflows/transcritor-mainworkflow__EIuqrFuGo7vUKbMX.json
{
  "updatedAt": "2025-12-10T11:43:57.757Z",
  "createdAt": "2025-12-10T11:43:57.757Z",
  "id": "EIuqrFuGo7vUKbMX",
  "name": "transcritor-mainworkflow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        176
      ],
      "id": "d3ad589d-d3a9-4d26-b30c-0d8335101a0e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        176
      ],
      "id": "087e949d-0a81-4492-9c39-70b660a0fb46",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nQ8gFhI3DConGFrP",
          "mode": "list",
          "cachedResultUrl": "/workflow/nQ8gFhI3DConGFrP",
          "cachedResultName": "sub-workflow-mp3converter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -112,
        192
      ],
      "id": "ba9a6fc0-e705-43aa-8286-c93b91a3d7a2",
      "name": "Call 'sub-workflow-mp3converter'"
    },
    {
      "parameters": {
        "command": "rm -f /data/*\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        784,
        32
      ],
      "id": "ac55ddf9-8822-4d7d-a3a2-28b523d7e4f4",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "=/data/*.mp3",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "98bfa871-a4da-42e0-be9d-84e51e8ec4fc",
      "name": "Read/Write Files from Disk",
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        464,
        240
      ],
      "id": "8ae7f72b-5753-4747-a042-96a479f470d6",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1008,
        32
      ],
      "id": "70b7440a-7cd2-4c19-9871-9bfba77814f7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "videos_ia",
          "mode": "list",
          "cachedResultName": "videos_ia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Execute a SQL query').item.json.id }}",
            "titulo_video": "={{ $('Execute a SQL query').item.json.titulo }}",
            "disciplina_id": "={{ $('Execute a SQL query').item.json.disciplina_id }}",
            "assunto_id": "={{ $('Execute a SQL query').item.json.assunto_id }}",
            "area_conhecimento_id": "={{ $('Execute a SQL query').item.json.area_conhecimento_id }}",
            "info_extraida": "={{ $json.candidates[0].content.parts[0].text }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo_video",
              "displayName": "titulo_video",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disciplina_id",
              "displayName": "disciplina_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "assunto_id",
              "displayName": "assunto_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "area_conhecimento_id",
              "displayName": "area_conhecimento_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "info_extraida",
              "displayName": "info_extraida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        32
      ],
      "id": "b4ea3465-7728-4e0c-a90b-aca081a439d3",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        48
      ],
      "id": "27232409-8077-43a0-8caa-736e6e01e44b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        240
      ],
      "id": "5706d3ca-771a-431e-8235-d24626477c22",
      "name": "Wait",
      "webhookId": "2f55d4f5-ffe9-437e-99a6-7bec5c1b8ba8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url_hls, area_conhecimento_id, titulo, assunto_id, disciplina_id, duracao\nFROM \"treinamento_video\"\nWHERE (EXTRACT(EPOCH FROM duracao) * 1000)::BIGINT <= 1800000 -- LIMITE DEFINIDO PARA 3.600.000 ms\n  AND url_hls IS NOT NULL \n  AND id IS NOT NULL\nLIMIT 8;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -544,
        176
      ],
      "id": "77c92cb6-bd77-4401-a90a-7e70cbdcd04c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ezX3E4wAaohalvvh",
          "name": "banco logbit labs dev"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'sub-workflow-mp3converter'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'sub-workflow-mp3converter'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9b1c35ed-bc4d-4006-9c4e-de70f68156a1",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-10T11:43:57.757Z",
      "createdAt": "2025-12-10T11:43:57.757Z",
      "role": "workflow:owner",
      "workflowId": "EIuqrFuGo7vUKbMX",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}