backups/workflows/unimanualnotifquedarentpostv0__7CtDl8fROOWZSTla.json
{
  "updatedAt": "2025-11-03T14:39:02.728Z",
  "createdAt": "2025-10-21T19:47:20.975Z",
  "id": "7CtDl8fROOWZSTla",
  "name": "UNI_Manual_Notif_queda_rent_post_v0",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "emissores_fora_fgc",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "ce107d9c-6856-46e2-b6df-e74942ff75c8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f89c47f-b2fb-46f5-ab57-0123216e7c2d",
              "name": "emissores_fora_fgc",
              "value": "={{ $json.emissores_fora_fgc.items }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        208
      ],
      "id": "1bc17cd1-326f-45cb-b900-9c0965646bda",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        208
      ],
      "id": "5e5945f3-bd2c-483f-a354-9de48c90ddd8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emissores_fora_fgc",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        656,
        208
      ],
      "id": "d3eee0ef-6a6f-4add-b49f-ed13bfffd0da",
      "name": "Split Out1",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultUrl": "/workflow/PlS62KJilKsPGxO2",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub-unifinance.novadata.dev/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -240,
        208
      ],
      "id": "cea34188-01bb-4df0-a7bd-e51fbb4063f8",
      "name": "get sess"
    },
    {
      "parameters": {
        "fileSelector": "/data/files/uni/notifs/output/notificacoes_queda_rent_pf.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -16,
        208
      ],
      "id": "295d1853-90be-416a-ac16-b1c5daa7281e",
      "name": "Read/Write Files from Disk PF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub.unifinance.com.br/api/notificacao/safemode/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"titutlo\": \"Fundação sem registro de atendimento recente\",\n\"descricao\": \"A Fundação {{ $json.nome_alvo }}, com a política {{ $json.politica.replaceAll(\"_\",\" \").toTitleCase() }}, está há {{ $json.dias_sem_atendimento }} dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.\",\n\"destinatario\": {{ $json.officer_id }},\n\"tipo_notificacao\": \"Fundação sem atendimento recente\"\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        -16
      ],
      "id": "cde698cc-8b2e-4201-b542-f255cc487a8a",
      "name": "post notif fund",
      "credentials": {
        "httpCustomAuth": {
          "id": "FAKiXZZQ8lIe1D98",
          "name": "UNI_n8n_prod"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub.unifinance.com.br/api/notificacao/safemode/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"titutlo\": \"Cliente sem registro de atendimento recente\",\n\"descricao\": \"A Fundação {{ $json.nome_alvo }}, com a política {{ $json.politica.replaceAll(\"_\",\" \").toTitleCase() }}, está há {{ $json.dias_sem_atendimento }} dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.\",\n\"destinatario\": {{ $json.officer_id }},\n\"tipo_notificacao\": \"Fundação sem atendimento recente\"\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        -240
      ],
      "id": "960c68a2-c599-4d06-b333-8aa98d018a31",
      "name": "post notif pf",
      "credentials": {
        "httpCustomAuth": {
          "id": "FAKiXZZQ8lIe1D98",
          "name": "UNI_n8n_prod"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('get sess').item.json.baseUrl}}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        208
      ],
      "id": "4931b935-915f-41ac-bf18-7d996b8affcf",
      "name": "test1",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from html import escape\n\n# --- Configuração ---\nDESC_LIMIT = 500  # Limite de caracteres para a descrição HTML\n\n# --- Funções de Ajuda ---\n\ndef ensure_list(name, value):\n    \"\"\"Garante que o valor é uma lista ou um JsProxy convertível para lista.\"\"\"\n    if isinstance(value, list):\n        return value\n    try:\n        # Tenta converter o JsProxy (n8n/js) para uma lista Python\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"'{name}' não é lista nem JsProxy convertível: {type(value)}\") from e\n\ndef to_num(v):\n    \"\"\"Converte um valor (int, float, str, None) para float, tratando formatos de string.\"\"\"\n    if v is None:\n        return None\n    if isinstance(v, (int, float)):\n        return float(v)\n    if isinstance(v, str):\n        s = v.strip()\n        try:\n            # Tenta converter string com formato BR (ponto separador de milhar, vírgula decimal)\n            s_norm = s.replace('.', '').replace(',', '.')\n            return float(s_norm)\n        except Exception:\n            try:\n                # Tenta conversão padrão (se for formato US, por exemplo)\n                return float(s)\n            except Exception:\n                return None\n    try:\n        # Última tentativa de conversão genérica (pode ser JsProxy de número)\n        return float(v)\n    except Exception:\n        return None\n\ndef warn(message: str, ctx: dict, idx: int):\n    \"\"\"Cria um objeto de saída formatado como 'warning' (n8n).\"\"\"\n    # A saída de 'warn' também é um dicionário com chave \"json\" (estrutura exigida pelo n8n)\n    return {\"json\": {\n        \"severity\": \"warning\",\n        \"message\": message,\n        \"context\": ctx,\n        \"item_index\": idx,\n    }}\n\n# --- Processamento Principal ---\n\n# Cabeçalho para o n8n:\n# Code in Python (Run Once for All Items)\n# SAÍDA FINAL (1 lista) — Formatação Compacta (Opção 3), SEM recalcular regras.\n# Retorna: [ {\"json\": ...}, {\"json\": ...}, ... ] (Formato exigido pelo n8n)\n\nout_items = []  # Lista de dicionários de saída, sempre com chave \"json\"\n\nfor idx, item in enumerate(_input.all()):\n    try:\n        j = item.json.to_py()\n        # Prioriza 'nome_alvo', senão 'nome', senão um padrão\n        nome = str(j.get(\"nome_alvo\") or j.get(\"nome\") or \"Cliente\")\n        \n        # Mapeamento de campos e conversão para número\n        queda_pp = to_num(j.get(\"queda_rent_12_meses\"))\n        r12 = to_num(j.get(\"rentabilidade_12_meses\"))\n\n        if queda_pp is None:\n            out_items.append(warn(\n                \"'queda_rent_12_meses' ausente ou inválido.\",\n                {\"nome\": nome}, \n                idx\n            ))\n            continue\n\n        # Lógica da Opção 3 compacta (sem recalcular a regra)\n        if r12 is not None:\n            # r_prev é calculado APENAS para exibição na descrição, a regra de negócio não é reavaliada\n            r_prev = r12 + queda_pp\n            descricao_html = (\n                f\"<p>O cliente <strong>{escape(nome)}</strong> teve uma \"\n                f\"<strong>queda de {queda_pp:.2f} p.p.</strong> na rentabilidade de 12 meses \"\n                f\"(<strong>{r_prev:.2f}% &rarr; {r12:.2f}%</strong>).</p>\"\n                \"<i>Recomendamos avaliar a carteira e a estratégia de investimento.</i>\"\n            )\n        else:\n            # Caso 'rentabilidade_12_meses' esteja ausente/inválido\n            descricao_html = (\n                f\"<p>O cliente <strong>{escape(nome)}</strong> teve uma \"\n                f\"<strong>queda de {queda_pp:.2f} p.p.</strong> na rentabilidade de 12 meses.</p>\"\n                \"<i>Recomendamos avaliar a carteira e a estratégia de investimento.</i>\"\n            )\n\n        # Checagem de limite da descrição\n        if len(descricao_html) > DESC_LIMIT:\n            out_items.append(warn(\n                f\"Descrição excede o limite de {DESC_LIMIT} caracteres.\",\n                {\"nome\": nome, \"limite\": DESC_LIMIT, \"len\": len(descricao_html)},\n                idx\n            ))\n            continue\n\n        # Extração e validação dos responsáveis (officers/usuarios_responsaveis)\n        responsaveis_raw = j.get(\"officers\") or j.get(\"usuarios_responsaveis\") or []\n        responsaveis = ensure_list(\"officers/usuarios_responsaveis\", responsaveis_raw)\n        \n        if not responsaveis:\n            out_items.append(warn(\n                \"Nenhum 'officer'/'usuarios_responsaveis' encontrado para notificação.\", \n                {\"nome\": nome}, \n                idx\n            ))\n            continue\n\n        # Criação dos itens de notificação (um por responsável)\n        for resp in responsaveis:\n            if not isinstance(resp, (int, str)):\n                try:\n                    resp = resp.to_py()  # Tenta converter JsProxy para int/str\n                except Exception:\n                    out_items.append(warn(\n                        \"Responsável inválido (não é int/str ou JsProxy).\", \n                        {\"nome\": nome}, \n                        idx\n                    ))\n                    continue # Pula este responsável, mas tenta o próximo\n\n            novo = {\n                \"titulo\": \"Alerta de Queda de Rentabilidade (≥ 15%)\", # Título padronizado e mais formal\n                \"descricao\": descricao_html,                         # Conteúdo HTML (≤ 500)\n                \"destinatario\": 1,                                # ID do Responsável\n                \"tipo_notificacao\": \"Queda de rentabilidade\",\n            }\n            out_items.append({\n                \"json\": novo,\n                \"pairedItem\": {\"item\": idx}, # Associa ao item original\n            })\n\n    except Exception as e:\n        out_items.append(warn(\n            \"Erro inesperado durante o processamento do item.\", \n            {\"error\": str(e)}, \n            idx\n        ))\n        continue # Processa o próximo item se houver um erro\n\nreturn out_items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        208
      ],
      "id": "7d2f545b-54b0-407a-91f9-7ab5bab99fbd",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75791555-02c9-40d1-848b-fb2f8ddc6dff",
              "leftValue": "={{ $itemIndex }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -240,
        -464
      ],
      "id": "f9cafb64-58af-4485-9371-d15217555890",
      "name": "Filter",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -464
      ],
      "id": "6e1a7572-febd-4bcf-a5bb-274575aeba63",
      "name": "Edit Fields1",
      "disabled": true
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk PF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk PF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test1": {
      "main": [
        []
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "da09481f-d2f1-4427-b3a3-84550ce32fa2",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-21T19:47:20.975Z",
      "createdAt": "2025-10-21T19:47:20.975Z",
      "role": "workflow:owner",
      "workflowId": "7CtDl8fROOWZSTla",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}