backups/workflows/unimanualnotifemissoresfgcpostv2__VxkO5JVRTsu8rEM5.json
{
  "updatedAt": "2025-11-03T18:29:37.361Z",
  "createdAt": "2025-11-03T14:50:07.289Z",
  "id": "VxkO5JVRTsu8rEM5",
  "name": "UNI_Manual_Notif_emissores_fgc_post_v2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "emissores_fora_fgc",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        48
      ],
      "id": "1c754206-5d43-4ba8-a60c-be46c74c4911",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f89c47f-b2fb-46f5-ab57-0123216e7c2d",
              "name": "emissores_fora_fgc",
              "value": "={{ $json.emissores_fora_fgc.itens.notificacoes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        48
      ],
      "id": "c9096e48-7916-4913-94cc-5889b1c0782d",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        48
      ],
      "id": "48a93cae-22a0-4541-bac3-8d3538ba9c27",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emissores_fora_fgc",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        656,
        48
      ],
      "id": "36d83c19-e4b3-4e00-9b6a-dca8c97c0aee",
      "name": "Split Out1",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultUrl": "/workflow/PlS62KJilKsPGxO2",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub-unifinance.novadata.dev/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -240,
        48
      ],
      "id": "8b3fa6e6-7ca1-47f7-86c5-84b0f21e3e79",
      "name": "get sess"
    },
    {
      "parameters": {
        "fileSelector": "/data/files/uni/notifs/output/emissores_fora_fgc_pf.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -16,
        48
      ],
      "id": "68d4d7bd-f259-49af-903b-9b73c96a3304",
      "name": "Read/Write Files from Disk PF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub.unifinance.com.br/api/notificacao/safemode/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"titutlo\": \"Fundação sem registro de atendimento recente\",\n\"descricao\": \"A Fundação {{ $json.nome_alvo }}, com a política {{ $json.politica.replaceAll(\"_\",\" \").toTitleCase() }}, está há {{ $json.dias_sem_atendimento }} dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.\",\n\"destinatario\": {{ $json.officer_id }},\n\"tipo_notificacao\": \"Fundação sem atendimento recente\"\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        -176
      ],
      "id": "5e32276a-7f84-4194-903d-5d0a7972737f",
      "name": "post notif fund",
      "credentials": {
        "httpCustomAuth": {
          "id": "FAKiXZZQ8lIe1D98",
          "name": "UNI_n8n_prod"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub.unifinance.com.br/api/notificacao/safemode/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"titutlo\": \"Cliente sem registro de atendimento recente\",\n\"descricao\": \"A Fundação {{ $json.nome_alvo }}, com a política {{ $json.politica.replaceAll(\"_\",\" \").toTitleCase() }}, está há {{ $json.dias_sem_atendimento }} dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.\",\n\"destinatario\": {{ $json.officer_id }},\n\"tipo_notificacao\": \"Fundação sem atendimento recente\"\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        -400
      ],
      "id": "dea4e538-e91d-4910-930d-5fc70636aa0b",
      "name": "post notif pf",
      "credentials": {
        "httpCustomAuth": {
          "id": "FAKiXZZQ8lIe1D98",
          "name": "UNI_n8n_prod"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('get sess').item.json.baseUrl}}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        48
      ],
      "id": "acc92a0e-3125-42e7-a3b7-cc8466c6e6a9",
      "name": "test1",
      "executeOnce": true,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Code in Python (Beta) — Run Once for All Items\n# Gera 1 saída por responsável, com descrição em HTML e pairedItem preservado.\n\nfrom html import escape\n\ndef to_brl(n: float) -> str:\n    \"\"\"Formata número como 1.234.567,89.\"\"\"\n    return f\"{n:,.2f}\".replace(\",\", \"X\").replace(\".\", \",\").replace(\"X\", \".\")\n\ndef ensure_list(name, value):\n    if isinstance(value, list):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é lista nem JsProxy convertível: {type(value)}\") from e\n\ndef ensure_dict(name, value):\n    if isinstance(value, dict):\n        return value\n    try:\n        return value.to_py()\n    except Exception as e:\n        raise TypeError(f\"{name} não é dict nem JsProxy convertível: {type(value)}\") from e\n\nnew_items = []\n\nfor idx, item in enumerate(_input.all()):\n    j = item.json.to_py()\n\n    nome = j[\"nome_alvo\"]\n    id = j[\"id_alvo\"]\n    emissores_raw = j[\"emissores_notificados\"]\n    responsaveis_raw = j[\"responsaveis\"]\n\n    emissores = ensure_list(\"emissores_notificados\", emissores_raw)\n    responsaveis = ensure_list(\"responsaveis\", responsaveis_raw)\n\n    # monta <ul> de emissores\n    li_parts = []\n    for em in emissores:\n        em = ensure_dict(\"emissor\", em)\n        emissor = escape(str(em[\"emissor\"]))\n        valor = float(em[\"valor\"])\n        li_parts.append(f\"<li>{emissor}, valor estimado de {to_brl(valor)}</li>\")\n    ul_html = \"<ul>\" + \"\".join(li_parts) + \"</ul>\"\n\n    descricao_html = (\n        f\"<p>O cliente <strong>{escape(str(nome))}</strong> possui aplicações sem cobertura do FGC nos seguintes emissores:</p>\"\n        f\"{ul_html}\"\n        f\"<p><em>Avalie a concentração e o risco da posição.</em></p>\"\n    )\n\n    # uma notificação por responsável\n    for resp in responsaveis:\n        # resp pode já ser int/str; se vier proxied, converte\n        if not isinstance(resp, (int, str)):\n            try:\n                resp = resp.to_py()\n            except Exception as e:\n                raise TypeError(f\"Responsável não é int/str nem JsProxy: {type(resp)}\") from e\n\n        novo = {\n            \"titulo\": \"Cliente com aplicações em emissores não cobertos pelo FGC\",\n            \"descricao\": descricao_html,  # HTML\n            \"destinatario\": resp,\n            \"cliente_pf_id\": id,\n            \"nome_cliente_pf\": nome,\n        }\n        new_items.append({\n            \"json\": novo,\n            \"pairedItem\": {\"item\": idx},  # preserva o vínculo com o item de entrada\n        })\n\nreturn new_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        48
      ],
      "id": "681c26bc-35ee-4a40-9c93-00fdb7904e34",
      "name": "Code in Python (Beta)"
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk PF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk PF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test1": {
      "main": [
        []
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0fca3200-a8e8-49c0-bebe-8af4248d3f07",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-03T14:50:07.289Z",
      "createdAt": "2025-11-03T14:50:07.289Z",
      "role": "workflow:owner",
      "workflowId": "VxkO5JVRTsu8rEM5",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}