backups/workflows/unischedulenotifquedarentgeneratev1__LkWQKLHqnFJOlMmW.json
{
  "updatedAt": "2025-11-03T18:28:59.615Z",
  "createdAt": "2025-10-21T19:29:50.220Z",
  "id": "LkWQKLHqnFJOlMmW",
  "name": "UNI_Schedule_Notif_queda_rent_generate_v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        368
      ],
      "id": "5ec8cbdb-58c9-4ae7-b16d-85dd86b0b64f",
      "name": "each hour"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultUrl": "/workflow/PlS62KJilKsPGxO2",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.unifinance.com.br/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -384,
        368
      ],
      "id": "96a53d77-82e9-4911-ae33-3f61aa1cb758",
      "name": "get sess"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        64,
        368
      ],
      "id": "69a86ff4-ff49-40f8-81fd-2a56f256d452",
      "name": "pf array"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=todos",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d157fc03-db4b-4d1c-80c4-b754a5d30e46",
              "leftValue": "={{ $json.rentabilidade_12_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9b73927c-bafe-4b1d-8061-f118a5907cb1",
              "leftValue": "={{ $json.rentabilidade_24_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        288,
        368
      ],
      "id": "be1cc9d5-619c-4395-9c36-33ac00dc742d",
      "name": "status true/emissores not null"
    },
    {
      "parameters": {
        "url": "https://hub.unifinance.com.br/api/clientepf/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response.body.next==null}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        368
      ],
      "id": "15d7e1a5-05e4-4947-80c5-5873f7687cd3",
      "name": "fetch clientes pf"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "queda_rent_pf",
        "options": {
          "fileName": "queda_rent_pf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        512,
        368
      ],
      "id": "addd5cb1-3282-4be0-a3ea-717a19f9f9c5",
      "name": "pf emissores binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/uni/notifs/input/{{$('pf emissores binary').item.binary.queda_rent_pf.fileName}}.{{$('pf emissores binary').item.binary.queda_rent_pf.fileExtension}}",
        "dataPropertyName": "queda_rent_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        736,
        368
      ],
      "id": "834a8574-705d-45eb-91c7-126bfc48e724",
      "name": "save binary in notif/input"
    },
    {
      "parameters": {
        "command": "python /data/repos/uni/unifinance_notificacoes/cli_gatilhos.py queda_rent_pf /data/files/uni/notifs/input/queda_rent_pf.json --saida /data/files/uni/notifs/output/ --format json\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        960,
        368
      ],
      "id": "cd97a14e-4dd9-41ec-8ad4-cdf615477e71",
      "name": "roda gatilho emissores_fora_fgc_pf"
    }
  ],
  "connections": {
    "each hour": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "fetch clientes pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf array": {
      "main": [
        [
          {
            "node": "status true/emissores not null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status true/emissores not null": {
      "main": [
        [
          {
            "node": "pf emissores binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch clientes pf": {
      "main": [
        [
          {
            "node": "pf array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf emissores binary": {
      "main": [
        [
          {
            "node": "save binary in notif/input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save binary in notif/input": {
      "main": [
        [
          {
            "node": "roda gatilho emissores_fora_fgc_pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "dc8909a1-373b-40d3-8f8a-609fac680d5a",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-21T19:29:50.220Z",
      "createdAt": "2025-10-21T19:29:50.220Z",
      "role": "workflow:owner",
      "workflowId": "LkWQKLHqnFJOlMmW",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}