backups/workflows/wf1coletadadosneat__eqGAftxvIpPEYWVT.json
{
  "updatedAt": "2026-01-21T18:00:34.247Z",
  "createdAt": "2026-01-21T17:52:38.781Z",
  "id": "eqGAftxvIpPEYWVT",
  "name": "WF__1_ColetaDadosNeat",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projeto_id",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2272,
        1056
      ],
      "id": "bf683bf8-4833-4486-bb6d-1fffb92e41af",
      "name": "recebeInput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d81c8550-a16f-4e10-9fb0-294c64aaac13",
              "name": "projeto_id",
              "value": "={{ $json.projeto_id }}",
              "type": "number"
            },
            {
              "id": "f8ae4e4d-7b53-49c8-950c-9cc309a19732",
              "name": "baseUrl",
              "value": "https://hub.novadata.com.br",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        1056
      ],
      "id": "7db0eaa6-5130-4206-a3dc-9389f2b767a0",
      "name": "configInicial"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljVhKC41R0Ar1HcU",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljVhKC41R0Ar1HcU",
          "cachedResultName": "WF__LoginNeat"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "={{ $('configInicial').item.json.baseUrl }}",
            "loginPath": "/login/"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1856,
        1056
      ],
      "id": "1023be6e-f78b-4367-9908-cbeb852e9e97",
      "name": "fazLogin"
    },
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/fase/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('fazLogin').item.json.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Referer",
              "value": "/"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1680,
        928
      ],
      "id": "c3e8fc09-28f6-420a-b2f1-89c1e33aed35",
      "name": "buscarFases"
    },
    {
      "parameters": {
        "jsCode": "// A API de fases retorna um array direto, não { results: [...] }\nconst fases = $input.all().map(item => item.json);\n\nconsole.log(`Total de fases encontradas: ${fases.length}`);\n\n// Cria o mapa { id: nome }\nconst mapaFases = {};\nfases.forEach(fase => {\n  mapaFases[fase.id] = fase.nome;\n});\n\nconsole.log('Mapa de fases criado:', mapaFases);\n\nreturn [{\n  json: {\n    fases_map: mapaFases\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        1024
      ],
      "id": "eb265e7f-d7a0-46dd-b90a-55ed2d6ba3f8",
      "name": "criarMapaFases"
    },
    {
      "parameters": {
        "url": "https://hub.novadata.com.br/api/chamado/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "projeto__id",
              "value": "={{ $('configInicial').item.json.projeto_id }}"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Referer",
              "value": "/"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -784,
        448
      ],
      "id": "e4aca205-b0c8-4b9b-a9d3-ca1c159487e5",
      "name": "buscarCards"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -960,
        640
      ],
      "id": "22624ffe-549c-4fe0-bc6b-939f4b648cb9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Pega resposta da API de cards\nconst response = $input.first().json;\nconst cards = response.results || [];\n\n// Pega accessToken do nó fazLogin\nconst accessToken = $('fazLogin').item.json.accessToken;\n\n// Pega baseUrl do nó configInicial\nconst baseUrl = $('configInicial').item.json.baseUrl;\n\n// Pega mapa de fases do nó criarMapaFases\nconst mapaFases = $('criarMapaFases').item.json.fases_map;\n\nconsole.log(`Total de cards encontrados: ${cards.length}`);\n\n// Função para limpar HTML\nfunction limparHTML(html) {\n  if (!html) return '';\n  \n  let limpo = html;\n  \n  // Remove imagens base64\n  limpo = limpo.replace(/data:image\\/[^;]+;base64,[A-Za-z0-9+/=]+/gi, '[imagem]');\n  \n  // Remove tags de imagem\n  limpo = limpo.replace(/<img[^>]*>/gi, '[imagem]');\n  \n  // Remove anexos\n  limpo = limpo.replace(/<span[^>]*attachment-block[^>]*>.*?<\\/span>/gi, '[anexo]');\n  \n  // Remove tags HTML mas mantém o texto\n  limpo = limpo.replace(/<[^>]+>/g, ' ');\n  \n  // Remove espaços múltiplos\n  limpo = limpo.replace(/\\s+/g, ' ').trim();\n  \n  return limpo;\n}\n\n// Converte tempo_decorrido \"HH:MM:SS\" para horas decimais\nfunction parseTempoDecorrido(tempoStr) {\n  if (!tempoStr || tempoStr === \"00:00:00\") return 0;\n  \n  const partes = tempoStr.split(':');\n  if (partes.length < 2) return 0;\n  \n  const horas = parseInt(partes[0]) || 0;\n  const minutos = parseInt(partes[1]) || 0;\n  const segundos = parseInt(partes[2]) || 0;\n  \n  return horas + (minutos / 60) + (segundos / 3600);\n}\n\n// Processa cada card COM TODOS OS DADOS\nconst cardsLimpos = cards.map(card => {\n  const tempoTrabalhadoHoras = parseTempoDecorrido(card.tempo_decorrido);\n  \n  return {\n    // IDs\n    id: card.id,\n    chamado: card.id,\n    \n    // Informações do card\n    titulo: card.titulo || `Card #${card.id}`,\n    descricao_limpa: limparHTML(card.descricao),\n    \n    // Fase\n    fase_atual: card.fase,\n    fase_atual_nome: mapaFases[card.fase] || 'Desconhecida',\n    \n    // Responsáveis\n    responsaveis: (card.responsaveis || []).map(r => r.nome),\n    \n    // Métricas\n    tempo_decorrido: card.tempo_decorrido,\n    tempo_trabalhado_horas: tempoTrabalhadoHoras,\n    pontos_totais: card.pontos_totais || 0,\n    em_andamento: card.em_andamento,\n    \n    // Datas\n    data_criacao: card.data_criacao,\n    data_atualizacao: card.data_atualizacao || null,\n    data_conclusao: card.data_conclusao,\n    data_prevista: card.data_prevista,\n    \n    // Tags\n    tags: card.tags || [],\n    \n    // Projeto\n    projeto_info: card.projeto_info,\n    \n    // Auth\n    _auth: {\n      accessToken: accessToken,\n      baseUrl: baseUrl\n    }\n  };\n});\n\nconsole.log(`Cards limpos: ${cardsLimpos.length}`);\n\nif (cardsLimpos.length > 0) {\n  const exemplo = cardsLimpos.find(c => c.tempo_trabalhado_horas > 0) || cardsLimpos[0];\n  console.log(`Exemplo - Card #${exemplo.id}: tempo_decorrido=\"${exemplo.tempo_decorrido}\" → ${exemplo.tempo_trabalhado_horas.toFixed(2)}h`);\n}\n\nreturn cardsLimpos.map(card => ({ json: card }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        208
      ],
      "id": "e577f680-d747-4be5-821b-10bc737b2db4",
      "name": "extrairLimparCards"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        208
      ],
      "id": "37180a14-f052-440d-ab0c-42df2ea7e328",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json._auth.baseUrl }}/api/logalteracoeschamado/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chamado__id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json._auth.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Referer",
              "value": "/"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        224
      ],
      "id": "17b2c60c-b09c-4618-b901-4b04ec7126d5",
      "name": "buscarLogsCard",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os logs retornados da API\nconst todosLogs = $input.all().map(item => item.json);\nconst totalLogs = todosLogs.length;\nconsole.log('Total de logs recebidos: ' + totalLogs);\n\n// Pega o card COMPLETO do Loop Over Items\nconst cardCompleto = $('Loop Over Items').item.json;\nconst cardId = cardCompleto.id;\n\nconsole.log('Processando logs do card #' + cardId);\n\n// Define período de análise (últimos 200 dias)\nconst duzentosDiasAtras = new Date();\nduzentosDiasAtras.setDate(duzentosDiasAtras.getDate() - 200);\n\n// Filtra apenas mudanças de fase nos últimos 200 dias\nconst logsFiltrados = todosLogs\n  .filter(log => {\n    if (log.campo_back !== 'fase') return false;\n    const dataLog = new Date(log.data);\n    if (dataLog < duzentosDiasAtras) return false;\n    return true;\n  })\n  .map(log => ({\n    data: log.data,\n    de: log.valor_anterior || 'Criação',\n    para: log.valor_posterior,\n    usuario: log.usuario || 'Sistema',\n    frase: log.frase\n  }))\n  .sort((a, b) => new Date(a.data) - new Date(b.data));\n\nconst totalLogsFiltrados = logsFiltrados.length;\nconsole.log('Card #' + cardId + ': ' + totalLogsFiltrados + ' logs de fase relevantes');\n\n// Calcula tempo em cada fase (tempo decorrido, não trabalhado)\nfunction calcularTempoPorFase(logs) {\n  const temposPorFase = {};\n  \n  for (let i = 0; i < logs.length - 1; i++) {\n    const logAtual = logs[i];\n    const logProximo = logs[i + 1];\n    \n    const inicio = new Date(logAtual.data);\n    const fim = new Date(logProximo.data);\n    const horas = (fim - inicio) / (1000 * 60 * 60);\n    \n    if (!temposPorFase[logAtual.para]) {\n      temposPorFase[logAtual.para] = 0;\n    }\n    temposPorFase[logAtual.para] += horas;\n  }\n  \n  if (logs.length > 0) {\n    const ultimoLog = logs[logs.length - 1];\n    const inicio = new Date(ultimoLog.data);\n    const agora = new Date();\n    const horas = (agora - inicio) / (1000 * 60 * 60);\n    \n    const faseAtualDoLog = ultimoLog.para;\n    if (!temposPorFase[faseAtualDoLog]) {\n      temposPorFase[faseAtualDoLog] = 0;\n    }\n    temposPorFase[faseAtualDoLog] += horas;\n  }\n  \n  return temposPorFase;\n}\n\nconst tempoPorFase = calcularTempoPorFase(logsFiltrados);\n\n// Identifica qual fase teve maior tempo\nlet maiorTempoFase = null;\nlet maiorTempo = 0;\nfor (const [fase, horas] of Object.entries(tempoPorFase)) {\n  if (horas > maiorTempo) {\n    maiorTempo = horas;\n    maiorTempoFase = fase;\n  }\n}\n\n// Calcula dias na fase atual\nlet diasNaFaseAtual = null;\nif (logsFiltrados.length > 0) {\n  const ultimoLog = logsFiltrados[logsFiltrados.length - 1];\n  const dataUltimaMovimentacao = new Date(ultimoLog.data);\n  const agora = new Date();\n  const diffMs = agora - dataUltimaMovimentacao;\n  diasNaFaseAtual = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n  \n  console.log('Card #' + cardId + ': última movimentação em ' + ultimoLog.data + ', há ' + diasNaFaseAtual + ' dias na fase ' + ultimoLog.para);\n}\n\nconsole.log('Card #' + cardId + ' está atualmente em: ' + cardCompleto.fase_atual_nome);\nconsole.log('Card #' + cardId + ' tempo trabalhado: ' + (cardCompleto.tempo_trabalhado_horas || 0).toFixed(2) + 'h');\n\n// RETORNA O CARD COMPLETO com os dados de trajetória\nreturn [{\n  json: {\n    // Dados originais do card\n    id: cardCompleto.id,\n    chamado: cardCompleto.chamado,\n    titulo: cardCompleto.titulo,\n    descricao_limpa: cardCompleto.descricao_limpa,\n    fase_atual: cardCompleto.fase_atual,\n    fase_atual_nome: cardCompleto.fase_atual_nome,\n    responsaveis: cardCompleto.responsaveis,\n    tempo_decorrido: cardCompleto.tempo_decorrido,\n    tempo_trabalhado_horas: cardCompleto.tempo_trabalhado_horas,\n    pontos_totais: cardCompleto.pontos_totais,\n    em_andamento: cardCompleto.em_andamento,\n    data_criacao: cardCompleto.data_criacao,\n    data_atualizacao: cardCompleto.data_atualizacao,\n    data_conclusao: cardCompleto.data_conclusao,\n    data_prevista: cardCompleto.data_prevista,\n    tags: cardCompleto.tags,\n    projeto_info: cardCompleto.projeto_info,\n    \n    // Dados calculados dos logs\n    logs_fase: logsFiltrados,\n    tempo_por_fase: tempoPorFase,\n    dias_na_fase_atual: diasNaFaseAtual,\n    maior_tempo_fase: maiorTempoFase ? {\n      fase: maiorTempoFase,\n      horas: Math.round(maiorTempo)\n    } : null,\n    \n    dados_usuario: todosLogs.length > 0 ? todosLogs[0].dados_usuario : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        224
      ],
      "id": "8a46f23e-bf6b-4131-bbba-7904fabbbda9",
      "name": "processarLogsCard"
    },
    {
      "parameters": {
        "jsCode": "// Recebe output do juntarTodosCards\nconst input = $input.first().json;\nconst todosCards = input.data || [];\nconst fasesMap = input.fases_map || {};\n\nconsole.log('=== PREPARANDO DADOS PARA WF2 ===');\nconsole.log(`Total de cards: ${todosCards.length}`);\n\n// ✅ DINÂMICO: Pega info do projeto do primeiro card (todos têm a mesma)\nconst projetoInfo = todosCards.length > 0 && todosCards[0].projeto_info \n  ? todosCards[0].projeto_info \n  : {\n      id: $('configInicial').item.json.projeto_id,\n      nome: \"Projeto Sem Nome\"\n    };\n\nconsole.log(`Projeto: ${projetoInfo.nome} (ID: ${projetoInfo.id})`);\n\n// Calcula resumo\nconst resumo = {\n  total_cards: todosCards.length,\n  por_status: {\n    concluidos: todosCards.filter(c => \n      c.fase_atual_nome && c.fase_atual_nome.toLowerCase().includes('conclu')\n    ).length,\n    em_andamento: todosCards.filter(c => \n      c.fase_atual_nome && c.fase_atual_nome.toLowerCase().includes('andamento')\n    ).length,\n    pendentes: todosCards.filter(c => {\n      if (!c.fase_atual_nome) return false;\n      const fase = c.fase_atual_nome.toLowerCase();\n      return fase.includes('sprint') || fase.includes('backlog') || fase.includes('fila');\n    }).length,\n    outros: todosCards.filter(c => {\n      if (!c.fase_atual_nome) return false;\n      const fase = c.fase_atual_nome.toLowerCase();\n      return !fase.includes('conclu') && \n             !fase.includes('andamento') && \n             !fase.includes('sprint') && \n             !fase.includes('backlog') && \n             !fase.includes('fila');\n    }).length\n  },\n  por_fase: {},\n  alertas: {\n    cards_travados: todosCards.filter(c => \n      c.dias_na_fase_atual && c.dias_na_fase_atual >= 30\n    ).length,\n    cards_travados_ids: todosCards\n      .filter(c => c.dias_na_fase_atual && c.dias_na_fase_atual >= 30)\n      .map(c => c.id)\n  }\n};\n\n// Conta cards por fase\ntodosCards.forEach(card => {\n  const fase = card.fase_atual_nome || 'Sem Fase';\n  if (!resumo.por_fase[fase]) {\n    resumo.por_fase[fase] = 0;\n  }\n  resumo.por_fase[fase]++;\n});\n\nconsole.log('📊 Resumo gerado:');\nconsole.log(`   Total: ${resumo.total_cards}`);\nconsole.log(`   Concluídos: ${resumo.por_status.concluidos}`);\nconsole.log(`   Em Andamento: ${resumo.por_status.em_andamento}`);\nconsole.log(`   Pendentes: ${resumo.por_status.pendentes}`);\nconsole.log(`   Outros: ${resumo.por_status.outros}`);\nconsole.log(`   Travados: ${resumo.alertas.cards_travados}`);\n\n// Formato que o WF2 espera\nreturn [{\n  json: {\n    projeto_info: projetoInfo,  // ✅ DINÂMICO agora!\n    cards: todosCards,\n    fases: fasesMap,\n    resumo: resumo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        48
      ],
      "id": "434300f5-0a58-4306-a1f1-2a5e2ad2923c",
      "name": "prepararOutputFinal"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        48
      ],
      "id": "2dd6312f-dae3-4cea-a1b5-f498687b83f5",
      "name": "juntarComMapaFases"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "32e8a606-081d-462c-8dcf-8d70a339e5ad",
      "name": "juntarTodosCards"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// NÓ: identificarSprints\n// Posição: entre juntarTodosCards e juntarComMapaFases\n// ============================================\n\nconst input = $input.first().json;\nconst todosCards = input.cards || [];  // ✅ CORRIGIDO: era \"data\"\n\nconsole.log('=== IDENTIFICANDO SPRINTS ===');\nconsole.log(`Total de cards para analisar: ${todosCards.length}`);\n\n// Colunas que indicam que o card foi \"puxado para trabalho\"\nconst COLUNAS_TRABALHO = ['Sprint Atual', 'Em Andamento'];\n\n// Janela em dias para considerar \"mesma sprint\"\nconst JANELA_SPRINT_DIAS = 7;\n\n// ============================================\n// FUNÇÕES AUXILIARES (movidas para cima)\n// ============================================\nfunction getWeekNumber(date) {\n  const d = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate()));\n  const dayNum = d.getUTCDay() || 7;\n  d.setUTCDate(d.getUTCDate() + 4 - dayNum);\n  const yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));\n  return Math.ceil((((d - yearStart) / 86400000) + 1) / 7);\n}\n\nfunction formatDate(date) {\n  return `${String(date.getDate()).padStart(2, '0')}/${String(date.getMonth() + 1).padStart(2, '0')}`;\n}\n\n// ============================================\n// PASSO 1: Extrair data de entrada em trabalho de cada card\n// ============================================\nconst cardsComDataEntrada = todosCards.map(card => {\n  let dataEntradaTrabalho = null;\n  let colunaEntrada = null;\n  \n  // Procura o primeiro log onde entrou em coluna de trabalho\n  if (card.logs_fase && card.logs_fase.length > 0) {\n    for (const log of card.logs_fase) {\n      if (COLUNAS_TRABALHO.includes(log.para)) {\n        dataEntradaTrabalho = new Date(log.data);\n        colunaEntrada = log.para;\n        break; // Pega só a PRIMEIRA entrada\n      }\n    }\n  }\n  \n  return {\n    ...card,\n    _analise: {\n      data_entrada_trabalho: dataEntradaTrabalho,\n      coluna_entrada: colunaEntrada\n    }\n  };\n});\n\n// ============================================\n// PASSO 2: Agrupar cards por \"onda\" de entrada (sprint)\n// ============================================\n\n// Filtra cards que têm data de entrada e ordena por data\nconst cardsComData = cardsComDataEntrada\n  .filter(c => c._analise.data_entrada_trabalho !== null)\n  .sort((a, b) => a._analise.data_entrada_trabalho - b._analise.data_entrada_trabalho);\n\nconst cardsSemData = cardsComDataEntrada\n  .filter(c => c._analise.data_entrada_trabalho === null);\n\nconsole.log(`Cards com data de entrada: ${cardsComData.length}`);\nconsole.log(`Cards sem data (backlog/standby): ${cardsSemData.length}`);\n\n// Agrupa em sprints baseado na janela temporal\nconst sprints = [];\nlet sprintAtual = null;\n\nfor (const card of cardsComData) {\n  const dataEntrada = card._analise.data_entrada_trabalho;\n  \n  if (sprintAtual === null) {\n    // Primeira sprint\n    sprintAtual = {\n      inicio: dataEntrada,\n      fim: dataEntrada,\n      cards: [card.id]\n    };\n  } else {\n    // Verifica se está dentro da janela da sprint atual\n    const diffDias = (dataEntrada - sprintAtual.fim) / (1000 * 60 * 60 * 24);\n    \n    if (diffDias <= JANELA_SPRINT_DIAS) {\n      // Ainda é a mesma sprint\n      sprintAtual.fim = dataEntrada;\n      sprintAtual.cards.push(card.id);\n    } else {\n      // Nova sprint\n      sprints.push(sprintAtual);\n      sprintAtual = {\n        inicio: dataEntrada,\n        fim: dataEntrada,\n        cards: [card.id]\n      };\n    }\n  }\n}\n\n// Adiciona a última sprint\nif (sprintAtual !== null) {\n  sprints.push(sprintAtual);\n}\n\nconsole.log(`Sprints identificadas: ${sprints.length}`);\n\n// ============================================\n// PASSO 3: Nomear sprints e criar mapa de lookup\n// ============================================\nconst mapaCardSprint = {};\nconst meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', \n               'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];\n\nsprints.forEach((sprint, index) => {\n  // Gera nome da sprint baseado na data de início\n  const dataInicio = sprint.inicio;\n  const ano = dataInicio.getFullYear();\n  const semanaAno = getWeekNumber(dataInicio);\n  \n  // Nome legível: \"Sprint Out/25\"\n  const nomeMes = meses[dataInicio.getMonth()];\n  const anoAbrev = String(ano).slice(-2);\n  \n  sprint.nome = `Sprint ${nomeMes}/${anoAbrev} (#${index + 1})`;\n  sprint.codigo = `${ano}-W${String(semanaAno).padStart(2, '0')}`;\n  \n  // Mapeia cada card para sua sprint\n  sprint.cards.forEach(cardId => {\n    mapaCardSprint[cardId] = {\n      nome: sprint.nome,\n      codigo: sprint.codigo,\n      periodo: {\n        inicio: sprint.inicio.toISOString(),\n        fim: sprint.fim.toISOString()\n      },\n      total_cards_sprint: sprint.cards.length\n    };\n  });\n  \n  console.log(`${sprint.nome}: ${sprint.cards.length} cards (${formatDate(sprint.inicio)} a ${formatDate(sprint.fim)})`);\n});\n\n// ============================================\n// PASSO 4: Enriquecer cards com info da sprint\n// ============================================\nconst cardsEnriquecidos = todosCards.map(card => {\n  const infoSprint = mapaCardSprint[card.id] || null;\n  \n  return {\n    ...card,\n    sprint_identificada: infoSprint ? infoSprint.nome : null,\n    sprint_codigo: infoSprint ? infoSprint.codigo : null,\n    sprint_info: infoSprint\n  };\n});\n\n// ============================================\n// OUTPUT - Mantém estrutura original + sprints\n// ============================================\nconsole.log('=== SPRINTS IDENTIFICADAS ===');\nsprints.forEach(s => {\n  console.log(`${s.nome}: cards [${s.cards.join(', ')}]`);\n});\n\nreturn [{\n  json: {\n    projeto_info: input.projeto_info,  // ✅ Preserva\n    cards: cardsEnriquecidos,           // ✅ Cards com sprint\n    fases: input.fases,                 // ✅ Preserva\n    resumo: input.resumo,               // ✅ Preserva\n    sprints_identificadas: sprints.map(s => ({\n      nome: s.nome,\n      codigo: s.codigo,\n      periodo: {\n        inicio: s.inicio.toISOString(),\n        fim: s.fim.toISOString()\n      },\n      cards: s.cards,\n      total: s.cards.length\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        48
      ],
      "id": "80fc09d7-1945-44b4-9cdd-1c0f82b72311",
      "name": "identificarSprints"
    }
  ],
  "connections": {
    "recebeInput": {
      "main": [
        [
          {
            "node": "configInicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "configInicial": {
      "main": [
        [
          {
            "node": "fazLogin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fazLogin": {
      "main": [
        [
          {
            "node": "buscarFases",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarFases": {
      "main": [
        [
          {
            "node": "criarMapaFases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criarMapaFases": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "juntarComMapaFases",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "buscarCards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarCards": {
      "main": [
        [
          {
            "node": "extrairLimparCards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrairLimparCards": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "juntarTodosCards",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscarLogsCard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarLogsCard": {
      "main": [
        [
          {
            "node": "processarLogsCard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "processarLogsCard": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "juntarComMapaFases": {
      "main": [
        [
          {
            "node": "prepararOutputFinal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "juntarTodosCards": {
      "main": [
        [
          {
            "node": "juntarComMapaFases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepararOutputFinal": {
      "main": [
        [
          {
            "node": "identificarSprints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "72b86c59-13ae-410a-8b2d-193361e6aa0d",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-21T17:52:38.781Z",
      "createdAt": "2026-01-21T17:52:38.781Z",
      "role": "workflow:owner",
      "workflowId": "eqGAftxvIpPEYWVT",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T10:16:57.321Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}