backups/sem-tag/UNI/UNI_Workflow_Util_fetch_sess_v2__sU1foD70MP87oEMCVYACy.json
{
  "updatedAt": "2026-03-09T18:54:52.410Z",
  "createdAt": "2026-03-06T12:04:10.091Z",
  "id": "sU1foD70MP87oEMCVYACy",
  "name": "UNI_Workflow_Util_fetch_sess_v2",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "baseUrl"
            },
            {
              "name": "loginPath"
            },
            {
              "name": "csrfFieldName"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1607d9d1-5265-4454-910d-6286b9462275",
      "name": "Receive Initial Vars"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7da404e6-6a92-4de7-bbfd-a2092b61c7d2",
              "name": "baseUrl",
              "value": "={{ $('Receive Initial Vars').item.json.baseUrl }}",
              "type": "string"
            },
            {
              "id": "7acd18d1-71fd-40b2-bade-6734b658b7b6",
              "name": "loginPath",
              "value": "={{ $('Receive Initial Vars').item.json.loginPath }}",
              "type": "string"
            },
            {
              "id": "08f05bcd-64e7-447e-97e9-c9a633858c04",
              "name": "csrfFieldName",
              "value": "={{ $('Receive Initial Vars').item.json.csrfFieldName }}",
              "type": "string"
            },
            {
              "id": "2288f452-aac7-4af5-ad04-3b2e8149e885",
              "name": "csrfCookie",
              "value": "={{ $('Extract CSRF & prepare referer').item.json.csrfCookie }}",
              "type": "string"
            },
            {
              "id": "e3a86304-8837-48c3-96ee-9f01e5c2a0ec",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "8526fe5d-318e-4acb-ad50-d8cbe6483c15",
              "name": "cookieJar",
              "value": "={{ $('Login/POST').item.json.headers['set-cookie'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ],
      "id": "470323e3-5b1f-4834-a5f1-4b456655fa49",
      "name": "Return variables"
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl + $json.loginPath }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "bb03ce58-cc44-4223-a9d0-1a3389b391b7",
      "name": "Login/GET"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Receive Initial Vars').item.json.baseUrl + $('Receive Initial Vars').item.json.loginPath}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('Receive Initial Vars').item.json.baseUrl + $('Receive Initial Vars').item.json.loginPath}}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $json.csrfCookie }}"
            },
            {
              "name": "Cookie",
              "value": "={{ (() => {\n  const raw = $json.cookieJar; // pode ser array, string ou \"string de array\"\n  const list = Array.isArray(raw)\n    ? raw\n    : (typeof raw === 'string' && raw.trim().startsWith('[') ? JSON.parse(raw) : [String(raw)]);\n  const joined = list.join('; ');                 // junta múltiplos Set-Cookie, se houver\n  const m = joined.match(/(?:^|;\\s*)csrftoken=([^;]+)/i);\n  return m ? `csrftoken=${m[1]}` : '';\n})() }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{ $('Receive Initial Vars').item.json.csrfFieldName || 'csrfmiddlewaretoken' }}",
              "value": "={{ $json.csrfCookie }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "id": "768a0147-2427-4a55-92d5-8ffce1ac4001",
      "name": "Login/POST"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a485387-9217-499b-b59a-ff4df4053587",
              "name": "sessionId",
              "value": "={{ (() => {\n  const h = $json.headers || {};\n  const sc = h['set-cookie'] ?? h['Set-Cookie'];\n  const list = Array.isArray(sc) ? sc : (sc ? [sc] : []);\n  const raw = list.join('\\n');                         // vários Set-Cookie\n  const m = raw.match(/(?:^|\\n|,)\\s*sessionid=([^;,\\s]+)/i);\n  return m ? m[1] : '';                                // só o valor\n})() }}",
              "type": "string"
            },
            {
              "id": "1c2d03bf-3347-44eb-8628-76caded67195",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "a8447a19-c74d-4dc7-9a17-04923a003489",
      "name": "Extract session id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90334a0b-381f-4601-a964-c968af41ef41",
              "name": "referer",
              "value": "={{ $('Receive Initial Vars').item.json.baseUrl + $('Receive Initial Vars').item.json.loginPath }}",
              "type": "string"
            },
            {
              "id": "77abafa2-2628-4e2d-ac7f-0c62b9bf3477",
              "name": "csrfCookie",
              "value": "={{\n  (() => {\n    const raw = $json.headers?.['set-cookie'];\n    const line = (Array.isArray(raw) ? raw : [raw]).find(c => String(c).includes('csrftoken=')) || '';\n    const token = String(line).match(/csrftoken=([^;]+)/)?.[1] || '';\n    return token.trim();\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "e559b1e2-aab2-4c11-bd9a-02534485eced",
              "name": "cookieJar",
              "value": "={{ $json.headers[\"set-cookie\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "69177e92-2412-4640-aafd-70462a75ddfe",
      "name": "Extract CSRF & prepare referer"
    }
  ],
  "connections": {
    "Receive Initial Vars": {
      "main": [
        [
          {
            "node": "Login/GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login/GET": {
      "main": [
        [
          {
            "node": "Extract CSRF & prepare referer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login/POST": {
      "main": [
        [
          {
            "node": "Extract session id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract session id": {
      "main": [
        [
          {
            "node": "Return variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSRF & prepare referer": {
      "main": [
        [
          {
            "node": "Login/POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "aedff32c-4da8-47fd-93f6-25d3226f20ef",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T12:04:10.091Z",
      "createdAt": "2026-03-06T12:04:10.091Z",
      "role": "workflow:owner",
      "workflowId": "sU1foD70MP87oEMCVYACy",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}