backups/sem-tag/UNI/UNI_Schedule_Notif_benchmark_cdi_generate_v2__hwr3HMV2PV54qL0jkKAXO.json
{
  "updatedAt": "2026-03-09T18:54:52.410Z",
  "createdAt": "2026-03-06T12:00:10.641Z",
  "id": "hwr3HMV2PV54qL0jkKAXO",
  "name": "UNI_Schedule_Notif_benchmark_cdi_generate_v2",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultUrl": "/workflow/PlS62KJilKsPGxO2",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.unifinance.com.br/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "4fbe1ba8-d3cb-4101-945f-fb4ed712b33f",
      "name": "get sess"
    },
    {
      "parameters": {
        "url": "https://hub.unifinance.com.br/api/clientepf/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response.body.next==null}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        224
      ],
      "id": "0fe9cc03-2d10-48cb-b9ef-33d241396158",
      "name": "fetch clientes pf"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/uni/notifs/input/{{$('pf benchmark binary').item.binary.benchmark_cdi_pf.fileName}}.{{$('pf benchmark binary').item.binary.benchmark_cdi_pf.fileExtension}}",
        "dataPropertyName": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2016,
        224
      ],
      "id": "5fd4184b-9629-48c8-af76-317afd32c567",
      "name": "save binary in notif/input"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "benchmark_cdi_pf",
        "options": {
          "fileName": "benchmark_cdi_pf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1792,
        224
      ],
      "id": "e30fd3d8-ff8b-4b45-a88c-3bb0267ac143",
      "name": "pf benchmark binary"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        224
      ],
      "id": "bbda6568-92de-42a7-a1f9-7731370cf24d",
      "name": "pf array"
    },
    {
      "parameters": {
        "url": "=https://hub.unifinance.com.br/atendimento/informacoes_modal_cliente_pf/?cliente_pf={{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        224
      ],
      "id": "ba6a5f24-951a-4496-9b43-2e346bb563df",
      "name": "fetch informacoes_modal_cliente_pf",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "python /data/repos/uni/unifinance_notificacoes/cli_gatilhos.py benchmark_cdi_pf /data/files/uni/notifs/input/benchmark_cdi_pf.json --saida /data/files/uni/notifs/output/ -f json\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2240,
        224
      ],
      "id": "e098ff22-27b1-40eb-a7ca-67a5cffdaf09",
      "name": "roda gatilho benchmark_cdi_pf"
    },
    {
      "parameters": {
        "fieldToSplitOut": "clientes,bm_cdi, usuario_responsavel",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4c105637-69e1-4f8d-9e80-c2fbf54ff718",
      "name": "Split Campos Necessários"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c418120e-1387-4df9-8d74-75c8813e0f7d",
              "leftValue": "={{ $json.volatilidade_media_1M }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9d576b0b-d27c-48dc-b7f8-3099767b94bb",
              "leftValue": "={{ $json.volatilidade_media_3M }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "58002fff-597e-4fa1-8f64-94c5fe35b1b9",
              "leftValue": "={{ $json.taxa_performance }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "353c5d2e-bef9-4fa7-8348-07bf95f94b83",
              "leftValue": "={{ $json.rentabilidade_diaria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "bc0efede-e127-4c6d-a4c3-9494b26e314c",
              "leftValue": "={{ $json.rentabilidade_diaria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8acbbd9b-7f72-4ac7-a8fb-833232df7348",
              "leftValue": "={{ $json.rentabilidade_6_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1f56b45c-833f-4d31-91b5-a1835dd232cf",
              "leftValue": "={{ $json.rentabilidade_24_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5cd3f49c-96fc-4c9d-9808-37253b796fa6",
              "leftValue": "={{ $json.rentabilidade_36_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "717f5377-5ce4-4c7b-bed5-3a24ed192085",
              "leftValue": "={{ $json.rentabilidade_ultimo_mes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8027d9b4-c753-4f5c-8c6a-05c49991cbad",
              "leftValue": "={{ $json.rentabilidade_desde_inicio }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1120,
        224
      ],
      "id": "5761bd2e-0758-4e85-8d9d-a86342c1c2dc",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=todos",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "59d9b876-0fa4-4e4a-b17e-6e66b54d18e1",
              "leftValue": "={{ $json.rentabilidade_12_meses }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        896,
        224
      ],
      "id": "8733bdaa-fd84-47b3-966e-c71d2adc3309",
      "name": "status true/benchmark and filter"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"clientepf_id\": \"{{ $json.id }}\",\n  \"clientepf_nome\": \"{{ $json.nome }}\",\n  \"rentabilidade\": {\n    \"rentabilidade_diaria\": \"{{ $json.rentabilidade_diaria }}\",\n    \"rentabilidade_diaria_anterior\": \"{{ $json.rentabilidade_diaria_anterior }}\",\n    \"rentabilidade_6_meses\": \"{{ $json.rentabilidade_6_meses }}\",\n    \"rentabilidade_12_meses\": \"{{ $json.rentabilidade_12_meses }}\",\n    \"rentabilidade_24_meses\": \"{{ $json.rentabilidade_24_meses }}\",\n    \"rentabilidade_36_meses\": \"{{ $json.rentabilidade_36_meses }}\",\n    \"rentabilidade_ultimo_mes\": \"{{ $json.rentabilidade_ultimo_mes }}\",\n    \"rentabilidade_desde_inicio\": \"{{ $json.rentabilidade_desde_inicio }}\"\n  }\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        448
      ],
      "id": "2669c1a6-ff0c-4657-b19f-37e27d7624e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "id": "ae677cd0-10ac-4722-ae13-4b65ed534a5b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8eb64a7-fad5-4b9e-97f4-5715ced477c1",
              "name": "clientepf_id",
              "value": "={{ $json.clientes[0].id }}",
              "type": "number"
            },
            {
              "id": "2c8d2394-5eae-425f-b117-3d624669da75",
              "name": "clientepf_nome",
              "value": "={{ $json.clientes[0].nome }}",
              "type": "string"
            },
            {
              "id": "b30b787d-0498-42f1-9850-2d6646305f00",
              "name": "rentabilidade.rentabilidade_diaria",
              "value": "={{ $json.clientes[0].rentabilidade_diaria }}",
              "type": "string"
            },
            {
              "id": "ebd4fa0f-ff8f-4b3e-ad79-431538995756",
              "name": "rentabilidade.rentabilidade_diaria_anterior",
              "value": "={{ $json.clientes[0].rentabilidade_diaria_anterior }}",
              "type": "string"
            },
            {
              "id": "838085dd-35a0-4f08-af2a-a9357a2ba15d",
              "name": "rentabilidade.rentabilidade_6_meses",
              "value": "={{ $json.clientes[0].rentabilidade_6_meses }}",
              "type": "string"
            },
            {
              "id": "c587e127-b824-479d-bd26-a3a0f69f62e9",
              "name": "rentabilidade.rentabilidade_12_meses",
              "value": "={{ $json.clientes[0].rentabilidade_12_meses }}",
              "type": "string"
            },
            {
              "id": "49176f0c-490b-4968-bb10-2432e86cf11c",
              "name": "rentabilidade.rentabilidade_24_meses",
              "value": "={{ $json.clientes[0].rentabilidade_24_meses }}",
              "type": "string"
            },
            {
              "id": "e67a1f17-91a8-4c45-9d9d-33e6c1caf5ca",
              "name": "rentabilidade.rentabilidade_ultimo_mes",
              "value": "={{ $json.clientes[0].rentabilidade_ultimo_mes }}",
              "type": "string"
            },
            {
              "id": "980b7347-9423-4f01-bc47-dcf030683120",
              "name": "rentabilidade.rentabilidade_desde_inicio",
              "value": "={{ $json.clientes[0].rentabilidade_desde_inicio }}",
              "type": "string"
            },
            {
              "id": "49ca9b19-9673-4e32-ac23-74f5f442784b",
              "name": "bm_cdi",
              "value": "={{ $json.bm_cdi[0] }}",
              "type": "object"
            },
            {
              "id": "a7108dfe-f4ea-4cf5-bc5c-f5ece7b0e4c1",
              "name": "usuario_responsavel",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        224
      ],
      "id": "90058d95-123e-443e-bcef-61014beb8ff2",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "get sess": {
      "main": [
        [
          {
            "node": "fetch clientes pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch clientes pf": {
      "main": [
        [
          {
            "node": "pf array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save binary in notif/input": {
      "main": [
        [
          {
            "node": "roda gatilho benchmark_cdi_pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf benchmark binary": {
      "main": [
        [
          {
            "node": "save binary in notif/input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf array": {
      "main": [
        [
          {
            "node": "status true/benchmark and filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch informacoes_modal_cliente_pf": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "fetch informacoes_modal_cliente_pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status true/benchmark and filter": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "pf benchmark binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fdbb7cf4-fb7a-468b-99a0-00e8f5f74add",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T12:00:10.641Z",
      "createdAt": "2026-03-06T12:00:10.641Z",
      "role": "workflow:owner",
      "workflowId": "hwr3HMV2PV54qL0jkKAXO",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}