backups/prod/LOGLServicesEnvioEmailAuditoriaSemanalCRON/LOGLServicesEnvioEmailAuditoriaSemanalCRON_v11__ndsWlT6SEkRSDc22cV8kZ.json
{
  "updatedAt": "2026-03-06T20:38:58.370Z",
  "createdAt": "2026-03-04T12:20:46.670Z",
  "id": "ndsWlT6SEkRSDc22cV8kZ",
  "name": "[LOGL]Services.EnvioEmail.AuditoriaSemanal.CRON_v1.1",
  "description": "",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=http://ag-neat-service.n8n-novadata-dev.svc.cluster.local:80/api/relatorio/projeto/{{$json.projetos}}/auditoria/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        -64
      ],
      "id": "1ef42c88-af4d-4a97-afef-3320fde5ff9a",
      "name": "resumo semanal auditoria",
      "credentials": {
        "httpHeaderAuth": {
          "id": "***",
          "name": "***"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ag-neat-service.n8n-novadata-dev.svc.cluster.local/api/relatorio/projeto/487/auditoria/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('resumo semanal auditoria').item.json.ids }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        16
      ],
      "id": "84e5078a-6579-4f58-a695-147ddf21ea90",
      "name": "confirmar envio de email",
      "credentials": {
        "httpHeaderAuth": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1184,
        80
      ],
      "id": "895517fa-0d02-407a-b5ee-2a17409c9242",
      "name": "cron - sex - 20h"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b0c279c-9a51-4ad5-b789-21bf61743997",
              "name": "projetos",
              "value": "[256,487,741]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        80
      ],
      "id": "41d3c0af-d850-44a7-81e1-32cbab684daf",
      "name": "projetos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "projetos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -736,
        80
      ],
      "id": "0caccdb6-d04b-4c09-9eb4-affdd1f4e90a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        80
      ],
      "id": "d5ab0a3e-a7aa-49c5-9770-0bec6dc5f3c3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "logbit@novadata.com.br",
        "fromName": "Agente análise Logbit",
        "toEmail": "={{ $json.email_destino.join() }}",
        "subject": "={{ $json.assunto }}",
        "contentType": "text/html",
        "contentValue": "={{ $json.corpo_html }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        -64,
        -64
      ],
      "id": "a45ca156-fdbb-4d9f-ae56-77092903dfe0",
      "name": "enviar email",
      "credentials": {
        "sendGridApi": {
          "id": "***",
          "name": "***"
        }
      }
    }
  ],
  "connections": {
    "resumo semanal auditoria": {
      "main": [
        [
          {
            "node": "enviar email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cron - sex - 20h": {
      "main": [
        [
          {
            "node": "projetos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "confirmar envio de email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "projetos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "resumo semanal auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar email": {
      "main": [
        [
          {
            "node": "confirmar envio de email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7a8ce288-1ac4-43d8-b19d-fcd0f95f82b5",
  "activeVersionId": "7a8ce288-1ac4-43d8-b19d-fcd0f95f82b5",
  "versionCounter": 87,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-04T12:20:46.670Z",
      "createdAt": "2026-03-04T12:20:46.670Z",
      "role": "workflow:owner",
      "workflowId": "ndsWlT6SEkRSDc22cV8kZ",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T21:08:59.858Z",
      "createdAt": "2026-03-06T19:21:19.987Z",
      "id": "LUuzlmYMIPHf7yaf",
      "name": ">semanal"
    },
    {
      "updatedAt": "2026-03-06T19:22:05.116Z",
      "createdAt": "2026-03-06T19:22:05.116Z",
      "id": "gQKbe0pU2H1s6Rrt",
      "name": "@sendgrid"
    },
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-06T20:39:02.088Z",
    "createdAt": "2026-03-06T20:38:53.672Z",
    "versionId": "7a8ce288-1ac4-43d8-b19d-fcd0f95f82b5",
    "workflowId": "ndsWlT6SEkRSDc22cV8kZ",
    "nodes": [
      {
        "parameters": {
          "url": "=http://ag-neat-service.n8n-novadata-dev.svc.cluster.local:80/api/relatorio/projeto/{{$json.projetos}}/auditoria/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -288,
          -64
        ],
        "id": "1ef42c88-af4d-4a97-afef-3320fde5ff9a",
        "name": "resumo semanal auditoria",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4BujprILa7pLvsBC",
            "name": "Logbit_Labs_Agente_Api"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://ag-neat-service.n8n-novadata-dev.svc.cluster.local/api/relatorio/projeto/487/auditoria/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ids",
                "value": "={{ $('resumo semanal auditoria').item.json.ids }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          160,
          16
        ],
        "id": "84e5078a-6579-4f58-a695-147ddf21ea90",
        "name": "confirmar envio de email",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4BujprILa7pLvsBC",
            "name": "Logbit_Labs_Agente_Api"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  5
                ],
                "triggerAtHour": 20
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1184,
          80
        ],
        "id": "895517fa-0d02-407a-b5ee-2a17409c9242",
        "name": "cron - sex - 20h"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6b0c279c-9a51-4ad5-b789-21bf61743997",
                "name": "projetos",
                "value": "[256,487,741]",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -960,
          80
        ],
        "id": "41d3c0af-d850-44a7-81e1-32cbab684daf",
        "name": "projetos"
      },
      {
        "parameters": {
          "fieldToSplitOut": "projetos",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -736,
          80
        ],
        "id": "0caccdb6-d04b-4c09-9eb4-affdd1f4e90a",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -512,
          80
        ],
        "id": "d5ab0a3e-a7aa-49c5-9770-0bec6dc5f3c3",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "resource": "mail",
          "fromEmail": "logbit@novadata.com.br",
          "fromName": "Agente análise Logbit",
          "toEmail": "={{ $json.email_destino.join() }}",
          "subject": "={{ $json.assunto }}",
          "contentType": "text/html",
          "contentValue": "={{ $json.corpo_html }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.sendGrid",
        "typeVersion": 1,
        "position": [
          -64,
          -64
        ],
        "id": "a45ca156-fdbb-4d9f-ae56-77092903dfe0",
        "name": "enviar email",
        "credentials": {
          "sendGridApi": {
            "id": "yaHli8EQGd66hkhg",
            "name": "SendGrid account"
          }
        }
      }
    ],
    "connections": {
      "resumo semanal auditoria": {
        "main": [
          [
            {
              "node": "enviar email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cron - sex - 20h": {
        "main": [
          [
            {
              "node": "projetos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "confirmar envio de email": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "projetos": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "resumo semanal auditoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "enviar email": {
        "main": [
          [
            {
              "node": "confirmar envio de email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version 7a8ce288",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-06T20:39:02.085Z",
        "id": 72,
        "workflowId": "ndsWlT6SEkRSDc22cV8kZ",
        "versionId": "7a8ce288-1ac4-43d8-b19d-fcd0f95f82b5",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}