backups/prod/NEATAuthAutenticarNeatWF/NEATAuthAutenticarNeatWF_v10__ur7OIZKzXqKP38XqlrRY5.json
{
  "updatedAt": "2026-03-10T03:52:11.693Z",
  "createdAt": "2026-03-10T03:50:25.181Z",
  "id": "ur7OIZKzXqKP38XqlrRY5",
  "name": "[NEAT]Auth.AutenticarNeat.WF_v1.0",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.baseUrl + '/api/token/' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        384
      ],
      "id": "2eea51fc-fedb-40cd-9f71-6ca811519f33",
      "name": "fazerLoginNeat",
      "credentials": {
        "httpCustomAuth": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb165403-272d-4115-a54d-ba3555fdd225",
              "name": "accessToken",
              "value": "={{ $json.access }}",
              "type": "string"
            },
            {
              "id": "386035a8-7e29-404d-9959-c38acff219ec",
              "name": "refreshToken",
              "value": "={{ $json.refresh }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        384
      ],
      "id": "649530c0-fe28-4bef-adb8-99079a5528ec",
      "name": "extrairAccessToken"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "baseUrl"
            },
            {
              "name": "loginPath"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        384
      ],
      "id": "bf89351b-e93c-4a3d-88ae-3762c6fb696a",
      "name": "receberChamada"
    },
    {
      "parameters": {
        "content": "# AutenticarNeat\n\nProjeto: NEAT\nGatilho: WF — chamado por [NEAT]Db.ColetarDadosProjeto\nSegurança: Custom Auth (credencial no gerenciador do n8n)\nDocs: —\nDescrição: Recebe baseUrl, faz POST na API Neat (/api/token/) e retorna accessToken + refreshToken.\n\nDependências: Credencial [NEAT]Neat_Custom_Auth cadastrada no n8n.",
        "height": 340,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1f91e158-754a-470c-a70f-328448281610",
      "name": "docWorkflow"
    }
  ],
  "connections": {
    "fazerLoginNeat": {
      "main": [
        [
          {
            "node": "extrairAccessToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "receberChamada": {
      "main": [
        [
          {
            "node": "fazerLoginNeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "108e66fd-4711-495e-991e-f42caf8a0349",
  "activeVersionId": "108e66fd-4711-495e-991e-f42caf8a0349",
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-10T03:50:25.181Z",
      "createdAt": "2026-03-10T03:50:25.181Z",
      "role": "workflow:owner",
      "workflowId": "ur7OIZKzXqKP38XqlrRY5",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    },
    {
      "updatedAt": "2026-03-10T03:50:23.543Z",
      "createdAt": "2026-03-10T03:50:23.543Z",
      "id": "K8hokRHb0lDBuuNn",
      "name": "@neat-api"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-10T03:52:13.720Z",
    "createdAt": "2026-03-10T03:52:11.686Z",
    "versionId": "108e66fd-4711-495e-991e-f42caf8a0349",
    "workflowId": "ur7OIZKzXqKP38XqlrRY5",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.baseUrl + '/api/token/' }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          512,
          384
        ],
        "id": "2eea51fc-fedb-40cd-9f71-6ca811519f33",
        "name": "fazerLoginNeat",
        "credentials": {
          "httpCustomAuth": {
            "id": "GV41IHChGSGLOnB0",
            "name": "[NEAT]Neat_Custom_Auth"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cb165403-272d-4115-a54d-ba3555fdd225",
                "name": "accessToken",
                "value": "={{ $json.access }}",
                "type": "string"
              },
              {
                "id": "386035a8-7e29-404d-9959-c38acff219ec",
                "name": "refreshToken",
                "value": "={{ $json.refresh }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          384
        ],
        "id": "649530c0-fe28-4bef-adb8-99079a5528ec",
        "name": "extrairAccessToken"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "baseUrl"
              },
              {
                "name": "loginPath"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          320,
          384
        ],
        "id": "bf89351b-e93c-4a3d-88ae-3762c6fb696a",
        "name": "receberChamada"
      },
      {
        "parameters": {
          "content": "# AutenticarNeat\n\nProjeto: NEAT\nGatilho: WF — chamado por [NEAT]Db.ColetarDadosProjeto\nSegurança: Custom Auth (credencial no gerenciador do n8n)\nDocs: —\nDescrição: Recebe baseUrl, faz POST na API Neat (/api/token/) e retorna accessToken + refreshToken.\n\nDependências: Credencial [NEAT]Neat_Custom_Auth cadastrada no n8n.",
          "height": 340,
          "width": 520,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "1f91e158-754a-470c-a70f-328448281610",
        "name": "docWorkflow"
      }
    ],
    "connections": {
      "fazerLoginNeat": {
        "main": [
          [
            {
              "node": "extrairAccessToken",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "receberChamada": {
        "main": [
          [
            {
              "node": "fazerLoginNeat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version 108e66fd",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-10T03:52:13.718Z",
        "id": 105,
        "workflowId": "ur7OIZKzXqKP38XqlrRY5",
        "versionId": "108e66fd-4711-495e-991e-f42caf8a0349",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}