backups/UNI/UNI_Manual_Notif_sem_atendimento_post_v2__-yU-d_iTehq3Xn_M6V-Hz.json
{
  "updatedAt": "2026-03-09T18:54:52.410Z",
  "createdAt": "2026-03-06T11:58:14.615Z",
  "id": "-yU-d_iTehq3Xn_M6V-Hz",
  "name": "UNI_Manual_Notif_sem_atendimento_post_v2",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "sem_atendimento_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        384,
        80
      ],
      "id": "9adcc3e4-5724-4698-ba0d-fd0048505939",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f89c47f-b2fb-46f5-ab57-0123216e7c2d",
              "name": "sem_atendimento_pf",
              "value": "={{ $json.sem_atendimento_pf.itens.notificacoes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        80
      ],
      "id": "078a58f6-d08d-4c51-aa10-6327861880e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "sem_atendimento_fund",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        384,
        -112
      ],
      "id": "d8754b06-04da-445e-829f-5868ff9ceef9",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f89c47f-b2fb-46f5-ab57-0123216e7c2d",
              "name": "sem_atendimento_fund",
              "value": "={{ $json.sem_atendimento_fund.itens.notificacoes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -112
      ],
      "id": "be182605-c883-4422-8d60-e6cc98812289",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -16
      ],
      "id": "e48afc48-539c-4e58-82d4-82121076b18d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sem_atendimento_fund",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        832,
        -112
      ],
      "id": "69ae3a21-a881-4d97-9e01-d0590d88030c",
      "name": "Split Out",
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "sem_atendimento_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        832,
        80
      ],
      "id": "d83eec0b-7a43-4105-8da6-fa879365377b",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultUrl": "/workflow/PlS62KJilKsPGxO2",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub-unifinance.novadata.dev/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -64,
        -16
      ],
      "id": "a132b3c0-8278-4a3f-ac15-c7b94c0adcff",
      "name": "get sess"
    },
    {
      "parameters": {
        "fileSelector": "/data/files/uni/notifs/output/sem_atendimento_pf.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        160,
        80
      ],
      "id": "e696664b-9dd8-4be4-9a7a-0242ebc15a01",
      "name": "Read/Write Files from Disk PF"
    },
    {
      "parameters": {
        "fileSelector": "/data/files/uni/notifs/output/sem_atendimento_fund.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        160,
        -112
      ],
      "id": "ede16415-be1d-46b5-a636-530a94ef0511",
      "name": "Read/Write Files from Disk Fund"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('get sess').item.json.baseUrl }}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"titulo\": \"Fundação sem registro de atendimento recente\",\n\"descricao\": \"<p>A Fundação <strong>{{ $json.nome_alvo.toTitleCase() }}</strong>, com a política <strong>{{ $json.politica.replaceAll('_',' ').toUpperCase() }}</strong>, está há <strong>{{ $json.dias_sem_atendimento }}</strong> dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.</p>\",\n\"destinatario\": {{ $json.responsavel_id }},\n\"tipo_notificacao\": \"Fundação sem atendimento recente\",\n\"fundacao_id\": {{ $json.id_alvo }},\n\"nome_fundacao\": \"{{ $json.nome_completo_alvo }}\",\n\"sigla_fundacao\": \"{{ $json.nome_alvo }}\"\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -112
      ],
      "id": "9c36d282-559d-4620-b539-84a9c83654d6",
      "name": "test",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('get sess').item.json.baseUrl }}api/notificacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $('get sess').item.json.csrfCookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"titulo\": \"Fundação sem registro de atendimento recente\",\n\"descricao\": \"<p>A Fundação <strong>{{ $json.nome_alvo.toTitleCase() }}</strong>, com a política <strong>{{ $json.politica.replaceAll('_',' ').toUpperCase() }}</strong>, está há <strong>{{ $json.dias_sem_atendimento }}</strong> dias sem atendimento. É recomendável entrar em contato e agendar uma nova reunião conforme a política de relacionamento.</p>\",\n\"destinatario\": {{ $json.responsavel_id }},\n\"tipo_notificacao\": \"Fundação sem atendimento recente\",\n\"cliente_pf_id\": {{ $json.id_alvo }},\n\"nome_cliente_pf\": \"{{ $json.nome_alvo }}\"\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        80
      ],
      "id": "a30a47c9-3db2-4c3c-ae2b-8f60425c210d",
      "name": "test1",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk Fund",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk PF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk PF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk Fund": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "22b04726-3b1a-4ffd-b86b-2d0b32ed2568",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T11:58:14.615Z",
      "createdAt": "2026-03-06T11:58:14.615Z",
      "role": "workflow:owner",
      "workflowId": "-yU-d_iTehq3Xn_M6V-Hz",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}