backups/UNI/UNI_Schedule_Notif_sem_atendimento_generate_v3__1dEES5jlLrjZmiRWWeIEb.json
{
  "updatedAt": "2026-03-09T18:54:52.410Z",
  "createdAt": "2026-03-06T11:58:32.286Z",
  "id": "1dEES5jlLrjZmiRWWeIEb",
  "name": "UNI_Schedule_Notif_sem_atendimento_generate_v3",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas/?&user={{ $json.id }}&tem_atendimento=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfFieldName }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        192
      ],
      "id": "8aa1a0ee-b72c-4390-bd5f-8fd929405287",
      "name": "60 Fetch User Reunioes (Pf)",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edcb3f17-564d-4ce9-a7ce-f385a2f18347",
              "name": "officer_id",
              "value": "={{ $(' loop officers pf').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "1cbbc4eb-9581-48c8-a05c-4344c216f9bc",
              "name": "officer_name",
              "value": "={{ $(' loop officers pf').item.json.username }}",
              "type": "string"
            },
            {
              "id": "e9650b0c-5c6f-4950-9214-f4a58f56f17b",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $(' loop officers pf').item.json.meses_clientes_sem_reuniao }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "177142a5-8393-4140-8b11-6b51cfb72061",
      "name": "80 Build Notification Seed (Pf)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b00aef4-e19e-4914-ba13-604de94cecc1",
              "name": "count_clientes_sem_reuniao",
              "value": "={{ $json.count_clientes_sem_reuniao }}",
              "type": "number"
            },
            {
              "id": "84435b5d-1fe6-4cda-840e-de2386e57983",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $json.meses_clientes_sem_reuniao }}",
              "type": "array"
            },
            {
              "id": "eebc4f29-aa43-4e3e-83c9-ab8161fe4b4b",
              "name": "user_id",
              "value": "={{ $(' loop officers pf').item.json.id }}",
              "type": "string"
            },
            {
              "id": "49646e48-77e2-489e-bd1f-72cdff780a1c",
              "name": "username",
              "value": "={{ $(' loop officers pf').item.json.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        272
      ],
      "id": "91246d57-ed93-43cf-932d-04ed2d0173a0",
      "name": "70 Format Loop Output (Pf)"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas_sai/?&user={{$json.id}}&tem_atendimento=true&ano_inicio=2014&ano_fim=2026&mes_inicio_ano_inicial=1&mes_fim_ano_inicial=12&mes_inicio_ano_final=1&mes_fim_ano_final=12",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfFieldName }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        704
      ],
      "id": "16e5ab1d-e202-41a4-bc86-881314f92d21",
      "name": "260 Fetch User Reunioes (Fund)",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edcb3f17-564d-4ce9-a7ce-f385a2f18347",
              "name": "officer_id",
              "value": "={{ $('loop officers fund').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "1cbbc4eb-9581-48c8-a05c-4344c216f9bc",
              "name": "officer_name",
              "value": "={{ $('loop officers fund').item.json.username }}",
              "type": "string"
            },
            {
              "id": "e9650b0c-5c6f-4950-9214-f4a58f56f17b",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $('loop officers fund').item.json.meses_clientes_sem_reuniao }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        512
      ],
      "id": "0093e89b-fa84-4344-8f26-c9b704d6cb37",
      "name": "280 Build Notification Seed (Fund)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b00aef4-e19e-4914-ba13-604de94cecc1",
              "name": "count_clientes_sem_reuniao",
              "value": "={{ $json.count_clientes_sem_reuniao }}",
              "type": "number"
            },
            {
              "id": "84435b5d-1fe6-4cda-840e-de2386e57983",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $json.meses_clientes_sem_reuniao }}",
              "type": "array"
            },
            {
              "id": "eebc4f29-aa43-4e3e-83c9-ab8161fe4b4b",
              "name": "user_id",
              "value": "={{ $('loop officers fund').item.json.id }}",
              "type": "string"
            },
            {
              "id": "49646e48-77e2-489e-bd1f-72cdff780a1c",
              "name": "username",
              "value": "={{ $('loop officers fund').item.json.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        768
      ],
      "id": "e0a1f488-038d-4888-9ac0-5988969ac552",
      "name": "270 Format Loop Output (Fund)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/uni/notifs/input/{{$('writeReunioesBinary(PF)').item.binary.sem_atendimento_pf.fileName}}.{{$('writeReunioesBinary(PF)').item.binary.sem_atendimento_pf.fileExtension}}",
        "dataPropertyName": "sem_atendimento_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "e6c64997-d001-45f2-9830-3d140a9d6ac1",
      "name": "100 Write JSON File (Pf)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/uni/notifs/input/{{$('writeReunioesBinary(Fund)').item.binary.sem_atendimento_fund.fileName}}.{{$('writeReunioesBinary(Fund)').item.binary.sem_atendimento_fund.fileExtension}}",
        "dataPropertyName": "sem_atendimento_fund",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        448,
        512
      ],
      "id": "08bfc742-3b01-4e94-a9e6-3ada1d4c6307",
      "name": "300 Write JSON File (Fund)"
    },
    {
      "parameters": {
        "command": "python /data/repos/uni/unifinance_notificacoes/cli_gatilhos.py sem_atendimento_fund /data/files/uni/notifs/input/reunioes_fund.json --saida /data/files/uni/notifs/output --format json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        512
      ],
      "id": "f083d7fb-4162-4b88-8dd2-f1836a9136c7",
      "name": "310 Execute Python Trigger (Fund)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "python /data/repos/uni/unifinance_notificacoes/cli_gatilhos.py sem_atendimento_pf /data/files/uni/notifs/input/reunioes_pf.json --saida /data/files/uni/notifs/output --format json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "cb6c2136-7d0d-4c77-b6bb-7e20a5d76691",
      "name": "110 Execute Python Trigger (Pf)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "sem_atendimento_fund",
        "options": {
          "fileName": "reunioes_fund"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        224,
        512
      ],
      "id": "959d39b6-5152-4275-9721-5f8eb85e9a31",
      "name": "writeReunioesBinary(Fund)"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "sem_atendimento_pf",
        "options": {
          "fileName": "reunioes_pf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "942ff771-509f-4932-8c5a-ed04017b4529",
      "name": "writeReunioesBinary(PF)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        464
      ],
      "id": "39304373-bd4b-45b4-96c8-09d2774482a8",
      "name": "each hour"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultUrl": "/workflow/PlS62KJilKsPGxO2",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub-unifinance.novadata.dev/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -896,
        464
      ],
      "id": "14e4f7e2-d8c7-46cc-a5e1-8d2eff83bc26",
      "name": "get sess"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        192
      ],
      "id": "e7e3c53c-8b9e-470a-b18c-0b38e0b7b429",
      "name": " loop officers pf"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        704
      ],
      "id": "e442aefd-2fa4-45d8-a07e-8a784129b85d",
      "name": "loop officers fund"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}clientes/todos_usuarios_sai/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        704
      ],
      "id": "f8f9ea92-aadb-49f9-891f-a630743de51c",
      "name": "fetchUsuariosSai"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}clientes/todos_usuarios_sap/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        192
      ],
      "id": "f71bd6a7-972a-4579-8c8c-e92ea9b316d7",
      "name": "fetchUsuariosSap"
    },
    {
      "parameters": {
        "fieldToSplitOut": "todos_usuarios",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -448,
        704
      ],
      "id": "973fe7ce-bf98-43f1-aa45-c90e0f372ac6",
      "name": "separaUsuariosSai"
    },
    {
      "parameters": {
        "fieldToSplitOut": "todos_usuarios",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -448,
        192
      ],
      "id": "602bec9f-6170-4e42-91e7-80ad51c8f255",
      "name": "separaUsuariosSap"
    }
  ],
  "connections": {
    "60 Fetch User Reunioes (Pf)": {
      "main": [
        [
          {
            "node": "70 Format Loop Output (Pf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "80 Build Notification Seed (Pf)": {
      "main": [
        [
          {
            "node": "writeReunioesBinary(PF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "70 Format Loop Output (Pf)": {
      "main": [
        [
          {
            "node": " loop officers pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "260 Fetch User Reunioes (Fund)": {
      "main": [
        [
          {
            "node": "270 Format Loop Output (Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "280 Build Notification Seed (Fund)": {
      "main": [
        [
          {
            "node": "writeReunioesBinary(Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "270 Format Loop Output (Fund)": {
      "main": [
        [
          {
            "node": "loop officers fund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "100 Write JSON File (Pf)": {
      "main": [
        [
          {
            "node": "110 Execute Python Trigger (Pf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "300 Write JSON File (Fund)": {
      "main": [
        [
          {
            "node": "310 Execute Python Trigger (Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writeReunioesBinary(Fund)": {
      "main": [
        [
          {
            "node": "300 Write JSON File (Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writeReunioesBinary(PF)": {
      "main": [
        [
          {
            "node": "100 Write JSON File (Pf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "each hour": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "fetchUsuariosSap",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetchUsuariosSai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " loop officers pf": {
      "main": [
        [
          {
            "node": "80 Build Notification Seed (Pf)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "60 Fetch User Reunioes (Pf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop officers fund": {
      "main": [
        [
          {
            "node": "280 Build Notification Seed (Fund)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "260 Fetch User Reunioes (Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchUsuariosSai": {
      "main": [
        [
          {
            "node": "separaUsuariosSai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchUsuariosSap": {
      "main": [
        [
          {
            "node": "separaUsuariosSap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separaUsuariosSai": {
      "main": [
        [
          {
            "node": "loop officers fund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separaUsuariosSap": {
      "main": [
        [
          {
            "node": " loop officers pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "79895058-ef77-4b10-bbd6-aa82dac7ec01",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T11:58:32.286Z",
      "createdAt": "2026-03-06T11:58:32.286Z",
      "role": "workflow:owner",
      "workflowId": "1dEES5jlLrjZmiRWWeIEb",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}