backups/uni/unischedulenotifsematendimentogeneratev1__ClyIBE9s4IWn1Cnp.json
{
  "updatedAt": "2025-10-31T00:01:24.157Z",
  "createdAt": "2025-10-09T15:49:32.635Z",
  "id": "ClyIBE9s4IWn1Cnp",
  "name": "UNI_Schedule_Notif_sem_atendimento_generate_v1",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas/?&user={{ $json.id }}&tem_atendimento=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfFieldName }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        192
      ],
      "id": "297c19ba-c03d-4d12-93f7-dad9029f51e0",
      "name": "60 Fetch User Reunioes (Pf)",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edcb3f17-564d-4ce9-a7ce-f385a2f18347",
              "name": "officer_id",
              "value": "={{ $(' loop officers pf').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "1cbbc4eb-9581-48c8-a05c-4344c216f9bc",
              "name": "officer_name",
              "value": "={{ $(' loop officers pf').item.json.username }}",
              "type": "string"
            },
            {
              "id": "e9650b0c-5c6f-4950-9214-f4a58f56f17b",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $(' loop officers pf').item.json.meses_clientes_sem_reuniao }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "b342ecb5-ace1-4597-8077-120dd3dc553b",
      "name": "80 Build Notification Seed (Pf)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b00aef4-e19e-4914-ba13-604de94cecc1",
              "name": "count_clientes_sem_reuniao",
              "value": "={{ $json.count_clientes_sem_reuniao }}",
              "type": "number"
            },
            {
              "id": "84435b5d-1fe6-4cda-840e-de2386e57983",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $json.meses_clientes_sem_reuniao }}",
              "type": "array"
            },
            {
              "id": "eebc4f29-aa43-4e3e-83c9-ab8161fe4b4b",
              "name": "user_id",
              "value": "={{ $(' loop officers pf').item.json.id }}",
              "type": "string"
            },
            {
              "id": "49646e48-77e2-489e-bd1f-72cdff780a1c",
              "name": "username",
              "value": "={{ $(' loop officers pf').item.json.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        272
      ],
      "id": "c49e5b0c-5b10-44a3-a213-d8153a11b854",
      "name": "70 Format Loop Output (Pf)"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas_sai/?&user={{$json.id}}&tem_atendimento=true&ano_inicio=2014&ano_fim=2026&mes_inicio_ano_inicial=1&mes_fim_ano_inicial=12&mes_inicio_ano_final=1&mes_fim_ano_final=12",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfFieldName }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        704
      ],
      "id": "f6e18200-e364-4d9b-98dd-d3b02d782815",
      "name": "260 Fetch User Reunioes (Fund)",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edcb3f17-564d-4ce9-a7ce-f385a2f18347",
              "name": "officer_id",
              "value": "={{ $('loop officers fund').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "1cbbc4eb-9581-48c8-a05c-4344c216f9bc",
              "name": "officer_name",
              "value": "={{ $('loop officers fund').item.json.username }}",
              "type": "string"
            },
            {
              "id": "e9650b0c-5c6f-4950-9214-f4a58f56f17b",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $('loop officers fund').item.json.meses_clientes_sem_reuniao }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        512
      ],
      "id": "51b0221f-6aaa-4bda-aab4-d7ed29112f76",
      "name": "280 Build Notification Seed (Fund)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b00aef4-e19e-4914-ba13-604de94cecc1",
              "name": "count_clientes_sem_reuniao",
              "value": "={{ $json.count_clientes_sem_reuniao }}",
              "type": "number"
            },
            {
              "id": "84435b5d-1fe6-4cda-840e-de2386e57983",
              "name": "meses_clientes_sem_reuniao",
              "value": "={{ $json.meses_clientes_sem_reuniao }}",
              "type": "array"
            },
            {
              "id": "eebc4f29-aa43-4e3e-83c9-ab8161fe4b4b",
              "name": "user_id",
              "value": "={{ $('loop officers fund').item.json.id }}",
              "type": "string"
            },
            {
              "id": "49646e48-77e2-489e-bd1f-72cdff780a1c",
              "name": "username",
              "value": "={{ $('loop officers fund').item.json.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        768
      ],
      "id": "a00d39c9-42d9-4db4-b0c4-5b6871a75e14",
      "name": "270 Format Loop Output (Fund)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/uni/notifs/input/{{$('writeReunioesBinary(PF)').item.binary.sem_atendimento_pf.fileName}}.{{$('writeReunioesBinary(PF)').item.binary.sem_atendimento_pf.fileExtension}}",
        "dataPropertyName": "sem_atendimento_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "5ba9dc0e-f9cc-4cce-84a3-ecc7de868ca1",
      "name": "100 Write JSON File (Pf)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/uni/notifs/input/{{$('writeReunioesBinary(Fund)').item.binary.sem_atendimento_fund.fileName}}.{{$('writeReunioesBinary(Fund)').item.binary.sem_atendimento_fund.fileExtension}}",
        "dataPropertyName": "sem_atendimento_fund",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        448,
        512
      ],
      "id": "9b9706f4-d7a0-4735-8c3b-7e45d314af0e",
      "name": "300 Write JSON File (Fund)"
    },
    {
      "parameters": {
        "command": "python /data/repos/uni/unifinance_notificacoes/cli_executar_gatilho.py sem_atendimento_fund /data/files/uni/notifs/input/reunioes_fund.json --outdir /data/files/uni/notifs/output --format json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        512
      ],
      "id": "2b51ba39-8f6f-4280-9d7e-4efc32d127ac",
      "name": "310 Execute Python Trigger (Fund)"
    },
    {
      "parameters": {
        "command": "python /data/repos/uni/unifinance_notificacoes/cli_executar_gatilho.py sem_atendimento_pf /data/files/uni/notifs/input/reunioes_pf.json --outdir /data/files/uni/notifs/output --format json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "1c857e1f-283d-404a-ba85-9a38932493bb",
      "name": "110 Execute Python Trigger (Pf)"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "sem_atendimento_fund",
        "options": {
          "fileName": "reunioes_fund"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        224,
        512
      ],
      "id": "e3f196ad-3e79-42e1-ba50-d69363e159d8",
      "name": "writeReunioesBinary(Fund)"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "sem_atendimento_pf",
        "options": {
          "fileName": "reunioes_pf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "e1b4eafd-01c5-4514-98f6-e614fd68d257",
      "name": "writeReunioesBinary(PF)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1344,
        464
      ],
      "id": "4dabb4df-ec4e-4cf5-a981-3711817c610a",
      "name": "each hour"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.unifinance.com.br/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1120,
        464
      ],
      "id": "155c3e36-5469-4540-8aa7-27ba56af30ee",
      "name": "get sess"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results.todos_users",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -672,
        192
      ],
      "id": "5a4e4e45-384e-42fa-9c8d-71b9ab6e32c7",
      "name": "pf array"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results.todos_users",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -672,
        704
      ],
      "id": "eb938d92-d359-431e-8d91-82ed8af8176b",
      "name": "fund array"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
              "leftValue": "={{ $json.id.toString() }}",
              "rightValue": "=todos",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -448,
        192
      ],
      "id": "f388ae1a-9af4-4e8e-b2b7-fd64d6eb91d4",
      "name": "remove officer \"todos\" pf (bugged)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
              "leftValue": "={{ $json.id.toString() }}",
              "rightValue": "=todos",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -448,
        704
      ],
      "id": "0453ef2d-8d29-4bed-beeb-0dd212d70fa5",
      "name": "remove officer \"todos\" fund (bugged)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        192
      ],
      "id": "12495e3c-ce92-4a94-974d-6a20350e54d9",
      "name": " loop officers pf"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        704
      ],
      "id": "c599bea8-39aa-49a8-b2dd-a83c0e9135dc",
      "name": "loop officers fund"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        192
      ],
      "id": "a18ee64c-f49c-45b9-ad14-552d5835d358",
      "name": "fetch reunioes pf"
    },
    {
      "parameters": {
        "url": "={{ $('get sess').item.json.baseUrl }}atendimento/reunioes_realizadas_sai/?&mes_fim_ano_inicial=12&mes_inicio_ano_final=1&ano_inicio=2014&ano_fim=2026&mes_inicio_ano_inicial=09&mes_fim_ano_final=01",
        "sendQuery": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        704
      ],
      "id": "70894beb-353e-475c-ac24-5a13799dee18",
      "name": "fetch reunioes fund"
    }
  ],
  "connections": {
    "60 Fetch User Reunioes (Pf)": {
      "main": [
        [
          {
            "node": "70 Format Loop Output (Pf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "80 Build Notification Seed (Pf)": {
      "main": [
        [
          {
            "node": "writeReunioesBinary(PF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "70 Format Loop Output (Pf)": {
      "main": [
        [
          {
            "node": " loop officers pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "260 Fetch User Reunioes (Fund)": {
      "main": [
        [
          {
            "node": "270 Format Loop Output (Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "280 Build Notification Seed (Fund)": {
      "main": [
        [
          {
            "node": "writeReunioesBinary(Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "270 Format Loop Output (Fund)": {
      "main": [
        [
          {
            "node": "loop officers fund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "100 Write JSON File (Pf)": {
      "main": [
        [
          {
            "node": "110 Execute Python Trigger (Pf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "300 Write JSON File (Fund)": {
      "main": [
        [
          {
            "node": "310 Execute Python Trigger (Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writeReunioesBinary(Fund)": {
      "main": [
        [
          {
            "node": "300 Write JSON File (Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writeReunioesBinary(PF)": {
      "main": [
        [
          {
            "node": "100 Write JSON File (Pf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "each hour": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sess": {
      "main": [
        [
          {
            "node": "fetch reunioes fund",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch reunioes pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf array": {
      "main": [
        [
          {
            "node": "remove officer \"todos\" pf (bugged)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fund array": {
      "main": [
        [
          {
            "node": "remove officer \"todos\" fund (bugged)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove officer \"todos\" pf (bugged)": {
      "main": [
        [
          {
            "node": " loop officers pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove officer \"todos\" fund (bugged)": {
      "main": [
        [
          {
            "node": "loop officers fund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " loop officers pf": {
      "main": [
        [
          {
            "node": "80 Build Notification Seed (Pf)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "60 Fetch User Reunioes (Pf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop officers fund": {
      "main": [
        [
          {
            "node": "280 Build Notification Seed (Fund)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "260 Fetch User Reunioes (Fund)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch reunioes pf": {
      "main": [
        [
          {
            "node": "pf array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch reunioes fund": {
      "main": [
        [
          {
            "node": "fund array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b99c4076-ebbc-472f-b371-220b5f376447",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-09T15:49:32.635Z",
      "createdAt": "2025-10-09T15:49:32.635Z",
      "role": "workflow:owner",
      "workflowId": "ClyIBE9s4IWn1Cnp",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}