backups/uni/unischedulenotifbenchmarkcdigeneratev1__pTtAmOYxF1ZIndJR.json
{
  "updatedAt": "2025-11-10T11:50:41.866Z",
  "createdAt": "2025-11-05T12:36:46.211Z",
  "id": "pTtAmOYxF1ZIndJR",
  "name": "UNI_Schedule_Notif_benchmark_cdi_generate_v1",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PlS62KJilKsPGxO2",
          "mode": "list",
          "cachedResultUrl": "/workflow/PlS62KJilKsPGxO2",
          "cachedResultName": "UNI_Workflow_Util_fetch_sess_v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "baseUrl": "https://hub.unifinance.com.br/",
            "loginPath": "login/",
            "csrfFieldName": "csrftoken"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "baseUrl",
              "displayName": "baseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "loginPath",
              "displayName": "loginPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "csrfFieldName",
              "displayName": "csrfFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -560,
        160
      ],
      "id": "da8bf8f8-6c2b-48d7-a09c-784bc2b109ac",
      "name": "get sess"
    },
    {
      "parameters": {
        "url": "https://hub.unifinance.com.br/api/clientepf/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response.body.next==null}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        160
      ],
      "id": "26ec43bd-e750-4a0b-b1cd-361b1a2d4117",
      "name": "fetch clientes pf"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/uni/notifs/input/{{$('pf benchmark binary').item.binary.benchmark_cdi_pf.fileName}}.{{$('pf benchmark binary').item.binary.benchmark_cdi_pf.fileExtension}}",
        "dataPropertyName": "benchmark_cdi_pf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1040,
        160
      ],
      "id": "0e4bc225-fec2-4906-a45f-293ffeac4a88",
      "name": "save binary in notif/input"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "benchmark_cdi_pf",
        "options": {
          "fileName": "benchmark_cdi_pf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        880,
        160
      ],
      "id": "8e21ccf6-a150-43e3-8074-4fdd08be1d60",
      "name": "pf benchmark binary"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -176,
        160
      ],
      "id": "1a9f8f3a-d61e-47f5-8b72-785eb38acceb",
      "name": "pf array"
    },
    {
      "parameters": {
        "url": "=https://hub.unifinance.com.br/atendimento/informacoes_modal_cliente_pf/?cliente_pf={{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "={{ $('get sess').item.json.baseUrl }}/"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $('get sess').item.json.csrfCookie }}; sessionid={{ $('get sess').item.json.sessionId }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        160
      ],
      "id": "9f09db32-e7e9-4f4e-8485-9f4955c31296",
      "name": "fetch informacoes_modal_cliente_pf",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "python /data/repos/uni/unifinance_notificacoes/cli_gatilhos.py benchmark_cdi_pf /data/files/uni/notifs/input/benchmark_cdi_pf.json --saida /data/files/uni/notifs/output/ -f json\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        160
      ],
      "id": "20759e7c-0aed-4bf6-814e-ac75d915d585",
      "name": "roda gatilho benchmark_cdi_pf"
    },
    {
      "parameters": {
        "fieldToSplitOut": "clientes,bm_cdi, usuario_responsavel",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        544,
        160
      ],
      "id": "69c9807f-a177-445f-a888-d82ee314af13",
      "name": "Split Campos Necessários"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c418120e-1387-4df9-8d74-75c8813e0f7d",
              "leftValue": "={{ $json.volatilidade_media_1M }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9d576b0b-d27c-48dc-b7f8-3099767b94bb",
              "leftValue": "={{ $json.volatilidade_media_3M }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "58002fff-597e-4fa1-8f64-94c5fe35b1b9",
              "leftValue": "={{ $json.taxa_performance }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "353c5d2e-bef9-4fa7-8348-07bf95f94b83",
              "leftValue": "={{ $json.rentabilidade_diaria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "bc0efede-e127-4c6d-a4c3-9494b26e314c",
              "leftValue": "={{ $json.rentabilidade_diaria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8acbbd9b-7f72-4ac7-a8fb-833232df7348",
              "leftValue": "={{ $json.rentabilidade_6_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1f56b45c-833f-4d31-91b5-a1835dd232cf",
              "leftValue": "={{ $json.rentabilidade_24_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5cd3f49c-96fc-4c9d-9808-37253b796fa6",
              "leftValue": "={{ $json.rentabilidade_36_meses }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "717f5377-5ce4-4c7b-bed5-3a24ed192085",
              "leftValue": "={{ $json.rentabilidade_ultimo_mes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8027d9b4-c753-4f5c-8c6a-05c49991cbad",
              "leftValue": "={{ $json.rentabilidade_desde_inicio }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        176,
        160
      ],
      "id": "4e4c1739-8835-455e-a3f3-244f26f57db8",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "247b3e4b-df59-41e2-abda-e5d3c7ee31d8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=todos",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "59d9b876-0fa4-4e4a-b17e-6e66b54d18e1",
              "leftValue": "={{ $json.rentabilidade_12_meses }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        160
      ],
      "id": "dba3e072-b54f-40f9-8b9a-d951f77cdb13",
      "name": "status true/benchmark and filter"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"clientepf_id\": \"{{ $json.id }}\",\n  \"clientepf_nome\": \"{{ $json.nome }}\",\n  \"rentabilidade\": {\n    \"rentabilidade_diaria\": \"{{ $json.rentabilidade_diaria }}\",\n    \"rentabilidade_diaria_anterior\": \"{{ $json.rentabilidade_diaria_anterior }}\",\n    \"rentabilidade_6_meses\": \"{{ $json.rentabilidade_6_meses }}\",\n    \"rentabilidade_12_meses\": \"{{ $json.rentabilidade_12_meses }}\",\n    \"rentabilidade_24_meses\": \"{{ $json.rentabilidade_24_meses }}\",\n    \"rentabilidade_36_meses\": \"{{ $json.rentabilidade_36_meses }}\",\n    \"rentabilidade_ultimo_mes\": \"{{ $json.rentabilidade_ultimo_mes }}\",\n    \"rentabilidade_desde_inicio\": \"{{ $json.rentabilidade_desde_inicio }}\"\n  }\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        160
      ],
      "id": "9ac44c7d-7215-4a71-82ed-f8d426d77990",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        160
      ],
      "id": "7eb04a79-45a4-47e4-a914-22e882a77081",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "get sess": {
      "main": [
        [
          {
            "node": "fetch clientes pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch clientes pf": {
      "main": [
        [
          {
            "node": "pf array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save binary in notif/input": {
      "main": [
        [
          {
            "node": "roda gatilho benchmark_cdi_pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf benchmark binary": {
      "main": [
        [
          {
            "node": "save binary in notif/input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pf array": {
      "main": [
        [
          {
            "node": "status true/benchmark and filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch informacoes_modal_cliente_pf": {
      "main": [
        [
          {
            "node": "Split Campos Necessários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campos Necessários": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "fetch informacoes_modal_cliente_pf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status true/benchmark and filter": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "pf benchmark binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get sess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:each hour": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b0b386bd-edc2-4ba7-8c3d-e9d3a72ce4a1",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-05T12:36:46.211Z",
      "createdAt": "2025-11-05T12:36:46.211Z",
      "role": "workflow:owner",
      "workflowId": "pTtAmOYxF1ZIndJR",
      "projectId": "15Qt0qSDwS8AuDGZ",
      "project": {
        "updatedAt": "2025-10-09T15:01:17.148Z",
        "createdAt": "2025-10-09T14:44:12.492Z",
        "id": "15Qt0qSDwS8AuDGZ",
        "name": "Novadata Desenvolvimento <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-09T14:44:12.492Z",
            "createdAt": "2025-10-09T14:44:12.492Z",
            "userId": "15de4335-f03a-4c55-bc14-1adc361afaf4",
            "projectId": "15Qt0qSDwS8AuDGZ",
            "user": {
              "updatedAt": "2026-02-26T15:11:41.884Z",
              "createdAt": "2025-10-09T14:44:10.591Z",
              "id": "15de4335-f03a-4c55-bc14-1adc361afaf4",
              "email": "infra@novadata.com.br",
              "firstName": "Novadata",
              "lastName": "Desenvolvimento",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-09T14:55:45.395Z",
                "personalization_survey_n8n_version": "1.108.2",
                "automationGoalDevops": [
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "devops",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PlS62KJilKsPGxO2",
                "userActivatedAt": 1760025035676,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761646491793
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}