backups/prod/LOGLServicesDisparaAnaliseDiariaCRON/LOGLServicesDisparaAnaliseDiariaCRON_v1__A2aFHJ3Yz7tIFPx7_NWkb.json
{
  "updatedAt": "2026-03-09T21:29:07.074Z",
  "createdAt": "2026-02-11T17:51:42.792Z",
  "id": "A2aFHJ3Yz7tIFPx7_NWkb",
  "name": "[LOGL]Services.DisparaAnaliseDiaria.CRON_v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4oFgpwW3T5VYLBkmatmZt",
          "mode": "list",
          "cachedResultUrl": "/workflow/4oFgpwW3T5VYLBkmatmZt",
          "cachedResultName": "[LOGL]Neat.ColetaCardsPorFase.Wf.v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projeto": "={{ $json.projeto }}",
            "fase": "={{ $json.fase }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projeto",
              "displayName": "projeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ab9c89d3-7779-44ba-8b12-30849ce68762",
      "name": "chamadoPegaCards",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://ag-neat-service.n8n-novadata-dev.svc.cluster.local:80/api/analise/projeto/{{ $('forProjetoFase').item.json.projeto }}/fase/{{ $('forProjetoFase').item.json.fase }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\"Content-Type\": \"application/json\"}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        80
      ],
      "id": "7435b1ce-141a-4bc7-9689-defdcfede085",
      "name": "postDisparaAnalise",
      "credentials": {
        "httpHeaderAuth": {
          "id": "***",
          "name": "***"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const projetos = [256, 487, 741, 756];\nconst fases = [1, 3, 10, 6, 11]; \n\n\nconst resultados = [];\nfor (const projeto of projetos) {\n  for (const fase of fases) {\n    resultados.push({\n      json: {\n        projeto: projeto,\n        fase: fase\n      }\n    });\n  }\n}\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        64
      ],
      "id": "8ca36ed0-d022-4484-8402-c9b860b35beb",
      "name": "criaCombosProjetoFase"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        64
      ],
      "id": "37d527b3-77bc-469a-8016-547396a8d94c",
      "name": "forProjetoFase"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        64
      ],
      "id": "a65b5763-4835-4f6c-85a8-3560068389c4",
      "name": "diariamente"
    }
  ],
  "connections": {
    "chamadoPegaCards": {
      "main": [
        [
          {
            "node": "postDisparaAnalise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "postDisparaAnalise": {
      "main": [
        [
          {
            "node": "forProjetoFase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criaCombosProjetoFase": {
      "main": [
        [
          {
            "node": "forProjetoFase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "forProjetoFase": {
      "main": [
        [],
        [
          {
            "node": "chamadoPegaCards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diariamente": {
      "main": [
        [
          {
            "node": "criaCombosProjetoFase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "bdf188d2-7fe4-4820-a20b-20d556e95271",
  "activeVersionId": "c3acfd53-3ddc-4c34-a8b0-115d0a85ffe6",
  "versionCounter": 48,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-11T17:51:42.792Z",
      "createdAt": "2026-02-11T17:51:42.792Z",
      "role": "workflow:owner",
      "workflowId": "A2aFHJ3Yz7tIFPx7_NWkb",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-06T15:02:49.033Z",
      "createdAt": "2026-03-06T15:02:49.033Z",
      "id": "WefOyCNePUH6cMEC",
      "name": "prod"
    },
    {
      "updatedAt": "2026-03-06T21:08:50.156Z",
      "createdAt": "2026-03-06T19:19:32.378Z",
      "id": "IXscO9CpYGBePsaj",
      "name": ">diario"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-06T13:26:08.515Z",
    "createdAt": "2026-03-06T13:26:07.313Z",
    "versionId": "c3acfd53-3ddc-4c34-a8b0-115d0a85ffe6",
    "workflowId": "A2aFHJ3Yz7tIFPx7_NWkb",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "4oFgpwW3T5VYLBkmatmZt",
            "mode": "list",
            "cachedResultUrl": "/workflow/4oFgpwW3T5VYLBkmatmZt",
            "cachedResultName": "[LOGL]Neat.ColetaCardsPorFase.Wf.v1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "projeto": "={{ $json.projeto }}",
              "fase": "={{ $json.fase }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "projeto",
                "displayName": "projeto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              },
              {
                "id": "fase",
                "displayName": "fase",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "ab9c89d3-7779-44ba-8b12-30849ce68762",
        "name": "chamadoPegaCards",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://ag-neat-service.n8n-novadata-dev.svc.cluster.local:80/api/analise/projeto/{{ $('forProjetoFase').item.json.projeto }}/fase/{{ $('forProjetoFase').item.json.fase }}/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "specifyHeaders": "json",
          "jsonHeaders": "{\"Content-Type\": \"application/json\"}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          224,
          80
        ],
        "id": "7435b1ce-141a-4bc7-9689-defdcfede085",
        "name": "postDisparaAnalise",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4BujprILa7pLvsBC",
            "name": "Logbit_Labs_Agente_Api"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const projetos = [256, 487, 741, 756];\nconst fases = [1, 3, 10, 6, 11]; \n\n\nconst resultados = [];\nfor (const projeto of projetos) {\n  for (const fase of fases) {\n    resultados.push({\n      json: {\n        projeto: projeto,\n        fase: fase\n      }\n    });\n  }\n}\nreturn resultados;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -448,
          64
        ],
        "id": "8ca36ed0-d022-4484-8402-c9b860b35beb",
        "name": "criaCombosProjetoFase"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -224,
          64
        ],
        "id": "37d527b3-77bc-469a-8016-547396a8d94c",
        "name": "forProjetoFase"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -672,
          64
        ],
        "id": "a65b5763-4835-4f6c-85a8-3560068389c4",
        "name": "diariamente"
      }
    ],
    "connections": {
      "chamadoPegaCards": {
        "main": [
          [
            {
              "node": "postDisparaAnalise",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "postDisparaAnalise": {
        "main": [
          [
            {
              "node": "forProjetoFase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "criaCombosProjetoFase": {
        "main": [
          [
            {
              "node": "forProjetoFase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "forProjetoFase": {
        "main": [
          [],
          [
            {
              "node": "chamadoPegaCards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "diariamente": {
        "main": [
          [
            {
              "node": "criaCombosProjetoFase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Kubrusly",
    "name": "Version c3acfd53",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-06T13:26:08.513Z",
        "id": 56,
        "workflowId": "A2aFHJ3Yz7tIFPx7_NWkb",
        "versionId": "c3acfd53-3ddc-4c34-a8b0-115d0a85ffe6",
        "event": "activated",
        "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e"
      }
    ]
  }
}