backups/Deploy/Deploy-Automation-Test__YUgss3GrHBKlTZU5zTV4A.json
{
  "updatedAt": "2026-03-09T18:46:27.539Z",
  "createdAt": "2026-02-25T15:58:03.032Z",
  "id": "YUgss3GrHBKlTZU5zTV4A",
  "name": "Deploy Automation Test",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/TimeNovaData/base-astro/generate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.frontendRepo }}\",\n\"owner\": \"TimeNovaData\",\n\"include_all_branches\": false,\n  \"private\": true\n}",
        "options": {}
      },
      "id": "732c7a3d-0906-4194-97d0-ed5977e64388",
      "name": "Generate Frontend From Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -112,
        224
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "***",
          "name": "***"
        },
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/TimeNovaData/directus-cms/generate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"owner\": \"TimeNovaData\",\n  \"name\": \"{{ $('Generate Slug1').item.json.backendRepo }}\",\n  \"description\": \"{{ $('Generate Slug1').item.json.backendDescription }}\",\n  \"include_all_branches\": false,\n  \"private\": true\n}",
        "options": {}
      },
      "id": "91577109-383d-4483-8bf0-50a14a3b315b",
      "name": "Generate Backend From Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -112,
        432
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "***",
          "name": "***"
        },
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deploy-automation-test",
        "options": {}
      },
      "id": "1259e70b-327b-4a2a-a7fe-f7f900947752",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -608,
        336
      ],
      "webhookId": "d9852cf2-95c4-4a78-b1ab-dd28aafc7264"
    },
    {
      "parameters": {
        "functionCode": "const name = $json.projectName || $json.body?.projectName;\n\nif (!name) {\n  throw new Error(\"projectName is required\");\n}\n\nfunction slugify(text) {\n  return text\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/([a-z])([A-Z])/g, \"$1-$2\")\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/(^-|-$)/g, \"\");\n}\n\nconst slug = slugify(name);\n\nreturn [{\n  projectName: name,\n  slug,\n  backendRepo: `${slug}-backend`,\n  frontendRepo: `${slug}-frontend`,\n  backendDescription: `Backend Django API for ${name}`,\n  frontendDescription: `Frontend Vue app for ${name}`\n}];"
      },
      "id": "248b2986-f5cb-4ed0-ab9c-df38083040bd",
      "name": "Generate Slug1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -352,
        336
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "4b767dfc-da7c-4dc3-ab15-2d0d381da1a2",
      "name": "Wait 3s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        144,
        336
      ],
      "webhookId": "c9ccd4ce-e44f-4110-9223-3dc9c1fd495a"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/TimeNovaData/{{ $('Generate Slug1').item.json.frontendRepo }}/contents/.env.example?ref=develop",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "08472b62-e7f4-4885-b72a-010ab809c28a",
      "name": "Get Front .env1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        352,
        224
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "***",
          "name": "***"
        },
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Pegamos o conteúdo e sha do node que buscou o .env.example\nconst file = $node[\"Get Front .env1\"].json;\n\n// Decodifica o conteúdo base64 para string\nconst content = Buffer.from(file.content, 'base64').toString('utf8');\n\n// Faz os replaces com os dados do workflow\nlet updated = content\n  .replace(/__PROJECT_NAME__/g, $json.projectName)\n  .replace(/__PROJECT_SLUG__/g, $json.slug);\n\n// Retorna o conteúdo atualizado em base64 + sha do arquivo original\nreturn [{\n  sha: file.sha,\n  updatedContent: Buffer.from(updated).toString('base64')\n}];"
      },
      "id": "b3b8510f-8692-4fed-ba81-dd73d1a2c59a",
      "name": "Replace Front .env1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        544,
        224
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/TimeNovaData/{{ $('Generate Slug1').item.json.frontendRepo }}/contents/.env.example",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Update .env.example via n8n\",\n  \"content\": \"{{$json.updatedContent}}\",\n  \"sha\": \"{{$json.sha}}\",\n  \"branch\": \"develop\"\n}",
        "options": {}
      },
      "id": "2b833f52-7059-4476-9dd4-d79464ad3a73",
      "name": "Commit Front .env1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        752,
        224
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "***",
          "name": "***"
        },
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/TimeNovaData/{{$node[\"Generate Slug1\"].json.backendRepo}}/contents/.env",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "58879ab8-5758-4eb9-944e-65b80286ae02",
      "name": "Get Back .env1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        352,
        432
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "***",
          "name": "***"
        },
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const content = Buffer.from($json.content, 'base64').toString('utf8');\n\nlet updated = content\n  .replace(/__PROJECT_NAME__/g, $item(0).$node[\"Generate Slug\"].json.projectName)\n  .replace(/__PROJECT_SLUG__/g, $item(0).$node[\"Generate Slug\"].json.slug);\n\nreturn [{ sha: $json.sha, updatedContent: Buffer.from(updated).toString('base64') }];"
      },
      "id": "945c8213-fd1e-45c0-bf97-dd3d55f92853",
      "name": "Replace Back .env1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        544,
        432
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/D3vMatheus/{{$node[\"Generate Slug1\"].json.backendRepo}}/contents/.env",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "b19d4e43-867f-494d-b36a-799fe0823f4b",
      "name": "Commit Back .env1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        752,
        432
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "***",
          "name": "***"
        },
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.netlify.com/api/v1/sites",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Generate Frontend From Template').item.json.name }}\",\n  \"repo\": {\n    \"provider\": \"github\",\n    \"repo\": \"TimeNovaData/{{ $('Generate Slug1').item.json.frontendRepo }}\",\n    \"branch\": \"develop\",\n    \"private\": true\n  },\n  \"build_settings\": {\n    \"cmd\": \"npm run build\",\n    \"dir\": \"dist\"\n  }\n}",
        "options": {}
      },
      "id": "9f7142ff-5419-47e4-b530-4844f022d4ba",
      "name": "Create Netlify Site1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        944,
        336
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_DISCORD_WEBHOOK_URL",
        "options": {}
      },
      "id": "4b280236-d712-4c5b-b02e-02ec7950ac17",
      "name": "Send Discord Notification1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1152,
        336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deploy-automation-test",
        "options": {}
      },
      "id": "65330d9a-366b-4db5-ba4b-379a16dcf908",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        704,
        1168
      ],
      "webhookId": "387e3732-093b-4433-8441-0f4954436ce7"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "792d4360-c739-480c-9e74-df9c0f3d6e8e",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1408,
        1168
      ],
      "webhookId": "ed249e67-24cf-446f-84f2-bc357f31b717"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/TimeNovaData/{{$node[\"Generate Slug\"].json.frontendRepo}}/contents/.env.example",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "2afed512-112d-4128-bea9-4aba549f89fc",
      "name": "Get Front .env.example",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1616,
        1168
      ],
      "credentials": {
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const content = Buffer.from($json.content, 'base64').toString('utf8');\n\nlet updated = content\n  .replace(/__PROJECT_NAME__/g, $node[\"Generate Slug1\"].json.projectName)\n  .replace(/__PROJECT_SLUG__/g, $node[\"Generate Slug1\"].json.slug);\n\nreturn [{\n  sha: $json.sha,\n  updatedContent: Buffer.from(updated).toString('base64')\n}];"
      },
      "id": "0e3315f6-56af-413b-9c33-826fbce6aff4",
      "name": "Replace Front .env.example",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1808,
        1168
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/TimeNovaData/{{$node[\"Generate Slug\"].json.frontendRepo}}/contents/.env.example",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Update .env.example for project\",\n  \"content\": $json.updatedContent,\n  \"sha\": $json.sha\n}",
        "options": {}
      },
      "id": "de0ee50f-0274-40ea-8d9a-7968946b3e7c",
      "name": "Commit Front .env.example",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2016,
        1168
      ],
      "credentials": {
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const name =\n  $json.projectName ??\n  $json.body?.projectName ??\n  $input.first().json?.projectName ??\n  $input.first().json?.body?.projectName;\n\nif (!name) {\n  throw new Error(\"projectName is required\");\n}\n\nfunction slugify(text) {\n  return text\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/([a-z])([A-Z])/g, \"$1-$2\")\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/(^-|-$)/g, \"\");\n}\n\nconst slug = slugify(name);\n\nreturn [{\n  projectName: name,\n  slug,\n  frontendRepo: `${slug}-frontend`,\n  frontendDescription: `Frontend Vue app for ${name}`\n}];"
      },
      "id": "ea8521eb-2494-4b62-8ead-352478934148",
      "name": "Generate Slug",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        1168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/TimeNovaData/base-astro/generate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Accept\": \"application/vnd.github+json\",\n  \"X-GitHub-Api-Version\": \"2022-11-28\"\n}",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"owner\": \"TimeNovaData\",\n  \"name\": \"{{$json.frontendRepo}}\",\n  \"description\": \"{{$json.frontendDescription}}\",\n  \"private\": true\n}",
        "options": {}
      },
      "id": "0a57063f-7273-46b4-a576-124f20a777c8",
      "name": "Generate Frontend From Template1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1216,
        1168
      ],
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/D3vMatheus/DigimonDeckManager/generate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Accept\": \"application/vnd.github+json\",\n  \"X-GitHub-Api-Version\": \"2022-11-28\"\n}",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"owner\": \"D3vMatheus\",\n  \"name\": \"{{$json.frontendRepo}}\",\n  \"description\": \"{{$json.frontendDescription}}\",\n  \"private\": true\n}",
        "options": {}
      },
      "id": "5b436572-41f9-4ac2-a9f3-435e5208489f",
      "name": "Generate Frontend From Template2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1216,
        1392
      ],
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const name =\n  $json.projectName ??\n  $json.body?.projectName ??\n  $input.first().json?.projectName ??\n  $input.first().json?.body?.projectName;\n\nif (!name) {\n  throw new Error(\"projectName is required\");\n}\n\nfunction slugify(text) {\n  return text\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/([a-z])([A-Z])/g, \"$1-$2\")\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/(^-|-$)/g, \"\");\n}\n\nconst slug = slugify(name);\n\nreturn [{\n  projectName: name,\n  slug,\n  frontendRepo: `${slug}-frontend`,\n  frontendDescription: `Frontend Vue app for ${name}`\n}];"
      },
      "id": "a7f47763-c592-4562-a787-5440671b8b55",
      "name": "Generate Slug2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        1392
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/D3vMatheus/{{$node[\"Generate Slug2\"].json.frontendRepo}}/contents/.env.example",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Update .env.example for project\",\n  \"content\": \"{{$json.updatedContent}}\",\n  \"sha\": \"{{$json.sha}}\"\n}",
        "options": {}
      },
      "id": "d7b54016-adb0-4d38-bdcf-90ea3d1dc631",
      "name": "Commit Front .env.example1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2016,
        1392
      ],
      "credentials": {
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const content = Buffer.from($json.content, 'base64').toString('utf8');\n\nlet updated = content\n  .replace(/__PROJECT_NAME__/g, $node[\"Generate Slug2\"].json.projectName)\n  .replace(/__PROJECT_SLUG__/g, $node[\"Generate Slug2\"].json.slug);\n\nreturn [{\n  sha: $json.sha,\n  updatedContent: Buffer.from(updated).toString('base64')\n}];"
      },
      "id": "5ade365b-40f3-480e-aa32-2298ed218ae9",
      "name": "Replace Front .env.example1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1808,
        1392
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/D3vMatheus/{{$node[\"Generate Slug2\"].json.frontendRepo}}/contents/.env.example",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "1024cf28-8cfc-4d98-a9e6-01075245350a",
      "name": "Get Front .env.example1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1616,
        1392
      ],
      "credentials": {
        "githubApi": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "f5fffb64-46d9-41a5-a22b-ef8025950dee",
      "name": "Wait 3s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1408,
        1392
      ],
      "webhookId": "ed249e67-24cf-446f-84f2-bc357f31b717"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deploy-automation-test",
        "options": {}
      },
      "id": "a6423a2f-82f0-4db4-93c4-96ee15429966",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        704,
        1392
      ],
      "webhookId": "387e3732-093b-4433-8441-0f4954436ce7"
    }
  ],
  "connections": {
    "Generate Frontend From Template": {
      "main": [
        [
          {
            "node": "Generate Backend From Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Backend From Template": {
      "main": [
        [
          {
            "node": "Wait 3s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Generate Slug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slug1": {
      "main": [
        [
          {
            "node": "Generate Frontend From Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s1": {
      "main": [
        [
          {
            "node": "Get Front .env1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Front .env1": {
      "main": [
        [
          {
            "node": "Create Netlify Site1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Back .env1": {
      "main": [
        [
          {
            "node": "Create Netlify Site1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Netlify Site1": {
      "main": [
        [
          {
            "node": "Send Discord Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord Notification1": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Get Front .env.example",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Front .env.example": {
      "main": [
        [
          {
            "node": "Replace Front .env.example",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Front .env.example": {
      "main": [
        [
          {
            "node": "Commit Front .env.example",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slug": {
      "main": [
        [
          {
            "node": "Generate Frontend From Template1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Frontend From Template1": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slug2": {
      "main": [
        [
          {
            "node": "Generate Frontend From Template2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Frontend From Template2": {
      "main": [
        [
          {
            "node": "Wait 3s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Front .env.example1": {
      "main": [
        [
          {
            "node": "Commit Front .env.example1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Front .env.example1": {
      "main": [
        [
          {
            "node": "Replace Front .env.example1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s2": {
      "main": [
        [
          {
            "node": "Get Front .env.example1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Generate Slug2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Front .env1": {
      "main": [
        [
          {
            "node": "Commit Front .env1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Front .env1": {
      "main": [
        [
          {
            "node": "Replace Front .env1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e3b65588-a276-4389-aad7-bd7bb9196993",
  "activeVersionId": null,
  "versionCounter": 427,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-25T15:58:03.032Z",
      "createdAt": "2026-02-25T15:58:03.032Z",
      "role": "workflow:owner",
      "workflowId": "YUgss3GrHBKlTZU5zTV4A",
      "projectId": "aLeETedgrx3HypUV",
      "project": {
        "updatedAt": "2026-02-05T18:12:51.008Z",
        "createdAt": "2026-02-05T17:11:33.764Z",
        "id": "aLeETedgrx3HypUV",
        "name": "Miguel Kubrusly <infra@novadata.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:11:33.764Z",
            "createdAt": "2026-02-05T17:11:33.764Z",
            "userId": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
            "projectId": "aLeETedgrx3HypUV",
            "user": {
              "updatedAt": "2026-03-10T03:07:07.287Z",
              "createdAt": "2026-02-05T17:11:32.394Z",
              "id": "34f5a040-91f6-4bf0-b7f8-390e60ffa17e",
              "email": "infra@novadata.com.br",
              "firstName": "Miguel",
              "lastName": "Kubrusly",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-06T13:42:55.997Z",
                "personalization_survey_n8n_version": "2.6.0",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4oFgpwW3T5VYLBkmatmZt",
                "userActivatedAt": 1772566324555,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}